[2019-02-08 08:14] kaffeekanne commented on #1218
I expected that answer. When the 64 Bit is official a upgradepath would be appreciated. I did uninstall Thinderbird win32 and installed win64 afterwards without noticing problems. Probably Mozilla is taking care of that already.

[2019-02-11 13:54] Argonaute opened #1220 "(mkvtoolnix) Won't upgrade from release 23.0.0 to 31.0.0"
## Expected Behavior
Upgrade MKVToolnix version 23.0.0 to version 31.0.0

## Current Behavior
The package won't install with error

## Possible Solution
Uninstall the package manually from "Programs and Features"

## Steps to Reproduce (for bugs)
N/A

## Context
The transcript below :
[code]

## Your Environment

* Package Version used: MKVToolnix 31.0.0
* Operating System and version: Windows 10

[2019-02-11 18:08] AdmiringWorm commented on #1220
Most likely you have a stray lib directory for the `chocolatey` package which prevents the update.

Look in the following directory `%chocolateyInstall%\lib` and see if you have something similiar to the following directories in there:
[code]
If you have any of the last two directories, try deleting them (not the `chocolatey` directory). But do take a backup of those directories before deleting th

[2019-02-12 22:10] RedBaron2 commented on #1146
@AdmiringWorm @luzpaz @sgrogan
Just curiosity questions

- Should I enable the package to have `PP` for user directory and/or desktop shortcuts?
- Or do I just dump the Delta versions in the lib FreeCAD directory?

I would like to have this package progressing forward, but without any reply from those that use the Program this is quite a task.

[2019-02-12 22:47] luzpaz commented on #1146
@RedBaron2 sorry mate. Do you mind continuing the conversation on the forums. We're in the midst of a release so there are a lot of things going on. It would be great if we got this synchronized with all the other release efforts. Thanks!

[2019-02-13 19:08] sboulianne opened #1221 "(gitextensions) Update problem"
Hi,
Thanks for your great work but each time I want to upgrade gitextensions, the upgrade begin and my screen went black.
Explorer crash.
What is the cause ?
Is it a way to fix it ?

[2019-02-14 13:17] majkinetor opened #1222 "(pdfcreator) Not silent"
PDF creator not silent (computer in domain).
AHK script does nothing in the background.

This is the first message that pops up when installing current Gallery version (3.3.0):

![image](https://user-images.githubusercontent.com/85767/52789080-30cabf80-3063-11e9-98c0-5defe05714ca.png)

[2019-02-14 13:18] majkinetor commented on #1221
Can you provide log ?

[2019-02-14 17:13] gep13 opened #1223 "(nuget.commandline) Change to use streams"
The tools.json now contains the following:

[code]

And as a result, the 4.9.3 release was missed.  According to the NuGet Team Lead, there will continue to be releases to 4.x.x.  Does it make sense to switch this to use streams?

[2019-02-14 20:07] NicoHaase opened #1224 "(firefox) Automatic update broken - file URL has changed"
## Expected Behavior
`cup firefox` updates Firefox to v65.0.1

## Current Behavior
Package update is still in moderation

## Possible Solution
The URL has changed: according to https://download-installer.cdn.mozilla.net/pub/firefox/releases/65.0.1/win64/en-US/, the filename includes the version number now and is no longer held generic

[2019-02-14 20:15] NicoHaase commented on #1224
I'm not sure how exactly that happened, but https://gist.github.com/choco-bot/837ec070ea1277c58e491d4e4637a163 lists that the download should happen from https://download-installer.cdn.mozilla.net/pub/firefox/releases/65.0.1/win64/en-US/Firefox%20Installer.exe

[2019-02-15 20:15] mstick99 opened #1225 "(pia) new version 83"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Package Version used:
* Operating System and version:
* Chocolatey version:
* Install/uninstall gist:

[2019-02-15 23:49] wmDevCodes opened #1226 "(mpc-hc) Project Moved - New Version"
## Context
On **Media Player Classic** original page : [https://mpc-hc.org/](https://mpc-hc.org/) , it states in the "latest news" in July 2016 that the mpc project is coming to an end.

clsid2 on Github revived the mpc project and is hosting it here : [https://github.com/clsid2/mpc-hc/releases](https://github.com/clsid2/mpc-hc/releases)

## Possible Solution
- Carry on with mpc-hc updated version

[2019-02-17 01:06] AdmiringWorm commented on #1226
I'm sorry, but the project hasn't moved, but rather a fork of the current source code of mpc-hc. As such, it was considered as a new software, and have been released under a different name [mpc-hc-clsid2](https://chocolatey.org/packages/mpc-hc-clsid2)

[2019-02-17 01:06] #1226 closed

[2019-02-17 01:09] AdmiringWorm commented on #1225
Package not being provided in this repository, please contact the actual maintainers of the package.

[2019-02-17 01:09] #1225 closed

[2019-02-17 01:55] AdmiringWorm commented on #1218
I'm currently looking into adding support for 64bit.
I was wrong with my previous comment, we only partially parse the location I mentioned, so there isn't anything stopping us from adding support

[2019-02-17 01:56] AdmiringWorm commented on #1224
I'm guessing that when we initially checked for updates, they hadn't yet uploaded the correctly named installer.

I'm working on an update to the checker to not use the redirected urls, which hopefully will prevent situations like this to occur in the future.

[2019-02-17 02:06] AdmiringWorm commented on #1223
That certainly makes sense to me. I'll look into changing to streams.
I'm thinking two streams, one for the latest pre-release and 1 for the latest stable

[2019-02-17 02:20] #1224 closed

[2019-02-17 02:20] #1218 closed

[2019-02-17 02:20] #1223 closed

[2019-02-17 02:20] AdmiringWorm commented on #1223
streams have been added for the nuget.commandline package

[2019-02-17 02:20] AdmiringWorm commented on #1224
This is now fixed, and a I'm forcing a resubmit of the latest package version

[2019-02-17 02:21] AdmiringWorm commented on #1218
This have now been implemented, and a forced update is being scheduled.

I've taken the same upgrade path as the firefox package, that is.
If the 32bit edition is already installed on the computer, it will continue using 32bit, otherwise it uses 64bit on WIN64

[2019-02-17 08:46] wmDevCodes commented on #1226
@AdmiringWorm Not sure why my issue has been closed, as I was told to open an issue for further discussion. No discussion was even done.

**Media Player Classic 1.7** & **Media Player Classic 1.8** doesn't really define "new software" since it is based of exactly the same base code, as well as versioning continuing, and not starting back to version 0.1.

`choco install mpc-hc` seems like the obvio

[2019-02-17 10:08] gep13 commented on #1223
@AdmiringWorm thank you very much for getting this done!

[2019-02-17 16:40] NicoHaase commented on #1224
The updated package works, thank you!

[2019-02-19 13:36] zero77 opened #1229 "(spotify) Way Out Of Date"
The Spotify package seems to be way out of date, the current chocolatey version is 1.0.80.474.
But, the latest version out is 1.1.0.237 also, from what i can see there isn't any errors.

https://chocolatey.org/packages/spotify

![untitled](https://user-images.githubusercontent.com/16563034/53018808-38b3a680-344b-11e9-8245-a4e24c8596c1.png)

[2019-02-19 13:41] AdmiringWorm commented on #1229
http://disq.us/p/1rgi22x

[2019-02-19 13:50] zero77 commented on #1229
I have checked their and all packages listed are way out of date, including the packages marked " waiting for maintainer".

[2019-02-19 13:52] AdmiringWorm commented on #1229
@zero77 that link is a link to a specific disqus comment I made some time ago for why the spotify package is outdated and doesn't work correctly.

But let me quote it for you:

Basically, this means that unless the spotify developers start being consistent with the installer they supply, there won't be a working package and it will most likely always be outdated.

[2019-02-19 13:58] zero77 commented on #1229
I missed that, thank you.

[2019-02-19 16:52] sboulianne commented on #1221
Sorry for the delay sir.
I haven't receive your answer on my email.
I will choco upgrade gitextensions -debug this pm.

[2019-02-19 20:27] pascalberger opened #1230 "(vscode-*) Split Visual Studio Code extension packages into package for latest and specific version"
## Expected Behavior
Package for Visual Studio Code extensions should be available in two versions: One which installs the latest version of the extension and lets Visual Studio Code to the update handling, and another one which installs a specific version.

## Current Behavior
Currently the packages are installing the latest version, as this was the only possibility pre 0.30.0.

## Possible Solut

[2019-02-19 20:27] pascalberger commented on #1230
@AdmiringWorm @gep13 Opinions?

[2019-02-19 21:07] AdmiringWorm commented on #1230
IMO, I don't believe there is a need to have a package for specifically for `latest` version, IMO (and what I would do), is to only have the specific versions and put a dependency on vscode 0.30.0 (if support was added in that version).

[2019-02-19 21:31] pascalberger commented on #1230
How should we handle the extensions which are still at version 0.x while the current manual package is already at 1.0?

[2019-02-19 21:34] AdmiringWorm commented on #1230
Unfortunately, they can't be handled with specific versions until they are above version 1.0.
Unless we deprecate the package, and resubmit under a new name though. Which probably wouldn't make sense.

[2019-02-19 21:36] pascalberger commented on #1230
OK with this. I would suggest to wait with switch to specific versions until https://github.com/Microsoft/vscode/issues/63903 is fixed (targeted at February release)

[2019-02-19 21:39] AdmiringWorm commented on #1230
I'm actually considering a different option, which would allow us to start using specific versioning right away, and keeping backward compatibility with previous versions of vscode.

While it won't help the extensions we can't update yet, nor would it disable auto-update, but I still think it may be useful.

Would need to change the extension you submitted earlier though `chocolatey-vscode.extensi

[2019-02-19 21:43] pascalberger commented on #1230
@AdmiringWorm You mean by extending the `Install-VsCodeExtension` function to detect the installed version of Visual Studio Code and either install latest version or specific version?
Not sure if this makes sense or leads to more confusion for users

[2019-02-19 21:45] AdmiringWorm commented on #1230
That is actually what I was thinking of, don't really think it would lead to more confusion for users.

Most likely, most of them already have updated to a version that support specific versioning, those that haven't are most likely businesses I think.

[2019-02-19 21:46] AdmiringWorm commented on #1230
Basically it would be done silently, or just output a warning to the user and recommending them to update vscode, before installing the latest version instead

[2019-02-19 21:46] AdmiringWorm commented on #1230
As I said, I'm currently only considering it. Not committed myself to anything

[2019-02-20 17:38] AdmiringWorm opened #1232 "(gom-player) Is failing the automatic verifier"
The latest version of gom-player is currently failing the automatic verifier.
It looks like the checksum is failing, but haven't yet looked into why (could be a new version, just a silently updated installer, or something completely else).

Opening this for tracking purposes, as I've not yet made the time to look at it.
Gist: https://gist.github.com/choco-bot/a5c289c0828ee900bcdb423e04ba2dbb

[2019-02-20 19:06] lostmsu commented on #1088
The issue is still present.

[2019-02-21 10:32] pauby commented on #1230
A package has been [submitted already](https://chocolatey.org/packages/vscode-azurerepos-latest/1.0.0) for this with the `-latest` extension. I agree with @AdmiringWorm with not being keen ont he idea of that extension. From what I can see above no decision has yet been made?

[2019-02-21 10:36] mkevenaar commented on #1230
I agree with @pauby, I think a package should always install the version it was intended to. I believe it's even in the requirements for moderation: https://chocolatey.org/docs/moderation#requirements-and-guidelines

[2019-02-21 11:00] pascalberger commented on #1230
So, common opinion is:

1. Visual Studio Code Extension Package should install the exact same version of the extension as the Chocolatey package has
2. For extensions installed from Chocolatey Packages auto-update will be disabled
3. Extensions have a dependency to a Visual Studio Code version which allows to implement the above two points or fallback to install latest version of the extension and

[2019-02-21 11:15] pauby commented on #1230
Just to be clear:

So that means for [this](https://chocolatey.org/packages/vscode-azurerepos-latest/1.0.0) that version 1.0.0 of the extension would be installed?

Is this a .nuspec dependency, logic inside `chocolatey-vscode.extension` or the `chocolateyInstall.ps1` of the package?

Can you explain this one?

[2019-02-21 11:31] pascalberger commented on #1230
I just tried to summarize what peoples opinion are.

This package should not exist if I get peoples opinions correctly

What's your opinion?

As I've understand the votes people have given, then they prefer that Chocolatey packages always install the specific version (so Chocolatey package 1.2.3 installs Software version 1.2.3). Means that we install the specific Visual Studio Code extension from

[2019-02-21 13:05] AdmiringWorm commented on #1230
@pascalberger I think you summarized it quite well.

That would most likely be a summary from my previous comment regarding adding a fallback in the `chocolatey-vscode.extension`, no need to have that in the install script if I add it to the extension itself.

hmm, I had forgotten about the requirement of package version == software version. I guess that settles that then, although when looking at

[2019-02-21 20:23] pascalberger commented on #1230
I also think this is not consistent. Also there are several packages which always install latest version (beside the existing Visual Studio Code extension packages also e.g. popular ones like Google Chrome)

To clarify consent is:

1. Visual Studio Code Extension Package should install the exact same version of the extension as the Chocolatey package has
2. For extensions installed from Chocolatey

[2019-02-21 20:41] RedBaron2 commented on #1088
@lostmsu
Could you provide a gist of the chocolatey log file? This is not the normal behavior of the installer, but there might be a switch that is missing for the stable installer. -- I'm Checking on it --

[2019-02-21 20:57] lostmsu commented on #1088
@RedBaron2 This is the log, there are no apparent issues I could find: https://gist.github.com/lostmsu/16a6d66c92ac962031277e940d8adc19

As to the why question: I wanted to keep it up to date, so I have a Task Scheduler script, that tries to update it daily (only when my user is logged in), so that I would not have to manually track security fixes. It happens at the night time. It would be very in

[2019-02-22 01:34] RedBaron2 commented on #1088
@lostmsu  I've tested this, and it is not a problem of the Chocolatey package. The software is installed correctly, and completes with a error code of 0. The software detects a running chromium application and creates a new name for the newest executable by naming it `new_chrome.exe`.

There are PowerShell ways to find running processes and then relaunch a program afterwards. I can give you a few

[2019-02-22 07:54] lostmsu commented on #1088
@RedBaron2 at the very least, the issue should be forwarded to Chromium itself.

I'd also argue, that since the package is "core", it should be followed up right here. Imagine how many people would continue using vulnerable versions of Chromium, believing they are up to date, until they notice the version in About.

[2019-02-22 18:34] pauby commented on #1230
There are always exceptions to the rule but from what I understand here I don't feel this is one of the exceptions. As far as possible a package version should be the same as that for which it is installing (software, driver, extension, module etc).

[2019-02-22 18:35] pauby commented on #1230
@AdmiringWorm said:

It is. But it's a strong one. In my early days as a moderator this was pointed out to me when I missed it on a package I moderated.

[2019-03-01 18:06] jtcmedia opened #1234 "(mp3tag) Upgrade isn't silent"
## Expected Behavior

Upgrade of mp3tag hangs.

## Current Behavior

Have to click through several windows to finish the upgrade.

## Possible Solution

Looks like it might need an autohotkey script

## Steps to Reproduce (for bugs)

just do a choco upgrade

## Context

## Your Environment

* Package Version used: 2.94
* Operating System and version: Windows 10 Pro
* Chocolatey version: 0.10.11
*

[2019-03-01 20:43] jasong1978 opened #1235 "Terraform uninstall - ERROR: Cannot bind argument to parameter 'Path' because it is null."
## Expected Behavior
Terraform should uninstall

## Current Behavior
During uninstall from either commands above, it generates this error:

**2019-03-01 15:35:17,351 14960 [ERROR] - ERROR: Cannot bind argument to parameter 'Path' because it is null.**
2019-03-01 15:35:17,434 14960 [ERROR] - terraform uninstall not successful.
2019-03-01 15:35:17,452 14960 [ERROR] - Error while running 'C:\ProgramD

[2019-03-02 10:45] AdmiringWorm commented on #1235
The terraform isn't part of this repository, please contact the maintainers of that package.

[2019-03-02 10:45] #1235 closed

[2019-03-02 21:38] jack1142 commented on #1234
I just checked this package, trying to update from 2.93 to 2.94 and I didn't get any window, which would prevent upgrade from being done automatically. I may need more details to help you with this issue:
1. Do you know from which version was the chocolatey upgrading the package?
2. Do you remember what windows did you have to click through? Was it the part of uninstallation process or installatio

[2019-03-02 21:43] jack1142 commented on #1234
I want to note, that if the version of package was below Mp3tag 2.91.8-beta, then uninstallation wasn't silent, option to make silent uninstall was added in Mp3tag 2.91h (which is represented by 2.91.8-beta in chocolatey repository), so upgrade from every release before that wasn't silent.

[2019-03-03 00:35] jtcmedia commented on #1234
I have 2.94 installed and just tried `choco upgrade mp3tag --force`

And get:
`Overriding package arguments with '/DesktopShortcut=false' (replacing '/S')`

And the Setup window pops up:
[![Capture.png](https://i.postimg.cc/6Q35NxCd/Capture.png)](https://postimg.cc/75Fygcs6)

[2019-03-03 01:30] AdmiringWorm commented on #1234
@jtcmedia actually, from the last information you provided this is unrelated to anything in the package at all.

It seems that chocolatey somehow remembered an argument you may have used previously which completely overrides the package install arguments.
Maybe you've done in the past something similiar to: `choco install mp3tag --ia "/DestkpShortcut=false"`

Also, the argument you're looking for

[2019-03-03 01:30] #1234 closed

[2019-03-03 01:31] jack1142 commented on #1234
Yeah, this looks like use of install arguments instead of package parameters.

[2019-03-04 13:21] gunnsth commented on #941
Happens for me on fully updated Windows 10 instance (10.0.17763 Build 17763) with choco v0.10.11.

[2019-03-08 23:34] aleksijohansson commented on #1186
Any updates on this?

[2019-03-10 00:42] cup opened #1241 "cURL static library"
It appears that Chocolatey is using Viktor Szakats @vszakats version of cURL:

https://github.com/curl/curl-for-win

this is problematic for 2 reasons. First that repo offers no issues, so if a
problem arises not with cURL but with the build itself users have little
recourse.

Second, that build does have an issue. Viktor has not built cURL with
`-DNGHTTP2_STATICLIB`. Because of this, the static l

[2019-03-10 01:48] cup commented on #1241
https://github.com/chocolatey/chocolatey-coreteampackages/issues/1241
https://github.com/curl/curl/issues/2516
https://github.com/cygwinports/mingw64-x86_64-curl/issues/1
https://github.com/msys2/MINGW-packages/issues/3538

[2019-03-10 20:12] vszakats commented on #1241
Since the commit https://github.com/curl/curl-for-win/commit/f97095f3857d63a33192f4b2f89460e7d05339fb (2018-03-13), curl-for-win enables the `-DNGHTTP2_STATICLIB` option differently than before while also switching to using CMake to build nghttp2 (before that, it was using `win32/Makefile.gcc`, which indeed requires enabling this flag manually).

In that commit I've added a patch to nghttp2 that a

[2019-03-10 20:34] cup commented on #1241
@vszakats sorry but I dont find what youve said to be the case.

Perhaps it is because you havent specified what nghttp2 you are using. Here is
my current workflow.

1. Install nghttp2 from http://repo.msys2.org/mingw/x86_64
2. Install cURL from https://curl.haxx.se/windows
3. build

[code]

[2019-03-10 21:33] cup commented on #1241
@vszakats i think i see the problem

it looks like https://github.com/curl/curl-for-win is using OpenSSL 1.1

and Cygwin is using OpenSSL 1.0

I might need to build my own OpenSSL - thanks

[2019-03-10 21:43] cup commented on #1241
@vszakats the problem was i was using OpenSSL 1.0

i see that OpenSSL 1.1 is here

https://curl.haxx.se/windows

i will try and report back

[2019-03-10 22:11] cup commented on #1241
https://github.com/cygwinports/openssl/issues/1

[2019-03-10 22:19] cup commented on #1241
https://github.com/cygwinports/mingw64-x86_64-openssl/issues/1

[2019-03-11 01:49] cup commented on #1241
@vszakats I was able to get the static cURL library working. I am using Cygwin
and some Cygwin static libraries are either missing or old, so in addition to
cURL I needed to use Brotli, nghttp2 and OpenSSL from here:

https://curl.haxx.se/windows

here is the final command I used:

[code]

and here are my build scripts:

https://github.com/cup/glade/tree/master/curl

[2019-03-11 10:34] vszakats commented on #1241
Yes, it is expected that the (well, _all_) static lib dependencies from the download page are also required for static linking. I'm glad it worked out at the end!

[2019-03-13 14:19] demoklion opened #1242 "(dropbox) does not autostart after upgrade"
## Expected Behavior
`choco upgrade dropbox`
choco gets an upgrade package (eg. in my case v68.4.102 ➡ v69.3.90), installs it and then starts dropbox again, so it continues watching and syncing files in the background

## Current Behavior
choco gets an upgrade package, installs it and then does not start dropbox

## Possible Solution
if dropbox was running before update, add a command to autostart

[2019-03-14 09:52] jerome-benoit opened #1243 "vscode-icons installation failure"
## Expected Behavior

Flawless installation.

## Current Behavior

[code]

## Possible Solution

## Steps to Reproduce (for bugs)

1. On a fresh choco bootstrap: choco install vscode-icons -y
2.
3.
4.

## Context

## Your Environment

* Package Version used:
* Operating System and version:
* Chocolatey version:
* Install/uninstall gist:

[2019-03-14 10:32] gep13 commented on #1243
Looks like the publisher of this extension has changed. As a result, an update to the package will be required.

[2019-03-14 10:42] jerome-benoit commented on #1243
On 14/03/2019 11:32, Gary Ewan Park wrote:

The publisher seems to be now 'VSCode Icons Team' now.

Thanks.

--
Jérôme Benoit aka fraggle
Piment Noir - https://piment-noir.org
OpenPGP Key ID : 27B535D3
Key fingerprint : B799 BBF6 8EC8 911B B8D7 CDBC C3B1 92C6 27B5 35D3

[2019-03-14 11:37] gep13 commented on #1243
@jerome-benoit exactly.

So this line:

https://github.com/chocolatey/chocolatey-coreteampackages/blob/master/manual/vscode-extensions/vscode-icons/tools/chocolateyInstall.ps1#L2

Will need to be changed, and a new package version pushed.

[2019-03-14 14:04] AdmiringWorm commented on #1243
Updating that package was on my TODO list (updating to make use of `chocolatey-vscode.extension`). So I'll take care of updating with the correct publishers as well.

[2019-03-14 14:26] #1243 closed

[2019-03-14 14:27] AdmiringWorm commented on #1243
changes have been made, and a new version should be pushed to chocolatey soon.

[2019-03-14 14:32] AdmiringWorm commented on #1088
I don't think there is much that the chromium developers could do either, but that is a different story.

Pretty much the only thing we can do here is to add a check if any process with the name chromium is running, and if it do we can throw an error to stop the upgrade.

Most likely though, I don't believe this will fix anything. Most likely, the process running don't have anything with chromium

[2019-03-14 16:30] lostmsu commented on #1088
@AdmiringWorm what does Chrome do in this scenario? It looks like it shows a notification, and swaps executables upon relaunch. I can see that could be a problem when the unprivileged user does not have write access to the catalog, where chrome is installed. But I understand that could be worked around by simply launching new_chrome.exe upon chrome.exe start, if it is present.

Curiously, it seems

[2019-03-15 11:14] arunjan2019 opened #1245 "Notepadplusplus installation failed"
I used Chocolatey notepadplusplus installation in Ansible play book like below. It worked well for many days but today it throws this error. I haven't changed this code and its reference main.yml file too.

- name: Ensure notepad++ is installed using chocolatey
  win_chocolatey:
    name: notepadplusplus
    state: present

I would like to understand why this package is failed, what is the better

[2019-03-15 11:16] arunjan2019 commented on #1245
It throws the following error...
 fatal: FAILED! => {"changed": false, "module_stderr": "\r\n", "module_stdout": "", "msg": "MODULE FAILURE", "rc": 2}
    vsphere-iso:        to retry, use: --limit @/tmp/packer/playbook/build-agents.retry

[2019-03-15 14:59] AdmiringWorm commented on #1245
Could be due to the new chocolatey version.
See https://github.com/chocolatey/choco/issues/1758

Closing this as I do not believe it to be package related.

[2019-03-15 14:59] #1245 closed

[2019-03-15 15:18] arunjan2019 commented on #1245
@AdmiringWorm - Appreciate your quick update. Referring the 1758, it asks to use the following code. but in Ansible playbook how I can use this?
choco feature disable --name="'useEnhancedExitCodes'"

[2019-03-15 15:57] AdmiringWorm commented on #1245
Unfortunately, I do not have any experience with ansible so I do not know.

This is something you probably have to ask the ansible people.

[2019-03-15 22:00] RedBaron2 commented on #1242
@demoklion
I will look into this I believe a stop-process call was placed in the install inadvertently. Testing this now.

[2019-03-15 22:15] jack1142 commented on #1242
@RedBaron2 I have the branch ready to send a PR too, lol

[2019-03-15 22:32] jack1142 commented on #1242
But it's like 3 line changes, so if you want it, you can take it ¯\_(ツ)_/¯

[2019-03-15 22:34] jack1142 commented on #1242
Oh, and I wouldn't be so sure about stop-process being placed there inadvertently, I'm sure it's there to make the install fully silent, not everybody wants to see a dropbox window during installation of it.

[2019-03-15 22:40] RedBaron2 commented on #1242
@jack1142
The stop-process was placed originally to replace the need for a AHK script that was outdated for a previous installer. The newer installer for dropbox doesn't appear to need it from my testing.

[2019-03-15 22:42] jack1142 commented on #1242
@RedBaron2 yeah, but I still think that it would be nicer if the login window didn't popup after installation - chocolatey packages are supposed to be silent and that should include what happens after the installation.

[2019-03-15 23:16] RedBaron2 commented on #1242
I had forgot about that, but I am hoping that the installation window pester is due to not being signed in to start

[2019-03-16 02:59] ferventcoder commented on #1245
@jborean93 ^^ curiosity here on how to disable a feature

[2019-03-16 07:56] jborean93 commented on #1245
I've posted an example of how to continue to install Chocolatey, disable the enhanced exit code features and then install your package like normal here https://github.com/ansible/ansible/issues/53860#issuecomment-473509704.

[2019-03-16 10:53] demoklion commented on #1242
Thanks guys, I believe not killing the process after install, if it was already running before, will solve my problem.

[2019-03-16 13:42] jack1142 commented on #1242
No problem, I'm sure it's annoying, if you have configured upgrades in background (I do the same thing on system start) and you won't see that it killed Dropbox process.

[2019-03-25 14:31] andmos opened #1250 "(googlechrome) Unable to downgrade to earlier version"
We ran into an issue with the headless PDF printer in Chrome in later versions that forces us to do a downgrade. We use Ansible and `win_chocolatey` ([doc](https://docs.ansible.com/ansible/devel/modules/win_chocolatey_module.html)) to orchestrate chocolatey packages on multiple servers. When trying a downgrade, let's say to `70.0.3538.11000`, it first fails on the expected checksum. If that is ign

[2019-03-25 19:57] AdmiringWorm commented on #1250
it isn't possible to downgrade to a previous version of googlechrome unfortunately (unless you have a licensed edition of choco), due to google only providing a general url to the latest version of the program.

And since the license for googlechrome don't allow for redistribution of the program we cannot embed the package either.

Because of this, I'll be closing this issue. If the time ever come

[2019-03-25 19:57] #1250 closed

[2019-03-25 20:06] andmos commented on #1250
Thanks for the clarification!

[2019-03-25 20:06] AdmiringWorm commented on #1250
no problem

[2019-03-26 06:57] andmos commented on #1250
@AdmiringWorm how about uninstall? Doesn't seem to be supported either. Should I open separate issue for it?

[2019-03-29 09:42] 1WindowsPuppetAdmin opened #1252 "(spotify) -- Hash doesn't Match for SpotifyFullSetup.exe"
## Expected Behavior
After downloading the Full Setup executable, it should install/upgrade without erroring.

## Current Behavior
Hashes do not match and the install fails.

## Possible Solution
Update the hash in the chocolateyinstall.ps1

## Steps to Reproduce (for bugs)
1. choco upgrade spotify -y

## Context
Unable to update the package because I am unsure if the installer has been tampered w

[2019-03-29 15:57] AdmiringWorm commented on #1252
Duplicate of #1229

[2019-03-29 15:57] #1252 closed

[2019-03-30 15:11] ericoporto opened #1253 "(vcredist2008) uninstall script is wrong and observation"
Firstly, I would like to also note [this comment here](https://chocolatey.org/packages/vcredist2008#comment-3151132869)

Can the norestart flag be added? My env does appear to get an icon on shutdown telling me something needs to update the computer on reinstall, but I need this to run in a build env.

Going on to the main issue

https://chocolatey.org/packages/vcredist2008

## Expected Behavior
u

[2019-04-01 10:19] majkinetor commented on #1253
Latest choco has a feature to prevent restarts, does that help ?

[2019-04-01 10:23] majkinetor commented on #1253
Definitelly not pushed to gallery.

Sure.

[2019-04-01 10:25] majkinetor commented on #1241
Anything we need to do on package ? Better docs maybe explaining this situation @cup ?

[2019-04-01 10:29] ericoporto commented on #1253
Thank you, yes that helps. Great week for you @majkinetor :D

[2019-04-02 15:17] steveames opened #1254 "(python2) Latest (2.7.15) python2 is installing 32-bit on 64-bit systems"
Whenever I attempt to choco install python2 2.7.16 I'm getting the 32-bit version. Installing 2.7.15 results in the 64-bit version. Unsure what changed. In both cases I'm installing from puppet. This happens consistently. The OS is Windows 10 1809 64-bit.

## Expected Behavior

It is expected on a 64-bit system that it would install the 64-bit version of the package. And until this realease that w

[2019-04-02 15:52] day1player opened #1255 "Python packages (python3, python2) set PATH variable to PATH="C:\PythonX\Scripts;C:\PythonX\;%PATH%""
Installing Python packages places C:\Python* at a higher precedence than C:\Windows\System32 and other base windows binaries.
## Current/Expected Behavior

Currently the install changes the path to `PATH="C:\PythonX\Scripts;C:\PythonX\;%PATH%"` and it should change it to `PATH="%PATH%;C:\PythonX\Scripts;C:\PythonX\"`

## Possible Solution

## Steps to Reproduce (for bugs)

1. Install chocolatey
2.

[2019-04-02 18:15] AdmiringWorm commented on #1255
Unfortunately, this isn't exactly package related.

For the python3 package, the additions to PATH is done by the installer (Not the package), and would need to be reported upstream te the developers of python.

For the python2 package, we add the directories to the PATH by using a helper function provided by the choco program. This helper do not provide any option to select where in the PATH the

[2019-04-02 18:15] #1255 closed

[2019-04-02 18:23] AdmiringWorm commented on #1254
@steveames can you please run `choco --version` so we can confirm the version the is being used.

Would be helpful if you could also provide the full logs (located in `%CHOCOLATEYINSTALL%\logs\chocolatey.log`), or by running `choco install python2 -dv`.
Make sure to remove any secrets in the logs that you do not want to be made public.

[2019-04-03 11:39] stumbaumr opened #1256 "(keepass-langfiles) language files copied into the wrong directory"
## Expected Behavior
Installed https://chocolatey.org/packages/keepass-langfiles . After starting KeePass I wanted to change the language (View -> Change Language). There is a Popup complaining about the wrongly copied language files. Since the user does not have Admin rights he is not able to fix it himself.

## Current Behavior
Currently the PS script copies the language files into the main dire

[2019-04-04 11:35] JipSterk opened #1258 "(brave) wont update with exit code -2147219198"
## Expected Behavior
Brave should update to the latest version

## Current Behavior
when you enter `choco upgrade brave` in a powershell terminal with admin rights its says its downloading the latest version. then i opens a new brave window but choco spits out an error like this
[code]

## Your Environment
* Package Version used:
* Operating System and version: Version 10.0.17763 Build 17763
* Cho

[2019-04-08 02:20] wesinator opened #1260 "(wget) stopped working - libwinpthread-1.dll is missing from your computer"
## Expected Behavior
wget works out of the box after install

## Current Behavior
System Error "libwinpthread-1.dll is missing from your computer"
![image](https://user-images.githubusercontent.com/5124946/55694443-3ae1ae00-5982-11e9-84b7-b5894c1e12d3.png)

## Possible Solution
bundle `libwinpthread-1.dll`

## Steps to Reproduce (for bugs)

1. `choco install wget`
2. wget

## Context

## Your Envi

[2019-04-08 08:16] #1253 closed

[2019-04-08 08:19] #1241 closed

[2019-04-08 08:26] majkinetor commented on #1260
This is MinGW runtime lib. Possibly you should report this to authors of the wget.

Try installing mingw and finding the lib there: https://chocolatey.org/packages/mingw

Not sure if there is anything else we can do here.

[2019-04-08 09:26] derekmahar commented on #176
I solved this problem by completely removing `Cygwin`, deleting registry keys `HKLM:\SOFTWARE\Cygwin\setup` and `HKLM:\SOFTWARE\Wow6432Node\Cygwin\setup` (removing `Cygwin` should remove the former), and then reinstalling `Cygwin` and `cyg-get`.

In my case, the cause of the problem was that one of the registry keys `HKLM:\SOFTWARE\Cygwin\setup` and `HKLM:\SOFTWARE\Wow6432Node\Cygwin\setup` pointe

[2019-04-08 19:18] pascalberger opened #1261 "(sourcetree) AU update no longer working"
## Expected Behavior
The AU script should update the Sourcetree package

## Current Behavior
Current version available from https://www.sourcetreeapp.com/enterprise is 3.1.2. But Atlassian has changed its page once again. The HTML page still contains links to 3.0.17 and the links to 3.1.2 are injected through JavaScript.

## Possible Solution

## Steps to Reproduce (for bugs)
1. Run update.ps1 for

[2019-04-09 02:43] wesinator commented on #1260
reported to https://savannah.gnu.org/bugs/index.php?56105

`choco install mingw` did not fix it

[2019-04-09 06:41] rockdaboot commented on #1260
Wget is not multi-threaded and so we don't link with pthread or it's Windows variant. Of course I can't promise that for our dependencies. Those may or may not need pthreads. IMO, we can't do anything about it.

[2019-04-09 06:59] rockdaboot commented on #1260
libcrypto, libpcre2, libssl (OpenSSL) and libgnutls pull in libpthread. So if your build/package contains one of them, you need pthread / libwinpthread as dependency in your package.

[2019-04-09 14:19] steveames commented on #1254
thanks for trying. I've been mad busy the last week and haven't had a
chance to gather what you asked for. Will try to make time today.

[2019-04-09 15:47] majkinetor commented on #1260
It didn't, because it can't.  You need to put the dll from there, to some of the known places on Windows - try putting it in `wget.exe` dir or copy it to system32 folder etc.

We don't build the wget. We just download from official place (https://eternallybored.org/misc/wget) the highest version of the zip files and put it in the zip file (nupkg) along with some metadata.

@wesinator will certainl

[2019-04-09 15:52] majkinetor commented on #1260
@wesinator you could walk the dependencies and find out which one needs the lib and report here. U could use https://chocolatey.org/packages/dependencywalker

[2019-04-09 17:55] jernejs commented on #1260
libwinpthread-1.dll was a compilation problem - I rereleased the binaries next day which don't need it any more, however I still wouldn't recommend 1.20.3, because it doesn't work properly with https sites due to a change in OpenSSL (the library won't initialise without a config file).

[2019-04-09 18:08] wesinator commented on #1260
Ah, ok thanks Jernej

[2019-04-09 19:03] #1242 closed

[2019-04-09 20:19] #1260 closed

[2019-04-12 08:46] guillaume-ferry commented on #103
Hello. We still meet the problem...
The **chocoInstall.ps1** and **chocoUninstall.ps1** seems good and when we use **choco uninstall maxima**, uninstall works fine...
Why does the upgrade process keeps old versions installed?

[2019-04-12 11:56] majkinetor commented on #103
This is upstream problem, there is nothing we can do, its about maxima installer.

[2019-04-12 12:00] majkinetor commented on #103
Unless there is installer parameter that handles this, that is.

[2019-04-13 05:45] kroppt opened #1264 "(Mumble) missing Murmur server"
## Expected Behavior
Installing Mumble via choco gives access to both mumble.exe and murmur.exe

## Current Behavior
Installing Mumble via choco gives access to only mumble.exe

## Possible Solution
- Either include murmur.exe in the installation, or
- Create a separate package for Murmur

## Context
While Mumble currently satisfies what most people are looking for, it does not include the server

[2019-04-13 14:13] AdmiringWorm commented on #1264
Seems like they have included the server in the installer, but they haven't enabled it by default.

You can include the installation of the server by installing mumble with the following:
`choco install mumble --ia "ADDLOCAL=ALL"`

We should probably add a package parameter to help with this in future packages (probably not installing the server by default though)

[2019-04-13 17:20] kroppt commented on #1264
Yes, adding a flag for the package makes a lot of sense. The above worked. Thanks.

[2019-04-19 14:14] luzpaz commented on #1146
Any progress?

[2019-04-20 21:51] musm opened #1266 "(julia) package shows extraction window when installing"
https://github.com/chocolatey/chocolatey-coreteampackages/tree/master/automatic/julia

this window should be hidden

[2019-04-20 21:54] musm commented on #1266
the fix is simple first run `7z x` on the installer then run `julia-installer.exe`

[2019-04-20 21:58] musm commented on #1266
I think there's also an issue that the uninstaller does not remove it from the control panel

[2019-04-20 22:03] AdmiringWorm commented on #1266
What window? Do you have a screenshot of it (*I'm currently not in windows, so I can not check it out myself*).

That would be more appropriate if it was a portable package, if there is a window, we'll most likely need to use autohotkey to close it (after all, we still want the program to be registered as installed).

That would be an issue for the developers of Julia, and nothing to be handled in

[2019-04-20 22:05] musm commented on #1266
![image](https://user-images.githubusercontent.com/4319522/56462773-e7665b80-6396-11e9-92a6-48226e964f24.png)

This is the window that shows up

[2019-04-20 22:07] musm commented on #1266
Basically the  NSIS installer is actually  archived with 7z before shipped.

Thus we need to first run a silent 7z extraction before running the installer to suppress the window.
Or if possible run the installer in  a new process with the window hidden.

[2019-04-20 22:09] AdmiringWorm commented on #1266
Do the window close eventually and continue the installation, or does it hang there?

If it closes and the installation continues, then there isn't anything wrong.

Packages doesn't necessarily need to be silent, they need to be unattended.

[2019-04-20 22:11] musm commented on #1266
It closes  and then the installation continues.

Ok, but can we still fix the issue so that it is silent? It's pretty annoying to see this pop up. Plus the fix should be straightforward (outlined above)

[2019-04-20 22:15] AdmiringWorm commented on #1266
As long as it is unattended, then no, It will not be *fixed* as there is nothing to be fixed from the package perspective.

[2019-04-20 22:16] AdmiringWorm commented on #1266
Packages are meant to be simple wrappers around existing installers, and not include unnecessary logic (which IMO this change would be).

[2019-04-20 22:48] rjt commented on #1266
As long as the launch of GUI like window still works when there is no GUI
such as while remoted-in at the command line only using Enter-PSSession or
psexec.exe.

On Sat, Apr 20, 2019 at 5:16 PM Kim J. Nordmo <notifications@github.com>
wrote:

[2019-04-21 17:11] musm commented on #1266
Ok that makes sense and in this case there is no bug.

At the same time I do wish there was some prioritization to make the installers fully silent. It would make the user experience far more smooth.

I suppose then PRs to do so would not be accepted?

[2019-04-22 20:15] jernejs commented on #1260
I updated the binaries today, so https downloads work again.

[2019-04-22 21:00] rockdaboot commented on #1260
Thank you, Jernej !

[2019-04-23 06:15] majkinetor commented on #1266
We can accept anything that is better :)

[2019-04-23 06:16] #1266 closed

[2019-04-23 10:53] Gedankenleser opened #1267 "(mp3tag) MP3tag is outdated."
## Expected Behavior

- New Version should be available

## Current Behavior

- No new Version is there

## Possible Solution

## Steps to Reproduce (for bugs)

1. Visit respository (no new Version)
2. Visit Website (https://community.mp3tag.de/t/mp3tag-development-build-status/455)
3. New Version semms to be available
4.

## Context

## Your Environment

* Package Version used:
* Operating System

[2019-04-23 12:28] AdmiringWorm commented on #1267
Thank you for opening this issue. I will have a look at why the new version isn't picked up by our update script as soon as I can.

[2019-04-24 00:01] jack1142 commented on #1267
The issue is that the update script is depending on mp3tag's author always using exactly the same format of the status message. And this one time, author forgot to put bold on Stable status and that made the script fail.
To make it more fail-proof, we could make it remove html tags from the page content first and then use regexes on that html tag stripped text. Also, I wonder if it wouldn't be bet

[2019-04-24 02:25] jack1142 commented on #1267
Actually, I was checking for possible better ways and I think, getting raw single post (in Markdown) will be even better than what I proposed in last message, this url allows you to get just that, under "raw" key you have the same post we were getting before, but in format that will be easier to parse: https://community.mp3tag.de/posts/458.json

[2019-04-24 05:46] AdmiringWorm commented on #1267
@jack1142 Although I've assigned myself to the issue, I have't yet started working on the issue, so feel free to work on this issue if you wish.

Using that json would definitely be a better option than what we currently have.

[2019-04-24 19:10] AdmiringWorm commented on #1088
@lostmsu I could be wrong, but I believe chrome spawns a subprocess (a different program in this case) when the current version of chrome gets closed, which then replaces the current version of chrome.

[2019-04-24 19:12] AdmiringWorm commented on #1232
Closing as there is a later version of gom-player available on chocolatey.org

[2019-04-24 19:12] #1232 closed

[2019-04-24 19:13] #1256 closed

[2019-04-24 23:15] #1264 closed

[2019-04-24 23:16] AdmiringWorm commented on #1264
@kroppt this have now been implemented in the source, and will be available when the next version of mumble is released.

[2019-04-25 09:54] #1267 closed

[2019-04-25 09:55] AdmiringWorm commented on #1267
Our updater have now been fixed for this package, and a new update build is scheduled.

Thank you @jack1142 for providing the json to grab for easier parsing.

[2019-04-25 16:21] #1036 closed

[2019-04-25 16:21] #900 closed

[2019-04-25 16:36] ComFreek commented on #1131
@stale Yes, this is still relevant: The [octave](https://chocolatey.org/packages/octave) package is heavily outdated contrary to [octave.portable](https://chocolatey.org/packages/octave.portable) being up-to-date. Previous comments still apply, someone needs to adapt that package.

[2019-04-25 17:38] bcurran3 commented on #1095
Is this still an issue with v.5.56+?

I'm not really a user...

[2019-04-25 19:07] gep13 commented on #1050
@AdmiringWorm looks like the main reason that this issue was raised has been corrected by the commit that @majkinetor made.

@majkinetor was there more work that needed to be done here?

[2019-04-26 00:25] Technetium1 opened #1269 "(bleachbit / bleachbit.install) Outdated"
## Current Behavior
Installs version 2.0

## Possible Solution
Install version 2.2

## Context
The 2.2 installer [was released on March 20, 2019](https://www.bleachbit.org/news/bleachbit-22)

[2019-04-26 02:30] pjacobs commented on #828
I ended up using Apache Lounge rather than the apache-httpd package, in part due to this issue, so it is no longer relevant for me, and since there hasn't been any further discussion about it since Dec 2017, I'd say the issue can be closed.

[2019-04-26 06:59] pjljvandelaar commented on #1071
For us no longer relevant since we moved to the latest version of Wix.

[2019-04-26 07:20] iconism opened #1270 "(dropbox) Latest version Fails to Install (helper)"
Failures
- dropbox (exited -1) - Error while running 'C:\ProgramData\chocolatey\lib\drop
box\tools\chocolateyinstall.ps1'.

[2019-04-26 15:03] #1050 closed

[2019-04-29 11:11] 4nd3r5 commented on #1261
There is already a jira bug on this in the atlassian public bugtracking, but it seems like they do not update this tracker anymore.
https://jira.atlassian.com/browse/SRCTREEWIN-7045

[2019-04-30 06:10] andmos opened #1271 "(mkdocs) Package fails if older version of pip is installed"
👋 Hi,

It seems like the `mkdocs` package throws some kind of exitcode if the installed version of `pip` is outdated. `choco install mkdocs` goes fine, but at the end, it prints
[code]
This is failing the installation. Have also tried running
[code]
With same result.

## Expected Behavior
Package should not break install on non-critical message from `pip`.

## Current Behavior
[code]

## Possible

[2019-04-30 10:40] iconism commented on #1270
ERROR: The term '\helper.ps1' is not recognized as the name of a cmdlet, functio
n, script file, or operable program. Check the spelling of the name, or if a pat
h was included, verify that the path is correct and try again.
The upgrade of dropbox was NOT successful.
Error while running 'C:\ProgramData\chocolatey\lib\dropbox\tools\chocolateyinsta
ll.ps1'.

[2019-04-30 10:43] iconism commented on #1270
2019-04-30 11:28:31,861 9036 [INFO ] - VERBOSE: Importing alias 'Start-ChocolateyProcess'.
2019-04-30 11:28:31,877 9036 [DEBUG] - Running 'ChocolateyScriptRunner' for dropbox v71.4.108 with packageScript 'C:\ProgramData\chocolatey\lib\dropbox\tools\chocolateyinstall.ps1', packageFolder:'C:\ProgramData\chocolatey\lib\dropbox', installArguments: '', packageParameters: '',
2019-04-30 11:28:31,877 903

[2019-04-30 16:14] AdmiringWorm commented on #1270
I do believe I know why you're experiencing this issue, however, before I'm certain and can implement a fix I need some more information from you.

What OS are you using?
What version of powershell is installed?

[2019-04-30 23:25] AdmiringWorm commented on #1271
I'm unable to reproduce this with a standard installation of chocolatey.
So I believe that most likely you have the the feature `failOnStandardError` enabled (or possibly some other feature I can't think of right now).

By default, chocolatey only marks the installation as failed if an exit code of anything other than zero is set in this package (which don't seem to be the case in my tests), or if

[2019-04-30 23:29] AdmiringWorm commented on #1271
Most likely, the chocolatey logs (`C:\ProgramData\chocolatey\logs\chocolatey.log`) should tell you more about why the installation was considered a failure

[2019-05-01 00:59] iconism commented on #1270
Windows 7 Pro,
$PSVersionTable
Name                           Value
----                           -----
CLRVersion                     2.0.50727.8800
BuildVersion                   6.1.7601.17514
PSVersion                      2.0
WSManStackVersion              2.0
PSCompatibleVersions           {1.0, 2.0}
SerializationVersion           1.1.0.1
PSRemotingProtocolVersion      2.1

[2019-05-01 09:50] manhnt9 commented on #987
This is different from website. Which leads me to failure in adding CMake to PATH.

On Web: `choco install cmake --installargs 'ADD_CMAKE_TO_PATH=System'

Effective: `choco install cmake.install --installargs '"ADD_CMAKE_TO_PATH=User"'`

Please update the website.

[2019-05-01 10:40] AdmiringWorm commented on #987
@manhnt9 Just tested the example shown in the package, and everything works as it should.
After installing cmake, did you reload the environment variables? (either by using `refreshenv` or by closing and re-opening the command prompt)

[2019-05-01 10:42] manhnt9 commented on #987
Maybe it's because you already had the vars set. I tried uninstall CMake and reinstall several times. Choco didn't even warn me to refreshenv (and I did try that too).

The command here solved my problem.

[2019-05-01 10:45] AdmiringWorm commented on #987
I did not. Whenever I test packages, this is done in a completely bare-bones VM with next to nothing installed in it. (The VM in question is: https://github.com/chocolatey-community/chocolatey-test-environment)

[2019-05-01 10:46] manhnt9 commented on #987
Well that's interesting though. Maybe there's something wrong with my environment.

[2019-05-01 10:56] AdmiringWorm commented on #987
Well, everything is possible. You may also have had a typo, or maybe there is a difference in what command prompt was used (in my case, I tested it in powershell).

[2019-05-01 14:18] manhnt9 commented on #987
Probably there's difference between cmd and powershell.

[2019-05-02 08:11] andmos commented on #1271
Yeah looks like you are correct. From the logs:
[code]

Just to be clear, `--ignore-package-exit-codes` and `--failonstderr` have nothing to do with each other right? Might be what I missed then.

[2019-05-02 08:21] AdmiringWorm commented on #1271
That is correct. The only thing that `--ignore-package-exit-codes` do, is to instead of chocolatey returning the exit codes gotten from the package, it will instead return either `0` or `1`. That is the only thing that argument do.

[2019-05-02 11:24] iconism commented on #1270
Hi

I dropped the results of the PS and OS status into the discussion.
OS is Windwos 7 Pro
Powershell is 2.0

Terry

  _____

From: Kim J. Nordmo [mailto:notifications@github.com]
Sent: 30 April 2019 17:15
To: chocolatey-community/chocolatey-coreteampackages
Cc: iconism; Author
Subject: Re: [chocolatey-community/chocolatey-coreteampackages] (dropbox)
Latest version Fails to Install (helper) (#1270

[2019-05-02 23:30] RedBaron2 commented on #1270
Due to a Posh v3 variable. The helper script is not being found. I will submit a PR for this issue.

[2019-05-02 23:49] RedBaron2 commented on #1146
@luzpaz
I don't use the program, and don't want to just dump the dev release in ontop of the current stable.

- I'm just wanting to know where the user wants to drop the dev versions?
- I also want to know if they want a new shortcut on the desktop?

These are questions I've asked here and on the FreeCAD forums with no real answer.

The update script grabs the stream fine, but the install part is

[2019-05-03 05:41] #1271 closed

[2019-05-03 12:16] luzpaz commented on #1146
Can you ask the user if they want a shortcut ?
Where are other chocolatey dev version packages 'dumping' their installs ?
Sorry for the lack of response, lets see what I can stir up.

[2019-05-03 12:32] AdmiringWorm commented on #1146
@luzpaz that usually depends on the software. But most packages don't handle a dev version any different than a stable release (other than releasing it as a pre-release that is).

So it would be more a question of what will be expected by the user, rather than what other dev version packages dump the installation.

So let us rephrase the question a little, when a user is going to launch the progra

[2019-05-03 17:47] RedBaron2 commented on #1146
@AdmiringWorm @luzpaz
The stable release uses a installer program, and this will follow certain rules. The dev releases come as a standalone version of the application inside a 7zip file. The conundrum comes from a person can have both the dev & stable releases on their system at the same time. I have read on the FreeCAD forums that it is even encouraged by some.

The options are to
- [ ] Extract

[2019-05-03 18:08] AdmiringWorm commented on #1270
THis have been fixed now thanks to @RedBaron2.
We've forced a new fix version of dropbox, which should show up on chocolatey.org in a few hours.

[2019-05-03 18:08] #1270 closed

[2019-05-03 18:15] AdmiringWorm commented on #1146
The third item won't be accepted on the community repository.
While there are some packages that can only be installed through user input, these need to come in the form of package parameters, and is only accepted if it is truly necessary by the underlying software (which in these case it is not).

Agree with the other points though.

[2019-05-03 21:22] luzpaz commented on #1146
@RedBaron2 Very nicely summarized.
Options that I resonate with in the order of preference: 4, 2, 1

[2019-05-04 00:28] AdmiringWorm commented on #1261
@pascalberger @4nd3r5 is there any kind of API that we can use to make this easier?
Assuming the program auto-updates (or auto-checks), can we piggyback on the same api?

[2019-05-04 00:31] AdmiringWorm commented on #828
It is still an issue though, and although I personally don't know how to fix this, this would be a good thing to get done.

Otherwise, we would probably eventually be forced to open up this package to new maintainers that are able to implement the package the *right* way.

[2019-05-04 00:37] AdmiringWorm commented on #1071
When this issue was opened, it was not possible for us to implement support for this.
However, now there the possibility exist, but there is a need to change the package to use 'streams' to be able to do this.

Personally, I have no incentive to make this happen, but if there is anyone out there that wish to look into this, then feel free to do so.

We are *almost* always available in our gitter c

[2019-05-04 00:39] AdmiringWorm commented on #1269
There is a open PR to fix this: #1249
Unfortunately, due to the amount of changes in the PR, I have not yet had the time to review it :cry:

[2019-05-04 00:41] AdmiringWorm commented on #1095
@bcurran3 In that case, I will be closing this issue. If the issue is still relevant, feel free to re-open it.

[2019-05-04 00:42] AdmiringWorm commented on #1051
Still relevant I believe, but we need someone familiar with autohotkey to make this happen (IE, not me)

[2019-05-04 00:47] AdmiringWorm commented on #1084
It is not relevant, since the package was rejected soon after submission.

@p3lim I will be removing the package from this repo in a few days, as there is no need for a package in this repository that isn't available on the community repo.

[2019-05-04 00:47] #1084 closed

[2019-05-04 01:06] AdmiringWorm commented on #1088
I believe that unless someone magically happens to come over a solution to this (unlikely), this issue will never be fixed.

As such, I will be closing this issue, If you disagree, or if someone wants to look into this, then feel free to comment and we can re-open this issue.

[2019-05-04 01:06] #1088 closed

[2019-05-04 01:08] AdmiringWorm commented on #1254
@steveames just trying to follow up if there have been any progress on gathering what we need for this issue?

[2019-05-04 01:13] AdmiringWorm commented on #1131
It is unfortunately not relevant, as the octave package is not part of this repository (I understand the want to have it updated together with the portable edition), please follow the [triage process](https://chocolatey.org/docs/package-triage-process#the-triage-process). After that process is done, then we can get this added to the repository.

[2019-05-04 01:13] #1131 closed

[2019-05-04 01:15] AdmiringWorm commented on #1186
@aleksijohansson unfortunately not, we have not been able to pinpoint the issue we have with the new installer.

[2019-05-04 01:16] AdmiringWorm commented on #941
@majkinetor do you know how to detect if it was installed from the store app?

[2019-05-04 01:23] AdmiringWorm opened #1273 "[Discussion] (spotify) Should we remove the checksums from the package?"
I am opening this as a discussion.
For quite a long time now the spotify package have been failing with a checksum error, even right after a new version have been pushed.

This happens because the installer grabbed from the website is quite often not the same version as we got during update. (It randomly changes on almost each request).

While the optimal solution would be to be granted the abilit

[2019-05-04 01:28] fsouza commented on #1186
@AdmiringWorm I was able to get this working with this change: https://github.com/chocolatey-community/chocolatey-coreteampackages/pull/1208#discussion_r268379749

I'm no longer on Windows though, it was a one-off task, so hard to confirm.

[2019-05-04 01:30] AdmiringWorm commented on #1229
I have opened the following issue to decide the future of the spotify package: #1273

Please join in with either voting on the solution, or discussing other alternatives.

I'll be closing this issue, to keep most things in that issue instead.

[2019-05-04 01:30] #1229 closed

[2019-05-04 01:33] AdmiringWorm commented on #1186
@mkevenaar are you able to verify that this works?
I'm unfortunately no longer in windows myself, and my vm went haywire when I tried to launch it earlier today (happens from time to time).

[2019-05-04 01:55] bcurran3 commented on #1095
I do have it installed on some of my machines, just don't really use it. Pseudo default install for most friends and clients...

I think the request is still a good one.

[2019-05-04 01:57] AdmiringWorm commented on #1095
Fair enough, we'll keep it open for a little while longer then.

[2019-05-04 05:21] Technetium1 commented on #1273
@AdmiringWorm I'm not sure which reaction to do, as they are both 👍

[2019-05-04 07:42] mkevenaar commented on #1186
I hope I have some time soon to check on this @AdmiringWorm

[2019-05-04 07:44] mkevenaar commented on #1273
As a moderator I believe I should push back if there is no checksum in the package. Even if the source is an https url. I think removing the checksums is not an option.

/cc: @gep13 @pauby

[2019-05-04 08:08] ComFreek commented on #1131
I've just seen somebody has taken on the task: https://github.com/chocolatey-community/chocolatey-package-requests/issues/487 🎆

[2019-05-04 08:51] majkinetor commented on #941
I don't use store apps, even worst, I disabled the complete engine and turned off AppXSvc as it is a resource hog without obvious reason.

Detecting store apps is trivial, but this one would have to be done by somebody that actually use this (I do not). Furthermore, there is that comment above of the occurrence of this problem even without store app.

I personally think it doesn't justify effort a

[2019-05-04 09:27] majkinetor commented on #941
I looked at the

This forum post claims that this shouldn't be used:
https://social.technet.microsoft.com/Forums/windows/en-US/cd82780b-6afa-4404-8515-5d646a5623de/quotrunasquot-command-trustlevel-what-is-it-how-can-i-enable-additional-levels

More info:
https://blogs.msdn.microsoft.com/aaron_margosis/2009/06/06/faq-how-do-i-start-a-program-as-the-desktop-user-from-an-elevated-app/

[2019-05-04 12:32] AdmiringWorm commented on #1273
@Technetium1 sorry, I was a little tired when I wrote this, I have updated with the correct reaction

[2019-05-04 12:38] 4nd3r5 commented on #1261
it is somewhere on https://sourcetree-nps-bridge.us-east-1.prod.public.atl-paas.net, but that is all I can see from Fiddler.

[2019-05-04 12:57] zero77 commented on #1273
Has there been any communication with the Spotify developers about this.

[2019-05-04 14:48] Technetium1 commented on #1273
@zero77 @AdmiringWorm
[code]
https://twitter.com/Compdude1/status/1124686623717851138

[2019-05-05 02:26] wesinator opened #1274 "(putty) install does not create Start Menu entries"
## Expected Behavior

Create start menu folder for PuTTY programs on install

## Current Behavior

No start menu folder is created. Programs must be manually executed from command-line.

## Possible Solution

## Steps to Reproduce (for bugs)

1. `choco install putty`
2. Open start menu folder

## Context

## Your Environment

* Package Version used: 0.71
* Operating System and version: Windows 8.1

[2019-05-05 12:58] AdmiringWorm commented on #1274
The `putty` package depends on `putty.portable` (which handles the installation).
That package do not install icons to the start menu by design, as this would require administrative privileges (due to packages being installed systemwide) and portable packages should **not** require administrative privileges to be installed.

There is a solution for you though, install the `putty.install` package i

[2019-05-05 12:58] #1274 closed

[2019-05-05 18:20] bcurran3 commented on #1078
relevant

[2019-05-05 19:21] wesinator opened #1275 "(chromium) 64-bit chromium is installed under WoW64 Program Files (x86)"
## Expected Behavior

64-bit chromium installs under `%PROGRAMFILES%`

## Current Behavior

64-bit chromium installed under `%PROGRAMFILES(X86)%`

Is there a reason why it is placed under the WoW64 Program files dir ?

## Possible Solution

## Steps to Reproduce (for bugs)

1. choco install chromium
![image](https://user-images.githubusercontent.com/5124946/57199112-4efcd900-6f49-11e9-89e5-9064463

[2019-05-05 19:50] AeliusSaionji commented on #1275
Yeah, it's wrong but the fault lies with the upstream installer.

It is probably possible for this to be forcibly corrected by chocolatey,  though it's probably not wise to create a circumstance which is unique to a chocolatey install unless absolutely necessary.

[2019-05-05 20:19] wesinator commented on #1275
Ah, yea - https://bugs.chromium.org/p/chromium/issues/detail?id=380177

[2019-05-05 20:19] #1275 closed

[2019-05-07 10:45] pascalberger commented on #1261
@AdmiringWorm  We did this in the past (was changed with https://github.com/chocolatey-community/chocolatey-coreteampackages/commit/8e364c1fd184721e3c4dea0dabc8f6629fdb89f2#diff-62f4977c124b3bb7b884f86a45c8c23d), but they changed installer and update with version 2. Also they have a staged rollout, so there was always discussions at what time the Chocolatey package should update (see discussions o

[2019-05-07 11:27] AdmiringWorm commented on #1261
@pascalberger here is the only thing I've found on the page that mentions any correct download location (formatted to make it easier to read)

[code]

[2019-05-07 11:31] AdmiringWorm commented on #1261
They also do some funny looking replacements in the following javascript file: https://www.sourcetreeapp.com/assets/build/js/ad-hoc/sourcetree/homepage.min.js?cdnVersion=le (use some kind of javascript formatter to make it readable)

[2019-05-07 21:23] RedBaron2 commented on #1261
@pascalberger @AdmiringWorm
This seems to be the way some corporations are going for making their websites. The package wps-office-free uses a helper to read the javascript generated pages. I just tried this helper to read the sourcetree website, and it found a url the 3.1.2 version. I can work on a PR for it for later.

[2019-05-09 07:15] cclauss opened #1280 "(mono) What is the path to mono.exe on Windows?"
I have to manually set the path in a headless environment like [Travis CI Windows](https://github.com/chocolatey-community/chocolatey-coreteampackages/pull/1278/files#diff-354f30a63fb0907d4ad57269548329e3R7).  Thanks.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Package Version used:
* Operating

[2019-05-09 10:43] cclauss commented on #1280
c:\Program Files\Mono\bin  See #1278

[2019-05-09 10:43] #1280 closed

[2019-05-09 16:47] JackZylkin commented on #631
This issue should not have been closed. If I understand the git for windows installer correctly, Git can only detect and enable symlinks if it is not running as Admin. As far as I know, Chocolatey must always run as Admin.

[2019-05-09 16:52] JackZylkin opened #1281 "Git Installer always disables symlinks no matter what"
NOTE: This is a clone of issue #631 , which was closed based on a false assumption about the git installer.  The git installer cannot detect whether symlinks should be enabled or disabled if it is run in Admin mode. As far as I know Chocolatey is always run in Admin mode. Therefore the git installer must be instructed explicitly what to do about symlinks -- otherwise they revert to being disabled.

[2019-05-09 19:20] majkinetor commented on #1281
That is not correct:
- https://chocolatey.org/install#non-administrative-install

Now, this can be done if user has administrative rights, but is running under non-elevated context. One mechanism is installation via scheduled task which is easy to 'fix' (VirtualBox package uses that mechanism). Thinking more about this, the place of the function [Start-ProcessNonElevated](https://github.com/chocol

[2019-05-09 22:08] JackZylkin commented on #1281
I just did some experimenting and found that, after restarting my computer, git has decided to start setting symlinks=true on all my newly initialized repos.  I don't really know which troubleshooting step fixed the problem exactly, but choco might work correctly in this regard after all.  Thanks for your help.

[2019-05-10 03:14] RedBaron2 commented on #1273
The problem is with how the package gets the file.
I modified my version of the Spotify package to use URL `https://download.scdn.co/SpotifyFullSetup.exe`
The latest version of Spotify was released on 04/29/2019 with a checksum of
`C4D64E5720CF895CA5A6DAADDCA8FE5E05CE9B86A24DF8F788F20FD7E38E6171E55D22344678847B003840192D7ED6C99C3661B30785BC140FF7D24899FBF0FF`
I just double checked by downloading a

[2019-05-10 07:05] #1281 closed

[2019-05-10 07:11] majkinetor commented on #1273
Why not ? No distribution rights ?

IMO we should remove the package from this repository, find another maintainer on RFP and let him deal with it.

I think there are too many packages here to spend time on something this unusual (changing checksum on each request ? wtf...)

Or use redbarons idea, seems legit on the first look.

[2019-05-10 07:38] gep13 commented on #1273
@RedBaron2 where did you find that URL?  Is it linked from the main Spotify website?  i.e. how do we know it is legitimate?

[2019-05-10 07:39] gep13 commented on #1273
As of right now, a checksum is only a requirement on a http URL.  However, at some point, it is likely that checksums will be a requirement for all URL's.

[2019-05-10 16:01] RedBaron2 commented on #1273
@gep13
It is on the main download page. If you look at the file that is downloaded it comes from that domain.

[2019-05-10 16:16] AdmiringWorm commented on #1273
I can confirm that this is indeed the case, I'll try changing the url in the update script (without any other changes), and we will see if it will continue to provide the same executable all the time (I may have to force a new update, we'll see).

[2019-05-10 16:21] AdmiringWorm commented on #1273
As long as it hasn't been made a requirement for https urls, it is a viable solution (although only temporarily, until checksums are a requirement).

I would like to keep the checksums, but only if it is still possible to reliably provide the package with them.

[2019-05-10 17:00] AdmiringWorm commented on #1273
@RedBaron2 seems like appveyor was able to get the same checksum as you (with the same version as the one pushed to chocolatey the last time).

If everything works as expected on the automated tests run on chocolatey.org, I believe we can safely say that everything is fixed, and we can close this issue then.

[2019-05-10 22:26] AdmiringWorm commented on #1273
Everything seem to be working correctly with that new url.
Thank you @RedBaron2

Let us leave this issue open for a little while though (over the weekend at least), in case the checksum issue resurfaces.

[2019-05-11 00:49] RedBaron2 commented on #1146
This is just a update for this issue. The (WIP) PR is working to get the latest versions and install with `pp` to have user choice(s) besides the defaults. I'm working on the uninstaller to remove the shortcat/taskbar options if the users chooses those `pp`. I need to get some details from a higher source. Stay tuned.

[2019-05-11 05:07] bcurran3 commented on #1161
Never assigned.
Never investigated.
Stale bot is a hindrance, not a helper.
Most likely still relevant.

[2019-05-12 06:07] zpelgrims commented on #1260
@jernejs Any idea when this fix (libwinpthread-1.dll) will be released?

[2019-05-13 12:40] birgersp commented on #1273
Just installed Chocolatey and tried installing Spotify now. Failed with a checksum mismatch.

`C:\Windows\system32>choco install spotify --yes
Chocolatey v0.10.13
Installing the following packages:
spotify
By installing you accept licenses for the packages.
Progress: Downloading spotify 1.1.5.153... 100%

spotify v1.1.5.153 [Approved]
spotify package files install completed. Performing other insta

[2019-05-13 12:57] AdmiringWorm commented on #1273
@birgersp spotify has released a new version, that is why the checksum mismatch.
I'm triggering a new update now (seems the automatic schedule has stopped working).

@gep13 any change you could look into the scheduling no longer work (even for the old vm)?

[2019-05-13 17:10] AdmiringWorm commented on #1155
Still relevant

[2019-05-14 21:33] AdmiringWorm commented on #1261
a fix for this was merged just now.
https://github.com/chocolatey-community/chocolatey-coreteampackages/commit/dc213b0a166b1527d13062ae5b02297084c68b23

[2019-05-14 21:33] #1261 closed

[2019-05-17 07:40] mkevenaar commented on #941
I just had the same issue on my new laptop and I think we have 2 issues here:

1. If Spotify is installed using Windows Store
2. If the installation failed.

The current setup uses a scheduled task to start the installation. (see https://github.com/chocolatey-community/chocolatey-coreteampackages/blob/master/automatic/spotify/tools/ChocolateyInstall.ps1#L18-L22)

Then it sits and waits until the S

[2019-05-17 23:37] RedBaron2 commented on #1146
@luzpaz @AdmiringWorm @sgrogan
I've decided that the best option for the shortcut/taskbar option is a `pp` option. The snag is that these won't be removed when the `--pre` build is uninstalled. I can put a warning on the package that these items will not be removed, and must be removed manually. If this is a 👍 for everyone. I will then update the PR #1277 and submit it for review.

[2019-05-20 10:35] majkinetor commented on #1269
https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/de0751a90a3f756e6b8f5d56f575ae3ed43dd9b6#pushed

[2019-05-20 10:35] #1269 closed

[2019-05-20 13:29] gep13 commented on #1273
@gep13 any change you could look into the scheduling no longer work (even for the old vm)?

Just seeing this now...

Are you saying that the AppVeyor cron task isn't working for this repository?  When you say `old vm` what are you referring to?

[2019-05-20 15:07] gep13 commented on #1273
@AdmiringWorm this is very strange, as I did have the scheduled jobs enabled in AppVeyor, I raised a support ticket about it, and to the best of my knowledge, it was actioned.  Let me follow up with that.

[2019-05-20 15:08] gep13 commented on #1273
@AdmiringWorm the build schedule is set up:

![image](https://user-images.githubusercontent.com/1271146/58031950-6229b000-7ad6-11e9-9cab-61a5e454583b.png)

[2019-05-20 15:27] AdmiringWorm commented on #1273
@gep13 hmm, it is odd that the schedule doesn't run then.
I've been triggering it manually for the past few days because it didn't run.

[2019-05-20 15:28] gep13 commented on #1273
@AdmiringWorm I have asked the question to the AppVeyor guys, and hopefully they can help.

[2019-05-20 15:54] majkinetor opened #1283 "(classic-shell) archive automatic updater"
Classic shell is not maintained any more so it should be removed since it is embedded package.

Now it is open-shell and looks like not worked-on too much:
https://github.com/Open-Shell/Open-Shell-Menu

I am not sure what should be done with the folder, but perhaps its the best idea to simply delete/rename update.ps1 so that links to package source still work, and update README.md (without pushing

[2019-05-20 23:30] sgrogan commented on #1146
@RedBaron2
Thanks for working on this. I can see that a lack of an installer for the --pre builds is a heartache. I'll keep searching for a good solution to this.

[2019-05-22 13:07] gep13 commented on #1273
@AdmiringWorm I heard back from the AppVeyor guys, and they stated that things should be running again now.  Can you confirm?

[2019-05-22 13:09] gep13 commented on #1283
@majkinetor hmmm, I am honestly not sure what to do for the best here.

Perhaps we should move the packaging files to a new `archived` (naming is hard!) folder, similar to the deprecated folder that we have.  That way, if those files are required again, they an easily be retrieved, rather than digging into history of project.

[2019-05-22 13:16] majkinetor commented on #1283
OK, lets call such packages ***archived*** then.

Moving the archived package will invalidate older version metadata URLs which is not nice.

There is no need for delition - only `update.ps1` needs to be renamed (and README.md updated to show the current status).

If archived package is needed again, there is no need to search history - you can simply rename updater again and do your work.

[2019-05-22 13:56] AdmiringWorm commented on #1273
@gep13  I triggered it manually an hour ago, before then it was 2 days before it had ran. So unfortunately, I can not confirm that.

[2019-05-22 14:01] AdmiringWorm commented on #1283
Well, one way to not have the older versions have invalid urls, would be to add a symlink to the new location.
But, I do agree with you that just renaming `update.ps1` and update the README.md would probably be for the best.

[2019-05-22 14:09] gep13 commented on #1283
Moving the archived package will invalidate older version metadata URLs which is not nice.

Ah, that is a good point.

There is no need for delition - only update.ps1 needs to be renamed

When you said this:

more so it should be removed

I thought you meant removing everything.  If we are just renaming the file, then I would agree with that as a solution going forward.

[2019-05-22 14:59] majkinetor commented on #1273
Hence the [17 updated packages](https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/6deb2fd1ecb7f5f6b83239925c22ac1814752983#pushed) in the single run...

[2019-05-22 15:04] majkinetor opened #1284 "Scheduled AV build not working"
https://github.com/chocolatey-community/chocolatey-coreteampackages/issues/1273#issuecomment-494035818

[2019-05-22 15:05] majkinetor commented on #1273
Please continue discussion about scheduler at #1284.

Regarding this issue, lets wait few days for confirmation about checksum (I can't confirm since spotify doesn't work in my country).

[2019-05-22 15:07] majkinetor commented on #1284
Looks like it stopped 2 days ago.

[2019-05-22 15:52] AdmiringWorm commented on #1284
@majkinetor it stopped long before then, I've been manually running them now and then for some time now.

[2019-05-22 16:05] majkinetor commented on #1284
Even linux platforms could work as it looks like AU works on pwsh without problems.

Gitlab too is an option to although it requires setup of git mirror.

@pascalberger Isn't AV on Azure ? What are limitations on Azure ?

AV can be easily fixed by using external scheduler...

Any potential replacement should be thought out from the perspective of the entire AU community and not only this repo, as

[2019-05-22 16:15] pascalberger commented on #1284
My issues was that builds in the free-tier can only run up to 60 min, which was not enough time for the build to download a 400 MB file and calculate the checksum. Beside that Azure DevOps doesn't have any limitation on run time, it seems to have also much faster network connectivity in my case. Maybe it was just a temporary issues on AppVeyor.

I don't see how this affects AU (beside the report g

[2019-05-22 17:31] majkinetor commented on #1284
System that can not download 400 MB in an hour in 2019 is not usable in general sense. Are you sure this is not a problem of different nature.

It doesn't affect AU - it affects AU community as it adds complexity.
Are you willing to create a wiki page pandan to the one we have now for [AV](https://github.com/majkinetor/au/wiki/AppVeyor)?

We also need build templates pandan to `.appveyor.yaml`.

T

[2019-05-22 17:51] #1283 closed

[2019-05-22 18:23] gep13 commented on #1284
I was informed that it had been enabled here:

https://twitter.com/appveyor/status/1130581959225163776?s=21

[2019-05-22 18:30] AdmiringWorm commented on #1284
@gep13 can you confirm that the schedule is still set on on the correct build vm? (https://ci.appveyor.com/project/chocolateycommunity/chocolatey-coreteampackages).
I don't have access to the settings so I can not see it myself (I'm thinking it perhaps got removed when they enabled the schedule, I know that happened on my own repository).

[2019-05-23 12:52] majkinetor commented on #1217
So what is the status with this ? Does it still happen ? I didn't notice errors recently maybe, out of memory few times.

/cc @gep13 @AdmiringWorm @mkevenaar

[2019-05-25 16:53] #1063 closed

[2019-05-25 16:53] #1130 closed

[2019-05-27 09:04] gep13 commented on #1284
From what I can see, yes.

![image](https://user-images.githubusercontent.com/1271146/58408892-ca443d00-8066-11e9-89dc-315102b5eb0c.png)

I am going to modify it slightly and re-save the setting, to see if that has any effect.

[2019-05-27 09:07] gep13 commented on #1284
@AdmiringWorm I have just re-saved the settings.  There wasn't any error when I did this, which tells me that scheduled builds are enabled, as I got an error the first time I tried to create the schedule.  Let's see if this helps any...

[2019-05-27 09:08] gep13 commented on #1217
@majkinetor the changes that were made to chocolatey.org have definitely helped the situation, but I am not going to say that everything has been fixed.

Until we make changes to the actual physical infrastructure behind chocolatey.org there won't be much else that we can do though.

[2019-05-27 13:58] ZiluckMichael commented on #1273
The checksum is currently failing again. Has anything new been discovered about getting Spotify to work in a more stable manner?

[2019-05-27 15:14] AdmiringWorm commented on #1273
@ZiluckMichael I just tested the package, and got no checksum error.
Can you try again and see if you got one or not.

If you get a checksum error, can you navigate to `%temp%\chocolatey\spotify\1.1.7.13766" and right click the `SpotifyFullSetup.exe` file, select properties, then details. Make a note of the product version displayed there.

Nothing new AFAIK.

[2019-05-27 15:21] AdmiringWorm opened #1286 "(msys2) Currently failing the verifier"
## Expected Behavior

The package should pass the automated verifier, or if needed get an exemption added.

## Current Behavior

Fails the automated testing.

## Possible Solution

Not looked into

## Context

Gist of the failures: https://gist.github.com/a592dc820e2b0bcaeb928f20ff7a4aec

## Your Environment

* Package Version used:
* Operating System and version:
* Chocolatey version:
* Install/u

[2019-05-27 15:38] AdmiringWorm commented on #1284
@gep13 seems like that change fixed the issue with the schedule.
I see a scheduled build that ran ~3 hours ago: https://ci.appveyor.com/project/chocolateycommunity/chocolatey-coreteampackages/builds/24835994#L163

[2019-05-27 15:38] #1284 closed

[2019-05-27 16:30] joachimcarrein commented on #1273
@AdmiringWorm I have a checksum error as well. The file details show version 1.1.6.113.gb388fe17
I deleted the file and ran the update again. It downloaded again, but was version 1.1.6 again.

[2019-05-27 17:27] AdmiringWorm commented on #1273
@joachimcarrein I took the assumption that you are located in Belgium (mentioned on your github profile), and connected to a belgium vpn.

This got me the same version as you did, as such I assume that they are lagging behind on cdn used for Belgian users.

Can you do me a favor, if you download the spotify installer from: https://www.spotify.com/no/download/windows/
What version do you get then?

[2019-05-27 19:11] gep13 commented on #1284
@AdmiringWorm nice one, thank you for confirming!

[2019-05-28 07:13] joachimcarrein commented on #1273
@AdmiringWorm
Just checked the link you showed, it says 1.1.7.13766.gf9dc36904.
To be sure, I let choco download again, that one still says 1.1.6

[2019-05-28 13:17] AdmiringWorm commented on #1273
The url used in the package is for the full (offline?) installer, while the one I provided you the link for is not.

I am guessing that the full installer is not a priority of being kept up to date (since I can't really find the download link for it anymore).

I will look into changing to the online installer of spotify, as this is more likely to be kept up to date everywhere (hopefully).

[2019-05-28 13:49] majkinetor commented on #1273
Can it be embedded and be done with it?

[2019-05-28 15:12] AdmiringWorm commented on #1273
@majkinetor it can not, no license that would allow it, and no explicit permission from the developers.

[2019-05-28 15:49] majkinetor commented on #1273
Then perhaps somebody can ask, given the number of downloads on gallery...

[2019-05-28 16:33] AdmiringWorm commented on #1273
If I remember correctly, this was attempted in the past (can not remember when), but there was no response at all from the owners of spotify.

Also, considering that their Terms of Service explicitly forbids redistribution(at least it was the last time I checked), and there have been linux distros trying to get permission to distribute the program through their official distro channel have been pr

[2019-05-29 14:36] majkinetor commented on #1168
I have some game/dev time now, if you are still up for it I can fix it (my steam acc has the same name as github).

[2019-05-29 14:52] hugobuddel commented on #1168
For sure @majkinetor. I could not find you on Steam. I think the account name and profile name are separate on Steam.

So I've bought the game as a gift on the HumbleBundle store and had it sent to the email address you list on your github profile. Claiming the gift should get you a steam key that you can enter in Steam.

[2019-05-29 15:26] timjosborn commented on #1145
We just got a call from Oracle. Same story. They said we'd installed 18 time. We said only 2 of them are active and we'd uninstall them. They said, too bad, you used it, you give us all your money, before our fiscal year end in 2 days...
We're going to try this: https://www.cdw.com/product/oracle-vm-virtbox-ent-nmd-user/2652849

[2019-05-29 18:20] majkinetor commented on #1168
Got it. Thanks. Will try to fix the issue in next few days.

[2019-05-29 18:25] majkinetor commented on #1145
OK, I will fix this because I don't want damn predators to get richer because of our free work.

I can reverse the parameter or add a BIG NOTE about this problem.

I am a little bit hesitant to reverse a parameter as it changes behavior of existing installations.
What do you think @gep13 @AdmiringWorm ?

[2019-05-29 18:32] gep13 commented on #1145
@majkinetor like you, I am hesitant to reverse the parameter, but part of me thinks that it might be the right thing to do ☹️

The warning will likely be missed, whereas something missing after installation will prompt the user to think about what has happened, and then make an informed decision about what to do now.

Interested to hear @AdmiringWorm thoughts on this.

[2019-05-29 19:12] AdmiringWorm commented on #1145
While I don't really like the idea of reversing the parameter, I unfortunately do see it as the best option for this, at least for now.

If we knew what conditions Oracle use to check if there is a commercial setting, we probably could skip the installation by default if we checked those conditions in the package.

[2019-05-29 23:55] majkinetor commented on #1145
OK, reversing the param then AND adding a note.

[2019-05-30 00:03] majkinetor commented on #1198
After the WARNING, the script exits, so what creates the shim ?

[2019-05-30 15:13] Jnchi opened #1287 "(itunes) Split Apple Application Support into sub package"
## Expected Behavior

I wish to see Apple Application Support (32-bit, and 64-bit), and Apple Mobile Device Support, split out into a separate (sub) package, if possible.

## Current Behavior

One must install iTunes, and Bonjour in order to have the desired libraries.

## Context

I'd like to install and manage [iExplorer](https://macroplant.com/iexplorer/tutorials/how-to-install-iexplorer) via p

[2019-05-31 00:57] acolbeck commented on #1260
@majkinetor After this issue was closed, jernejs updated the binaries to fix the underlying dependency issue. If you could refresh the chocolatey package as per your mention here https://github.com/chocolatey-community/chocolatey-coreteampackages/issues/1260#issuecomment-481308991 that fix will be surfaced.

[2019-05-31 12:27] mstick99 opened #1288 "(renamer) Version 7.1 available"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Package Version used:
* Operating System and version:
* Chocolatey version:
* Install/uninstall gist:

[2019-05-31 12:31] AdmiringWorm commented on #1288
The renamer package is not being provided in this repository, please contact the maintainer of that package.

[2019-05-31 12:31] #1288 closed

[2019-06-03 09:18] majkinetor commented on #1168
@hugobuddel

I reproduced the problem after installing the game (sadly, can't play it ATM, lags too much on my current machine). The problem is usage of `Get-AppInstallLocation` which calls `Get-UninstallRegistryKey` before checking a file system. This function exists after first match so it can't find subsequent match. This is not a bug.

Solutions include:

* not using  `Get-AppInstallLocation`

[2019-06-04 18:25] majkinetor opened #1289 "AU error report 2019-06"
Following packages should be fixed due to upstream changes:

- [ ] krita  (change so x32 version uses online download while x64 is embedded)
- [x] [codelite](https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/be84e7a53aa8d8557e21436d22f88a4b5d74ac6f#codelite)
- [x] [brave (ignore invalid stream)](https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f#brave)

For krita d

[2019-06-04 18:28] majkinetor commented on #1217
Its definite that problem isn't fixed based on AU reports since you introduced a change.
It occurs several times less then before and with different errors but still occurs in non-ignorable quantity.

[2019-06-04 19:45] AdmiringWorm commented on #1289
I have actually been thinking a little about the krita package.

What I have been thinking about is to convert the package to a partial embedded package, embedding the 64 bit binary, but if 32bit is requested then download that one. I haven't really looked into this though, as I have other priorities right now, but I do not believe it would add too much complexity to the package (the update script

[2019-06-04 19:51] majkinetor commented on #1289
I think that is great idea.

[2019-06-05 08:48] gep13 commented on #1217
@majkinetor there is still some infrastructure work pending for chocolatey.org that needs to be done before we can make anymore changes in this area.  I currently don't know when that work is due to be completed, but I will let you know as soon as I know.

[2019-06-05 08:50] gep13 commented on #1289
I think that is great idea.

Totally agree here!

[2019-06-05 11:59] #1289 closed

[2019-06-05 13:38] majkinetor commented on #1287
This can be done. I personally do not care about itunes or any Mac stuff.
PR would be the quickest approach.

[2019-06-05 13:47] AdmiringWorm commented on #1289
@majkinetor great work, and thanks for taking care of those packages.

Was planning to look into the krita package today, but I am glad that I didn't have to. have a :chocolate_bar:

[2019-06-05 14:02] #1145 closed

[2019-06-05 14:09] hugobuddel commented on #1168
This indeed seems to work fine. Thank you @majkinetor! Also thanks for the explanation, this is an interesting workaround :-). I'll close the issue.

[2019-06-05 14:09] #1168 closed

[2019-06-05 14:51] majkinetor commented on #1145
Done, not published (don't like to see fix versions honestly if I don't have to) Package is updated regularly so this will be online soon enough.

[2019-06-05 16:44] RedBaron2 commented on #1146
@luzpaz @AdmiringWorm @sgrogan
The current working PR version will install a shortcut to the desktop by default for the `--pre` builds only. It will uninstall the shortcut also 👍 . Should the user decide to change the shortcut location during install. The variables are stored in a json file to be read by the uninstall script. Thanks to @majkinetor for the suggestion. I hope that this will work for

[2019-06-06 16:11] jayvdb commented on #1286
@diablodale , you posted a bunch of notes on the choco site, including this issue I believe, which you have already fixed at https://github.com/diablodale/gnucash-dev-docker/blob/master/windows.dockerfile#L42

[2019-06-06 16:13] diablodale commented on #1286
Yes. I have fixes that work in my scenarios. Unfortunately, the authors of the choco package have not responded to my suggestions.

[2019-06-06 16:15] jayvdb commented on #1286
Submit at PR here ? source at https://github.com/chocolatey-community/chocolatey-coreteampackages/tree/master/automatic/msys2

[2019-06-07 08:44] diablodale commented on #1286
Hi. I don't mind helping. I'll have time during week of the 17th this month.

[2019-06-07 10:39] majkinetor commented on #1092
Packages do not get deprecated just because the tool is no longer developed. Ideally, we need all of them forever.

[2019-06-07 10:39] #1092 closed

[2019-06-07 11:04] #1182 closed

[2019-06-07 11:06] majkinetor commented on #1220
I agree with above statement, it doesn't appear there is anything we can do here.
I will close this now, feel free to comment in future if you feel this is not adequate.

[2019-06-07 11:06] #1220 closed

[2019-06-07 11:08] majkinetor commented on #1273
I guess this is resolution of this discussion so I am closing this.

[2019-06-07 11:08] #1273 closed

[2019-06-07 11:08] majkinetor commented on #1258
Do you still have a problem updating it ?

[2019-06-07 11:11] majkinetor commented on #1071
I will close this as it is no longer relevant.

[2019-06-07 11:11] #1071 closed

[2019-06-07 11:14] majkinetor commented on #1254
Closing this as there was no feedback and the problem is not reproduced.

[2019-06-07 11:14] #1254 closed

[2019-06-07 11:16] majkinetor commented on #1221
Closing this as there was no feedback. Feel free to reopen if that changes.

[2019-06-07 11:16] #1221 closed

[2019-06-07 12:01] majkinetor commented on #1186
Should we fixed now, confirm.

[2019-06-07 12:12] majkinetor commented on #1161
There are no little dwarfs here (or anywhere on this planet AFAIK) that magically do stuff when nobody is watching. Reverting bots decision doesn't mean it will get fixed. Also:

- We don't need to assign, not in our docs
- Nobody else complained, means not important and most likely irrelevant

Seems like an upstream problem. You could try there, or give PR of new installer.

[2019-06-07 17:07] majkinetor commented on #1186
I can't work it out to force update on 1password for some reason... You will have to try it from the repo.

[2019-06-07 17:19] AdmiringWorm commented on #1186
maybe uppercase stream names isn't respected by AU? or it got problems with package names starting with a number.

I also noticed it is missing the `[CmdletBinding()]` declaration. Could this be the problem?

@majkinetor ^^

[2019-06-11 06:29] tylerszabo opened #1291 "(cygwin) Cygwin sets unusal permissions on ChocolateyToolsLocation if installed before other packages"
## Expected Behavior

Cygwin is installed under `$env:ChocolateyToolsLocation\cygwin` and the `$env:ChocolateyToolsLocation` directory has the same permissions it would have if another script were creating it.

## Current Behavior

If the Cygwin installer creates the `$env:ChocolateyToolsLocation` directory it's permissions will be set according to [Cygwin's mapping of POSIX permissions to Windows

[2019-06-11 08:19] cinderblock commented on #1177
I think this is still relevant. Every time I setup a new system `putty.install` sticks out like a sore thumb in the line of packages I install all at once.

[2019-06-11 09:03] Noruas29 opened #1292 "(hostsman) Not the last version."
On official website, last version of Hostsman is 4.7.105 but when you download the "No Installer" version of this soft, you can see that the version number is 4.7.106.

Could you update this package with the last version ?

[2019-06-11 09:35] JipSterk commented on #1258
to be honest haven't really keep an eye out for this issue. Maybe i reinstalled it when i upgrade it doesn't spit out an error.

[2019-06-11 09:36] majkinetor commented on #1177
What does that even mean ?

[2019-06-11 09:51] #1258 closed

[2019-06-11 09:55] majkinetor commented on #1292
We can't make this work.
Its not available on typical location: http://hostsman2.it-mate.co.uk

Site doesn't work.

Upstream problem. Author needs to fix it and provide downloads via usual means or provide new place.

This is automatic package and requires stable download location.

[2019-06-11 10:03] Noruas29 commented on #1292
But it's not offcial website ?
http://www.abelhadigital.com/hostsman/

[2019-06-11 15:32] aleksijohansson commented on #1186
I tested this again and the same issue still persists.

[2019-06-11 15:40] majkinetor commented on #1186
@aleksijohansson it isn't released on gallery, is that how you tested it ?

[2019-06-11 15:48] aleksijohansson commented on #1186
@majkinetor Yes, I just normally tried to install 1password with chocolatey. I could test something else too, if you can provide instructions?

[2019-06-11 16:03] majkinetor commented on #1186
Just download code cpack it and install it.

Or wait for new release. Or some admin can publish it.

/cc @gep13

[2019-06-11 17:53] cinderblock commented on #1177
It's the only one that I commonly install that still requires the `.install` postfix:

[code]

[2019-06-11 18:24] majkinetor commented on #1177
Well, in that case, we have to comply. That really looks horrific :)

[2019-06-11 19:06] AdmiringWorm commented on #1177
here, let me fix that for you
[code]

There, now it won't feel alone :laughing:

All joking aside, a meta package should not suddenly change from a portable package to a installer one, as this would be a breaking change (most that have a default install of choco probably won't notice this though).

Now, why do I say it is a breaking change? It actually got nothing to do with the program being avai

[2019-06-11 19:34] majkinetor commented on #1177
Also, why do you have a problem with using portable version in which case you will remove intruder.

The fact that PATH changes is also a problem as some scripts certainly use full path to the putty executable.

All that being said, where is it stated that we need to maintain compatibility forever ?

[2019-06-11 20:10] AdmiringWorm commented on #1177
While that is usually true, from my understanding this is not a problem when it comes to these two packages.

It is not stated anywhere, but when it comes to changing a portable dependency to a install dependency, then yes we should maintain compatibility (well maybe not forever, but a very long time).

Usually when there have been added breaking changes in the past, there have been made in a way

[2019-06-11 20:26] #1177 closed

[2019-06-11 22:40] jacktose opened #1293 "Make it very clear that the `putty` package is non-standard"
It seems clear from #1177 that [putty] will continue to install [putty.portable] for backwards compatibility.
It's also clear from the repeated issues, comments, etc., and the FAQ, that users expect it to install [putty.install], as with most packages.

Therefore, we should make every effort to clarify that [putty] violates that expectation, and to direct users to consider [putty.install].
I think

[2019-06-11 23:40] cinderblock commented on #1177
@majkinetor You did ask what I meant and I'm glad to have helped you sleep! 🎉

Back on subject, I've been installing PuTTY with chocolatey for years and every time (until recently because I started remembering) I would install the wrong PuTTY package only to wonder why my shortcuts/shell extensions aren't there and then spend 5-15 min researching only to finally remember, oh right, PuTTY is specia

[2019-06-13 13:50] #1153 closed

[2019-06-13 20:46] majkinetor commented on #1292
Yes, its official, site works now. I'll add this for up for grabs.

[2019-06-14 09:12] Noruas29 commented on #1292
Thanks a lot and thanks for your work.

[2019-06-15 15:36] aleksijohansson commented on #1186
Ok, I’ll wait for the release

[2019-06-18 12:23] diablodale commented on #1286
Starting to look into this.

[2019-06-18 20:17] fraenki commented on #1009
@bcurran3 If you could quickly sum-up the required code changes, I'd submit a PR with your changes. I'd love to get this long-standing issue fixed. :+1:

[2019-06-18 20:28] bcurran3 commented on #1009
@fraenki, see the 1st and 3rd post. :)

[2019-06-19 02:19] FranklinYu opened #1294 "Add URL of license to top of license file"
As we all know it is strongly recommended to put license URL on top of license file. A positive example is [Torrent File Editor](https://chocolatey.org/packages/torrent-file-editor). The core team packages are often used as example and role-model for new users; it would be misleading if most core team packages don’t follow best practice.

I hereby propose we add the URL to top of all licenses in t

[2019-06-19 14:20] psdavid-muc commented on #1009
I've created a PR #1295  that should fix the issue.

[2019-06-19 19:59] joel0 commented on #1293
I agree with this!  When I was new to Chocolatey, I assumed something went wrong with the putty install or that the package was broken when the Start menu entry was missing.  It took a long time to understand that the dependency of putty.portable found below the fold was the "problem".

[2019-06-27 23:24] tas50 opened #1298 "(ruby) Add packages for the different major versions"
Add packages for the different major versions

## Expected Behavior
I should be able to install Ruby 2.4, 2.5, or 2.6 instead of just the latest Ruby. A lot of people have applications that need a certain Ruby version to run.

## Current Behavior
Right now the package is just the latest Ruby.

## Possible Solution
Create a ruby24, ruby25, and ruby26 package in addition to the current package. That

[2019-06-30 16:31] gep13 opened #1299 "(paint.net) Should depend on 4.7.2"
## Expected Behavior

Paint.net installs only the required software in order for it to work

## Current Behavior

Installing Paint.Net installs both 4.7.1 and 4.7.2, due to dependencies changes on upstream packages, i.e. dotnet4.7.1.  Paint.net actually requires 4.7.2, so the dependency on 4.7.1 is not correct.

## Possible Solution
Change dependency on be on 4.7.2, rather than 4.7.1.

## Steps to

[2019-06-30 17:03] pascalberger commented on #1299
It's actually not possible to have both version installed, since the later will overwrite the previous. I also don't see why it should install both currently. Dependency goes to [Microsoft .NET Framework 4.7.1](https://chocolatey.org/packages/dotnet4.7.1), which in its latest version has a dependency to [Microsoft .NET Framework](https://chocolatey.org/packages/dotnetfx), which will install the la

[2019-06-30 17:26] gep13 commented on #1299
If you look at the dependency chain, and the way Jakub has built the packages, 4.7.1 depends on latest version of dotnetfx which is currently 4.7.2, which means that both packages are installed, which isn’t correct, even if one overrides the other later in installation.

Paint.net current version requires 4.7.2, and as such I think the dependency should be updated to reflect this.

[2019-06-30 17:27] gep13 commented on #1299
The test I did was on a fresh test environment, and both 4.7.1 and 4.7.2 packages were attempted to be installed.

[2019-06-30 17:51] pascalberger commented on #1299
There's the difference between Chocolatey package and software being installed. I agree that this will install the `dotnet4.7.1` and `dotnetfx` package (which is currently 4.7.2). But actually installed would only be 4.7.2.

To depend on `dotnet4.7.2` is definitely better. But note that soon this will mean that actually .NET 4.8 will be installed on a clean environment.

[2019-06-30 19:26] #1299 closed

[2019-06-30 20:29] gep13 commented on #1299
Understood 👍

[2019-07-01 07:16] 1WindowsPuppetAdmin opened #1301 "(sysinternals) add PortQry and PortQryUI"
Include portqry and portqryui in your sysinternals package.

PortQry - https://www.microsoft.com/en-us/download/details.aspx?id=17148

PortQryUI - https://www.microsoft.com/en-us/download/details.aspx?id=24009

[2019-07-01 08:12] AdmiringWorm commented on #1301
I'm afraid that the sysinternals package is specifically for the Sysinternals Suite softwares, ie the ones available here: https://docs.microsoft.com/en-us/sysinternals/downloads/sysinternals-suite

Other additional programs not available in the Suite will not be added to the package.

[2019-07-01 08:12] #1301 closed

[2019-07-01 09:05] lg2de opened #1302 "(git.install) installer of old versions remains in chocolatey\bin"
When installed git.install and installing updates regulary, the folder chocolatey\bin will contain all the installer packages. This is useless and spams the folder.

## Expected Behavior
The installer package should be deleted after installtion.

## Current Behavior
The installer will be save to chocolatey\bin and remains after installation.

## Possible Solution
The installer may be downloaded to

[2019-07-04 13:28] KrisJanssen opened #1303 "(python) Wrongly reports install success and location when previous install exists"
I tried to install python through choco this morning on a new machine.

While choco reported successful installation on my machine at C:\Python37.

![ChocoPython3Issue](https://user-images.githubusercontent.com/1765614/60670173-57ea2800-9e70-11e9-8852-5c7c05a7b368.jpg)

To my surprise, 'python' was reported as an unknown command. There was no C:\Python37 either.

I proceeded to edit the chocolatey

[2019-07-09 16:00] andremillet opened #1304 "(julia) Command not recognized after 'choco install julia'"
this is what happens
sorry for the image, idk how to copy from power shell
![Sem título](https://user-images.githubusercontent.com/561993/60904465-7faf0680-a249-11e9-82c7-a445783eddfb.png)

[2019-07-14 13:27] JonasDralle commented on #1182
so? What will be done here?

[2019-07-15 12:47] fraenki commented on #1009
@AdmiringWorm Do you have time to review PR #1295? :) It's stupidly simple, but it works and we're already using it in production.

[2019-07-15 12:59] AdmiringWorm commented on #1009
@fraenki not right now I'm afraid. Hopefully I will get some time later today to review it.

[2019-07-15 14:43] #1187 closed

[2019-07-22 19:04] #1134 closed

[2019-07-22 19:31] majkinetor commented on #1303
Looks like an upstream problem. See this line:

https://github.com/chocolatey-community/chocolatey-coreteampackages/blob/master/automatic/python3/tools/chocolateyInstall.ps1#L18

i.e. we always pass target dir as a parameter to installer but in this case it choose to ignore it as far as I can see.  It looks like changing the directory is not allowed in that case, judging from the gray _Browse_ but

[2019-07-22 19:46] KrisJanssen commented on #1303
Corporate policies require us to run as non-elevated users. The browse button is grayed out because the currently installed version is in a location inaccessible to normal users.

Would it be good idea to check for an exit code on the installer?

https://cloudywindows.io/windowsinstallererrorcodes/

[2019-07-22 19:50] majkinetor commented on #1303
It would already fail on anything not 0.
Perhaps checking if dir exists would suffice in your case (or something in it), but that is also partial solution generally speaking.

[2019-07-22 19:53] majkinetor commented on #1303
Its also strange that `$Env:PYTHONHOME` is set to new location by the installer while it keeps old dir (I don't see a WARNING in your installation output)

[2019-07-28 23:49] bcurran3 commented on #1078
AllDup 4.4.0 still launches after upgrade (and assumed install).

[2019-08-02 22:12] ferventcoder commented on #1245
Note that the default for enhanced exit codes was turned to off for Chocolatey v0.10.14. This is for anyone that finds this issue as most folks commenting here are already aware. https://github.com/chocolatey/choco/issues/1784

[2019-08-03 17:46] #1206 closed

[2019-08-05 12:48] surlypants opened #1308 "(kitty) Broken package"
via:
https://chocolatey.org/packages/kitty

kitty.nupkg needs to be updated to reflect the changes at

https://github.com/chocolatey-community/chocolatey-coreteampackages/blob/master/automatic/kitty/legal/VERIFICATION.txt

an alternative approach would be to have:
https://github.com/chocolatey-community/chocolatey-coreteampackages/blob/master/automatic/kitty/update.ps1

fetch VERIFICATION.txt from

[2019-08-05 14:40] edgarchinchilla opened #1309 "(clipgrab) Switch to Adware-Free installer"
(clipgrab): Right now the package uses the Adware-Enabled installer, theorically the adware is never installed when the executable is launched from command line.

That has a (minimal?) risk for us right now.

## Expected Behavior

Use the Adware-Free installar called "clipgrab-x.y.z-portable.exe". Yes I know the name suggest a portable application but it isn't, its an installer (as literally is wr

[2019-08-05 16:06] AdmiringWorm commented on #1308
I am already aware of the problems with the kitty package, and am looking into getting it updated right now.

I am also updating the `update.ps1` file to download the files from github, as well as creating the VERIFICATION.txt file during update (instead of blindly relying on the links specified in it).

[2019-08-05 16:15] Moredread commented on #1308
@AdmiringWorm thanks. :) I just was looking into it, but am not that familiar with Chocolatey anymore. I guess PR #1310  can be closed in that case.

[2019-08-05 16:20] AdmiringWorm commented on #1308
@Moredread yes unfortunately it will be closed (I actually just closed it right now), after adding a comment of course 😺

[2019-08-05 16:23] AdmiringWorm commented on #1308
Just putting some finishing touches on the package, and need to test that it works as intended.

After the verification the changes will be pushed to this repository and a forced update will be triggered.

[2019-08-05 16:34] AdmiringWorm commented on #1308
It seem it will take a little longer than what I expected.
Forgot that I didn't have the chocolatey test environment on this computer, so I need to install that first.

I will post here when a forced update have been triggered. (Although the issue will automatically be closed when the commit triggering the update is submitted).

[2019-08-05 17:05] #1308 closed

[2019-08-05 17:05] AdmiringWorm commented on #1308
A forced update have been queued on appveyor, and a forced update should be pushed shortly.

There will be a few hours until it is available on chocolatey.org though.

[2019-08-06 08:30] psdavid-muc commented on #1009
@AdmiringWorm did you have by chance some time to review the merge request?

[2019-08-06 08:49] AdmiringWorm commented on #1009
Sorry, I have not. TBH I had completely forgotten about it (been quite busy for the past month).

But just quickly looking at the code and comments now, and the only thing I can currently say (until I can have a deeper look) is that running the program as an administrator (which is effectively what `Start-ChocolateyProcessAsAdmin` do) is not acceptable IMO.

In my mind this would be a case of conc

[2019-08-06 08:49] AdmiringWorm commented on #1009
However, stopping the program is completely fine

[2019-08-06 08:50] AdmiringWorm commented on #1009
But that should probably be done in a `chocolateyBeforeModify.ps1` file instead (which will run before an upgrade, and before uninstallation).

[2019-08-06 08:56] AdmiringWorm commented on #1009
but from my understanding, the issue isn't really about that.

This issue is about stopping the program after it have been installed, which can be done quite straightforward but with an opt-in for not stopping it (using a package parameter).

[2019-08-06 10:05] majkinetor commented on #1217
I added '_package version already exists on the repository_' to my AU options in [repeat/ignore section](https://github.com/majkinetor/au-packages/blob/master/update_all.ps1#L37) and it [works](https://ci.appveyor.com/project/majkinetor/au-packages) in preventing errors which may be annoying as there is nothing we can do.

[2019-08-07 13:45] kinafu commented on #1308
The package does not seem to be updated yet in the chocolatey repo.

[2019-08-07 15:26] pauby commented on #1186
New error for this:

[code]

[2019-08-07 15:35] majkinetor commented on #1186
Well, that worked when I changed the installer. Since I don't use 1password, perhaps you can give help output.

Anyway, I am leaving this for others to take; its proprietary tool with stupid installer which I don't use. I showed how it could be done previously, perhaps something trivial could be changed such as parameter name.

Proof that it worked, i.e. that parameter existed back in time:

https

[2019-08-07 15:38] pauby commented on #1186
Running the installer with `--help` gives:

[code]

[2019-08-07 15:40] majkinetor commented on #1186
OK, so they removed the parameter now. Perhaps because they added --silent so it should be even easier now and my code can be totally removed.

[2019-08-07 19:07] chtof opened #1312 "(umbrello.install) Latest version exceeds 200 MB"
## Expected Behavior
Be able to submit last version of umbrello.install package.

## Current Behavior
[code]
## Possible Solutions
1/ Integrate this package in Chocolatey-coreteam repository who allows packages excedding 200 MB
2/ Change the package to be no longer embedded.

## Previous version with a size of about 154 MB
`a----       11/05/2019     14:26      154240923 umbrello.install.2.27.3.20

[2019-08-08 07:27] AdmiringWorm commented on #1312
This is not true, the same restrictions are placed on the core team packages repository as with any other package repository.
The reason why there may be some packages that are above 200MB is because there was a short time this was possible. (this was lowered due to external providers I believe. Can't remember which one right now though).

You're free to open a pull request to migrate the package

[2019-08-08 08:06] pauby commented on #1186
I'll try and pick this one up today or tomorrow.

[2019-08-08 16:47] edgarchinchilla commented on #1309
All that you need is to replace this line:

By:

[2019-08-08 19:33] tenderlove opened #1314 "(openssl.light) Add C headers"
Hi,

I was wondering if it would be possible to get an OpenSSL package that has the headers as well as the runtime?  I'd like to compile and link against OpenSSL, but the OpenSSL.light package only has the runtime files.

Thanks for your time!

[2019-08-12 15:54] ferventcoder opened #1315 "Dependencies for Java related items moving to open JRE/JDK?"
This is more of an awareness question.  Have we looked into this as a way of allowing folks not to get hit by any potential licensing issues?

[2019-08-12 17:54] AdmiringWorm commented on #1315
This have not been looked into AFAIK.

However, I did a quick search of the repository now (for all mentions of `java`, `jre` or `jdk`), and didn't find any package that actually have java as its dependency (other than a deprecated java runtime package).

So at least in the repository itself, there is nothing that needs to be looked into.

[2019-08-13 10:03] pauby commented on #1186
I'm working on the assumption that unfortunately 1Password have not yet found an [installer they can use silently or haven't completed writing their own](https://discussions.agilebits.com/discussion/comment/509739/#Comment_509739). Either that or it's been sent to test us.

The `--silent` switch sadly doesn't install silently. What it does do it pop up a box asking if you want to install it (note

[2019-08-13 10:17] majkinetor commented on #1186
Try to run installer via elevated scheduled task. If UAC doesnt happen then that could do.

On 13 Aug 2019, 12:03, at 12:03, Paul Broadwith <notifications@github.com> wrote:

[2019-08-13 12:21] pauby commented on #1186
Any packages that do this already that I can borrow the code from?

[2019-08-13 12:25] mkevenaar commented on #1186
@pauby the Spotify package does this

[2019-08-13 12:55] AdmiringWorm commented on #1186
@mkevenaar correct me if I'm wrong, but don't the spotify package run a schedule for installing spotify without admin privileges (due to requirements of the installer).

[2019-08-13 13:29] mkevenaar commented on #1186
@AdmiringWorm it might be, I don’t know for sure

[2019-08-13 16:17] BourgonLaurent commented on #1309
Made a Pull Request #1316, just need to be merged by a maintainer.

[2019-08-13 21:56] majkinetor commented on #1186
Not the installer per se but other stuff. Take a look at virtualbox helpers and modify axcordingly.

⁣Sent from BlueMail ​

On 13 Aug 2019, 15:29, at 15:29, Maurice Kevenaar <notifications@github.com> wrote:

[2019-08-14 05:08] Kristinita opened #1317 "(ruby) Remove previous version in update process"
### 1. Summary

It would be nice, if previous Ruby versions will be removed in updating process.

### 2. Argumentation

I run [**SpaceSniffer**](https://chocolatey.org/packages/spacesniffer) → I saw, that previous Ruby versions — that I install solely via Chocolatey — not deleted:

![SpaceSniffer Ruby](https://i.imgur.com/5NG0NML.png)

I don't need Ruby23, 24 and 25. This is extra folders, which o

[2019-08-14 09:39] StingRayZA opened #1318 "(mattermost-desktop) Auto-update disabled and updates are out"
mattermost-desktop was disabled by #1305 . There's now updates to the application (4.2.3).
Re-enabling auto-update will allow these to be caught.

## Expected Behavior
mattermost-desktop package 4.2.3 gets built

## Current Behavior
mattermost-desktop static at 4.2.1

## Possible Solution
re-enable auto-builds (even temporarily?)

## Steps to Reproduce (for bugs)
N/A

## Context
I'd like to update

[2019-08-14 10:03] AdmiringWorm commented on #1317
When they are meant to be installed side-by-side, then this is the side affect of that, and since we can't detect if the argument `--sidebyside` we can't exactly blindly remove the previous version either.

Sure, we could add a `chocolateyBeforeModify.ps1` file that removes the previous version (as that file is run from the package version before updating), but that isn't really the use case of th

[2019-08-14 10:10] AdmiringWorm commented on #1298
I must have missed this when it was initially posted.
But let me say my opinion on the matter.

I strongly disagree with having multiple packages only for the usage of specific major/minor packages, if you want a polluted repository with duplicated packages, then this is exactly what you need to make that happen.
Using different packages specific to each major/minor version should be used very spa

[2019-08-14 10:11] AdmiringWorm commented on #1318
@wget can you confirm that it is now okay to enable automatic updates again for the mattermost-desktop package?

[2019-08-14 11:02] AdmiringWorm commented on #1198
@majkinetor seems like choco itself is creating the shim for the installer.
The script returns before the installer gets removed.

I missed that initially as my focus was really on why the package couldn't find the installation path.

[2019-08-14 15:08] majkinetor commented on #1198
Yes looks like a bug in choco.

[2019-08-14 15:33] AdmiringWorm commented on #1198
No, not in choco. The bug is actually in the package.

We are trying to get the install location on [line 17](https://github.com/chocolatey-community/chocolatey-coreteampackages/blob/72ae1d58e16f2af5da0dbe0d4c3234061ae98353/automatic/notepadplusplus.install/tools/chocolateyInstall.ps1#L17),
if there is no install location, the package returns on [line 18](https://github.com/chocolatey-community/ch

[2019-08-14 21:47] majkinetor commented on #1198
You are right - the line that deletes the file is usually not at the end of the script but immediately after `Install-Chocolatey***`.

[2019-08-15 14:48] #1222 closed

[2019-08-16 20:32] majkinetor commented on #1315
Yet, its only matter of time when we will have java dependency here.

[2019-08-17 14:34] majkinetor commented on #1312
I will close this since it is not relevant for this repository and migration is based on wrong idea.

For this package I suggest the following solution that we adopted once in the past: provide embedded binary for x64 bit version and keep downloading x32 bit version - since most of the systems today are x64 and x32 bit will eventually be deprecated, this is a good trade for this problem.

If you w

[2019-08-17 14:34] #1312 closed

[2019-08-18 12:36] majkinetor commented on #1318
The update is enabled but will take random time due to the #1217

[2019-08-18 12:36] #1318 closed

[2019-08-18 13:37] #1309 closed

[2019-08-18 13:55] AdmiringWorm commented on #1309
Changes have been made, but due to issue #1217 we are currently unable to push a fix version to chocolatey.

[2019-08-20 13:49] jerstlouis commented on #1314
This is also an issue blocking us from using Travis for our Windows builds.

[2019-08-21 13:44] majkinetor commented on #1304
Does it work with refreshenv command or in new shell?

[2019-08-21 13:58] andremillet commented on #1304
it worked using wls. switched to ubuntu though, so I am unable to perform
more tests

*André Millet*

Em qua, 21 de ago de 2019 às 10:44, Miodrag Milić <notifications@github.com>
escreveu:

[2019-08-21 17:22] majkinetor commented on #1304
Its most probable then that refreshenv would solve your issue or shell restart

[2019-08-21 17:26] majkinetor commented on #1217
Bunch of packages still randomly fail. Only larger packages are prone to this and are currently ignored by AU. All will eventually  be published.

[2019-08-22 15:19] AdmiringWorm commented on #1314
We can only provide what is provided by the developers of openssl.
I just took a quick look and could not see any additional archives/installers for the C headers.

It is possible that they are supplied in the existing installer, just not selected by default. But I have not checked whether this is true or not.

[2019-08-22 15:34] jerstlouis commented on #1314
@AdmiringWorm You need to include the "For Developers"

[2019-08-22 15:43] AdmiringWorm commented on #1314
@jerstlouis I was specifically looking for either separate downloads that could be used in combination with the light edition.

Currently there is no "non-light" version available on chocolatey, there was a version pushed a couple of years ago, but never finished.

Using that executable for the light edition would be a no-go for the package, however to create a new package for the full edition wou

[2019-08-22 15:50] jerstlouis commented on #1314
@AdmiringWorm The headers should come with OpenSSL, I don't even know anything about pacman in msys, not using either pacman or msys.

Is there any way to package the headers (that are included in the bigger package) only? Or to add them to that package?

These OpenSSL headers are going to be needed to build tons of projects.

[2019-08-22 15:55] AdmiringWorm commented on #1314
Not as far as I know, it would require to download and install the full installer and then extract out the necessary headers that would be needed. I could add this issue as a n `up to grabs` in case someone out there knows of a different way, but for now it seems unlikely that the headers would be included in this package.

[2019-08-22 15:57] jerstlouis commented on #1314
@AdmiringWorm Is there anything particularly problematic about installing that package and extracting the headers? I would be happy to do it but I know nothing about chocolatey packages.

[2019-08-22 16:05] AdmiringWorm commented on #1314
@jerstlouis since we are running a scheduled build on appveyor updating 200+ packages at the same time, yes I would say it could potentially be a problem installing the installer (not the package, but the software installer).

[2019-08-22 16:45] AdmiringWorm opened #1322 "(avidemux) Latest version is failing the automated verifier"
## Expected Behavior

Expects the latest version of avidemux to pass the automated verifier.

## Current Behavior

The latest version is failing the verifier, while the package is continuing after the call to the installer it seems to fail due to the installer being in use (maybe arguments have changed? Missing dependency? Something else?)

## Possible Solution

Not known right now

## Steps to Re

[2019-08-23 19:47] #1230 closed

[2019-08-24 21:48] PiotrSokol commented on #1304
Unfortunately `refreshenv` doesn't do anything.

[2019-08-26 09:29] jerstlouis commented on #1314
A RFP was submitted (https://github.com/chocolatey-community/chocolatey-package-requests/issues/668) and currently has @chtof waiting to be added as a maintainer, with an updated package ready to be published.

[2019-08-28 14:10] wget commented on #1318
@AdmiringWorm Yes sorry for the late reply :/ Yes, the new 4.3 is still on hold at Mattermost. We detected a regression late in the development process regarding toast notifications on Windows, so we had to postpone the release of the 4.3 (which has been demoted from RC0 to beta :/ ).
We may need to disable the update process again in the weeks (I hope not months) to come though. Will let you know

[2019-08-31 05:01] ExE-Boss commented on #1315
See also: JohanJanssen/ChocolateyPackages#39

[2019-09-05 13:16] AnthonyMastrean opened #1324 "Bring in a fonts installer extension"
It's well documented that installing Fonts on Windows is a pain. It's complicated to...

 * make it silent (impossible without custom C# code)
 * handle single fonts vs. a font folder
 * handle various font file types
 * report success/failure when a font already exists

The [chocolatey-font-helpers extension](https://chocolatey.org/packages/chocolatey-font-helpers.extension), currently owned by @

[2019-09-05 13:45] AdmiringWorm commented on #1322
Looks like the 64bit installer have changed, and no longer have any arguments it accepts to be silent (I am unable to find them at least).

The 32bit installer seems to be the same as previously though.

[2019-09-05 18:43] bcurran3 commented on #1324
The above two statements are false. The extension has no issues. @AnthonyMastrean has had a problem with it, yes, due to corporate group policies enforced on his machine. I AM in a position to update the extension if needed. There's currently no need.

[2019-09-05 18:56] gep13 commented on #1324
@AnthonyMastrean I am still not convinced that having what is essentially a duplicate extension package makes sense.  I think it would be much better to consolidate the changes into a single package.

[2019-09-05 19:37] bcurran3 commented on #1324
@gep13  Agreed, and that is the plan. REF: https://github.com/bcurran3/ChocolateyPackages/issues/70

[2019-09-05 20:29] AnthonyMastrean commented on #1324
@bcurran3 misread your position, sorry.

[2019-09-05 20:30] AnthonyMastrean commented on #1324
@gep13 it's not like the Chocolatey team hasn't obsoleted other helpers/extensions (especially early on) with built ins functions and official extensions. Totally OK if this doesn't rise to that level. Happy to have brought it up for discussion. 🤷‍♂

[2019-09-06 11:48] majkinetor opened #1325 "(sysinternals) Wrong checksum ?"
I am quite confused by this:

[code]

However, checksum of the file is OK

[2019-09-06 12:09] #1324 closed

[2019-09-06 12:10] majkinetor commented on #1322
There is this stuff in changelog:

[code]

[2019-09-06 12:14] gep13 commented on #1324
@AnthonyMastrean I agree that has happened in the past, but I don't think we are at that point with this extension just yet.  @bcurran3 is an active maintainer of many Chocolatey packages, and I think it makes sense to continue with a single package just now, rather than duplicate effort.

[2019-09-06 12:18] majkinetor commented on #1322
Anyway, looks like AHK is the only solution now as QT Installer actually does not support silent install (lol?)

[2019-09-06 13:01] majkinetor commented on #1322
I also looked into it and I think something like this (needs testing).

[code]

In powershell installer after starting above AHK script:
[code]

It seems that some options are not there when app is alrady installed so its probably for the best to unisntall old version via chocolatey and use AHK script only for fresh install.

QT controls can't be automated easily via AHK as they are not native.

[2019-09-06 13:16] AdmiringWorm commented on #1322
ah, it is a QT Installer. In that case we do not need to rely on autohotkey.
We can pass in a controller script that automated the clicking through the installer instead.

[2019-09-06 13:36] majkinetor commented on #1322
I am aware of the control script but I didn't know that it can work externally. It looks to me installer needs to support it. If I am wrong, please provide some info and example.

[2019-09-06 13:39] AdmiringWorm commented on #1322
very simple (for the installation anyhow).

Save the following script somewhere (mostly aquired from: https://stackoverflow.com/a/56922159/5075216):
[code]

then call the installer with the following argument: `--script C:\path\to\install.qs`

I have tested the above, and it work with the avidemux installer. Now just trying to get the uninstaller to work as well (not had any success yet)

[2019-09-06 14:12] majkinetor commented on #1322
God damn it, I already did this once but forgot. Thx

[2019-09-06 14:13] AdmiringWorm commented on #1322
Almost done with my tests for the uninstaller, so expect a PR to review shortly 😄

You can't remember everything at all times 😸

[2019-09-06 15:44] drelatgithub commented on #1304
I think I found the reason for this, but I might need some help and suggestions before I can start to fix this.

### Facts
1. Julia installation allows multiple versions of Julia to simultaneously exist. So when running a Julia installer of a newer version, the older version(s) will not be removed. When multiple versions are installed, multiple registry keys exist, each for a different version.
1.

[2019-09-06 18:30] #1322 closed

[2019-09-06 18:40] majkinetor commented on #1304
Assume registry format vairant is what I would go with. Maybe even assume installdir format for yet easier solution.

[2019-09-06 18:43] majkinetor commented on #1317
I think our position is clear here.

[2019-09-06 18:43] #1317 closed

[2019-09-06 18:44] majkinetor commented on #1325
Looks like some corporate problem as I can't replicate on other places.

[2019-09-06 18:44] #1325 closed

[2019-09-07 07:46] majkinetor commented on #1322
I'll just let this one update on its own because #1217.

[2019-09-07 08:05] AlexRevo commented on #199
Just ran into the same issue on a fresh cygwin installation (literally `choco install cygwin` immediately followed by `choco install cyg-get`. Please consider investigating.

[2019-09-10 01:37] boubouqc opened #1328 "Badchecksum for Kitty!"
zoom v4.8.2721.0811 [Approved]
zoom package files upgrade completed. Performing other installation steps.
Downloading zoom
  from 'https://zoom.us/client/latest/ZoomInstallerFull.msi'
Progress: 100% - Completed download of C:\Users\Sebastien.Boulianne\AppData\Local\Temp\chocolatey\zoom\4.8.2721.0811\ZoomInstallerFull.msi (22.92 MB).
Download of ZoomInstallerFull.msi (22.92 MB) completed.
Error - h

[2019-09-10 17:59] laurin1 opened #1329 "(gitextensions) Install Failure for v3.2"
cup gitextensions

Chocolatey v0.10.15
Upgrading the following packages:
gitextensions
By upgrading you accept licenses for the packages.
You have gitextensions v3.1.1 installed. Version 3.2 is available based on your
source(s).
Progress: Downloading gitextensions 3.2... 100%
gitextensions v3.2 [Approved]
gitextensions package files upgrade completed. Performing other installation ste
ps.
Installi

[2019-09-11 05:30] majkinetor commented on #1328
That is output from zoom package, not kitty. Kitty can't have wrong checksum.

[2019-09-11 08:36] knorx opened #1330 "(ghostscript) Executable not in path"
## Expected Behavior
After installation of the package ghostscript I have the corresponding executables in path.

## Current Behavior
Exceutable can only be run with absolute path.

## Possible Solution
Generate a shim during package installation using: https://chocolatey.org/docs/helpers-install-bin-file

## Steps to Reproduce (for bugs)
1. Install ghostscript package
2. type gswin64 in command l

[2019-09-11 18:31] Groostav commented on #987
I ended up uninstalling and reinstalling cmake (and cmake.install --im not sure how choco packages work here) several times.

Turns out `refreshenv` simply wasnt doing its job. `choco install cmake --installargs '"ADD_CMAKE_TO_PATH=System"'` did indeed install cmake to `C:\Program files\CMake\` and it did update the System's `PATH` variable such that its last entry was `C:\Program Files\CMake\bin`

[2019-09-12 06:32] majkinetor commented on #1328
Furthermore, zoom is not part of this repository so closing.

[2019-09-12 06:32] #1328 closed

[2019-09-12 06:33] majkinetor commented on #1329
Take a look at `c:\gitextensions_msi_install.log` to see details. I suspect this is not chocolatey specific and that you will get the same error if you run installer non silent.

[2019-09-13 08:47] #1293 closed

[2019-09-13 08:48] majkinetor commented on #1293
Added to meta package notes, will be public after next update.

[2019-09-13 09:01] majkinetor commented on #1051
Looks like working now on second try. Probably some intermitient AHK issue as install script could be better.

I will close this as there is no much interest in improving this and it kinda works...

Anyway, it would be much better to switch to portable package as then no AHK installer is needed.

[2019-09-13 09:01] #1051 closed

[2019-09-13 09:31] ExE-Boss commented on #1293
You might want to merge #1331 before then.

[2019-09-13 14:58] jacktose commented on #1293
The note is nice, but I disagree that it resolves my issue.

Most people aren't going to read all the notes before installing.

[2019-09-14 13:55] majkinetor commented on #1304
I wont push AU fix for this as package is frequently updated so this will be usable in next release.

[2019-09-14 13:55] #1304 closed

[2019-09-14 13:59] majkinetor commented on #1314
As https://chocolatey.org/packages/openssl is now available I am closing this.

[2019-09-14 13:59] #1314 closed

[2019-09-14 14:06] #1302 closed

[2019-09-14 14:08] majkinetor commented on #1298
I will close this as this will probably be possible one day by choco client and one can easily create script that does that.

[2019-09-14 14:08] #1298 closed

[2019-09-16 08:51] majkinetor opened #1333 "(gnupg) Not approved"
https://chocolatey.org/packages/gnupg

Its mentioned in Notes

The PR on original repo is here:

* https://github.com/jtcmedia/chocolatey-packages/pull/32

This should get approved.

[2019-09-19 16:12] RedBaron2 commented on #1146
@luzpaz @AdmiringWorm @sgrogan @majkinetor @gep13
This has been fixed with #1277 ,but everyone has been busy with other responsibilities that the PR has been forgotten. I don't want the bot to mark this issue as stale as it is fixed. Thanks all for the suggestions, and help.

[2019-09-19 16:15] luzpaz commented on #1146
Awesome!

[2019-09-20 08:25] majkinetor commented on #1333
/cc @AdmiringWorm

[2019-09-20 08:30] ExE-Boss commented on #1333
/cc @wget

[2019-09-20 09:43] gep13 commented on #1333
@majkinetor My question is still the same though...  Why create another package with a different id?  Should the other package id be deprecated, and point at the new one?

[2019-09-20 10:07] ExE-Boss commented on #1333
Probably, but I’m pretty sure that that has to be done by @wget.

[2019-09-20 11:16] majkinetor commented on #1333
@gep13, I answered everything already, not sure what doesn't compute ...

[2019-09-20 12:37] edoardo-molinatti opened #1336 "(PartitionMasterFree) Package is out of date, Version 13.5 is available"
There's a new version available (13.5), please update the package.

[EaseUS Partition Master Free 13.5](https://www.easeus.com/partition-manager/epm-free.html)

Thank you.

[2019-09-20 12:52] gep13 commented on #1333
I answered everything already, not sure what doesn't compute ...

The question regarding the existing package still hasn't been answered.  What is going to happen to it?  If this is a replacement package, that is fine, but I don't think the existing package should just be left.  If it is no longer going to be used, then it should be deprecated.

Also, if we are going to change the package id, then

[2019-09-20 13:07] ExE-Boss commented on #1333
Actually, that’s `chocolateyUninstall.ps1`, which is probably unnecessary in this case, so I’m removing it in #1337.

[2019-09-20 15:12] majkinetor commented on #1333
I already stated several times that fixing random repository isn't something we here do. We follwed the protocol for migration and there is nothing else we can do. If you have any further comments about this you should redirect them to appropriate place.

We are changing the package id becuase previous id was wrong (word `modern` is not something mentioned upstream) so discoverability and portabil

[2019-09-21 13:45] ExE-Boss commented on #1333
Now that #1337 has been merged, `gnupg@2.2.17` should probably be re‑published.

[2019-09-21 14:12] majkinetor commented on #1333
Did that

[2019-09-25 19:46] ptandler opened #1342 "libreoffice-fresh and libreoffice-still packages outdated"
Both libreoffice-fresh and libreoffice-still are some versions behind:

https://www.libreoffice.org/download/download/
fresh: 6.3.1 (here: 6.2.5)
still: 6.2.7 (here: 6.0.7)

I guess there is a reason for this ...?
Do you have a timeline for updating the packages in chocolatery?

[2019-09-26 08:54] gep13 commented on #1333
Until there is agreement on what is going to happen with the existing package (https://chocolatey.org/packages/gnupg-modern) i.e. who is taking responsibility for deprecating the package in favour of the new one, I am not going to be approving the new package, as there is no point in duplicating packages on the community repository.

[2019-09-26 10:00] majkinetor commented on #1333
Is that really how you want to resolve this? That is, blocking users to have the latest, the most secure and most stable package because of procedure nobody really cares about and has totally different goal then what end user is interested about,  making their environment use outdated and in this case insecure tools and thus dangerous for the benefit of internal jenitor operation? Especially becau

[2019-09-26 10:21] gep13 commented on #1333
Especially because the things you requested could also be done after this one is approved at any time? Sounds to me a lot like failed priorities?

The problem with this approach is that if _not_ done now, the chances of them getting done afterwards diminish greatly, so yes, this is exactly how I would like to proceed.

As this is common show stopper around here I sugest making deprecation procedur

[2019-09-26 10:31] majkinetor commented on #1333
So lets be clear - the deprecation procedure sux which is why nobody wants to do it and yet you thunk that bevause of your stuborn insistence the whole world will suddenly have enlightment? Furthermore chocolatey employees break their own procedure all the time ( example: pauby has invokebuild package years after my package invoke-build). Whats the deal here? Some animals are more equal then other

[2019-09-26 10:34] majkinetor commented on #1333
Anyway, I dont have energy for bike shedding here, fell free to block anything you want, I am out.

[2019-09-26 10:46] gep13 commented on #1333
Furthermore chocolatey employees break their own procedure all the time ( example: pauby has invokebuild package years after my package invoke-build). Whats the deal here? Some animals are more equal then others?

There is no "deal".  Personally, I was not aware of this, and clearly this was missed during the initial review/approval of the package.  Where ever possible, I attempt to prevent duplic

[2019-09-26 13:34] majkinetor commented on #1342
This is automatic package so there is no timeline. If its not up to date its probable that there are upstream changes or inconsistencies that will need to get integrated into update.ps1 script.

[2019-09-26 16:04] ptandler commented on #1342
Hm, alright. I haven't worked with creating or maintaining packages so far.
Is there a way I can help figuring out why the package is not updated?

[2019-09-26 19:15] majkinetor commented on #1342
OK, so I forgot about this, but update is disabled for this package in this commit:

@wget  mentioned its about upstream request...

Now, I don't even know what that shit means, so unless @wget provides explanation here I will re-enable it.

Anyway, some observations:

- When anybody disables the package he should provide more detailed log comment about the reasons
- We shouldn't accept those kind

[2019-09-26 20:58] marcopixel opened #1344 "(inkscape) Executable not added to path"
## Expected Behavior
After installing Inkscape, it should be available via command line. This is not in the official installers either but it would help productivity by having it directly accessible without the manual addition to `$PATH` and it would make sense especially in the context of a package manager (directly accessible in the terminal)

## Current Behavior
Executing `inkscape -v` return a

[2019-09-27 12:32] AdmiringWorm commented on #1342
@majkinetor it was disabled as requested by upstream (the developers of libreoffice) while @wget is working together with the developers by providing a *better* package for the software.

This have been mentioned several times already on the disqus forums for both `libreoffice-fresh` and `libreoffice-still`

That is your opinion, but sometimes there actually are reasons to disable the updater, thi

[2019-09-27 12:41] AdmiringWorm commented on #1344
Considering the use case of the program, I don't personally see the need to have incscape available on `PATH`.

As such I do not believe any of the common maintainers of this repository will be adding this (I know I won't at least), however I have added it as an `Up for grabs` in case someone is interested in opening a PR to add this feature.

[2019-09-28 11:01] majkinetor commented on #1342
This is the comment by @wget:

This is still moot point

You failed to see alternative options. If the user can install it by clickily click, then it can be automated. The failure of upstream silent installer options or whatever  is just current method of silent installation the package uses. Somebody might get tired of waiting and provide another, sucha as AHK script.

While that is the option, i

[2019-09-29 00:30] TheCakeIsNaOH commented on #1342
The way I read the above Discus message by @wget posted on the LibreOffice package page and quoted above by @majkinetor is that for each of the hundreds of messages he has received, he will delay the release of the fixed package by one day. So take hundreds of messages and the one day delay for each message, that would mean that fixed(and updated) LibreOffice packages are not released by @wget til

[2019-09-29 17:22] wget commented on #1342
@TheCakeIsNaOH My intention is not to delay this package obviously but rather that users stop sending me emails to my personal email address each day.

I'm taking care of this today until finish even if this implies working pretty late. And please don't reenable auto update.

[2019-09-29 18:08] majkinetor commented on #1336
This is upstream problem. Script downloads from http://download.easeus.com/free/epm.exe and checks for version number which is in this case still 13.0:

![image](https://user-images.githubusercontent.com/85767/65837116-1d1f5100-e2f4-11e9-9191-09224f7923c9.png)

This means that either vendor accidentally didn't do this or has a new release procedure. In first case this will resolve on its own in fu

[2019-09-29 18:12] majkinetor commented on #1344
Having executable on the PATH (or equivalent) is beneficial in number of non-CLI contexts.

I am all up for PR that adds shim, feel free to provide it.

[2019-09-29 19:29] edomoli commented on #1336
Hi majkinetor, thank you for your reply.

After a quick investigation I found that the new generic URL they use to download the installer is the following:

[http://down.easeus.com/product/epm_free](http://down.easeus.com/product/epm_free)

This will download an executable installer that is not self-contained (it will download the rest of needed files during the install process).

Do you think you

[2019-09-30 08:44] #1344 closed

[2019-09-30 12:55] majkinetor opened #1349 "(tv-browser) Package is outdated"
TV browser complains in AU report.

[2019-09-30 13:00] cprivite commented on #1217
Ok so what can we do to help fix this. Do you need help with a pull request or fixing some code? Do you need money for back end improvements? This is rediculous at this point. Like tell us what _actually_ needs to happen, regardless of if it's technical or political or what.

[2019-09-30 16:53] wget commented on #1342
* Auto update now working based on the libreoffice update check service from TDF.
* This avoids to parse the website which was a fragile solution (we are still parsing mirrorbrain output to determine CDN though).
* When the install packages are moved away from the CDN, the links are now still working.
* Update process working on a standard AppVeyor instance.
* No more gap when fresh becomes still

[2019-09-30 20:48] wget commented on #1342
Update: Posh 2.0 nearly finished.

During my tests I realized the SHA-256 digest was missing for some releases on the TDF servers, leading to errors when building packages, I reported the issues and the TDF sysadmins are gonna fix it during the night or tomorrow end of day :)

Their fix will allow me to parse and compute the digest is a much more solid manner and be independent of the mirror load

[2019-10-01 11:51] majkinetor commented on #1315
FYI

I switched few of the latest packages to [AdoptOpenJDKJRE](https://chocolatey.org/packages/AdoptOpenJDKJRE)  package ( by @johanjanssen ) instead of the [javaruntime](https://chocolatey.org/packages/javaruntime) that was previously used as later requires a license for commercial use since 2019.

So far: [plantuml](https://chocolatey.org/packages/plantuml), [yed](https://chocolatey.org/package

[2019-10-02 05:23] johanjanssen commented on #1315
@majkinetor the fact 11 doesn't set registry stuff and 13 does is probably because of the fact that 11 still uses the zip to install and 13 the msi.

If you prefer to use Java 11 as it's an LTS version (13 is not), I can create a new version of the package based on the msi.

[2019-10-02 05:56] johanjanssen commented on #1315
I noticed that Java 11 will get an update release in two weeks. I will release a Chocolatey package for that release based on the MSI.

[2019-10-02 12:10] #1349 closed

[2019-10-02 14:42] majkinetor commented on #1315
Thx @johanjanssen.

Again, consider migrating it here, especially since on your issue list are some stuff that need 0 attention here.

[2019-10-03 00:47] AdmiringWorm commented on #828
I believe this was fixed in PR #1334.
@majkinetor @RedBaron2 can you confirm?

[2019-10-03 05:39] #828 closed

[2019-10-03 09:44] johanjanssen commented on #1315
I'm not completely convinced that it will improve much. But I'm ok if you guys want it.

So what needs to be done?

I know embedding the package is one thing. But also the packages should follow the strict guidelines, where can I find them?

[2019-10-03 09:54] majkinetor commented on #1315
https://github.com/chocolatey-community/chocolatey-coreteampackages/blob/master/CONTRIBUTING.md

Just PR here and we will help.

Embedding is critical in this case - you need to have infinitelly available executable for your project. Even if chocolatey gallery is deprecated one day packages are still available either in your local cache, your intranet cache (artifactory, nexus...), Github releases

[2019-10-03 09:57] johanjanssen commented on #1315
It's growing hard, now on 178 MB. The last two releases added 9MB. So I wouldn't be too surprised if it goes above 200 MB in the (near) future. You still want to embed it and move it to the core packages?

[2019-10-03 10:03] majkinetor commented on #1315
Embedding is probably best left when this limit of 200MB is removed.

As of migration, i think it would be beneficial. If we are all going to use adoptopenjdk as dependency to java projects, its best that most known repository holds it as more people can be involved in enhacing the package, such as adding more parameters, fixing corner bugs or just making it better related to some other package wh

[2019-10-03 11:56] jpluimers opened #1351 "(git.install) "ERROR: Cannot process argument transformation on parameter 'file64'. Cannot convert value to type System.String.""
Chocolatey v0.10.15 on Windows 7 Professional; version 6.1.7601.65536 upgrading to git.install 2.23.0: "ERROR: Cannot process argument transformation on parameter 'file64'. Cannot convert value to type System.String."

Related issue https://github.com/chocolatey-community/chocolatey-coreteampackages/issues/574 was resolved with the current chocolatey version I am using.

## Expected Behavior

Inst

[2019-10-03 14:50] majkinetor opened #1352 "(picard) Pop-up during update"
The pop-up appears on update

![image](https://user-images.githubusercontent.com/85767/66137750-d4221200-e5fd-11e9-94fb-4d81293ba06f.png)

[2019-10-03 15:02] AdmiringWorm commented on #1351
I have been trying for a while now, but unfortunately I am unable to reproduce the issue that you are seeing.

As such I am afraid I really don't know what can be done to fix your issue unfortunately.

[2019-10-03 15:08] majkinetor commented on #1352
Its even worse then that, if you click OK then it will just uninstall it and not run itself again.

This means that uninstallation must be done prior to installation (even with no update as `cinst -f` also fails)

[2019-10-03 16:12] AdmiringWorm commented on #1351
One I need you to check for me (I don't think that is the problem, but better safe than sorry).

If you navigate to `%ChocolateyInstall%\lib-bad\git.install\tools`, do you see multiple x64 installers there? I am thinking that perhaps there is a left-over executable from when you installed version `2.22.0` which may explain the issue.

[2019-10-03 18:02] wget commented on #1342
Good news again. The SHA-256 feature has been corrected upstream at TDF. Thanks dear sysadmins :)

I have however issues enabling my Posh 2.0 session on Windows 10 1903. While the later seems to work fine, all object instanciations are returning the same error, example:

[code]

It seems like as if the AppDomain that has been created to launch the Posh 2.0 session wasn't loading the .NET assemblie

[2019-10-04 08:05] #1352 closed

[2019-10-04 09:45] madskristiansen commented on #1145
I like your bug reporting skills. :P

Quite the blocker you found there.

[2019-10-04 10:40] ExE-Boss commented on #1333
I think we should approve this now and finish the deprecation in https://github.com/jtcmedia/chocolatey-packages/issues/36.

[2019-10-04 10:43] majkinetor commented on #1333
You mean, we should finish the deprecation in jtcmedia/chocolatey-packages#36 and approve this now ?🗡

[2019-10-04 10:45] ExE-Boss commented on #1333
/cc @jtcmedia, @wget

[2019-10-04 13:02] ipwaze commented on #1342
I will risk saying something dump, because I am thankful for the package and want to show it.
I beleive it wants to initialize it's System.Configuration  context , finds a corresponding .config file and fails to read it at the 43th charachter in the first line. Is posh 2 a remote shell? I beleive that is not the problem. To me it looks like some newer System.Configuration wants its values in anoth

[2019-10-04 15:34] jpluimers commented on #1351
Thanks @AdmiringWorm, nail on the head, though it did not resolve the problem, as cleaning, then upgrading gets back the files.

Below is what I did.

Is it possible to get a more verbose log of the git upgrade process?

[code]

Choco-cleaner cleaned this:

[code]

But then upgrading downloaded all the installers again:

[code]

[2019-10-05 17:07] wget commented on #1342
Ok I found the culprit. Since Microsoft removed official support for Posh 2.0, I was on my own. Since I'm initially a C/C++ guy, I had the idea to surround my call statement with a catch statement in order to avoid the exception from escalating to the posh process and thus being able to display the exact message sent by the exception.
[code]

The issue came from the file `C:\Windows\System32\Windo

[2019-10-07 05:12] Heteroculturalism opened #1353 "(VirtualBox) Cannot Uninstall v6.0.12"
## Expected Behavior
Uninstall package

## Current Behavior
Does not uninstall package

## Possible Solution

## Steps to Reproduce (for bugs)

1. Fresh install of VirtualBox v6.0.12 `choco install -y virtualbox`
2. Uninstall VirtualBox v6.0.12 `choco uninstall -y virtualbox`

## Context
Uninstall Virtualbox

## Your Environment

* Package Version used: 6.0.12
* Operating System and version: Windo

[2019-10-08 16:38] #1353 closed

[2019-10-08 16:54] majkinetor commented on #1351
OK, this is my mistake as I am the author of such git code. This wouldn't happen if git installer weren't using globs but complete file name as @AdmiringWorm  insisted multiple times. This is not normal situation, it shouldn't happen that old installers are left but it happens relativelly frequentlly so we need to have a new solution here.

Another solution, besides what @AdmiringWorm uses, maybe

[2019-10-09 11:20] wget commented on #1342
Posh 2.0 seems ok. Final checks will be performed as soon I'm home and we are nearly ready to go. 💪 Hope to publish my PR for review later today :)
https://github.com/wget/chocolatey-coreteampackages/tree/fix-libreoffice-website-link

[2019-10-10 20:32] wget commented on #1342
After discussion led today on gitter, I'm currently implementing a bug fix and I would like to remove a warning generated by AU when packages are being updated. Won't likely be implemented today, but tomorrow :)

[2019-10-11 01:14] cinderblock commented on #1293
Still think the correct solution is to make `putty` depend on `putty.install` like nearly every other Chocolately package.

[2019-10-11 06:00] majkinetor commented on #1155
I don't think that this should be done at all. It will break current scripts because virtual package doesn't pass parameters to dependencies and vscode has lots of params. #1355

[2019-10-11 08:20] AdmiringWorm commented on #1155
@majkinetor meta packages do pass in parameters to the dependency, but only for `.install` and `.portable` dependency.

[2019-10-11 10:40] majkinetor commented on #1155
Didn't know that. Then its OK.

[2019-10-12 00:18] jack1142 commented on #1155
Didn't know that either, I will have to update README file so that it won't say that you have to install `vscode.install` directly for it to work then. I'll do that and fix conflicts when I wake up. Let me know if there's anything else I should do.

[2019-10-15 11:00] dodedodo33 opened #1357 "(spotify) Hashes do not match (new version available?)"
There seems to be a new version of the spotify installer available. Trying to install results in a checksum comparison fault.

## Expected Behavior
Spotify installs correctly.

## Current Behavior
Installation script returns an error after checking the installer checksum.

## Possible solution
Update the checksum?

## Context
Unable to install spotify.

## Your Environment
* Package Version used:

[2019-10-15 18:47] neikei opened #1358 "(vagrant) Update plugins be compatible with the new Vagrant version"
Some plugins like vagrant-vbguest needs an update to be compatible with the new Vagrant version.

## Expected Behavior

When Vagrant is updated, the plugins should be updated as well.

## Current Behavior

When Vagrant is updated, the plugins are repaired and not updated.

## Possible Solution

Add `vagrant plugin update` to the update process.

## Steps to Reproduce (for bugs)

1. Start with Vagr

[2019-10-16 07:35] gep13 commented on #1333
@ExE-Boss I appreciate what you are trying to do in raising that request, but as you can see, it has gone unanswered for 12 days.  As a result, I am still hesitant about approving the new package until the old one is deprecated correctly.

[2019-10-16 08:39] majkinetor commented on #1333
Just out of curiosity, what happens if jtcmedia was hit by the bus (or simply doesn't care) ?

[2019-10-16 11:02] majkinetor commented on #1333
What if anybody doesn't care ?

[2019-10-16 12:17] gep13 commented on #1333
Bottom line is, I, and other moderators, on chocolatey.org don't want to needlessly see duplication of packages pushed to chocolatey.org.

This is the exact situation that we have here.  If no one cares to tidy up the existing package, then simply put, I won't be approving the new package.  Another moderator may feel differently about this, but I would much rather see this situation fixed before a

[2019-10-16 14:02] majkinetor commented on #1333
Wow, A-mazing.

[2019-10-17 00:05] jtcmedia commented on #1333
I was asked to migrate this package to the coreteampackages some time ago and no longer have it in my own repository. How am I supposed to deprecate it in my repository when I no longer have it?

[2019-10-17 00:24] ExE-Boss commented on #1333
@jtcmedia You just create a stub‑package according to https://chocolatey.org/docs/how-to-deprecate-a-chocolatey-package, like what I’m doing in #1360.

[2019-10-17 13:59] majkinetor commented on #1333
https://chocolatey.org/packages/gnupg-modern/2.2.17

[2019-10-17 15:46] wget commented on #1342
1. The warning from AU being displayed on stdout is just warning the version has been reset to 0.0 and doesn't cause any harm. The exception being trigerred in AU is because I do have letters in AU streams used to distinguish the branch we are talking about. Since letters are not valid semver chars, AUVersion complains and 0.0 is printed as warning. So this is basically unfixable, except if we mod

[2019-10-17 16:15] majkinetor commented on #1315
I got one report that package finished using the wrong JRE: https://github.com/majkinetor/au-packages/issues/129

This could ofcourse happen in other similar scenarios (python2 vs 3 as an example etc.). I was taking java executable from the PATH which is a problem in such context. Package should explicitelly try to use adoptopenjdkjre and find it via some method. I am not sure what is the best met

[2019-10-17 18:56] johanjanssen commented on #1315
I don't know if I understand your remark correctly. You mean that another Java build was used (for instance the Oracle JDK) instead of the AdoptOpenJDK one that you expected?

I wouldn't hardcode dependencies to a specific build of Java. People now have the choice to use OpenJDK, AdoptOpenJDK, Amazon Corretto, Liberica JDK or others. Hardcoding dependencies to one of them basically eliminates the

[2019-10-17 19:38] wget commented on #1342
Ok. The versions are taken care in the package object anyway, so I can recover the exact version (and build) via another method if needed. So everything is fine. Gonna merge since everything is working locally (except the tests are failing on the appveyor instance since there is a 600s timeout).

[2019-10-17 19:45] wget commented on #1342
Okay. Having the logs form the core team package repo will be interesting to have. Because while working locally, TDF servers are refusing the connection from the coreteampackage VM :/

[2019-10-17 19:52] wget commented on #1342
The error I get from the AppVeyor instance is `Unable to connect to the remote server` which means it seems the issue comes from upstream. Maybe sysadmins blocked connection attempts from Google Cloud (last time I checked AppVeyor used that cloud provider).

[2019-10-17 20:07] wget commented on #1342
I have sent a message to the sysadmin team at TDF in order for them to confirm and investigate the issue. I keep you posted.

[2019-10-17 21:30] ExE-Boss commented on #1315
That will probably depend on&nbsp;<https://github.com/chocolatey/chocolatey/issues/7>/<https://github.com/chocolatey/choco/issues/858>

[2019-10-18 07:44] majkinetor commented on #1315
I agree with you @johanjanssen, however, virtual packages may be implemented in next decade or never (first ticket is almost decade old). It looks wrong to depend on specific package and use something else once installed.

[2019-10-18 08:03] gep13 commented on #1333
I have just approved the gnupg package.  @ExE-Boss thank you for taking the time to deprecate the old package.

[2019-10-18 08:03] #1333 closed

[2019-10-18 09:17] wget commented on #1342
Received a response from the TDF sysadmins. They are not applying blacklisting nor rate limit.
AppVeyor seems now to be hosted at Liquid Web, L.L.C. The connection issue may be due to a temporary network disconnection between both datacenters (LiquidWeb and TDF'ones).

Any way, as we can see now, LibreOffice versions have been pushed. Those not visible on the chocolatey repos are due to the fact t

[2019-10-19 06:51] majkinetor opened #1361 "(gpg4win-*) Move to manual folder"
Due to #1043 we should move those from automatic to manual folder.

We should consider adding note on the package as discussed.

[2019-10-19 07:40] #1361 closed

[2019-10-19 09:53] johanjanssen commented on #1315
Yes, but you could also opt to not declare the Java dependency explicitly. Just don't add it as a dependency, then it's up to the users to pick the dependency they want. It's what for instance the Maven package is doing as well.

[2019-10-19 15:51] majkinetor commented on #1315
Majority of users dont care, they just want it to work. That is what package manager promisses too, to not care about complexity of installation. Maven is not great example since it is dev tool. To use TV browser you dont even have to know about java.

[2019-10-20 10:59] ExE-Boss commented on #1315
I could probably get a pseudo‑virtual package to work by using the `chocolateyInstall.ps1` script and an extension to maintain a registry of provided virtual packages.

[2019-10-20 11:23] majkinetor commented on #1315
It can be done, but keep in mind that some solutions will be considered hostile, those that mess up with chocolatey internals such as package files directly etc.

I think it should be done (even in hostile manner) given that choco.exe has almost 0 improvements over years, low number of new features despite the high need, and no new devs (if you don't count trivials) despite general interest.

Anyw

[2019-10-21 08:20] #1336 closed

[2019-10-21 08:21] majkinetor commented on #1336
I finially used http://download.easeus.com/free/epm_e1125.exe as it is the latest one that fits.

[2019-10-21 08:26] majkinetor commented on #1342
What about still version ?

https://chocolatey.org/packages/libreoffice-still

6.2.7 vs current 6.2.8

[2019-10-21 09:00] majkinetor opened #1363 "(alldup) Embed package"

[2019-10-21 09:08] #1363 closed

[2019-10-21 09:26] majkinetor opened #1364 "(core extension) Function to stop process after installation"
There is frequentlly a need for stopping a process after installation. This function needs to be robust to handle following cases:

- Processs is not yet started but will be soon, so it needs to wait for it some time. It should not wait forever for process (timeout)
- It should have option to gracefully shutdown app and option to forcefully kill it
- It should return the path and arguments of the

[2019-10-21 09:31] majkinetor commented on #1330
I am not sure shim would suffice as it uses some parameters which could always be changed upstream. Check out the link generated by installer:

![image](https://user-images.githubusercontent.com/85767/67193795-2d5bb500-f3f6-11e9-83ea-29ddceb67b50.png)

[2019-10-21 16:16] #1358 closed

[2019-10-21 16:18] majkinetor commented on #1358
This will be published on next update.

[2019-10-21 16:59] ChipWolf commented on #1273
So, it looks like there's still issues with the checksum of this package and keeping it up-to-date. Maybe it's worth re-opening this to track progress?

[2019-10-21 17:00] ChipWolf commented on #1273
So, it looks like there's still issues with the checksum of this package and keeping it up-to-date. Maybe it's worth re-opening this to track progress? @AdmiringWorm @majkinetor

[2019-10-21 17:49] majkinetor commented on #1273
Yes, #1357

[2019-10-21 21:27] majkinetor commented on #1161
Tested latest version in chocolatey test environment with `cinst` then `cup -f` and it doesn't abort.

[2019-10-21 21:27] #1161 closed

[2019-10-22 07:45] Duracell1989 opened #1366 "(vscode) ContextMenu not working after upgrade"
I've installed VSCode via Chocolatey and this morning I've upgraded VSCode to 1.39.2 via `choco upgrade vscode`. After the installation, the ContextMenu in the Windows File Explorer doesn't work. The ContextMenu is available, but when I click _Open with Code_. I get an error message **Application not found**.
## Expected Behavior
VSCode starts.

## Current Behavior
Explorer.exe reports **Applicati

[2019-10-22 08:30] majkinetor commented on #1198
Reviewing this, I don't think this issue deserves more time. I encountered this behavior number of times with other packages too. Pre-existing installations on custom locations can sometimes mess up things. This concrete problem is related to symbols in executable name (#870) and thus is IMO something we can live with, especially as it can't be resolved quickly and benefit is very small.

I think

[2019-10-22 11:24] thendarion commented on #1198
yes, it is a very niche issue :D

is it worth providing a workaround for in the documentation?

[2019-10-22 13:36] majkinetor commented on #1198
Yeah, I will close this and add note in the chocolatey core extension.

Thanks.

[2019-10-22 13:36] #1198 closed

[2019-10-22 16:32] majkinetor commented on #1291
I used chocolatey test environment with the following script to test this. I used the same script 2 times, once with cygwin package and once with tcp-linkinfo package.

[code]

Here is the diff: https://ibb.co/KjYw2k8

It confirms your conclusion.

[2019-10-22 16:52] #1291 closed

[2019-10-22 17:10] majkinetor commented on #1315
I will close this as it seems there is nothing more to discuss. I also think this is the best option since Microsoft is one of the sponsors of the project and it looks like they are [ramping up](https://blogs.microsoft.com/blog/2019/08/19/microsoft-acquires-jclarity-to-help-optimize-java-workloads-on-azure/) their support for java.

[2019-10-22 17:10] #1315 closed

[2019-10-22 17:13] majkinetor commented on #1366
Cant confirm, I just upgraded on my own machine and it works:

[code]

Tried on chocolatey test environment with older version 1.35.1, after update to 1.39.2 everything context menu still works.

I will close this because even if its true, there is nothing we do in installer to influence this, so if it happens, its definitelly upstream problem.

[2019-10-22 17:13] #1366 closed

[2019-10-22 17:14] majkinetor commented on #1366
Its local problem, check if vscode is properly installed (can you find code.exe?)

[2019-10-22 21:27] majkinetor opened #1367 "(pencil) Doesn't have chocolatey user ?"
https://chocolatey.org/packages/pencil

https://ci.appveyor.com/project/chocolateycommunity/chocolatey-coreteampackages/builds/28302963
 [170/234] pencil ERROR:
     Chocolatey v0.10.15 Attempting to push pencil.3.1.0.nupkg to https://push.chocolatey.org Failed to process request. 'The specified API key does not provide the authority to push packages. This package may already exist and be owned by

[2019-10-23 06:10] gep13 commented on #1367
@majkinetor I have added the chocolatey user as a maintainer of this package.

[2019-10-23 06:10] #1367 closed

[2019-10-23 12:32] AdmiringWorm commented on #1357
I am looking into fixing this issue now.

Seems that spotify have updated their download page so we the parsing of the executable url isn't possible anymore (without some major magic for combining the url by reading the included javascript).

[2019-10-23 12:39] AdmiringWorm opened #1369 "(hostsman) website is down, requires changes to new website"
## Expected Behavior
Hostsman should be able to update to the latest version.

## Current Behavior
Due to the website we are using to detect new downloads is down, the updater no longer works.

## Possible Solution
Change the website to `http://www.abelhadigital.com/hostsman/` and rewrite the package to get the provided google drive links on that page.

[2019-10-23 12:39] #1357 closed

[2019-10-23 12:44] majkinetor commented on #1369
Unfortunatelly version is not obtainable without complete download becuase what is downloaded has different version then what is on site.

Plus, current version from file is rejected on gallery.

So this requires download each time. Its OK since its around ~2.5MB.

[2019-10-23 12:52] #1369 closed

[2019-10-23 13:01] AdmiringWorm commented on #1342
@majkinetor wget commented about this on the libreoffice-still package couple of days ago.

The tacit distribution policy of TDF is as follow: distribute LibreOffice immediately via its website, but after some (1-2 weeks) delay, the update service is notified of the new version.
This behavior allows to make sure (1) all mirrors have been synchronized, (2) reduce burden on the infra (we don't want

[2019-10-23 13:10] majkinetor commented on #1369
https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f#hostsman

[2019-10-23 13:18] AdmiringWorm commented on #1369
There isn't really necessary to download it every time, an implementation similar to how the spotify package is handled could also be done: https://github.com/chocolatey-community/chocolatey-coreteampackages/blob/4550f52c471748c5d483c81cd7819db556183c30/automatic/spotify/update.ps1#L21-L66

But since the file is so small, probably overkill to do that now.

[2019-10-23 13:54] #1155 closed

[2019-10-23 13:55] AdmiringWorm commented on #1155
This is now available in the repository, however it won't be available on chocolatey.org until the next version of vscode is released.

[2019-10-23 15:22] majkinetor commented on #1369
No it can't. Google doesn't allow HEAD method. I tried that first.

[2019-10-23 15:25] majkinetor commented on #1369
Well, somebody might have an idea about this: When I get redirected URL from the one update returns now, then Header contains file name with version (in `Content-Disposition`). However, without HEAD, I don't know how to get headers. The equivalent I need is starting downloading in browser then canceling it - if you do that in network tab @ developer tools you will get that header.

[2019-10-23 15:45] majkinetor commented on #1329
Can't confirm with 3.2.1 (and also in disucss comments)

Here is from my machine:

[code]

[2019-10-23 15:45] #1329 closed

[2019-10-23 16:02] AdmiringWorm commented on #1369
I see, I never checked if it allowed it or not.

Well, in theory you could use `System.Net.WebRequest`, but in any case the server would send the actual content to the machine, which is also true when you cancel a download (depending on the transfer encoding of course). But in the case of such a small file I would say it isn't needed.

[2019-10-23 16:07] #1351 closed

[2019-10-23 16:07] majkinetor commented on #1351
OK, this wont happen any more with this package (after next official update).

[2019-10-23 16:17] majkinetor commented on #1294
My opinion is that its better like this:

* I don't like editing 3rd party files. We take license as is from upstream location. There is also clausule in many licenses that you can redistribute software as long as you don't modify any files.
* There is already a location in file VERIFICATION.txt on the last line for each embedded package.

[2019-10-23 16:25] majkinetor commented on #1303
We could probably remove previous location so installer doesn't see existing version but I think that would break existing installations that use this as a "feature".

Besides, we can't guarantee beahavior of the package in such scenario. We test packages using blank Windows Server.

You can always mitigate the problem yourself, by doing exactly what I mentioned above in a script, before you cinst

[2019-10-23 18:23] AdmiringWorm commented on #1294
I agree with @majkinetor here. The license files should be equivalent to the ones found upstream, and IMO one of the reason for the `VERIFICATION.txt` file is to verify the included files, as such the url for the license should be defined there.

First time I have ever heard of it being strongly recommended, sure it is part of `choco new`, but as every other file created by that command it is just

[2019-10-23 18:25] AdmiringWorm commented on #1303
Agreed, that would most likely break previous installations, and IMO we really shouldn't do that.

The only thing I believe we could do is to report the actual installation that python was installed to. (ie, grab the existing install location before installing the package, falling back to parameter/default value if there is none).
Probably would need to output a warning in that case though, when a

[2019-10-23 18:26] AdmiringWorm commented on #1303
SHouldn't be closed yet though, until the reporting have been corrected.

[2019-10-23 18:47] mkevenaar commented on #1294
If you look at the license template when you run `choco new` the URL is actually on top:

https://github.com/chocolatey/choco/blob/master/src/chocolatey/infrastructure.app/templates/ChocolateyLicenseFileTemplate.cs

As core team I think we should set the example and update our LICENSE.txt files.

From my personal point of view I do agree with both of you.

[2019-10-23 19:26] pascalberger commented on #1294
I'm with @majkinetor and @AdmiringWorm on this one, that upstream files should not be changed (and in some cases it's also legally not allowed)

[2019-10-23 19:52] dodedodo33 commented on #1357
@AdmiringWorm Thanks for looking into this!

[2019-10-24 01:43] FranklinYu commented on #1294
I do agree with @majkinetor and @AdmiringWorm but the reality is that we have two parts of the system that don't agree with each other. Either we update the packages, or we update the template to move the URL from `LICENSE.txt` to `VERIFICATION.txt`, in order to stop confusing maintainers.

[2019-10-25 11:57] kinafu opened #1371 "(firefox) New logo"
Since the version 70 Firefox has a new logo (https://commons.wikimedia.org/wiki/File:Firefoxlogo,2019.svg).
Version 70 is available via chocolatey, it's just, that the new logo is not present on the [chocolatey entry for firefox](https://chocolatey.org/packages/Firefox).

An update of the logo of Firefox Browser in the chocolatey library would be nice.

[2019-10-25 15:36] #1371 closed

[2019-10-25 15:38] #1303 closed

[2019-10-26 04:18] FranklinYu commented on #1294
I created chocolatey/choco#1950

Thank everyone!

[2019-10-30 14:14] leesei commented on #763
I think this issue has to be reopened:
https://github.com/chocolatey-community/chocolatey-coreteampackages/blob/master/automatic/dropbox/dropbox.json

I'm surprised that the Beta build of Dropbox will be treated as stable. Luckily I recently learnt to identify beta build from the version number when I was hit by the following issue.
[Re: Dropbox icon stuck on starting - Dropbox Community - 331778]

[2019-10-30 14:56] #1078 closed

[2019-10-30 17:19] #1286 closed

[2019-10-31 20:11] HunterZ opened #1373 "Packages failing to install/upgrade due to chocolatey-core.psm1"
(???) Upgrade/install of some packages is failing with the following error message:
[code]

## Expected Behavior

Packages install/upgrade without error.

## Current Behavior

I get an error message:
[code]

## Possible Solution

I tried forcing a reinstall of chocolatey-core.extension, but it did NOT help.

## Steps to Reproduce (for bugs)

1. cinst -y --force notepadplusplus

## Context

Trying

[2019-10-31 20:13] HunterZ commented on #1373
The following files are in C:\ProgramData\chocolatey\extensions\chocolatey-core:
[code]

[2019-10-31 23:35] HunterZ commented on #1373
Used Chocolatey GUI to update the affected packages, and it worked fine. I wonder if CMD.EXE is invoking the wrong version of PowerShell or something?

[2019-11-01 16:55] Pro opened #1375 "(msys2) Install failing with `cannot change permissions of '/dev/shm'`"
## Expected Behavior
Using `choco install -y msys2 --no-progress --params="/InstallDir:C:/msys64/ /NoUpdate /NoPath"` it should install msys2

## Current Behavior
Installation fails with:

[code]

See also:
https://dev.azure.com/open62541/open62541/_build/results?buildId=613

## Possible Solution

The only solution I found for now is to pin the version to the older release `20180531.0.0`

I.e.:
`c

[2019-11-01 17:37] majkinetor commented on #1375
That happens to mee too, but it installs without any problems. Here is my output of your command

[code]

All executables seem to work fine after this.

So I can't confirm this.

[2019-11-01 17:40] majkinetor commented on #1373
I will close this as it is 99% some effect specific to your system. If it happens again to you let us  know here.

[2019-11-01 17:41] Pro commented on #1375
The problem here is (as you confirm) that there is an error message.

Many CI pipelines are configured in a way that they check for any stderr outputs. If they happen, something is wrong and CI fails.

Would it be possible to mute this error if it isn't relevant?

[2019-11-01 17:48] majkinetor commented on #1375
The problem is not error per se. Not sure why it shows, didn't dive into it as stuff seem to work nevertheless. The problem is that it stops as soon as it comes to it.

Maybe deleting first line of the chocolateyInstall.ps1 would help (`$ErrorActionPreference = 'Stop'`). If you could try that on your own it would be nice.

I can't influence the error apperiance since there is really nothing I do t

[2019-11-02 03:25] #1095 closed

[2019-11-03 00:42] ExE-Boss opened #1376 "(qbittorrent) Pushing v4.1.9.1 failed"
From https://github.com/chocolatey-community/chocolatey-coreteampackages/commit/dc506b9188c45afcf59ecc00365bbcfa42287e89 ([@⁠choco‑bot gist](https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/60877521f14193cf72b627630fa138744bd705d0#ignored)):

[2019-11-03 01:34] AdmiringWorm commented on #1376
Known issue, and the issue is already being tracked in the pinned issue #1217 .

Until the chocolatey.org issue https://github.com/chocolatey/chocolatey.org/issues/613 is fixed, this will continue to happend.

Unfortunately nothing we can do about it, and since it is a duplicate I will be closing this issue.

[2019-11-03 01:34] AdmiringWorm commented on #1376
Duplicate of #1217

[2019-11-03 01:34] #1376 closed

[2019-11-05 05:11] madcampos commented on #771
I'm having this issue. The installer is not run neither the scheduled task...
It is created (I can see it in the Task Scheduler window) but it is not called, just deleted.

Running it with `Start-Process` and the `-Wait` flag instead of using a scheduled task wouldn't work/be better?

I will try and test it and submit a PR if it works.

[2019-11-05 10:54] I-R opened #1378 "(git.install) Installation fails"
(git.install) Installation fails

## Expected Behavior
Installation works without issues

## Current Behavior
Installer script does not find Commandlets from chocolatey-core

## Steps to Reproduce (for bugs)
choco install -y -v git.install

## Context
Same is true for other packages (e.g. yed)

## Your Environment

* Package Version used: chocolatey-core.extension 1.3.3
* Operating System and vers

[2019-11-05 16:51] AdmiringWorm commented on #1378
Sounds like you have a rogue package library directory in the lib folder.

Look in the directory `%ChocolateyInstall%\lib` to see if there are any similarly named directories (only difference being that one have a version number, and another don't).

We you got any directories like that, try deleting the one with the version number (remember to back up the directory first, just in case), and then

[2019-11-06 06:37] I-R commented on #1378
Hey,
thanks for that. I only had the folder chocolatey-core.extension.1.3.3. After moving that away, installation of yed and git worked!

Just to be save - i also see folders:
PS C:\ProgramData\chocolatey\lib> ls .\chocolatey

    Verzeichnis: C:\ProgramData\chocolatey\lib\chocolatey

Mode                LastWriteTime         Length Name
----                -------------         ------ ----
-a----

[2019-11-06 19:19] Pro commented on #1375
That would definitely fix it, but then there is the problem that I would need to check the return code for every command.

I think the more precise question is, if the error comes due to the choco install, or if it is "normal" for msys2 on windows, i.e., unrelated to choco. For now I hardcoded the version to 2018 until this is fixed.

[2019-11-12 17:31] 07416 opened #1381 "(ffmpeg): "Protocol not found. Make sure ffmpeg/Libav is compiled with networking support." — compile FFmpeg with libssh"
## Expected Behavior
When running `mpv sftp://[user[:password]@]server[:port]/path/to/remote/resource.mp4`, the stream should start.

## Current Behavior
FFmpeg returns the error:

[code]

## Possible Solution
Compile ffmpeg with [libssh](https://ffmpeg.org/ffmpeg-protocols.html#libssh) (?), as suggested in the error message.
## Steps to Reproduce (for bugs)
1. Install [mpv](https://chocolatey.org

[2019-11-12 20:24] john3voltas commented on #1378
Hello,
I am also experiencing similar issues.
I have already uninstalled (removed choco's install folder) and reinstalled but it didn't help.
Windows 7 Pro (Spanish ISO).
Any help will be greatly appreciated.

C:\ProgramData\chocolatey>choco install git --force -y
Chocolatey v0.10.15
Installing the following packages:
git
By installing you accept licenses for the packages.
git v2.24.0 already inst

[2019-11-13 08:23] I-R commented on #1378
Well,
for me the suggested solution worked. I am no expert in that, i only did, what had been suggested and deleted the folder chocolatey-core.extension.1.3.3 and did a choco install -y git.

[2019-11-13 23:11] john3voltas commented on #1378
I see.
Well, that didn't work for me.
And I even went as further as completely removing chocolatey from my computer and that didn't work as well, hence why I decided to post here for help...

[2019-11-14 10:35] john3voltas opened #1382 "(git) Installation fails"
## Expected Behavior

I would expect the package to install just fine

## Current Behavior

While installing the package, I get an error message and stating that installation of git.install failed.

## Possible Solution

Already tried to follow the fix in this other open issue (https://github.com/chocolatey-community/chocolatey-coreteampackages/issues/1378) but it didn't fix the issue.
Could it be

[2019-11-14 10:39] john3voltas commented on #1378
I don't think our issue is related. So I decided to open a new issue and will take it from there.

[2019-11-14 11:35] majkinetor commented on #1381
We don't compile. Its upstream problem so report there.

[2019-11-14 11:35] #1381 closed

[2019-11-14 11:36] #1378 closed

[2019-11-14 14:41] Moth-Tolias commented on #1373
i'm getting this too, happening for np++ and qbittorrent.
what gets me is that the specified file [chocolatey-core.psm1] is right there, but i still get the error...

[2019-11-14 15:41] psfrolov commented on #1382
I experience the same error with various packages (only on Windows 7 with Powershell 2.0).

[2019-11-14 15:41] AdmiringWorm commented on #1382
I have verified that this is indeed a re-producible issue.

Seems to be something related to Powershell v2 compatibility (choco uses powershell when running install scripts even when you launch it through cmd).

Not yet figured out where the problem is, so still investigating that.

[2019-11-14 15:56] majkinetor commented on #1373
/cc @f

[2019-11-14 15:57] f commented on #1373
I have nothing to do with this 😅

[2019-11-14 15:57] majkinetor commented on #1382
Closing this as duplicate of #1373

[2019-11-14 15:57] #1382 closed

[2019-11-14 16:05] majkinetor commented on #1373
Nice catch @AdmiringWorm

[2019-11-14 16:46] john3voltas commented on #1373
Ok, I had this same issue and apparently I was able to workaround by simply:

What happens is that this way I upgraded the powershell and now even when I am invoquing choco from a CMD shell everything works just fine.

Please be advised that if you upgrade powershell through choco you may find an issue where Windows upgrades the powershell app and then it needs to restart but Windows apparently do

[2019-11-14 16:55] #1373 closed

[2019-11-14 16:58] AdmiringWorm commented on #1373
A new version of the [`chocolatey-core.extension`](https://chocolatey.org/packages/chocolatey-core.extension/1.3.5) have been pushed to chocolatey.org. Once that version have completed the automated checks, do the following:

1. First update the extension (`choco upgrade chocolatey-core.extension`)
2. Install the package you want.

Alternatively, you do as @john3voltas and upgrade powershell inste

[2019-11-14 19:22] john3voltas commented on #1373
Great work.
Thanks, @AdmiringWorm

[2019-11-15 03:54] TheCakeIsNaOH opened #1384 "(BeCyIconGrabber) Add a start menu entry"
## Expected Behavior

That there is a start menu entry created when the package is installed.

I think having it be an option via package parameters would be best, but having it create an entry be default would also work.

The per-user start directory for the current user does not need administrative privileges to write to, so that is probably where the shortcut should be located.

## Current Beha

[2019-11-16 00:25] HunterZ opened #1385 "(chocolatey-core.extension) Remove-Process doesn't actually do anything"
(chocolatey-core.extension) Trying to use Remove-Process in a script or directly in PowerShell results in nothing happening and no output, even with the Verbose parameter

## Expected Behavior

Process is stopped, I think? If that's not what it's supposed to do, then the documentation is confusing.

## Current Behavior

Nothing happening and no output, even with the Verbose parameter

## Possible

[2019-11-16 00:45] HunterZ commented on #1385
Ended up implementing my own solution for now that seems to work fine. I'm new at PowerShell, so apologies if it's crude:
[code]

[2019-11-16 00:55] AdmiringWorm commented on #1385
I don't really know where you find the usage of `-Verbose True`. There is no such argument in the function (and it isn't automatically added since it don't use the `CmdLet` attribute.

To get the verbose output when you are calling it manually (not inside a chocolatey package) you will need to set the variable: `$VerbosePreference="Continue"`.

However, it is never meant to be called manually outs

[2019-11-16 05:50] HunterZ commented on #1385
Now I'm even more confused:

First, the documentation right here says that you should be able to test any of the functions from PowerShell, which conflicts with the idea they should only need to work in a Chocolatey script: https://github.com/chocolatey-community/chocolatey-coreteampackages/tree/master/extensions/chocolatey-core.extension

Second, I tried it in a Chocolatey script and it didn't do

[2019-11-16 10:57] majkinetor commented on #1385
It shows:

[code]

So you can't use wildecard syntax such as `MSIAfterburner*`, but `MSIAfterburner.*`.

[2019-11-16 15:02] HunterZ commented on #1385
You can see in my original report that I tried both syntaxes. Also, the first style you mentioned absolutely works fine with both Get-Process and Stop-Process.

[2019-11-18 08:50] majkinetor commented on #1385
Your solution does not gracefully shut down applications, nor does it wait for them so its not really alternative.

If you can create example that I can replicate I could offer help, otherwise, this will be closed in few days.

[2019-11-18 09:36] AdmiringWorm commented on #1385
@HunterZ I did some minor testing with the lines that you posted initially, and I see the problem.

You are treating `switch` parameters as pure `bolean` value, this do not work.

Switch parameters do not accept a value (well not in that way anyhow). Remove the `True` value from `-Verbose` and `-WithChildren`.

It will work then, but you will still not get any output due to the `-Verbose` switch d

[2019-11-18 11:35] majkinetor commented on #1385
It actually works but requires special syntax: `-SwitchParam:$boolValue`

[2019-11-18 11:36] AdmiringWorm commented on #1385
@majkinetor which is why I mentioned

[2019-11-23 00:38] salarmehr opened #1387 "(apache-httpd) installLocation is not the apache root"
Specifying `installLocation` leads to a folder having the readme file and main apache folder.
Can we fix it so `installationLocation` should specify to a folder containing `bin` subfolder.

Also, the port is 8080 by default while the repo says it's 80

[2019-11-24 12:11] majkinetor opened #1389 "(vlc) Language parameter"
By default it starts on current OS language.
Here I think we should reverse it.

Language is stored at registry:

[code]

If this one is not present, it uses `auto` settings which default to current OS lang.

---

Parameter: `/Language[:code]`

I think we should reverse behavior here so thaat english is default, i.e. without /language it will apply english. Code 'auto' can be used for VLC default

[2019-11-24 12:18] majkinetor commented on #1389
Somehow I missed its already there.

[2019-11-24 12:18] #1389 closed

[2019-11-24 12:29] majkinetor commented on #1387
Port docs fixed (will be visible in next releaase)

Regarding installLocation, such is the vendor archive. I agree with you that original decision was bad. This can be changed, but it may be problematic to anyone who already uses current package. The parameter is also named wrong, it should have been `/InstallDir` as usual.

[2019-11-24 12:30] majkinetor commented on #1385
Closing this due to missing feedback (no reproducible problem provided).

[2019-11-24 12:30] #1385 closed

[2019-11-24 20:26] bcurran3 opened #1390 "(freevideoeditor) Prompts to uninstall during upgrade"
VSDC Free Video Editor 6.4.0 - prompts to uninstall during upgrade

![image](https://user-images.githubusercontent.com/14026600/69501010-8b782e00-0eb5-11ea-862f-fff563d3c40e.png)

![image](https://user-images.githubusercontent.com/14026600/69501004-74d1d700-0eb5-11ea-8542-c417b3f67ad7.png)

If not noted, it also pops up http://www.videosoftdev.com/free-video-editor/installation after install.

[2019-11-25 09:58] M0n7y5 opened #1391 "(msys2) Installation fails. Access to the path 'C:\msys64\msys64\var' is denied."
## Expected Behavior
Successful installation of msys2 package using this command:
`choco install -y msys2 --no-progress --params="/InstallDir:C:/msys64/ /NoUpdate /NoPath"`

## Current Behavior
Installation fails. Console output:
[code]

## Possible Solution
Dunno

## Steps to Reproduce (for bugs)
Run `choco install -y msys2 --no-progress --params="/InstallDir:C:/msys64/ /NoUpdate /NoPath"`

## Co

[2019-11-25 10:02] M0n7y5 commented on #1391
Also chocolatey.log

[code]

[2019-11-26 16:51] thetraumer opened #1392 "(Chromium) Stable version of the package is outdated"
The stable version of the chromium package has not been updated since June (the prerelease version is up-to-date)

## Expected Behavior
Stable release package is up-to-date (version 78 at the time of this writing)

## Current Behavior
The stable release is version 75

## Possible Solution
Kindly please update the stable version to the latest available

[2019-12-04 01:50] ExE-Boss commented on #1217
And&nbsp;once&nbsp;again “**qBittorrent**” [failed&nbsp;to&nbsp;be&nbsp;pushed](https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/036ec8dd27492037c739afc3d5c8304c93e51d31#ignored):

[2019-12-04 06:51] majkinetor commented on #1217
There are litterrary hundreeds of packages failing.

[2019-12-04 14:27] #1287 closed

[2019-12-08 17:17] holysaiyan1 opened #1395 "(Audacity) Stable version of the package is outdated"
The stable version of the Audacity package has not been updated since May 2019.

## Expected Behavior
Stable release package is up-to-date (version 2.3.3 at the time of this writing)

## Current Behavior
The stable release is version 2.3.2

## Possible Solution
Update the package to the latest version, available at https://www.audacityteam.org/audacity-2-3-3-released/.

## Context
I am trying to u

[2019-12-11 11:39] dakimaz opened #1396 "(Python) Chocolatey does not uninstall python 3.8.0"
Chocolatey does not uninstall python 3.8.0.

## Expected Behavior
Python 3.8.0 is uninstalled

## Current Behavior
Python 3.8.0 is not uninstalled

## Command output
C:\WINDOWS\system32>`choco install python --version=3.8.0 --force`
Chocolatey v0.10.15
Installing the following packages:
python
By installing you accept licenses for the packages.
python v3.8.0 already installed. Forcing reinstall of

[2019-12-11 12:38] AdmiringWorm commented on #1396
Not really surprised, as you only uninstall the meta package (`python`) and not the actual installation package (`python3`).

Either pass in `-x` when uninstalling the meta package, or directly uninstall the `python3` package.

[2019-12-11 14:12] dakimaz commented on #1396
How is `choco uninstall python --version=3.8.0` only uninstalling the meta package?
Is that really expected behavior?
`choco uninstall python -x --version=3.8.0` seems to solve the issue, but it throws a lot of errors:

C:\WINDOWS\system32>choco uninstall python -x --version=3.8.0
Chocolatey v0.10.15
Uninstalling the following packages:
python
[NuGet] 'chocolatey 0.10.15' skipped, because it is in

[2019-12-11 15:39] AdmiringWorm commented on #1396
Yes, as long as the meta package don't have a dependency on a `.install`/`.portable` package, then that is expected.

That exit code is usually related to your environment, possibly you got python running so it is locking the python executable, or there are something else locking the files/directory of the python installation.

That is only an assumption from me though.

In the end though, this is

[2019-12-11 15:39] #1396 closed

[2019-12-12 09:58] run2cmd commented on #1392
+1

[2019-12-12 10:54] AdmiringWorm commented on #1392
If we are to update the package, that would mean that we need to look elsewhere for an more up to date version, which would be fine in most cases.

In this case though, if we were to update from a different place (like wolyss, which actually just puts links to other places), this would mean that some functionality in the current 75 version available won't be available in future versions (mostly re

[2019-12-17 16:07] Ginko77 opened #1397 "(LockHunter) Need update"
LockHunter need to update

## Expected Behavior
Need update

## Possible Solution
Update

[2019-12-18 10:01] jerome-benoit opened #1398 "(gpg4win) The term 'touch' is not recognized as the name of a cmdlet"
## Current Behavior

Install or upgrade failure due to:

[code]

## Possible Solution

Use New-Item or echo >> or ... but an existing Windows commands, nor an alias.

## Your Environment

* Package Version used: v3.1.11
* Operating System and version: Windows 10
* Chocolatey version: current stable

[2019-12-19 03:19] #1397 closed

[2019-12-19 03:20] AdmiringWorm commented on #1397
@Ginko77 thank you for letting us know that lockhunter is outdated, I have queued a new version of the application to get pushed to chocolatey.org and it should be available in a few hours.

[2019-12-19 03:33] AdmiringWorm commented on #1398
Seems that the helper module used don't expand the `touch` command, as it isn't detectable as an alias.

Opened https://github.com/WormieCorp/Wormies-AU-Helpers/issues/30 as a cross-reference.

[2019-12-19 03:39] AdmiringWorm commented on #1395
Unfortunately, because the Audocity team is using `fosshub` as the only way to get new releases, we need to wait until the version is provided on other file shares hosts.

Right now we are using [filehippo](https://filehippo.com/download_audacity/) to detect and download the latest versions for Audacity, but unfortunately they have not yet updated the software there.

We may switch to a different

[2019-12-24 12:06] holmesb opened #1400 "chocolatey-core.extension v1.3.5.1 fails to install behind proxy"
Installing using command:
choco install --force chocolatey-core.extension -y --version 1.3.5.1
fails with error:
"The remote server returned an error: (403) Forbidden. URLBlocked"

Installing prior version works fine:
choco install chocolatey-core.extension -y --version 1.3.5

Also installing v1.3.5.1 when not behind a proxy server works fine.

[2019-12-30 21:17] jerome-benoit commented on #1395
I fail to understand why using fosshub is an issue.
You can't extract the links on https://www.fosshub.com/Audacity.html, extract from them the latest version and the download link for the windows version ?

[2019-12-30 21:25] AdmiringWorm commented on #1395
@jerome-benoit yes, the links *can* be extracted from fosshub, but there are also other counter-measures implemented by fosshub to try denying automatic downloads (not going to go into what here).

See https://github.com/chocolatey/package-validator/wiki/ScriptsDoNotDownloadFromFossHub for some explanation. While that link is a rule for submitted packages, we also follow that rule for updating pac

[2019-12-30 21:35] jerome-benoit commented on #1395
I see. If someone knows a good files download provider that is up to date for audacity, I can make the change and do a PR. But the file provider should really be as good as file hippo: no installer overload with ads and other craps, no user agent filtering policy, etc.

Regards.

--
Jérôme Benoit aka fraggle
Piment Noir - https://piment-noir.org
OpenPGP Key ID : 27B535D3
Key fingerprint : B799 BBF

[2019-12-30 22:35] AdmiringWorm commented on #1400
Sounds like your proxy are getting blocked by `chocolatey.org`, you will need to contact the chocolatey staff for resolving this (https://chocolatey.org/contact).

Bottom line, this is not a package issue so I will be closing this issue.

[2019-12-30 22:35] #1400 closed

[2019-12-30 23:05] AdmiringWorm commented on #1384
Unfortunately it is not possible to update the `becyicongrabber` package anymore, as the website for the software no longer exist.

Thus I will be closing this issue. If there ever is a change in the website status, then please let me know I we can open this issue again.

[2019-12-30 23:05] #1384 closed

[2019-12-31 16:04] jack1142 opened #1404 "(mpc-hc-clsid2) Package failed automated validation"
(I'm not going to follow issue template, since it doesn't seem to work well for this kind of issue)
Hi, here's maintainer of `mpc-hc-clsid2` that is placed in this repository. I got an email about the package failing automated validation due to invalid url in `DocsUrl` element in nuspec. I noticed 2 things though, firstly I don't see 1.9.0 update in this repository, last update to the package was

[2020-01-02 18:28] AdmiringWorm commented on #1404
@jack1142 The failure is because of cloudflares DDos protection. The url can only be accessed through a web browser (or at least something that runs javascript, and don't trigger a failure in their ddos check).

Not sure what appropriate changes we should make regarding this though, most likely we'll have to remove the Documentation url. At least until the validator can handle those kind of urls,

[2020-01-02 18:29] AdmiringWorm commented on #1404
Most likely, we got an origin time-out during the push.
It usually goes through in these cases, but is detected as an error by AU and won't update the repository. (Not really that important, and the detection is correct)

[2020-01-08 14:05] damphyr commented on #1176
Just in case someone stumbles on this: This is exactly the behaviour the msys2 installer exhibits when installed via the choco_package resource in Chef as well.
In that case it will install succesfully, exit but choco never exits and the process hangs indefinitely.