[2020-01-08 14:41] gep13 commented on #1404
@jack1142 this package version has now been approved.  Thanks for raising this issue with the package-validator.

[2020-01-08 14:41] #1404 closed

[2020-01-09 12:02] FreeMinded opened #1409 "(firefox) extend package to integrate the installer command-line options"
The Firefox Installer support a range of command-line options [1]. This package currently has no support for them. The command-line options are useful i.e for defining if a desktop shortcut should be created, if the configurations set through distribution/policies.json should be kept and a few more.

## Expected Behavior
Command-line Options can be passed to the installer through the --params mech

[2020-01-09 12:31] FreeMinded commented on #1409
We actually offer to create a pull request for this if there is a reasonable change to get it approved.

[2020-01-09 21:01] AdmiringWorm commented on #1409
Feel free to open a PR to add this functionality.

As long as all the changes follow our [Contrubution Guidelienes](https://github.com/chocolatey-community/chocolatey-coreteampackages/blob/master/CONTRIBUTING.md) there are a high likelihood that it will be accepted.

Be aware that it can take time sometimes before a PR is pulled in, mainly because the main maintainers here is doing all this on the

[2020-01-11 03:18] ImportTaste opened #1410 "(python3) Split python3 major versions into separate packages"
Very rarely is upgrading to the latest stable release on the day it comes out a good idea, because most python package developers are not preparing for it by testing against the alpha. Most are one major release behind, with Python 3.8 still not supported by any different packages even though it's been out for months now.

Python keeps roughly 3 to 4 major versions up to date all at once due to th

[2020-01-11 17:44] majkinetor commented on #1410
This is a job for choco.exe, not this place (pinning to version but allowing certain updates). Doing that on package level seem to only make entropy worse.

For now you can create shell script that implements this (its trivial) and use it instead choco directly.

[2020-01-11 17:54] majkinetor opened #1411 "(python2) move to manual folder"
AFAIK python2 wont have updates any more.

[2020-01-11 18:33] AdmiringWorm commented on #1411
python 2 is still in active support (most likely will be until this year is over).

version 2.7.18 is planned to be released mid april or something around that.

https://www.python.org/dev/peps/pep-0373/

[2020-01-11 18:36] #1411 closed

[2020-01-12 03:00] ImportTaste commented on #1410
I don't think that's the answer. Most Linux distros have different repos for different versions of Python3, with the main python3 pointing to a stable that is usually two versions behind the latest.

It should probably be the same on choco, with python3 being a virtual package much like python, pointing to a major version that's one version behind latest, and then having python36 python37 python38

[2020-01-12 03:09] AdmiringWorm commented on #1410
@ImportTaste I am curious of which distros you have seen doing this.

I have used my fair share of different linux distros, and I can not remember a single time when they have provided different packages for major.minor versions of the python package.
At most, they provide a python 3.x and python 2.x package (not named that way of course), some don't even do that and only provide a single package.

[2020-01-12 03:12] ImportTaste commented on #1410
Debian.

I think that's a bit hyperbolic.

[2020-01-12 03:26] AdmiringWorm commented on #1410
Sure, debian do this. But only for the library, not the full package. Basically just enough so existing pre-compiled softwares can run (possibly also compile, I dunno as I am not a python dev).

That is a moot point, as most distros dependent on debian provide their own package repository, and some aren't even compatible with the debian package repository (yes, some are compatible, like Ubuntu for

[2020-01-12 03:32] AdmiringWorm commented on #1410
Btw, just to make sure I actually checked the official debian package repository (for the latest buster edition).
The only one it got there for python 3.x range right now is 3.7 (at least from what I could find). Not 3.6, 3.5, 3.4, etc.

[2020-01-12 04:27] ImportTaste commented on #1410
Check the oldstable repo.

[2020-01-12 09:10] majkinetor commented on #1410
Let me be really concise:

- Lots of work for very small improvement (or, if we make it standard, its enormous work for next to 0 benefit)
- Repository client (choco.exe) needs to have this option like almost EVERY other
- You can make 5 line script (I did it for me) to mitigate this.

No brainer for me.

[2020-01-12 21:16] ImportTaste commented on #1410
Forgive my ignorance, but wouldn't it just be a matter of splitting up what you already automate? It seems like it would be pretty easy to just regex search https://www.python.org/ftp/python/ and then the subfolder.

[2020-01-13 07:17] burfo opened #1412 "(winscp) WinSCP.com should get a shim"
## Expected Behavior
With winscp.portable (and likely winscp.installer too), the file WinSCP.com should get a shim.

## Current Behavior
WinSCP.exe gets a shim during installation, but WinSCP.com doesn't.

## Context
WinSCP.com is the console-only version which can be used in automated scripts, etc.  It's possible to use `WinSCP.exe /console` for some situations, but exit codes don't work the same

[2020-01-13 14:00] laurin1 opened #1413 "GitExtensions 3.3.1 - Installing v3.3.0 instead"
[code]

[2020-01-13 21:44] soul4soul opened #1414 "KB3035131 "WARNING: User (you) cancelled the installation." when install over openssh"
Unable to install KB3035131 over openssh on Windows-7-x86. This package is a dependency of  vcredist140. openssh is configured to use windows powershell 5.1 as the default shell. I am able to install other packages using choco over openssh. The account being used has administrator privileges. When physically logged (RDP or physically at the machine) onto the machine running `choco install -y KB303

[2020-01-13 22:57] tescales commented on #1186
This remains an issue as of 1/13/2020, JFYI. Reading thru the GH issues it appears the problem is with 1password's installer, which attempts a second-order privilege elevation even when executed from an administrative prompt. I can confirm this happens on Win10-1909.

[2020-01-16 09:12] rgl opened #1415 "virtualbox package cannot download installer due to 404"
## Current Behavior

[code]

## Possible Solution

The virtualbox URL has changed to https://download.virtualbox.org/virtualbox/6.1.2/VirtualBox-6.1.2-135663-Win.exe

[2020-01-16 11:37] AdmiringWorm commented on #1415
This had already been reported and responded to before you opened this issue, please see https://chocolatey.org/packages/virtualbox#comment-4759092851

TL;DR: A fix version is already pushed that fixes this issue.

[2020-01-16 11:37] #1415 closed

[2020-01-17 09:57] QNimbus commented on #1186
I can confirm this issue. I was able to work around it by running :

`choco install 1password -f -not-silent`

[2020-01-18 21:15] eyadsibai commented on #1258
I am getting similar error with brave too

[2020-01-18 21:55] majkinetor commented on #1258
Similar?

[2020-01-19 17:13] eyadsibai commented on #1258
same exit code when trying to upgrade or reinstall

[2020-01-20 21:23] majkinetor commented on #1412
Duplicatet: https://github.com/chocolatey-community/chocolatey-coreteampackages/issues/1134

[2020-01-20 21:29] majkinetor commented on #1414
Looks like there was some popup somewhere (didn't run elevated for some reason?).

[2020-01-20 21:43] majkinetor commented on #1413
Sorry, its unfixable due to #1217. ([build](https://ci.appveyor.com/project/chocolateycommunity/chocolatey-coreteampackages/builds/30244393)) - all updated embedded packages errored on push, even tho this one is only ~20MB

[2020-01-20 22:47] AdmiringWorm commented on #1413
Seems the updated 3.3.1 version was actually pushed to chocolatey (and is available for consumption).

Regarding the 3.3.0 version in the 3.3.1 release, this was the executable provided by the developers when they created the 3.3.1 tag (I assume that it was just incorrectly named, or not fully updated to the correct version).

Anyways, closing this issue as the latest version contains the latest e

[2020-01-20 22:47] #1413 closed

[2020-01-21 03:52] burfo commented on #1412
@majkinetor do you want me to close this one and open #1134, or leave this one open?

[2020-01-21 10:40] majkinetor commented on #1412
All is fine.

[2020-01-21 20:19] laurin1 commented on #1413
FYI, our automated scripts will not be update to update the machines because of this:

C:\windows\system32>cup gitextensions
Chocolatey v0.10.15 Business
Upgrading the following packages:
gitextensions
By upgrading you accept licenses for the packages.

You have gitextensions v3.3.1 installed. Version 3.3.1.20200120 is available based on your source(s).
Progress: Downloading git 2.17.1.2... 100%
g

[2020-01-21 20:21] AdmiringWorm commented on #1413
@laurin1 this is something that happens from time to time, and is covered in the chocolatey documentation: https://chocolatey.org/docs/troubleshooting#already-referencing-a-newer-version-of-packagename

[2020-01-21 20:25] laurin1 commented on #1413
I am aware that it can happen and how to fix it, but it breaks automated update scripts when it does, was all I was saying.

[2020-01-22 16:16] rasa commented on #1395
Why not scrape https://www.audacityteam.org/ or https://fossies.org/windows/misc/ and download from https://fossies.org/windows/misc/ via https://fossies.org/windows/misc/audacity-win-2.3.3.exe/ or https://fossies.org/windows/misc/Audacity-2.3.3.zip/ ?

[2020-01-22 16:18] rasa commented on #1395
How about scraping https://www.audacityteam.org/ or https://fossies.org/windows/misc/ and downloading from https://fossies.org/windows/misc/ via https://fossies.org/windows/misc/audacity-win-2.3.3.exe/ or https://fossies.org/windows/misc/Audacity-2.3.3.zip/ ?

[2020-01-23 19:58] jerome-benoit commented on #1395
Sounds good. I will do a PR when time permits.

--
Jérôme Benoit aka fraggle
Piment Noir - https://piment-noir.org
OpenPGP Key ID : 27B535D3
Key fingerprint : B799 BBF6 8EC8 911B B8D7 CDBC C3B1 92C6 27B5 35D3

[2020-01-24 15:23] jerome-benoit commented on #1395
I've tried to use the URLs previously given for audacity:

* The content parsing to get latest version is working,
* The exe installer downloading is not working within PowerShell chocolatey HTTP client: HTTP 403. Looks like the site is not tolerating some user agent string ...

I do not know what is the chocolatey policy but I bet it's not to fake UA to a more acceptable one to work around it.

[2020-01-25 02:19] AdmiringWorm commented on #1395
@jerome-benoit while it would be preferable to not fake the UA, we don't really have any rules regarding not doing that.

If that is what is needed, then it is fine.

[2020-01-25 06:48] jerome-benoit commented on #1395
How doing it within the chocolatey powershell code ? Is there a runtime tunable that permit to set the UA string during update check and install PS scripts ?

--
Jérôme Benoit aka fraggle
Piment Noir - https://piment-noir.org
OpenPGP Key ID : 27B535D3
Key fingerprint : B799 BBF6 8EC8 911B B8D7 CDBC C3B1 92C6 27B5 35D3

[2020-01-25 07:51] rasa commented on #1395
I don’t think it’s the UA. I think it’s the Referer header. See https://github.com/lukesampson/scoop-extras/issues/368#issuecomment-287621674

[2020-01-25 09:30] jerome-benoit commented on #1395
OK, but still, how to set the headers content for all requests during update and install ?

--
Jérôme Benoit aka fraggle
Piment Noir - https://piment-noir.org
OpenPGP Key ID : 27B535D3
Key fingerprint : B799 BBF6 8EC8 911B B8D7 CDBC C3B1 92C6 27B5 35D3

[2020-01-26 08:52] majkinetor commented on #1395
You don't need it during install, this is embedded package. So you do it in AU, not during update or install.

AU has options for it and Invoke-WebRequst has it.

[2020-01-26 13:31] jerome-benoit commented on #1395
Maybe you can just give us the options for settings the referrer in headers with Update-Package  ?

Because I don’t need it in global:au_GetLatest with Invoke-WebRequest, only during the download with Update-Package and reading https://github.com/majkinetor/au/blob/master/AU/Public/Update-Package.ps1 <https://github.com/majkinetor/au/blob/master/AU/Public/Update-Package.ps1> do not give straight a

[2020-01-26 18:12] majkinetor commented on #1395
https://github.com/majkinetor/au#cant-validate-url-error

Options are used with Get-RemoteFiles that u use in au_BeforeUpdate to produce embedded package and when checking URLs. Thats all you need.

[2020-01-27 15:50] jerome-benoit commented on #1395
I've been able to have URL check working and get the remote version from fossies.org. The Get-RemoteFiles is still not working but I can't do more tests because I've done too much requests on fossies.org to find out the right headers needed and my IP seems to be temporary (I hope) blacklisted. I do not have a VPN. The code is here https://github.com/jerome-benoit/chocolatey-coreteampackages in the

[2020-01-28 21:07] jerome-benoit commented on #1395
My public IP is still blacklisted and I'm afraid it's not going to change anytime soon. So until I'm able to free some time to test my latest change at my work place, if someone is kind enough to test my audacity update.ps1 changes because it might work, I've just not been able to test the referrer change done before calling Get-RemoteFiles.

[2020-01-29 01:20] AdmiringWorm commented on #1395
@jerome-benoit could you open what you have currently as a draft PR?
This way we can make changes if there is a need to.

[2020-02-02 17:11] YAMLcase opened #1420 "(inkscape) Add support for beta releases"
## Expected Behavior
Please add beta support for Inkscape.

## Current Behavior
Inkscape 1.0 beta was released in December 2019.  It will container lots of major improvements, including official theme support (dark themes).

## Context
Those of us with sensitivity to light are always looking for a way to darken our applications.  Inkscape never had official support for theme-ing instead relying on

[2020-02-02 17:14] yamlCase commented on #1420
Release page:
https://inkscape.org/release/1.0beta2/windows/

[2020-02-03 12:32] JohnEricson commented on #1387
I discovered this in the package yesterday, and I've fix this by modifying the package to not create the `Apache24` directory. I would love to have my fix included in the official package and I can do a pull request if you are interested. I solved it by adding a `/noApacheDir` option, so the package should be perfectly backward compatible.

The problem was that I wanted to install apache in the `C

[2020-02-03 14:07] majkinetor commented on #1387
This looks terrible, and is not intuitive and nobody does that ever :)

I will accept PR that works as this:

- It should install in the dir provided, not subdir, always, by default it should install the current way.
- `installLocation` should be also provided as `installDir` which is standard

There is no need for any mumbo jumbo sush as `/noApacheDir`.

[2020-02-03 14:08] majkinetor commented on #1387
This ofc breaks compatibility for those that used this param which is IMO better then mumbo jumbo. We could depricate current package.

[2020-02-03 15:39] JohnEricson commented on #1387
So let me make sure I understand you correctly =) The pull request should change the package so:

`choco install apache-httpd -y --params '"/installDir:C:\myapp\apache`

or:

`choco install apache-httpd -y --params '"/installLocation:C:\myapp\apache`

installs to `C:\myapp\apache`, and:

`choco install apache-httpd -y`

installs to same directory as before which is `$Env:AppData\Apache24`.

[2020-02-03 16:42] majkinetor commented on #1387
Yes.

I believe that is the best approach.  That way,

- those that didn't specify custom location will have the same thing (majority)
- those that did are minority and for them it will break (NOTE would be required if current package is used).

You simply `if ($pp.InstallDir) { unwrrap the folder after install and before everything else } else { keep the same }`

This is relateivelly new package

[2020-02-03 17:05] JohnEricson commented on #1387
👍 Sounds good! I'll modify my changes to work like that and let you know when I have a pull request ready for this issue.

[2020-02-04 04:44] timkatje commented on #1258
This behavior has just started on my system as well.  Brave is automatically updating itself to keep up with the latest, and since I have Chocolatey Pro, it should be syncing and detecting the updates, but I've found that's usually not the case with auto-updating browsers (Chrome seems to have the same issue on my systems).

Anyway, Brave was installed by chocolatey at version 1.0.1, and Chocolate

[2020-02-04 09:42] #1009 closed

[2020-02-04 10:27] serializable opened #1421 "(paint.net) install fails silently"
## Expected Behavior
Paint/net should be installed

## Current Behavior
 The logs aren't very helpful - they say the installer exited with code 0 (success) but then when chocolatey went looking for signs that the app installed successfully it couldn't find anything.

Looking in the Windows event log, the installer crashed with this exception:

 Application: SetupFrontEnd.exe
Framework Version: v4.

[2020-02-06 22:31] pgalbraith opened #1423 "cmake needs to be updated"
[cmake](https://chocolatey.org/packages/cmake) needs some moderator attention, the current pusblished version is 3.16.4.  3.16.3 has been uploaded but is stuck in moderation waiting for attention.

[2020-02-08 17:50] viceice opened #1424 "(python3) install error: Cannot bind argument to parameter 'Path' because it is null."
Trying to update or install python3 generates an error after windows installer finished.

## Expected Behavior
Successfully install python3

## Current Behavior
Install python and then fails with an error

## Possible Solution
I think there should be a `null` check in the `chocolateyInstall.ps1`

## Steps to Reproduce (for bugs)

1. `cinst python3`

## Context

![image](https://user-images.githubu

[2020-02-10 06:17] Technetium1 opened #1425 "(FreeCAD) Needs updated"
FreeCAD package: https://github.com/chocolatey-community/chocolatey-coreteampackages/tree/master/automatic/freecad

Current releases: https://github.com/FreeCAD/FreeCAD/releases

[2020-02-10 23:44] AdmiringWorm commented on #1424
From looking at the logs (and the version of python3 that you are trying to install according to the logs) this do not look like the issue is originating from the python3 package, but rather from the "chocolatey-core.extension" package.

@ViceIce can you run `choco list -lo | ? { $_ -match "chocolatey-core.extension" }` and tell us the installed version of that package? (Could be beneficial to als

[2020-02-10 23:51] ViceIce commented on #1424
[code]
No multiple packages

[2020-02-10 23:53] ViceIce commented on #1424
Now updated to windows 10 1909 build 18363.

[2020-02-11 00:06] AdmiringWorm commented on #1424
I see. I was kinda hoping it was a problem with picking the wrong version of that package, no such luck I guess.

As I am unable to reproduce the result on my end, I need your help further here.

Can you try running the following in powershell (I believe this command it the cause of the failure).
[code]

I don't need the output, just whether that command fails or not (will need the error message i

[2020-02-11 09:00] ViceIce commented on #1424
![image](https://user-images.githubusercontent.com/1798109/74222666-4cd46180-4cb5-11ea-803e-31a53296092a.png)

[2020-02-12 11:21] CWempe opened #1426 "(Total Commander) update to 9.50"
There is a new version of Total Commander with many new features (including dark mode).

I would appreciate an update for this package.

https://chocolatey.org/packages/TotalCommander
https://www.ghisler.com/download.htm

[2020-02-14 12:02] pauby opened #1427 "(kitty) kitty.exe (0.73.2.3) 6 Virus Total detections"
The [kitty package](https://chocolatey.org/packages/kitty) has been reported as having a [high number of Virtual Total detections](https://chocolatey.org/packages/kitty/0.73.2.3#virus). The [kitty.exe file has 13](https://www.virustotal.com/file/dd6bb61464beee6787ff01b0eb35505b1aead6fa8aa910fe67a179435158109c/analysis/) (you'll need to click through the link to see the new number).

Can somebody c

[2020-02-14 13:03] Tortoise17 opened #1428 "(gomplayer) No mp4 working after this version now."
with your update, the mp4 is no more play-able. it demands for codecs. I am not successful which codecs needs to be installed with GOM. can you guide?
or is this a bug?

[2020-02-14 15:01] pauby commented on #1427
As an update I re-ran the virus scanner on the package (thanks @mkevenaar) and it's now reporting 2 on the site but 15 in VT.

[2020-02-15 00:15] pgalbraith commented on #1423
There's now 4 versions of this package stuck in moderation with "waiting for maintainer" status.

[2020-02-15 21:52] Szeraax commented on #1421
same, but on windows 10 1903.

[2020-02-17 14:46] FreeMinded commented on #1409
I just updated the PR to reflect the current FF version. Any chance we can get this reviewed before the next release?

[2020-02-17 16:01] pauby commented on #1427
I've rejected the package version in the meantime.

[2020-02-18 14:36] majkinetor commented on #1428
GOM requires codecs AFAIK, via any install. There is nothing we do for that.

[2020-02-18 14:42] majkinetor commented on #1426
For some reason we look here:

https://www.ghisler.com/amazons3.php

And it isn't updated.... Seems like an upstream problem.

[2020-02-18 14:48] #1426 closed

[2020-02-18 14:49] majkinetor commented on #1426
Changed to official place.

FYI, there is my package with dark theme

https://chocolatey.org/packages/tcc-unlit

[2020-02-18 14:52] majkinetor commented on #1427
You should undo that, only 4:

[code]

[2020-02-18 20:45] majkinetor commented on #1425
[FreeCAD 0.18.16146](https://chocolatey.org/packages/freecad/0.18.16146) is actually as it points to `FreeCAD-0.18.4.980bf90-WIN-x64-installer.exe` which IS [latest realease](https://github.com/FreeCAD/FreeCAD/releases/tag/0.18.4) on Github ATM.

Now, we have a versioning bug here, don't know what happend here and where 16146 comes from (there is actually a Linux file name containing that string o

[2020-02-20 07:28] majkinetor commented on #1421
I can't confirm this. I am using it all the time on multiple machines on W10. Its upstream problem and probably related to your own setup.

I sugest you check if it works via Windows Store. You could also try if portable version changes something. https://portableapps.com/node/26591

[2020-02-20 07:37] majkinetor commented on #1424
This is relevant part of the log:

[code]
This fails in `Get-AppInstallLocation.ps1#L66-L71`:
https://github.com/chocolatey-community/chocolatey-coreteampackages/blob/9c54d6d96977712a8b33ab652111a4a83f240988/extensions/chocolatey-core.extension/extensions/Get-AppInstallLocation.ps1#L66-L71

The only thing that can fail there is `Split-Path $_.Source`. Now, since you shown that it works, I guess yo

[2020-02-20 07:42] viceice commented on #1424
Ah, i see:
![image](https://user-images.githubusercontent.com/1798109/74911418-d7574800-53bc-11ea-9302-ecf944092cf9.png)

Maybe source is only a table display parameter?

[2020-02-20 07:43] viceice commented on #1424
![image](https://user-images.githubusercontent.com/1798109/74911553-1e453d80-53bd-11ea-9870-fa30af1ab965.png)

🤔

[2020-02-20 08:28] majkinetor commented on #1424
No.

Try what I said, change file
* `C:\ProgramData\Chocolatey\lib\chocolatey-core.extension\extensions\Get-AppInstallLocation.ps1`

Then restart shell and try again.

[2020-02-20 08:36] #1423 closed

[2020-02-20 08:38] majkinetor commented on #1423
https://chocolatey.org/packages/cmake/3.16.4.20200220

[2020-02-20 18:41] majkinetor commented on #1423
Nah, I give up, you will have to wait for new version. When I finally got the syntax right, it failed due to #1217...

[2020-02-21 20:04] pgalbraith commented on #1423
Hmmmm, if it's still an issue, which it seems to be, shouldn't the issue be left open?

[2020-02-22 00:03] majkinetor commented on #1423
I made it:

* https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/4ed0f8547f0977d4fc0b6cc0f93925b983e0936b#pushed

[2020-02-22 01:37] blowsfire commented on #1427
.

[2020-02-23 03:01] RedBaron2 commented on #1425
@majkinetor @Technetium1

The first 0.18 release of FreeCAD (16093) was published on 2019-03-12. The latest bug fix release 0.18.4 (16146) was published on 2019-10-26. To find out what's new, see the [release notes](https://www.freecadweb.org/wiki/Release_notes_0.18).

The version bug is due to PR #1377

[2020-02-23 09:21] majkinetor commented on #1425
So it was my bad :)

Thanks for clarifying it.

[2020-02-24 10:50] pauby commented on #1427
It's now currently at 6 for `kitty.exe` for version 0.73.2.3

[2020-02-24 11:47] majkinetor commented on #1427
Could you explain the treashold on numbers you guys use ?

[2020-02-25 11:38] vattybear opened #1431 "(python3) opt out of setting install folder for admin access only"
Python3 installation from January 2020 (3.8.1.20200110) is setting the install directory (typically c:\python38) to be readonly for non-admin users.

Users who do a choco upgrade will now find their previous installation is no longer working as intended.

This breaks existing users / usability and then causes a cascading set of issues which make it hard to recover from without administrator interv

[2020-02-27 08:44] #1427 closed

[2020-02-27 08:44] #1428 closed

[2020-02-27 08:45] majkinetor commented on #1425
I will close this as there is nothing more to do.

[2020-02-27 08:45] #1425 closed

[2020-02-27 08:46] #1414 closed

[2020-02-27 08:47] majkinetor commented on #1410
I will close this as there isn't anything more to discuss.

[2020-02-27 08:47] #1410 closed

[2020-02-27 08:48] #1398 closed

[2020-02-27 08:48] #1395 closed

[2020-02-27 12:54] SANCLA opened #1433 "(cutePDF) SHA256 hash outdated"
SHA256 hash outdated for CutePDF Writer installer:
http://www.cutepdf.com/download/CuteWriter.exe

Update the sha256 hash string:
OLD:
de1ab47d7e5d6533c75c7f09205e465f99b534ed5024aa84f5ff91a9e4eea242
NEW:
a3ed14ee41ec4d6300dd4e9eddd96e3dacf721d576b0b8c616718764e3682fbd

Change pull request:
#1432

[2020-02-29 09:38] casz opened #1434 "[vscode.install] do we really need to depend on dotnet 4.5.2?"
https://github.com/chocolatey-community/chocolatey-coreteampackages/blob/2118b0cf93bf76a56979a156434b3cc1b56dc2e8/automatic/vscode.install/vscode.install.nuspec#L48

I do not think there is a need for vscode.install to depend on dotnet 4.5.2 as https://code.visualstudio.com/docs/setup/windows states:

Perhaps it would be better to check the registry and suggest user to install if `4.5.2` or higher

[2020-02-29 12:29] mkevenaar commented on #1434
@casz If you take a look at the code of the [package](https://chocolatey.org/packages/dotnet4.5.2#files), and expand the `ChocolateyInstall.ps1` file, you'll notice that it will only install .NET Framework 4.5.2 if the registry key does not exist.

Packages in the Chocolatey Community Repository will aim into a as painless installation as possible. Based on this, I don't think removing the depende

[2020-02-29 12:35] casz commented on #1434
I kinda of disagree, I do not want software on my machine that's from 2014 that serves no purpose, vscode is definitely not dependent on exactly .NET Framework 4.5.2 😅

[2020-02-29 13:11] mkevenaar commented on #1434
@casz I just tested this on a mint installation of Windows Server 2016. 4.5.2 will not get installed.

To reproduce, if you run the command:
[code]
This is the exact same verification as the package uses, without the actual installation.

This results that the Chocolatey package gets installed on your machine, not the actual .NET framework software defined in the package, because you're locally in

[2020-02-29 13:25] casz commented on #1434
Okay checked on Windows 10 1909 and 2004 that this is the case 😓

[2020-02-29 13:25] #1434 closed

[2020-03-01 16:27] nsleigh opened #1436 "(googlechromebeta) not updating"
The googlechromebeta package has stopped updating, the last update was 04/02/2020 and there should have been a couple of updates since then.

I have update.ps1 locally and it doesn't fail and the package updates to 81.0.4044.34-beta.

I originally authored this package in 2019 but cannot remember if there are any logs I can check to workout why it is not updating.

Can someone suggest the next ste

[2020-03-01 17:38] mkevenaar commented on #1436
Hi @nsleigh the package got stuck in moderation. I gave it a slight push and should now be updated again on the next update run.

[2020-03-01 17:47] nsleigh commented on #1436
Many thanks, I'll keep an eye on it.

[2020-03-01 19:02] mkevenaar commented on #1436
@nsleigh A new version is now pushed. https://chocolatey.org/packages/googlechromebeta/81.0.4044.34-beta once validation is complete, it will be available on the website. I'm closing this issue now.

[2020-03-01 19:02] #1436 closed

[2020-03-04 12:16] MarkusNousiainenWebscale commented on #1424
I get the same error in Windows 2012 server and Python version 3.7.6, but not in Windows 2016 server.

[2020-03-04 12:29] MarkusNousiainenWebscale commented on #1424
I tried to change `Split-Path $_.Source` into `Split-Path $_.Path` in `C:\ProgramData\Chocolatey\lib\chocolatey-core.extension\extensions\Get-AppInstallLocation.ps1` and still got the same error.

[2020-03-09 03:59] RedBaron2 commented on #1392
@woolyss @henrypp
I am going to mention them here to see if they are even aware of the situation. I'm sure that @woolyss would know of any build from his list of links that might be comparable to the current stable version.

If no reply from either of these people in a timely manor then please proceed to close this issue.

[2020-03-09 16:41] woolyss commented on #1392
Hello @AdmiringWorm @RedBaron2

Sure you know there are always stable Chromium versions on my website. Check the github repositories of each developer or use my free APIs ;)

These following repositories focus only Chromium with Installer (executable file) for Windows OS.

## Github repositories of stable Chromium versions
- 64-bit: https://github.com/Hibbiki/chromium-win64/tags
- 32-bit: https://

[2020-03-11 18:52] gep13 opened #1438 "(curl) Latest package version not being detected"
## Expected Behavior
Latest Chocolatey package version for Chocolatey should be 7.69.1.

## Current Behavior
The latest available version of curl is 7.69.1 (as per [download page](https://curl.haxx.se/download.html), but the current Chocolatey Package version is 7.69.0.

## Possible Solution
I believe that there is an issue with the update.ps1 file when it comes to finding the latest package versi

[2020-03-12 07:19] gep13 commented on #1438
Looks like the latest curl package has actually been published without any changes to the update.ps1 file.

I can only guess that the [releases page](https://curl.haxx.se/download.html) had some additional updates made to it that then made the update.ps1 file work.

Closing this as a non-issue.

[2020-03-12 07:19] #1438 closed

[2020-03-13 21:26] cinderblock commented on #1274
For those that come across this issue in the future, it seems it has been decided that PuTTY is a special package that doesn't follow the official conventions, even though Chocolatey devs thought this was already changed. https://github.com/ferventcoder/chocolatey-packages/issues/100#issuecomment-163054316

#1177 - People think it's a breaking change. It's not
#1293 - They refuse to put a warning

[2020-03-15 17:34] #1433 closed

[2020-03-15 17:34] #1409 closed

[2020-03-15 17:35] #1146 closed

[2020-03-15 17:36] majkinetor commented on #1421
Closed due to no feedback.

[2020-03-15 17:36] #1421 closed

[2020-03-15 17:46] luzpaz commented on #1146
@majkinetor was this ever implemented or just closed ?

[2020-03-16 08:45] majkinetor commented on #1146
https://github.com/chocolatey-community/chocolatey-coreteampackages/pull/1277
https://chocolatey.org/packages/freecad/0.19.0.20052-dev

[2020-03-16 19:34] mkevenaar opened #1439 "(winscp) package failing validation"
## Expected Behavior
Package passing validation

## Current Behavior
Package failing validation:
[code]

## Possible Solution
Fix ProjectSourceUrl or remove it.

## Steps to Reproduce (for bugs)
see https://chocolatey.org/packages/winscp/5.17.2

[2020-03-16 19:39] mkevenaar commented on #1439
This has been fixed here: https://github.com/chocolatey-community/chocolatey-coreteampackages/commit/4b46e8ebcb8ed9b897ea8ee113eed1dedfc43559

A new version of the package should be pushed out. @majkinetor @AdmiringWorm could one of you do that?

[2020-03-16 19:45] #1439 closed

[2020-03-16 19:49] gep13 commented on #1439
@mkevenaar are there any plans to fix the existing package versions that are failing validation?  Or should those be rejected?

[2020-03-16 19:58] mkevenaar commented on #1439
I will reject them. We can always un reject them if required.

[2020-03-16 19:58] majkinetor commented on #1439
We don't generally do that here.

[2020-03-16 20:00] majkinetor commented on #1439
@mkevenaar you had typo here

[AU winscp\5.17.2 winscp.install\5.17.2 winscp.**portalbe**\5.17.2]

[2020-03-16 20:04] mkevenaar commented on #1439
@majkinetor I added another commit to fix that just now.

[2020-03-17 15:40] mstick99 opened #1440 "Waterfox Classic"
Package exists for Waterfox Current. Suggest that one be set up for Waterfox Classic  (halfway down https://www.waterfox.net/download/) as well.

[2020-03-17 16:37] majkinetor commented on #1424
I don't know. Its really strange. This library is used on many packages which means it has millions of downloads and still this is the first time we got that report.

[2020-03-17 16:39] viceice commented on #1424
Yeah, it's really strange

[2020-03-17 18:30] opusforlife2 opened #1442 "(libreoffice-fresh) new version available upstream"
Version 6.4.1 is available since 27 Feb, 2020.

[2020-03-19 09:51] majkinetor commented on #1442
It looks like stream updater is not working...

https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f#libreoffice-streams

/cc @wget @AdmiringWorm

[2020-03-19 18:22] RedBaron2 commented on #1392
Working on this should be ready as time allows

[2020-03-20 15:28] manang opened #1444 "Cmake not in path"
I'm trying to install cmake, but when I execute cmake, the command is not available
## Expected Behavior

## Steps to Reproduce (for bugs)

1.choco install cmake
2.cmake <path>

[2020-03-21 00:37] RedBaron2 commented on #1392
@woolyss
The Version 5 of your API has a bug for the dev-official feed
It reports two different version numbers for [32bit](http://chromium.woolyss.com/api/v5/?os=win32&type=dev-official&out=json) or [64bit](https://chromium.woolyss.com/api/v5/?os=win64&type=dev-official&out=json)
These version numbers are not the same for
The Version 2  of your API reports the same version numbers for both the [3

[2020-03-21 02:19] RedBaron2 commented on #1440
Working on a stream package update as time allows.

[2020-03-21 09:04] woolyss commented on #1392
Hello RedBaron2,
This not a bug. This is completely normal. The official Chromium buildbot can have a good result for 64-bit version and a bad result for its 32-bit version... and vice-versa.

You can check yourself on the official Chromium repositories at
- 64-bit: https://storage.googleapis.com/chromium-browser-snapshots/index.html?prefix=Win_x64/
- 32-bit: https://storage.googleapis.com/chromiu

[2020-03-23 10:25] Piscator74 commented on #1424
I am having the exact same problem (when upgrading from Python 3.7.4 to 3.8.2) on a Windows 7 machine.

I followed the instruction above by majkinetor, but that makes no difference.
- Update file: C:\ProgramData\Chocolatey\lib\chocolatey-core.extension\extensions\Get-AppInstallLocation.ps1
- I replaced _Source_ with _Path_ (line 67)

I also have a v2 version of python installed (python2 2.7.17), b

[2020-03-23 11:24] Piscator74 commented on #1424
Note that while choco gives the error "**Cannot bind argument to parameter...**",
- Python 3,8.2 is successfully installed
- The choco installer does not pick it up
- Python 3.7.4 is not uninstalled

Other notes
- When doing a choco uninstall python3, python 3.8.2 actually gets uninstalled (and not 3.7.4).
- When removing all python 3 versions and reinstalling it with choco, I still get the error

[2020-03-25 10:45] Silic0nS0ldier opened #1446 "(php) PHP 7.4 does not install required dependency VC++ Redistributable 2019"
Discovered when attempting to install composer (`choco install composer`). PHP 7.4 was installed to meet the dependency requirement beforehand, however VC++ Redistributable 2019 (https://visualstudio.microsoft.com/downloads/#microsoft-visual-c-redistributable-for-visual-studio-2019) was not installed, resulting in composer being unable to install and PHP showing the following error.

[code]

Insta

[2020-03-25 16:16] Timmmm commented on #987
I had to uninstall CMake and then reinstall it with:

    choco install cmake --installargs 'ADD_CMAKE_TO_PATH=User'

Just reinstalling it with `--force` didn't work. Also this seems like a mad design. Does every package have a different variable to add it to the PATH? Do I have to look up `ADD_GIT_TO_PATH` too? It would be much better if it prompted you "Do you want to add CMake to the PATH: *sys

[2020-03-25 18:06] RedBaron2 commented on #1442
This could be due to the website update check.php being changed to silverstripe by TDF.
Also in looking around [TDF forums](https://ask.libreoffice.org/en/question/163761/check-for-update-tells-me-im-up-to-date-when-im-not/) I found a interesting quote

I have a suggestion of using a fallback method of checking for updates like parsing the website as was done before.

[2020-03-29 15:13] hborders commented on #805
I just ran into the same problem. I'm running Windows 10 home, and `git` is the only package I've ever installed with `choco`. I don't see any git binaries or mlinks in my choco directory, and I don't see the git directory on my path.

[code]

However, git is present on my system path:
![windows-system-path](https://user-images.githubusercontent.com/166391/77852732-d973aa00-71a5-11ea-9e08-375171a2

[2020-03-29 15:16] hborders commented on #805
Restarting fixed things.

[2020-03-29 21:23] pseigo opened #1449 "(tor-browser) outdated and installer source is no longer available"
The package is set to use tor-browser version 9.0.5 which is no longer available on the website (at https://dist.torproject.org/torbrowser/9.0.5/<build>). The latest version (as of this issue) is 9.0.7. Currently, they're hosting 9.0.6 and 9.0.7, but with such a short hosting cycle this issue will probably happen again with future releases. Perhaps there's some way to automate this for minor versi

[2020-03-30 21:04] medianick opened #1451 "(git.install) gpg-agent.exe not killed before git package upgrade"
## Expected Behavior
When upgrading the `git` package, it installs successfully even if GPG commit signing had previously been in use.

## Current Behavior
If GPG commit signing had been in use (such that gpg-agent.exe is running at the time of the `choco upgrade` or `cup` command), the `git` installer will be unable to upgrade it, and the `git` (and `git.install`) upgrade will fail.

## Possible

[2020-03-31 03:10] musm opened #1452 "(git) update options and include symbolic links"
Please  include the option to enable symbolic links.

![image](https://user-images.githubusercontent.com/4319522/77982969-ae8b7200-72db-11ea-95bd-e1a5bf6e23d9.png)

Also please include the option to change:

![image](https://user-images.githubusercontent.com/4319522/77982983-b64b1680-72db-11ea-88f0-03339edb3616.png)

[2020-03-31 12:36] v1v opened #1453 "(nodejs) No package available for 12.16.1"
## Expected Behavior

To be able to install 12.16.1

## Current Behavior

[code]

## Possible Solution
- Enable the version in https://chocolatey.org/packages/nodejs.install/12.16.1

## Steps to Reproduce (for bugs)
`choco install nodejs --version=12.16.1`

## Context

## Your Environment

Ubuntu 18.04

[2020-04-01 11:02] #1392 closed

[2020-04-01 11:11] majkinetor commented on #1451
It could be argued thaat this is upstream problem. Native installer should do so.

[2020-04-01 11:20] AdmiringWorm commented on #1420
I have no interest in looking into providing pre-release versions of Inkscape, however, I will make this `up for grabs` in case there is someone interested in making the necessary changes to make this happen.

[2020-04-01 11:28] AdmiringWorm commented on #1444
The CMake installer (which the package uses) makes cmake available on path by default, however it won't be available immediately.
You will need to either call `refreshenv` in your cmd or Powershell (assuming you have the profile correctly set up) shell, or re-launch your terminal to have it available.

[2020-04-01 11:35] AdmiringWorm commented on #1446
The package `php` have `vcredist140` (VC++ redist 2019) as a dependency, make sure that you have the package `vcredist140` installed and that the version is `14.16` or higher.

I will bump the minimum version for the `php` package, but that won't be available until the next version of PHP is available.

[2020-04-01 11:38] #1446 closed

[2020-04-01 11:48] AdmiringWorm commented on #1442
Version 6.4.2 has been available since March 26th.

@majkinetor The stream updater is working. It just won't show up correctly when there aren't any updates (no idea why).

Please also see the featured comment on why there aren't immediate updates for the libreoffice-fresh package: http://disq.us/p/252gp74

Anyways, I will be closing this issue now.

[2020-04-01 11:48] #1442 closed

[2020-04-01 12:06] AdmiringWorm commented on #1449
Version `9.0.7` (and `9.0.6`) have been pushed to chocolatey.org, but unfortunately it is currently failing the automated verification step.

Unfortunately I do not have the possibility at the moment to look into why this happens, but will mark this as an up for grabs in case anyone is interested in looking into it:

Logs: https://gist.github.com/choco-bot/7d1b946792b2be678b54fbb038da409b

[2020-04-01 12:14] AdmiringWorm commented on #1453
The dependency `nodejs.install` was never approved due to what seems to be an intermittent failure on the verification tests, as such it was eventually rejected.

I have set it to run again and if all goes well it should be available for consumption in a few hours.

[2020-04-01 12:20] AdmiringWorm commented on #1451
Can't say that I have seen this error myself, as the git installer kills the `gpg-agent.exe` whenever I upgrade git through chocolatey.

I assume we could implement some way to stop the process during upgrade/uninstalls though just to be safe.

I will look into it as soon as I can do that, or if someone is interested feel free to open a PR for it instead.

[2020-04-01 12:45] AdmiringWorm opened #1454 "(vcredist140) Invalid urls in nuspec metadata file"
The Bug Tracker URL and the License URL is now invalid and points to webpages that no longer exist. Before any new releases of these packages can be pushed, we will need to fix or remove this URLs.

@jberezanski are you aware of the new locations of these two URLs?

[2020-04-01 12:53] majkinetor commented on #1442
That is the only one with this problem AFAIK.

[2020-04-01 12:55] majkinetor commented on #1451
Maybe it can't kill it on specific machine due to rights.

[2020-04-01 13:08] AdmiringWorm commented on #1442
@majkinetor yeah it is. I believe @wget just returns empty streams when the locations that is used returns an error, or not the information that is expected.

I can't say for sure without digging into it though. Busy with going through some packages that have been failing during the couple of months I've been away from chocolatey package maintenance, and that it isn't something I will be prioritiz

[2020-04-01 13:10] AdmiringWorm commented on #1451
Maybe. But there should be no harm as far as I can see to add stopping the process in a `chocolateyBeforeModify.ps1` script anyways.

[2020-04-01 14:46] musm commented on #1330
I have the same issue, it seems it would be best to add the `gs/bin` folder to path system wide

[2020-04-01 17:37] RedBaron2 commented on #1449
@AdmiringWorm
The verification failed because it was unable to download the file.
`2020-03-24 21:04:56,874 2092 [ERROR] - ERROR: The remote file either doesn't exist, is unauthorized, or is forbidden for url 'https://www.torproject.org/dist/torbrowser/9.0.7/torbrowser-install-win64-9.0.7_en-US.exe'. Exception calling "GetResponse" with "0" argument(s): "The request was aborted: Could not create SS

[2020-04-02 00:46] #1453 closed

[2020-04-02 00:47] AdmiringWorm commented on #1453
Forgot to close this when the install package was automatically approved. @v1v can you test again, everything should work as you expected now.

[2020-04-02 00:49] AdmiringWorm commented on #1449
@RedBaron2 hmm, certainly looks that way. I didn't look at the logs, to be honest. I have set the latest version of `tor-browser` to run again, so hopefully everything works as it should now then.
If not, this will need to be dug into further to find the cause.

[2020-04-02 01:55] #1440 closed

[2020-04-02 02:04] AdmiringWorm commented on #1449
@RedBaron2 you were right, there was an intermittent issue with the Verifier.

The latest version of the tor-browser is now available for consumption.

I will trigger a re-run of the 9.0.6 version as well so we have that also.

[2020-04-02 02:04] #1449 closed

[2020-04-02 02:18] #1451 closed

[2020-04-02 02:19] AdmiringWorm commented on #1451
The code necessary to resolve this has been added to the install package, and will be available for any future versions of the git/git.install package.

[2020-04-02 03:25] AdmiringWorm commented on #1449
Seems 9.0.6 still fails the verifier, as such, I will be rejecting that version instead of wasting any time on trying to make it work, considering that 9.0.7 works.

[2020-04-02 21:30] kevinoid opened #1455 "(vim) Forgets package parameters on upgrade"
##  Expected Behavior

When upgrading `vim`, package parameters would be preserved/respected.

## Current Behavior

During upgrade, package parameters are forgotten and the package is reinstalled with default parameters.

## Steps to Reproduce (for bugs)

On Windows 10 with Chocolatey installed and Vim not installed.:

1. `choco install vim -y --params "'/NoDesktopShortcuts /InstallDir:C:\Program

[2020-04-03 06:06] mkevenaar commented on #1455
@kevinoid This could be done using the Chocolatey Feature [useRememberedArgumentsForUpgrades](https://chocolatey.org/docs/chocolatey-configuration#general-1)

`choco feature enable --name="'useRememberedArgumentsForUpgrades'"` to enable

[2020-04-03 12:48] kevinoid commented on #1455
Thanks @mkevenaar, that works great!  Sorry for the noise.

[2020-04-03 12:48] #1455 closed

[2020-04-05 17:47] jerome-benoit commented on #1395
The issue have been closed before the package moderator approval: https://chocolatey.org/packages/audacity/2.3.3

Nobody is doing the packages moderation? because it has been so since months ...

[2020-04-06 22:58] majkinetor commented on #1395
The package moderation is irrelevant for this repo. The gallery is just one way to install it (you can grab artifact from github for example).

[2020-04-07 15:33] gep13 commented on #1395
@jerome-benoit the issue with package validator has been addressed, and the audacity package is now correctly approved, and ready for installation.

[2020-04-07 15:44] jerome-benoit commented on #1395
Great !

Thanks.

--
Jérôme Benoit aka fraggle
Piment Noir - https://piment-noir.org
OpenPGP Key ID : 27B535D3
Key fingerprint : B799 BBF6 8EC8 911B B8D7 CDBC C3B1 92C6 27B5 35D3

[2020-04-08 07:33] v1v commented on #1453
Hi,

I missed your comment, I just verified and it works like a charm. See [here](https://apm-ci.elastic.co/blue/organizations/jenkins/apm-shared%2Fapm-test-pipeline/detail/apm-test-pipeline/686/pipeline/406#step-415-log-27)

Thanks for your prompt reply and fix :)

[2020-04-09 12:46] CybershoesVR commented on #987
I ran into this problem today
I took me some time to figure it out
I would expect to be able to execute `cmake` after  installing `cmake`
can we have this as a default?

[2020-04-13 05:09] RedBaron2 commented on #1452
@majkinetor @AdmiringWorm @musm
Does anyone know if the installer has this as a switch? I have found no switch or option of triggering this from the command line.
The few options mentioned elsewhere have been to add it into the config file (not good practice besides not allowed in core packages). The other options require registry edits that are not standard. The last option is to enable a script

[2020-04-13 16:04] AdmiringWorm commented on #1452
Unfortunately not, could be that it is possible through the use of `/TASKS` or `/COMPONENTS` argument.

This is kind of the approach used in the package already, but only for what would have been set by the `innosetup` installer to remember the tasks provided that they use for git.

[2020-04-14 07:55] majkinetor commented on #1217
This is literray almost 2 years not solved ...

[2020-04-16 14:58] FreeMinded opened #1458 "(firefox) description displayed improperly on chocolatey.org"
The description is incorrectly displayed on https://chocolatey.org/packages/Firefox

Package Parameters
`/l:&lt;locale&gt;`

![Firefox Readme](https://user-images.githubusercontent.com/1763127/79471101-746fdf00-8002-11ea-995d-682fa1312ea1.png)

Correct would be
`/l:<locale>`

It's correct in the readme file on githib (I did that myself)

Does anyone know how it could be fixed?

[2020-04-16 17:26] some1one opened #1459 "(vscode.portable) Migrate VSCode portable to meta package"
## Expected Behavior
The vscode portable package should support similar options and share code with the install package. It should live in this repository along with the other vscode packages. It should install very similarly to the vscode package but it will live inside the chocolatey library as a portable application.

## Current Behavior
vscode.portable is currently located and maintained in th

[2020-04-17 06:31] RedBaron2 commented on #1458
@FreeMinded
The solution is right in front of you.
Replace the entries with the HTML code of `&lt;locale&gt;` for the readme file. The code will show how you want of `<locale>`. The reason is because the nuspec file is an XML file in utf8 encoding. The readme file is translated as the HTML code and then placed in the nuspec file. The translation is automatic due to the encoding.
Reference the pack

[2020-04-17 13:22] AdmiringWorm commented on #1458
@RedBaron2 unfortunately that won't help at all.
Because au wraps the actual description inside a `[[CDATA` section, it is the same as the description for the `wincompose` package.

The `[[CDATA` section is used, so you don't have to escape the HTML/XML inside the XML file.

Bottom line, updating the readme to escape the angle brackets won't have anything to say, it will need to be changed to some

[2020-04-17 19:05] FreeMinded commented on #1458
Thanks for the Feedback! Looks like it was "wrong" from the beginning. See [here](https://github.com/chocolatey-community/chocolatey-coreteampackages/blob/5b41c7da5750bdcd54efcfd0ed462cb3cec9616d/automatic/firefox/Readme.firefox.md)

I just opened a PR.

[2020-04-17 23:18] RedBaron2 commented on #1458
@AdmiringWorm
The markdown specs seem to be the problem.

@FreeMinded
I will state that the PR #1460  use of Capital Letters instead of the <> seems like a very good fix

[2020-04-18 07:44] #1458 closed

[2020-04-19 20:13] medianick commented on #1451
@AdmiringWorm this looks not to have made it into the git 2.26.1 release from a few days ago? At any rate, a `cup all` with git and git.install 2.26.0 installed (which should have upgraded to 2.26.1) failed, with

[code]

I grabbed the snippets of PowerShell from https://github.com/chocolatey-community/chocolatey-coreteampackages/commit/7dd16c258d78ac09d4cf45dc50bc6c4d18c8ad35 and ran them, to ver

[2020-04-19 20:18] AdmiringWorm commented on #1451
@medianick I guess I should have been a little clearer in my last comment.

It did make it into the 2.26.1 release, however, as I had already mentioned it was added to the `chocolateyBeforeModify.ps1` script.
This script is run from the already installed package version, not from the package version you are upgrading to.

So in the end, the code was added, but won't be run until a version after th

[2020-04-20 01:25] medianick commented on #1451
Got it, thank you for the clarification!

[2020-04-21 18:15] varnitgoyal1 commented on #1002
thanks you saved my life

[2020-04-22 14:22] matstocks opened #1461 "(cutepdf) SHA265 Checksum out of date"
Error - hashes do not match. Actual value was '23294C7A93BE6F5A1D973155DCFA54957
6FD918A8C5422AA42419296AB2A720B4D62DBE718C87C2A7C293930C67CF30EC7F97106B1E51D703
249AC2DB81ACD8A'.
ERROR: Checksum for 'C:\WINDOWS\TEMP\chocolatey\CutePDF\4.0.0.201\CuteWriter.exe
' did not meet '88490EB055EB1F594B30436CD299D5F0C1B425978128424EBF3D3124B6B9E42CC9E0E8FC556B1FA3589A1E76E4E23D99D4647DADA4EED0A0CE598C4357E

[2020-04-22 18:41] CWempe opened #1463 "(kitty) correct shim icon"
It would be great if the shim for `kitty.exe` would have the correct icon from the original program.

this works for other programs, but not for kitty.

![image](https://user-images.githubusercontent.com/1270359/80020545-860d2700-84d9-11ea-890b-a16715b92607.png)

[2020-04-22 20:29] AdmiringWorm commented on #1461
I have triggered a forced update of this package, it wasn't updated because the remote version is exactly the same as the version already available on chocolatey.org.

I will close this issue when I get a notification that it have been pushed.

[2020-04-22 20:34] AdmiringWorm opened #1464 "(gimp) Requires a rewrite of updater to detect updated revisions"
Due to gimp developers not releasing a new version of the software for **minor** bug fixes, but rather pushes new revisions of the software/installer instead, we need to take into account this when checking for updates of the software.

This requires the need to rewrite the updater to make this happen correctly.

*The packages is also outdated because of this 😢*

[2020-04-22 22:10] AdmiringWorm commented on #1461
updated version is available

[2020-04-22 22:10] #1461 closed

[2020-04-24 06:42] RedBaron2 commented on #1464
@AdmiringWorm
Should the fix version be something like
`2.10.18.2` or `2.10.182`  or `2.10.18.20200423`

Just curious to the correct way to implement it.

[2020-04-24 06:59] AdmiringWorm commented on #1464
@RedBaron2 it would be `2.10.18.2`.

[2020-04-26 20:23] medianick commented on #1451
The same error happened with the upgrade from 2.26.1 to 2.26.2; I had to taskkill `gpg-agent.exe` once again, then install git with `--force` to fix the installation. Is there a place I can locally confirm whether this corrected script is already in place, for the next upgrade after 2.26.2?

[2020-04-26 20:30] AdmiringWorm commented on #1451
@medianick the file should be located at `%ChocolateyInstall%\lib\git.install\tools` and be called `chocolateyBeforeModify.ps1`. This file should run before upgrading and before uninstalling a package.

During your upgrade, you should also have gotten at least one warning mentioning it will try to stop the `GPG Agent`.
If you didn't, then it would mean that the script wasn't finding any process ma

[2020-04-26 22:03] medianick commented on #1451
@AdmiringWorm indeed the expected .ps1 file is in that location, so I'm not sure what the problem could be. I just signed a new commit (which launched the expected `gpg-agent` process) and have verified in an elevated PowerShell that running the `chocolateyBeforeModify.ps1` file there does indeed output the expected warning messages (and stops the process), and rerunning it (with the process now s

[2020-04-27 16:01] gonzolively opened #1467 "(vim) - Prevent install script from wiping current directory."
I'd like to request that this installer not wipe it's current install directory as a part of upgrade. This is very disruptive as I have my .vimrc, as well as all my plugins in that folder. The solution right now is to skip upgrades to vim completeley in order to keep my config. This installer needs some serious attention.

## Expected Behavior
I'd love to be able to run `choco upgrade vim` and not

[2020-04-27 17:17] jberezanski commented on #1454
Ah, sorry, did not notice this issue. I've fixed it already in https://github.com/chocolatey-community/chocolatey-coreteampackages/commit/555432a32429e3cd5073c3fddff4637849b2ff4a.

[2020-04-27 17:17] #1454 closed

[2020-04-29 22:24] #1391 closed

[2020-05-01 21:31] #1464 closed

[2020-05-06 22:28] #1375 closed

[2020-05-08 15:38] mstick99 opened #1470 "(fah) new version 7.6.13 available"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Package Version used:
* Operating System and version:
* Chocolatey version:
* Install/uninstall gist:

[2020-05-09 20:12] AdmiringWorm commented on #1470
Wrong repository, the `fah` package is not maintained in this repository.
Please contact the actual maintainer of the package.

[2020-05-09 20:12] #1470 closed

[2020-05-14 06:53] Redsandro opened #1473 "(renamemaster) broken"
## Current Behavior

[code]

[2020-05-14 08:25] Redsandro opened #1475 "(patch-my-pc) package broken"
## Current Behavior

- Hash invalid
- Pin to start workaround no longer works

## Your Environment

* Package Version used: 4.1.0.4
* Operating System and version: Windows 10 Enterprise Evaluation 10.0.18362 Build 18362
* Chocolatey version: 0.10.15

[2020-05-15 04:48] stolpovsky commented on #1424
Exact same problem on WindowsServer2012.

[2020-05-16 00:52] HunterZ opened #1477 "(python3) Installer prints bogus warning about install directory"
## Expected Behavior

Chocolatey python3 install script should determine the actual location to which it ends up installing, and should not print a warning about some other path that some other copy of Python happens to live in.

## Current Behavior

Install script warns that it is installing to the location of a copy of Python in a subdirectory of my GOG Galaxy folder, but it actually ends up ins

[2020-05-16 00:52] HunterZ commented on #1477
FYI, another person reported similar behavior: http://disq.us/p/28sa09l

[2020-05-17 20:31] basictheprogram opened #1478 "(autohotkey) ERROR: The remote file either doesn't exist, is unauthorized, or is forbidden for url"
## Expected Behavior
`choco install autohotkey` should install the autohotkey package

## Current Behavior
The package throws an error.
[code]

## Steps to Reproduce (for bugs)

1. choco install autohotkey
## Context

## Your Environment

* Package Version used: autohotkey.portable v1.1.14.01
* Operating System and version: Windows10 Professional
* Chocolatey version: chocolatey 0.10.15
* Install/

[2020-05-17 20:43] basictheprogram commented on #1478
The GitHub releases for 1.1.14 is only available in source form
[code]

You could upgrade the latest 1.1 series and fix the url with this:
[code]

[2020-05-17 20:53] basictheprogram commented on #1478
Database issue on the community feed from chocolatey.org?

Why is as `choco install autohotkey` attempting to grab release 1.1.14.01?

Looking at the the chocolatey.org community feed I see 1.1.32.00 is available there and looking at the .nuspec files I see they are 1.1.32.00

Very confused right now

[2020-05-19 16:17] isanych opened #1479 "(msys2) Installation is failing on update step"
Current msys base system does not support zstd, used in packages now, so installation is failing on update (msys2/MSYS2-packages#1962). Could we update it please?

Also adding `--disable-download-timeout` to pacman calls (or `DisableDownloadTimeout` to `/etc/pacman.conf`) will help to avoid multiple error messages during update - at least atm looks like mirrors are slow.

[2020-05-20 01:12] aminya opened #1480 "(avidemux) Outdated"
The latest version is 2.7.5
https://github.com/chocolatey-community/chocolatey-coreteampackages/tree/master/automatic/avidemux

[2020-05-23 04:25] aminya opened #1482 "(python) Not installed"
Python is not installed and not added to the path.

## Expected Behavior
Installation of python

## Current Behavior

[code]

But after shell refreshenv:
[code]

This is the log:
[code]

## Steps to Reproduce (for bugs)
1.  choco install python --force

## Possible solution
I fixed the problem by running all of these and reinstalling.
[code]

## Context

## Your Environment
* Package Version used:

[2020-05-23 07:40] #1479 closed

[2020-05-23 07:45] #1475 closed

[2020-05-24 19:02] majkinetor commented on #1482
Probably some local problem given that this is highly used package. I will close this and if you find any specific problem let us know.

[2020-05-24 19:02] #1482 closed

[2020-05-25 09:02] #1390 closed

[2020-05-25 13:17] AdmiringWorm commented on #1459
@some1one feel free to open a PR to add that package to the repo, just make sure it follows our [Contributing Guidelines](https://github.com/chocolatey-community/chocolatey-coreteampackages/blob/master/CONTRIBUTING.md) and that you have permission from the maintainer of the package to move it here.

[2020-05-25 13:22] AdmiringWorm commented on #1463
The package itself don't generate the shim, and it is chocolatey itself that generates shims for any `.exe` files located in the package.

I have no idea why the icon don't show up though, could be that the `.exe` don't have an icon and thus not detected by the shim utility.

I'll add this as an `Up for Grabs` as there probably is something we can do to add an icon (like specifically calling a fun

[2020-05-25 13:29] AdmiringWorm commented on #1478
Such an old version is not supported on that package, and there isn't anything we can do about chocolatey picking an older version instead of the correct version.

Such a problem would need to be reported over at https://github.com/chocolatey/choco as it isn't a package problem.

Also, make sure that you don't have additional installation sources that contain the `autohotkey` package (I did notice

[2020-05-25 13:29] #1478 closed

[2020-05-25 18:19] gep13 commented on #1480
To add to this, I have just been back to test the previously reject package version:

https://chocolatey.org/packages/avidemux/2.7.4

Looks like there is a problem with the silent installation arguments.  When testing on the Chocolatey Test Environment, it gets to this point:

![image](https://user-images.githubusercontent.com/1271146/82835653-93dd1000-9ebc-11ea-8c5c-c493225d35f8.png)

And then do

[2020-05-28 11:07] majkinetor commented on #1480
This requires some non-trivial update.

Like I said [here](https://chocolatey.org/packages/avidemux#comment-4930608308), we have a working package forever so if there is no personal use in coreteam, there is no incetive to fix random software (we got from 2 active maintainers to 0.1 active maintainers in last year).

[2020-05-28 11:18] aminya commented on #1480
There is always a possibility to email the original developer: http://avidemux.sourceforge.net/

[2020-05-28 11:35] majkinetor commented on #1480
That rarelly works, but u cant blame one for trying.

[2020-05-29 06:28] FrancescElies opened #1485 "(python3) Installing same python version 32bits and 64bits variant, possible?"
## Context
I am interested in installing python 32bits and 64bits with debugging symbols via chocolatey.

## Current Behavior
So far, if I do the following I can manage to install what I want, for the sake of an example let's have version 3.7.0.

[code]
At the moment I need `--forcex86` to tell choco toinstall python-32bits version. Later if I want to install the same python version but the 64bits

[2020-05-29 23:25] AdmiringWorm commented on #1485
I assume that could be because it is the same version that got installed.
When you call the installation again in your second call, you are actually replacing the first installation instead of installing a new version (would have been different if the second call was a different version). That is just an assumption on my part.

While it is true that having different packages for each architecture

[2020-05-30 03:12] Hattshire opened #1486 "[FlightGear][Outdated] Windows Releases no longer go on the Windows folder"
https://github.com/chocolatey-community/chocolatey-coreteampackages/blob/b8bbd795ed7f627245178a8c9eb1a443ab3388b8/automatic/flightgear/update.ps1#L5

[2020-05-30 06:39] Hattshire commented on #1486
#1487

[2020-05-30 06:39] #1486 closed

[2020-06-02 05:27] FrancescElies commented on #1485
That would work for me, I am mainly interested in this being possible. If you the maintainers are fine with that I'm more than happy.

How do we move forward now?

[2020-06-02 08:30] AdmiringWorm commented on #1485
Well, we need to first decide on which parameters should be used to allow the installation of both 64bit and 32bit.
I am thinking a couple of options in this regard:

1. Have a parameter called `/Include32Bit` that will install the 32bit into a default installation directory (only available on 64bit systems, of course).
2. Have a parameter called `/InstallDir32:path` that allows a custom path for

[2020-06-02 14:12] ferventcoder commented on #1217
Howdy folks! Apologies that we've had trouble identifying and fixing this. A lot of the work we've done around this feels like whack-a-mole and I appreciate that you've stuck with us while we've continued to work to resolve these issues.

That said, as mentioned over at https://github.com/chocolatey/chocolatey.org/issues/613, we've made some changes recently that may have went a long way into fixi

[2020-06-05 09:45] FrancescElies commented on #1485
Hey tanks for your reply, `/InstallDir32:path` sounds good to me.
I will check internally how pressing is this one for us, is this something someone without knowing the repo could tackle?

[2020-06-05 23:20] #1444 closed

[2020-06-07 09:42] majkinetor commented on #1217
I will close this as it doesn't seem to happen anymore.

[2020-06-07 10:31] gep13 commented on #1217
@majkinetor thanks for following up with this! Do you know when the last time this happened from this repository was?

[2020-06-07 22:46] majkinetor commented on #1217
You could browse trhough history easily. Quickly searching it found many around month ago, for example [05-01](https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/5e509fb3fef0a1c32732382c989e04e4f8b06777)

[2020-06-08 07:49] AdmiringWorm commented on #1217
@majkinetor the error in that report is for a different issue, which usually doesn't prevent the package from showing up on the website.

@gep13 the latest time the error seemed to happen was four days ago (the chromium package): https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/bf09e720bc20daea24728b2324d3b0bb3d3e57bb

[2020-06-08 08:00] AdmiringWorm commented on #1485
I believe someone without knowledge about the repo can tackle this.
It will require at least some fundamental knowledge of chocolatey packages and its different helpers.

[2020-06-08 08:05] AdmiringWorm commented on #1424
I have been able to reproduce this issue.
I was able to reproduce this by installing python2, and an older version of python3, then trying to upgrade the python3 package.

I have not had the time to look into fixing the issue, unfortunately.

[2020-06-08 13:20] wget commented on #1442
Also in looking around TDF forums I found a interesting quote

It is not applicable any more.

The update checked has been completely rewritten in lua and even if we call a check.php page for legacy reasons, this is the lua code that is responding =)

I'll investigate this. But for the record, I'm "hacking" the way streams are working so it may be the reason. The hack was to avoid gaps in the vers

[2020-06-08 20:12] majkinetor commented on #1217
Good catch @AdmiringWorm, seems I closed this prematurelly.

[2020-06-09 14:19] matsuhav commented on #1467
I summarized upgrade scenarios.
1. Upgrading from version 8.X to 8.Y
1.1 `$VIMRUNTIME` (i.e. `C:\tools\vim\vim8X`) directory is wiped.
1.2 Both new files and modified files are deleted.

2. Upgrading from version 8.2.XXXX to 8.2.YYYY
2.1 New files are preserved.
2.2 Files which are distributed with Vim and you modified are overwritten.

System-wide configs (`C:\tools\vim\vim8X` directory) are trea

[2020-06-09 15:35] gregoryka opened #1495 "(Firefox) Firefox reinstalling without force"
When performing `choco upgrade Firefox`, if firefox is already installed and up to date the package will still go through the entire installation process.

## Expected Behavior
The package will detect an up to date install and skip the installation.

## Current Behavior
The package detects the install is up to date, but reinstalls anyway.

## Possible Solution
The problem is in chocolateyInstall.p

[2020-06-11 20:31] FredHappyface opened #1496 "(inkscape) shim points to c:\program files\inkscape\inkscape.exe"
## Expected Behavior

Running `inkscape --help` outputs console help for inkscape

## Current Behavior

An error is thrown

[code]

## Possible Solution

Looking at the source and pull https://github.com/chocolatey-community/chocolatey-coreteampackages/pull/1347 it looks like the shim needs to point to $installLocation\bin\inkscape.exe

Install-BinFile 'inkscape' $installLocation\bin\inkscape.exe

[2020-06-12 03:31] AdmiringWorm commented on #1496
The package source has been updated to point to the correct path, unfortunately, it seems the changes were never pushed.

I will do that now, and close this issue when I have.

[2020-06-12 07:24] AdmiringWorm commented on #1496
Package was pushed a while ago, but was working on something else and completely forgot to close this issue.

The updated package hasn't been approved yet, but should eventually be (could take a while as it seems the verification process is taking quite some time).

[2020-06-12 07:24] #1496 closed

[2020-06-12 07:48] FredHappyface commented on #1496
Thanks very much 😀

[2020-06-19 07:59] majkinetor commented on #1480
https://chocolatey.org/packages/avidemux/2.7.5

[2020-06-19 07:59] #1480 closed

[2020-06-21 04:05] arizvisa opened #1499 "(python) Python3 32-bit (force_x86) non-existent registry path for "ErrorActionPreference""
When installing python3 with the `force_x86` option, an error is logged claiming that the `HKLM:\SOFTWARE\Python\PythonCore\3.7\InstallPath` key does not exist. This is because when installing the 32-bit version, the version key (`3.7`) is suffixed with `-32`. So the full key should actually be `HKLM:\SOFTWARE\Python\PythonCore\3.7-32\InstallPath`

Here is an excerpt from the terminal output:

[co

[2020-06-24 17:04] TheCakeIsNaOH opened #1500 "(cutepdf) cannot upgrade, fails with exit code 1, must uninstall and reinstall to update"
## Expected Behavior

That `choco upgrade cutepdf` will upgrade CutePDF without errors.

## Current Behavior

Running `choco upgrade cutepdf` fails with
[code]

I can install the updated version if I uninstall and then reinstall

## Possible Solution

If I try to run the `4.0.0.401` installer manually with version `4.0.0.300` being installed, it tells me that I must uninstall the current version b

[2020-06-25 03:37] virtualex-itv opened #1501 "CCleaner 5.68 is still installing 5.67"
## Expected Behavior
The new version 5.68 should install when running `choco install ccleaner`

## Current Behavior
The old version 5.67 get's installed instead

## Possible Solution
AdmiringWorm will look into this as I've brought it to his attention.  He asked if I could file this as an issue to keep track until he can look into it later next week.

## Steps to Reproduce (for bugs)

[code]

## Y

[2020-06-25 07:38] AdmiringWorm commented on #1501
I could not determine what caused the issue on the appveyor server, but the correct package fix version have been pushed to chocolatey.org. As such I am closing this now.

[2020-06-25 07:38] #1501 closed

[2020-06-26 11:58] marcquark opened #1502 "(owncloud-client) package not up-to-date, autoupdate seems broken"
## Expected Behavior
owncloud-client should be on the most recent version (2.6.3) and the package should auto-update

## Current Behavior
The last version of the package according to https://chocolatey.org/packages/owncloud-client is 2.6.1, but the sources here indicate that the last successful auto-update was 2.6.0 https://github.com/chocolatey-community/chocolatey-coreteampackages/blob/master/au

[2020-06-26 22:40] AdmiringWorm commented on #1502
It isn't a problem with the updater (from the looks of it).
There seems to be indeed some kind of change on the software developers' server, but the updater is still able to correctly detect both the new version and the URL for the binary file.

Unfortunately, when the updater is trying to validate the MSI installer the updater found, the server refuses the download due to an SSL/TLS handshake fai

[2020-06-27 00:35] burfo commented on #1412
AFAIK, still relevant.

[2020-06-27 21:00] RedBaron2 commented on #1502
@AdmiringWorm
Could this possibly be related to issue #366 that had plagued lightworks earlier?

The same fix could help this package too.

[2020-06-28 05:20] AdmiringWorm commented on #1502
@RedBaron2 not relevant, as that fix went directly into AU and not in the lightworks package.

[2020-06-28 06:45] RedBaron2 commented on #1502
@AdmiringWorm
I would like to point out that the lightworks package has this [line](https://github.com/chocolatey-community/chocolatey-coreteampackages/blob/master/automatic/lightworks/update.ps1#L26)
This is NOT implemented into AU at all.

Second using the same site SSL test as that issue. [Download.owncloud.com](https://www.ssllabs.com/ssltest/analyze.html?d=download.owncloud.com&s=116.203.164.

[2020-06-28 07:43] marcquark commented on #1502
@RedBaron2 as far as i can tell, the problem isn't within the `au_GetLatest` method. Looking at the bot's output we can tell that it fails one step further down the road. I.e. it can successfully parse the download link for the newest version, but then fails to download the actual installer. So applying a fix to update.ps1 won't do much.
Most likely AU, or at least the environment it runs in, need

[2020-06-28 08:30] RedBaron2 commented on #1502
@marcquark
It fails in the au_beforeupdate section in the called AU function get-remotefiles,  but could be switch solved possibly.
The line of code needs to be put in this section.

FYI:
The AU is a **powershell module** and a chocolatey package maintained by @majkinetor.
AU has built in functions developed to make automating package updating quick and easy.

[2020-06-28 11:09] AdmiringWorm commented on #1502
@RedBaron2 it is in AU: https://github.com/majkinetor/au/blob/0264eef17f0f428eeed8fbfafe3a93a226c3e5d3/AU/Public/Update-Package.ps1#L384

If I remember correctly, that line in lightworks was used to test what was necessary before implementing it in au itself.

TLS1.2 is supported, both by AU and by the environment, otherwise every single package in this repository that would download anything (or

[2020-06-28 11:21] marcquark commented on #1502
Thx for elaborting guys, the picture is becoming clearer now :)

So, if it _should_ work, what could be done to debug why the download from choco-bot is failing? Could somebody point me in a direction here, i.e. could i create some minimalist example and run it on AppVeyor, possibly trying out different environments? Or was that already done behind the scenes and boils down to "can't fix it"?

Wou

[2020-06-29 04:27] RedBaron2 commented on #1502
@AdmiringWorm @majkinetor
Just curious but doesn't the automated appveyor tests use the alias function `updateall` not `update` ?

[2020-06-29 07:27] AdmiringWorm commented on #1502
@RedBaron2 yes, however the updateall script then calls the package script, and the package script calls update.

Honestly, I have no idea how to debug it, I have already tried to debug it both locally and by doing RDP to the appveyor instance. Both of these returned a successful update.

Different environments have been tested in the past, originally the WMF5 image was used, but this caused probl

[2020-06-29 18:04] KeenRivals opened #1503 "(ffmpeg) 4.3 build missing libx264, libx265"
## Expected Behavior
``ffmpeg -encoders`` includes libx264, libx265

## Current Behavior
``ffmpeg -encoders`` doesn't include libx264, libx265

## Possible Solution
It looks like upstream rebuilt the package with the needed libraries. ffmpeg @ chocolately might just need a rebuild too.

## Steps to Reproduce (for bugs)

1. Run ``ffmpeg -encoders``, check for  libx264, libx265 in output.

## Contex

[2020-06-29 22:57] RedBaron2 opened #1504 "(dropbox) should be version 100.4.409"
@AdmiringWorm @gep13 @majkinetor @ferventcoder

The current stable version is 100.4.409, but the current version for chocolatey is version 99.4.501

[2020-06-30 18:00] musm opened #1505 "(cygwin) package doesn't update installer"
Cygwin upgrade need to also check and update the installer https://cygwin.com/setup-x86_64.exe to the latest version

[2020-06-30 18:22] AdmiringWorm commented on #1503
@majkinetor would you be able to force a new package fix for the ffmpeg package?
The latest compiled binary on the location we use as the source should have been rebuild (checksums have at least changed), but is still under the same version so a fix version is needed.

I am unfortunately unable to do that myself until the coming weekend.

[2020-06-30 20:16] majkinetor commented on #1503
By the time it took you to write that message you could do it from GitHub UI ? :)

[2020-06-30 21:32] fabiorzfreitas opened #1506 "(python) Detect if there's a python2 installation and make proper shims so both versions work"
Could this package try to detect if there's a Python 2 installation as well and create the proper shins so both python 2 and 3 will work? The proper technique was described here in [this comment][technique] at the Python2 Chocolatey page and it simply creates `python2` and `python3` shims that work like `pip2` and `pip3`.

Also worthy of consideration would be `py2` and `py3`

All of this would be

[2020-06-30 23:28] RedBaron2 commented on #1502
@AdmiringWorm @marcquark
Confirmed and tested via [Appveyor](https://ci.appveyor.com/project/RBZ/development/builds/33834055)
The only change was to update the image to either _Visual Studio 2017_ or _Visual Studio 2019_ both seem to allow the update to progress correctly.
I would suspect that the older _WMF5_ and _Visual Studio 2015_ don't allow the newer ciphers required for **_owncloud.com_**

[2020-07-01 07:10] AdmiringWorm commented on #1503
@majkinetor

1. I do not like making commits through the GitHub UI
2. It do not allow empty commits
3. I am on a very slow and unstable network connection, so no it would have been faster to make the changes than adding aa commit (it would actually take way longer time).

Anyways, thanks for forcing the new fix version.

[2020-07-01 07:10] #1503 closed

[2020-07-01 08:13] majkinetor commented on #1503
One of the goals of entire AU setup was to enable you quick ad hoc interventions via GitHub UI. I am not saying you should use it for other stuff in general. To circumvent empty commit, I add space in main readme or delete it.

[2020-07-01 11:25] KeenRivals commented on #1503
Thanks for forcing the rebuild. Confirming issue is resolved!

[2020-07-02 12:53] AurelienCordonnier commented on #1505
Copy from chocolatey Disqus, 2 month ago : It seems that 'cygwinsetup.exe' is not updated when a new version is pushed. Lately, I have been forced to update my packages by downloading the setup directly, without chocolatey...
Putting the setup-x86_64.exe in the choco install directory was solve my problem temprarily.

[2020-07-04 11:30] AdmiringWorm commented on #1502
@RedBaron2 thanks for checking that out.
I checked out which servers each image is now running on, and that seems to have changed since the last time I checked (last time I checked both VS2015 and VS2017 was running on Windows Server 2012 R2).
Using the VS2019 image is a nogo, as it does not have Windows PowerShell installed, only PowerShell Core.
I will give it a shot and change the image to VS20

[2020-07-04 11:40] AdmiringWorm commented on #1502
Looks like updating the appveyor image used worked, thanks again @RedBaron2 for looking into it.

I will be closing this issue now as I noticed the updater mentioned that the latest version was pushed (it will take a few hours before it is available without a version argument).

[2020-07-04 11:57] AdmiringWorm commented on #1504
It looks like the updater is failing to update due to a `Forbidden` response from the server.
[code]
https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f#dropbox

[2020-07-04 12:20] AdmiringWorm commented on #1502
Re-Opening as the latest version is failing due to invalid mailing list/forum url

[2020-07-04 12:29] #1502 closed

[2020-07-04 17:12] RedBaron2 commented on #1504
@AdmiringWorm the error if forbidden is due to the version being passed to the URL check in the script.
(Example: latest version `99.6.54` version that gets passed to the URL check is `99.6.54`, but since the latest version is `100.4.321` the version that gets passed to the URL check is `00.4.321` which results in a forbidden URL error )

[2020-07-09 03:28] RedBaron2 commented on #1504
We will be working on a new updater for this package. Website and versioning changes make this a need for this package.

[2020-07-11 10:09] mkevenaar commented on #1186
This issue still exists.

[2020-07-11 15:08] majkinetor commented on #1186
All issues still exists when bot announces closure. I am returning pending closure as it is obvious that nobody cares enough after more then year and a half.

[2020-07-13 12:27] virtualex-itv commented on #1186
I too was able to install with this command but this package deserves an update as there is a newer version available than what gets installed via chocolatey

[2020-07-16 13:26] ropearce commented on #1186
This most definitely is still an issue. I use chocolatey to silently install packages (including 1Password) to my client workstations through a major name RMM. As most recent as yesterday, I was still getting the error message. If anybody wants me to test or review anything, I'm certainly happy to collaborate.

Download of 1PasswordSetup-7.3.705.exe (12.92 MB) completed.
   Hashes match.
   Instal

[2020-07-16 20:58] RedBaron2 commented on #1186
I have a fix for the issue, but requires more testing. I'll have artifacts of the updated nupkg files on my appveyor soon for anyone that wants to test.

The installer they are using is still 'raw' and they are slowly working on only adding switches that are extremely necessary.

I'll update this post shortly with the links.

[2020-07-16 21:55] felin-arch commented on #1424
I had this exact problem when trying to install `python3`. I tried @majkinetor suggestion:

After doing that `python3` successfully installed for me.

[2020-07-21 07:52] ImportTaste opened #1510 "(python) [URGENT] 3.9.0-b5 is installed through 'upgrade all', despite --pre not being set"
For some reason, 3.8.5 appeared in the python3 package but not in the python package. I ran an upgrade all operation.

'python' initially stayed at 3.8.4
'python3' then runs its upgrade operation, upgrading to 3.8.5, its dependency is 'python' and so it tries to match version numbers, but since python did not have 3.8.5, it instead then installed 3.9.0-b5 as well.

I ended up with Python 3.8.4, 3.

[2020-07-21 07:55] ImportTaste commented on #1510
Someone in chat just replied to me that the metadata for python --version 3.8.5 exists: https://chocolatey.org/packages/python/3.8.5

But it does not show up in the Version History: ![](https://files.catbox.moe/w37hak.png)

[2020-07-21 08:12] ImportTaste commented on #1510
I have no clue what's going on. Someone in chat was unable to reproduce it. I'm just going to close this.

3.8.5 still does not appear in the version history of these packages on the site, however. I have to think it's somehow related. This seems like an issue with the site itself.

[2020-07-21 08:12] #1510 closed

[2020-07-21 08:13] AdmiringWorm commented on #1510
That someone would be me, but as I mentioned on gitter there isn't anything wrong from a package perspective, but could be a bug in the choco client itself, or an intermittent error.

[2020-07-21 08:19] ImportTaste commented on #1510
Well, this might be a clue as to why it happened. Or this might just be a red herring.
[code]
(streamlink is installed through chocolatey as well)

[2020-07-21 11:01] #1424 closed

[2020-07-21 11:01] #1477 closed

[2020-07-21 11:01] #1499 closed

[2020-07-21 11:01] #1485 closed

[2020-07-21 11:01] AdmiringWorm commented on #1424
This issue have been resolved in the repository, and a package fix is in the process of being submitted to chocolatey.org for version 3.8.x (fix versions for older versions and beta versions are not planned at this time).

[2020-07-21 11:02] AdmiringWorm commented on #1499
This issue have been resolved in the repository, and a package fix is in the process of being submitted to chocolatey.org for version 3.8.x (fix versions for older versions and beta versions are not planned at this time).

[2020-07-21 11:02] AdmiringWorm commented on #1477
This issue have been resolved in the repository, and a package fix is in the process of being submitted to chocolatey.org for version 3.8.x (fix versions for older versions and beta versions are not planned at this time).

[2020-07-21 11:03] AdmiringWorm commented on #1485
This request have now been implemented in the python3 package, and a package fix for version 3.8.x is in the process of getting submitted to chocolatey.org (fix versions for older versions and beta versions are not planned at this time).

[2020-07-21 13:46] #1500 closed

[2020-07-21 22:55] RedBaron2 commented on #1504
@AdmiringWorm
Since the merging of PR #1508 . I will now close this issue.

[2020-07-21 22:55] #1504 closed

[2020-07-22 07:53] FrancescElies commented on #1485
Where could I followup the submit process?

[2020-07-22 10:22] AdmiringWorm commented on #1485
@FrancescElies I call it a process, but honestly it is just one of us forcing a new update of a package on appveyor.

The latest changes are available: https://chocolatey.org/packages/python/3.8.5.20200721

[2020-07-22 19:57] RedBaron2 commented on #1186
@mkevenaar @ropearce
Thanks for the 👍
Here is the link to the zip [file ](https://ci.appveyor.com/project/RBZ/development/build/artifacts)with my updates for the fix.
Please Test it !_! and let us know of any problems. Thanks

@majkinetor
**FYI:** If this works well for them. There is serious work that needs to be done to the functions that are normally called for Chocolatey Installations.

[2020-07-27 10:12] jetersen opened #1511 "(kubelogin) adding a new automatic package?"
I would like to contribute an automatic package for kubelogin.
The maintainer is kind enough to offer 64 bit builds on github releases: https://github.com/int128/kubelogin/releases

Before starting the work, I would ask if this something your open to or should I maintain the chocolatey package in my own repo.

[2020-07-29 02:37] lucknaumann opened #1513 "(python/python3) cup installed pre-release"
Hi. I hope you are well. I had a strange experience with both the "python" and the "python3" packages while updating. I had v3.8.5 from Chocolatey but installed 3.9-a outside of Chocolatey earlier this year.

## Expected Behavior

Chocolatey to **not** upgrade to a pre-release.

## Current Behavior

Chocolatey upgraded to a pre-release.

Here is the output using `cup all`:

[code]

Fortunately, it

[2020-07-29 14:17] vMaGa opened #1514 "(firefox) Specific language not taken into account"
Installation with specific language seems not working... I tried to force french language or en-GB, but it is always redirected to en-US. However, for example, when I try manually this link "https://download.mozilla.org/?product=firefox-latest&os=win64&lang=fr", it goes really to the french package. During the installation I saw in the console that the downloaded package is with "https://download.

[2020-07-30 03:13] tinydew4 commented on #1514
It seems that the content of LanguageChecksums.csv has been removed from this commit:
https://github.com/chocolatey-community/chocolatey-coreteampackages/commit/2bb76a6458cb05f92c3b7e93bf49a4ed3208b853

[2020-07-30 11:13] AdmiringWorm commented on #1514
I hope to be able to look into the issue sometime this weekend unless someone else is willing to open a PR to fix the issue.

I am going off on the assumption that the formatting of the links on the website have changed, and thus the locales are no longer being detected during the update checks.

[2020-07-31 15:18] AdmiringWorm commented on #1514
I have identified what caused the empty LanguageChecksums.csv file, and have updated the updater with a fix.
A fixed version of the firefox package is being queued to be pushed to chocolatey.org while I am typing this.

[2020-07-31 15:28] AdmiringWorm commented on #1513
This is unfortunately not a problem with the package, as the issue you are reporting happens before the package scripts gains control.

You would need to open a issue over at https://github.com/chocolatey/choco (possibly at https://github.com/chocolatey/chocolatey.org) to have this issue looked at.

That should be have been fixed in the latest stable release of the package, which I pushed last wee

[2020-07-31 15:28] #1513 closed

[2020-07-31 17:59] AdmiringWorm commented on #1514
Re-opening this issue, as there is a problem with the builds we are running on appveyor and thus is preventing us to push a new version (I will close this issue when we are able to run builds on appveyor again).

[2020-08-01 12:37] wget opened #1515 "(LibreOffice) Implement Proxy Authentication based on Install-ChocolateyPackage"
Internal function `GetLibOExactVersion` from the LibreOffice streams helpers I wrote is not supporting proxies.

## Expected Behavior
Handle proxy.

## Current Behavior
Fails with a 407 error.

## Possible Solution
Reuse the code from Install-ChocolateyPackage

## Steps to Reproduce (for bugs)
1. Use a HTTP proxy
2. Try to install LibreOffice
3. Fails because the internal helper function is not su

[2020-08-01 21:18] lucknaumann commented on #1513
Thanks for the reply and info.

[2020-08-04 00:21] #1186 closed

[2020-08-04 00:22] AdmiringWorm commented on #1186
This issue have been fixed in the repository, thanks to @mkevenaar.

A new version is being queued to be pushed to chocolatey.org.

[2020-08-05 02:59] metamarcdw opened #1518 "(python) Pip cannot build C modules"
## Expected Behavior
Pip builds and installs C-based Python modules without issue

## Current Behavior
Pip fails to build certain modules with this error: "error: Microsoft Visual C++ 14.0 is required."

## Steps to Reproduce (for bugs)
1. Install Python using `choco install python`
2. Create a virtual environment using `python -m venv`
3. Attempt to install a module which uses C bindings, for exa

[2020-08-05 06:39] gerdlimbeck commented on #1514
still open this bug?

[2020-08-05 07:45] #1514 closed

[2020-08-05 08:00] gerdlimbeck commented on #1514
Bug is still present:
`C:\Windows\system32>choco upgrade chocolatey`
`Chocolatey v0.10.15`
`Upgrading the following packages:`
`chocolatey`
`By upgrading you accept licenses for the packages.`
`chocolatey v0.10.15 is the latest version available based on your source(s).`

and then

`C:\Windows\system32>choco install firefox /l:de`
`Chocolatey v0.10.15`
`Installing the following packages:`
`firefox

[2020-08-05 08:03] AdmiringWorm commented on #1514
@gerdlimbeck new package versions don't get immediately approved on chocolatey.org, it takes time before between the package gets pushed and it is available for normal consumption.

A fixed version didn't get pushed before this issue was closed: https://chocolatey.org/packages/Firefox/79.0.0.20200805

[2020-08-06 16:12] felipecassiors opened #1519 "How about deactivating AppVeyorBot's comments on PRs?"
In my last two PR's (https://github.com/chocolatey-community/chocolatey-coreteampackages/pull/1517 and https://github.com/chocolatey-community/chocolatey-coreteampackages/pull/1512), most of the comments are just repeated AppVeyorBot's messages: "Verification failed", "Verification completed". All these comments sadly also goes to the mailboxes of the people subscribed to the PR.

I wonder, is it

[2020-08-07 04:36] saolof commented on #987
This. The entire point of a package manager is being just an "install x" away from being able to type "x args" in the command line, with sane defaults.

If I didn't want to add it to path, I'd look up flags. But the default with no flags should be a usable setup out of the box.

[2020-08-13 11:00] FrancescElies commented on #1485
I gave this one a try as follows
`choco install python3     --allowmultiple --version=3.8.5  --installargs "CompileAll=1 Include_debug=1 Include_symbols=1" --params "/InstallDir32:C:\Python38_32bits" -y`
`InstallDir32` was ignored and installed under C:\Python38
![image](https://user-images.githubusercontent.com/6558089/90126914-ae5cb200-dd64-11ea-88c7-19b6964fa847.png)

Did I do something wrong?

[2020-08-13 12:29] AdmiringWorm commented on #1485
@FrancescElies you tried it on the wrong version. You need to use the fix version that was pushed: `3.8.5.20200721`.
Existing versions can't be updated due to them being immutable on chocolatey.org

[2020-08-14 14:42] mstick99 opened #1520 "(WindowBlinds) new version (10.84) available"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Package Version used:
* Operating System and version:
* Chocolatey version:
* Install/uninstall gist:

[2020-08-17 13:06] AdmiringWorm commented on #1520
The WindowBlinds package is not hosted in this repository, only packages that have the `chocolatey` user are available in this repository.

Please contact the actual maintainer of the package by using the `Contact Maintainers` on the package page.

[2020-08-17 13:06] #1520 closed

[2020-08-17 14:58] AdmiringWorm commented on #1519
Yes, it is needed (maybe not for multiple approved messages, but for failing builds they certainly are).

They only prevent the merge if protected branches are enabled, which can not be enabled at this time.
Also, the comments were added on purpose as when only having the checks, the submitter typically ignored them.

So bottom line, they will not be removed.

[2020-08-17 14:58] #1519 closed

[2020-08-17 15:12] AdmiringWorm commented on #1511
Sorry about the late response (this issue must have gone under my radar).

We are generally open to accepting new packages, as long as the package is up to our standards (as defined in the [Contributing](https://github.com/chocolatey-community/chocolatey-coreteampackages/blob/master/CONTRIBUTING.md) documentation )).

Just be aware that you (assuming you will be the one that submits the package to

[2020-08-17 15:12] felipecassiors commented on #1519
Does the comments prevents that?

[2020-08-17 15:17] AdmiringWorm commented on #1519
No, they do not.
They are more for the submitter to take notice, and to a reviewer to mention that latest build was successful/failed (if they subscribe to the pull request).

[2020-08-17 15:18] #1495 closed

[2020-08-17 15:20] AdmiringWorm commented on #1495
A fix have been implemented for the package, and if all goes well, a new package fix version should be available on chocolatey.org in a few hours (could take longer).

[2020-08-17 15:29] felipecassiors commented on #1519
If for historical reasons the users does not pay attention to the checks, but only to the comments, I understand, despite I can't imagine such a situation.

[2020-08-17 15:49] AdmiringWorm commented on #1519
That has happened (generally because they didn't get some notification of whether something worked or not), some even still ignore the comments (very few, thankfully).

[2020-08-17 15:51] mstick99 commented on #1520
Had contacted the maintainer but there was no response so thought to try here. Oh well no big deal.

[2020-08-17 15:54] felipecassiors commented on #1519
I see. Thank you so much for the clarifications!

[2020-08-17 15:54] AdmiringWorm commented on #1520
@mstick99 if you do not get a response from the maintainer (using the `Contact Maintainers` link), then the next step is to use the `Contact Site Admins` link instead (when sending that message, you should mention if you wish to become the new maintainer or not).

This is detailed in the [Package Triage Documentation](https://chocolatey.org/docs/package-triage-process).

[2020-08-17 16:04] jetersen commented on #1511
Great, I got side tracked myself. I'll get back to opening a PR.

[2020-08-20 18:12] #1511 closed

[2020-08-20 18:14] majkinetor commented on #1518
So you want dependency added to  Microsoft Visual C++ 14.0 ? Did you try it manually ?

[2020-08-20 18:53] jetersen commented on #1511
will AU upload itself or do I have to create it?

[2020-08-20 18:54] majkinetor commented on #1511
It will handle it once you fix this error:

https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f#errors

[2020-08-20 18:58] jetersen commented on #1511
hmm could I reuse the kubernetes logo? Kubelogin does not have one.

[2020-08-20 19:00] majkinetor commented on #1511
https://github.com/chocolatey-community/chocolatey-coreteampackages/blob/master/CONTRIBUTING.md#125-provide-icon

[2020-08-20 19:34] jetersen commented on #1511
Could I be added as package manager for the kubelogin package? my profile: https://chocolatey.org/profiles/jetersen

[2020-08-20 19:35] majkinetor commented on #1511
We don't generally practice that as you can always PR here and we have single package authority.

[2020-08-20 19:42] jetersen commented on #1511
sure thing, still learning. Just wanted to be able to see approval and the likes 😅

[2020-08-20 19:47] AdmiringWorm commented on #1511
@jetersen you have been added as a maintainer for the kubelogin package.
You should have received an email with a link to confirm your addition.

[2020-08-20 20:50] jetersen commented on #1511
Many thanks 🙇

[2020-08-22 09:49] opusforlife2 opened #1526 "(libreoffice-fresh) - Not auto-updating to version 7"
It's at 6.4.6, which is where the Still version should be. Still is... still on 6.3.6.

[2020-08-24 06:36] majkinetor opened #1528 "(graphviz) Outdated"
Graphviz iz outdated due to upstream changes. It requires as far as I can see full rewrite which at the end should invoke `dot -c` in admin console.

- Binaries: https://www2.graphviz.org/Packages/stable/windows/
- Changelog: https://gitlab.com/graphviz/graphviz/-/blob/master/CHANGELOG.md#2441-2020-06-29

It now provides both x32 and x64 cmake builds:

- https://forum.graphviz.org/t/new-simplified

[2020-08-25 00:20] Smattr commented on #1528
FYI the Graphviz maintainers are currently trying to assess the delta in functionality between the 2.38 release and 2.44.1: https://forum.graphviz.org/t/windows-x86-x86-64-builds/305/6

[2020-08-25 17:42] RedBaron2 commented on #1528
@Smattr
Are you saying for someone to go ahead and work on fixing the update script? The forum thread doesn't make it clear.

[2020-08-26 00:46] Smattr commented on #1528
I think there's no reason to hold off on updating the Chocolatey script if you have time to work on this. However, be aware there has been lots of turbulence in the Graphviz world between the 2.38 release and the 2.44.1 release. There are likely binaries that ship in the 2.38 release that are missing from the 2.44.1 release. Users who are upgrading may find this surprising.

If you post a PR for t

[2020-08-26 00:48] Smattr commented on #1528
One other thing, we've had users reporting the 2.44.1 installer is detected by several AV programs. The general thinking is that this is a false positive, but we have limited ability to evaluate these results or influence them: https://gitlab.com/graphviz/graphviz/-/issues/1773.

[2020-08-26 05:14] RedBaron2 commented on #1412
@burfo
Would copying WinSCP.com to the location of the shimmed WinSCP.exe accomplish what is requested?

The questions are more about:
- do you require it in the PATH?
{The entire chocolatey lib directory is on the PATH}
- what location is expected?
- would something like `programdata/chocolatey/WinSCP.com` work for you?

[2020-08-26 12:55] jetersen commented on #1511
Still awaiting approval, sadly means no `choco install kubelogin` joy 😓

[2020-08-27 01:32] RedBaron2 commented on #1528
@Smattr
I will work on updating the update script, but the install/zip files being flagged by VirusTotal is disturbing.
This might not cause issue for FOSS users of chocolatey, but paid users of chocolatey could be denied update/install of the program.
Please keep us updated on the [Issue #1773](https://gitlab.com/graphviz/graphviz/-/issues/1773)

[2020-08-27 05:26] burfo commented on #1412
@RedBaron2 I would expect (and prefer) for WinSCP.com to be in the PATH, yes.  This executable is used in scripts and such; it would not be ideal to embed the executable's path into the scripts.  If it's in PATH, then I don't have any preference on where it's actually stored but being next to WinSCP.exe would seem appropriate to me.

[2020-08-27 06:15] RedBaron2 commented on #1412
@burfo
I'll work on a test package for you by the end of the week :crossed: . You can give me feedback if it works for you.

I'll edit this with the package URL later

[2020-08-27 06:19] RedBaron2 commented on #1526
@wget
If you could take a look at why it isn't updating. It appears to only be feeding `a a a` to the LinkArray variable. Thanks

[2020-08-27 10:21] AdmiringWorm commented on #1412
@RedBaron2 be mindful that adding files manually to the `bin` directory is not allowed on chocolatey.org.
The same goes for any directory underneath `%ChocolateyInstall%` other than the package directory itself.

The best bet would actually be to change the installation location to use `Get-ToolsLocation` and add that to the `PATH` environment variable instead of relying on shims.

*NOTE: This wil

[2020-08-27 11:03] AdmiringWorm commented on #1528
@RedBaron2 I agree, the amount of anti-virus scanners getting triggered on VirusTotal is disturbing.
And for the chocolatey repository it is way to high (12/53 for the zip archive, and 22/70 for the executable) without a sufficient reason for the flagging (just saying false flags would not be a sufficient reason in this case).

Until there is sufficient reason, or the amount gets less than 10 (the

[2020-08-27 12:32] majkinetor commented on #1412
I suggest simply adding shim to it.

[2020-08-27 12:41] AdmiringWorm commented on #1412
@majkinetor I don't think that would work in this case, I believe it may be incompatible with the already shimmed `WinSCP.exe` file.
But by all means, if it do work then indeed that would be the best.

[2020-08-27 14:50] wget commented on #1526
@RedBaron2 Thanks will do :)

[2020-08-27 14:51] wget commented on #1526
Btw, the auto update process to 7 is normal. The TDF sysadmin team has not pushed the 7.0 version to the update service yet :)

[2020-08-27 14:55] opusforlife2 commented on #1526
Oh. That's interesting. Do you know the reason why TDF is maintaining such a large gap between the release and automatic updates? Server load, maybe?

[2020-08-28 03:01] RedBaron2 commented on #1412
FYI: the normal install of the WinSCP Setup file **_Does Not_** add either `WinSCP.exe` or `WinSCP.com` to the _Path_
This is only done when installing  `WinSCP.Install` through Chocolatey

AdmiringWorm had quoted in issue #1134

This appears to be the easiest solution to the problem.
- It will put it on the path
- It will make it accessible from the cmd and posh
- It will be a simple line additio

[2020-08-28 09:45] mstick99 opened #1529 "(PIA) new version 2.3.1 available"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Package Version used:
* Operating System and version:
* Chocolatey version:
* Install/uninstall gist:

[2020-08-28 17:57] AdmiringWorm commented on #1529
As I told you when you opened a different issue 2 weeks ago:

[2020-08-28 17:57] #1529 closed

[2020-08-29 08:00] #1412 closed

[2020-08-30 00:39] RedBaron2 commented on #1515
@wget @ferventcoder
I will make the suggestion that the proxy detection used by Install-ChocolateyPackage script should be made into it's own helper script. This would make usage in other packages easier in the future.
Right now the proxy detection lines of code are used in three chocolatey functions.

[2020-08-30 00:49] RedBaron2 commented on #1526
@wget
I'm curious as to the reasoning for using TDF's update services to update this package on chocolatey.
It seems to lag behind other methods used by other AU updated packages that use
- blogs from the developer
- website download pages
- GitHub release tags
- other FOSS websites

I'm just curious to know the reasoning that this approach was chosen. It seems to be very inefficient.

[2020-08-30 14:26] gep13 commented on #1528
Further to what @AdmiringWorm has mentioned, we are in the process of fully adding the package-scanner into the package moderation process.  As such, any package with greater than 10 detections from VirusTotal will be pushed back to the maintainer to investigate.  It will be possible to exempt a package that has greater than 10 detections, but this will be required on a per package version basis.

[2020-08-30 14:30] Smattr commented on #1528
Sounds like a good idea. In the meantime, Magnus Jacobsson has done some painstaking work jumping through the hoops to get AV vendors to acknowledge and remove the Graphviz false positives. Some (or all) of the installers you may want to pull for Chocolatey should now be detection free: https://gitlab.com/graphviz/graphviz/-/issues/1773

[2020-08-30 17:29] majkinetor commented on #1528
That is inspirational :) Awesome work guys.

[2020-08-31 11:54] JohnEricson commented on #1387
I'm still interested in doing this. Will look at it in about a month.

[2020-08-31 14:14] pataluc opened #1532 "(supertuxkart) Outdated"
Supertuxkart 1.2.0 just released: https://blog.supertuxkart.net/2020/08/supertuxkart-12-release.html

Changelog is here: https://github.com/supertuxkart/stk-code/blob/1.2/CHANGELOG.md, binaries moved to github here: https://github.com/supertuxkart/stk-code/releases/tag/1.2

;)

[2020-09-01 16:56] RedBaron2 commented on #1532
@pataluc @AdmiringWorm
I will submit a PR for this later today. It needs a better regex to get those new links.

[2020-09-02 02:41] RedBaron2 commented on #1528
Working on the new update script. This will include the development `--pre` build for both builds `stable` and `development`
I will need to do the finishing touches later this week.

[2020-09-02 15:08] #1532 closed

[2020-09-02 16:12] #1217 closed

[2020-09-02 16:48] gep13 commented on #1217
@majkinetor am I right in saying that you haven't seen any further instances of Out of Memory exceptions, or other errors, when pushing packages to chocolatey.org?

[2020-09-02 18:04] majkinetor commented on #1217
Yah, fix looks legit so far 👍

[2020-09-02 18:26] gep13 commented on #1217
Yah, fix looks legit so far 👍

That is great news!

[2020-09-03 05:58] RedBaron2 commented on #1528
I know it is recommended too have packages be embedded, but to update this package is it absolutely necessary?
/cc @majkinetor @AdmiringWorm

Just looking to see if changing it to be downloaded is that bad.

[2020-09-03 06:15] majkinetor commented on #1528
Yes, its that bad. Why is embedding it a problem ?

[2020-09-03 06:15] AdmiringWorm commented on #1528
@RedBaron2 https://github.com/chocolatey-community/chocolatey-coreteampackages/blob/master/CONTRIBUTING.md#114-embed-a-package-if-allowed

changing it to a non-embedded package is not acceptable when it can be embedded.

[2020-09-04 16:48] veleek commented on #771
Another year later and I'm still experiencing this issue.  @madcampos - Did your alternative solution ever pan out?

[2020-09-04 20:39] RedBaron2 commented on #1528
The PR has been updated and is a good embedded package. I just needs to be tested.
Thanks to all for your help.
/cc  @Smattr @majkinetor @AdmiringWorm

[2020-09-05 23:09] madcampos commented on #771
I'm sorry for the silence.
@veleek  The easiest solution I've found was to uninstall the store app and run the normal process without any changes to the script.

[2020-09-07 04:30] wget commented on #1515
@RedBaron2 Could you please be more meaningful about this and point me to the aforementioned 3 files already using the proxy detection code?

[2020-09-07 04:43] RedBaron2 commented on #1515
I will fill this in later with the actual lines for the proxy detection code

1.

2.

3.

[2020-09-09 01:34] RedBaron2 commented on #1526
@wget
The new current version is `7.0.1`
It doesn't seem to be the script.
My local forked copy of the repo updated to this new version on `9/3/2020`

[2020-09-10 11:39] tunisiano187 commented on #1420
it seems, they've changed the links

[2020-09-11 22:28] aminya opened #1536 "(wixtoolset) Include Visual Studio integration"
wixtoolset does not include Visual Studio integration

https://marketplace.visualstudio.com/items?itemName=WixToolset.WixToolsetVisualStudio2019Extension
https://marketplace.visualstudio.com/items?itemName=WixToolset.WixToolsetVisualStudio2017Extension

This integration is needed for developing packages (such as ChocolateyGUI). Based on the documentation installing wixtoolset should be enough, but

[2020-09-14 04:55] RedBaron2 commented on #1536
@aminya
This is not a package that is handled in this repository, but I'm going to ask for this issue to be moved by @gep13
Thanks for the report and @gep13 for the assistance.

[2020-09-14 05:04] gep13 commented on #1536
@RedBaron2 why are you saying that this package isn’t maintained here?

https://github.com/chocolatey-community/chocolatey-coreteampackages/tree/master/automatic/wixtoolset

[2020-09-14 05:56] RedBaron2 commented on #1536
@gep13
`wixtoolset` is but the `wix visual studio extension` is not handled here.

I called you in to check if this is truly a package problem or if Chocolatey GUI needs to list it as a requirement.

Though now as I have looked closer into it. `wix visual studio extension` seems to need to be made into a chocolatey package, but this is not a issue of the `wixtoolset` package IMHO.

[2020-09-16 08:18] Luvideria commented on #987
I agree on this. At least some way to add it after install, instead of having to uninstall and re-install with the `ADD_CMAKE_TO_PATH`.
But maybe it's not clear **why** it is not the default. Someone care to explain?
on the first response we see:
from @AdmiringWorm

Why is this so?
Is it a requirement from choco itself?
I had expected that everything choco installs is automatically referenced some

[2020-09-16 09:17] AdmiringWorm commented on #987
Not specifically a requirement, however in general chocolatey packages are expected to behave similar to the defaults of an installer.
There are a few exceptions, but this is unfortunately not one of them.

[2020-09-18 05:33] RedBaron2 commented on #1536
Currently working on the extension package for wix toolset.

Would like to know?
- preferred idea for naming this package @gep13

- dependency only on wix toolset
- dependency on wix toolset and visual studio

Thanks for the assistance

[2020-09-18 05:45] aminya commented on #1536
Thank you for working on this! I think it's best to keep the original name so people can find it! I had preferred them included in the WiX toolset itself, but that's just my opinion, and there are many other good reasons for not doing so.

[2020-09-18 05:47] corbob opened #1538 "(nodejs.install) Install doesn't include options to msiexec for a log file"
## Expected Behavior
When installing an msi, logging is enabled for `msiexec.exe` (preferably with /l*v)

## Current Behavior
ChocolateyInstall.ps1 does not currently install the msi with any logging options enabled.

## Possible Solution
Adding ```/l*v `"$($env:TEMP)\$($packageName).$($env:chocolateyPackageVersion).MsiInstall.log`"``` to the `silentArgs` after `/quiet`: https://github.com/chocola

[2020-09-18 07:20] gep13 commented on #1536
@RedBaron2 apologies, I never read the original issue properly!

@aminya would you be in a position to send a PR to correct the documentation for this on the Chocolatey GUI repository?

@RedBaron2 there are existing Visual Studio Extensions out there, for example: https://chocolatey.org/packages/visualstudio2017-powershelltools so I would suggest in terms of naming conventions, that similar to the

[2020-09-19 01:58] RedBaron2 commented on #1536
This will have a separate package for each version currently supported on Wix website.

@gep13
This should follow the current naming convention 🤞
Current name of package will be `wixtoolset-visualstudio<year>extension` the variable `<year>` would be swapped out for 2010 through 2019

This will install through chocolatey the `wixtoolset` package if not installed, and will check the registry for a v

[2020-09-22 09:03] tunisiano187 commented on #1505
It's been updated July 13th so i think, you can close this issue.

[2020-09-22 10:56] AdmiringWorm commented on #1536
Indeed, it should follow the naming convention.
Using `wixtoolset-visualstudio<year>extension` is not following the convention though.
It is an extension to visual studio, not for wixtoolset as that name would imply.

The correct name would be:
[code]

[2020-09-22 14:56] TheCakeIsNaOH opened #1539 "(Vagrant) - Failing Verification Testing"
Vagrant 2.2.10 is failing verification testing.
https://chocolatey.org/packages/vagrant/2.2.10

[2020-09-22 15:26] pascalberger opened #1540 "(chocolatey-vscode.extension) Installing extensions doesn't work when using self-service"
## Expected Behavior

Packages using chocolatey-vscode.extension should work when using with self-service.

## Current Behavior

Packages are installed for the current user, which in case of the self-service, is a different user than the one who started installation.

## Possible Solution

## Steps to Reproduce (for bugs)

1. Enable [self-service](https://chocolatey.org/docs/features-agent-service

[2020-09-22 17:32] RedBaron2 commented on #1536
@AdmiringWorm
I point out what is written on WiX Website

Though I will submit the PR with the name of
'visualtudio<year>-wixtoolset`

[2020-09-23 00:15] RedBaron2 commented on #1536
@gep13 @ferventcoder
I closed my PR because of [issue](https://github.com/chocolatey/choco/issues/1201)
I tried several different ways to have it install correctly in Appveyor which has 2010 - 2019 versions of Visual Studio installed.
All the installs fail with the error _**"Visual Studio is not installed or the specified version is not present."**_
The PR can not be approved if the package won't

[2020-09-23 03:18] aminya commented on #987
How can I do this in ChocolateyGUI? The default behavior should add cmake to the PATH.

[2020-09-23 06:11] AdmiringWorm commented on #987
@aminya you can't, not until https://github.com/chocolatey/ChocolateyGUI/issues/545 is implemented.
Use the cli until then.

[2020-09-23 21:15] MartijnOnGithub commented on #1421
I can confirm i have a similar problem: Installation does not work if it is running as System user and 'headless'; check also my comment at https://chocolatey.org/packages/paint.net

[2020-09-24 06:52] MartijnOnGithub commented on #1421
You can reproduce this problem by creating a 'headless installer' (of remover) in the Windows task scheduler. For example:
- import XML in schedule
- adapt it if necessary (SYSTEM user should be filled in in Security section in GUI)
- start task manually

<?xml version="1.0" encoding="UTF-16"?>
<Task version="1.2" xmlns="http://schemas.microsoft.com/windows/2004/02/mit/task">
  <RegistrationInfo>

[2020-09-24 07:04] MartijnOnGithub opened #1542 "(paint.net) Unattended installation fails when running as SYSTEM"
Chocolatey Package - Paint.net
If running a hidden (as SYSTEM) installation (/update/removal) this fails.
Especially in a situation where it is not possible for the installer to show a GUI (lets call is headless)
Check also issue #1421

## Possible Solution
Check my comment at #1421: adding a MSI mode to the package may be a solution

## Steps to Reproduce (for bugs)
Check my comment at #1421: cre

[2020-09-24 07:13] majkinetor commented on #1421
I believe this is an upstream problem, not choco releated - installer shouldn't show any GUI in silent mode and it will probably work. This is regular Windows protection - you can't run GUI as system as Desktop is not available.

See more:

- https://docs.microsoft.com/en-us/windows/win32/winstation/window-station-and-desktop-creation?redirectedfrom=MSDN
- https://voicent.com/ivr/blog/index.php/iv

[2020-09-24 07:17] majkinetor commented on #1542
See my response here:
https://github.com/chocolatey-community/chocolatey-coreteampackages/issues/1421#issuecomment-698161932

[2020-09-24 10:06] MartijnOnGithub commented on #1421
Thanks for the feedback. I think more persons or organisations do have this problem as I can see in this issue.
I have no experience with creating of modifying Choco packages.

[2020-09-24 14:42] MartijnOnGithub commented on #1421
I tested substracting MSI from the setup EXE, but again it shows a status screen. So that will probably also deliver a problem for "real time MSI generation". Probalbly the ony option: the installer is really unattended/quiet.

[2020-09-24 15:09] majkinetor commented on #1421
OK, only other option seems portable installation.

[2020-09-24 15:17] LWKS-PM opened #1544 "(lightworks) Update the Software Author"
The author shown here: https://chocolatey.org/packages/lightworks shows the previous owner as: EditShare
Since September 15th 2020 Lightworks is now owned by: LWKS Software LTD If this could be updated to reflect that change, it would be great.
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Package

[2020-09-25 08:21] gep13 commented on #1544
@LWKS-PM looks like this has been addressed via a PR from @RedBaron2 When a new release of LightWorks is made, the package will have the updated information regarding the owners.

Is there a new release of the software planned?

[2020-09-25 17:27] #1538 closed

[2020-09-27 01:59] RedBaron2 commented on #1452
@AdmiringWorm @musm
I'm going to check if this is even an option in the next few weeks.

I will also contact the developers about having this option made available outside of non-silent installations.

IMHO this would be a better option for the community.

[2020-09-27 02:02] RedBaron2 commented on #771
@madcampos
I would like to know if any personal settings were charged in your case.

Depending on the answer a possible solution might be available.

[2020-09-28 00:27] madcampos commented on #771
@RedBaron2 no, my settings were unaffected.

[2020-09-28 00:49] RedBaron2 commented on #771
@madcampos
Thanks, for the information. I'll do I but more research and then present a PR for the package.
Thanks 👍

[2020-09-28 10:14] LWKS-PM commented on #1544
Hi, the latest release 2020.1.1 has just been made available. The next release is scheduled for 25th November 2020

[2020-09-28 18:09] ferventcoder opened #1547 "(python3) Weak File Permissions with Global Path leads to possible DLL Hijacking"
From January security advisory:

__________

Advisory: Weak File Permissions

Description
===========
The Chocolatey package manager installs the Python3 package with "modify" permissions for all users.

Details
=======
Advisory ID: usd20190068
OTRS ID: Ticket#2019120901000022
Product:  Chocolatey Python 3 Community Package
Vulnerability Type: Weak File Permissions
Security Risk: High
Vendor URL:

[2020-09-28 18:09] ferventcoder commented on #1547
This was fixed with https://github.com/chocolatey-community/chocolatey-coreteampackages/commit/941489a0ebb0e65e3544706b7005861dd50554de

[2020-09-28 18:09] #1547 closed

[2020-09-28 18:11] ferventcoder commented on #1431
Just a note #1547 is why this was changed in the first place.

[2020-09-28 18:24] ferventcoder commented on #1547
#1431 is asking for an opt out, which seems reasonable. I would see a simple package parameter for that. Let's move discussion to that over there.

[2020-09-29 03:24] aminya opened #1548 "(julia) It should remove the old version on updating"
The Julia package does not remove the old version on updating.
https://chocolatey.org/packages/Julia
https://github.com/chocolatey-community/chocolatey-coreteampackages/tree/master/automatic/julia

## Expected Behavior
Remove the old version

## Current Behavior

Does not remove

## Your Environment

* Package Version used: 1.5.2
* Operating System and version: win 10

[2020-09-30 15:24] ohadschn opened #1551 "(ffmpeg) separate to x86 and x64 flavors"
## Expected Behavior
Current package continues to work the same, but interested users can opt for an architecture-specific package and save download time and disk space.

## Current Behavior
Currently the `nupkg` contains both x86 and x64 ffmpeg flavors, approximately doubling its size.

## Possible Solution
Separate these to two different packages (one for x86 and one for x64). Of course the curr

[2020-09-30 17:49] jtcmedia opened #1552 "(ffmpeg) Release site has shutdown, needs new release source"
## Current Behavior
ffmpeg.zeranoe.com, the source for new releases for this package, has shutdown as mentioned [here](https://www.reddit.com/r/ffmpeg/comments/ikht2k/ffmpegzeranoecom_will_close_on_sep_18_2020/)

## Possible Solution
Get static builds from either [www.gyan.dev](https://www.gyan.dev/ffmpeg/builds/) or [https://github.com/BtbN/FFmpeg-Builds](https://github.com/BtbN/FFmpeg-Builds)

[2020-09-30 19:38] elementally7321 commented on #1391
Hello, I'm having the same issue. How did you solve it?

[2020-10-01 07:01] naveen521kk commented on #1552
Looks like there will be no support for 32 bit. Both the build are for 64 bit,

[2020-10-01 07:05] majkinetor commented on #1551
Sorry, we don't do that., its too much hassle for trivial benefit.

[2020-10-01 07:05] #1551 closed

[2020-10-01 07:07] #1544 closed

[2020-10-02 06:41] #1552 closed

[2020-10-02 07:55] AdmiringWorm commented on #1548
TBH, I am a bit hesitant to add any uninstallation of older versions.
We currently do not have any way to know which version was previously installed by the package, and since the installer allows multiple installations, we could mistakenly remove a version that was intentionally installed side-by-side.

Anyhow, I will still add this as an `Up for Grabs`  item.

[2020-10-02 07:58] AdmiringWorm commented on #1539
Latest version is available

[2020-10-02 07:58] #1539 closed

[2020-10-02 09:22] aminya commented on #1548
This is inconsistent with what you have in the documentation. Calling uninstall for Julia does not work, which is very strange for a package that is managed by the core team.

You must be able to use a glob pattern to find all the Julia installations. Also, keeping track of the installed apps should not be hard.

Note that all the Julia instances share the `~/.julia` path. Upon uninstallation, you

[2020-10-02 09:34] AdmiringWorm commented on #1548
The uninstall works as intended, unfortunately it only works if it can find a single installation of the program (at least the script, the auto-uninstaller should work in other cases, but that may not always be completely silent).

The problem isn't finding the installations, nor keeping track of them (in general).
The problem is that we are not able to detect in the package whether multiple insta

[2020-10-02 16:23] sataset commented on #258
@majkinetor answer did not work for me.

What worked for me is uninstalling `python` package first, then `python3`. Even though they both are same versions. Idk what is that and this behaviour is totally weird.

**Solution:**
[code]

[2020-10-03 07:26] AdmiringWorm opened #1557 "(nmap) Autohotkey silent install failure"
## Expected Behavior

The automated verification test on chocolatey.org to succeed.

## Current Behavior

The verification test for version 7.90 of nmap is currently failing with a message saying that silent installation is only supported in Nmap OEM (I can not find any reference on such a thing on their website).

## Possible Solution

May require the usage of autohotkey (which I have zero to lit

[2020-10-06 10:32] UsernameIsAlreadyTakenByMe commented on #1557
I'm not sure they already decided what are they nowadays:
https://github.com/nmap/npcap/blob/master/LICENSE
"Even though Npcap source code is publicly available for review, it is not open source software"
https://nmap.org/
"Nmap ("Network Mapper") is a free and open source (license) utility"

[2020-10-06 19:47] vasily-codefresh opened #1558 "(python3) 3.9.0 upgrade: `/installdir` takes no effect"
Python 3.9.0 disrespects `/installdir`, creating `C:\Python39` and putting the new things there.
Per Chocolatey seems that `c:\tools\python3` should be the destination instead.
It seems like sowhow there's a wrong value for `/targetdir`

## Expected Behavior

When upgrading 3.8.6 with a custom `/installdir` with 3.9.0, new Python should use the `/installdir` location.

## Current Behavior

Current

[2020-10-06 22:31] layanto commented on #1499
I still have this problem without forcing 32-bit. I am on Python 3.8.4 (installed with chocolatey), upgrading to 3.9.0 raised the error that registry key InstallPath not found even though the registry key is there. In fact, Python 3.9 successfully installed in c:\Python39 but c:\Python38 was not uninstalled.

![image](https://user-images.githubusercontent.com/245078/95266870-cbeb5b00-087f-11eb-84c

[2020-10-06 23:50] RedBaron2 commented on #1558
@vasily-codefresh
Thank you for raising this issue.

I have tried using
`choco install python3 --version 3.8.6 --params "/installdir:c:\tools\python3"`
like listed on the chocolatey [Python3 page](https://chocolatey.org/packages/python3/3.9.0)
and using
`choco install python3 --version 3.8.6 --params="/installdir:c:\tools\python3"`

Both commands succeed with
`Software installed to 'C:\tools\pytho

[2020-10-06 23:56] vasily-codefresh commented on #1558
@RedBaron2 hey, maybe a bit of misunderstanding here:
1. `choco install python3 --version 3.8.6 --params "/installdir:c:\tools\python3"` indeed installs to `C:\tools\python3`
2. now try `choco upgrade python3` and you'll see `C:\python39` will be created when package is updated to 3.9.0

[2020-10-07 00:09] RedBaron2 commented on #1558
@vasily-codefresh
That is the intended effect I'm sorry to say.
You would have to use
`choco upgrade python3 --params "/installdir:c:\tools\python3"`
unless the use of the chocolatey feature `useRememberedArgumentsForUpgrades` for the command `choco upgrade python3` to work as you want. This feature can cause side effects for other packages as mentioned in [issue #1443](https://github.com/chocolat

[2020-10-07 00:13] vasily-codefresh commented on #1558
@RedBaron2 it's not, I believe:

1. per docs on Choco page: `/InstallDir - Installation directory. NOTE: If you have pre-existing python3 installation, this parameter is ignored and existing python install location will be used`
2. in Choco output we can see `2020-10-06 21:44:19,744 9328 [INFO ] -   Software installed to 'C:\tools\python3'`
3. it used to work, 3.6-3.7-3.8 upgrade didn't mess the p

[2020-10-07 00:25] vasily-codefresh commented on #1558
in fact, I can see that [this patch](https://github.com/chocolatey-community/chocolatey-coreteampackages/commit/5664b53879f0e29599a2d1634d6bf64130cd15ee#diff-b5ac65456f080400511b76ffd75cf822R31) broke the documented behaviour and now doesn't use the `path for pre-existing python3 installation`, only the path for pre-existing python3.9 installation.

that's a bug for sure.

[2020-10-08 12:36] AdmiringWorm commented on #1558
@vasily-codefresh actually, the script itself never used the path for pre-existing python3 installations.

That patch you mentioned was to get the correct location it actually got installed too.

The documented behaviour was purely added because the installer itself ignored any path passed to it when an existing installation already was available (we never had any code in the package that would ex

[2020-10-08 12:45] vasily-codefresh commented on #1558
@AdmiringWorm it used, until 21/Jul. this code did exactly this:
`$installLocation = Get-AppInstallLocation python | ForEach-Object { $_.TrimEnd('\') }`

based on Choco logs I'm pretty sure that's not a bug on installer, as `TargetDir` passed to it is just wrong.

I'd like to add that current (post-21 Jul) behaviour creates problems for users, as this results to not cleaning up the previous instal

[2020-10-08 12:47] vasily-codefresh commented on #1558
and yes, as for `choco upgrade python3 /installdir...`.
nobody will do this. in fact, most users do something like `choco upgrade all`, not upgrading their packages one-by-one.

[2020-10-08 12:54] AdmiringWorm commented on #1558
Look at where that code is in the install script.
Notice that it is located after a call to the `Install-ChocolateyInstallPackage` (this is the function for installing the software).

I agree with you there, as I considered the previous behaviour of the installer to be the actual bug as it prevented the installation of multiple python versions (which to my understanding is desirable in some cases,

[2020-10-09 21:15] opusforlife2 commented on #1526
Now it's at 7.0.2.

[2020-10-10 23:53] RedBaron2 commented on #1526
@opusforlife2
After the PR gets approved the package should be updated to the latest builds.

[2020-10-11 04:59] opusforlife2 commented on #1526
Thank you!

[2020-10-15 05:06] nutterthanos commented on #1557
Yeah i don't even know how to do silent install now so now what do we do install the oem version or if you said need autohotkey how do we use that to get silent install?

[2020-10-17 02:00] RedBaron2 commented on #1557
@AdmiringWorm
The best option is to convert the package to use the zip file.
Then using the Chocolatey `Get-UninstallRegistryKey` Helper to find a prior install location, or extract to the `$toolsdir` folder.

[2020-10-17 12:22] nutterthanos commented on #1557
@RedBaron2 the only thing with that is npcap will need to be a dependency

[2020-10-20 17:37] wget commented on #1526
Simple. That way, TDF controls the updates :)

[2020-10-20 17:37] #1526 closed

[2020-10-26 17:30] 29039 commented on #1330
I'm having this problem also, I need to be able to always run the latest version using gswin64c.exe without having to specify the exact path as this changes with each version

[2020-11-01 17:25] opusforlife2 opened #1561 "(youtube-dl) Outdated - Github repo suspended"
Since the Github repo is suspended for an indeterminate amount of time, the script should use the official website (https://youtube-dl.org/) to download new versions.

[2020-11-03 10:52] pauby opened #1563 "(kitty) High Virus Count for klink.exe (0.74.2.7)"
We've had another report about the [kitty package](https://chocolatey.org/packages/kitty/0.74.2.7#virus) high virus count for klink.exe. It's currently standing at 7 detections which is above the threshold we'd consider a false positive and as such we'd need to reject it without a good explanation backed up from the vendor / author.

I've submitted it back to the Package Scanner just now to rerun

[2020-11-06 12:11] WernerWessely opened #1564 "No option to install Ruby without utf-8 as default external encoding."
## Expected Behavior

Install the Ruby package without the option of using utf-8 as the default external encoding.

## Current Behavior

It is currently not possible to specify that you do not want to use utf-8 as the default external encoding. This basically make the package unusable if you have this necessity.

## Possible Solution

Provide a 'Package Parameter' to disable utf-8, e.g. `/NoDefaul

[2020-11-06 20:24] jaynemo commented on #1563
Apparently this is due to poor-quality virus scanners flagging it over the use of UPX to reduce the size of the executable. I see that the latest version on chocolatey, 0.74.2.8 seems to trigger less issues on VirusTotal.

The author now builds an uncompressed version that avoids those issues which is apparently used by scoop- maybe it would be best to switch to that for the packages.

[2020-11-07 17:13] pauby commented on #1563
I'd disagree this is poor quality virus scanners:

![image](https://user-images.githubusercontent.com/12760779/98447321-cce00880-211b-11eb-8e2d-43e9c5c11feb.png)

But I take your point.

The latest doesn't have AV results as yet but the 0.74.2.8 is flagged by 6 AV scanners. This is still too high without an explanation by the vendor / author. Do we have something we can point to in the nuspec desc

[2020-11-09 07:20] nutterthanos commented on #1557
@AdmiringWorm Any Progress?

[2020-11-09 11:11] WernerWessely commented on #1564
I make a mistake, seems like the default is no utf8 for external encoding with the way the package installs. Closing.

[2020-11-09 11:11] #1564 closed

[2020-11-12 08:26] naveen521kk opened #1565 "(python3) Check whether pip is installed"
## Expected Behavior
Sometimes, when python is already installed, running the installer would simply do nothing and just report that it was already installed. Now, this causes some problem,the `pip`(the package manager), is installed by default when it is installed first. But that can be uninstalled or the user can install it manually without it which causes problem. The problem occurs only when u

[2020-11-12 14:31] majkinetor commented on #1561
There are no new versions AFAIK. We should IMO wait until situation resolves. The tool is embedded and last version will work anyway.

[2020-11-12 14:34] opusforlife2 commented on #1561
The version in the repo is 2020.09.14. The latest version is 2020.11.12.

[2020-11-12 14:38] majkinetor commented on #1561
Interesting. Thx.

[2020-11-12 14:43] opusforlife2 commented on #1561
So will you be reviewing the linked PR?

[2020-11-12 18:53] majkinetor commented on #1561
I merged it, but it failed verification which needs to be fixed /cc @jaynemo

https://chocolatey.org/packages/youtube-dl/2020.11.12

[2020-11-13 22:55] TheCakeIsNaOH opened #1566 "(Chromium) temporary directory left over, extra shim created"
## Expected Behavior

Chromium does not create `setup.exe` shims on install, and does not leave temp directories in it's tools directory.

## Current Behavior

Chromium leaves temporary a temporary directory in it's tools directory after install. It is called something like `CR_E1105.tmp`, and contains a `setup.exe` file, which is then automatically shimmed.

## Possible Solution

Add `remove-item

[2020-11-16 18:27] RedBaron2 commented on #1566
@TheCakeIsNaOH
This problem is only for the stable builds or is this also for the snapshot `--pre` builds?

Also can you post a gist or chocolatey log for when this occurs?

Thanks in advance.

[2020-11-16 18:42] TheCakeIsNaOH commented on #1566
<details>
  <summary>Log for install</summary>
[code]
</details>

<details>
<summary>Log for error</summary>
[code]
</details

[2020-11-17 05:35] DhruvaSambrani opened #1568 "(julia) v1.5.3 is awaiting moderation"
## Possible Fix

Please moderate as necessary

Ps: Not entirely sure if I should open an issue here or not😅

[2020-11-17 06:54] opusforlife2 commented on #1561
@majkinetor @jaynemo What's the plan now? youtube-dl repo is restored. Do you want to revert the PR or is it better to depend on the official website in case something like this happens again?

[2020-11-17 10:02] BlythMeister opened #1569 "(git) Initial install should require reboot"
## Expected Behavior
On fresh machine, when installing Git the package should return exit code 1641 or 3010 stating a reboot was started or is required.

## Current Behavior
Exit code 0

## Possible Solution
Detect if installed already and adjust exit code accordingly

## Steps to Reproduce (for bugs)
1. Install git on fresh machine
2. check exit code

## Context
This means that (without a reboot)

[2020-11-19 09:12] opusforlife2 commented on #1561
Ah. The 17 Nov update successfully arrived.

[2020-11-19 20:54] RedBaron2 commented on #1566
@TheCakeIsNaOH
I will test out a quick fix for this issue. Will test this weekend for it working without errors.
It does seem to be an bug with only the stable branch currently now. The development branch fixed the bug early this year.

[2020-11-20 11:02] majkinetor commented on #1569
I would definitely NEVER reboot to have git - that is insane.

You should restart shell or use `refreshenv`.

[2020-11-20 11:05] BlythMeister commented on #1569
on my build agent, it's not the shell, it's services that need restarting to get an updated PATH.

[2020-11-20 11:09] majkinetor commented on #1569
That is highly specific to your case so you should fix it yoursef. WIndows API has WM_SETTINGCHANGE broadcast with parameter Environment you can try to use.

In any case you can restart-computer after cinst git yourself.

[2020-11-20 11:09] #1569 closed

[2020-11-20 11:11] BlythMeister commented on #1569
I'm not saying the package should restart.

But it should return the exit code to advise a reboot.

That way, you can have custom logic to react to that status and trigger the reboot if you so wish.

[2020-11-20 12:01] BlythMeister commented on #1569
It's a case of only wanting to restart when chocolatey has actually run the upgrade.

If it's the same version, I won't want to restart.

[2020-11-20 12:20] majkinetor commented on #1569
Not sure how to do that reliably. Your best bet is probably to `gcm git` and if it errors restart computer.

[2020-11-20 12:22] BlythMeister commented on #1569
if this package returned the right exit code...then you could react to that.

https://chocolatey.org/docs/commandsinstall#exit-codes

[2020-11-20 13:18] majkinetor commented on #1569
Via what logic ?

[2020-11-20 13:39] BlythMeister commented on #1569
Add `Set-PowerShellExitCode 3010` at the end of the script

[2020-11-20 13:55] majkinetor commented on #1569
When ?

[2020-11-20 13:59] BlythMeister commented on #1569
2 choices.

Everytime it runs (maybe a bit ott) or pre-install check path for git.exe and if not present, then return the exit code.

[2020-11-21 15:56] majkinetor opened #1573 "(partitionmasterfree) Outdated"
Major version is changed.

https://chocolatey.org/packages/partitionmasterfree

[2020-11-21 15:58] majkinetor commented on #1568
https://chocolatey.org/packages/Julia/1.5.3

https://gist.github.com/choco-bot/19ccc839ee91cfe0ef2b254916da6e08

Looks like it should just get repeated

[2020-11-21 16:24] #1566 closed

[2020-11-21 16:25] #1561 closed

[2020-11-21 16:27] majkinetor commented on #1528
https://chocolatey.org/packages/Graphviz/2.44.1

[2020-11-21 16:27] #1528 closed

[2020-11-22 10:35] jaynemo commented on #1563
It looks to be primarily the result of some scanners, including, unfortunately, Defender, picking up on the UPX-compressed klink.exe which is included in the executables to be installed. Decompressing klink.exe takes that down to 2 results on VirusTotal. Unless I'm missing something, that's strongly suggestive of spurious results.

I've asked about whether it would be possible to have a non-UPX'd

[2020-11-22 12:36] majkinetor commented on #1573
33e81d0a4bf1be33760bece87764fda83ce40a21

[2020-11-22 12:36] #1573 closed

[2020-11-22 12:39] majkinetor opened #1574 "(thunderbird) Kill running app before upgrade"
If thunderbird is running during update it requires computer to restart and its icon is changed to installer until you do so. Its better to just kill it before update/install to prevent this behavior.

[2020-11-22 12:56] majkinetor opened #1575 "(partitionmasterfree) Should be embedded and fixed"
I fixed it on #1573 but it turns out that vendor now keeps downloader only at previous location so previous fix was not silent.

Redistribution is allowed:

Source: https://www.easeus.com/license.htm ([archive](https://web.archive.org/save/https://www.easeus.com/license.htm))

[2020-11-22 15:02] #1574 closed

[2020-11-22 15:08] majkinetor commented on #1575
Looks like my mumbo jumbo is working and package is finally stable now and all versions will work:

https://chocolatey.org/packages/partitionmasterfree/14.5

AHK script that runs during automatic update might fail in future as downloader doesn't use standard Windows UI and thus it must depend on screen coordinates which is flaky.

[2020-11-22 15:08] #1575 closed

[2020-11-22 15:33] majkinetor opened #1577 "(ffmpeg) Requires new updater"
Looks like upstream site is changed and there is no more x32b versions along with other changes.

https://chocolatey.org/packages/ffmpeg

[2020-11-22 15:57] #1577 closed

[2020-11-22 20:19] majkinetor commented on #1557
OEM installer is commercial one so silent options can not be used anymore. I tried with AHK installer and it seems to work. Zip is also an option but it doesn't have everything setup has (stuff could be added via dependencies).

I think it should work now but will be available from next version as I didn't manage to force update now.

[2020-11-23 07:13] naveen521kk commented on #1565
If it is ok can I do a patch? Get the file from https://bootstrap.pypa.io/get-pip.py then run it. I don't think they follow checksum things.

[2020-11-23 07:38] naveen521kk opened #1579 "(chocolatey-python.extension) Install Python Packages"
## Expected Behavior
This is a new package where they will to function `Install-PipPackage` and `Uninstall-PipPackage`, where people can create a chocolatey package easily for the existing project in `pip`.
Here is my idea of what is should do,
- Check whether the specified Python version is installed. (Allow Range inputs.). Finally, lock over the executable to run command.
- Check whether Pip is

[2020-11-23 08:27] nutterthanos commented on #1505
setup file last updated 28 June 2020

[2020-11-23 09:46] #1568 closed

[2020-11-23 10:31] majkinetor commented on #1579
I like it, its quite comprehensive and well though out. Feel free to PR.

Not sure what is the best default location. Perhaps `Get-ToolsLocation\PipPackages`.

I would add the $proxy variable. Check out this code from mkdocs: https://github.com/chocolatey-community/chocolatey-coreteampackages/blob/master/automatic/mkdocs/tools/ChocolateyInstall.ps1

[2020-11-23 15:52] majkinetor commented on #1557
OK, I managed to publish new version.

Give it a go: https://chocolatey.org/packages/nmap/7.91.0.20201123

[2020-11-24 09:20] CAMOBAP opened #1580 "(graphviz) 2.44.1 looks broken"
`choco install graphviz` produce

[code]

[chocolatey.log](https://github.com/chocolatey-community/chocolatey-coreteampackages/files/5588669/chocolatey.log)

Version `v2.38.0.20190211` works without any issues

## Expected Behavior
`dot` tool should be available after `graphviz` install

## Current Behavior
Formally the installation finished successfully but in fact, the `dot` tool has not ben ins

[2020-11-24 11:17] majkinetor commented on #1557
It still fails verifier but for different reason. It looks like it blocked when installing vcredist2008. Its probable that some popup blocked it that showed on old Windows Server that verifier is using. If I can get that popup I could fix it, but I don't have working verifier vagrant image with me.

I tested this in Windows Sandbox and locally and it works fine. Maybe verifier should be skipped no

[2020-11-24 11:19] majkinetor commented on #1580
The installer didn't find installation path so it couldn't add shim to the PATH.

Dot is probably there.

Definitely a bug due to recent release.

[2020-11-24 11:48] CAMOBAP commented on #1580
@majkinetor  I can confirm that there is no dot.exe in chocolatey's bin directory

[2020-11-24 12:31] majkinetor commented on #1580
Not in bin directory, its there on the system.

[2020-11-24 12:35] CAMOBAP commented on #1580
@majkinetor you are right, it's in "Programm Files".

But for "v2.38.0.20190211" dot was in chocolatey's bin. If this new behavior is expected, feel free to close this ticket

[2020-11-24 12:36] majkinetor commented on #1580
No, its a bug. I will fix it ASAP.

[2020-11-24 17:43] majkinetor commented on #1580
Try it now please. It should be fixed:

https://chocolatey.org/packages/Graphviz/2.44.1.20201124

`cinst graphviz --version 2.44.1.20201124`

[2020-11-24 19:25] #1580 closed

[2020-11-24 19:26] CAMOBAP commented on #1580
@majkinetor thank you a lot

[2020-11-24 19:28] majkinetor commented on #1580
No problem mate. Keep up the good work with your projects (always happy to see more doc generators).

[2020-11-24 19:31] majkinetor commented on #1563
Maybe we should just add note and call it a day. We know this is not a virus and know the reasons for it being reported.

[2020-11-24 23:51] #1459 closed

[2020-11-25 12:38] pauby commented on #1563
I think we need to get this issue resolved permanently rather than closing it as we'll have the same issue with the next version and the next.

_We_ may know the reasons. _I_ don't know it's not a virus. But more importantly users of the package and the site don't know the reasons OR whether it's a virus. They look at the AV scores. They see Defender quarantining it and that is enough for them to

[2020-11-25 13:13] majkinetor commented on #1563
So `genpass`.exe and `klink` are problematic and those DO NOT have uncompressed version.

Since there is really nothing we could do except perhaps uncompress those 2 tools ourselves which seems intrusive to me (we are changing upstream binaries) I am still for the note.

You can say that for any tool in universe even if we don't tackle your particular personality traits.

I don't see that kitty ha

[2020-11-25 14:14] pauby commented on #1563
Then we're back to square one for those at least.

The Virus Total detections are on the package page.

[2020-11-25 21:21] mwtrigg opened #1581 "(Firefox) List/Upgrade fails when package does not include SemVer patch version"
http://disq.us/p/2dfyljl <- details on the problem.

## Expected Behavior
Repository containing Firefox version 82.0, 82.0.1, 82.0.2, 82.0.3, 83.0; version 82.0.3 currently installed on local machine
`choco list Firefox` should produce the following results:
`Firefox 83.0`

`choco upgrade Firefox` should produce the following results:
`You have Firefox v82.0.3 installed. Version 83.0 is available

[2020-11-26 08:23] majkinetor opened #1583 "(everything) Broken silent install"
There were recently [upstream changes](https://www.voidtools.com/Changes.txt) on installer. It looks its broken now, on install it shows everything help.

Furthermore, there are now 2 versions of everything - light and full.

Package is exempted so it didn't show.

[2020-11-26 08:23] gep13 commented on #1581
@mwtrigg I do not believe that this is an issue with the version numbers.  The reason that I make this assertion is that to Chocolatey, `83.0` is the same as `83.0.0`, so having the extra patch version number in there is _not_ a requirement.

On my machine, I specifically installed version 82.0.3 of Firefox, and I have just run the following command:

[code]

The result is the following:

![image]

[2020-11-27 04:29] RedBaron2 opened #1584 "(php) latest version requires vs16"
The php package latest version needs to have have vcredist version 2019 as dependency. The package will not update due to not finding this dependency.

[2020-11-27 12:45] #1581 closed

[2020-11-27 13:48] #1584 closed

[2020-11-30 19:10] majkinetor commented on #1583
This was upstream issues fixed in latest version:

[2020-11-30 19:10] #1583 closed

[2020-11-30 20:23] shivammathur opened #1587 "(php) Revert dependency change for PHP"
PHP 8.0 does not require `visualstudio2019buildtools` for installing it and should work fine with `vcredist140`.
`vcredist140` supports Visual studio 2015 to 2019, i.e. it covers `vs16`.

`visualstudio2019buildtools` is required for building PHP from source, not for installing PHP.

## Expected Behavior
Installing PHP 8.0.0 should install `vcredist140` just like it did with previous versions of PH

[2020-12-01 06:24] maxim-lobanov commented on #1587
cc @pavinthan, @majkinetor as PR owners.

[2020-12-01 22:33] drelatgithub opened #1588 "(protoc) rc version blocks new stable version automatic upgrade"
This is an issue I'm facing but I might need help to fix it. The google protocol buffer (protoc) package was set to automatically upgrade itself, but I've just realized that it has not done so for months, while there are actually new stable versions coming out. Disclaimer: I helped with the automation of the protoc package upgrade (https://github.com/chocolatey-community/chocolatey-coreteampackage

[2020-12-02 02:01] RedBaron2 commented on #1588
@drelatgithub
The quick fix is to change the nuspec version to `0.0.0`, but this won't prevent it from happening in the future.
The `protoc` package has no logic to help it determine a `--pre` or `stable` release. Best suggestion is to re-work the package into a stream. This will keep the package versions for `--pre` and `stable` separate. Example: `chromium` package.

[2020-12-02 16:40] anujgoyal opened #1589 "(chrome) download URLs are bypassing EULA"
Chrome: download URLs are bypassing EULA

https://github.com/chocolatey-community/chocolatey-coreteampackages/blob/master/automatic/googlechrome/update.ps1

## Expected Behavior
Direct URLs should not be referenced, users should be directed to the download page.
https://chrome.com/enterprise so that the user can accept the EULA before download.

## Current Behavior
Download bypasses the EULA.

##

[2020-12-02 17:01] rasa commented on #1589
Why not ask the user to agree to the EULA when the software is first executed? That is how most other software works, and better complies with the law. For example, I might be asked to download and install chrome on several computers, each operated by different people at different businesses. That end user is the legal entity who should be accepting the EULA, not the consultant who downloaded the

[2020-12-02 20:17] sarunint opened #1590 "(musescore) Wrong installer is downloaded"
## Expected Behavior
The current installer on MuseScore website is named `MuseScore-3.5.2.311459983-x86_64.msi`.

## Current Behavior
In `chocolateyInstall.ps1`, the installer is named `MuseScore-3.5.2.310568139-x86_64.msi`, which is an unstable version. So if I run `choco install musescore`, the unstable version is installed.

https://github.com/chocolatey-community/chocolatey-coreteampackages/bl

[2020-12-03 05:33] RedBaron2 commented on #1590
@sarunint
The current `update.ps1` file for the `musescore` package only uses a version with major.minor.build it needs to be changed to use a major.minor.build.release version according to your report of the current release.
If you want you can submit a PR for this change.
Thanks for the observation.

[2020-12-03 07:59] pascalberger commented on #1540
Once https://github.com/chocolatey/chocolatey-licensed-issues/issues/58 is fixed this should work.

While Visual Studio Code has a [--extensions-dir parameter](https://code.visualstudio.com/docs/editor/command-line#_advanced-cli-options) this will only say where extensions are stored, but not handle registration for different users. I unfortunately don't see a way how this currently can be impleme

[2020-12-03 18:00] #1588 closed

[2020-12-03 18:27] cyd01 commented on #1563
Only KiTTY is provided in three versions in [Fosshub page](https://www.fosshub.com/KiTTY.html):
- compressed version pre-configured for registry mode
- compressed version pre-configured for portable mode
- uncompressed version pre-configured for registry mode

To be clear, there is no registry nor portable version. There is only one KiTTY that can be run in two different modes.
So that uncompresse

[2020-12-04 09:05] majkinetor opened #1593 "(thunderbird) Install parameters"
We could provide some more install parameters for thunderbird via Ini file and install param `/INI=`.

[code]

For more info: https://firefox-source-docs.mozilla.org/browser/installer/windows/installer/FullConfig.html

It also looks like silent install option `--ms` should be replaced with `/S`

Firefox package supplies those args via cmd line:

[code]

Probably the best to reuse these.

[2020-12-04 09:22] majkinetor commented on #1590
a901945e69e3b0aef58d1cfb6d05fd851eada2ff

[2020-12-04 09:22] #1590 closed

[2020-12-04 16:04] majkinetor commented on #1589
I will close this as it doesn't seem much relevant for this repository and solution doesn't exist (not silently installing something defeats the purpose of chocolatey)>

[2020-12-04 16:06] majkinetor commented on #1563
Thank you. I think we ca now safely close this. I will add note on package.

[2020-12-04 16:10] majkinetor commented on #1563
Also, plink doesn't have it in [latest version](https://www.virustotal.com/gui/file/01678a1d46c240b2e2ea071a5d0d84573632aa835d3240e87c3b99b20537e049/detection/f-01678a1d46c240b2e2ea071a5d0d84573632aa835d3240e87c3b99b20537e049-1593262246), so its probably going to reflect on klink too.

[2020-12-04 16:31] pauby commented on #1563
@majkinetor

Make sure you reference the official source for the notes on the AV detections.

[2020-12-04 19:03] #1563 closed

[2020-12-04 21:24] ferventcoder commented on #1589
I'm going to override this one to allow for open conversation on this for a bit. @anujgoyal my email is rob at chocolatey dot io.

[2020-12-04 21:41] ferventcoder commented on #1589
Hit go too soon. My email is also here in case you want to contact me directly.

[2020-12-06 19:04] opusforlife2 commented on #1561
All versions after 19 November failed automated validation.

[2020-12-07 10:07] #1587 closed

[2020-12-07 12:09] naveen521kk commented on #1579
@majkinetor Maybe you can add "Up for Grabs" label. I'm not working on this.

[2020-12-07 12:10] #1565 closed

[2020-12-07 23:38] anujgoyal commented on #1589
For Mac we do something like this: https://support.google.com/chrome/a/answer/9915669

I can't promise it (as I have to work with and get approvals from internal stakeholders), but what if Chrome did something similar for Windows downloads?

[2020-12-08 00:24] TheCakeIsNaOH commented on #1589
So if the current URL is
 `https://dl.google.com/tag/s/dl/chrome/install/googlechromestandaloneenterprise.msi`,
the url would be changed to something like
`https://dl.google.com/tag/s/dl/chrome/install/accept_tos%3Dhttps%253A%252F%252Fwww.google.com%252Fintl%252Fen_ph%252Fchrome%252Fterms%252F%26_and_accept_tos%3Dhttps%253A%252F%252Fpolicies.google.com%252Fterms/googlechromestandaloneenterprise.ms

[2020-12-08 19:15] #1589 closed

[2020-12-08 20:47] gep13 commented on #1589
@anujgoyal just wanted to follow up here as to why this issue was closed.  Can we assume that this is no longer an issue, or is there additional work that would have to be done here for the Chocolatey package?

[2020-12-20 05:51] RedBaron2 commented on #1431
@ferventcoder
It looks like an option was made to make it work like before the helper script was added with a chocolatey environment setting.
I find poor quality in testing or upgrading the package making such changes without removing them when the package is uninstalled.
Packages should follow the rule of what is packed in should be packed out.

Example: Package installs bin shortcuts upon instal

[2020-12-24 04:38] AlanMaxxx commented on #805
Today I met the same question .
At the beginning, I used `choco install git` command to install Git , and it installed successfully and the version is **2.29.2**.
But, when I tried to use `git clone xxxx` command to do something, it didn't work , and I saw `'git' is not recognized as an internal or external command, operable program or batch file.`
Finally, I serached how to fix and I tried `choco

[2020-12-28 14:33] FreezyLemon opened #1599 "(spotify) Error - hashes do not match."
`choco install -y spotify` in a fresh Windows 10 VM.

## Expected Behavior
Spotify installs silently

## Current Behavior
[code]

Downloading the setup file manually and checking with `Get-FileHash` gives me the same SHA512, so I don't think it's a corrupt file/download.

## Your Environment

* Package Version used: latest (none specified)
* Operating System and version: Win10 20H2 19042.631 in a

[2020-12-31 13:16] chillum opened #1601 "(openshift-cli) stuck at v3"
This repo contains `openshift-cli` package, that's stuck two years ago at latest v3 version.
OpenShift is v4 nowdays, so it would be great to have an up-to-date OpenShift CLI in Choco.

## Expected Behavior

`choco install openshift-cli` installs recent v4.6

## Current Behavior

`choco install openshift-cli` installs outdated v3.11

## Possible Solution

openshift-cli releases for v4 moved out of

[2021-01-03 00:46] RedBaron2 commented on #1601
@chillum
It appears that the `update.ps1` file used for this package needs to be updated to point to the new repository of `https://github.com/openshift/okd/releases`

If you would like to submit a PR with the required changes in place. I'm sure the moderators here will take it under advisement.

Thanks again for bringing this issue to light.

[2021-01-04 21:12] aaronsteers opened #1602 "(python3) Proposal to publish meta packages for each minor version (e.g. `python38`, `python39`, etc.)"
## Expected Behavior

This request would be for a new set of community-managed meta packages at each minor python version release, enabling chocolatey users to permanently "pin" a minor version number by explicitly referencing a meta package within that version. The reason I think this is necessary is due to the fact that according the generally accepted rules of backwards compatibility:

_There s

[2021-01-05 01:04] AdmiringWorm commented on #1599
I just checked the checksum of the file I am getting on my end, and it matches the same checksum that is specified in the package.

From the looks of it, you get served an older version (most likely from an outdated cdn selected by spotify) instead of the latest version.
I am afraid that there aren't much we can do about this, unfortunately :cry:

The checksum you are getting, are the checksum for

[2021-01-05 01:04] #1599 closed

[2021-01-05 01:31] AdmiringWorm commented on #1601
I have marked this issue as `Up for grabs`.

@chillum let us know if you are interested in providing a pull request to get this package updated, and we can get this issue assigned to you.

[2021-01-05 18:07] FreezyLemon commented on #1599
Alright, that's fine by me. I'll just ignore the checksum in that case, Spotify updates itself pretty easily so this isn't a big problem.
Thanks!

[2021-01-06 23:08] cyd01 commented on #1463
KiTTY has many icons as you can see on that [page](https://www.9bis.net/kitty/#!pages/kitty_icon.md).
The first one is the [official one](https://www.9bis.net/kitty/img/kitty.ico):
![](https://www.9bis.net/kitty/img/kitty.ico).

I'm not sure, but I guess it has been an issue with the compressor binaries that I use: [UPX](https://upx.github.io/).
Can you test with the [KiTTY uncompressed version](h

[2021-01-07 18:52] CWempe commented on #1463
Looks better.

At least Windows is able to show/extract the icons.

![image](https://user-images.githubusercontent.com/1270359/103932008-8447ca00-5121-11eb-925e-ca963c68bf81.png)

But I don't know to proceed with this information.
I guess it would not make sense to renounce compression just for a few chocolate users. 😄

[2021-01-07 19:41] AdmiringWorm commented on #1463
@CWempe I think it is fine to change the package to use the uncompressed edition.
TBH, this change should probably have been done quite some time ago (I personally never got around to it), and since it is just a 1,3-1,4 MB difference, it shouldn't matter too much to the majority of users.

I will be updating the script that checks for updated versions of kitty later this week to use the uncompress

[2021-01-08 06:25] cyd01 commented on #1463
For your information: compressed version, has sometimes issues with some anti-virus. I suggest you to use the uncompressed version for that reason too. Don't forget to add the `kitty.ini` configuration file in the same directory where `kitty.exe` is, with the right save mode selection:
- `savemode=dir` for portable mode
- `savemode=reg` for classic mode (in registry)

[2021-01-10 19:40] majkinetor commented on #1602
I wouldn't do this as this is something that `choco.exe` should have implemented and was already topic at least once before.

[2021-01-12 00:14] TaffarelJr opened #1603 "(googlechrome) Include master_preferences file"
When installing the Google Chrome Enterprise MSI, a file called `master_preferences` can be placed alongside `chrome.exe` in the install destination folder (`%ProgramFiles%\Google\Chrome\Application\`) to configure Chrome and control how it first launches.

It would be great if there was a flag on the Chocolatey package to specify a path to a `master_preferences` file to be included in the install

[2021-01-12 02:16] ukai opened #1604 "(msys2) pacman is too old to recognize *.zst package format."
## Expected Behavior

 choco upgrade msys2
 pacman -Sy
 pacman -Su

upgrades msys2 packages up-to-date.

## Current Behavior

 pacman failed to install recent packages
[code]

(or can't upgrade pacman itself? https://github.com/msys2/MSYS2-packages/issues/2300)

## Possible Solution

I expected `choco uninstall msys2; choco install msys2` works, but it still fails
as `choco install msys2` install

[2021-01-12 13:10] #1463 closed

[2021-01-12 13:12] AdmiringWorm commented on #1463
The changes to use the uncompressed edition of kitty is now added to the repository, I have not pushed a fix version to the chocolatey repository but will be available with the next time a new version of kitty is available.

[2021-01-12 16:12] AdmiringWorm opened #1605 "(sourcetree) License url is pointing to a missing webpage"
Seems that the license page of the [source tree](https://chocolatey.org/packages/SourceTree/3.4.1) package have been moved, and need to be updated before any more versions of the package can be published.

/CC @pascalberger

[2021-01-12 16:35] AdmiringWorm opened #1606 "(tightvnc) Latest version is failing the validator"
The latest version of the tightvnc package is currently failing the validator, and needs to be looked into.
The image from the test environment mentions that the tightvnc service is unable to start/timed out: https://gist.github.com/choco-bot/9327a19f8ab5794b9fe8494662a5ea0d#file-installimage-md

https://chocolatey.org/packages/tightvnc/2.8.59

[2021-01-12 17:45] TheCakeIsNaOH commented on #1603
https://github.com/chocolatey/choco/issues/1185 is probably what you want.

[2021-01-12 18:42] AdmiringWorm commented on #1603
I agree with @TheCakeIsNaOH that it would be better served through a hook (which is what the linked issue is about).
But due to the lack of it, it is definitely something that *could* be implemented in the package itself.
Not sure if allowing downloading a file would be appropriate though, but a local file is something that could be added.

[2021-01-12 20:07] pascalberger commented on #1605
This is another classic move of Atlassian... I searched for license but wasn't able to find any. On the website there's a [Terms Of Use](https://sourcetreeapp.com/) link at the bottom, but which obviously doesn't apply to SourceTree, since it goes to `Atlassian Cloud Terms of Service` and SourceTree is also not listed on the product specific terms. They probably just forgot that they also have Sou

[2021-01-12 20:19] pascalberger commented on #1605
I tried to reach out by Twitter to them: https://twitter.com/hereispascal/status/1349088367867277312

[2021-01-13 14:38] AdmiringWorm commented on #1605
Found this in their terms of use

With this, I could assume that the sourcetree software is covered by the same license/terms of use that the `Atlassian Cloud Terms of Service` details.

Would be great to have someone from the chocolatey team confirm wether this would be acceptable on the community repository, in the lack of a specific License covering SourceTree.

Reference to the terms of use: h

[2021-01-13 14:42] pauby commented on #1605
Unless it specifically allows redistribution, the software can't be embedded. Moderators need to err on the side of caution when things like this crop up.

[2021-01-13 14:47] AdmiringWorm commented on #1605
@pauby yes of course. I did not mean for embedding, but if those Terms of service/Terms of use would be appropriate to link to as the metadata license URL?
The installation process would still be kept the same, with downloading the installer during installation.
As of right now, the only reason the package is failing (AFAIK) is because they removed the previous license location without having a de

[2021-01-13 14:58] pauby commented on #1605
Ahhhhh. Apologies. I misunderstood.

If it were me, as it's the only license there is, I would use it and, for belt and braces, add a note in the description.

[2021-01-13 20:46] pascalberger commented on #1605
Got an answer: https://twitter.com/AskAtlassian/status/1349457093078650880

Proper license is: https://www.atlassian.com/legal/software-license-agreement

[2021-01-13 22:17] #1605 closed

[2021-01-16 03:44] nutterthanos commented on #1557
![image](https://user-images.githubusercontent.com/50470661/104796318-1aa47b80-5805-11eb-9d4a-8b695019b61c.png)
it got rejected

[2021-01-19 13:21] majkinetor commented on #1518
I am having this "problem" myself, and I think this should not be part of the package as it significantly increases setup time.

I will add some info in the Notes section on how to do this.

[2021-01-19 21:44] majkinetor commented on #1518
I found out that

[code]

builds the stuff I wanted (locust).  This literary installs what is mentioned here:
* [Microsoft Visual C++ 14.2 standalone: Build Tools for Visual Studio 2019 (x86, x64, ARM, ARM64)](https://wiki.python.org/moin/WindowsCompilers#Microsoft_Visual_C.2B-.2B-_14.2_standalone:_Build_Tools_for_Visual_Studio_2019_.28x86.2C_x64.2C_ARM.2C_ARM64.29)

The problem here is that it in

[2021-01-19 22:06] majkinetor commented on #1603
Whats wrong with `cp` ?

[2021-01-20 08:48] infraweavers opened #1608 "(googlechrome) Installation Fails"
## Expected Behavior

Google Chrome should install

## Current Behavior

The installer blows up, initially with a checksum change (as happens from time to time) however it then errors completely.
![image](https://user-images.githubusercontent.com/36475663/105149596-9b13f680-5afb-11eb-89cc-22d7b7578908.png)
[GoogleChrome_msi_install.log](https://github.com/chocolatey-community/chocolatey-coreteampa

[2021-01-20 09:13] david-garcia-garcia commented on #1608
Exatly same issue here. Happening since today. Same log and errors.

[2021-01-20 09:48] tariqp193 commented on #1608
Same issue here.

[2021-01-20 09:48] vkmellon commented on #1608
We have the same

[2021-01-20 10:43] tomworboys commented on #1608
Same here as of this morning

[2021-01-20 10:53] Greg-Smulko commented on #1608
Please use the 👍 emoji on the main comment rather than posting "me too" comments.
This way you're saying the same thing basically, but without spamming everybody who subscribed to this issue waiting for a resolution.
Thanks! :)

PS: link to a discussion about it: https://github.com/isaacs/github/issues/968

[2021-01-20 13:33] AdmiringWorm commented on #1608
I looked a bit into this issue to try finding out what is going on.
From what I can tell at the moment, the installer acquired from the website is basically broken, and refuses to install even outside of chocolatey.
![image](https://user-images.githubusercontent.com/1474648/105181573-42a91d00-5b2c-11eb-81aa-bab5bee65f39.png)

I also tried some other standalone installers found on the website, but

[2021-01-20 14:47] jerasioren commented on #1608
Exact same error on my end.
Was able to install it manually but it was for the latest version of 88.0.4324.96

[2021-01-20 15:22] akrapfl commented on #1608
Not intending to start an argument, but I did want to point out that having SOME comments in the thread today made it clear this is a current and legit issue on the installer side, and not something on MY side.

Thanks for posting the issue!

[2021-01-20 17:35] infraweavers commented on #1608
@AdmiringWorm I wonder if there's a way of reporting packaging problems to Google somehow? I can't find anything particular, however my GoogleFoo may be weak

[2021-01-20 18:19] AdmiringWorm commented on #1608
@infraweavers unfortunately, I do not know of any way to report the problem to Google.
Just to clarify on the terminology a bit though, it would be an installer problem, not a package problem.

[2021-01-20 18:28] AdmiringWorm commented on #1608
small update, I tried to install the chrome package on a different VM which somehow succeeded.
So, it could be that there are some changes to the installer that checks for some missing dependencies and throws an error when these are not found.

Still investigating what these dependencies could possibly be though.

[2021-01-20 19:32] AdmiringWorm commented on #1608
Have to give up for today, but hope to try looking into this issue further tomorrow.

I am attaching the latest log that I got from the installer (a bit more verbose than the one that OP posted), in case someone want to continue looking into this.
From what I could tell, the log does not contain anything useful but it could be that I am missing something.

[MSI41905.LOG](https://github.com/chocola

[2021-01-21 09:30] jcrang commented on #1608
In our use case (tests run with Selenium), we were able to use [Chromium](https://chocolatey.org/packages/chromium/88.0.4324.96) as a drop-in replacement.

[2021-01-21 14:54] tgillitzer commented on #1608
Same issue here.   I found this report on the Google Chrome Enterprise Help community
https://support.google.com/chrome/a/thread/94282332?hl=en

I also submitted an issue with Chrome itself, though that doesn't seem likely to work.

[2021-01-21 15:18] AdmiringWorm commented on #1608
@tgillitzer that issue would be the one to follow, as the package also makes use of the enterprise installer (this is the only standalone installer available, the default chrome one downloads a different installer during launch).

I have given up on my tries to make it work, but that issue explains one reason I got it to work on one of the vms I tried it one (it had v87 installed earlier).

[2021-01-21 15:20] AdmiringWorm commented on #1608
Here is another issue, also with a response from the community managers: https://support.google.com/chrome/a/thread/94236509?hl=en

looks like they have identified the root cause and is working on a fix.

[2021-01-21 16:57] tgillitzer commented on #1608
This seems to be the link to the actual bug report

https://bugs.chromium.org/p/chromium/issues/detail?id=1168614

[2021-01-21 20:23] j30a4 commented on #1608
Looks like they just pushed out a new version with the fix M88.0.4324.104 and MSI seems to work now.

https://bugs.chromium.org/p/chromium/issues/detail?id=1168614

[2021-01-21 23:48] AdmiringWorm commented on #1608
Good to know. Our updater will automatically trigger in ~30 minutes and will automatically pick up the new version then.

It will take a few hours after that until it will be available for normal consumption through chocolatey.org.

[2021-01-22 15:58] AdmiringWorm commented on #1608
A new package version was pushed and approved last night which works as expected, as such I will be closing this issue now.

[2021-01-22 15:58] #1608 closed

[2021-01-25 06:42] jarrodmillman opened #1609 "(graphviz) Graphviz 2.46.0 for Windows 10 (64-bit)"
## Expected Behavior

https://chocolatey.org/packages/Graphviz should have ``graphviz cmake 2.46.0``

## Current Behavior

https://chocolatey.org/packages/Graphviz has ``graphviz cmake (development) 2.44.2-development``

## Possible Solution

I don't use Windows or chocolatey so sorry if I am confused.  But I noticed that in [automatic/graphviz/update.ps1](https://github.com/chocolatey-community/c

[2021-01-25 08:13] RedBaron2 commented on #1609
@jarrodmillman
This appears to be a new development to have changed the release location to the gitlab site. Thanks for bringing this development to light.

@AdmiringWorm if you could make this _**up for grabs**_

Thanks again @jarrodmillman for the heads up.

[2021-01-29 09:01] majkinetor commented on #1609
I get no urls from `iwr https://gitlab.com/graphviz/graphviz/-/releases/` so this needs special handling.

[2021-01-29 09:31] majkinetor commented on #1609
OK, I managed to get the urls via REST API but got 401 Unauthorized on download.

[code]
Result
[code]

[2021-01-29 19:26] RedBaron2 commented on #1609
@majkinetor
The GitLab API requires a token to authorize a download. This just creates a problem of mega proportions (I would prefer to not go into these issues). The best alternative is to use the website downloads page. I've guessed from previous and the developmental branch on GitLab that the 32 bit version is only one digit higher in the download list.
Try this to get the urls:
`$releases = "h

[2021-01-29 19:51] #1609 closed

[2021-01-29 19:53] majkinetor commented on #1609
To make this quick I removed streams and x32 bit version (we can't rely on @RedBaron2 discovery). This now only x64 bit package until there is proper x32 bit version.

[2021-01-29 19:58] majkinetor commented on #1609
GitLab Releases sucks.

[2021-02-01 11:28] pauby opened #1611 "(everything) Does not install silently"
## Expected Behavior
Everything package should install silently.

## Current Behavior
When upgrading to the last couple of everything versions, this window pops up:

![image](https://user-images.githubusercontent.com/12760779/106452928-76673980-6480-11eb-9916-5e7be331f825.png)

## Steps to Reproduce (for bugs)
1. `choco upgrade everything`

## Your Environment

* Package Version used: 1.4.11005
*

[2021-02-10 02:45] TheCakeIsNaOH opened #1612 "(adobe flash) downloads removed by adobe, should be unlisted"
Download URLs for Flash products have been removed from Adobe's website, and additionally, recent versions time bombed last month and are now non-functional.

Reference: https://www.adobe.com/products/flashplayer/end-of-life.html (see question 8)

Core Team packages that this applies to:
- [`flashplayerppapi`](https://chocolatey.org/packages/flashplayerppapi)
- [`flashplayeractivex`](https://choco

[2021-02-10 10:25] MANICX100 opened #1613 "(7zip) (7zip.install) Please add pre-release version"
7zip has a pre-release currently 21 alpha available. Can this be made accessible via --pre

[2021-02-10 13:41] #1612 closed

[2021-02-10 14:03] gep13 commented on #1612
@TheCakeIsNaOH out of interest, what was the outcome here?  Why has the issue been closed?

[2021-02-10 14:06] TheCakeIsNaOH commented on #1612
When I tried the links on all of these in my browser, they did not download anything. However, that was just an issue with my browser, and they actually still download fine with Chocolatey.

[2021-02-10 20:31] gep13 commented on #1612
@TheCakeIsNaOH ah, gotcha. Thanks for confirming!

[2021-02-11 09:29] mareccs opened #1614 "(poweriso) outdated url and checksum in chocolateyInstall.ps1"
Hi!

when i install poweriso package, i get a checksum error. This is because the url and the checksum in chocolateyInstall.ps1 file is outdated. Is it possible to correct is? Thanks for your work!

The actual url and checksum is:
url = 'http://www.poweriso.com/PowerISO7.exe'
url64bit = 'http://www.poweriso.com/PowerISO7-x64.exe'
checksum = 'C3343AE00CD02451840C5D86AC0F96D3E397E5598A07FB85F1696FAD

[2021-02-13 04:42] AdmiringWorm commented on #1611
I just tested the package right now, and from what it seems it works and installs as it should.
My theory is that there may be some remembered arguments that conflict with the arguments that are supposed to be used with the package.

@pauby can you confirm that you are still experiencing this issue?

[2021-02-13 05:36] AdmiringWorm commented on #1613
Our updater has support for grabbing pre-releases of 7zip, unfortunately at the moment this parsing is broken and don't pick up pre-releases.

Due to pre-releases are not a priority in this repository, it is unlikely that this will be fixed anytime soon unless someone provides a pull request to fix the updater, or if the stable version suddenly is no longer being picked up.

[2021-02-13 05:57] #1614 closed

[2021-02-13 05:58] AdmiringWorm commented on #1614
A new version have been triggered to be updated, and should be pushed to chocolatey.org in a few minutes.

It will take a few hours until it can be used for normal consumption...

[2021-02-13 12:19] majkinetor opened #1615 "(curl) Outdated"
https://github.com/curl/curl-www/issues/93

[2021-02-13 22:11] AdmiringWorm commented on #1615
@majkinetor is this something that you have already started looking at?

Just want to make sure we don't do any duplicate effort...

[2021-02-13 22:12] bagder commented on #1615
Also:
1. the curl website has changed domain and is now officially at `https://curl.se/` (the old one redirects)
2. the curl copyright year range in `automatic/curl/curl.nuspec` is out of date (says `1996 - 2017`)
3. the list of supported protocols miss SMBS and if you upgrade to the latest curl version, MQTT and GOPHERS...

[2021-02-13 22:14] majkinetor commented on #1615
@AdmiringWorm , No, not working on this ATM.

[2021-02-13 22:20] AdmiringWorm commented on #1615
@majkinetor got it, is this something you want to look at yourself?
Otherwise I am thinking of at least start working on getting the updater working again and targeting the official binary.

@bagder thank you for the information, I will keep that in mind when working on updating the package.

I'll be honest, it isn't really my department so I don't know much about those. But considering it is stil

[2021-02-13 22:55] AdmiringWorm commented on #1615
Our updater and the metadata have been updated, just need to do some verification before pushing anything up to the repository.

[2021-02-13 23:03] #1615 closed

[2021-02-13 23:09] AdmiringWorm commented on #1615
A new version of the package has been pushed to chocolatey, and should be available for normal consumption when it is done with the automated moderation (usually a few hours).

[2021-02-14 23:26] adrianinsaval opened #1616 "(freecad) no shims are created"
Currently, no shims are created for the freecad package, I believe at least freecad.exe and freecadcmd.exe should have a shim and it seems the intent was to create a shim for freecad.exe however this doesn't work. I think this line:
https://github.com/chocolatey-community/chocolatey-coreteampackages/blob/97aff7800036e15fd6ccb2b842b849f8b053fe5a/automatic/freecad/tools/chocolateyInstall.ps1#L27
sho

[2021-02-15 01:39] RedBaron2 commented on #1616
@adrianinsaval
Apparently that line of code does too good a job. It creates `freecad.exe.ignore` which it shouldn't make at all.

@AdmiringWorm or @majkinetor could you test to find out what is happening with this package?

@adrianinsaval thanks for bringing this issue up.

[2021-02-15 09:24] AdmiringWorm commented on #1616
All executables have the `.ignore` file attached to them, which explicitly prevents a shim from automatically being created for them.

This is something that was added here: https://github.com/chocolatey-community/chocolatey-coreteampackages/blame/d7a465420d259cf714bd5f88385b455fa776c45d/automatic/freecad/tools/chocolateyInstall.ps1#L54, but I do not know/remember the circumstances behind that add

[2021-02-15 13:04] pauby commented on #1611
@AdmiringWorm I forced installed it now, same version as above, and it appears to be working. I'd be curious if it will still do that at the next version upgrade. If it does, I'll come back and reopen this but happy to close it now.

I've never used any parameters with this package.

[2021-02-15 13:04] #1611 closed

[2021-02-15 13:31] AdmiringWorm commented on #1611
You could have hit https://github.com/chocolatey/choco/issues/2111 (but that is just speculations)

[2021-02-16 11:03] hobbes commented on #1500
hello, just to chime in: that problem is still present in current chocolatey / cutepdf, has this fix been released ?

[2021-02-16 11:51] majkinetor commented on #1500
No, we thought it has quick release cycle but I guess that was during first half of 2020. I will force it now.

[2021-02-17 22:29] adrianinsaval commented on #1616
Should I make a PR with the line I said?

[2021-02-17 22:31] AdmiringWorm commented on #1616
@adrianinsaval is it only the `freecad.exe` and `frecadcmd.exe` files that would have been matched by that line (there are no other executables that matches the globbing pattern?).

If so, then yeah, go ahead and open a pull request if you want.

[2021-02-18 01:44] RedBaron2 commented on #1613
I'm going to chime in here and say that the "pre-release" @MANICX100 is talking about is an "Alpha" build.
The `update.ps1` file only needs to have the releases changed from `$releases = "${domain}download.html"` to `$releases = "${domain}"` have this work currently. The problem with doing this change is that _**Igor Pavlov**_ can change up his website to have the downloads again located at a diff

[2021-02-18 08:46] MANICX100 commented on #1613
Thank you for the explanation I have reached out to Igor via sourceforge.

*Sent with Shift
<https://tryshift.com/?utm_source=SentWithShift&utm_campaign=Sent%20with%20Shift%20Signature&utm_medium=Email%20Signature&utm_content=General%20Email%20Group>*

On Thu, 18 Feb 2021 at 01:44, RB <notifications@github.com> wrote:

[2021-02-21 16:14] nickbeaugie commented on #941
I can confirm that this issue is still live. And I did not have the Store version installed prevously!

My install hangs after outputting these:
[code]

But it's not big deal as I'm able to install it via the Windows store. I think this is the same version now as if you go via Spotify's MSI anyway,

[2021-02-23 03:30] jacktose opened #1618 "(1password) install appears to succeed, but program is not functional"
## Expected Behavior
`choco install 1password` should end with a functional install of 1Password.

## Current Behavior
`choco install 1password` appears to complete successfully (with a fair bit of stderr output).
1Password does not appear in Start menu, desktop, Apps & features, or Programs & features.
1Password files are present in `%LOCALAPPDATA%\1Password\`.

## Possible Solution
In #1186, an

[2021-02-23 09:01] tipek360 opened #1620 "(spotify) Not installing correctly"
## Expected Behavior
Spotify was expected to installed.

## Current Behavior
Chocolatey downloads normal installer and than it stucks on "SUCCESS: The scheduled task "spotify" was successfully deleted."

## Possible Solution
Changing download link to [https://download.spotify.com/SpotifyFullSetup.exe](https://download.spotify.com/SpotifyFullSetup.exe)

## Steps to Reproduce (for bugs)
[code]

## C

[2021-03-01 15:14] python4lyfe opened #1621 "PowerISO Checksum Error"
## Expected Behavior
Installation of PowerISO via Chocolatey

## Current Behavior
When attempting to download and install PowerISO, I receive a checksum error and a failure message.

## Possible Solution

## Steps to Reproduce (for bugs)
1. Run the command: choco install poweriso

## Context
How about the error logs?

[choco_error.txt](https://github.com/chocolatey-community/chocolatey-coreteampac

[2021-03-03 13:22] naveen521kk opened #1623 "(mkdocs) Find the Python Executable Correctly"
## Expected Behavior
Currently, the package just chooses the first `python.exe` which it seems. The `python.exe` could be from a venv(virtual environment) and could be problematic. It should query registry as specified in https://www.python.org/dev/peps/pep-0514 and then find the `python.exe` which is originally installed from an Installer and use the `python.exe` from there.

## Current Behavior

[2021-03-03 13:35] naveen521kk commented on #1518
I am against install Visual Studio by default with Python. It's useless for people who don't use a C module or build one. Usually, maintainers produce [wheels](https://pythonwheels.com/) so that they can be installed without any compiling work. For example, [Numpy](https://pypi.org/project/numpy) and [Scipy](https://pypi.org/project/Scipy).

You should either ask for the project maintainers to Pub

[2021-03-03 13:43] majkinetor commented on #1518
I agree.

I will just add above info in readme and call it a day.

[2021-03-03 13:47] #1518 closed

[2021-03-07 19:09] brentlintner commented on #1058
For posterity, I am still running into this.

[code]

Works for me too.

[2021-03-08 22:35] cmdline-batchelor opened #1625 "why doesn't python3 install correctly?"
## Expected Behavior
python3 should have more than 0 bytes

## What actually happens
In admin powershell:
`choco install -y python3`

Output:
[code]
 Now when I try to hit `python3` I get a windows store popup asking me if I want to install it

So I go into cmd:

[code]

As you can see python3 comes up as having 0 bytes..

## Current Behavior
python3 does not install correctly the .exe has 0bytes

[2021-03-08 22:45] cmdline-batchelor commented on #1625
nvm... its in `c:\python39`

[2021-03-08 22:45] cmdline-batchelor commented on #1625
still doesn't work when launched from c:\python39

[2021-03-08 22:51] cmdline-batchelor commented on #1625
its not present in `c:\python39` either:

[code]

[2021-03-08 22:58] cmdline-batchelor commented on #1625
`type C:\ProgramData\chocolatey\logs\chocolatey.log` output:
[code]

[2021-03-09 07:23] cohall-2020 commented on #1625
I had the same problem.  Not sure if this typically happens elsewhere, but I don't see anything in the [installer scripts](https://github.com/chocolatey-community/chocolatey-coreteampackages/tree/master/automatic/python3/tools) that sets the PATH, and only a check that PYTHONHOME isn't misconfigured (but not an actual command to set it).

Also the [history of helpers.ps1](https://github.com/chocol

[2021-03-09 11:58] cmdline-batchelor commented on #1625
Another thing, `choco uninstall -y python3`
comes up as successful however the dir `C:\python39` still exists and `C:\Users\L\AppData\Local\Microsoft\WindowsApps\python3.exe`

[2021-03-09 12:14] cmdline-batchelor commented on #1625
Going into `Control Panel\Programs\Programs and Features`
I see that `python3.9.2` and `python launcher` are still present even after after a `choco uninstall -y python3`

[2021-03-16 19:23] Destroy666x opened #1626 "(cygwin) Cygwin doesn't want to install to a path with a space"
I would like to install Cygwin into `C:\Program Files\Cygwin`. Commands I tried:
`choco install cygwin --force --params "/InstallDir:C:\Program Files\Cygwin"`
`choco install cygwin --force --params "/InstallDir:""C:\Program Files\Cygwin"""`
`choco install cygwin --force --params "'/InstallDir:C:\Program Files\Cygwin'"`
`choco install cygwin --force --params "/InstallDir:'C:\Program Files\Cygwin'"`

[2021-03-17 23:25] jacktose commented on #1625
First, make sure that `C:\Python39\` is in your `PATH`:
1. In Start or Settings, search “environment variables”. That should open System Properties > Advanced.
2. Click Environment Variables...
3. Under System variables, click Path, then Edit...
4. You should find `C:\Python39\Scripts\` and `C:\Python39\` in the list (probably at the top if you just installed).

Then reboot! PATH changes are one o

[2021-03-18 02:17] cmdline-batchelor commented on #1625
@jacktose

looks like you didn’t read my output at all, its correctly set in path but that doesn’t matter because python3.exe has 0 bytes, look:

[code]

[2021-03-18 02:18] cmdline-batchelor commented on #1625
@jacktose

its not present in `c:\python39` either:

[code]

[2021-03-18 03:44] jacktose commented on #1625
The exes in `C:\Users\L\AppData\Local\Microsoft\WindowsApps\` are some kind of weird shim for Microsoft Store apps. I don't know how they work, and I don't know why they appear to take precedence over exes in `PATH`. I expect you had [MS Store Python](https://www.microsoft.com/store/productId/9P7QFQMJRFP7) installed at some point; it seems to not remove those exes when it's uninstalled.
I deleted

[2021-03-18 06:49] cmdline-batchelor commented on #1625
@jacktose
like I said, I’ve never installed python on this machine before, when i uninstall python3 using chocolatey it uninstalls python3 from `C:\Users\L\AppData\Local\Microsoft\WindowsApps` where exactly is the python3*.exe located then?

[2021-03-18 06:57] cmdline-batchelor commented on #1625
@jacktose
I’ve got a new win10 vm to setup, if you’d tell me exactly where the python3*.exe are located then I could at least look them up and yes I have rebooted my machine, it really doesn’t make sense if those .exes aren’t present especially weird is that chocolatey uninstalls from the `windowsApps` location

[2021-03-18 22:39] cmdline-batchelor commented on #1625
@jacktose

this seems to work when typing `python` i get a version 3 prompt when typing `python3` i get a prompt telling me to install it, is this expected?

[2021-03-20 03:13] RedBaron2 commented on #1626
@Destroy666x
The requirements of the install parameters :
- This package must be a fresh install
- or the registry key must be removed

If the registry key is found regardless of the parameters given. The install will be the location specified in the registry.

I hope this helps you out. I'm sure it is not what you would like for the answer. The helper script for this package could be re-done to b

[2021-03-20 03:32] Destroy666x commented on #1626
@RedBaron2 I'm not exactly sure how this helps me whatsoever... This seems completely unrelated to my report of not being able to change the install dir to one with space(s).

[2021-03-20 03:38] Destroy666x commented on #1626
Plus what you wrote seems like another bug, but one for uninstaller, which should delete that registry key I'd assume.

[2021-03-20 04:03] HunterZ opened #1627 "(avidemux) 2.7.8 upgrade is not silent"
## Expected Behavior

Upgrade should occur without any need for user input.

## Current Behavior

A popup appears asking the user to specify/confirm installation location, and upgrade does not proceed until the user hits OK button.

## Possible Solution

Whatever it takes to keep the popup from appearing, or to dismiss it automatically.

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

U

[2021-03-20 04:05] SkebbZ opened #1628 "(ccleaner) checksum mismatch"
## Expected Behavior

Installs/updates normally

## Current Behavior

Fails on checksum mismatch
## Possible Solution

## Steps to Reproduce (for bugs)

1.Install or update the package
2.It downloads correctly, but fails on installl
3.
4.

## Context

## Your Environment

* Package Version used: 5.77.8521
* Operating System and version: Win10 x64 20H2
* Chocolatey version: 0.10.15
* Install/uninst

[2021-03-20 04:28] RedBaron2 commented on #1626
@Destroy666x
Please take a moment and calmly let's look at this closely.

The code for the InstallDir detection reads the registry first. If that is found then **any parameters** of InstallDir are ignored.

Did you reboot the system after the change? *

Do not use force to install a package unless the package will not install normally. (Most packages don't need it)
Please follow the read me for th

[2021-03-20 04:31] RedBaron2 commented on #1628
@SkebbZ
A new version has been released. Please wait a few hours for the automatic check to update the package.

[2021-03-20 06:11] Destroy666x commented on #1626
@RedBaron2 yes, the registry was reloaded, few times by reboot specifically too for sure. Even if it wasn't, the initial problem didn't come out of nowhere, because, like I wrote, it keeps installing into `C:\Program`, which means that it took my custom path, but an incorrect one... I can also install it to e.g. `C:\Random` by just specifying `C:\Random Files\Cygwin`

Now these are kind of helpful

[2021-03-20 06:21] Destroy666x commented on #1626
This is proof that `--force` and registry don't matter:
![image](https://user-images.githubusercontent.com/3606072/111861213-d2145600-894c-11eb-8a15-03a75b21a0de.png)

Also, the uninstaller does remove the key from what I see. So you don't need to do it manually, I did last time because I probably didn't uninstall then.

[2021-03-20 06:43] RedBaron2 commented on #1626
@Destroy666x
I'll do some more research, but the preliminary results are pointing to the cgywin setup not taking the spaces. They are being cut as of they are the end of the value not passed with the whole value. It though is **Not** the package or chocolatey.

I'll get back to you about it.

[2021-03-20 06:46] Destroy666x commented on #1626
Ok thanks.

Env did also nothing like I suspected:
![image](https://user-images.githubusercontent.com/3606072/111861634-3684e480-8950-11eb-9e06-56315504ac26.png)

I'll try some more weird quote combinations in meanwhile, but I don't think anything can be achieved here without a fix somewhere.

[2021-03-20 07:16] Destroy666x commented on #1626
So @RedBaron2 , a short summary of last comment with what I'm guessing and 99% sure the fixes are, but I can't test that due to my insufficient Chocolatey knowledge at least yet:
1. https://github.com/chocolatey-community/chocolatey-coreteampackages/blob/master/automatic/cygwin/tools/chocolateyInstall.ps1#L30-L31 - `$cygwin_root` needs to be between quotes in both lines
2. https://github.com/choco

[2021-03-20 12:59] otakuf commented on #1628
Still "Error - hashes do not match".

[2021-03-20 15:39] jeansagi commented on #1628
Confirmed: It still is **not working**!

J.

[2021-03-20 16:29] malcook opened #1629 "(kitty) Configuration is not possible"
Supposedly, in kitty [You can open the config file within kitty by pressing ctrl\+shift\+f2](https://sw.kovidgoyal.net/kitty/conf.html#shortcut-kitty.Edit-config-file)

but when I try I am alerted: Error Unable to find requested file. I can not otherwise find kitty's config file.

--- Provide a general summary of the issue in the Title above, prefixed with (packageName) -->

## Expected Behavior

[2021-03-21 07:13] RedBaron2 commented on #1626
@Destroy666x
I'm still looking into this but can you answer a few questions
1. Why are you trying to install Cgywin into the Program Files directory?
2. Have you used Cgywin in this or any other folder that has a space in it?
3. Could you post a gist of the install that you got to work?

Though to answer your question of how to test your bug fix.
The short list of events to do this are:
- Download

[2021-03-21 08:04] RedBaron2 commented on #1628
@AdmiringWorm @majkinetor @gep13
Could anyone request a new update for the ccleaner package.

The version hasn't changed but the download has changed.
Thank you.

[2021-03-21 22:55] cmdline-batchelor commented on #1625
@jacktose

Also the `*windowsApps/python3.exe` is present on all new windows machines with 0 bytes so it’s nothing to do with chocolatey tested on new win10 vm

[2021-03-21 23:29] jacktose commented on #1625
Ah, that must be so that it can direct you to the MS Store when you type `python` in the CLI.

But it must be taking precedence over actual Python in the PATH, so I deleted it.

[2021-03-22 06:13] cmdline-batchelor commented on #1625
@jacktose

well typing `python` gets you in a python 3 prompt whereas typing `python3` gets you the windows prompt, are you saying you got into a python 3 prompt after deleting it?

[2021-03-22 06:17] cmdline-batchelor commented on #1625
Ah crap, I thought you were the dev on this, so you just typed `python` as well and were using your own work arounds which didn’t actually do anything...

[2021-03-22 06:41] cmdline-batchelor opened #1630 "After installing python3 with choco only typing `python` will get you into the python3 prompt"
## Expected Behavior
After installing chocolatey:
typing `python3`In cmd should get you into a python3 prompt.

## Current Behavior
- Typing `python` gets you into a python 3 prompt
- This isn’t good as what if the user has 2 versions of python?

## Possible Solution
- This could have something to do with all new win10 installations coming with `*\windowsApps\python3.exe` with 0 bytes (tested on f

[2021-03-22 06:43] #1625 closed

[2021-03-22 15:13] compuguy commented on #1260
This issue has cropped up again with the latest release of wget, 1.21.1, @jernejs

[2021-03-22 16:27] vg22 commented on #1260
Also affecting the older release 1.20.3

[2021-03-22 16:36] jernejs commented on #1260
If you download 64-bit 1.21.1 again, this issue has been fixed.

[2021-03-22 17:04] vg22 commented on #1260
@jernejs  I am getting the same error. I uninstalled the existing wget and tried again. I have a local cached version of wget in my internal choco repo. Could that be a problem?

[2021-03-22 17:14] cinderblock commented on #1260
`choco install --force wget` says it redownloads the latest zip. Is it not using it or something?

[2021-03-22 17:31] jernejs commented on #1260
No idea – I don't have anything to do with chocolatey package. The wrong ZIP was on my [download page](https://eternallybored.org/misc/wget/) for about 13 hours before I caught the error. The correct ZIP has sha256 a56163475d344f9d78c28becf33015df468ddc6785c4b3d33c80095006cb5438.

[2021-03-23 04:31] cinderblock commented on #1260
I just interrupted the `choco install --force wget` and found the files that Chocolatey is downloading at `%TEMP%/chocolatey/NuGetScratch/<UUID>/<hash>/tools/`:

[code]

@jernejs can you tell if those are cached versions of the wrong `zip`? I think Chocolatey's package cache may be stale.

[2021-03-23 05:33] jacktose commented on #1625
I dunno, friend. I'm just a user with a similar problem and barely enough knowledge to be dangerous.

[2021-03-23 07:14] AdmiringWorm commented on #1260
That warning is harmless, it happens just because chocolatey itself can't extract the icon from the executable when it creates the shim to put on `PATH`.

Dependening on the priority you have set on your sources, that can be the problem and it picks up the one you have cached instead of the one on chocolatey.org.
The log output should mention which version you installed though, as well as where it

[2021-03-23 09:55] naveen521kk commented on #1630
This is something you want to report to Python itself and not here.

They provide an alternate way `py.exe` to run between python2 and python3, for example
`py -2` will open a python2 prompt and `py -3` will open a python3 prompt.

Have a look at https://www.python.org/dev/peps/pep-0397/