[2018-02-07 13:49] dimqua commented on #906
Is it even possible to grab them from FossHub?

[2018-02-07 21:23] AdmiringWorm commented on #906
it probably is possible somehow, but the workarounds will probably just work for a short time, and will need to be updated quite often.

As such, it probably won't ever be added to the repo, as well as fosshub don't want automatic scripts to download files from their webpage.

[2018-02-10 06:56] majkinetor commented on #950
I found out why I thought the native and core funcs are not the same. Its a bug in remembering parameters:

[code]

`/Service` is parameter of another package. It pops up on random package each time I cup all.

[2018-02-10 14:54] ferventcoder commented on #950
It's a known issue. The trick is discovering why it occurs. The time from when the actual bug occurs to when you notice is quite far apart. That bug is noted at https://github.com/chocolatey/choco/issues/1443

[2018-02-11 18:54] dimqua opened #958 "(wesnoth) Beta version support"
There are [beta versions](https://sourceforge.net/projects/wesnoth/files/wesnoth/) of the Battle for Wesnoth game, but they're not supported by the package.

https://chocolatey.org/packages/wesnoth

[2018-02-11 18:57] #906 closed

[2018-02-12 17:09] ferventcoder commented on #950
https://github.com/chocolatey/choco/issues/1490 for the incompatibilities addressed in this issue.

[2018-02-12 21:24] AdmiringWorm commented on #958
I'll mark this as an up for grabs, however I doubt it will be added.

We'll need a way to tell the difference between stable and beta releases, in which case I could see no way to parse such information easily.

Feel free to point it out if you are able to see it though.

[2018-02-12 21:48] dimqua commented on #958
Only beta releases are hosted here: https://sourceforge.net/projects/wesnoth/files/wesnoth/

Stable releases: https://sourceforge.net/projects/wesnoth/files/

[2018-02-12 21:52] AdmiringWorm commented on #958
I see, I didn't notice the extra `wesnoth` in the path, in which case it will be added sooner or later, but I'm keeping it as an Up for grabs for now

[2018-02-12 22:13] AdmiringWorm commented on #944
completely forgot about closing this one.

[2018-02-12 22:13] #944 closed

[2018-02-13 00:34] #957 closed

[2018-02-13 00:34] #958 closed

[2018-02-13 00:34] AdmiringWorm commented on #957
the file needed to fix ssl problems is now being included in the package (should be available on chocolatey.org shortly), let me know if there are any more problems

[2018-02-13 00:35] AdmiringWorm commented on #958
beta versions have now been included with the version check (Latest beta should be available on chocolatey.org shortly)

[2018-02-13 08:23] #954 closed

[2018-02-13 08:24] majkinetor commented on #950
I don't think there is anything more to add here so I will close this.

[2018-02-13 08:24] #950 closed

[2018-02-13 21:18] ferventcoder commented on #954
Yes, agreed.

[2018-02-20 12:35] steve-hawkins opened #959 "(nssm) package failing to install"
## Expected Behavior
executing `choco install nssm` should install the Non-Sucking Service Manager

## Current Behavior
executing `choco install nssm` results in error

## Possible Solution
I'm taking a look at the nssm.nuspec file as the errors suggest suspect package information

## Steps to Reproduce (for bugs)
1. `choco install nssm`

## Your Environment
* Package Version used: 2.24.101.201801

[2018-02-20 18:28] majkinetor commented on #959
From your log it says:

which is before package script is executed.

[2018-02-21 16:34] steve-hawkins commented on #959
strange how `choco install nssm --version 2.24.0` installs just fine

[2018-02-21 17:16] majkinetor commented on #959
Definitelly some local problem.

[2018-02-21 17:16] #959 closed

[2018-02-21 17:18] majkinetor commented on #959
cc @ferventcoder

This looks like reported problem but package is in that case not found without the version.

[2018-02-21 17:33] jordigg opened #960 "(wixtoolset) Installer broken. Download url changed, now hosted on Github"
## Expected Behavior
Package should be able to download the installer. It does not because the URL changed and is not hosted on Github.

## Current Behavior
The installer fails.

## Possible Solution
Fix update script to get new urls from Github releases. The latest is at: https://github.com/wixtoolset/wix3/releases/latest -> https://github.com/wixtoolset/wix3/releases/download/wix3111rtm/wix311.e

[2018-02-21 19:42] gep13 commented on #960
@jordigg can you please confirm what version of wixtoolset you were trying to install?  The latest version of the wixtoolset package actually embeds the installer, so there is no requirement for it to download it at all.

[2018-02-21 20:05] AdmiringWorm commented on #960
@jordigg I see from the log you posted that you're trying to install an older version, the older versions are unlikely to be updated.
Please install the latest version 3.11.1, which is as @gep13 said an embedded package and does not rely on downloading the installer during install.

[2018-02-21 20:05] #960 closed

[2018-02-23 09:52] gep13 opened #962 "(GoogleChrome) Unable to install latest version"
Looks like the checksums of the latest GoogleChrome package no longer match what is being downloaded.

Can we push out a new version of this package?

![image](https://user-images.githubusercontent.com/1271146/36588195-3a1a3360-187f-11e8-8a22-0d0fd48b3c37.png)

It works fine when using the Download Cache, so something obviously changed on the Google side.

[2018-02-23 09:53] gep13 commented on #962
Noticed this issue after seeing this issue on the AppVeyor site:

https://github.com/appveyor/ci/issues/2089

[2018-02-23 09:56] gep13 commented on #962
@AdmiringWorm is all that is required here likely to be forcing a new AppVeyor run to check for latest version?

[2018-02-23 09:57] filipesilva commented on #962
Yeah seeing the same thing on AppVeyor at the moment. Just doing a new AppVeyor does not seem to be enough.

[2018-02-23 09:59] gep13 commented on #962
Hmm, looks like the problem is bigger than I had hoped 😢

Looks like the site that we use to get the latest version of Chrome isn't working:

![image](https://user-images.githubusercontent.com/1271146/36588504-3c5ee8fe-1880-11e8-954e-30133ed99008.png)

[2018-02-23 09:59] gep13 commented on #962
Do we know who runs that site, and who we can contact to figure out what is going on?

[2018-02-23 21:36] AdmiringWorm commented on #962
seems like the website is up again, and a new version have been pushed to chocolatey.
When it have been approved I believe we can close this issue.

[2018-02-25 01:30] bcurran3 opened #964 "FEATURE REQUEST: rufus package - shim the exe please"
The current rufus package just consists of the portable exe, license, and verification files.

It would be wonderful if it included a chocolateyinstall.ps1 with the end result of the rufus.exe being shimmed.

[2018-02-25 17:31] AdmiringWorm commented on #964
All exes that are put inside the package directory are automatically shimmed by chocolatey, and with that there are no need to have a install script.
See the highlighted line from the chocolatey test environment mentioning that the file is shimmed:
https://gist.github.com/choco-bot/983e2b6e9a9697dd9119a31f76910189#file-install-txt-L139

Because this is already happening, I'm closing this request

[2018-02-25 17:31] #964 closed

[2018-02-25 17:56] Schneehexe opened #965 "Totalcommander, cannot install"
See the log...
https://gist.github.com/Schneehexe/21ff30e76abedc3a0f100d2429dd20ea

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Package Version used:
* Operating System and version:
* Chocolatey version:
* Install/uninstall gist:

[2018-02-25 19:55] bcurran3 commented on #964
I know that's the way it's SUPPOSED to work. For whatever reason, it didn't  create a shim for me. So I tested. Uninstalled. Re-installed. This time I got a shim. Yay!

[2018-02-26 17:19] AdmiringWorm commented on #965
A new version of the totalcommand package have been queued on the build server, and should be pushed to chocolatey.org shortly.

Let me know if you keep having issues with this package when it have been approved on chocolatey.org (normally takes a few hours).

[2018-02-26 19:46] gep13 commented on #962
@AdmiringWorm am I right in saying that there wasn't any output from AU to say that the website wasn't working properly, when it was down?  Would be good if we could catch this happening again.

[2018-02-26 19:51] AdmiringWorm commented on #962
@gep13 not completely sure, but yeah I don't think there was any output from AU, could be that the ignore messages catches it instead.

[2018-02-26 19:56] AdmiringWorm commented on #962
hmm,  I stand corrected.
AU actually detected the error, must have missed the email instead:
https://ci.appveyor.com/project/chocolatey/chocolatey-coreteampackages/build/3422#L292

[2018-02-26 20:11] gep13 commented on #962
Ah, I think I see why I didn't see it...

Looks like it failed to update the gist:

https://ci.appveyor.com/project/chocolatey/chocolatey-coreteampackages/build/3422#L458

Hence it wasn't in the report.

Hopefully your new fix will help with that as well.

[2018-02-26 20:19] AdmiringWorm commented on #962
true, but it probably got sent out as an email instead.

Yeah, hopefully that fix will help with the reports, so far so good though.

[2018-02-26 20:40] gep13 commented on #962
true, but it probably got sent out as an email instead.

Yip.  I think I must have missed that in the flood of other emails that I have 😄

[2018-02-26 20:45] AdmiringWorm commented on #962
same here

[2018-02-26 23:38] ferventcoder commented on #900
@AdmiringWorm FYI, 1password v4 and v6 are nearly two different products. If we have a v6, there needs to be a 1password4 package.

[2018-02-26 23:40] ferventcoder opened #968 "(1password) if you allow upgrades to v6 (current), we'll need a v4 package as well (1password4)"
Discussion at https://chocolatey.org/packages/1password#comment-3703155464

[2018-02-27 05:15] AdmiringWorm commented on #900
@ferventcoder well, we can certainly create a package solely for that version.
I won't be able to look at that today though, as I'll be gone the whole day, but I'll try to look into it later this week

[2018-02-27 19:40] AdmiringWorm opened #969 "(dropbox) Is failing to parse version and download the binary"
Currently both the dropbox and the dropbox_beta package folders are failing the update run, the former with an error of invalid version, and the later with an error that the download file couldn't be found.

I plan to have a look at both of these later this week, along with combining them to a single package with streams.

[2018-02-28 19:00] rjt commented on #99
2.8.22 is the official version, but does not save MetaData and may delete existing metadata.  A dev option would be great.

[2018-03-01 03:01] RedBaron2 commented on #969
@AdmiringWorm
Dropbox package failed with a `invalid version` because of the compare check not finding the version in the dropbox forum yet. The beta version had a error in the url being used to download the installer had been changed by Dropbox.
I have since fixed both these errors and merged them into a stream package. I will be submitting the PR soon.

[2018-03-01 03:07] AdmiringWorm commented on #969
@RedBaron2 sounds good, however I do still plan to parse the url from the blog post itself.
But that is something I can do from a separate issue at a later date

[2018-03-02 02:37] botmtl commented on #957
thanks @AdmiringWorm, works great.

[2018-03-06 01:41] Saniok88 commented on #796
One of reasons, why this error may happen is the too long filename (more, than 256 symbols, starting from Disk root and ending whole folder depth and a filename - if all of this is longer, than 256 symbols, those files are locked, and can not be deleted, until you manually shorten all folder names)

[2018-03-06 16:04] eberkund commented on #571
It is broken again for me with the last few versions

[2018-03-15 14:57] uiii opened #983 "(apache-httpd) Make service installation optional"
## Expected Behavior

When installing apache there will be an option to disable service installation.

## Current Behavior

Apache service is installed by default and cannot be disable during install.

## Possible Solution

Add package parameter (e.g. `/noService`) to disable service installation

## Context

In my workflow I'm running the server manually (multiple instances) and don't want to run

[2018-03-16 11:55] trailmax opened #986 "(typescript) only redirects install to npm"
TypeScript package only redirects install to npm. If npm is out of date or not available, the installation fails.

## Expected Behavior

Flawless installation of the package, not a bunch of errors that npm produces. Not requiring npm to be involved at all.

## Current Behavior

Current TypeScript package does not do anything other than calling `npm install -g typescript@2.7.2`

## Possible Solutio

[2018-03-16 11:59] gep13 commented on #986
@trailmax I just had a quick look at the download section of the TypeScript site:

https://www.typescriptlang.org/#download-links

And it looks like their recommendation is to install through npm.  Did I miss something?  Can you install it another way?

Looks like this Chocolatey Package is essentially a wrapper around the recommended installation steps.

[2018-03-16 12:52] trailmax commented on #986
@gep13 Seems like there is no other way to do it now. Back in v1.x time I remember there used to be a downloadable installation file, hence I was hoping for the same experience.

Oh, well, seems like we are all becoming victims of npm tyranny and choco can't really do anything else.
Sorry about the skirmish.

[2018-03-16 13:18] gep13 commented on #986
Sorry about the skirmish.

No need to apologise.

Are you happy for this to be closed?

[2018-03-16 14:21] trailmax commented on #986
I don't think we can do much about it, so yeah, let's close it.

[2018-03-16 14:21] #986 closed

[2018-03-16 16:17] mcandre opened #987 "(cmake) not in PATH"
ay make sure cmake perists in PATH upon installation, so that project builds can find it

[2018-03-16 16:18] mcandre opened #988 "cppcheck"
ay make sure cppcheck persists in PATH upon installation, so that project builds can find it

[2018-03-16 20:51] AdmiringWorm commented on #987
you can already do this (or should anyhow).

install cmake like this to have it added to PATH for all users:
[code]

or the following to have it added to PATH for the current user only
[code]

There isn't any intention of adding it by default, as it isn't added by default in the installer.

[2018-03-16 20:53] AdmiringWorm commented on #988
cppcheck isn't located in this repository, please find the correct maintainers and contact them.

[2018-03-16 20:53] #988 closed

[2018-03-16 20:58] AdmiringWorm commented on #983
Definitely something that could be added.

I've added this as an up to grabs for now, but it should be an easy addition to the package.

[2018-03-16 20:59] #987 closed

[2018-03-16 21:28] gep13 commented on #988
@mcandre you can find the correct repository here:

https://github.com/Thieum/ChocolateyPackages

[2018-03-16 21:40] AdmiringWorm commented on #986
@trailmax please do let us know if at any point in the future they start providing typescript through a normal installer, I would be happy to update the install and update scripts to change it to handle that instead.

[2018-03-16 23:14] trailmax commented on #986
@AdmiringWorm thanks for the offer, but I'll probably be the last one to notice this change. I'm not really following JS/TS world closely.

[2018-03-20 20:09] OlafHaag opened #992 "(gnucash) Update required: latest stable version is 2.6.19"
As of 2018-02-09, the latest stable version is 2.6.19. Thanks in advance for upating the package.

## Expected Behavior
up-to-date with stable release

## Current Behavior
not up-to-date with stable release

## Possible Solution
update to latest stable release

## Context
In v2.6.18 online banking isn't available when installed through chocolatey (probably has nothing to do with choco)

[2018-03-21 22:15] Nodgarb opened #993 "(firefoxesr) Add a default locale to the variable"
Essentially same issue as https://github.com/chocolatey/chocolatey-coreteampackages/issues/933, but for the Firefox ESR package.

Instead of:
`$locale = GetLocale -localeFile "$toolsPath\LanguageChecksums.csv" -product $softwareName`

modify to:
`$locale = 'en-US'`
`$locale = GetLocale -localeFile "$toolsPath\LanguageChecksums.csv" -product $softwareName`

This is the same fix for the firefox pack

[2018-03-22 11:51] AdmiringWorm commented on #992
Thanks for letting us now, seems like the package wasn't updated due to the incorrect update of the `2.7.1` version in the past, and the version in this repository was forgotten to be rolled back.

A new version should be available in a few hours if everything goes according to plan.

[2018-03-22 11:52] #969 closed

[2018-03-22 12:01] #992 closed

[2018-03-22 12:58] AdmiringWorm commented on #922
fixed in PR #984

[2018-03-22 12:58] #922 closed

[2018-03-22 17:06] #993 closed

[2018-03-22 17:06] #983 closed

[2018-03-23 15:14] jongalloway opened #994 "(Krita) 4.0.0 Release"
## Expected Behavior
Package update for new Krita 4.0.0 release

## Current Behavior
Comment on package discussion says waiting on 32 bit release. From Twitter, it appears that Krita has deprioritized and may have discontinued 32 bit releases.

## Possible Solution
Create a pre package with 64 bit only support, or create a new 64 bit package?

## Context
[Krita 4.0.0 was released on March 22](http

[2018-03-26 14:44] AdmiringWorm commented on #550
Re-Opening this issue, as it was reported again on the disqus channel

[2018-03-26 23:22] ferventcoder commented on #550
@jtcmedia in the chocolateyInstall.ps1 script, check for the software being installed and uninstall it, not the Chocolatey package. I think that's where you are seeing those errors.

Also, our first friendly exit code in the wild showed up in that disqus comment (http://disq.us/p/1r9378g):

ERROR: Running ["C:\WINDOWS\System32\msiexec.exe" /i "C:\Users\...\AppData\Local\Temp\chocolatey\InkScape\0.

[2018-03-27 06:46] jtcmedia commented on #550
Thanks @ferventcoder. I've submitted PR [#996](https://github.com/chocolatey/chocolatey-coreteampackages/pull/996) that should fix it.

[2018-03-28 11:15] uiii commented on #983
Thanks for implementation. But when it will be propagated to chocolatey database? https://chocolatey.org/packages/apache-httpd doesn't seem to be updated.

[2018-03-28 16:31] AdmiringWorm commented on #983
it will be available when the next version of apache-httpd software is released, depending on the release cycle of the software we can force an update if it's truly urgent though.

[2018-03-30 23:32] mcandre opened #998 "make: Please install shims for "gmake""
Some project builds invoke GNU make as "gmake", which breaks in environments where GNU make is provided only as "make".

Please add shims so that build scripts referencing "gmake" can run better in Windows.

A `gmake.bat` script would go far, though a `gmake` POSIX sh script is likely needed as well so that Cygwin environments can also find the shim. Or just make a `gmake.exe` that passes argument

[2018-03-31 15:28] AdmiringWorm commented on #998
I'm guessing you're talking about the `make` package?
If so, then you're unfortunately in the wrong repository, this repository doesn't maintain the make package.

Please contact the maintainer(s) of the package.

[2018-03-31 15:28] #998 closed

[2018-04-05 04:54] AdmiringWorm commented on #994
Since the authors have supplied 32bit binaries for krita, and the 4.0.0 package have been released, I believe we can close this issue now.

[2018-04-05 04:54] #994 closed

[2018-04-11 15:01] majkinetor commented on #913
Great contributions so far m8.

[2018-04-11 15:43] pauby commented on #913
I'm not sure I understand Milo. Can you elaborate?

On Wed, 11 Apr 2018, 16:01 Miodrag Milić, <notifications@github.com> wrote:

[2018-04-13 03:46] gep13 opened #1000 "(nmap) Failed automated testing"
https://chocolatey.org/packages/nmap/7.70

Link to gist output:

https://gist.github.com/choco-bot/e420f6e3c0b2d5587d15b26f3a9c546a

[2018-04-16 08:21] pascalberger opened #1001 "(sourcetree) Use MSI installer"
## Expected Behavior
The Sourcetree package currently uses a Squirrel based installer which, installes into user directory. This doesn't match well with a machine wide packaging tool like Chocolatey. Starting with 2.5.0 a MSI installer is provided.

## Current Behavior
Package installes into user directory

## Possible Solution
Package should use MSI installer. MSI installer should be [publicly av

[2018-04-17 12:55] sc250024 opened #1002 "Packer builds failing for KB3035131 package"
Greetings,

I'm not sure whether to file this as an error with the Chocolatey package manager, or Packer itself, so I thought I would start here first.

I'm using Packer to build a Windows 2012 R2 base image on AWS for our deployments. I run into an issue related to the `KB3035131` package. Basically, however it installs itself (whether directly, or as part of installing the `dotnetcore-runtime` p

[2018-04-18 08:52] anonemo opened #1003 "(rukerneltool) cannot install"
RuKernel tool want install.

In chocolatey.log we find:

2018-04-16 10:48:43,646 19468 [ERROR] - Is not archive
2018-04-16 10:48:43,679 19468 [DEBUG] - Command ['C:\ProgramData\chocolatey\tools\7z.exe' x -aoa -bd -bb1 -o"C:\tools\ruKernelTool" -y "C:\Users\me\AppData\Local\Temp\chocolatey\rukerneltool.zip"] exited with '2'.
2018-04-16 10:48:43,681 19468 [DEBUG] - 7z exit code: 2
2018-04-16 10:48:4

[2018-04-18 19:08] majkinetor commented on #1003
We actually do not work on non English tools as shown in first paragraphs of CONTRIBUTING.md.

This package is artifact of pre-AU workflow, a tool is also on wrong location among automatic packages::
https://github.com/chocolatey/chocolatey-coreteampackages/tree/master/automatic/rukerneltool

/cc @AdmiringWorm

[2018-04-19 08:00] LuisGP opened #1004 "(curl) package doesn't include x64 libcurl.dll"
As the title stablishes, cURL package for chocolatey doesn't have the precompiled x64 libcurl.dll.
x32 version is already in the package.

This causes that when installing through choco the cURL package in a x64 environment, you cannot link against libcurl.

Simply adding the x64 version would be great and will simplify a lot build files and projects that depend on libcurl.

For example, I'm curre

[2018-04-19 09:30] sc250024 commented on #1002
For anyone experiencing this, I found a solution:

[code]

Simply run the commands with the `elevated_` tags I have above, and that does the trick. Seems fairly obvious now, but definitely wasn't at the time 😄

[2018-04-19 09:30] #1002 closed

[2018-04-20 10:44] BobSammers opened #1005 "(skype) automatic update"
Looking through the repos here, it seems Skype has been updated to the latest version (7.41) and moved from @ferventcoder's repo to the core team.

The PR for this was merged a couple of weeks ago, but the version Chocolatey attempts to download is still an out-of-date version (7.39). What's more, the installer is missing (404 error), so the package is actually broken.

Nothing seems to have trigg

[2018-04-21 18:24] vanyasem opened #1006 "Clover outdated"
The latest Clover version is [3.4.3](http://en.ejie.me/), but the package is [3.2.3](https://chocolatey.org/packages/Clover)

## Possible Solution
Update the package to the latest version

## Context
I was trying to install the latest version of Clover from Chocolatey

## Your Environment
* Operating System and version: Windows 10
* Chocolatey version: 0.10.10

[2018-04-23 15:02] AdmiringWorm commented on #1006
We're aware, and as it's mentioned in the disqus section of the website, updating have been stopped for this software.

The latest version have 11 positive results for viruses/malware, in which case we won't be updating to this version either.

[2018-04-23 15:03] #1006 closed

[2018-04-23 15:03] AdmiringWorm commented on #1006
I recommend that you find alternatives to clover

[2018-04-23 15:15] AdmiringWorm commented on #1002
@sc250024 glad that you found a way to make it work. Sorry about not responding to the issue before now though.

[2018-04-23 18:28] AdmiringWorm commented on #1003
@anonemo the rukerneltool was actually meant to be removed from this repo, if I remember correctly.
There is a open RFM for maintainers to continue keeping this package updated.
Not gotten around to remove it from the repo yet though, as well as removing the choco user.
Will do that now

[2018-04-23 18:28] #1003 closed

[2018-04-23 19:42] AdmiringWorm commented on #1005
I've fixed this locally, just a little testing then I'll push an update out for this.

[2018-04-23 20:08] #1005 closed

[2018-04-23 20:40] AdmiringWorm commented on #1000
Seems like it's caused by using the wrong variable when calling Remove-Item.
Easy fix, and I'll look into it tomorrow after work. Unless someone beat me to it of course.

[2018-04-23 20:44] AdmiringWorm commented on #941
Just quoting a comment on the disqus channel, which is probably something we should consider.

[2018-04-23 21:10] rgl opened #1007 "Upgrade the VirtualBox package to 5.2.10"
Can you please update the VirtualBox package to 5.2.10? Thanks!

[2018-04-24 06:13] AdmiringWorm commented on #1005
I knew I forgot something, I'll get that added again when I get home from work. Sorry about that

[2018-04-24 06:14] AdmiringWorm commented on #1007
unfortunately we can't do that yet, we'll need to wait until they make the windows installer available again.
Quoting the website:

[2018-04-24 08:04] BobSammers commented on #1005
:smiley:

[2018-04-24 18:06] AdmiringWorm commented on #1005
a new version have been pushed to chocolatey, and should be available automatically in a few hours

[2018-04-24 21:23] bcurran3 opened #1009 "(skype) Fix for "skype automatically starts after installation (no known way to disable it yet)""
## Expected Behavior

For Skype to NOT run after install.

## Current Behavior

Skype automatically runs after install

## Possible Solution

Add the following post install and pre-uninstall:

[code]
Better yet would be checking if Skype is already running before running Install-ChocolateyPackage and then letting it continue to run or stop running based on previous state.

[code]
  Install-Chocola

[2018-04-24 21:37] bcurran3 opened #1010 "(skype) Package Source points to wrong location"
Package Source link needs to be updated.

Currently miss-links to:
https://github.com/chocolatey/chocolatey-coreteampackages/automatic/skype/

Should be:
https://github.com/chocolatey/chocolatey-coreteampackages/tree/master/automatic/skype

There are other packages that need this update too. A random example includes:
https://chocolatey.org/packages/Quicktime

[2018-04-24 21:53] #1007 closed

[2018-04-24 21:58] BobSammers commented on #1005
Works perfectly - thank you!

[2018-04-25 06:26] pascalberger commented on #1001
Official [announcement](https://blog.sourcetreeapp.com/2018/04/24/sourcetree-for-windows-enterprise-now-available)

[2018-04-25 19:16] #1000 closed

[2018-04-25 19:29] AdmiringWorm commented on #1010
This have been fixed in the repository, not going to force an update at this time though.

[2018-04-25 19:30] AdmiringWorm commented on #1000
This have been fixed, and is in the process of forcing an update to the failed package

[2018-04-25 21:09] AdmiringWorm commented on #550
This issue have now been fixed in the repository, and will be available when the next version of InkScape is available.

[2018-04-26 08:37] majkinetor commented on #1004
A bug actually, now looking at code.

I will fix this soon.

[2018-04-29 20:43] jongalloway opened #1014 "(gimp) 2.10 autopackage not working"
Gimp 2.10 is out, and they've published a Windows installer. However, it looks like updates to the downloads page have broken the autopackage.

## Expected Behavior
Gimp 2.10 release due to autopackage

## Current Behavior
2.10 release is not listed, status shows [error for Gimp package](https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f#errors)

## Possible Solution
I think the pa

[2018-05-02 08:02] rgl opened #1015 "(python3) installation error due to bug in chocolateyInstall.ps1"
For some reason, this part of `chocolateyInstall.ps1` is failing to delete the python installers:

[code]

When that happens, there seems to be remediation step that tries to create a `.ignore` file, but that part has this bug:

[code]

That is, the creation on an empty file should be done with this instead:

[code]

Also, probably, that deletion should be retried a couple of times (e.g. for 30 se

[2018-05-03 07:50] gep13 opened #1016 "(mkvtoolnix) Should this be a meta package?"
We have this package:

https://chocolatey.org/packages/mkvtoolnix

And another maintainer has published this package:

https://chocolatey.org/packages/mkvtoolnix.portable

Should we look to bring the portable version under the core team packages repo, and create a mkvtoolnix.install?

What are your thoughts @echizenryoma

[2018-05-03 16:03] henryborchers opened #1017 "(resource-hacker) Hash is invalid"
Unable to install Resource Hacker version 4.7.34

## Expected Behavior
Using "choco install reshack" or "choco upgrade reshack" is supposed to install or upgrade to the current version. (As of this time, it's 4.7.34)

## Current Behavior

[code]

[2018-05-03 16:57] gotylergo opened #1018 "(skype) Package installs older version 7.41"
Skype installer is far out of date.

## Expected Behavior
When running "choco install skype", the newest version of Skype is installed.

## Current Behavior
Older version Skype 7.41 is installed.

## Possible Solution
From my conversation with others in the comments on the package page ( https://chocolatey.org/packages/skype#comment-3883854915 ) the package installer was broken for a bit due to Mi

[2018-05-03 17:36] RedBaron2 commented on #1016
I'm going to throw my two cents in here. It appears that the packages are similar to the `CrystalDiskInfo` packages. These packages have a stand alone version (install-able), and a portable version.
I think the discussion should be really about Chocolatey having a switch for choosing `--portable` much like the `--pre` is for alpha/beta/pre releases.
Just my two cents.

[2018-05-03 18:36] gep13 commented on #1016
@RedBaron2 I think that is a good feature request for Chocolatey, but I don't really see how it is relevant to the question that I was asking.  Did you want to create that as a feature request on the Choco GitHub repo?

[2018-05-03 19:18] RedBaron2 commented on #1016
@gep13 I can do that.
Would this be like my meta for the win10mct?

[2018-05-03 20:18] gep13 commented on #1016
Would this be like my meta for the win10mct?

sorry, not sure I follow what you mean.

[2018-05-03 20:36] gep13 commented on #1014
This was resolved here:

https://github.com/chocolatey/chocolatey-coreteampackages/commit/e44b4bbccc27baf6eaea295eb05f86bf451cce12

[2018-05-03 20:36] gep13 commented on #1014
Based on a suggestion from @AdmiringWorm here:

https://gitter.im/chocolatey/chocolatey-coreteampackages?at=5aeb5d25ff26986d082e2ad2

[2018-05-03 20:36] #1014 closed

[2018-05-03 21:06] RedBaron2 commented on #1016
The win10mct is the aka for windows10-media-creation-tool
The windows10-media-creation-tool points to win10mct just like the javaruntime points to jre8

[2018-05-03 23:39] gigaturtle opened #1019 "(virtualbox) Installs non-free ExtensionPack despite /NoExtensionPack flag"
## Expected Behavior
Per the package page, installing with the /NoExtensionPack flag should omit the non-free Extension Pack.

## Current Behavior
Extension pack was installed.

## Possible Solution
Not sure exactly what's going wrong here. My "in a perfect world" solution to this would be to have an alternate/virtual package that only installs the FOSS base package for VirtualBox and completely o

[2018-05-04 07:28] gep13 commented on #1016
Ah, I see, you are essentially talking about an alias for a package.

In this instance, I was talking about the trio of packages, i.e.

* mkvtoolnix
* mkvtoolnix.portable
* mkvtoolnix.install

One of these currently resides in this repository, and another lives in @echizenryoma repository, and the other doesn't yet exist.  My suggestion was to bring them all under one repository, so that they upda

[2018-05-04 15:25] majkinetor opened #1020 "Gist stopped working"
Noticed there is no gist output on commits and gist stopped working 2018-05-02

- last commit with gist, 3 days ago: https://github.com/chocolatey/chocolatey-coreteampackages/commit/1a4c9a1088ad0f7daed77319a075b1557510955d

It says:

[code]

Not sure what is the problem, it works [on my repo](https://gist.github.com/majkinetor/a700c70b8847b29ebb1c918d47ee4eb1) using the same stuff.:

[2018-05-04 15:28] majkinetor commented on #1019
The command is not OK:
should be

`cinst virtualbox --params /NoExtensionPack -y`

[2018-05-04 15:28] #1019 closed

[2018-05-04 15:32] majkinetor commented on #1018
Design choice ATM, see https://github.com/chocolatey/chocolatey-coreteampackages/pull/995

[2018-05-04 15:56] majkinetor commented on #1017
Probably silently updated. I contacted the author for distribution rights so we can embed this great tool.

[2018-05-04 16:05] majkinetor commented on #1016
There are number of other packages like this. I don't see much of the benefit and it complicates stuff for development given the only reason we do so is  discoverability which IMO doesn't improve if main package = install and portable is named like before (like this one, but yesterday I worked on tagscanner with the same property). Not to mention compliction when all packages are not born the same

[2018-05-04 16:06] majkinetor commented on #1016
i.e. I think portable package should be migrated here without any changes to other packages.

[2018-05-04 16:28] #1004 closed

[2018-05-04 16:54] RedBaron2 opened #1022 "(dropbox) AU updater fails due to the Get-RedirectedUrl bug"
The [AU status of dropbox package](https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/455aeb6c215ea79d2a03a103649c5a35afaccef3#dropbox)
## Expected Behavior
If you're describing a bug, tell us what should happen
When using the powershell command
`[uri]::EscapeUriString($url)`
 in `Get-RedirectedUrl` helper
the result is
`https://clientupdates.dropboxstatic.com/dbx-releng/client/Dro

[2018-05-04 16:58] AdmiringWorm commented on #1022
@RedBaron2 when I mentioned to create a issue, I meant on the plugin repo.
I'm using the issues itself to generate a changelog, so a issue is needed for me to accept a PR.
We can leave this one open though, until I've released a bugfix for the plugin.

[2018-05-04 17:34] AdmiringWorm commented on #1018
@gotylergo technically it isn't outdated, as it's the version they provide on the skype page when you try to download it manually.

While skype perhaps notifies that a new version is available, we can't really do much until they also provide it on their download page.

[2018-05-04 17:41] RedBaron2 commented on #1022
😢 I will open a issue there also ?_?

[2018-05-04 17:42] AdmiringWorm commented on #1022
yes, please.

[2018-05-04 17:43] AdmiringWorm commented on #1020
Working on my own repo as well.
Odd

[2018-05-04 17:49] gotylergo commented on #1018
@AdmiringWorm When I go to skype.com and click download, it grabs 8.20.0.9.

[2018-05-04 17:54] AdmiringWorm commented on #1018
@gotylergo that's odd, when I try to download the classic skype manually it just delivers 7.41.
You sure you're not installing the Windows Store edition of Skype? (This is completely different application than the classic skype, and isn't possible to install through chocolatey AFAIK).

[2018-05-04 19:03] gotylergo commented on #1018
No I'm on Windows 7 downloading from skype.com. No windows store here.

[2018-05-04 19:13] gotylergo commented on #1018
There's also a Skype Classic available from their website which is an older version: 7.41.0.101? But I don't believe these are different applications. Skype classic is just an older version of the same application offered for compatibility with older machines (Vista or XP) since the newer version doesn't support any OS before Windows 7. Per: https://support.skype.com/en/faq/FA10328/what-are-the-sy

[2018-05-04 19:19] AdmiringWorm commented on #1018
It's different than the one provided on the windows store, but no. Not the one supplied on the homepage of skype when running on windows 7.

I think perhaps we should investigate this a little more before we can say anything conclusive.

[2018-05-04 19:47] gotylergo commented on #1018
@AdmiringWorm Interesting. I think this has something to do with them trying to force the UWP (Windows Store) version, but then rescinding a bit and offering "Skype Classic" again, and after realizing that a lot of their user base hasn't upgraded to Windows 8 or 10, offering the older version again. I was reading articles about it. But I can't speak for Microsoft of course. And the logic behind of

[2018-05-04 20:02] AdmiringWorm commented on #1018
@gotylergo before we add any changes, I would like some input from the user that submitted the PR.

@jberezanski why was the decision made to use the classic edition, instead of edition supplied when running on Windows 7?

[2018-05-05 06:41] #1017 closed

[2018-05-05 06:45] majkinetor commented on #1017
[code]

[2018-05-05 10:06] #1015 closed

[2018-05-05 10:14] majkinetor commented on #908
Closing this due to lack of interest and bad public decisions (https://github.com/chocolatey/chocolatey-coreteampackages/pull/909)

[2018-05-05 10:14] #908 closed

[2018-05-05 10:26] majkinetor commented on #841
Closing this as I dont see a point and it passed the lifetime.

[2018-05-05 10:26] #841 closed

[2018-05-05 14:00] #839 closed

[2018-05-05 14:09] majkinetor commented on #941
Interesting. Is this confirmed to work ? We used schtask on few places most notably virtualbox

/cc @ferventcoder

[2018-05-05 14:26] neikei opened #1024 "(vagrant) Vagrant update may break Vagrant plugins"
Vagrant plugins are sometimes broken after an update of Vagrant.

## Expected Behavior

Vagrant plugins work after an update of Vagrant.

## Current Behavior

Vagrant plugins need a manual run of "vagrant plugin repair" to work properly after an update of Vagrant.

## Possible Solution

Maybe it is a solution to add "vagrant plugin repair" to the update process for the Vagrant package to fix the b

[2018-05-05 14:38] majkinetor commented on #1016
https://github.com/majkinetor/au/issues/146

[2018-05-05 14:42] majkinetor commented on #1024
Reference please that this is needed on each update. Consider that some tools have migration procedure frequently and it may differ with each release (rundeck comes to mind)

[2018-05-05 14:43] majkinetor commented on #1024
Also, does this happen when you install manually vagrant, i.e. does it run this step as part of installation ?

[2018-05-05 15:42] AdmiringWorm commented on #1020
Hmm, odd. I don't believe I changed anything that would fix this. Oh well, great that it's working again

[2018-05-05 16:09] AdmiringWorm commented on #1024
@majkinetor I remember that this at least used to happen when running the installer manually. It isn't always needed though for all plugins, but usually is. I don't see any harm in adding this though.

[2018-05-05 16:16] majkinetor commented on #1024
OK, if it can't harm, lets go with that then.

[2018-05-05 17:01] neikei commented on #1024
Thank you for the quick response and the enhancement label. ;-)

I am not sure if the plugin repair is needed after every update. I think it depends on the installed plugins, but a run of the plugin repair seems to have no negative effect at all.

Nope, vagrant doesn't run the plugin repair during an update, but the update process is really rudimentary, because it is just an installation of the ne

[2018-05-06 05:55] #1024 closed

[2018-05-06 10:14] #1001 closed

[2018-05-06 11:32] jamy015 commented on #1019
Could a sentence be added to the description to make it more clear that you also need `--params`?

[2018-05-06 11:42] majkinetor commented on #1019
No, because people should know how basic chocolatey works.

[2018-05-06 12:35] jamy015 commented on #1019
It's under the 'advanced install concepts' section in the [getting started guide](https://chocolatey.org/docs/getting-started#overriding-default-install-directory-or-other-advanced-install-concepts) (and even there it's behind a link) - I don't think something can be basic and advanced at the same time.

[2018-05-06 14:40] majkinetor commented on #1019
Its actually among basic cinst examples [here](https://github.com/chocolatey/choco/wiki/CommandsInstall#examples).

[2018-05-07 07:34] LuisGP opened #1026 "(curl) Header files and linking .lib file"
It would be nice if curl package include headers and lib files to make possible compile and link against it using choco.

Thank you very much.

[2018-05-07 16:54] AdmiringWorm commented on #1019
I'ts also shown as an example when you run `cinst --help`.

[2018-05-07 17:05] AdmiringWorm commented on #1026
I doubt we would include the header and lib files in this package, unless they suddenly include it in the normal archive on the authors download site.

[2018-05-07 18:30] gigaturtle commented on #1019
Dang, I was hoping it wasn't something dumb. I do want to point out while you guys are obviously familiar with usage minutiae, I have been using choco at a basic level (cinst/cuninst) for years and never had a need to specify params until I realized you're including a non-free extension in this package by default.

Looking at the params section on the [package page](https://chocolatey.org/packages

[2018-05-07 20:28] #968 closed

[2018-05-07 20:29] AdmiringWorm commented on #968
A package named `1password4` is in the process of getting pushed to chocolatey.org now, when it have been pushed I'll ask for an exemption of v6 of password that was previously pushed to chocolatey.org.

[2018-05-07 22:26] AdmiringWorm commented on #1026
ah, I see. I must have missed that from the package source.

Guess maybe adding a parameter to keep them could be supported?
I don't think most users would need them, although it probably wouldn't matter to most users anyhow whether they are kept or not.

[2018-05-07 22:41] #1026 closed

[2018-05-07 22:42] majkinetor commented on #1026
It just adds ~1MB to the package so I added them.

[2018-05-07 22:43] #907 closed

[2018-05-07 22:43] #898 closed

[2018-05-08 07:46] gep13 opened #1027 "(1password4) Was this meant to be pushed?"
https://chocolatey.org/packages/1password4/4.6.2.626

[2018-05-08 07:47] gep13 commented on #1027
@AdmiringWorm ^^

[2018-05-08 07:52] majkinetor commented on #1027
https://github.com/chocolatey/chocolatey-coreteampackages/issues/968

[2018-05-08 07:52] #1027 closed

[2018-05-08 07:53] #1016 closed

[2018-05-08 07:53] gep13 commented on #1027
@majkinetor thank you.

[2018-05-08 07:55] gep13 commented on #968
@AdmiringWorm the 1password4 package has been approved.

[2018-05-08 07:56] #925 closed

[2018-05-08 12:49] majkinetor commented on #941
@AdmiringWorm

I don't see how this privilege thing will help. It just has to fail after 2-3 iterations of the loop.

This is definitely not something we should do as intrusion is massive. We throw in situations like this and let the user uninstall manually.

So, this package has to be fixed to:

* Has limit on loop
* Can recognize above message or recognize spotify installation some other way.  N

[2018-05-08 12:52] majkinetor commented on #1018
AFAIK @jberezanski wanted last classic version because v8 seems to be different product. Now that last classic version is present (if it is going to receive updates then this has to be streamed), v8 could be added without making a new package for it.

[2018-05-08 18:33] AdmiringWorm commented on #968
@gep13 thank you. I've added an exemption for the 1password package now.

[2018-05-08 18:37] AdmiringWorm commented on #941
of course, that's also an option, I'm just saying we should consider using runas. Or at least test it, there has been several reports that the spotify fails to install from them (can't remember the reasons though).

Yeah, that should be ignored, that's just a big no no. While we could warn users, just uninstalling the Windows Store app we really shouldn't do.

[2018-05-09 14:41] nerdyCamel opened #1028 "(gimp) Fails to upgrade/install on Windows 7 32-bit"
## Expected Behavior
Version 2.10.0 should be installable.

## Current Behavior

When trying to upgrade from version 2.8.22.20171021 or trying a fresh install of version 2.10.0, the installation fails with the following message.

## Steps to Reproduce (for bugs)
run 'choco install gimp' (or 'choco upgrade gimp' if already installed)

## Your Environment

* Package Version used: 2.10.0
* Operating

[2018-05-10 15:08] majkinetor commented on #1028
Confirmed.

It looks like gimp merged x32 and x64 installers.
The current package embeds only x64 version which doesn't exist any more - VERIFICATION.txt shows this original link:

[code]

[2018-05-10 15:27] #1028 closed

[2018-05-11 08:32] NicoHaase opened #1029 "(firefox) Updating from v59.x to v60.x changed the UI language"
## Expected Behavior
This morning, I've updated Firefox to v60 through Chocolatey. Until yesterday, my browser was configured to use a german UI, which hasn't changed for months through numerous updates. After the update, the UI is english.

## Steps to Reproduce (for bugs)
1. Install old version of Firefox
2. Check the UI language - I don't know where exactly it is picked up, but ensure to see it

[2018-05-11 14:56] gep13 commented on #1029
@NicoHaase Would you be able to provide the installation log from when you performed the update?

[2018-05-11 15:11] NicoHaase commented on #1029
Of course, see the attached file

[firefox.log](https://github.com/chocolatey/chocolatey-coreteampackages/files/1995836/firefox.log)

[2018-05-11 16:02] AdmiringWorm commented on #1029
hmm, there hasn't actually been any changes to the package in the last few runs that should cause this issue.

I don't suppose you've needed to use the `l=` in the past.
BTW, you can check which UI language the package will be installing by default by running `Get-Culture` in the powershell prompt (future versions will use `Get-UICulture`)

[2018-05-11 16:03] AdmiringWorm commented on #1029
it's also possible that the uninstall path have changed (We use the uninstall path to detect what the the previous version was installed as)

[2018-05-11 17:16] majkinetor commented on #1029
Perhaps it has something to do with remembered arguments feature ? Did you actually installed previously with `--params` ?

[2018-05-11 19:54] NicoHaase commented on #1029
I don't think I've used any arguments for installing, that was some years ago ;) But on a second computer, the update worked properly (keeping the german localization)

[2018-05-12 03:32] RedBaron2 commented on #1022
@AdmiringWorm
This has been fixed with your update to the script, right?
It doesn't seem to affect the `dropbox` package improperly.

[2018-05-12 09:38] AdmiringWorm commented on #1022
yeah, it has. Completely forgot to close this issue.

[2018-05-12 09:38] #1022 closed

[2018-05-12 11:45] majkinetor opened #1030 "(visualstudiocode) Rename to vscode"
The name is too long and prone to typos. We should rename package to `vscode` and deprecate original package. The same name is used as MS repo on github.

/cc @AdmiringWorm @pascalberger

[2018-05-12 18:16] pascalberger commented on #1030
OK, for me. Especially as the name has issues, since the casing was changed at some point

[2018-05-13 07:57] majkinetor commented on #1018
I tested v8 on personal computer since classic skype couldn't connect any more. It replaces that v7. This should be done as requested.

[2018-05-13 08:02] majkinetor commented on #1018
Classifying this as a bug as package is not the latest.

This package was accepted here in speed as Skype was not updated for a longer time, which was apparently not a good decision - on this repo, package is either done correctly or its not here.

[2018-05-13 08:17] majkinetor commented on #1030
Package is already owned by someone
https://chocolatey.org/packages/vscode

@gep13, could you make chocolatey user own it ?

[2018-05-13 08:56] gep13 commented on #1030
@majkinetor sure thing.  Chocolatey user has been added to that package.

[2018-05-13 09:40] gep13 opened #1032 "(python2) Ensure pip works from shell"
As discussed here:

https://github.com/Microsoft/windows-dev-box-setup-scripts/issues/39#issuecomment-388613732

If it makes sense, the python packages should be extended to ensure that pip works out of the box.  Pip is installed with these packages, however, it doesn't work from the command line, as the `C:\pythonXX\scripts` folder isn't on the path.

Does it make sense to add shims to there exec

[2018-05-13 09:52] AdmiringWorm commented on #1018
@majkinetor what's the likelihood that the classic edition will be updated (bug fixes), I'm trying to figure out if we should change the update script to use streams or to just handle the latest available.

[2018-05-13 10:07] majkinetor commented on #1018
We can always add stream later if it happens since we can only guess without official info.

[2018-05-13 10:17] #1018 closed

[2018-05-13 10:27] AdmiringWorm commented on #1018
A new version was just pushed to chocolatey now:
https://chocolatey.org/packages/skype/8.21.0.9

[2018-05-13 11:31] majkinetor commented on #1032
It looks like python2 installer has this **tools** [option ](https://www.python.org/download/releases/2.4/msi/) that should be used in silent args. That is where pip might be.

[2018-05-13 11:42] majkinetor commented on #1030
@gep, visualstudiocode is deprecated and pushed. Please make vscode trusted so that we don't have a gap.

[2018-05-13 11:42] #1030 closed

[2018-05-13 12:41] AdmiringWorm commented on #1030
@majkinetor the chocolatey user is a trusted user, so packages will be marked as trusted automatically.
It's only the first version that's subjected to human review when pushing from the chocolatey user.

[2018-05-13 12:59] majkinetor commented on #1030
OK.

Notice that original package is already deprecated and approved so need to make vscode approved immediately.

[2018-05-13 19:47] pascalberger commented on #1030
@majkinetor @gep13 Did you have changed maintainers by intention while switching the package names? And who is [jgoesmat](https://chocolatey.org/profiles/jgoemat)?

[2018-05-13 19:50] gep13 commented on #1030
@pascalberger jgoesmat was the original user who pushed the vscode package.  Initially, I rejected this package, because the visualstudiocode package already existed, so it was essentially a duplicate package.  However, recently, it was decided to re-instate that package, since the name is preferrable.

[2018-05-14 05:06] majkinetor commented on #1030
I would return original maintainers but I don't have the rights.

[2018-05-14 13:00] gep13 opened #1033 "(typescript) Should this take a dependency on the LTS version?"
Rather than the latest Node Version?

//cc @pascalberger @AdmiringWorm

This came up in this issue:

https://github.com/Microsoft/vsts-image-generation/issues/135#issuecomment-388804222

[2018-05-14 13:11] cht47 commented on #1029
Can confirm the bug. Provisioned all company PCs with choco install firefox. Today I updated with choco update all and all FF installations changed from german to english.

[2018-05-14 14:42] AdmiringWorm commented on #1033
Yeah, I guess we probably should do that.
I actually wish there was a better way to handle these kind of dependencies though.

Oh well, maybe in the future.

[2018-05-14 14:48] gep13 commented on #1033
@AdmiringWorm agreed, I think that this is an area that could be improved in the future, once package indexes and true meta packages exist, but for now, I think that changing the dependency makes the most sense.

[2018-05-14 14:50] AdmiringWorm commented on #1033
Working on it now

[2018-05-14 14:56] #1033 closed

[2018-05-14 15:44] majkinetor commented on #1029
In log there is no mention of verbose string 'Using locale' or anything from `Get-Locale` function.
I am not sure how this can happen, but since it looks it didn't, it used default en locale. Either that, or locale can't be parsed any more from uninstaller name:

https://github.com/chocolatey/chocolatey-coreteampackages/blob/5b41c7da5750bdcd54efcfd0ed462cb3cec9616d/automatic/firefox/tools/helpers.

[2018-05-14 15:46] AdmiringWorm commented on #1029
@majkinetor that's because that version of the helper isn't in the firefox package, it was added after this issue was opened and no new version of firefox have been published since (well, except for the firefox-esr package that is).

BTW, I see you removed the triaging label, have you found the cause of this? If not, that label should still be present.

[2018-05-14 15:50] majkinetor commented on #1029
\<rant\>

It just strengthens the point **of never using non English locale for anything**

\</rant\>

[2018-05-14 15:52] majkinetor commented on #1029
Yeah, my bad.

[2018-05-14 15:56] AdmiringWorm commented on #1029
I added the bug label again, as I believe it to be one. Just not been able to figure out where yet.

[2018-05-14 15:57] majkinetor commented on #1029
We should probably publish this ASAP, maybe we can get log of another unfortunate person before whole planet updates.

[2018-05-14 16:01] majkinetor commented on #1029
Pattern still works:

[code]

[2018-05-14 16:07] AdmiringWorm commented on #1029
@majkinetor That's what I found out as well, which is pretty much why I can't figure out why the language suddenly changed.

[2018-05-15 07:58] cht47 commented on #1029
If it helps here is my FF Install log
[install.log](https://github.com/chocolatey/chocolatey-coreteampackages/files/2003884/install.log)
and here the part of the choco log.
[choco.log](https://github.com/chocolatey/chocolatey-coreteampackages/files/2003923/choco.log)

[2018-05-15 14:31] gep13 opened #1034 "(firefox esr) Should version 60 be listed?"
As per conversation here:

https://chocolatey.org/packages/FirefoxESR#comment-3899973736

[2018-05-15 16:02] AdmiringWorm commented on #1034
I actually already listed the version again.
Didn't notice this issue before I did though.

[2018-05-15 17:09] #1034 closed

[2018-05-16 09:31] SidSmallwood opened #1036 "(skype) Branch changed with no warning"
As requested by @gep13 in comments on the [gallery page](http://disq.us/p/1sjo0zo), I'm raising this issue here.

A few days ago, the version of Skype installed by the Choco package was changed from 7.x to 8.x.

Unfortunately, this is not the uncontentious upgrade it might appear - Microsoft are maintaining two branches for the Skype code and the major version number represents them. The 8.x branc

[2018-05-16 09:57] SidSmallwood commented on #1009
I would _like_ Skype to run in the background after an upgrade, especially an upgrade that is a "background (scheduled task) in non interactive mode", as suggested in the `Context` section above.

The second option (where it checks to see if it is currently running first) is the only one I personally would like to see considered as a change from the status quo. Surely most people who use Skype hav

[2018-05-16 14:45] majkinetor commented on #1036
I disagree.

Skype 8 replaces Skype 7 in the system when installed. The Microsoft intent is clear. You should pin the skype version.

We can create stream for skype if 7 is going to keep updating, but that will not help you. You can `cup` the v7 only with a method like to the one described here in function `cinst-stream`:

* https://github.com/majkinetor/au/issues/74

This should be integrated int

[2018-05-16 14:56] majkinetor commented on #1036
One interesting idea comes to mind.
We could create metapackage that depends on older version of package 👏. I don't think we ever did that on purpose.

I still dont like it tho. You shouldn't `cup all` automatically anyway, that is on all operating systems receipe for disaster and will byte you for sure given enough time.

So I expect `choco pin --stream ...` to be the most elegant and universal s

[2018-05-16 15:30] SidSmallwood commented on #1036
I agree and I don't do it, but you know some people do. Others will see 18 packages to update and not notice that the Skype major version number has increased, or won't realise its significance. On the basis of the robustness principle, I'd have thought packages shouldn't try to catch people out!

[2018-05-16 15:50] majkinetor commented on #1036
There is just `choco pin` now that prevents app to be updated with `cup all` which is good enough for most cases. Stream option doesn't exist yet, I am proposing it now, or you can use my workaround.

The same issue will happen on all other systems. Its well known fact on linux distributions too. Users shouldn't expect that total ignorance will do the job. If you allow automatic windows update for

[2018-05-16 15:57] majkinetor commented on #1036
Also, `cinst` could support this in a manner like this:

* `cinst Skype --with-minor-updates`

This could mark the package internally. Example:
[code]
Brainstorming here, and this could be more flexible (for example not depending on terms like major/minor but be more precise like for example what bundler does).

[2018-05-16 17:25] SidSmallwood commented on #1036
This would be good in the general case, but I assume you are seeing this as something like pinning the major version and no more updates will be installed once that changes within the package. The issue here is slightly more nuanced, of course, with both 7 and 8 receiving minor updates simultaneously and this would mean that pinning isn't a very good option here either.

I've only skimmed the prop

[2018-05-18 07:51] AdmiringWorm commented on #866
pdfcreator is now embedded, and list have been updated

[2018-05-18 14:28] majkinetor commented on #1036
Its still better to release this upstram.

I am also thinking about creating choco external addon for stuff like this.

Now that MS is involved into choco, it should have advanced options like this.

[2018-05-19 06:36] ferventcoder commented on #1036
@majkinetor I see you created an idea on AU and then here for a streams concept. Simply mentioning me is not the right way to propose a feature request, and I'm not the only one here that is going to weigh the idea - we have a community that buys into these ideas and they all expect those feature requests, bugs, etc to be on [the official list/backlog](https://github.com/chocolatey/choco/issues).

[2018-05-19 10:51] majkinetor commented on #1036
When I mention you, I do it for the following reason: for you to give initial few words (like you did here 'It sounds interesting'), maybe provide a link to existing discussion and give inital 👍  or 👎  so I can go and invest more time in creating a ticket on official repo, with more details, examples etc. I don't want to invest serious time into something that can be denied in few words.

[2018-05-21 13:16] tempora-mutantur opened #1038 "(git) Include the "core.longpaths" settings to be configured via parameters"
If you worked with any project that has very long paths structure you've probably already faced this issue: [Filename too long in git for windows
](https://stackoverflow.com/questions/22575662/filename-too-long-in-git-for-windows)

New versions of Git have the `core.longpaths` setting which allows you to checkout files by very long paths. I think it would be nice to have such parameter in the pack

[2018-05-22 07:35] majkinetor commented on #1038
This is great feature, thx for letting us know.
If anybody can provide what exactly needs to be added [here](https://github.com/chocolatey/chocolatey-coreteampackages/blob/master/automatic/git.install/tools/helpers.ps1#L15-L46) we can push this ASAP.

[2018-05-22 14:15] h0rn3z0r opened #1040 "(Thunderbird) No new version available"
Hello, 52.8.0 was released 4 days ago, but automatic script still doesn't know about new version.
https://chocolatey.org/packages/thunderbird
Please, fix this issue.

[2018-05-22 17:05] AdmiringWorm commented on #1040
It seems like the scheduled appveyor update builds suddenly have stopped working, we're looking into what has happened.

[2018-05-22 17:29] tempora-mutantur commented on #1038
@AdmiringWorm I agree, that this is something that should be specified after the installation.

Thanks.

[2018-05-22 17:29] #1038 closed

[2018-05-22 20:28] majkinetor commented on #1038
Perhaps not useful in this case, but generally I support the concept of configuring app via package parmeters. I have several packages doing so, for example copyq hotkey can be set via parameter becasue its most important setting in which absent it stops the tool from being quickly usefl and you have to manually set it on each machine which takes time
After choco install config 'patch' is not read

[2018-05-23 13:01] #1040 closed

[2018-05-28 07:20] NicoHaase commented on #1029
Any news on this topic? As far as I see, reinstalling does not help either:

C:\WINDOWS\system32>cinst --force firefox --params "l=de-DE"
Chocolatey v0.10.11
Installing the following packages:
firefox
By installing you accept licenses for the packages.
Firefox v60.0.1 already installed. Forcing reinstall of version '60.0.1'.
 Please use upgrade if you meant to upgrade to a new version.
Progress: D

[2018-05-28 08:59] majkinetor commented on #1029
So nah. that wont help. You need to clean registry first I think from quick glance.

I think this locale thing needs redesign. Since this is a monster package which reduces the probability it will be taken by core maintainers, I suggest PR. I personally have almost ZERO motiviation to use (and hence fix) non english stuff.

[2018-05-28 14:46] AdmiringWorm commented on #1029
@majkinetor you can already change the locale by using parameters:
`l=nb-NO` for instance, this should override the registry checks.

If that doesn't work, that would be a bug though, unless firefox doesn't provide the language specified.

[2018-05-28 14:48] AdmiringWorm commented on #1029
@NicoHaase in your case, you actually specified a language that firefox doesn't support (well, they support it but not as `de-DE`, but as `de`).
Always check the following list of supported locales: https://releases.mozilla.org/pub/firefox/releases/latest/README.txt

[2018-05-28 15:32] NicoHaase commented on #1029
Thanks, using the proper locale, I was able to reinstall Firefox with the proper language settings

[2018-05-28 15:45] AdmiringWorm commented on #1029
@NicoHaase just curious.
If you run `Get-Culture` in the powershell windows, what is the output?
I'm guessing it's `de-DE`, and that could be what previous versions of firefox used.
If so, this wouldn't be a bug as I initially though. but rather suggest that we should also test for the 2-letter part of the culture code instead of the full culture.

[2018-05-28 15:47] NicoHaase commented on #1029
Yep, it returns `de-DE`

[2018-05-28 15:48] majkinetor commented on #1029
@AdmiringWorm , then this is documentation bug.

Since @NicoHaase forced it, it was already installed. Hence the en-US is correct.

[2018-05-28 15:48] AdmiringWorm opened #1041 "(firefox) Update the parsing of the culture to include 2-letter culture code"
^^
In cases where the full culture code can't be found, we should also test if perhaps the 2-letter culture code matches instead.

[2018-05-28 15:51] AdmiringWorm commented on #1029
@majkinetor the documentation also mentioned:

So the docs is still correct.

Anyways, closing this one and opened #1041 to track the enhancement for checking 2-part culture codes as well.

[2018-05-28 15:51] #1029 closed

[2018-05-29 22:08] wget opened #1043 "(gpg4win-vanilla/light) Not maintained upstream, possible vulnerability"
## Expected Behavior
`gpg4win-vanilla` and `gpg4win-light` still maintained by upstream.

This is no more the case unfortunately.

## Current Behavior
`gpg4win-vanilla` and `gpg4win-light` have been left on the now outdated and not maintained 2.0 gpg branch. These packages have not been updated for more than a year and are potentially putting users of these at risk. From now on, `gpg4win` will be

[2018-06-01 19:43] alphaCTzo7G opened #1046 "/GitAndUnixToolsOnPath doesn't put C:\Program Files\Git\bin on path"
## Expected Behavior

/GitAndUnixToolsOnPath - Puts gitinstall\bin on path. This setting will override /GitOnlyOnPath.
From the above description, I expect that using `/GitAndUnixToolsOnPath` would put `C:\Program Files\Git\bin` on the path.
 Modify the underlying code to put `C:\Program FIles\Git\bin` on path rather than `C:\Program Files\Git\cmd` if `/GitAndUnixToolsOnPath`  is provided to choco

[2018-06-01 19:44] alphaCTzo7G commented on #1046
Currently, I am putting `Git\bin` on the path using the additional command: `setx path "%path%;C:\Program Files\Git\bin\"`, which has other sideeffects.

[2018-06-01 20:26] AdmiringWorm commented on #1046
That there is the problem, you're not passing the package parameters correctly:
Documentation on how to pass the parameters is available on the chocolatey documentation site:
https://chocolatey.org/docs/how-to-parse-package-parameters-argument#installing-with-package-parameters

basically, install using the following: `choco install git.install -y --params "'/GitAndUnixToolsOnPath'"`

[2018-06-01 20:26] #1046 closed

[2018-06-01 20:31] AdmiringWorm commented on #1043
I agree that the `gpg4win-*` packages should be left as the current version, making them dummy packages would not be correct in this regard IMO.
What could be done though, is to update the packages and output a warning to users installing the package (just mentioning that it isn't supported anymore).

BTW, there already exist a gnupg package (well, the modern edition anyhow): https://chocolatey.or

[2018-06-02 12:12] majkinetor commented on #1043
Yeah, this one is current. IMO it should be migrated here and made embedded. @wget, are you  up for things we decided here, namely:

1. Migrate `gnupg-modern` here, IMO name should be changed to `gnupg`
2. Add warning and/or notes in 2 outdated packages.

[2018-06-03 12:09] somombo opened #1047 "(php) Package won't upgrade or uninstall - Path Bind Error"
I tried uninstalling and upgrading from PHP 7.2.3 > 7.2.5 https://chocolatey.org/packages/php

I'm using Win 10 x64 running chocolatey v0.10.11

Other packages work fine, only PHP has the problem

Here's the error msg from running `chocolatey uninstall php --debug --trace`:
[code]

[2018-06-03 17:34] majkinetor commented on #1047
Can u provide install log?

[2018-06-04 09:44] Korni22 opened #1048 "(1Password) auto-update fails to find version 7"
Hey everyone!

The 1Password auto updater seems to miss version 7 and stays on version 6.

## Expected Behavior
I'd expect the auto updater to find the recently released version, but it seems to be looking for the "6" in the URL.

## Current Behavior
It seems to look for the "6" in the URL, but with my limited powershell knowledge I can't really tell 😕

## Possible Solution
I can't really tell, to

[2018-06-04 20:42] wget commented on #1043
@majkinetor Ok. Understood. What kind of warning should I write? How am I supposed to write it? Simply with `Write-Host` or do you have any other Chocolatey PS helper across that cmdlet formatting the output as error or warning content?

How should I handle the `gnupg-modern` to `gnupg` dependency? Simply make `gnupg-modern` a dummy package depending on the new to be created `gnupg`.?

[2018-06-04 21:25] afflux opened #1049 "(GnuCash) auto-update fails to find version 3.1-2"
## Expected Behavior
Distribute version 3.1-2.

## Current Behavior
Version 3.1 is distributed, containing a [major bug](https://bugzilla.gnome.org/show_bug.cgi?id=795653)

## Possible Solution
Fix [auto-update](https://github.com/chocolatey/chocolatey-coreteampackages/blob/master/automatic/gnucash/update.ps1) script to consider dash versions.

## Context
GnuCash 3.1 on is unusable for many Window

[2018-06-05 00:00] somombo commented on #1047
@majkinetor a log is a available at chocolatey/choco#1574

[2018-06-05 09:06] bcurran3 commented on #1009
UPDATE: I made a helper to make this process even easier:
https://chocolatey.org/packages/chocolatey-misc-helpers.extension/0.0.1

* Checks for and stops $ProcessName if running
* $ProcessWasRunning can be checked later in scripts to re-run the process if it was running previously before stopped
* $ProcessFullPath is the full path and executable of the stopped process
* i.e. to re-run the process

[2018-06-05 09:37] gep13 opened #1050 "(ontopreplica) Upstream changes require new package installer and AU updater"
As per disqus comment here:

https://chocolatey.org/packages/ontopreplica#comment-3930773090

I think the package links need to be updated.  Also, looks like Package Source URL is going to `automatic` folder, when it is currently in `manual` folder.

[2018-06-05 09:42] majkinetor commented on #1047
Install log please, not uninstall log.

[2018-06-05 09:47] majkinetor commented on #1043
`Write-Warning`
Yes

[2018-06-05 09:49] majkinetor commented on #1043
[Gnupg-modern](https://github.com/jtcmedia/chocolatey-packages/tree/master/gnupg-modern) should be migrated here, PR-ed there (its AU automatic).

[2018-06-05 13:32] majkinetor opened #1051 "(scite4autohotkey) Not silent"
This popsup:

![image](https://user-images.githubusercontent.com/85767/40979267-9e925b96-68d5-11e8-9628-6ef727e586ed.png)

[2018-06-05 21:11] AdmiringWorm commented on #1051
I guess we should classify this as a bug then.

Maybe a need to use autohotkey script to automate it?

[2018-06-05 21:14] AdmiringWorm commented on #1047
Seing as it fails on the uninstall with the function `Uninstall-ChocolateyZipPackage` (which is also used when upgrading), I would say this is related to a bug in chocolatey with a issue already opened there:
https://github.com/chocolatey/choco/issues/1550

[2018-06-06 22:53] Jimmy03 commented on #1047
Yes same issue as mine.

Let me know if any other logs are needed.

[2018-06-09 03:47] RedBaron2 commented on #1048
They have adjusted the download page to not show OPW4 anymore.

I will submit my PR next week to address the OPW7 and OPW7/Y versions.

Enjoy the weekend 😄

[2018-06-09 17:50] AdmiringWorm opened #1054 "(opera) Doesn't do silent uninstall"
## Expected Behavior
Expecting the package to silently uninstall opera, currently we're relying on the auto uninstaller which is unable to detect the correct switches.

## Current Behavior
The uninstall dialog is popping up.

## Possible Solution
Figure out which switches needs to be used for uninstallation.

## Steps to Reproduce (for bugs)

1. Install the opera package
2. Try uninstalling it

##

[2018-06-09 18:10] jack1142 commented on #1054
I'll try to address it today.

[2018-06-09 18:13] AdmiringWorm commented on #1054
WOuld be great if you could, I haven't yet looked into what switches is available for the uninstaller.

[2018-06-09 20:53] #1054 closed

[2018-06-13 01:51] RedBaron2 commented on #1048
The PR has been submitted, and is just awaiting the proper checks and balances 😄

[2018-06-13 17:00] kilasuit opened #1058 "VSCode fails to install"
In the installer for VSCode seems to fail to instal claiming that the last command on this line `Get-PackageCacheLocation` cannot be found

https://github.com/chocolatey/chocolatey-coreteampackages/blob/0d22cb6331c7bc5b834f073e901769148a6d1c58/automatic/vscode/tools/ChocolateyInstall.ps1#L22

I am likely to just repave this box anyway but thought it best to raise this as an issue in case anyone el

[2018-06-13 17:01] kilasuit commented on #1058
see below image of this issue
![image](https://user-images.githubusercontent.com/6355225/41366340-b09cc2d6-6f33-11e8-9de6-7953897266e7.png)

[2018-06-13 17:28] AdmiringWorm commented on #1058
could be a install problem with the `chocolatey-core.extension` package that we use in the package.

try forcing a re-install of that extension (seen this problem pop up for several issuers, across different packages and a re-install usually helped).

just do `choco install chocolatey-core.extension --force`

[2018-06-13 17:45] kilasuit commented on #1058
That seems to have fixed it

I will be building a new machine to test on as I'm trying to automate a full clean dev build environment from scratch so will see if this crops up again in future.

[2018-06-13 17:45] #1058 closed

[2018-06-13 17:54] AdmiringWorm commented on #1058
As I said, I've heard that failure happening from time to time, but compared to the amount of downloads the extension have had, it's rare.

If it happens again, just try reinstalling it again and it should be fixed (hopefully you don't have to though).

[2018-06-13 20:27] AdmiringWorm opened #1059 "(wps-office-free) Updating fails due to exception"
## Expected Behavior
The update process should succeed.

## Current Behavior
Currently the update process returns an exception with the message `Exception from HRESULT: 0x800A01B6`

## Possible Solution
Honestly don't know.

## Steps to Reproduce (for bugs)

1. run `.\test_all.ps1 wps-office-free` (or just look at the update logs)

## Context
The package isn't updated

## Your Environment

* Packa

[2018-06-13 22:39] #1059 closed

[2018-06-13 23:15] rickity-cricket commented on #106
I think this issue deserves to be reopened. It seems installing python via
`choco install python`
the install still points to wrong place

[2018-06-14 12:49] #1049 closed

[2018-06-14 12:49] AdmiringWorm commented on #1049
@afflux when a dash is used in the version, it usually is considered a pre-release, which is incorrect in this case.
I think in this case, a package with a fix version would be more correct and I'm forcing an update right now.

[2018-06-15 18:29] AdmiringWorm commented on #1048
fixed in https://github.com/chocolatey/chocolatey-coreteampackages/commit/2ea2a833b98df83f80d75df7202c99f80308443e and should appear on chocolatey.org soon.

[2018-06-15 18:29] #1048 closed

[2018-06-15 19:49] #1041 closed

[2018-06-19 15:39] pascalberger commented on #1030
@gep13 @majkinetor This lead now to an issue with dependencies. For example any of the Visual Studio Code extensions (e.g. [vscode-powershell](https://chocolatey.org/packages/vscode-powershell)) have a dependency to `VisualStudioCode >= 1.2.0`. How do we proceed here the best? Changing dependencies to `vscode >= 1.24.0` or adding old Visual Studio Code package versions to the `vscode` package or r

[2018-06-19 20:14] gep13 commented on #1030
@AdmiringWorm agreed.

[2018-06-19 21:54] majkinetor commented on #1030
What issue ? :)

[2018-06-20 06:33] pascalberger commented on #1030
Extensions trying to install old Visual Studio Code package.

I'll look to update the extension packages to the new `vscode` package

[2018-06-20 06:55] majkinetor commented on #1030
So ? The old VisualStudioCode package will install vscode package in return.

[2018-06-20 14:30] AdmiringWorm commented on #1030
@majkinetor while I wouldn't say it's a issue, it could cause some confusion to users.
Especially considering that the old package is outputting a message that it is deprecated.

[2018-06-20 15:12] russr123 opened #1062 "No Flash MSI support for China now"
https://forums.adobe.com/thread/2503969

https://forums.adobe.com/thread/2490901#

just  a FYI....

[2018-06-20 16:32] majkinetor commented on #1030
No issue. Just cosmetics. Whatever is fine by me.

[2018-06-20 16:41] majkinetor opened #1063 "(vscode) Add NoAutoUpdate parameter"
Currently package `visualstudiocode-disableautoupdate` does this.

Parameter is IMO better option because:

- We wont have problems like #1061
- Its easier to maintain, more DRY.
- Reinstalling main package generally may spoil dependent packages. This may not be the case here but generally it is a problem. Reinstalling app later leaves number of zombie packages related to previous install. This ca

[2018-06-20 17:20] pascalberger commented on #1063
This shouldn't be about which option is better as it is not an either/or decision. Both ways have their pros & cons. I've no objections about a parameter. If there's no interest to maintain the `visualstudiocode-disableautoupdate` package any longer here I would take maintainance over in another repo.

[2018-06-20 21:10] majkinetor commented on #1063
Its ok to have both options.

[2018-06-22 06:41] dantheknight commented on #796
I know this was topic was closed but in the case anybody is looking this up again, I had the same issue, but miraculously, I simply closed CMD and reopened it 'Running as Admin' and the installation worked.

[2018-06-28 15:17] medianick commented on #805
I experienced this myself today with a new Azure VM running Windows Server 2016. I had installed Chocolatey (0.10.11) prior to sysprepping it, then created a new VM and installed Git on it using the following:

[code]

After doing this, I attempted some `git config` commands but they errored out with the `'git' is not recognized...' error. I tried running `refreshenv` as well as uninstalling and t

[2018-07-02 17:47] AdmiringWorm opened #1064 "(maxthon.commandline) Is failing to update"
Currently the package maxthon.commandline is failing to update on every run (failure is ignored though).

The error message is the following
[code]

Not completely sure how to fix this myself though.

[2018-07-05 15:54] RedBaron2 commented on #1064
The problem is really upstream
Simplified:

The fix is to reach out to maxthon and ask them to fix the security certificate configuration.

[2018-07-05 16:03] AdmiringWorm commented on #1064
I thought as much, let me see if I can reach out to them sometime during the weekend.

If it wasn't for the automatic redirection to https feature in chocolatey, this wouldn't be an issue though.

[2018-07-05 18:07] basictheprogram opened #1065 "(pdfcreator) Error while running 'C:\ProgramData\chocolatey\lib\PDFCreator\tools\chocolateyInstall.ps1'."
## Expected Behavior

choco install pdfcreator would install

## Current Behavior

Installation was not successful. Exit code was '1'

[code]
## Possible Solution

## Steps to Reproduce (for bugs)

1. choco install pdfcreator

## Context

Trying to install pdfcreator on Windows10

## Your Environment

* Package Version used: pdfcreator 3.2.2
* Operating System and version: Windows 10
* Chocolatey

[2018-07-05 18:16] basictheprogram commented on #1065
[Setup Command Line Parameters](http://docs.pdfforge.org/pdfcreator/latest/en/pdfcreator/installing-pdfcreator/setup-command-line-parameters/) says /SILENT, /VERYSILENT are supported in 3.2.1 but [What’s new in PDFCreator](http://docs.pdfforge.org/pdfcreator/latest/en/pdfcreator/introduction/whats-new/) says "From now on silent installation is only available for PDFCreator Business, PDFCreator Ter

[2018-07-05 19:35] basictheprogram commented on #1065
[code]
PDFCreator doesn't support silent installations in Windows domains anymore! Please use PDFCreator Business
[code]

[2018-07-06 17:07] raikesy opened #1066 "(7zip) 7z.exe shim left behind when package uninstalled"
## Expected Behavior

1. `choco install 7zip` installs 7-Zip including writing a shim to  "C:\ProgramData\Chocolatey\bin"
1. `choco uninstall 7zip` successfully uninstalls 7-Zip including removing said shim

## Current Behavior

1. Seems to work as above
1. Shim is not removed, leaving a shim to an executable which no longer exists. This shim is also in the system path so causes anything depending

[2018-07-06 19:02] AdmiringWorm commented on #1066
Thank you for reporting this.
Seems like the removal of the shim have been left out of the uninstall script.

Since this is an easy addition I've added this as an up for grabs for now.

[2018-07-08 02:58] Retia-Adolf commented on #1062
Adobe sucks, they won't support it. The most disgusting tailoring I've ever seen.

manually download offline installer at [helpx.adobe.com](https://helpx.adobe.com/flash-player/kb/installation-problems-flash-player-windows.html), maybe proxy through a non-China IP is needed. Then open installer offlinely, or block its connection to internet to make it installable.

And no need to update it until i

[2018-07-09 12:56] mmikeww commented on #1036
+1, i was surprised when choco upgrade put me on skype v8

[2018-07-09 16:02] AdmiringWorm commented on #1064
I've opted to just use the http edition of the maxthon url, couldn't be bothered to anything else right now.

[2018-07-09 16:07] #1064 closed

[2018-07-10 11:31] jansohn opened #1068 "(vcredist2015) Installs Visual C++ 2017 runtimes"
## Expected Behavior
The meta-package vcredist2015 should install Visual C++ 2015 runtimes.

## Current Behavior
The meta-package vcredist2015 installs Visual C++ 2017 runtimes (latest version of vcredist140 which is currently v14.12.25810).

## Possible Solution
Dependency needs to be specified to exact version match and not minimum version, inclusive (see https://docs.microsoft.com/en-us/nuget/r

[2018-07-10 12:22] AdmiringWorm commented on #1068
Not an issue, and is being done on purpose.

vcredist2017 is an in place replacement of vcredist2015.

Unlike any previous redistributable, the vcredist2017 is backwards compatible with the older vcredist2015.

[2018-07-10 12:22] #1068 closed

[2018-07-10 12:48] jansohn commented on #1068
Thanks, didn't know that. Here's an article about it:
https://docs.microsoft.com/de-de/cpp/porting/binary-compat-2015-2017

[2018-07-11 09:24] psdavid-muc opened #1069 "(skype) Fix for skype-autostart after update"
## Expected Behaviour
Skype does not start after installation / update.

## Current Behaviour
Right now, if you install or update skype using the official skype package, skype will start automatically after installation/update. This is problematic since skype now runs as admin / with administrative privileges. Also, the user will have to re-enter his login-information (which is not necessary if no

[2018-07-11 10:46] philipthatcher opened #1070 "(gimp) GIMP 2.10.4 libenchant.dll missing from Microsoft Windows installers."
GIMP 2.10.4 libenchant.dll missing from Microsoft Windows GIMP 2.10.4 installers.

## Expected Behavior
The newly installed GIMP program should start up without any errors or warnings.

## Current Behavior
Run the installed GIMP program.  Error below displays twice during startup.
"libenchant.dll not found"

## Possible Solution
The GIMP team have corrected their GIMP 2.10.4 Windows installer.
The

[2018-07-11 10:56] pjljvandelaar opened #1071 "(wixtoolset) support version 3.10.4"
On https://github.com/wixtoolset/wix3/releases/tag/wix3104rtm
is stated:
[code]

On https://chocolatey.org/packages/wixtoolset/3.10.3.3007
there is a list of version of wixtoolset which is supported by Chocolatey.
Yet, 3.10.4(.4718) is not supported.
I would like that version 3.10.4 is also supported

I raised a question there, and was asked by Gary Ewan Park to submit an issue here for further di

[2018-07-12 05:31] AdmiringWorm commented on #1070
Forcing an update on the appveyor update server now, which should be pushed to chocolatey soon.

[2018-07-12 05:31] #1070 closed

[2018-07-15 07:17] pascalberger opened #1076 "(nuget.commandline) Latest version not updated due to SemVer2"
## Expected Behavior

nuget.commandline should be updated to latest version.

## Current Behavior

Latest version of nuget.commandline on nuget.org is [4.7.0+9245481f357ae542f92e6bc5e504fc898cfe5fc0](https://www.nuget.org/packages/NuGet.CommandLine/4.7.0) (updated with https://github.com/NuGet/Home/issues/7114). As it uses SemVer2 metadata this is not compatible with the implementation of the upda

[2018-07-15 07:51] pascalberger commented on #1076
I know the idea of this package was to just sync over the NuGet package. But with the package on nuget.org being behind (actually I think the last few releases were only updated after I created an issue on their repo) and now using SemVer3 version number, wouldn't it be better to implement this as a normal package instead, based on what they publish on https://www.nuget.org/downloads (there's a js

[2018-07-15 14:36] jfranciscos4 commented on #1047
ShadowDancer437  Sharak • 3 months ago

Looks like the problem is actually in the uninstall script from Chocolatey.

https://github.com/chocolat...

As a workaround (until this is fixed in Chocolatey), if you wish to upgrade now:

- Rename C:/tools/php72 to C:/tools/php72.bak;
- Execute choco uninstall php -n -y (-n to skip executing the uninstall script);
- Install the new version with choco inst

[2018-07-15 20:10] majkinetor commented on #1047
I think that is good way to go until this is fixed.

[2018-07-17 01:14] bcurran3 opened #1077 "(alldup) needs silent install switches changed to include /NORESTART"
RE: https://chocolatey.org/packages/alldup/4.1.5

## Expected Behavior
For a package to not forcibly reboot my computer unexpectedly.

## Current Behavior
If there is a pending reboot flagged, AllDupSetup.EXE will reboot the computer pre-install.

## Possible Solution
Update chocolateyInstall.ps1 to:
silentArgs     = ' /VERYSILENT /SUPPRESSMSGBOXES /NORESTART /SP-'

## Context & Steps to Reproduce

[2018-07-17 14:15] bcurran3 commented on #1077
p.s. AllDup runs the program post install. Consider using Start-CheckandStop() in https://chocolatey.org/packages/chocolatey-misc-helpers.extension

[2018-07-17 14:17] AdmiringWorm commented on #1077
@bcurran3 please let us keep it one request per issue, you can open up a new issue for requesting the ability to deny execution of alldup after installation.

[2018-07-17 14:52] bcurran3 opened #1078 "(alldup) automatically runs post install"
RE: https://chocolatey.org/packages/alldup/4.1.5

## Expected Behavior
For a program package to install and the program to NOT run until I tell it to!

## Current Behavior
Installation of AllDup results in the program running post installation.

## Possible Solution
Consider using Start-CheckandStop in https://chocolatey.org/packages/chocolatey-misc-helpers.extension

## Steps to Reproduce (for bu

[2018-07-17 14:52] bcurran3 commented on #1077
Sure thing.
https://github.com/chocolatey/chocolatey-coreteampackages/issues/1078

[2018-07-17 15:18] AdmiringWorm commented on #1077
thanks, I've added both as an `Up for grabs` as I won't be able to look into it until next week.

Well, I hope I can look into it then, at least.

[2018-07-19 08:20] bazzilic opened #1080 "(visualstudiocode) Complete the package deprecation procedure"
This package:

- https://github.com/chocolatey/chocolatey-coreteampackages/tree/master/deprecated/packages/visualstudiocode
- https://chocolatey.org/packages/VisualStudioCode

Was deprecated but it did not follow the deprecation guidelines to the full. Namely,

- Icon should be removed,
- Previous versions should be unlisted

Deprecation guidelines: https://chocolatey.org/docs/how-to-deprecate-a-c

[2018-07-19 09:21] IsaakGroepT opened #1081 "Where is Firefox ESR?"
firefoxesr is outdated and the source URL doesn't exist anymore:
https://github.com/chocolatey/chocolatey-coreteampackages/tree/master/automatic/firefoxesr

I wanted to report it as outdated. Available package is Firefox ESR 60.0, but 60.1.0 is available.

## Your Environment

* Package Version used: 60.0
* Operating System and version: Windows 7 and 10
* Chocolatey version: 0.10.11

[2018-07-30 12:05] gep13 opened #1082 "(vagrant) Failing verifier"
Is anyone in a position to address the failing installation here:

https://gist.github.com/choco-bot/907157333f45fe3ef1eb9a238338e1ef

Looks like the checksums are now invalid.

[2018-07-30 16:41] AdmiringWorm commented on #1082
On it.

[2018-07-30 16:42] #1082 closed

[2018-07-30 16:42] AdmiringWorm commented on #1082
Forcing update on appveyor now

[2018-07-30 16:55] AdmiringWorm commented on #1080
I disagree with unlisting the previous versions, the history of the package could be useful in some cases, and since the `vscode` package won't have the earlier versions, I wouldn't do this.

Removing the icon should definitely be done of course.

[2018-07-30 16:59] AdmiringWorm commented on #1062
I'm not sure what you're asking for in this issue, are you just trying to inform us of this?
Or are you expecting us to allow you to circumvent the restriction?

If the former, I would suggest that you post this the information on the disqus forum for the package, if it's the latter though, I'm afraid that wouldn't be something we will be doing.

I'll be closing this issue, feel free to re-open if

[2018-07-30 16:59] #1062 closed

[2018-07-30 18:02] AdmiringWorm commented on #1065
Considering this is done by purpose by the developers of the software, I don't believe it wouldn't be correct of us to circumvent this.
This is also why I haven't reviewed the opened PR to use autohotkey instead.

However, I wouldn't mind this being discussed though.

/cc @gep13 @majkinetor @ferventcoder

[2018-07-30 18:35] #1066 closed

[2018-07-30 18:35] #1077 closed

[2018-07-30 18:48] teknowledgist commented on #1065
I submitted the PR.  I understand where you are coming from, but I also feel like all the AHK script is doing is removing an annoyance, not circumventing any licensing or even support agreement.  If PDFforge doesn't want to support the free version on domains, they should outright prevent installing it, not just make it a PITA.  No admin is going to leave the domain so they can install PDFCreator

[2018-07-30 19:19] AdmiringWorm commented on #1065
I disagree, by using AHK script you're actively trying to get around code they implemented that specifically targets domain users in the free version of pdfcreator (when installing silently). If this change had been unintentional by the devs, I would have agreed.

I do agree with this though, I do think of one reason they decided to do this.
They probably don't want to prevent normal users (even w

[2018-07-30 19:19] AdmiringWorm commented on #1065
Anyways, lets continue this discussion in the issue I mentioned earlier

[2018-07-31 02:12] bcurran3 commented on #1078
https://chocolatey.org/packages/alldup/4.1.5.20180730

Exhibits the same behavior.

If you don't like my extension, just add:
`Get-Process "AllDup" -ErrorAction SilentlyContinue | Stop-Process`
at the end of your chocolateyInstall.ps1

[2018-07-31 07:58] gep13 commented on #1082
@AdmiringWorm thank you for fixing this!

[2018-08-01 13:34] fraenki commented on #1069
https://github.com/chocolatey/chocolatey-coreteampackages/issues/1009

[2018-08-03 08:37] timko98 opened #1083 "(absolute-uninstaller) Checksums do not match"
When I was trying to install the absolute-uninstaller package, I encountered the error that the checksum hashes do not match.

I used the simple choco install command.

It looks like the bug has already been detected by the CI, but i wanted to call attention for it.

[2018-08-03 12:02] tcinbis opened #1084 "(Argusmonitor) checksums do not match and not in Gallery"
https://chocolatey.org/packages/Argusmonitor

## Expected Behavior

Downloads and Installs Argus monitor software.
## Current Behavior

Crashes after download because checksums do not match and is missing in package gallery.
## Possible Solution

Update checksum.

## Steps to Reproduce (for bugs)

1. choco install argusmonitor

or
1. Check checksums by hand

[2018-08-07 13:10] jzajac2 commented on #941
Well I do NOT have the Windows Store version installed (fresh off the press win10 install). That is, if I open Windows Store, search for Spotify, it says 'Get' (so I don't have it, right?)

spotify package files install completed. Performing other installation steps.
File appears to be downloaded already. Verifying with package checksum to determine if it needs to be redownloaded.
Hashes match.
Ha

[2018-08-08 05:37] majkinetor commented on #1078
It has to be more complicatwd than that to account for slow machine.

[2018-08-08 10:29] bcurran3 commented on #1078
Start-Sleep 10
Get-Process "AllDup" -ErrorAction SilentlyContinue | Stop-Process

[2018-08-08 20:12] lostmsu opened #1088 "(chromium) Shows old version after update"
After running choco update all, and getting the latest version of Chromium, it still launches the old version. In the C:\Program Files (x86)\Chromium\Application folder, I see subfolders 68.0.3440.84 and 66.0.3359.181. Also, I see chrome.exe dated 16.05.2018 and new_chrome.exe dated 01.08.2018.

I suspect this might be caused by some other program using Chromium (probably Steam).

I think I have r

[2018-08-09 17:57] bcurran3 commented on #1078
Sucks less > Sucks a lot.

Wait with timeout has already been my suggestion since step #1 of opening an issue, please re-read above.

I don't care about the method. I just want the program not sitting around on my screen after install/upgrade. Doesn't seem appropriate for a chocolatey coreteam package

[2018-08-10 14:44] majkinetor commented on #1078
We do not use anything not belonging in this repo as we can't control it.

I agree about this specific case, but I don't think you count all elements in the "fixing cost". This repository is important and we do not want to promote any type of fix/coding because people can choose any package here as a template.

That outcome doesn't mean we don't think this is necessary, we clearly do as shown by l

[2018-08-10 14:57] majkinetor commented on #1084
Not sure how this tool got here but its invalid in total.

I vote for removal from this repository here if it doesn't get fixed by somebody in next few weeks.

While tool looks great, personally, I don't commit to exclusive commercial software/tools of any kind, but others might be interested.

/cc @AdmiringWorm

[2018-08-10 15:49] bcurran3 commented on #1078
Now we're speaking the same language.

[2018-08-10 17:10] majkinetor commented on #1078
I contacted them via site form asking for redistribution rights.

[2018-08-11 13:13] majkinetor opened #1089 "(zotero-standalone) Upstream name changes should be followed"
There is no more zotero standalone but only zotero (perhaps desktop) and zotero connector. See

https://www.zotero.org/blog/a-unified-zotero-experience/

I suggest we rename zotero-standalone to just `zotero` (that is deprecate current package and create new one).

/cc @AdmiringWorm

[2018-08-11 15:37] AdmiringWorm commented on #1089
sounds good to me

[2018-08-11 15:41] AdmiringWorm commented on #1078
That's not entirely true, we actually use a chocolatey extension in a few KB packages that is developed in a different repository.
Namely the [chocolatey-windowsupdate.extension](https://chocolatey.org/packages/chocolatey-windowsupdate.extension).

With that said though, we rarely use extensions and code that isn't already available in this repository.

[2018-08-11 15:44] AdmiringWorm commented on #1084
@majkinetor it got here because @p3lim opened a PR to add the package to this repo.
While we don't make commercial programs a priority, there isn't anything stopping it from being included in the repo as long as it matches the contribution guidelines.

[2018-08-11 16:36] majkinetor commented on #1078
Right, that must be the only one we use now but its scope is **very** limited.

BTW, I got response from alldup author allowing redistribution. I am attaching the PDF of the mail here if anybody wants to start working on embedding procedure (if not, I will probably do it when I get some free time).

[Redistribution.pdf](https://github.com/chocolatey/chocolatey-coreteampackages/files/2280387/Redist

[2018-08-11 16:41] majkinetor commented on #1084
Sure, but the package doesn't work ATM at all. If nobody fixes it in realistic time frame it will only contribute chaos and additional maintenance (like this issue).

[2018-08-11 23:01] bcurran3 commented on #1078
Good deal.

What did he say about a switch to make it NOT run after install?

[2018-08-12 09:45] majkinetor commented on #1078
Nothing, but if the switch exists it will be easy to find, and now that we can embed portable variant its less relevant.

[2018-08-12 18:27] rasa commented on #1047
The instructions at https://github.com/chocolatey/chocolatey-coreteampackages/issues/1047#issuecomment-405096203 worked for me:
[code]

[2018-08-13 11:50] coldacid opened #1090 "mp3tag: Old installers are left behind on package upgrade, spamming the bin directory"
## Expected Behavior

Installers for older versions of mp3tag are deleted during the upgrade process.

## Current Behavior

Installers for older versions of mp3tag are left behind in the `tools/` directory without any `.ignore` files, wasting storage space and polluting the `chocolatey/bin/` directory.

## Possible Solution

Delete all installers for older versions of mp3tag in `chocolateyInstall.

[2018-08-13 14:56] AdmiringWorm commented on #1090
Thanks for opening this.
I've added it as an `Up for grabs` for now, as I don't have the time to look into adding this myself (although it's quite simple to do that).

[2018-08-13 15:43] majkinetor commented on #1047
Thanks for the script @rasa

[2018-08-13 15:45] majkinetor commented on #1047
Since upstream ticket is fixed, I guess this will start to work as usual on next chocolatey version.

[2018-08-13 16:12] AdmiringWorm opened #1091 "(bulk-crap-uninstaller) Metadata is outdated"
We was recently contacted by the developer of BCU, notifying us that the metadata for the package is now outdated.

I'm adding this as an up for grabs. See below for the mail that we received:

[2018-08-14 20:49] #1091 closed

[2018-08-15 15:10] mstick99 opened #1092 "(classic-shell) Renamed to Open-Shell"
Classic Shell no longer in development as Classic Shell. (See news section at http://www.classicshell.net/) Has been renamed Open Shell and development can now be followed at https://github.com/Open-Shell

[2018-08-15 20:41] bcurran3 commented on #1078
Embedded = good.
Embedded does not make the program running after install less relevant, without an install switch to not run post install, the same problem exists. I'm hoping I'm wasting my finger's time and that you are already in agreement about killing the task post install no matter what method you choose to do so.

[2018-08-15 21:16] bcurran3 opened #1094 "(wget) uninstalls with false error but finishes correctly"
https://chocolatey.org/packages/Wget

It DOES uninstall though.

I've looked through the package files and they appear to be fine. I BELIEVE this problem actually lies in the chocolatey.org database with the name and needs to be changed from "Wget" to "wget" to be resolved. Seems more aprapos to open issue here instead of at chocolatey.org.

## Expected Behavior
Not to see...

... after " wget has

[2018-08-15 21:31] bcurran3 opened #1095 "(CCleaner) Add package parameter to disable "system monitoring""
https://chocolatey.org/packages/ccleaner

REF: https://www.ccleaner.com/docs/ccleaner/ccleaner-settings/changing-monitoring-settings-ccleaner-free

## Expected Behavior
I'd really like to have CCleaner installed without it adding itself to the Startup programs.

## Current Behavior
CCleaner adds itself into Startup after install.

## Possible Solution
REF: https://community.spiceworks.com/topic/19

[2018-08-16 05:48] majkinetor commented on #1078
No it doesn't, but embedded portable does, since there is no installer, and no switch.

[2018-08-16 16:06] majkinetor commented on #1094
It looks like upstream bug, the package doesn't have uninstaller.  Also, everything looks OK. Here is the last part of verbose debug:

[code]

/cc @gep13

[2018-08-16 17:27] bcurran3 commented on #1094
To my knowledge, ALL packages that have an uppercase letters in them "fail" uninstall.

i.e. The problem is the \lib\Wget folder.

[2018-08-16 17:40] majkinetor commented on #1094
Didn't know about this.  If this is the case, even more upstream issue of even bigger importance.

Issue is for choco.exe. I don't think we can do anything here except renaming package but there is some reason I forgot why we don't that. /cc @AdmiringWorm

[2018-08-16 22:05] RedBaron2 commented on #1095
@bcurran3 @majkinetor
I don't know how to fix this issue without using file modification of the ccleaner configuration file. I did find in my research this information.

A member of the Piriform Forums posted:

v5.45 has been pulled and v5.44 should be the latest version to use.  (or earlier, available at FileHippo)

The version 5.45 has been completely removed from the [History](https://www.pirif

[2018-08-16 23:56] AdmiringWorm commented on #1094
Only packages that originally had an uppercase, and have since been pushed with a lowercase would `fail` to uninstall.

Indeed it is, and an issue for it already exist: https://github.com/chocolatey/choco/issues/1040

No need to rename, we just need to return the original casing of the id through `PackageName` in the `update.ps1` file.
I've updated the `update.ps1` file to return the original casi

[2018-08-16 23:58] AdmiringWorm commented on #1095
@RedBaron2 5.45 have been unlisted on chocolatey now.

[2018-08-20 08:38] ishu3101 opened #1097 "(chocolatey-core.extension) Get-AppInstallLocation Chrome returns no location"
Running

[code]

all returns no location

Running
[code]
returns
[code]

I see that in the `HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\` location in the Registry it has a chrome.exe key which has the `Default` and `Path` as string name with
the value set as `C:\Program Files (x86)\Google\Chrome\Application\chrome.exe` and `C:\Program Files (x86)\Google\Chrome\Applicatio

[2018-08-20 13:29] zaggynl opened #1098 "NSSM package lighting up AV scanners, false positive or issue with Chocolatey?"
Hi,
The current [Chocolatey NSSM](https://chocolatey.org/packages/NSSM) package lights up most Antivirus Scanners:https://www.virustotal.com/en/file/99f5045fffbffb745d67fe3a065a953c4a3d9c253b868892d9b685b0ee7d07b8/analysis/
The [latest official NSSM](https://nssm.cc/download) zip does not: https://www.virustotal.com/#/file/727d1e42275c605e0f04aba98095c38a8e1e46def453cdffce42869428aa6743/detection

[2018-08-20 15:36] AdmiringWorm commented on #1098
While I can't say for sure, I do believe it to be a false positive.
Just to quote one of the comments on virustotal (for the 32bit edition):

I do agree with his assesment, but as with every package on chocolatey.org:
Do make your own opinion wether or not it's safe, this is one of the reasons why a virustotal report result is provided.

I do admit it's a risk, but I don't believe the software by

[2018-08-20 15:44] TonyApuzzo opened #1099 "(vagrant) Fails to fully install"
Vagrant 2.1.2 package install fails, but Vagrant is in fact installed.

## Expected Behavior

`choco install vagrant` should complete succesfully.

## Current Behavior

`choco install vagrant` fails with an error message and the package is moved to `lib-bad` even though the package installs.

Error messages in the log are not super helpful to me, but the installation runs correctly, and exits with

[2018-08-20 15:58] AdmiringWorm commented on #1099
hmm, from the looks of it in the log the installation actually succeeded, but it's rather the call to `vagrant plugin repair` (I think that was what we're calling) that failed.

I'm thinking we perhaps take that portion out of the package, and perhaps write out a warning instead to remind users to call it themself.

/cc @majkinetor

[2018-08-20 17:38] TonyApuzzo commented on #1099
That's what I thought too, but the call to "shutdown" returning 1116 threw me off.  Is maybe the plugin repair failing because the system was not rebooted?

[2018-08-20 17:50] AdmiringWorm commented on #1099
@TonyApuzzo That's a call from choco itself, to try to prevent a reboot (or was it to detect if a reboot is necessary, can't remember).

[2018-08-20 17:51] AdmiringWorm commented on #1099
Not familiar with the exit code of 1116 though

[2018-08-21 07:26] majkinetor commented on #1098
I left comment on virus total.
Also, notice that several AV's list it as `not-a-virus:RiskTool`

I will close this now, please feel free to open it again if you think there is more to discuss.

[2018-08-21 07:26] #1098 closed

[2018-08-21 07:29] majkinetor commented on #1097
Can't reproduce:

[code]

[2018-08-21 07:32] majkinetor commented on #1099
This is intentional and shouldn't be removed, see #1024.

It could be made more robust, to not fail on err because it affects only some of the users having vagrant plugins.

[2018-08-21 08:28] b-raj001 opened #1100 "(palemoon) v28 is out but not on chocolatey"
Pale moon browser v28 is available for some days now but not via chocolatey, so I contacted the maintainers. I got a reply from Gary Ewan Park suggesting I post an issue here. He says that there is no new package version in the moderation queue, so it could be that there is something not quite right with the automated process.

[2018-08-21 17:12] TonyApuzzo commented on #1099
Maybe just putting:

[code]

Before the `vagrant plugin repair` line would be enough??

[2018-08-22 14:54] AdmiringWorm commented on #1100
Unfortunately It seems like the page we're using to check for updates for this package, no longer exist.

So basically, we'll need to update our update script to grab the new versions.
I'm planning to look into this tomorrow myself, but maybe someone will pick this up before then 🤞

[2018-08-23 09:35] #1100 closed

[2018-08-23 09:35] AdmiringWorm commented on #1100
@b-raj001 our update script have been fixed, and an update is being scheduled right now.

[2018-08-23 09:45] AdmiringWorm commented on #1092
hmm, looked a little into this one now.

I see that the Open-Shell fork haven't yet published a stable release (with binaries), as such deprecating the classic shell package in favor of open shell won't be done until one is available.

[2018-08-23 15:36] martinsstuff opened #1101 "(libreoffice*) Newest versions stuck waiting for a fix for weeks now."
## Expected Behavior

Packages should be released and working (duh)

## Current Behavior

Basically what it says in the title. To be exact both are suffering from a "Generic MSI Error" most recent testing files are available here:

Fresh: https://gist.github.com/choco-bot/6f0183c16d72c49edf68ebedf5366ba7

Still: https://gist.github.com/choco-bot/a4a5f30b9a85969f3a242b937dea0938

## Possible Soluti

[2018-08-24 10:51] #1089 closed

[2018-08-24 11:06] majkinetor commented on #1101
There is always testing environment here, just make a branch and enjoy (hat tip to @AdmiringWorm)

[2018-08-24 15:37] AdmiringWorm commented on #1101
true, but it's still best to also test in the chocolatey testing environment.
After all, alot of stuff is installed on appveyor, that isn't installed in the testing environment. Because of that, some stuff may be missed when only testing on appveyor.

[2018-08-24 17:29] majkinetor commented on #1101
Yeah, but...

The problem is that test environment is anything but easy to install at Vbox + vagrant do have number of issues and basically you need to be a lucky son of a ... to make it work OTB. Even after you fix it, any new `cup` could spoil it. Its like that since beginning of time.

Furthermore, now that docker on windows is here for bunch of programmers installing Vbox is even harder as you

[2018-08-24 17:34] AdmiringWorm commented on #1101
I don't think I've ever had much problems with Vagrant + VirtualBox, although I'll admit that disabling Hyper-V every time I use it is a pain.

I'm not just talking about the software installed, the images are more or less up to date with windows updates as well, which again would result in missed dependencies, and causing failures when pushed to chocolatey.org.

Bottom line, even if you think it'

[2018-08-24 17:52] majkinetor commented on #900
I think we should close this. Number of most important packages are already migrated, vast majority of what is left is either already taken by somebody else or not updated any more or not used any more or not requested in comments etc.

Personally I think that only the following should be done:

- [ ] mysql
- [ ] filezilla.server
- [ ] postgresql
- [ ] puppet
- [ ] pngoptimzer

and I will probably

[2018-08-25 00:15] AdmiringWorm commented on #900
I'm sorry, but I disagree. IMO it's still useful to have this open.
Originally, it was the intention of migration all of @ferventcoder's packages to this repository, otherwise it wouldn't be a need to create this issue.

[2018-08-25 11:03] majkinetor commented on #900
I am aware of your original intention (not mine). I think it was bad decision then to create such massive ticket that probably requires years to resolve fully, if it ever gets resolved.  But I didn't want to rant then, I always like to give chance. Its soon almost a year old without any activity for ~6mo, and with diminishing return, it's not hard to extrapolate how long we will have it here open.

[2018-08-31 06:13] bcurran3 commented on #1009
Four new packages of Skype listed just this month. No fix for Skype running post install implemented yet, no NotSilent tag added to package yet.

[2018-09-01 15:27] majkinetor commented on #1101
https://github.com/chocolatey/chocolatey-coreteampackages/pull/1103

[2018-09-02 00:34] martinsstuff commented on #1101
@majkinetor Same Generic MSI error according to log.

[2018-09-02 10:06] majkinetor commented on #1101
Yah, it required an update of the OS now that the root cause is found. It will probably be exempted from verifier at this moment.

[2018-09-03 16:44] majkinetor commented on #1101
Closing this as there is nothing more to be done on this side.

[2018-09-03 16:44] #1101 closed

[2018-09-03 16:47] majkinetor commented on #1099
I doubt that will help. Vagrant is native app and posh preference isn't relevant. `$LastExitCode = 0` might do the trick. I suggest you to try it on your system and let us know the results.

[2018-09-03 16:50] majkinetor commented on #941
I think this should be solved by throwing error in the package if the app is detected in Windows store, on those systems that have it.  Then user can decide what to do, uninstall the store app and repeat the choco install or keep using the store version.

[2018-09-03 16:52] majkinetor commented on #1080
Right, its essential that those versions are not removed in general (since newer packages are mostly embedded and will continue to work indefinitely). I think that documentation should be changed on this

/cc @gep13

[2018-09-03 16:55] #1080 closed

[2018-09-03 17:04] #1065 closed

[2018-09-03 17:05] #1094 closed

[2018-09-04 16:49] TonyApuzzo commented on #1099
I would be happy to try it out and/or create a pull-request but I don't know how to modify a package and run it locally, it always seems to get overwritten by the downloaded package.

Any pointers to docs or suggested search would be appreciated.  My google-fu is apparently lacking for finding developer info for chocolatey.

[2018-09-04 16:58] TonyApuzzo commented on #1099
I read "https://github.com/chocolatey/choco/wiki/PackageMantainerHandover" but I don't understand the "add link to repository to your chocolatey profile" what does that mean?  I looked in "C:\ProgramData\chocolatey\helpers\chocolateyProfile.psm1" but there is nothing about setting a git repo URL.

[2018-09-04 17:34] majkinetor commented on #1099
The simplest way (in admin shell):

- cinst au
- git clone https://github.com/your-adr/your-fork-of-chocolatey-coreteampackages
- change the code
- cd .../automatic/vagrant
- Test-Package

If it works, you can submit PR with the change.

I believe something like

[code]

[2018-09-05 07:27] gep13 commented on #1080
@majkinetor could you raise a PR with your suggestion on how it should be changed?

[2018-09-05 20:51] philipthatcher opened #1105 "(cURL) Blessed curl builds for windows."
Just in case no one's seen this.

Is this where the cURL Windows binaries are being sourced from?  If not, it probably should be.
[https://curl.haxx.se/windows/](https://curl.haxx.se/windows/)

See AUGUST 27, 2018 **Blessed curl builds for windows.**
[https://daniel.haxx.se/blog/2018/08/27/blessed-curl-builds-for-windows/](https://daniel.haxx.se/blog/2018/08/27/blessed-curl-builds-for-windows/)

[2018-09-06 23:28] majkinetor commented on #1105
Actually, we take `vszakats` binaries from the downloads page from that site which look the same as that on `/windows` page.

[2018-09-06 23:39] TonyApuzzo commented on #1099
I apologize for my ignorance, but I cannot figure out how to get the "AU" module loaded.

I have tried `cinst au` as well as `Install-Module au` (and permutations like `Install-Module AU`) but nothing works.

I searched and found some prior issues where the functions were not exported, but [this](https://github.com/majkinetor/au/issues/15) does not seem to be my problem currently.  I have default

[2018-09-07 10:00] majkinetor commented on #1099
Have you tried to call `import-module au` and then `Test-Package` ?

[2018-09-07 19:46] TonyApuzzo commented on #1099
Yes, as is in the screen capture above.  It doesn't seem to import anything when I run `import-module au` even though it shows no errors.  I'm on Windows 10:
[code]

[2018-09-09 17:39] #1105 closed

[2018-09-09 17:48] majkinetor commented on #1097
The problem might be that system is  treated by the function as 32bit while it is obviously x64 bit. This is the reason why it wasn't find in Program Files.. That is something you can clearly see as a difference between my output and yours.

I do not know why it wasn't found in Registry tho, but I think this is some local behavior anyway.

[2018-09-10 07:50] pascalberger opened #1107 "(winscp*) Release notes link outdated"
## Expected Behavior
The release notes link in the winscp and winscp.install package should point to the release notes of the specific version

## Current Behavior
Release notes link points to https://winscp.net/download/WinSCP-5.9.6-ReadMe.txt

## Possible Solution
Update Release notes link in AU script

## Steps to Reproduce (for bugs)
1. Check release notes link at https://chocolatey.org/packag

[2018-09-10 12:26] #1107 closed

[2018-09-11 13:54] TonyApuzzo commented on #1099
OK, The AU package failed to import because my PowerShell profile removes all the fake unix aliases (specifically "ls").  I will eventually get around to logging cases against AU :-)

Trying to test the changes now, but the first pass didn't work.  If/when I figure it out I will make a pull-request.

[2018-09-11 16:14] majkinetor commented on #1099
You deserve this, really :) I actually keep aliases as a way to identify craziness in the wild.

`cpack; Test-Package`

[2018-09-11 16:17] #1099 closed

[2018-09-12 04:28] Sytten opened #1111 "(seer) Installation error"
## Expected Behavior
It should install the latest version of seer.

## Current Behavior

Error on install, my best bet is that the author removed the releases from github.
[code]

## Possible Solution

Find where the new releases are stored.

## Your Environment

* Package Version used: latest
* Operating System and version: Windows 10 1607
* Chocolatey version: 0.10.11

[2018-09-13 13:41] franklinyu opened #1113 "(autohotkey.portable) Package 2.0 alpha"
https://autohotkey.com/v2/

Latest release available at https://autohotkey.com/download/2.0/AutoHotkey_2.0-a099-ca386dc.zip; `a099-ca386dc` probably means alpha release 99 at commit [`ca386dc`](https://github.com/Lexikos/AutoHotkey_L/tree/ca386dc3b520ae9d4b177c672b81755a1398f701).

[2018-09-23 03:31] YenForYang opened #1114 "Create Shims for Calibre Package"
I've noticed that Shims aren't being created for Calibre (probably because it adds itself to the Path variable).

Is is possible to use shims instead?

Note the addition of Calibre onto Path can be turned off simply by setting the `ADDLOCAL` Public Property to not include it:

[code]

[2018-09-24 06:36] bcurran3 commented on #1078
Would this be acceptable?:
# waits for up to 5 minutes to kill alldup post install
[code]

[2018-09-24 08:17] majkinetor commented on #1078
This should be embedded now that we have redist rights. When doing so just use portable version and this problem disappears.

[2018-09-24 09:12] bcurran3 commented on #1078
Agreed. Portable solves my issue.

[2018-09-26 17:36] AdmiringWorm commented on #1114
IMO, I don't really see the benefit of changing it from adding to the `PATH` environment variable to creating shims instead (other than pollution of the PATH environment variable of course).

I think this falls more into user specific configurations, rather than something the package should handle (but again, that's just my opinion).

I'll leave this open for now though, to encourage discussion on

[2018-09-26 17:37] AdmiringWorm commented on #1113
Personally I wouldn't mind something like this to be added, if someone would be willing to add it as a PR (can be added as a STREAM).

[2018-09-26 17:44] AdmiringWorm commented on #1111
I think you have the wrong repository, this package isn't located here.
Please use the `Contact Maintainers` on the package page, this repository only contains packages from the chocolatey user.

[2018-09-26 17:44] #1111 closed

[2018-09-26 17:46] AdmiringWorm commented on #1083
@timko98 are you still experiencing the wrong checksum?

I know there may be sometimes a few hours between when our update checks runs were this occurs.

(I'm sorry we haven't responded until now).

[2018-09-26 17:46] AdmiringWorm commented on #1069
Closing this in favor of #1009

[2018-09-26 17:46] #1069 closed

[2018-09-29 13:59] majkinetor commented on #1114
Calibre has number of internal tools. We need to spam with shims because of this, so in this case i prefer PATH.

Calibre adds itself in WinApps registry so CTRL+R calibre will run it. With my function [Set-AppKeyAliases](https://github.com/majkinetor/posh/blob/master/MM_Admin/Set-AppKeyAliases.ps1) you can have the same effect as shim today.

If something needs to be changed, that is the web serv

[2018-09-29 13:59] #1114 closed

[2018-09-29 14:04] majkinetor commented on #1113
It should be added as steam as it is 100% certain that 1.x version will be kept with fixes for conceivable future.

I wouldn't be so confident about AHK 2 release, it can still take years because Lexiskos is main developer and he 'does with AHK whatever he wants whenever he feels like it' :) [ not a judgement, its his own words].

I will be the first one to switch to 2.0 and release a package when

[2018-09-29 16:54] franklinyu commented on #1113
@majkinetor Why does it matter that it takes long to get out of alpha? I understand if you don’t want to invest the effort, but at least this should be “PR welcome”?

[2018-09-30 18:59] philipthatcher opened #1117 "(filezilla) 3.37.0 (2018-09-17) is out."
## Expected Behavior
3.37.1 (2018-09-21) is out
3.37.0 (2018-09-17) is out.
 I guess the the automatic update process hasn't spotted it yet.

https://filezilla-project.org/download.php?type=client

[2018-10-01 13:01] pektinasen commented on #1117
3.37.3 is out

[2018-10-01 19:58] AdmiringWorm commented on #1117
actually, the updater have detected this. But unfortunately due to some changes to the download url, it hasn't been able to update the package automatically yet.

I tried looking into it earlier, but due to lack of time I could never finish the work.

[2018-10-03 15:45] jarlave commented on #1092
Since 4 days there is now an release https://github.com/Open-Shell/Open-Shell-Menu/releases/tag/v4.4.131
Maybe it could be done now

[2018-10-04 22:47] verglor opened #1120 "(openssl.light) Missing dependency on vcredist140"
OpenSSL depends on VCRuntime140.dll so dependency on vcredist140 package should be declared.

[2018-10-06 16:18] majkinetor commented on #1120
It indeed does for latest version. Thanks for report.

[2018-10-06 16:18] #1097 closed

[2018-10-06 17:28] #1120 closed

[2018-10-08 20:19] AdmiringWorm opened #1122 "Change icon urls to use a different CDN instead of rawgit"
I'm planning to do this as part of a change to the `Update-IconUrl` script, I'm opening this as a reminder for myself to do that when I have time.
This change will be necessary, as rawgit is shutting down: https://rawgit.com/

I'm planning to change it to [jsdelivr.com](https://www.jsdelivr.com/).

[2018-10-13 16:16] #1122 closed

[2018-10-15 14:55] #1113 closed

[2018-10-17 18:06] AdmiringWorm commented on #1083
Closing this due to lack of response.

[2018-10-17 18:06] #1083 closed

[2018-10-18 16:26] thisjustin816 opened #1127 "(wixtoolset) old codeplex hosted installers no longer work"
## Expected Behavior

Installing old versions of wixtoolset (e.g. `choco install wixtoolset --version 3.9.1208.0`) don't work because they're still using old codeplex links when the project is hosted on github now.

## Current Behavior

See above

## Possible Solution

Switch to github links

## Steps to Reproduce (for bugs)

1. choco install wixtoolset --version 3.9.1208.0

## Context

Need an ol

[2018-10-18 20:37] gep13 commented on #1127
@thisjustin816 can you help shortcut the work by including the new links for the older package versions?  Thanks

[2018-10-19 06:28] cmorty opened #1128 "(python3) Use shims instead of PrependPath. Provide python3-shim."
## Expected Behavior
Create a `python3.exe` shim instead of setting `PrependPath=1`.
Optinally a `python.exe` shim could be created, but this probably causes issues with python2.
While one is at it, a pip3.exe shim should be created.

## Current Behavior
Whit `PrependPath=1` the path environment variable is cluttered by the installer.

## Possible Solution
Do not set `PrependPath=1` in the install

[2018-10-20 09:30] rgl commented on #1120
Can you please publish the openssl.light package with this fixed? The current one still does not have the redist as a dependency.

[2018-10-22 06:45] stefan-muc opened #1130 "(winamp) Update Package to Winamp 5.8"
Winamp package at https://chocolatey.org/packages/winamp should offer most recent version 5.8 as already written in Disqus comment http://disq.us/p/1wp4yf7 about two days ago

## Expected Behavior
Package offers Winamp 5.8

## Current Behavior
Package offers Winamp 5.666

## Possible Solution
Update package

[2018-10-22 08:11] gep13 commented on #1120
@rgl it looks as though the dependency is now in place, for example:

![image](https://user-images.githubusercontent.com/1271146/47283242-64786a00-d5da-11e8-96f0-9bc6a4b9d2d0.png)

Which is one this package version:

https://chocolatey.org/packages/OpenSSL.Light/1.1.1.20181020

Is this not what you expected?

[2018-10-22 11:11] ComFreek opened #1131 "(octave.portable) Adopt "octave" package to synchronize them"
## Expected Behavior
[octave][1] and [octave.portable][2] can be expected to be synchronized, i.e. reflect the same software incl. architecture bitness and most importantly the same version number.

## Current Behavior
[octave][1] is heavily outdated with version 3.6.4 compared to [octave.portable][2] with version 4.4.1.
(**Edit:** ^ mistakenly confused octave and octave.portable)

## Possible Sol

[2018-10-22 11:35] majkinetor commented on #1120
Yeah, now its OK since I forced update (see commit above your message)

[2018-10-22 16:42] rgl commented on #1120
It seems the package was published in the mean time, so its fine now :-)

On Mon, Oct 22, 2018, 09:33 Gary Ewan Park <notifications@github.com> wrote:

[2018-10-22 17:11] AdmiringWorm commented on #1131
I think you've mixed the octave.portable and octave packages, it's  the octave.portable that is at v 4.4.1, and the octave package at 3.6.4.

I don't get how you got the octave to install the octave.portable version though, as it doesn't have a dependency on that package.

It is also set up to be a package that uses the installer, and not the archives (like the portable edition uses).

So even if

[2018-10-22 17:13] AdmiringWorm commented on #1130
You're aware that the `5.8` version of winamp is just a beta version right?

We currently are keeping our self to stable releases, not pre-releases.

I actually thought about updating the package to the beta version, but wanted to wait a little to see if they also would provide a x64 edition of the installer, instead of the current 32bit edition.

[2018-10-22 19:36] jaybaldwin commented on #1130
It's unclear if they will even offer more updates to the desktop client until 6.0.  From [www.winamp.com](https://www.winamp.com):

It could be very likely that this is the final stable version of the 5.x branch, and the only build that runs on the current version of Windows without compatibility mode.

[2018-10-23 07:11] ComFreek commented on #1131
Indeed, that's now corrected in the OP.

I've just checked that again by inspecting the nupkg... that's strange. I remember Chocolatey asking me whether I wished to uninstall octave.portable upon uninstallation of octave.

Maybe I can arrange a PR next weekend. Just to be sure, the new octave package should be empty and just take a dependency on the (then newly created) octave.install?

[2018-10-23 14:29] AdmiringWorm commented on #1131
Sure, feel free to do that.

However, I do believe we should try contacting the existing maintainer of the octave package as well (although I don't believe we'll hear anything back).

But we even for packages that are being migrated to this repo, the triage process needs to be done first as well.

[2018-10-24 18:29] AdmiringWorm commented on #1130
You can also see it by looking at the url they provide.

I'll mark it as an Up for grabs, but I'll be honest and say that I won't be adding an update for winamp. Well not until they release a 'stable' release anyhow.

[2018-10-24 18:48] jaybaldwin commented on #1130
What about adding a winamp-beta package/channel?

[2018-10-24 19:36] AdmiringWorm commented on #1130
@jaybaldwin It can just as well be added to the main package.
The winamp package isn't setup as an automatic package though, so each version would need to be manually updated.

[2018-10-24 19:45] jaybaldwin commented on #1130
Oh, I see what you meant.  I was under the impression you were against adding it to the main package since it isn't a stable build.  What I am now reading is that you're OK with it being added to the package as a beta, in place of a stable build, but that you wan't be doing it yourself.  I understand.  Thanks for the clarity.

[2018-10-27 15:50] majkinetor commented on #1130
I made the package and it was by intention manual. No updates should be expected here until process of new releases is regular. This ceretainly doesn't count as one.

Yeah, we wont be doing that. We are ok with prerelease on existing package which means choco users not having `--pre` flag wont see it and normal `cinst winamp` will still install 666 version.

[2018-10-27 15:53] majkinetor commented on #1128
The path env var SHOULD be cluttered by installer. PATH is normal mechanism.

Regarding python2/python3/symlinks etc that is larger task and not related to this one. But we area not "distro", only package manager. Its certainly possible to do this on choco level but I don't think anybody here is interested in this at this moment, especially since python2 should die already :)

[2018-11-02 11:33] HakShak commented on #987
For other internet travelers:

@AdmiringWorm solution is *almost* correct, see https://github.com/dtgm/chocolatey-packages/issues/297

Note the double double quotes:

`choco install cmake --installargs 'ADD_CMAKE_TO_PATH=""User""'`

[2018-11-03 02:19] bryceschober opened #1134 "(winscp) Command-line utility has no shim"
I installed the winscp package and was disappointed to see that it didn't make easily available (by shim) the winscp.com command-line utility. See [winscp executables](https://winscp.net/eng/docs/executables): The winscp.com, which isn't shimmed is the appropriate one for scripted usage.

[2018-11-05 15:59] mstick99 opened #1135 "(waterfox) version 56.2.5 released"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Package Version used:
* Operating System and version:
* Chocolatey version:
* Install/uninstall gist:

[2018-11-05 17:19] AdmiringWorm commented on #1135
I'm curious to where you found that version.
I looked at the web page of waterfox, and I can only see 56.2.4 being available.

[2018-11-06 11:17] mstick99 commented on #1135
According to https://blog.waterfoxproject.org/waterfox-56.2.5-release-download it is available. The page does indicate that "Note: Website will update slowly with new version."  Also it shows up as being available under Help, About Waterfox.

[2018-11-06 21:33] adamdev96 commented on #203
Not working on my machine
(Remote file doesn't exist)

[2018-11-07 06:58] majkinetor commented on #1134
Or just use [Set-AppKeyAlias](https://github.com/majkinetor/posh/blob/master/MM_Admin/Set-AppKeyAliases.ps1) and have it today including bunch of other utilities.

[2018-11-07 15:49] AdmiringWorm commented on #1135
Unfortunately I still can not find any download location for that version on that website. Until there is one, we can not update the package with the new release.

As such, I will be closing this issue until the version is available on the website.
If it suddenly starts appearing there, and no package version have been pushed, then feel free to re-open this issue. (Normally all packages are checke

[2018-11-07 15:54] AdmiringWorm commented on #203
@adamdev96 see
https://github.com/chocolatey/chocolatey-coreteampackages/issues/1006
https://chocolatey.org/packages/clover#comment-3351575070

I've honestly stopped monitoring newer versions of that software, as it seems it will never even try getting rid of the included viruses/malwares detected on virustotal.org

[2018-11-07 15:59] AdmiringWorm commented on #1127
@thisjustin816 unless you're able to provide any links to other versions of wixtoolset, I'm afraid I will have to close this issue (I have looked after links, and thus far not found any).
Their github page do not list the versions that was available on codeplex unfortunately.

[2018-11-07 17:51] majkinetor commented on #203
I was monitoring a tool several versions. Maybe the viruses are false positive, there are few other tools that I know are virus free and still have lots of positives. It turns out its enough to have a single API call and you are flagged.

Unless someone can provide a proof that specific version is virus free, we won't do anything here. I personally don't care as I don't use Explorer. But there are

[2018-11-08 11:17] mstick99 commented on #1135
can be found at https://www.techspot.com/downloads/6249-waterfox.html
with source code available at https://github.com/MrAlex94/Waterfox

[2018-11-09 07:30] NicoHaase opened #1136 "(tortoisesvn) Package waiting for moderation"
According to https://chocolatey.org/packages/tortoisesvn, new versions of the TortoiseSVN package has been pushed to Chocolatey on Oct 10 and Nov 1 and are waiting for moderation since. I contacted the package maintainers using the web interface and they asked me to file an issue here.

## Expected Behavior
Package is checked for getting stuck in moderation, possible bugs are fixed, and users are

[2018-11-09 19:41] AdmiringWorm commented on #1136
I expect to be able to look into this issue sometime this week.

[2018-11-09 19:43] AdmiringWorm commented on #1135
Unfortunately that download location isn't part of an official download location from the developers (AFAIK).

As such, we can not use it unfortunately.

[2018-11-10 15:16] woolyss opened #1137 "(chromium) Outdated stable version"
Today, I am trying to install the latest STABLE version of Chromium but the installed version is outdated.

# Expected Behavior

Today the latest stable version of Chromium is 70.0.3538.77
Your updater works nicely but the install is wrong.

Your updater: https://github.com/chocolatey/chocolatey-coreteampackages/blob/master/automatic/chromium/chromium.json --> OK
The installed version is: 64.0.328

[2018-11-10 19:45] AdmiringWorm commented on #1137
I think there may be some misunderstanding here.

The chromium-stable package is not the same as the chromium package maintained here in this repository.

The one you're actually looking for is just called [chromium](https://chocolatey.org/packages/chromium). When you don't use `--pre` when calling chocolatey, you'll get the latest stable version of chromium (with that argument, you'll get the lat

[2018-11-10 19:53] woolyss commented on #1137
Hello AdmiringWorm,
No, I talk about the STABLE version, not the development version. Please, check my screenshots. They are all about the STABLE version.

[2018-11-12 20:11] AdmiringWorm commented on #1135
I see now that an official download location is available, unfortunately it seems an error occurs when trying to push it to chocolatey.

I'm invistigating the issue, but uncertain if there is a problem with chocolatey or the push of the package itself.
Anyhow, I'm re-opening this issue for now.

[2018-11-14 17:18] mikhaelkh commented on #1137
@woolyss, afaik, [chroimum](https://chocolatey.org/packages/chromium) is about dev and stable versions, stable are default, dev with `--pre` switch.
[chromium-stable](https://chocolatey.org/packages/chromium-stable) hasn't updated since February 2018 so it's no point in keeping this outdated package on https://chromium.woolyss.com. [chroimum](https://chocolatey.org/packages/chromium) has 460K down

[2018-11-15 22:04] dimqua opened #1138 "(bleachbit.portable) Out of date"
https://chocolatey.org/packages/bleachbit.portable

[2018-11-15 22:14] dimqua opened #1139 "(owncloud-client) Out of date"
https://chocolatey.org/packages/owncloud-client

[2018-11-15 22:16] dimqua opened #1140 "(nomacs) Out of date"
The latest version is 3.12.

https://chocolatey.org/packages/nomacs

https://chocolatey.org/packages/nomacs.portable

[2018-11-15 22:16] dimqua opened #1141 "(peazip.portable) Out of date"
https://chocolatey.org/packages/peazip.portable

[2018-11-17 23:26] AdmiringWorm commented on #1138
wrong repository, bleachbit.portable isn't maintained here.

[2018-11-17 23:26] #1138 closed

[2018-11-17 23:32] AdmiringWorm commented on #1140
hmm, looking at the update script these should actually have been updated.

I'll need to investigate this when I get back to a windows computer (or get around to install a windows VM)

[2018-11-17 23:33] AdmiringWorm commented on #1141
wrong repository, this package is not maintained here.

Please check the package source url (which would point you to dtgm's repository)

[2018-11-17 23:33] #1141 closed

[2018-11-18 00:12] AdmiringWorm commented on #1137
@woolyss as @mikhaelkh said, the chromium package contains both stable and dev versions.

The `chromium-stable` package was created by a completely different maintainer, and isn't actually maintained in this repository at all (although the person maintaining that package, contributed to the current update script we're using here).

AFAIK, the chromium-stable package was actually supposed to be dep

[2018-11-18 01:42] dimqua commented on #1141
Oops, indeed. Something is wrong with website:
![](https://i.imgur.com/9F80tbe.png)

[2018-11-18 11:18] AdmiringWorm commented on #1141
That's just a caching issue.
The chocolatey was actually previously on that package, which was incorrect. as such I removed it right before I replied to you.

[2018-11-18 15:50] #1140 closed

[2018-11-18 15:50] #1135 closed

[2018-11-18 20:54] woolyss commented on #1137
Thank you very much @AdmiringWorm and @mikhaelkh for your detailed explanation. All is clear now.  I will open an issue regarding the website issue about Chromium pages.

[2018-11-19 15:19] AdmiringWorm commented on #1137
Please make sure that an issue doesn't exist already (I believe there may be one)

[2018-11-19 15:20] AdmiringWorm commented on #1137
Anyhow, I'll be closing this issue. As it isn't related to the package we're maintaining

[2018-11-19 15:20] #1137 closed

[2018-11-19 18:06] djhaskin987 commented on #808
I ran with `-not-silent` and going through that process I think I found the issue.
While doing it that way, one of the executables that git wanted to install was not able to be installed due to permissions issues, even though I was running the install as administrator. This usually means another process is using the file or something like that.  Some FS reason I can't install the file, instead of

[2018-11-20 05:57] drelatgithub opened #1143 "(poi) Push error after updating"
## Expected Behavior

The package poi is updated from 9.0.3 to 9.0.4 and pushed to chocolatey repository.

## Current Behavior

The push has error with message:

## Possible Solution

Push manually... maybe?

## Steps to Reproduce (for bugs)

1. See update logs

## Context

I am one of the maintainers of this package. I think I've seen that problem before and in my impression it is a known problem

[2018-11-20 09:37] AdmiringWorm commented on #1143
Unfortunately this isn't related to the package itself, nor the AU environment (AFAIK).

The error seems to be on the webserver, as it happens with several packages (from different users, some of them even have tried to push manually).

I believe there are someone associated with chocolatey looking into this issue.

[2018-11-20 18:41] drelatgithub commented on #1143
Thanks a lot for the reply! As for now, it seems no longer an issue, as the push has just been successful.

[2018-11-20 19:48] AdmiringWorm commented on #1143
@gep13 yeah, you're right. I haven't changed anything at all.

[2018-11-21 12:41] romanlum opened #1144 "(PDFCreator) hangs during installation (3.3.0, 3.3.2)"
## Expected Behavior
Unattended installation

## Current Behavior
The installer hangs because of a popup showing that a new version is available.

## Possible Solution
use /VERYSILENT as installation argument

## Steps to Reproduce (for bugs)

1. choco install pdfcreator

## Context
Unattended installation of PDFCreator

## Your Environment

* Package Version used: 3.3.0
* Operating System and ver

[2018-11-21 16:12] AdmiringWorm commented on #1144
this is something we actually used in the past, and I suggested to continue to use.
But unfortunately I was overruled here, and an autohotkey script was added instead.

See https://github.com/chocolatey/chocolatey-coreteampackages/issues/1065 and https://github.com/chocolatey/chocolatey-coreteampackages/pull/1079

[2018-11-21 17:30] bobk-rey opened #1145 "(virtualbox) ExtensionPack - Oracle changed PUEL License"
It would be good to change the package to avoid installing the extension pack by default.

Oracle just hit us up for $6100 ($61 * minimum of 100 licenses).

About a year ago (between 5.1 and 5.2), Oracle snuck in changes to the PUEL license requiring a paid license if used in a commercial setting (vs previous stance of 'It doesn't matter whether you just use it for fun or run your multi-million eu

[2018-11-22 11:07] luzpaz opened #1146 "(freecad) Add development version"
This a continuation of a previous ticket over at https://github.com/chocolatey/chocolatey-package-requests/issues/457#issuecomment-440727605

[2018-11-24 12:52] AdmiringWorm commented on #1136
Not yet.
It's still on my TODO list, but haven't managed to have a look at this yet.

[2018-11-25 13:19] AdmiringWorm commented on #1136
Seems to be a missing dependency that's preventing the installation of the package.

I need to do some more testing before an updated version can be pushed (but most likely we'll need to request an exemption for this package)

[2018-11-25 14:43] AdmiringWorm commented on #1136
latest version is available now. I won't fix the previous version though

[2018-11-25 14:43] #1136 closed

[2018-11-26 16:24] guruas3 commented on #1092
bump. new release by open shell is available for a while

[2018-11-26 17:23] AdmiringWorm commented on #1092
I'm afraid that unless someone is willing to open a PR to migrate the current package to `open-shell`, then unfortunately that is unlikely to happen.

I honestly have limited time to use on chocolatey packages nowadays, and this isn't really one of my priorities when working on packages.

This issue is marked as `Up for grabs`, so anyone can open a PR to make the necessary changes.

[2018-11-28 13:23] majkinetor commented on #1145
LOL, this does smell Oracle so much.

We already have a parameter, its just a matter of reversing it.

[2018-11-28 15:43] AdmiringWorm commented on #1144
Of course they are still available, just not when the windows user is in a domain.

If you see the comment after the one you reference, the log explicitly says:

[2018-11-28 15:47] AdmiringWorm opened #1147 "(datagrip) Latest version failing automated verification"
Currently the latest version of datagrip is failing the automated verification step.
It seems like it times out during install, perhaps a missing dependency, or a dialog popping up.

@The-Running-Dev I see you originally provided the package, would you mind having a look at this?

The install log is available here: https://gist.github.com/d2e7c98996d25a7f5723d790bbcd4599

[2018-11-30 16:45] The-Running-Dev commented on #1147
I looked into it and it seems the latest installer breaks the silent
installation. If run interactively, it throws an error with "Not enough
disk space" in a popup. I will submit a ticket in their tracking system and
see if they get back to me.

On Wed, Nov 28, 2018 at 4:47 PM Kim J. Nordmo <notifications@github.com>
wrote:

[2018-12-01 18:09] bcurran3 opened #1148 "(PartitionMasterFree) - EaseUS Partition Master (Free) 13.0 checksums don't match"
From: Kim Nordmo
Sent: Saturday, December 1, 2018 8:51 AM
To: bcurran3
Subject: Re: [coreteampackages] [Chocolatey.org] Message for maintainers of the package 'PartitionMasterFree'

Had a quick look at this, it seems they had updated the changelog before releasing the new executable.
Making it so that the package uses the hash for the previous version.
Could you please open a issue over at: https:

[2018-12-01 18:37] AdmiringWorm commented on #1148
I think I'll be able to look into fixing this at some point tomorrow.

Thanks for opening this issue, it will significant changes to the update script to prevent this from happening again.

[2018-12-01 19:24] bcurran3 opened #1149 "(PartitionMasterFree) - EaseUS Partition Master (Free) - quit program when it auto-runs"
RE: This package is not completely silent.
The application will launch after installation.

## Expected Behavior
* The program to not run after install, or at least be stopped when it runs.
* No additional unwanted software

## Current Behavior
* EaseUS Partition Master Free Edition runs and stays open after install of partitionmasterfree package
* The EaseUS Partition Master Free Edition installe

[2018-12-01 19:29] bcurran3 commented on #1092
There is a RFM for Open-Shell as well:
https://github.com/chocolatey/chocolatey-package-requests/issues/444

[2018-12-02 22:11] dimqua commented on #1143
Hmm, I have the same problem with my embedded packages. At least with biggest ones (~100MB or bigger).

[2018-12-03 16:42] AdmiringWorm commented on #1147
Looks like @mkevenaar have provided a workaround in #1150

[2018-12-04 12:22] #1147 closed

[2018-12-04 12:34] AdmiringWorm commented on #1149
I looked a little into this, and I've been unable to reproduce the result you've mentioned.

1. When install this package, I don't get any additional softwares installed.
2. When install the package, no gui program is launched. However, a website is launched though. Which would be a bad idea to force close (no way in the installer to disable the opening of the website)

[2018-12-04 13:36] #1148 closed

[2018-12-04 15:55] bcurran3 commented on #1149
Kim - please take a look again. Maybe you did an upgrade?

Below three screenshots on my mostly virgin Win10 testing VM.
cinst partitionmasterfree and then screenshots with no further computer interaction.
Looks like maybe the EaseUS Todo Backup was removed from v13 of EPMF.

This behavior has been present going back multiple versions of the package:

![image](https://user-images.githubusercontent

[2018-12-04 15:57] bcurran3 commented on #1149
CORRECTION: EaseUS Todo Backup still installs:

![image](https://user-images.githubusercontent.com/14026600/49454583-46398880-f79a-11e8-99fb-df5f5d28011c.png)

[2018-12-04 16:13] bcurran3 commented on #1078
I haven't seen (or looked for) the portable package. I'm hoping that it doesn't create an issue of a GUI program without an icon to launch it. :)

[2018-12-05 22:36] andrewsav-datacom opened #1153 "(everything) Include everything.exe on the path"
## Expected Behavior

I would like to be able to connect remotely to a box running Everything via command line ([OpenSSH](https://github.com/PowerShell/openssh-portable)) and with minimal hassle run command line search:

[code]

I expect this to succeed.

## Current Behavior
Currently if you do that you will get:

[code]
Googling this message finds [this thread](https://www.voidtools.com/forum/vie

[2018-12-06 00:30] RedBaron2 commented on #1146
@AdmiringWorm
Just a quick question. Did you have in mind that this could be `--pre`, regular, and ??? packages. The other option I was thinking was to split the package as streamed `x86`, `x64`, and `--pre` builds?

[2018-12-06 09:47] AdmiringWorm commented on #1146
The portable packages (`freecad.portable`) would contain the stable archives and the development editions (dev editions would be installed when using `--pre`, otherwise stable).

We do not split up packages into different architectures, and usually not when it comes to `--pre` builds either.

[2018-12-06 21:12] mkevenaar opened #1154 "(php) update failed"
`cup php -y --params '"/ThreadSafe "'` failes

## Expected Behavior
PHP package updated to the latest version.

## Current Behavior
Fails with an error message:
[code]

## Possible Solution
Fix uninstall script

## Steps to Reproduce (for bugs)
1. Install php 7.2.12
2. Update php to latest version

## Context
Unable to update to the latest version of PHP, want to switch to 7.3.x programming

## Yo

[2018-12-07 01:04] RedBaron2 commented on #1146
@AdmiringWorm
I guess my use of the word `split` and your definition prompted your reply.
-anyway-
I have a question as to the versioning issue.
What is the `Standard` for packages that have minor differences like ex: FreeCAD.
_x86: 0.17.13528_
_x64: 0.17.13541_
I only ask because FreeCAD's release page list these as `0.17` releases and not the extra revision numbers.

[2018-12-07 01:11] AdmiringWorm commented on #1146
Yeah, pretty much.

Well, there isn't really any standard.
But for this package, we've pretty much used all three parts of the version.
What I changed to make it work with minor differences was to use the version of the highest one.
Normally when they release a new version, both the 32bit and 64bit version matches, but if a bug fix is needed for only one of the architectures, they only update the

[2018-12-07 10:09] pascalberger opened #1155 "(vscode) Introduce metapackage"
## Expected Behavior
As there's also a vscode.portable package, we should rename the vscode package to vscode.install and introduce a new vscode metapackage with a dependency to vscode.install.

## Current Behavior
Currently there's a vscode package using the installer and a vscode.portable package

## Possible Solution

* Rename vscode to vscode.install
* Add vscode package with dependeny to vsco

[2018-12-07 13:09] laurin1 opened #1156 "GitExtensions 3.0.0 - Installation fails due to Remove=Icons"
https://chocolatey.org/packages/gitextensions

C:\windows\system32>cup gitextensions
Chocolatey v0.10.11 Business
Upgrading the following packages:
gitextensions
By upgrading you accept licenses for the packages.

You have gitextensions v2.51.5 installed. Version 3.0.0 is available based on your source(s).
Progress: Downloading gitextensions 3.0.0... 100%

gitextensions v3.0.0 [Approved]
gitextens

[2018-12-07 16:05] AdmiringWorm commented on #1156
Thanks for opening this issue, I'll have a look at this.
Could be that they have renamed the `Icons` variable that we try to remove.

I'll need to test this before a fix version can be pushed.

[2018-12-07 17:16] #1139 closed

[2018-12-07 19:01] AdmiringWorm commented on #1156
It indeed seems like they have completely removed the option to disable installing Icons (can't find any reference to it anymore, not even under other names).

I'll remove it and push out a fix version shortly.

[2018-12-07 19:23] #1156 closed

[2018-12-07 21:46] b-raj001 opened #1158 "(winrar) v5.6.1 is out but not on chocolatey"
Winrar v5.6.1 is available for some months now but not via chocolatey, so I contacted the maintainers. I have got no response, neither have others.

[2018-12-08 09:47] AdmiringWorm commented on #1158
winrar isn't maintained in this repository, please contact the correct maintainers to get this package updated.

This can be done through the `Contact Maintainers` link on the package page.

[2018-12-08 09:47] #1158 closed

[2018-12-09 21:43] bcurran3 opened #1161 "(PartitionMasterFree) - v13.0.0.20181204 aborts during upgrade"
## Expected Behavior
Package to install.

## Current Behavior
Package aborts with WARNING: User (you) cancelled the installation; thought I didn't. (x2)

## Possible Solution
Program possibly doesn't like to install the same version onto itself.

## Steps to Reproduce (for bugs)
S:\dev\GitHub\ChocolateyPackages\ntlite-free>cup partitionmasterfree
Chocolatey v0.10.11
Upgrading the following package

[2018-12-11 13:42] arkfps opened #1164 "(Ruby) A typo in script causes deletion of *.exe files in working directory"
In `Chocolateyinstall.ps1` in the line
[code]
the variable `$toolsPath` is undefined (should be `$toolsDir`, probably). As the variable exapnds to nothing this line of code delete `.exe` files in one's working directory.

## Solution
- Change `$toolsPath` to `$toolsDir`.
- Use strict mode (`Set-StrictMode`) to prevent such kind of errors.

[2018-12-11 16:12] AdmiringWorm commented on #1164
Thanks for letting us know, I'll get out a fix for this ASAP.

Not sure if using the `Set-StrictMode` is a valid approach in a chocolatey package, but definitely something I would consider.

[2018-12-11 17:06] #1164 closed

[2018-12-11 17:16] AdmiringWorm commented on #1164
a fix version have been pushed to chocolatey.org.

Again, thank you for letting us know of the typos.

[2018-12-12 06:46] NicoHaase commented on #1047
Just to give you some feedback: I've just updated to the latest beta version of chocolatey, and this makes the update work again :)

[2018-12-12 15:30] #1047 closed

[2018-12-12 15:36] majkinetor commented on #1153
This is out of scope of chocolatey package I think. You can fix it easly by actually setting everything to run on remote machine as a service or by creating a function on remote machine.

[2018-12-12 16:43] AdmiringWorm commented on #1155
adding this as an `Up for Grabs`, so if anyone is interested we would love a PR to add the metapackage.

[2018-12-12 16:45] AdmiringWorm commented on #1127
As the older versions doesn't exist anywhere (AFAIK), I'm afraid I will have to close this now.

[2018-12-12 16:45] #1127 closed

[2018-12-13 01:22] AndrewSav commented on #1153
@majkinetor how do you mean out of scope? Most of the packages put whatever they install in the path, how is this one different?

[2018-12-13 12:42] majkinetor commented on #1153
This is actually not true. Most of the packages DO NOT put anything on PATH. Portable packages put stuff in bin folder, install packages usually dont, unless native installer does it.

I personally do not need this as I already have this option - everything registers as windows app in registry and you can use [Set-AppKeyAliases](https://github.com/majkinetor/posh/blob/master/MM_Admin/Set-AppKeyAli

[2018-12-14 02:59] RedBaron2 commented on #1146
Progress is being made for the update of this package. Just working on the install scripting now.
Will work on submitting a WIP next week 🤞

[2018-12-14 09:30] dimqua opened #1167 "(firefox) Add EME-versions support"
Is it possible to add support for [EME-versions](https://ftp.mozilla.org/pub/firefox/releases/64.0/) to existing [firefox](https://chocolatey.org/packages/firefox) package? Without creating a new one. I suppose, an additional parameter can be added to the package to accomplish this.

[2018-12-14 11:00] luzpaz commented on #1146
@RedBaron2 please reach out to @sgrogan in the [FreeCAD forums](https://forum.freecadweb.org/viewtopic.php?f=8&t=31893) to coordinate your efforts. He mainly directs the Linux and Windows FreeCAD builds.

[2018-12-14 20:03] sgrogan commented on #1146
Hey guys!
The reason that the versions don't match is that I have a problem with the x86 build on my system. The update actually had more to do with OSX so I haven't worked too hard to fix it. FreeCAD is getting ready for an 0.18 release so my time has been spent on that.

If you have any thoughts on https://forum.freecadweb.org/viewtopic.php?f=10&t=32738 I'd be interested.

[2018-12-14 23:02] RedBaron2 commented on #1146
@luzpaz
I just posted on the FreeCAD Forum about finding the "freecad-daily" mentioned by @sgrogan

I am also posting here since @sgrogan has joined here too.
I can't seem to find any reference to the "freecad-daily" for windows builds.
Thanks to all for any Assistance

[2018-12-15 21:17] rasa commented on #1047
I had the problem again, and php73 is now the latest version:
[code]

[2018-12-17 08:29] hugobuddel opened #1168 "(everything) Conflicts with Everything game from steam"
I've got both the [steam game Everything](https://store.steampowered.com/app/582270/Everything/) and the [search app Everything](https://chocolatey.org/packages/Everything) installed. IIRC, the game was installed first, but not sure. Chocolatey detects the steam game as the location of the Everything search app when doing a `choco upgrade`.

It seems to install the search app in the proper directo

[2018-12-19 11:44] gep13 commented on #1143
@dimqua this is being reported by a few people, but currently, we haven't been able to get a handle on what is causing the problem 😢

[2018-12-19 11:45] dimqua commented on #1143
@gep13 the problem has been fixed for me few days ago. :-)

[2018-12-19 15:26] hs-hub-world opened #1170 "Choco Package Manager (offline installation)"
Hello, not sure where to log this request. this is related to the offline package manager installation script located on this site: https://chocolatey.org/docs/installation#completely-offline-install

I have two requests - which I am sure it will help others.
#1- can you please add something in the script that checks for available disk space. Here is a sample
[code]

#2- For the variable $localCho

[2018-12-19 15:39] AdmiringWorm commented on #1170
I'm sorry, but this is the wrong repository for such requests.
This repository is only for issues/requests for the packages maintained in this repository.

I believe the repository you're looking for is: https://github.com/chocolatey/choco-wiki (I could be wrong though).

[2018-12-19 15:39] #1170 closed

[2018-12-22 06:08] drelatgithub commented on #1143
I'm not requiring a fix or action because I understand that this problem might not be within the scope this repository and the reason is hard to locate, but just fyi the problem re-emerged for recently updated package for poi 10.0.0-beta1.

[2018-12-24 17:55] majkinetor commented on #1168
Hah, nice catch and game info :) I will see what I can do about this but probably chocolatey-core module needs to take this into account.

[2018-12-24 21:52] bcurran3 commented on #1092
I just published it:
https://chocolatey.org/packages/open-shell/4.4.131

[2018-12-26 03:45] T1mL3arn opened #1172 "(qbittorrent) is not updated if it is running during installation"
## Expected Behavior

Actual upgrading (or downgrading) of qbittorrent.

## Current Behavior

Installation behaves normal from choco view, but actually, qbittorent is not updated, e.g. if its version vas 4.1.4 its stays the same after upgrading. Here "its version" means real version on qb (which can be seen in Help -> About). On the other side, package version in choco changes.

## Possible Soluti

[2018-12-27 20:30] SharpSeeEr opened #1173 "(git.install) Add options to separately disable Shell Integration option"
## Expected Behavior

Add separate Shell Integration options:

* NoShellHereIntegration - disable the _"Git Bash Here"_ entry in context menus
* NoGuiHereIntegration - disable the _"Git GUI Here"_ entry in context menus

## Current Behavior

The current option only allows enabling or disabling both.

## Possible Solution

I have modified the [automatic/git.install/tools/helpers.ps1](https://github

[2018-12-27 22:53] RedBaron2 commented on #1146
Quick question do we need to create desktop icons for the dev versions?
Also do we just delete the created directory for the dev versions?

[2019-01-02 01:31] drelatgithub commented on #1143
Happy new year fellas!

It seems that the problem still persists for about 3 days for the 10.0.0 version of poi (stable release). The package was rejected by the server with a (seemingly truncated) message (different from the one in the original post)

Attempting to push poi.10.0.0.nupkg to https://push.chocolatey.org Failed to process request. 'This package had an issue pushing: Exception of type

[2019-01-02 08:24] kintrupf opened #1174 "(totalcommander) Install only x64 version on x64 system"
When installing Total Commander on an x64 system both the x32 and the x64 versions are installed, including desktop icons and such.

There are separate installers available for x32 and x64 systems on the Total Commander website, so it would be great if these installers are either downloaded on demand or included in the nupkg file instead of the combined version.
I think there is very seldom a need

[2019-01-02 10:00] Foadsf opened #1175 "(julia) v1.0.3 target is not correct"
Updated all of my packages including Julia, but it does not open now:

![0uhes67alu](https://user-images.githubusercontent.com/12762442/50587187-31294580-0e7d-11e9-9f3d-b974c8822b16.gif)

Reported the issue on the Chocolatey page [here](https://t.co/Es1vIrEfWi), and then tweeted to @gep13 [here](https://twitter.com/fsfarimani/status/1080370429632700416). the result of `julia --shimgen-help` is:

a

[2019-01-02 10:07] gep13 commented on #1175
@Foadsf can you confirm what operating system you are on?

I installed the julia package on the Chocolatey Test Environment (which is Windows Server 2012) and the package installed correctly, and the generated shim pointed at the correct location:

![image](https://user-images.githubusercontent.com/1271146/50587521-2d45f500-0e76-11e9-9915-3624f1a1375f.png)

Was this an upgrade of the julia package

[2019-01-02 11:00] Foadsf commented on #1175
- My operating system is Windows 10 version 1803 (OS build 17134.472)
- I have a script which updates all of my choco packages every two weeks. So I suppose I previously had v1.0.2 installed.
- I also tried uninstalling and installing again. same issue.

P.S. Maybe a suggestion: Windows Server 2012 is pretty uncommon OS to be used as a test environment IMO. I know @gep13 is using mac so installing

[2019-01-02 16:44] majkinetor commented on #1144
No extra packages please. Dependency on AHK is not a big issue as many packages already have it and its already on the system for majority of users and if not, it is tiny.

I think second option should be used, and AHK script should be fixed to take popup into account.

[2019-01-02 16:49] majkinetor commented on #1174
Not really a big issue, and it was done to simplify already complex installer script (tc uses custom installer).
You may also need it for some plugins eventually.

The package also states that in notes so it is by design:

Given that the size difference is tiny, just delete the shortcut you don't need.

[2019-01-02 16:49] #1174 closed

[2019-01-02 17:01] drelatgithub commented on #1175
The problem does not seem to exist on a clean install, but will happen when upgrading from version 1.0.2 to 1.0.3. So the workaround of uninstalling (uninstalling in chocolatey and manually deleting any remaining binary and shim) and reinstalling worked for me.

It seems that when upgrading from 1.0.2 to 1.0.3, the function `Get-AppInstallLocation 'Julia*'` returned `C:\ProgramData\chocolatey\bin`

[2019-01-02 21:39] fabiendelpierre opened #1176 "MSYS2: Unattended install via Packer hangs after "SYSTEM UPDATE 3" step"
Hi there,

## Context

I'm trying to install Ruby and MSYS2 onto a Windows Server 2016 instance. I want to do it with Packer because ultimately I'm putting together an AWS AMI to be used in an autoscaling group. In the end this is supposed to be a Jenkins slave node. I have extra steps in the Packer build to install Java and a Jenkins swarm client, but I've removed those bits for troubleshooting.

[2019-01-03 06:50] cinderblock opened #1177 "(putty) should depend on putty.install not putty.portable"
## Expected Behavior
`choco install putty` should install via `putty.install`.

## Current Behavior
`choco install putty` [depends on](https://chocolatey.org/packages/putty#dependencies) `putty.portable`.

## Context
The [FAQ says](https://chocolatey.org/faq#what-is-the-difference-between-packages-no-suffix-as-compared-to-install-portable):

Previous discussions:
 - https://chocolatey.org/packages

[2019-01-03 14:45] fabiendelpierre commented on #1176
FWIW the package installs fine if, instead of using Packer to bake into the image, I install it via user data when the AWS instance starts...

[2019-01-03 16:48] drelatgithub commented on #1175
@Foadsf Thanks for the information and I can confirm. Just realized that the uninstallation is also buggy when multiple versions are installed :(

Unfortunately it seems harder to fix because the part where 4 options appear happens before `chocolateyuninstall.ps1` is executed. I'll look into the actual registration key written after installing different versions of Julia to try to locate the reaso

[2019-01-03 17:42] Foadsf commented on #1175
@drelatgithub Thanks a lot. Hopefully there will be clean way to fix this.

**P.S.** @gep13 I wish there was something like `brew doctor` which could diagnose issues and return some suggestions to fix them.

[2019-01-04 08:50] gep13 opened #1179 "(mixxx) Entity Too Large Exception"
Looks like the mixx package, which is an embedded package has grown too large in order to be pushed to chocolatey.org:

Is there a precedence for what to do in this case?  Should this no longer be an embedded package?

@majkinetor @AdmiringWorm

[2019-01-04 08:52] AdmiringWorm commented on #1179
Well, since it has grown too large. We really don't have any other option than to change it back to a non-embedded package 🙁

[2019-01-04 10:54] gep13 commented on #1175
Maybe a suggestion: Windows Server 2012 is pretty uncommon OS to be used as a test environment IMO

Due to the fact that a lot of people use Chocolatey in older environments, it has been a long standing decision to use a base Windows 2012 image, with no updates on it, for the testing environment.  This has allowed package maintainers to find and correct a number of dependencies that were not known

[2019-01-04 10:56] gep13 commented on #1175
I wish there was something like brew doctor which could diagnose issues and return some suggestions to fix them.

This certainly would be a nice feature, but also not an easy one to implement, given the number of ways that things can go wrong on Windows.

[2019-01-04 20:55] teknowledgist commented on #1144
I submitted a PR that should resolve this issue using `2.` above.  I'm not very well versed in GIT, so I'm not sure if the failed checks and conflicts are something I need to do something about or an expected result.

Hope I'm being helpful.

[2019-01-04 23:02] majkinetor commented on #1179
We can make 2 packages by arch too.

But as far as I can see v2.2.0 combined is 220MB and limit is defined as 300 so you either silently reduced the maximum size or there is a bug. It look like core Chocolatey guys really need to take care of this recent embedding issues (as nobody else can). As it is, its totally demoralizing for this repository, my personal interest is dropping fast.

[2019-01-04 23:14] majkinetor commented on #1177
Perhaps, but now we can't change just dependency as people want putty on path, so to do this I believe putty.install will need to create shims.

I personally think this is irrelevant.

[2019-01-05 16:22] majkinetor opened #1180 "(picard) Requires x64 bit version"

[2019-01-05 17:14] drelatgithub commented on #1143
The push error still exists on upgrading to poi version 10.1.0. Somehow the problem likes to stick with this particular package.

Due to the high reproducing rate (4 out of 5 updates) and each of them persisted for a long time (could not resolve on its own during updating cycles), I think it might be appropriate to reopen the issue.

[2019-01-05 17:19] AdmiringWorm commented on #1143
As you said previously, this is out of the scope of this repository, and honestly nothing we can do here to fix that.

Please subscribe to the issue opened in the chocolatey.org repo instead: https://github.com/chocolatey/chocolatey.org/issues/613

[2019-01-05 17:19] #1143 closed

[2019-01-07 15:17] #1043 closed

[2019-01-07 16:16] nagromc opened #1181 "(gpg4win*) Let users provide a custom `gpg4win.ini`"
## Expected Behavior

I would need a way to provide a `gpg4win.ini` path, as per described in the [Compendium](https://gpg4win.org/doc/en/gpg4win-compendium_35.html).

## Current Behavior

Currently, `choco install gpg4win` doesn't provide such an option.

## Possible Solution

Maybe use a [`--param` Chocolatey option](https://chocolatey.org/docs/helpers-get-package-parameters) to provide a `gpg4w

[2019-01-07 19:19] AdmiringWorm commented on #1181
You can actually do this already, just not through a package parameter.

You can pass arguments directly to the installer when calling choco install.
For instance:
[code]

I don't disagree with having this as a package parameter though.

[2019-01-08 06:47] #1144 closed

[2019-01-08 07:39] nagromc commented on #1181
Oh I was looking for this option. And all I could find was the `--param` Chocolatey option. I'm quite new to Chocolatey 🙂

Thanks for pointing that out.

[2019-01-08 15:25] JonasDralle opened #1182 "(qTox) Qtox is outdated"
Package qTox is outdated. Maybe the automatic updater broke.

## Expected Behavior
repo has current version, 1.16.3 (2018-07-21)

## Current Behavior
repo has outdated version 1.14.1 (2018-04-03)

## Possible Solution
depends on what's broken. Maybe the package source changed (?)

## Context
Issue https://github.com/chocolatey/chocolatey-package-requests/issues/517 was raised. With this issue I at

[2019-01-09 11:10] cclauss opened #1183 "Add support for Python 2.7.15 and 3.5.6"
https://chocolatey.org/packages/python
* choco install python --version 2.7.15
* choco install python --version 3.5.6

## Expected Behavior

Install of these current versions

## Current Behavior

choco install python --version 2.7.11  # works but is not the latest and greatest
choco install python --version 3.5.4  # works but is not the latest and greatest

## Possible Solution

## Steps to Repro

[2019-01-09 11:53] cclauss commented on #1128
__choco install python__ already creates a __py__ executable that is distinguished from __python.exe__ (legacy Python).  This aligns perfectly with https://docs.python.org/3/faq/windows.html

[2019-01-09 12:33] majkinetor commented on #1128
Thanks @cclauss for the valuable info.

[2019-01-09 12:33] #1128 closed

[2019-01-09 12:38] majkinetor commented on #1183
Python packages support streams. Python3 update.ps1 for example looks here:

- https://www.python.org/downloads/windows/

where 3.5.6 isn't listed so its upstream problem.

[2019-01-09 12:38] #1183 closed

[2019-01-09 12:41] majkinetor commented on #1182
Updater looks at Jenkins builds here:

- https://build.tox.chat/view/qtox/job/qTox_pkg_windows_x86-64_stable_release/

Those are disabled, so we need to switch to Github releases which provide binaries for Windows for last couple of versions.

[2019-01-09 13:03] cclauss commented on #1183
Understood.  That explains Python 3.5.6 but not 2.7.15...
* That release is here https://www.python.org/downloads/windows/
* But this fails https://travis-ci.com/cclauss/itinerant-tester-windows/jobs/169196524#L27

[2019-01-09 13:08] majkinetor commented on #1032
Thanks, I added note to readme.

[2019-01-09 13:08] #1032 closed

[2019-01-09 13:39] majkinetor commented on #1183
The stream versions are kept at:

- https://github.com/chocolatey/chocolatey-coreteampackages/blob/master/automatic/python2/python2.json

It shows 2.7.15 is the latest. Here is the adequate [report](https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/557312b7c41cf804dfe5e88e17488a054ac6443d#pushed) where it is shown that it was pushed.

The package is there and it works:

- https://

[2019-01-09 13:47] majkinetor commented on #1183
Actually, the MAIN problem with python2 is that it is not embedded into package yet which will render all packages non usable eventually.

I did some work on it and it looks like its working but I never tested it enough nor I have motivation any more. With embedded package you can target *.nupkg directly from Github and it will work in case you have some strange chocolatey problems.

I can publish

[2019-01-09 14:20] cclauss commented on #1183
I will use https://chocolatey.org/packages/python2/2.7.15...  Thanks.

[2019-01-09 23:26] Foadsf opened #1184 "Feature request: compile packages from source"
I think I have asked for this feature before but I'm not able to find it now. Sorry in advance if it is a duplicate.

**What:**
Following the discussions with @gep13 [here on Twitter](https://twitter.com/fsfarimani/status/1083130861111967746) and @pauby [here](https://github.com/chocolatey/chocolatey-package-requests/issues/376#issue-342304758) I'm proposing to add compile from source feature:

`c

[2019-01-10 15:41] majkinetor commented on #1179
Package size has nothing to do with _rate-limiting_. Could you configure Cloudflare to allow previously set 300MB size ?

You must be aware that in the age of electron apps 200MB is way to little.

[2019-01-10 15:44] AdmiringWorm commented on #1179
Actually it has everything to do with the rate-limiting, because there was a need to change to use Cloudflare (from my understanding).

and since Cloudflare have a maximum value of 200MB (it can't be increased further), it was necessary to decrease the limit.

^^ is from my understanding on the changes that were necessary to implement.

[2019-01-10 15:47] AdmiringWorm commented on #1043
@jtcmedia would you be interested in having the `gnupkg-modern` package migrated to this repository?

[2019-01-10 15:50] majkinetor commented on #1184
Wrong place to post this. You want https://github.com/chocolatey/choco.

Although this is technically doable during the update, I don't think this is something we will ever see here due to fantastic amount of work involved for random package for next to zero benefit - all the stuff you mentioned are either not worth it or incorrect.

[2019-01-10 17:55] gep13 commented on #1179
Package size has nothing to do with rate-limiting.

It actually has everything to do with it, and that is why I said it, but let me re-state...

Due to the fact that we implemented rate limiting (which has resulted in a far more stable Chocolatey Community Repository, which previously regularly required maintenance), **all** requests now go through Cloudflare, rather than going directly to the sit

[2019-01-11 09:35] mkevenaar opened #1186 "(1password) Installation failed due to change in installer"
## Expected Behavior
1password to be updated

## Current Behavior
Failing with an error message
[code]

## Possible Solution
Change silent installation parameters.

See [package discussion](https://chocolatey.org/packages/1password#comment-4278495253)

## Steps to Reproduce (for bugs)
1. Just install / update 1password

## Context
Update of 1password is failing, resulting that one can't install th

[2019-01-11 10:49] Foadsf commented on #1184
@majkinetor is there anyway to move this ticket to the right place? Or I have to reopen it there?

[2019-01-11 11:23] gep13 commented on #1184
is there anyway to move this ticket to the right place? Or I have to reopen it there?

Best to open a new ticket.

[2019-01-11 13:14] #1184 closed

[2019-01-11 13:15] #1176 closed

[2019-01-11 13:22] majkinetor commented on #1179
OK. We should discontinue mixxx then since it no longer works.

OR, we keep the package and post updates to Github releases instead until happier future arrives. If we do that, installing mixxxx directly from releases will be no different then using choco iteself.  I use on my own repo [cinst-gh](https://github.com/majkinetor/au-packages/blob/master/cinst-gh.ps1) (it installs from repository, not

[2019-01-11 15:56] CollinChaffin opened #1187 "(everything) Package param REQ: add an additional switch to prevent service creation (ie. /no-service)"
Package:  `everything`
https://chocolatey.org/packages/Everything

It is fairly common scenario where the addition/installation of the Everything service is not allowed/desired, especially in cases of Win7 where UAC is already disabled making it not only unnecessary, but also introducing the ability of all users gaining access to search data.

Since pretty much every other possible switch that is

[2019-01-11 17:22] shrabok-surge opened #1188 "(nssm) VirusTotal results contain positive vulnerability detections"
## Expected Behavior
The most recent nssm.exe files are reported as having positive vulnerability detections.
https://www.virustotal.com/file/682f1025b4c410ae78b1c5bdc4de7ad315f2eff292c66947c13969930028c98d/analysis/

If using the chocolatey virus check feature (https://chocolatey.org/docs/features-virus-check) this is an issue. As well when checking the latest nssm package from the provider (http

[2019-01-11 17:39] AdmiringWorm commented on #1188
It is the latest nssm release from the provider, which you can verify yourself by following the steps in the `VERIFICATION.txt` file.

Anyways, I'll need to refer to @majkinetor for this software, as I don't have any experience with it at all.

[2019-01-11 17:43] AdmiringWorm commented on #1179
Or just convert the package back to download mixxx from the web during install.

[2019-01-11 18:06] ferventcoder commented on #1184
@majkinetor I agree with you. I elaborated a bit more on this as well - https://github.com/chocolatey/choco/issues/1709#issuecomment-453605012

[2019-01-11 18:20] majkinetor commented on #1179
Meh.

[2019-01-11 18:21] Be-ing commented on #1179
Hi, Mixxx developer here. @wget asked about this on our [Zulip chat](https://mixxx.zulipchat.com/#narrow/stream/109171-development/topic/chocolatey). The reason for the increased package size with 2.2.0 is probably the switch from Qt4 to Qt5. We statically link our builds to keep package size down by excluding unused symbols from libraries, so I'm not sure there's much we can do to reduce our inst

[2019-01-11 18:32] majkinetor commented on #1179
You shouldnt do anything as its not your problem really.

Its not that I have somethimg against ur download place but its antipattern for reasons explained in contributing guide and makes package non cashable on artifact managers.

I own a music production studio and my setup is automated. Projects may not play the same on different sequencer versions and thats why having stable and long living pa

[2019-01-11 20:55] wget commented on #1179
Btw, I have checked the ability to send data in chunk, this seems really easy to do. We have a nuget chocolatey repo where all our changes are. We just require simultaneous update with the server.

In the mean time. We can close this issue. Pull request fix: #1189

[2019-01-11 20:55] #1179 closed

[2019-01-11 21:02] gep13 commented on #1188
As well when checking the latest nssm package from the provider

Just to clarify this point slightly...  The latest package version of the nssm Chocolatey Package (https://chocolatey.org/packages/NSSM/2.24.101.20180116) uses the pre-release version of nssm (as mentioned in this commit (https://github.com/chocolatey/chocolatey-coreteampackages/commit/b16fe82313418bec7de34d46ac50fa12285b7492#diff-b8

[2019-01-12 22:56] majkinetor commented on #1180
Current problem is that arch versions differ so nothing can be done in this moment.

https://picard.musicbrainz.org/downloads

[2019-01-13 19:31] AdmiringWorm commented on #1180
From my gathering in their changelog, 2.0+ will only support 64bit.
https://github.com/metabrainz/picard/blob/master/NEWS.txt

[2019-01-13 21:03] majkinetor commented on #1180
Well, then, it looks like its already good, its just named incorrectly by AU (with _x32 prefix), so its not a big deal. I will close this.

[2019-01-13 21:03] #1180 closed

[2019-01-13 21:09] mkevenaar commented on #1186
I have tried to solve this, got updates working, but new installation fails with an permission error from installer.

[2019-01-13 21:35] bcurran3 commented on #1149
Kim,

I just installed on this on a Windows Server 2012 R2 machine.

I noticed some different behavior.

Being on a server, it's not the "free" version but a "trial" version.

It also did not install EaseUS Todo Backup.

The program did not auto-run.

If you are testing on a server version of Windows, it explains why you and I get different results!

[2019-01-13 22:03] AdmiringWorm commented on #1149
That would indeed explain the reason why, I did use the server image (the same one recommended to be used for testing package).

Unfortunately I don't have any client VM's available to be used, so I couldn't test that.

Not really surprised on that though.

I did have a look through the installer script used for the installer (extracted using `innounp`), and from what I can see, there is no way to

[2019-01-14 00:03] bcurran3 commented on #1149
Stopping the program on Workstation installs is a paramount request.

Things to consider:
* Changing the package title from "EaseUS Partition Master (Free) " to "EaseUS Partition Master (Free/Trial)"
* adding removing EaseUS ToDo Backup in the uninstall script (if found)

Thanks for continuing to look into this.

[2019-01-14 13:15] #1181 closed

[2019-01-14 13:15] AdmiringWorm commented on #1181
This have now been added to the source.
It won't be available until the next version of gpg4win is released though

[2019-01-14 13:54] AdmiringWorm commented on #1175
I think I've found the reason for why this is happening.

The problem is that one of the functions we're using to locate the Julia install directory, is most likely also picking up the shim file.
Because it's picking it up before the actual install directory, it probably creates a conflict when trying to create the shim (it can't create a shim in the same place as the location of the executable, a

[2019-01-14 13:55] majkinetor commented on #1187
Not terrible securrity issue really, given that you still can't access data.

It was like that BTW, but people had more problems with non service variant so I made it default. Its tones better to work as a service for everybody.

I wouldn't mind PR but I personally have 0 incentive to change this particularly as it can't be done with 5% of the brain in this case.

[2019-01-14 13:56] AdmiringWorm commented on #1175
Why it still creates the shim, and not throwing an error is beyond me though (since the file it tries to create it for doesn't exist).

[2019-01-14 16:59] drelatgithub commented on #1175
@AdmiringWorm According to the package creating documentations, it seems that the `chocolateyBeforeModify.ps1` will be executed both before upgrading and before uninstalling. So as a workaround, do you think it is conceptually fine to simply change the name of the current `chocolateyUninstall.ps1` to `chocolateyBeforeModify.ps1`, so that the actual uninstalling scripts are executed before upgradin

[2019-01-14 17:02] AdmiringWorm commented on #1175
@drelatgithub Afraid not.

If the script `chocolateyBeforeModify` would abort the uninstall/upgrade, I would say yes it would be  acceptable.

Since the uninstall script is expected to fail if there is something wrong, we can't do that.

However, only moving the call to `Uninstall-BinFile` to `chocolateyBeforeModify` should be enough IMO

[2019-01-14 19:20] WillPresley opened #1192 "(everything) Cannot install or upgrade using latest version"
## Expected Behavior
Everything should update or install like normal for a Chocolatey package.

## Current Behavior
The process fails with the following error message:
[code]

## Steps to Reproduce (for bugs)

1. Run `choco install everything` or `choco upgrade everything`
2. Receive error message.

## Context
Noticing while running a weekly `cup all` at work.

## Your Environment

* Package Versi

[2019-01-14 19:41] majkinetor commented on #1192
Could you give the content of your tools folder ?

[2019-01-14 19:48] WillPresley commented on #1192
I can only assume you meant `dir /s C:\ProgramData\chocolatey\lib\Everything\` as the one you gave isn't a valid command. Here is that output:
[code]
Seems like the newest installer is not being downloaded.

[2019-01-14 20:16] majkinetor commented on #1192
As I suspected you have leftovers of previous versions. Delete them and it will work. Its strange how you got this since it should have been deleted after previous install, and if it didn't, the install would fail.

* https://github.com/chocolatey/chocolatey-coreteampackages/blob/master/automatic/everything/tools/chocolateyInstall.ps1#L14

[2019-01-14 20:20] #1192 closed

[2019-01-14 20:20] WillPresley commented on #1192
Thank you for the help. Removing the Setup exe and ignore files and re-running the command takes care of the issue. I'm also not sure how it could have happened, but I will keep an eye on things and find a cause if the issue resurfaces. Thanks again!

[2019-01-15 20:41] rasa commented on #1047
Still having the problem upgrading from php 7.3.0 to php 7.3.1. The [above](https://github.com/chocolatey/chocolatey-coreteampackages/issues/1047#issuecomment-447598493) fixed it (again):
[code]

[2019-01-15 21:52] logue commented on #1047
In a method of evacuating to php.bak and upgrading, need to reinstall the dependency composer, so I want somehow.

[2019-01-16 09:18] NicoHaase commented on #1047
@rasa have you updated Chocolatey to the latest beta version? The stable version does not contain a fix yet

[2019-01-16 10:16] cclauss commented on #1128
__python.exe__ is the main executable and the shim is properly put in place for it but there is often a need to have access to both Python 2 and Python 3 so the __python__ vs. __py__ trick mentioned above enabled that.

__pip.exe__ is a _secondary executable that is installed when Python is installed but ___no shim is put in place for pip___.  On other platforms __pip2__ provides access to pip for

[2019-01-16 13:06] cmorty commented on #1128
@cclauss See, I got you! You wrote `python3 -m pip` in the first version of your comment. ;) And that would be super-intuitive, as it's in line with most linux-distros.
BTW: I have no idea who had the great Idea to use "py.exe" as executable, for win, as this is a python command line interpreter in most linux distros (http://manpages.ubuntu.com/manpages/cosmic/man1/py.1.html and https://github.com

[2019-01-16 13:34] #1090 closed

[2019-01-16 13:43] AdmiringWorm commented on #1090
@coldacid this was fixed in the source now thanks to @jack1142

A fix version have also been pushed to chocolatey, and should be available soon

[2019-01-16 14:06] AdmiringWorm commented on #1175
I've started working on fixing this bug now.
Just need to do some testing before a fix version can be pushed.

[2019-01-16 14:40] #1175 closed

[2019-01-16 15:08] AdmiringWorm commented on #1172
if you restart qbittorrent afterwards, do it still show as the previous version?

If it doesn't, IMO this isn't really that big of a deal.

[2019-01-16 15:42] AdmiringWorm commented on #1009
@bcurran3 sorry about the long silence, but yes you're assuming correct.
This package is indeed being updated through AU.

This issue is marked as an `Up for Grabs`, so it's unlikely that any change will be implemented by anyone part of the team in this repository.

Would love it if anyone would be interested in opening a PR for this though.

[2019-01-16 15:58] thendarion opened #1198 "(notepadplusplus.install) shim misses the mark"
notepadplusplus.install messes up the install directory, so it creates a shim that points to nowhere.
this doesn't happen on a fresh system but when it has (or maybe previously had?) notepad++ installed.

## Expected Behavior
notepadplusplus.install finds the install location of notepad++.exe and creates the shim accordingly

## Current Behavior
[code]

I found this in my registry
[code]
so I don'

[2019-01-16 16:37] AdmiringWorm commented on #1198
Thank you for opening this issue, as I mentioned on the disqus forum I plan to look into this. (Hopefully sometime this week).

[2019-01-16 19:54] rasa commented on #1047
@NicoHaase:
https://www.google.com/search?q=chocolatey+beta  returned https://chocolatey.org/packages/chocolatey which says to run:
   `choco install chocolatey --pre`
but that's a no-op on my box:
[code]
Any ideas?

[2019-01-16 20:05] NicoHaase commented on #1047
You could try running it with a specific version number like:

`choco install chocolatey --version Chocolatey 0.10.12-beta-20181011 --pre `

[2019-01-16 20:16] AdmiringWorm commented on #1047
@rasa @NicoHaase
or just do `choco upgrade --pre` which would be the correct way to ugrade to a beta release.

[2019-01-16 20:23] rasa commented on #1047
@AdmiringWorm @NicoHaase Doh, of course. Thanks for help, and sorry for the noise.

[2019-01-16 21:46] bcurran3 commented on #1009
Kim,

I'm willing to do it (and probably others after I get over the hurdle).

Admittedly my GitHub use is more self-centric and the PR process to OP's repositories is still new to me. Please help me through the process. I get stuck here:

![image](https://user-images.githubusercontent.com/14026600/51280595-ecc99980-1994-11e9-8b49-87acf18316e6.png)

[2019-01-16 21:50] AdmiringWorm commented on #1009
Yes, you will need to create a fork first.

This is because you don't have write access to this repository

[2019-01-16 21:50] AdmiringWorm commented on #1009
Be careful, or you'll get the knife 😛

[2019-01-16 21:51] bcurran3 commented on #1009
Thanks for the confirmation.

Once I make the changes... in general terms how do I submit? (Please just don't reference submitting guidelines).

knife - :)

[2019-01-16 21:56] AdmiringWorm commented on #1009
Well, we can take it step by step.

1. ~Fork the repository~ (which you already did)
2. Create a new branch (truly recommended)
3. Make your changes and commit them
4. Push your changes to your own fork
5. Navigate to github (either your own fork, or this repo), and you'll notice a prompt showing up to create a PR
6. Input all the requested details in the PR template (remember to prefix the title

[2019-01-16 22:30] bcurran3 commented on #1009
Thanks. Will re-review to digest that and run with it when I have the time.

[2019-01-16 22:35] AdmiringWorm commented on #1009
if you're using the git client, it's quite easy to do. On your computer, just do `git checkout -b name-of-branch`

[2019-01-17 18:45] ndroftheline commented on #1186
same problem.

[2019-01-18 04:34] T1mL3arn commented on #1172
I did notice if I do upgrade, e.g. from 4.1.4 to 4.1.5 ( via `cup qbittorrent` ) qb will be closed and then properly updated. Thanks for fixing!

But if I downgrade then ( via `cinst qbittorrent --version 4.1.4 -f -y` ) it behaves the same way as before - qb is not downgrading. Is this expected behavior due a new installation script ?

[2019-01-18 12:40] AdmiringWorm commented on #1172
@T1mL3arn yeah, that would be the expected behaviour.
The new script only runs during upgrade (from the previously installed version), and during uninstall.

When you make a forced downgrade, it isn't run at all

[2019-01-18 19:14] #866 closed

[2019-01-18 20:19] majkinetor commented on #866
Thx @jack1142 for finishing this.

[2019-01-18 20:20] jack1142 commented on #866
No problem :)

[2019-01-18 21:09] gep13 commented on #866
Well done to everyone involved in getting this work completed!  😄

[2019-01-20 13:07] noaho opened #1206 "(virtualbox) - Upgrade hangs if virtualbox is open with no VMs running"
## Expected Behavior
When virtualbox window is open, and I call choco upgrade virtualbox, It would be great if virtualbox is quit and the upgrade continues. eg:

"virtualbox is running, quitting virtualbox process."

## Current Behavior
However, it returns nothing from vboxmanage list runningvms, and the virtualbox window stays open, so the process hangs at "virtualbox is running, trying to gracef

[2019-01-21 11:53] Boxwrapper commented on #1186
![image](https://user-images.githubusercontent.com/17933752/51472812-dc416680-1d7a-11e9-89ad-4f81d813d3c2.png)

So apparently the installer finishes correctly if I simply run it without any arguments, also there is no gui only output in powershell ...

[2019-01-21 12:36] AdmiringWorm commented on #1186
@mkevenaar are you able to verify that everything works as expected when not supplying arguments to the installer?

[2019-01-21 12:47] AdmiringWorm commented on #550
@nielsvdp what Windows version are you running? I'm thinking it may be an older version of windows which is causing your issue (can't say for sure yet though)

[2019-01-21 12:47] mkevenaar commented on #1186
@AdmiringWorm I managed to get updates working, but **new install** failed.

I have pushed my changes to https://github.com/mkevenaar/chocolatey-coreteampackages/tree/fix-1password.

[2019-01-21 12:56] AdmiringWorm commented on #550
Just verified that the removal of the old program doesn't work on older versions of windows.

Re-Opening this issue, and am working on a fix now.

[2019-01-21 13:01] AdmiringWorm opened #1207 "(inkscape) Older versions of windows (server 2008R2/7) isn't detecting previous version of inkscape"
## Expected Behavior

The current package should uninstall the previous inkscape version on Windows 7/Windows Server 2008 R2

## Current Behavior

Currently the previous version isn't detected on older versions of Windows (possibly due to running POSHv2)

## Possible Solution

Not sure yet.

## Steps to Reproduce (for bugs)

1. Install Windows 7 or Windows Server 2008 R2
2. Install a previous vers

[2019-01-21 13:01] AdmiringWorm commented on #550
or rather, I submitted it as a new issue #1207

[2019-01-21 13:01] #550 closed

[2019-01-21 13:04] nielsvdp commented on #550
@AdmiringWorm I use Windows 10 1803. Sorry if I missed anything, it's my first time posting an issue.

I originally used ChocolateyGui to upgrade. Now I tried using regular choco from PowerShell and it uninstalled and installed InkScape fine. The uninstallation just took a while.

[2019-01-21 13:11] AdmiringWorm commented on #550
hmm, that's odd. Well, I found it didn't work on older versions of windows, so it could be the same issue as when running through ChocolateyGUI

[2019-01-21 13:13] AdmiringWorm commented on #1186
@mkevenaar do you get an error during install?
If so, what kind (or does it hang).
Could be that we need to rely on autohotkey in the latter case.

[2019-01-21 13:30] mkevenaar commented on #1186
@AdmiringWorm done #1208

[2019-01-21 13:56] AdmiringWorm commented on #550
@nielsvdp hmm, after my changes the issue is still happening in ChocolateyGUI. This leads me to think that there may be a bug in their program, instead of the package (although there was a compatibility issue with it).

As such, I recommend that you open up an issue over at their repository: https://github.com/chocolatey/ChocolateyGUI/issues

[2019-01-21 13:57] #1207 closed

[2019-01-21 15:52] AdmiringWorm commented on #1198
Seems like the changes needed is necessary to be done in the `chocolatey-core.extension` dependency, as such we'll need to fix it there first before we can update the package.

While changing the order when we're checking the `App Path` registy settings, it's unlikely we'll change that right now. However, because of the name `Notepad++` a fix is needed when checking the uninstall part of the regis

[2019-01-21 15:57] AdmiringWorm commented on #1173
@StingRayZA I had a look at the code you changed in your repository, and they looks good to me.

So if you're willing, we would love a PR from your to include these changes 😄

[2019-01-21 16:05] AdmiringWorm commented on #1134
@majkinetor which will only work when using `Win+R`, or if the session have been modified to make use of App Paths.

This won't make it available on the commandline by default.

[2019-01-21 16:20] StingRayZA commented on #1173
Um. @AdmiringWorm I think you accidentally tagged me instead of @SharpSeeEr ... :)

[2019-01-21 16:22] AdmiringWorm commented on #1173
@StingRayZA 😆 ops, must have looked at some other place when I wrote.

Thanks, for referring him for me then, and sorry about the wrong mention.

[2019-01-21 16:53] AdmiringWorm commented on #1149
I looked a little more into this (finally got around to find myself a Client based VM).
The startup of the application I can already say won't be shutdown as it currently stands.
The program only reports itself as `Main`, as such it won't be closed due to the risk of suddenly aquiring a different program when trying to stop the process.

*Haven't yet looked into the uninstall part though*

[2019-01-21 17:45] AdmiringWorm commented on #1149
I'm working on an uninstall script now to allow the uninstallation of the `EaseUS Todo Backup Free` program, however this will be an opt-in when running `choco uninstall`.

The reason I've decided to do an opt-in, is because we can't be sure if it was installed as part of partitionmasterfree, or if the user explicitly installed the program.

This change will be available from the next version of p

[2019-01-21 19:18] #1149 closed

[2019-01-21 19:18] AdmiringWorm commented on #1149
I found a way to what I believe to be a reliable way to close the application.

I've just forced an update run for the package, feel free to test it out when the new version is available.

[2019-01-21 19:19] AdmiringWorm commented on #1149
If you're interested, the following commits contains the necessary code.

Uninstallation: https://github.com/chocolatey/chocolatey-coreteampackages/commit/1fc4c8cfcc785e3ad82eeac56fe1023057cf6bb5

Stopping the program: https://github.com/chocolatey/chocolatey-coreteampackages/commit/47994431775ad6d555057110d81f3590703559f3

[2019-01-23 08:25] noaho opened #1211 "(virtualbox) - Params are not respected on choco upgrade all"
## Expected Behavior
If I specify /NoDesktopShortcut /NoExtensionPack, it will stay that way.

## Current Behavior
/NoDesktopShortcut /NoExtensionPack work until the next package upgrade / choco upgrade, then the extension pack is back and a desktop shortcut is created.

## Steps to Reproduce (for bugs)
1. choco install -y virtualbox --version "6.0" --params "/NoDesktopShortcut /NoExtensionPack"
2

[2019-01-23 10:29] #1211 closed, assigned to nobody

[2019-01-23 18:35] SharpSeeEr commented on #1173
Pull request has been sent!  And may I say, very nice CI process you have here.

[2019-01-25 06:31] NoahO commented on #1211
Thanks!

[2019-01-27 21:49] CollinChaffin opened #1213 "Please fix the Python packages/docs"
After years it still shows incorrect info for Python as:
[code]

This instruction is incorrect on all counts.  When you visit the x86_32 package, it states in big red letters DEPRECIATED and DO NOT USE and instead, use the very `--x86` the package that just sent me stated NOT to do.  So, you install with `--x86` and the result is horrible. Simply reviewing the package community comments quickly re

[2019-01-28 14:26] majkinetor commented on #1213
I already removed that, see https://github.com/chocolatey/chocolatey-coreteampackages/blob/master/automatic/python2/README.md

It will get on gallery on next release.

[2019-01-28 14:26] #1213 closed

[2019-01-29 17:30] wget commented on #1043
@AdmiringWorm @jtcmedia Done.
I'll now add the long awaited warning to the other outdated GPG4win packages.

[2019-01-30 08:51] majkinetor commented on #1173
Thanks 👍

[2019-01-30 08:51] #1173 closed

[2019-02-02 03:49] procdaddy11 commented on #1206
My issue is a bit different, but I still need the same functionality. I’m able to upgrade just fine, but it breaks my Guest OS every time.

Looks like it should be fairly easy to add using ManageVBox

Here is an example of it being done on Ubuntu

https://askubuntu.com/questions/42482/how-to-safely-shutdown-guest-os-in-virtualbox-using-command-line#42484

[2019-02-04 21:37] J-Swift commented on #805
Also just ran into this, I installed git as part of an initial provisioning but I couldn't find the binaries anywhere, then force installed again which worked (I now see a folder at `C:\Program Files\Git`). Here is the output of the force install in case it helps:

[code]

[2019-02-04 22:41] mstick99 opened #1217 "Many embedded packages updated with latency due to push errors"
**Issue reused  and edited by @majkinetor since it was not filled**

---

Many larger embedded packages - which type is majority here - can and will fail to push to gallery until the upstream problem chocolatey/chocolatey.org#613 is fixed.

[Report sample](https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f/3d377aaa83e0012d9855c28aff1123ec08aed0b5#errors)

The error is:
[code]

Pack

[2019-02-05 08:01] majkinetor commented on #805
We still do not get sufficient forensic elements. I installed this package on literally thousands on computers without any problems of this kind.

[2019-02-05 09:22] kaffeekanne opened #1218 "(thunderbird) 64-bit version"
## Expected Behavior
Since it is available and chocolatey aims to install only 64-bit software if possible, a 64-bit version of thunderbird would be very nice to have on recent desktops.

## Current Behavior
Currently only the 32-bit version is installed. the 64-bit version is offered but not advertised by mozilla. i use it sind some months and found the direct link through some german thunderbird

[2019-02-05 14:17] AdmiringWorm commented on #1217
We're aware of the new version of Waterfox. Unfortunately the following issue is preventing the update: https://github.com/chocolatey/chocolatey.org/issues/613

[2019-02-05 18:11] majkinetor commented on #1217
I reused this ticket since I realized that we currently have bunch of packages on errors and this will only go up, and almost never down based on my tests. Repeats and ignores on `updateall`  do not help at all.

At least for me, **this means the end of development and maintenance here or on any AU repo** until the problem is fixed upstream.

/cc @ferventcoder @gep13

[2019-02-06 22:06] bcurran3 commented on #1149
Sorry for such a delay in my part of the conversation.

Got bombarded with a long emergency job and then bombarded by package validator kickbacks, and my own pet projects.

Hopefully I'll find some time to test this out soon and respond to you appropriately.