[2016-11-14 07:01] majkinetor commented on #395
I already did create it but at the end I found that versions are problematic:

- [Foshub](https://www.fosshub.com/nomacs.html) keep fixed file name for installer and versioned for portable
- [SourceForge](https://github.com/nomacs/nomacs/releases) doesn't have newer versions.
- [Their history](http://download.nomacs.org/versions/) lists only portables
- [Github](https://github.com/nomacs/nomacs/re

[2016-11-14 07:03] majkinetor commented on #395
It looks that I can [get the repository](http://nomacs.org/unattended-installation/) and run silent from there. This makes Github page most appropriate I think.

[2016-11-14 07:05] majkinetor commented on #395
Except that gihtub code is not the same as provided repository zip on above page.

[2016-11-14 09:12] majkinetor commented on #157
#254

[2016-11-14 09:12] #157 closed

[2016-11-14 09:13] majkinetor commented on #156
https://github.com/chocolatey/chocolatey-coreteampackages/pull/389

[2016-11-14 09:13] #156 closed

[2016-11-14 10:27] majkinetor commented on #256
This ticket is useless so I'll close it.

[2016-11-14 10:27] #256 closed

[2016-11-14 10:29] majkinetor commented on #142
Closing this one as there is no answer for a long time.

[2016-11-14 10:29] #142 closed

[2016-11-14 10:36] majkinetor commented on #103
I'll close this as there is no activity for almost a year so it looks like there is no motiviation for this change.

[2016-11-14 10:36] #103 closed

[2016-11-14 10:39] majkinetor commented on #99
Closed for a lack of implementation after a year.

[2016-11-14 10:39] #99 closed

[2016-11-14 10:44] gep13 commented on #142
@majkinetor in which case, I will remove the chocolatey user as a maintainer of this package as well then.

[2016-11-14 10:45] gep13 commented on #256
@majkinetor this issue is related to the PR that was created, and which is linked in this issue.  I can understand closing it once the PR is either merged or closed, but not before.

[2016-11-14 10:56] majkinetor commented on #142
Definitelly.

[2016-11-14 10:57] majkinetor commented on #256
There is no value in it, PR itself is a form of an issue.

[2016-11-14 10:57] majkinetor commented on #256
Furthermore, it will stay linked from PR, it just doesn't have to stay open and get me 10s lost each time I browse the issues since there is no action to be done here.

[2016-11-14 11:01] gep13 commented on #256
In the case of this issue, I think I would agree with you, but in general, no I don't agree.

Creating an issue first to discuss a topic is far better than discussing in a PR.  Too many times I have been in a situation where work has been done in a PR that hasn't been able to be merged (which means wasted effort on the part of the contributor) that could have been saved by first discussing the int

[2016-11-14 11:10] gep13 commented on #61
Looks like each of these packages have been created.  While the could, and perhaps should, be moved to the core team packages repo is another question.  For now, I think we can close this out.

[2016-11-14 11:10] #61 closed

[2016-11-14 11:40] majkinetor commented on #256
If I ever want something **generally**, I will always explicitelly say so. Otherwise, everything is contextual.

[2016-11-14 11:42] majkinetor commented on #61
SGTM. We can tackle that problem later and create different ticket for it.

[2016-11-14 15:21] majkinetor commented on #289
Deprecated

[2016-11-14 16:13] C-Duv commented on #264
I can confirm it is fixed: no new browser window after installation :+1:

[2016-11-14 18:36] AdmiringWorm commented on #296
@majkinetor I had already started working on this one, before you self-assigned yourself.
sorry

[2016-11-14 20:44] majkinetor commented on #296
No big deal, I just started.

[2016-11-14 20:55] silentcoast commented on #176
@cwiggs thanks for posting. Just installed fresh today and still having the same issue your work around fixed it.

[2016-11-14 22:49] majkinetor commented on #212
f69bde0d2bc244606c1892f0b4fedf774702efc1

[2016-11-14 22:49] #212 closed

[2016-11-15 08:03] fatso83 commented on #200
@AndrewSav: #125 only fixes the issue for older installs. See [the author's comment](https://github.com/chocolatey/chocolatey-coreteampackages/pull/125#issuecomment-220357060) which says this issue (#200) is blocking it.

[2016-11-15 17:22] majkinetor commented on #254
[report](https://gist.github.com/bd2eaa76f2a9ab739ca0544c502dca6e/ff979354673138e59b21dce39b9d5c2839208d09)

[2016-11-15 17:22] #254 closed

[2016-11-15 19:14] AndrewSav commented on #200
@fatso83 the way I read it, it "blocks" it in terms that this issue that needs to be fixed. And the fix is in the referenced PR. It does not "block" it in the sense that _another_ fix need to be in place first. Am I wrong?

[2016-11-15 22:53] RiseT commented on #282
Don't you feel this is rather a workaround than a real and long-term solution? Everyone using a standard, i. e. non-admin user account will have this issue.

[2016-11-15 23:13] majkinetor commented on #236
Can't confirm it with latest cygwin.

[2016-11-15 23:13] #236 closed

[2016-11-15 23:14] majkinetor commented on #282
Sure it is, just sayin' what you can do if it troubles you now.

[2016-11-15 23:45] RiseT commented on #282
Alright then - thanks for taking the time!

[2016-11-16 00:15] majkinetor commented on #282
I am not sure what can be done tbh if the software doesn't provide some means to do so. Or Perhaps `Start-ProcessAsNonAdmin` is in check for cases like this.

But this is basically the case for many pacakges. For instance some tools keep profiles in Program Files (example - ConEmu does this by default). Perhaps its

[2016-11-16 06:09] ferventcoder commented on #282
So, there are a couple of things you can do here related to choco - I'm guessing you've read over https://chocolatey.org/install and you've probably seen the option for a non-administrative installation. Maybe that is out and you want to keep Chocolatey in the default install location - there is something you can do so that your user in a non-administrative context has permissions -as noted at htt

[2016-11-16 06:12] ferventcoder commented on #282
So if you create a machine or user level variable set as requested and then rerun an install of choco, you should be good. HTH.

[2016-11-16 08:05] fatso83 commented on #200
Seems like this is about to get fixed :-)

[2016-11-16 08:21] #73 closed

[2016-11-16 08:21] #85 closed

[2016-11-16 08:21] #101 closed

[2016-11-16 08:21] #150 closed

[2016-11-16 08:21] #176 closed

[2016-11-16 08:21] #200 closed

[2016-11-16 08:25] majkinetor commented on #199
Works fine in test environment

[2016-11-16 08:49] AdmiringWorm commented on #353
This seems to be fixed when the chocolatey-fosshub extension was updated.
Closing for now

[2016-11-16 08:49] #353 closed

[2016-11-16 10:18] majkinetor commented on #395
So their 3.x installer is generic, it is proxy that always downloads latest version.

Portable version is completelly offline but only x64 bit.

So versionless installer should be used I guess for this package and portable variant may be done as alternative.

[2016-11-16 19:36] #296 closed

[2016-11-16 19:52] #289 closed

[2016-11-16 22:05] AdmiringWorm commented on #253
duplicate of #155

[2016-11-16 22:05] #253 closed

[2016-11-17 17:17] majkinetor opened #404 "Add chocolatey user as maintainer to juju package"
[code]

cc @AdmiringWorm

[2016-11-17 17:31] majkinetor commented on #200
[report](https://gist.github.com/gep13/bd2eaa76f2a9ab739ca0544c502dca6e/bff8adf614fbc51322f9fe30651053a8528d0846#pushed)

[2016-11-17 17:33] AdmiringWorm commented on #404
I sent the request to add chocolatey as a maintainer when the package was created.

[2016-11-17 17:56] AdmiringWorm commented on #404
I've updated and pushed the new juju package version

[2016-11-17 19:02] gep13 commented on #404
@AdmiringWorm @majkinetor done

[2016-11-17 19:02] #404 closed

[2016-11-17 19:15] matbech opened #405 "vcredist2017: Visual C++ Redistributable for Visual Studio 2017"
It would be nice if somebody could add the vcredist2017 package (Visual C++ Redistributable for Visual Studio 2017) based on the Visual Studio 2015 package:
https://chocolatey.org/packages/vcredist2015

[2016-11-17 19:53] AdmiringWorm commented on #405
vcredist2017 already exists: https://chocolatey.org/packages/vcredist2017

[2016-11-17 19:53] #405 closed

[2016-11-17 20:36] matbech commented on #405
Yes, right. But the idea was to move it to chocolatey-coreteampackages repo so that it can be updated without depending on a single maintainer.

[2016-11-17 20:53] AdmiringWorm commented on #405
@matbech to do that, you need to contact the maintainer @jberezanski

[2016-11-17 21:18] gep13 commented on #405
@matbech Yes, I have suggested to @jberezanski that he move those packages here.  I think he was up for doing that, but just needed to find some time to do it.

[2016-11-21 20:44] ferventcoder opened #411 "Move over PHP package"
There are quite a few enhancements and issues folks would like to see done with the PHP package. Can we move this into the core team repository so that it gets the love and attention that it deserves?

[2016-11-23 13:49] jberezanski commented on #405
@gep13 I believe we talked about vcredist2015; as for 2017, I did not intend to move it here until RTM. Now that VS 2017 RC has a go-live license, however, I'll probably move vcredist2017 here as soon as I actually update the package to RC (i.e. in a couple of days).

[2016-11-23 13:49] gep13 commented on #405
@jberezanski sounds good to me! :+1:

[2016-11-23 18:14] majkinetor commented on #155
Is this really a tool ? It has 2 buttons and stuff. I would just deprecate this package.

[2016-11-23 18:25] majkinetor commented on #155
Plus its not maintained for years, its hosted on forum etc.

[2016-11-23 18:36] majkinetor commented on #255
I rerun the test on my machine and it really doesn't get created.

However, check this out:

![image](https://cloud.githubusercontent.com/assets/85767/20573821/ebf570bc-b1b1-11e6-8e9c-b63ec10d9d9e.png)

Py option is disabled (i did run eleveated) and although it is checked this means it will not be installed.

On the other hand running x32 bit installer:

![image](https://cloud.githubusercontent.c

[2016-11-23 18:36] #255 closed

[2016-11-23 19:12] gep13 commented on #155
@majkinetor I am happy to deprecate this.

[2016-11-23 20:35] majkinetor commented on #166
So who keeps the source of this package ? Its not here.

We should either remove choco user from maintainers or move it here.

The package fails btw as it doesn't have dependency on python.,

@gep13  @ferventcoder

[2016-11-23 20:37] gep13 commented on #166
@majkinetor the package source is here:

https://github.com/ferventcoder/chocolatey-packages/tree/master/manual/easy.install

[2016-11-23 20:37] gep13 commented on #166
Likely I added this issue when I saw the issue coming through via email, but didn't check if it was actually in this repo or not.

[2016-11-24 08:59] majkinetor commented on #166
I will close this, @ferventcoder should fix it in its own repo.

[2016-11-24 08:59] #166 closed

[2016-11-24 09:00] majkinetor commented on #163
This package is also at @ferventcoder repo and fails because easy_install fails.

[2016-11-24 09:00] #163 closed

[2016-11-24 09:05] #180 closed

[2016-11-24 19:44] #243 closed

[2016-11-24 19:48] majkinetor commented on #183
Not from this repository

[2016-11-24 19:50] majkinetor commented on #88
I close this as there are no suggestions. Anybody should feel free to reopen it if he has anything to contribute regarding this topic.

[2016-11-24 19:50] #88 closed

[2016-11-24 19:51] #57 closed

[2016-11-24 19:54] gep13 commented on #183
Can you leave this one, and others open, and assign to me, so that I can remove the chocolatey user from the package?  Thanks!

[2016-11-24 19:55] majkinetor commented on #104
Doesn't look it is designed to be used with both. You would need additional parameter also to designate which cygwin will get updated etc.

[2016-11-24 19:55] #104 closed

[2016-11-24 19:55] gep13 commented on #183
Actually, the choco user isn't on that package 😄

[2016-11-24 19:55] #183 closed

[2016-11-24 19:56] majkinetor commented on #183
OK, will do that in advance if it happens again

[2016-11-24 20:04] AdmiringWorm commented on #165
this package isn't in the core repo (or I can't find it at least).
chocolatey needs to be removed as user.

[2016-11-24 20:17] mnuzzolilo commented on #104
Not even going to say what that parameter is? 11 months later? Okay.

[2016-11-24 20:44] majkinetor commented on #104
There is no such parameter. I just say that its not designed for that and it would need a bit of care before it can handle it. Given that such functionality probably isn't of interest to many useres it doesn't substantiate work. We do accept PRs however.

[2016-11-24 21:34] bcurran3 opened #413 "Chocolatey FossHub Extension 0.4.0 seems to break compatibility with 0.2.0"
Seems to break compatibility with 0.2.0, I haven't investigated fully. IrfanView package won't download now. (No, IrfanView didn't release a new ver.)
Does this still support two URLs for 32 and 64 bit?
I'm passing: $urlArray = $urlArray = @('https://www.fosshub.com/IrfanView.html/iview442_setup.exe','https://www.fosshub.com/IrfanView.html/iview442_x64_setup.exe') to it.

This is the result:
Irfan

[2016-11-24 22:21] mnuzzolilo commented on #104
I would think that having cygwin32 and cygwin 64 installed but having a cryptic and unproductive error condition for such a common use case, is not such an uncommon thing. But you know best apparently.  Glad to hear that you accept PRs but I don't work for free so maybe someone else would get to it.

[2016-11-24 22:23] mnuzzolilo commented on #104
At least now I know why so many other projects that rely on cygwin end up dropping support completely.

[2016-11-25 07:14] majkinetor commented on #104
Dude.... what are you talking about?! This is not even a part of cygwin. Its a script that you can change your self in minutes.

[2016-11-25 08:03] mnuzzolilo commented on #104
Now I remember why*

If someone reports a defect, which this clearly is, and is even nice enough to show exactly where it is, so the core team can more efficiently fix it, all of the benefit from doing so is completely lost when your response is to tell the requester to fix it themselves.

1) The requestor, 11 months after the fact,  no longer has a staked interest in improving the defect, as they

[2016-11-25 08:13] gep13 commented on #104
Your job only gets harder

You refer to this as though this is a **job**, i.e. something that we are getting paid for, but let's be clear...

We aren't!

We welcome all contributions to this repository.  Not all the community maintainers in this repository are familiar with the intricate inner workings of each and every single package, and we rely on other community members to help out on packages

[2016-11-25 08:23] mnuzzolilo commented on #104
Jobs can be unpaid, and I already knew that it was unpaid.  That doesn't change the point I was making, in fact it reinforces it. If you are working for free, it's in your best interest to make it as easy on yourself as possible.

Fair enough that there aren't anyone available who knows the package well. Would it be beneficial to have a list of packages and compenents with an active subject-matter

[2016-11-25 08:33] gep13 commented on #104
If no such person exists, it's good for a project to clearly label it as such so someone can be expect to have to submit a PR from the beginning.

I think we have to fundamentally disagree on this point.

This is an Open Source initiative, run by people in their own time, working around things like family and work commitments.  There can be, and will not be (at least while I am involved in the pro

[2016-11-25 08:56] mnuzzolilo commented on #104
This has nothing to do with me. This was 11 months ago, I'm completely over and done with this bug. So when you talk about this as if I'm making this about me, you're completely mising the point.  This is very much about you, and your project"s success. If you want to respond that way, it's only hurting you, not me.

My comments were suggestions on how to make your project better for the community

[2016-11-25 09:01] mnuzzolilo commented on #104
I'd be happy to accept this philosophy of yours if you can point me to a well-cited essay or publication that establishes this as a better way to run an open source project.

[2016-11-25 09:17] patriksvensson commented on #104
@mnuzzolilo I don't get it. You have no problem **demanding** support for software you use for free, but you're agitated when someone proposes that you help out? Why would they fix your problem for free? With that attitude I would say it's time to start paying the maintainers if you want something fixed...

[2016-11-25 09:20] majkinetor commented on #104
Flame war, I like that !!!

We are already doing just that - its easiest for us just to not do anything about it for the reasons already said.

No, in fact, I know **exactly** what needs to be done here. I don't want to do it. Your problem is not big enough so that we need to loose hours doing it. There are more prompt issues BEFORE this one. Priority is a concept you will have to adopt.

[Nonsenc

[2016-11-25 09:22] majkinetor commented on #104
Furtheremore, you don't even have to use cyg-get, everything it does is achievable via `cinst cygwin -ia ...` or directkly calling its package manager. Perhaps its time to learn a bit of tool u are usuing.

[2016-11-25 09:35] gep13 commented on #413
@bcurran3 can you help me out here...

I don't think any of the versions of the fosshub extension included support for a URL Array.  Perhaps this "might" have worked, but I don't think that this was ever the intention 😢

All the examples within the documentation for the method show a single url being passed in, and returned.

[2016-11-25 09:36] mnuzzolilo commented on #104
http://rationalwiki.org/wiki/Fallacy_fallacy Furthermore I did nothing fallacious because I wasn't arguing but rather asking for a cited source, so I could change my own beliefs. I prefer established research before setting policy, not policy-based evidencing.

Again, the red flag is that after repeated statements to the contrary, and the obvious 11 month timestamp, you all still think that I care

[2016-11-25 09:38] ScottIsAFool commented on #104
"My main goal here is to assess the quality of the project governance, to see how you hold up to criticism and such."

For what purpose?

[2016-11-25 09:42] bcurran3 commented on #413
I swear .2 worked (for IrfanView and I think something else)!

But we definitely need a way to pass two URLs for x86/x64.

____  _ _ _

| __ )(_) | |

|  _ \| | | |

| |_) | | | |

|____/|_|_|_|

From: Gary Ewan Park [mailto:notifications@github.com]
Sent: Friday, November 25, 2016 1:36 AM
To: chocolatey/chocolatey-coreteampackages <chocolatey-coreteampackages@noreply.github.com>
Cc: bcurran3 <bcu

[2016-11-25 09:43] gep13 commented on #413
I swear .2 worked (for IrfanView and I think something else)!

And it may very well have, but I don't think it was meant to :smile:

But we definitely need a way to pass two URLs for x86/x64.

The workaround, for now, would be to call the function twice, once for each URL.

[2016-11-25 09:46] mnuzzolilo commented on #104
Two reasons:
Learning what works and what doesn't work, for my own project management purposes

Learning how various projects are managed, to eventually be able to more easily predict whether management is a bottleneck for a given project.

[2016-11-25 09:47] mnuzzolilo commented on #104
Sorry to waste your time, you've been helpful though

[2016-11-25 09:48] ScottIsAFool commented on #104
Tip, this doesn't work: "I don't work for free so maybe someone else would get to it." :) hope that helps :)

[2016-11-25 09:48] mnuzzolilo commented on #104
Tip: that statement was intended to get people's attention. It cleary worked as intended.

[2016-11-25 09:49] majkinetor commented on #104
I can't wait for your next big project with all this great insights you got from this conversation. :)

No need to appoligize. You have every right to express your opinion, and we have every right to be against it.

[2016-11-25 09:52] ScottIsAFool commented on #104
Ahhh, so the comments and language used was all part of a social experiment. Gotcha.

[2016-11-25 09:53] bcurran3 commented on #413
Hmmmmmmmmmmmmm, why didn’t I think of that?

That I will do. (later)

____  _ _ _

| __ )(_) | |

|  _ \| | | |

| |_) | | | |

|____/|_|_|_|

From: Gary Ewan Park [mailto:notifications@github.com]
Sent: Friday, November 25, 2016 1:44 AM
To: chocolatey/chocolatey-coreteampackages <chocolatey-coreteampackages@noreply.github.com>
Cc: bcurran3 <bcurran3@yahoo.com>; Mention <mention@noreply.github.com

[2016-11-25 09:54] majkinetor commented on #413
Yes, that is the way function is used.

[2016-11-25 09:54] #413 closed

[2016-11-25 09:55] gep13 commented on #413
@bcurran3 said...
Hmmmmmmmmmmmmm, why didn’t I think of that?
That I will do. (later)

Perfect! 👍

[2016-11-25 12:03] ghuntley commented on #104
@mnuzzolilo

![](https://media.giphy.com/media/mHODom2uElPUc/giphy.gif)

Cool story bro.

[2016-11-25 12:40] ferventcoder commented on #104
@mnuzzolilo apologies you waited 11 months to hear back. The packages in this repo are maintained by over 10 folks so sometimes there is a tragedy of the commons, which it looks like you hit here.

@majkinetor is newer and has been going through and triaging older issues with these packages, and doing a terrific job of helping us get back on track here along with @AdmiringWorm. I do feel if you ha

[2016-11-25 12:49] ghuntley commented on #104
<3 the etiquette section. Totally going to steal that, right on point.

[2016-11-25 13:12] majkinetor commented on #104
Yeah, good one, added it to [1.1.11](https://github.com/chocolatey/chocolatey-coreteampackages/wiki/Contributing-guidelines#111-conform-to-guidelines).

[2016-11-25 14:23] markrendle commented on #104
@mnuzzolilo If you're interested in Open Source Project management, maybe read some articles on it instead of trolling* actual projects. Start with this: https://rfc.zeromq.org/spec:42/C4/

(*Yes, you are. Here's a summary:

You: I have a problem.

...11 month lacuna...

Project: That's not supported.

You: [passive aggression]

Project: Maybe you could fix it?

You: No, because I am an entitled f

[2016-11-25 14:28] ferventcoder commented on #104
Probably time to lock this thread.

[2016-11-25 18:59] gep13 commented on #165
@AdmiringWorm  Thanks for the reminder!

[2016-11-25 18:59] #165 closed

[2016-11-25 19:33] #195 closed

[2016-11-25 19:42] #155 closed

[2016-11-25 19:44] gep13 commented on #162
Duplicate of https://github.com/chocolatey/chocolatey-coreteampackages/issues/290

[2016-11-25 19:44] #162 closed

[2016-11-25 19:47] gep13 commented on #222
@ferventcoder is this still an issue?  The uninstall extension as been deprecated in favour of the core extension.  Is the reported issue still relevant to that extension?

[2016-11-25 19:56] gep13 commented on #104
**NOTE:** For anyone who finds this and was wondering what all the conversation was around, it looks as though @Nuzzerino has chosen to delete all the comments that they left in this thread.

[2016-11-25 20:13] DarwinJS commented on #222
I don't know - I was analyzing the PowerShell code that did this when I made the original comment.  It would depend on what the core extension code looks like.  Is the core extension implemented as PowerShell or C# ?

[2016-11-25 20:31] gep13 commented on #222
Is the core extension implemented as PowerShell or C# ?

Powershell. The source for the extension can be seen here:

https://github.com/chocolatey/chocolatey-coreteampackages/tree/master/extensions/chocolatey-core.extension/extensions

Thanks!

[2016-11-26 14:27] #287 closed

[2016-11-26 14:44] iTob191 opened #414 "(fosshub.extension) Download URL within "xdts"-attribute"
The package does no longer work for me because the download url of the binaries is stored within the xdts-attribute of the link now instead of the data-attribute.

https://github.com/chocolatey/chocolatey-coreteampackages/blob/e17820954cdce01bf1979a4ecaa7b7baa0612706/extensions/chocolatey-fosshub.extension/extensions/Get-UrlFromFosshub.psm1#L33

[2016-11-26 15:07] #147 closed

[2016-11-26 16:06] majkinetor opened #415 "(cygwin) Failing verifier"
It looks like some network problem. It works OK from test environment.

This is the version that users await as it fixes number of issues.

https://chocolatey.org/packages/Cygwin/2.6.0

[2016-11-26 16:21] gep13 commented on #415
@majkinetor sorry, I am confused. What are you looking for me to do here?

[2016-11-26 18:32] majkinetor commented on #415
You could restart verification. If tests keep failing perhaps aprove it without verification.

[2016-11-26 19:27] gep13 commented on #104
@ghuntley captured a screenshot of the conversation, and I have decided to paste it here for clarity on what was discussed in this issue.

**NOTE:** In the screenshot, the name of the original author was @mnuzzolilo, however, shortly after this issue was closed, this was changed to @Nuzzerino, and it is now @Mnuzz.

![image](https://cloud.githubusercontent.com/assets/1271146/20642707/15805006-b40e

[2016-11-26 20:10] gep13 commented on #415
@majkinetor re-running tests...

[code]

This seems to be the relevant section from the output log.  Not sure why it would be different on your local machine.  Is your local environment using the latest Chocolatey?

[2016-11-26 23:54] wjk opened #416 "reshack checksum mismatch"
I just tried updating reshack on my computer (from v4.2.5 to v4.5.28), and got the below error. Apparently the hashes don't match. I'm presuming that this is a bug, and not overriding the check for this reason. Can a fix be pushed? Thanks!

![choco screenshot](https://cloud.githubusercontent.com/assets/1915951/20644649/bd12ab70-b409-11e6-94e9-bee174c2f9b2.PNG)

[2016-11-26 23:59] majkinetor commented on #416
That isn't a bug. Developer silently updated. Otherwise, it couldn't pass verifier.

[2016-11-27 00:10] majkinetor commented on #415
I think this is responsible;

[code]

[2016-11-27 07:24] majkinetor commented on #416
New version is out - [report](https://gist.github.com/gep13/bd2eaa76f2a9ab739ca0544c502dca6e/238f88abc3243848bc7c1f14c4849de5c2623086#pushed)

[2016-11-27 07:24] #416 closed

[2016-11-27 07:49] JulianIsrael commented on #67
Is this really fix? I has having same issue in latest version cyg-get 1.2.1 what i did was downloaded the setup-x86_64.exe from https://cygwin.com/setup-x86_64.exe put it n c:\toos\cygwin renamed with cygwinsetup.exe and it worked.

[2016-11-27 10:08] majkinetor commented on #411
https://github.com/chocolatey/chocolatey-coreteampackages/pull/418

Please take a look and let us know when you remove it from your repository.

[2016-11-28 04:11] ferventcoder commented on #411
Please look at enhancement issues and open PRs over at the orignal repo.

[2016-11-28 04:13] #411 closed

[2016-11-28 04:17] ferventcoder commented on #411
I posted the issues to the PR instead.

[2016-11-28 08:45] majkinetor opened #423 "(virtualbox) - Unfixed ferventcoder repository issues"
* [x] https://github.com/ferventcoder/chocolatey-packages/issues/132
* [x] https://github.com/ferventcoder/chocolatey-packages/issues/153

@ferventcoder

[2016-11-28 10:42] majkinetor commented on #423
Added parameters.

I added [BeforeModify](https://github.com/chocolatey/chocolatey-coreteampackages/blob/fd01fd63e37322b0c6a20e9f212bd72e1c28318c/automatic/virtualbox/tools/chocolateyBeforeModify.ps1) but I can not test it as `vboxmanage` returns nothing on my system with parameter `runningvms` even tho I have running machines (vbox 5.1.10).

Adding extension remains to be done.

[2016-11-28 10:44] majkinetor commented on #423
BTW, `oracle.cer` is expired.

[2016-11-28 10:59] bcurran3 commented on #414
This is what happens when I try to use it in the Irfanpackage:

C:\ChocolateyPackages\__PUBLISHED__\irfanview>cinst irfanview.4.42.0.20161128.nupkg -force
Chocolatey v0.10.3 Professional
Installing the following packages:
irfanview.4.42.0.20161128.nupkg
By installing you accept licenses for the packages.

irfanview v4.42.0.20161101 (forced)
irfanview package files install completed. Performing oth

[2016-11-28 11:21] majkinetor commented on #423
After unpacking extension mentioned in ferventcoder/chocolatey-packages#132 doesn't exist. So I guess it has to be downloaded from the internet just as with package ferventcoder mentioned.

We could deprecate that package and I can add downloader in the vbox package directkly, makes more sense.

This is the code I tried:

[code]

[2016-11-28 11:24] majkinetor commented on #423
@ferventcoder @gep13 @AdmiringWorm

Will do this tonight, if you have any input until then let me know. If anybody can test  BeforeModify that would be awesome although it will not harm to stay even if it doesn't work.

[2016-11-28 11:28] AdmiringWorm commented on #423
personally I think that since a package for the extension pack already exists, and it looks like it needs to downloaded it should stay as it is.
Not be included in the virtualbox package, be just be kept separate.

regarding the BeforeModify script, I can't seem to get it to run at all.
Not even after editing the nuspec file so it is actually added to the package.

[2016-11-28 11:30] majkinetor commented on #423
I don't like the fact that they may become unsynchronized and bring different versions.

[2016-11-28 11:32] majkinetor commented on #423
@ferventcoder  ?

[2016-11-28 11:33] AdmiringWorm commented on #423
true that is a problem of course, we could of course ask one of the maintainers if (s)he would be willing to add it to this repo, then both the core and the extension would be updated at the same time.
/cc @Iristyle @michaelray

[2016-11-28 11:34] AdmiringWorm commented on #423
I managed to get the beforemodify script to run, but is getting hit by the following errors:

[code]

[2016-11-28 11:41] majkinetor commented on #423
It can still get desync. It alraedy happened - Autohotkey virtual was pushed but at the same run ahk.install failed due to network problems....

[2016-11-28 11:42] majkinetor commented on #423
Another typo, fixed

[2016-11-28 13:51] majkinetor opened #425 "(php) Unfixed ferventcoder repository issues"
- [x] https://github.com/ferventcoder/chocolatey-packages/issues/115
- [x] https://github.com/ferventcoder/chocolatey-packages/issues/90
- [x] https://github.com/ferventcoder/chocolatey-packages/issues/38

[2016-11-28 15:23] ferventcoder commented on #425
Unfixed - what does that mean?

[2016-11-28 15:55] ferventcoder commented on #423
beforemodify is from OLD version. Only runs with `choco upgrade` and `choco uninstall`, but it is not run from the package you are updating ***to***, only the package you are updating ***from***

[2016-11-28 15:56] ferventcoder commented on #423
Agreed!

[2016-11-28 17:14] majkinetor commented on #425
It means not fixed :)

[2016-11-28 17:17] majkinetor commented on #423
Great, didn't know that, documented anywhere the complete list of scripts ?

[2016-11-28 17:25] majkinetor commented on #425
You are tripping me about my english :) The word defintelly exists:

**unfixed**
**ʌnˈfɪkst/Submit**
adjective
not fixed, in particular:
not fixed in a definite place or position; unfastened; loose.
"the green cloth cover had become unfixed in a dozen places"
uncertain or variable.
"a being of unfixed gender"

[2016-11-28 17:40] ferventcoder commented on #425
I get it now. Didn't catch the context at first.

"php - open issues to address" is more normally used.

[2016-11-28 17:54] ferventcoder commented on #423
Documented in choco new and https://chocolatey.org/docs/create-packages#during-which-scenarios-will-my-custom-scripts-be-triggered

[2016-11-28 21:56] majkinetor commented on #423
I think I fixed all of the issues. Please take a look as this is very important package.

[2016-11-29 17:36] gep13 opened #429 "Force Test Build on AppVeyor"
@majkinetor you mentioned that this wasn't working, but I am not clear on exactly what you mean.

Looking at the history, I can see that it has been running, there are however, have been failures.

Can you confirm exactly what you mean?

[2016-11-29 19:14] majkinetor commented on #429
Can you share the link of the AV project ?

[2016-11-29 19:28] gep13 commented on #429
@majkinetor sure thing...

https://ci.appveyor.com/project/chocolatey/chocolatey-coreteampackages-xnxcr

[2016-11-29 21:46] octomike opened #433 "(firefox) 50.0.1 fails to install on windows 7"
On a Windows 7 base install the package fails to install:

Log snippet:

[code]

I suspected a powershell version incompatibility and upgraded to 5.0 with choco. And indeed after that it starts working again. Should we upgrade powershell or is this something that can be resolved in the installer script?

[2016-11-30 00:20] AdmiringWorm commented on #433
that's definitely not supposed to happen.
All powershell install/uninstall scripts should be posh v2 compatible.
I'll look into this and see where I did go wrong with this package.

thanks for reporting it.

[2016-11-30 01:55] AdmiringWorm commented on #433
@octomike I set up a windows 7 test environment with powershell v2.0, and I'm unable to reproduce this.
Any chance you can share the full log, so I can try to see where it fails?

[2016-11-30 03:16] #433 closed

[2016-11-30 05:25] ebugusey opened #434 "(firefox) Mozilla Maintenance Service"
This is a feature request.

As a user I want to disable installation of Mozilla Maintenance Service, because it's used only for updates and chocolatey handles that.

Possibly make it as a switch and disable installation of service by default.
https://wiki.mozilla.org/Installer:Command_Line_Arguments

[2016-11-30 05:31] ferventcoder commented on #434
Typically we won't disable by default, because we want you to be as secure as possible by default - which means let the upgrades occur from the vendor - typically the vendor is closest to when that update will occur and an updated community package could trail by hours if not days or weeks.

But we would provide a package parameter to disable the updating if it's doable - that way it is opt in ins

[2016-11-30 05:35] ebugusey commented on #434
Then at least this switch should be remembered for further updates.

[2016-11-30 05:42] ebugusey commented on #434
And this policy sounds a little strange for me. Because in Linux there is no such thing as Mozilla Maintenance Service. Because you don't need it, you have repositories.

And on Windows it only needed to install updates without UAC approval.

[2016-11-30 05:48] ferventcoder commented on #434
Working on it - https://github.com/chocolatey/choco/issues/797

[2016-11-30 05:55] ferventcoder commented on #434
Repositories/packages are the primary way of getting software on Linux. It's not the primary means of getting software on Windows.

The policy is strange if you try to compare it to Linux. Looking at the Windows ecosystem, note that we've come a long way over the past five years with Chocolatey, and there are software vendors that do maintain Chocolatey packages now on the community repository, bu

[2016-11-30 07:14] majkinetor commented on #433
We definitelly need Win7 vagrant machine.

[2016-11-30 07:18] majkinetor commented on #434
@AdmiringWorm, I assigned you because you are fresh with this. I would support all the available options.

[2016-11-30 07:36] AdmiringWorm commented on #434
@majkinetor, that's fine although I'm not entirely sure about this one, since to support the parameters
it would require creating the ini file on the fly.
I'll look into it sometime in the coming days, but I'll add the up to grabs label until I do.

[2016-11-30 07:39] majkinetor commented on #434
Anything wrong in creating ini on the fly?

[2016-11-30 07:40] AdmiringWorm commented on #434
not really, I personally just don't like it.

[2016-11-30 10:52] majkinetor commented on #434
WHat is the difference between Up for grabs and 1- Ready for work  ? @ferventcoder @gep13

[2016-11-30 11:27] gep13 commented on #434
All the labels with a number on them are to do with the agile tracking boards that are used on this repo.  I am not sure if they are actually still required or not.  @ferventcoder ?

Up for grabs is really used as an indication that this issue would be literally, up for grabs by a community member to work on.

[2016-11-30 11:28] majkinetor commented on #434
I think those 2 mean the same thing. I would remove 'Up for grabs'.

1- Ready to work means nobody took it, but its aknowledge it needs to be done.

[2016-11-30 11:32] gep13 commented on #434
No, they are not the same thing at all.  One is used by the agile tracking boards (or at least used to me and it would automatically label the issue with it's progress through the board), and the other would be manually assigned by a user.

[2016-11-30 11:37] majkinetor commented on #434
OK.

[2016-11-30 19:14] iTob191 commented on #414
Wtf.. Now its fdlw...
`<a href="/Audacity.html/audacity-win-2.1.2.exe" rel="nofollow" class="dwl-link xlink" file="audacity-win-2.1.2.exe" fdlw="https://download.fosshub.com/Protected/expiretime=1480533117;badurl=aHR0cDovL3d3dy5mb3NzaHViLmNvbS9BdWRhY2l0eS5odG1s/1d642c9f1c15566c51605ac5cafb9e29cd865af8f023ca48a2c74008710ba9e8/Audacity/audacity-win-2.1.2.exe">`

[2016-11-30 19:28] majkinetor commented on #414
There is no such thing.

Script simply needs to be more intelligent. Take all the attributes of the link and find the one that contains full URL. You are being too precise and thats the problem.

[2016-11-30 22:19] welwood08 commented on #414
I guess this is why a few of my installed packages aren't updating right now. :)

If I may make @majkinetor's suggestion more concrete:
[code]

The existing regex looks like it would be too greedy if fosshub changed the order of attributes so the url wasn't last or if more quotes appeared later on the same line, hence changing the captured `.*` to explicitly exclude quote characters. Things will g

[2016-12-01 06:39] AdmiringWorm commented on #414
I'm reopening this, as @majkinetor said the script needs to be more intelligent.

@welwood08 That's definitely an option to parse the download url, mind opening a PR for it?

[2016-12-01 06:46] majkinetor opened #435 "(mkvtoolnix) Shims for executables"
[code]

[2016-12-01 08:53] majkinetor commented on #435
I created this because it is a general problem with many packages. They don't provide easy access that is typical in Linux world.

That is one of the reasons I created `Register-Application`  so that GUI apps are available both in WIN + R, windows start menu search and console (with adequate profile script).

We should standardize this behavior and provide guidelines - what do to PATH or shim. I g

[2016-12-01 09:06] AdmiringWorm commented on #435
personally I would prefer to shim them and not mess around with the path environment unless necessary (as in cases where a lot of cli programs is located in the same directory).

And for windows oriented people, there isn't that likely that they expect gui apps to available from the console (depending on the use case of the program).

[2016-12-01 09:11] majkinetor commented on #435
I now realize that this **can completelly repalce shims**.

Currently with above mentioned profile script registered apps work in Posh. To have the same effect in cmd.exe (which is finally [not default shell anymore](http://www.theregister.co.uk/2016/11/18/windows_cmdexe_deposed_by_powershell/)) one can use `doskey`, a la:

    doskey srptool="c:\Program Files\Git\mingw64\bin\srptool.exe"

If choc

[2016-12-01 09:13] majkinetor commented on #435
Furthermore, both mechanisms can exist at the same time so package maintainer can choose. I think this is valuable. Implementing such a change is trivial.

[2016-12-01 09:50] majkinetor commented on #435
I added to path since there are 5 apps in the package.

[2016-12-01 09:53] AdmiringWorm commented on #435
I agree that this is valuable.

That's not entirely true, on linux there is also a path environment which quite often is set to `/usr/bin;/usr/local/bin` as a default (possibly more paths as well).
And since executables usually placed in the bin directory (or at least a script pointing to the executable), this works out of the box in such an environment.

[2016-12-01 10:10] majkinetor commented on #435
That is entirelly true, because underlying mechanism is not important. They don't have to put stuff in bin, no ? They chose to so to be available.

[2016-12-01 11:14] #414 closed

[2016-12-01 11:25] #435 closed

[2016-12-01 11:27] majkinetor commented on #435
Moved discussion to https://github.com/chocolatey/choco/issues/1072

[2016-12-01 12:28] AdmiringWorm opened #438 "(QuickTime) Find new location to check for updates."
Considering how the quick time update process almost fails on every appveyor build run, I think we need to find another location to get the version and url from.

Anyone have any idea...

[2016-12-01 13:14] majkinetor commented on #438
One of the things that could be done to minimize spam is:

[code]

Alternative location would be better. Maybe we could utilize proxy for specific packages.

[2016-12-01 13:19] AdmiringWorm commented on #438
the problem with that try catch is if there is any other errors, it won't be catched though.
But I think that is perhaps a lesser evil right now.

[2016-12-01 13:22] AdmiringWorm commented on #438
I've added that try catch for now, but let's keep this open until an alternative location have been found.

[2016-12-01 13:36] majkinetor commented on #438
You can catch specific errors and rethrow others.

[2016-12-01 13:39] majkinetor commented on #438
[code]

[2016-12-01 13:41] majkinetor commented on #438
You should probably add some Write-Host in the script when you do this, so we can see that in report.

[2016-12-01 13:41] AdmiringWorm commented on #438
so in this case it would probably be something like I think:
[code]

[2016-12-01 13:42] AdmiringWorm commented on #438
Sure, I'll add these later, busy with something else right now

[2016-12-01 13:42] majkinetor commented on #438
[code]

It should be seen in output of updateall report, althoguh I didn't check it.

[2016-12-01 15:18] AdmiringWorm commented on #438
I wonder if we should perhaps add something similiar for packages using sourceforge, as some of them fail quite often

[2016-12-01 15:20] majkinetor commented on #438
Not a bad idea, IMO, although we should for start keep the number of such packages low to see how that approach behaves.

[2016-12-01 15:22] AdmiringWorm commented on #438
👍
I'll add a try catch just to a couple of packages using sourceforge for now, and we can see how it works out.

[2016-12-01 15:24] majkinetor commented on #438
But it should definitelly show up in a report for that package output so we can search for it.

[2016-12-01 15:31] AdmiringWorm commented on #438
I've added it to the cdrtfe and jubler packages, I don't think we will see any difference until later tonight though.

[2016-12-01 15:55] jberezanski opened #439 "(KB2999226) error on Windows 10 Enterprise"
http://disq.us/p/1e3h774

[code]

Looks like the `default` case in the `switch` is missing a `return`.

[2016-12-01 16:05] AdmiringWorm commented on #439
Yeah, that definetely looks to be the problem, thanks for reporting it.
I'll push out an update shortly.

[2016-12-01 16:09] #439 closed

[2016-12-01 16:57] jberezanski commented on #439
Thanks for fixing this! Could you mention it in the package release notes?

[2016-12-01 17:01] AdmiringWorm commented on #439
sure, sorry didn't notice that there was a release notes.

[2016-12-01 19:37] majkinetor commented on #438
I implemented changes in AU like this:

- update.ps1 can now return single word 'ignore'. It will not work if script returns anything else.
- you can provide output in the form of `Write-Host` and it will be seen in report

For example:

[code]

should give

[code]

[2016-12-01 21:05] bcurran3 commented on #414
Unfortunately 0.6.0 isn't working for me either. Am I doing anything wrong?

C:\WINDOWS\system32>choco install irfanview -version 4.42.0.20161201
Parsing -version resulted in error (converted to warning):
 Cannot bundle unregistered option '-e'.
Chocolatey v0.10.3 Professional
Installing the following packages:
irfanview
By installing you accept licenses for the packages.

IrfanView v4.42.0.201612

[2016-12-01 22:14] welwood08 commented on #414
I noticed this earlier and assumed it was a fosshub problem since my feeble attempt to download via browser also failed. My currently proposed solution won't automatically fix the irfanview package or any other consumer outside this repository since it seems fosshub has started requiring referrer on the actual download urls.

[2016-12-01 22:17] bcurran3 commented on #414
There must be a way to put a referrer into the helper. I know I've seen it somewhere in one before.

[2016-12-01 22:18] AdmiringWorm commented on #414
@bcurran3 there is, I've already tried that with the qbittorrent package, doesn't work.
Fosshub just keep redirecting, which clears the referrer header

[2016-12-01 22:24] AdmiringWorm commented on #414
also noticed that the expiretime they set in the url, expires approximally 4-5 seconds after html page have been requested.

[2016-12-01 22:26] bcurran3 commented on #414
Those bastards! :)
Any chance you might want to put your efforts towards a helper for FileHippo, MajorGeeks, and/or others?

[2016-12-01 22:30] AdmiringWorm commented on #414
it certainly seems like that would be a better use of our time, instead of trying to fix fosshub.

[2016-12-01 22:33] bcurran3 commented on #414
![wersm-geek-celebration-thumbs-up-657x360](https://cloud.githubusercontent.com/assets/14026600/20815529/143436ae-b7d3-11e6-908c-046fb516aa64.png)

[2016-12-01 22:52] bcurran3 commented on #414
I've fixed the IrfanView package by just including the binaries now. No more problems for awhile. :)

[2016-12-01 22:56] AdmiringWorm commented on #414
@bcurran3 unfortunately that will be in violation with their license:
[code]

[2016-12-01 23:04] bcurran3 commented on #414
He actually has conflicting license statements. I do plan to e-mail him and clear it up.

From included LICENSE.txt:

IrfanView's webpage at http://www.irfanview.com/ defines the license as "This work is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License."

From: http://creativecommons.org/licenses/by-sa/4.0/

LICENSE

You are free to:

Share — copy and redistribute

[2016-12-01 23:05] bcurran3 commented on #414
^^^^^^ errr, explicit.

[2016-12-02 09:29] majkinetor commented on #438
I updated quicktime package to test this.  However the AV run fails entire build:

[code]

I honestly do not understand this behavior nor it happens on my system whatever I do, its AV specific. So I will have to test this for longer on my repository that has few packages outdating every now and then so it will take time.

[2016-12-03 06:08] ferventcoder commented on #435
Install-BinFile https://chocolatey.org/docs/helpers-install-bin-file

[2016-12-03 07:33] #423 closed

[2016-12-04 10:12] ferventcoder commented on #423
Looks like you went backwards with the changes?

[2016-12-04 10:38] majkinetor commented on #423
what do you mean ?

[2016-12-04 18:45] majkinetor opened #443 "(everything) Migrate from user"
This is best tool in the world for searching and it belongs here. It requires modernization and checksum ATM. License allows redistribution so it should be embeded, especially given the very low size.

I contacted maintainer to give ownership to chocolatey user.

https://chocolatey.org/packages/Everything

[2016-12-05 06:52] majkinetor opened #445 "(smartftp) A stable release of a package should not have on a prerelease dependency"
Updater currently doesn't work ([report](https://gist.github.com/gep13/bd2eaa76f2a9ab739ca0544c502dca6e/9b1e876407d096898f1e2dc52d28c3df7909980c#errors)).

This is complete output

[code]

[2016-12-05 06:53] majkinetor commented on #445
/cc @matbech

[2016-12-05 07:09] matbech commented on #445
@majkinetor What do you propose? We can make vcredist2017-rc1 a stable release or SmartFTP a pre-release. I believe we should do the former since vcredist2017 is considered production ready (go live license).

[2016-12-05 07:36] jberezanski commented on #445
"considered production ready" != stable.
Where does that error come from?

[2016-12-05 09:49] majkinetor commented on #445
`choco pack` fails.

[2016-12-05 10:01] majkinetor commented on #438
Shell we close this ? As far as I can see the package passes every day.

[2016-12-05 10:01] majkinetor commented on #438
Plus it now has `ignore`.

[2016-12-05 10:03] AdmiringWorm commented on #438
yeah, we can close it now, although it would still be optimal to have an alternative location.

[2016-12-05 10:03] #438 closed

[2016-12-05 10:08] majkinetor commented on #429
Looks like that commit https://github.com/chocolatey/chocolatey-coreteampackages/commit/11cb6ec8c49c735d5f96033afab74e270916a9e1 fixed it.

I also switched to use single group, it looks like its way faster then 1 hour limit to update all packages.

[2016-12-05 10:08] #429 closed

[2016-12-05 10:15] majkinetor opened #446 "Fix fosshub related packages"
Remaining fosshub packages are:

- [x] audacity
- [x] avidemux
- [x] codeblocks

Furthermore
- [x] deprecate lightalloy (no chocolatey package users, no license, no recent development)
- [x] deprecate chocolatey-fosshub.extension

All those could be embeded or, if too big, alternative location can be found.

/cc @gep13 @ferventcoder @AdmiringWorm

[2016-12-05 11:02] majkinetor commented on #415
2.6.0 is approved now, don't know how tho, so I will close this

https://chocolatey.org/packages/Cygwin/2.6.0

[2016-12-05 11:02] #415 closed

[2016-12-05 12:28] majkinetor commented on #446
@gep13 could you deprecate it ? I would do it but requirement is to get versions unlisted.

I think we should deprecate it ASAP as it doesnt work anyway.

[2016-12-05 13:01] gep13 commented on #446
@majkinetor let me know what you think of this: https://github.com/chocolatey/chocolatey-coreteampackages/pull/447

[2016-12-05 13:19] majkinetor commented on #395
Current package doesn't work correctly with proxy. Asked about unattended setup here:

https://www.nomacs.org/redmine/issues/765

[2016-12-05 13:37] AdmiringWorm commented on #446
I've started working on embedding the codeblocks package.

[2016-12-05 14:47] AdmiringWorm commented on #446
codeblocks done: https://github.com/chocolatey/chocolatey-coreteampackages/pull/450

[2016-12-05 21:15] jberezanski commented on #445
OK, I've been thinking about this a bit. If vcredist2017 were a completely new library, I'd probably agree to remove the prerelease suffix. This is not the case, however: vcredist2017 is an incremental, in-place upgrade of the same DLL that had been released as vcredist2015 (msvcp140.dll). That DLL is dependent upon by a lot of software. I would not want folks to get upgraded to vcredist2017 RC wi

[2016-12-06 07:53] majkinetor commented on #222
I am going to close this at the end of the year if there is no activity due to its 6mo age.

[2016-12-06 11:23] gep13 commented on #446
@majkinetor FossHub package is now fully deprecated, and only listing the 0.6.1 package which simply writes out that it isn't supported any more.

[2016-12-07 06:53] majkinetor commented on #154
I would deprecate this, TrueCrypt does not develop anymore anyway.

[2016-12-07 06:56] majkinetor commented on #291
So this package doesn't have a single version and there is no interest in it whatsoever ?

If so, I would remove it from this repository.

[2016-12-07 07:03] majkinetor commented on #443
@gep13 , user responded but doesn't know how, could you do it ?

[2016-12-07 07:52] gep13 commented on #443
@majkinetor sounds like they are trying to add a "chocolatey" user as an owner to the GitHub Repo where the source files for the Chocolatey Package resides.  I am assuming that you are talking about adding the chocolatey user as a co-maintainer on chocolatey.org, and then your intention is to move the Everything package over to the Core Team Repo, right?

[2016-12-07 07:56] gep13 commented on #154
Sounds like a plan to me.

[2016-12-07 07:59] gep13 commented on #291
It does contain versions, 3 of them, however, they are all in a rejected state :-(

@leonghui are you in a position to help to get this package corrected and working?

[2016-12-07 08:01] majkinetor commented on #443
Yeah.

BTW, this conversation took place several days back.

[2016-12-07 08:05] gep13 commented on #443
As long as you email him back to confirm exactly what is being done, I will go ahead and add the user as a co-maintainer.  A PR to his repo to remove the source files would also make sense, assuming you can find his repo, as it is not immediately obvious where that is.

[2016-12-07 15:42] ferventcoder commented on #154
I even received an email recently about this recently:

[2016-12-07 17:56] ferventcoder opened #454 "Overlapping functions in chocolatey-core.extension and mm-choco.extension need more thought"
https://chocolatey.org/packages/virtualbox#comment-3040800131

If there are, you need to ensure that chocolatey-core.extension wins.

[2016-12-07 17:57] ferventcoder commented on #454
@majkinetor @AdmiringWorm FYI

[2016-12-07 18:03] majkinetor commented on #454
mm-choco.extension is now completelly contained in chocolatey-core.extension and I will deprecate it ASAP.

[2016-12-07 18:04] ferventcoder commented on #454
Cool, so the answer is yes, you do need to account for the fact that folks may have that extension installed.

[2016-12-07 18:06] ferventcoder commented on #454
mm-choco is currently after chocolatey-core in the alphabet, so all functions in the other package win and override the same ones in chocolatey-core.

Typically you would set an alias for the ones you want to win.

[2016-12-07 18:07] ferventcoder commented on #454
This is not meant to always be used, as it is a heavy handed approach. It should only be used in cases where this could occur.

[2016-12-07 18:07] Techcadia opened #455 "OpenSSL.Light has to 2 major revisions but only one Repository"
I am trying to install the newest version of OpenSSL.Light 1.0.2j. In the last 3 versions OpenSSL.Light was moved from 1.0.X to 1.1.X release branch which would normally be fine but the refactor of the SSL version actually changed which binary files where included on install. My Program requires the older 1.0.x dlls. Is there any intention to keep the LTS packages that are being maintained until 2

[2016-12-07 18:11] majkinetor commented on #454
https://chocolatey.org/packages/mm-choco.extension/0.0.4.1

I am not sure if people will have to explicitelly uninstall it now

[2016-12-07 18:13] ferventcoder commented on #454
The problem was the versionless or minimum version installed dependencies from other packages. Anyone coming along now or upgrading all will be put in a good place.

This is one of the reasons I drug my feet in ever documenting extensions, because they do require a lot of upfront thought sometimes in planning whether a function should be loaded or not.

[2016-12-07 18:14] ferventcoder commented on #454
Like checking to see if a command is already available and only loading the function is not already loaded by other means (an automatic deprecation to functions that are later built into newer Chocolatey versions).

[2016-12-07 18:17] majkinetor commented on #454
core extension actually does this. It wont load if its already available.

[2016-12-07 18:17] ferventcoder commented on #454
It's trickier when you move functions from one extension into another. You have to consider all scenarios and try to provide the best experience to lower a user's issues. I tend to prefer having no hard to determine issues. Like this one. It may not be obvious at first (it certainly wasn't to me until I thought about it).

[2016-12-07 18:20] ferventcoder commented on #454
I just looked through the code in core extension and I don't see this at all. Can you point me to the code that does something like this:

https://github.com/ferventcoder/chocolatey-packages/blob/f22175b28804dfa9bddbf07edadf08a77c6d7b78/manual/pik/tools/chocolateyInstall.ps1#L7-L10

[2016-12-07 18:25] ferventcoder commented on #454
What I'm specifically looking for is this:

https://github.com/chocolatey/chocolatey-coreteampackages/pull/456/files

[2016-12-07 18:26] ferventcoder commented on #454
HTH

[2016-12-07 18:26] majkinetor commented on #455
That doesn't require separate entery, but since download links no longer work it would require to push embeded fix versions that will be contained within the package ( see [wiki](https://github.com/chocolatey/chocolatey-coreteampackages/wiki/Contributing-guidelines#114-no-binary-files-in-repository) ).

I can't promise that anybody will tackle this given that several important issues are still ope

[2016-12-07 18:30] majkinetor commented on #454
I beleive that is not needed due to the:

https://github.com/chocolatey/chocolatey-coreteampackages/blob/master/extensions/chocolatey-core.extension/extensions/chocolatey-core.psm1#L5-L9

[2016-12-07 18:34] majkinetor commented on #454
I will  test that code again.

[2016-12-08 05:52] #395 closed

[2016-12-08 07:22] furlongm opened #457 "(cygwin) --no-admin option"
Would it be possible to add the --no-admin switch for installing cygwin without admin privileges?

[2016-12-08 07:32] majkinetor commented on #457
Chocolatey requires admin access in general however - it needs write access to its `C:\ProgramData\Chocolatey\lib`. It would require non admin install.

Also, currently every future update would revert this behavior as chocolatey ATM doesn't remember parameters.

[2016-12-08 07:34] majkinetor commented on #457
But adding:

[code]

is a one line of code anyway. I can do that any time but you need to have non admin chocolatey installation.

[2016-12-08 07:37] furlongm commented on #457
I have a non admin chocolately installation that seems to work, somehow I have write access to C:\ProgramData.

[2016-12-08 07:49] majkinetor commented on #457
Could you test it up, I didn't push it yet.
You will have to download it from repository and cpack it then install it from the dir. I don't have admin install and wont push it without single test.

[2016-12-08 10:40] wget opened #458 "(LibreOffice) The package names do not respect the guidelines from upstream"
Hello all,

Wrt. the issue I raised to you via the website chocolatey.org, @gep13 asked me to follow the discussion here.

My issue was that the Chocolatey package name (`libreoffice` and `libreoffice-oldstable`) were not respecting the upstream naming convention which are respectively (`libreoffice-fresh` and `libreoffice-still`).

Even if I was against the names -fresh and -still when this has b

[2016-12-08 10:54] gep13 commented on #458
@wget as chocolatey currently stands, the concept of aliases isn't fully there.  Instead, I think what is needed in this case would be to deprecate the existing packages, in favour of a package with the new names.

As per this:

https://chocolatey.org/docs/how-to-deprecate-a-chocolatey-package

Would you be interested in helping with a PR for this?  I can help with actually unlisting of the packag

[2016-12-09 08:16] furlongm commented on #457
The parameters don't seem to get passed in for me. Any of them, not just the /NoAdmin one.

Is this the correct way to pass package parameters?

[2016-12-09 08:39] majkinetor commented on #457
I use this one:

`choco install -y  cygwin --source . --params='"/NoAdmin"`

[2016-12-09 08:40] majkinetor commented on #457
You have extra "

[2016-12-09 10:18] #443 closed

[2016-12-09 15:10] majkinetor commented on #445
Can we return it to vcredist2015 then ?

[2016-12-09 18:43] ferventcoder commented on #457
@furlongm @majkinetor `"'/NoAdmin'"`

[2016-12-09 20:00] Boyan-Kostadinov opened #461 "Chrome Package Outdated, Update not running?"
When the download happens, the hashes don't match because the download is newer than the hash in the package.

[2016-12-09 20:16] gep13 commented on #461
There are no issues with the AU script.  Simply a package version was released between AU executions.

[2016-12-09 20:16] Boyan-Kostadinov commented on #461
I'm closing this.

[2016-12-09 20:16] #461 closed

[2016-12-09 21:02] majkinetor commented on #457
Both seem to work with my helper func:

[code]

[2016-12-09 22:40] matbech commented on #445
@majkinetor I'm against it. SmartFTP is compiled with Visual Studio 2017 RC and linked against the 2017 libraries.

[2016-12-10 04:56] shirokatze opened #462 "(virtualbox) Add a 5.0 branch"
Heya.
I've chatted with Gary via email, and they requested me to raise a suggestion here.

So currently VirtualBox has two actively maintained versions, 5.0 and 5.1, which can be seen here at https://www.virtualbox.org/wiki/Download_Old_Builds .  Revently I've encountered some issues in 5.1 that forced me to use the 5.0 branch.

I suggest something like virtualbox-5.0 so that people can get the la

[2016-12-10 09:13] majkinetor commented on #462
https://github.com/majkinetor/au/issues/56

[2016-12-10 12:32] majkinetor commented on #445
I will disable AU for smartftp (prepending _ to update.ps1). We don't want it to spam errors indefinitelly.
When you find a solution for this just PR file rename to enable it again.

[2016-12-10 12:34] majkinetor commented on #445
Didn't rename it but make ./update.ps1 return special keyword 'ignore'.

[2016-12-10 12:37] majkinetor commented on #446
Made audacity embeded. Used filehippo as download location.

[2016-12-10 12:38] majkinetor commented on #446
BTW, it suffered from Vector smash. I hade to parse HTML using `sls`, check out its [updater](https://github.com/chocolatey/chocolatey-coreteampackages/blob/master/automatic/audacity/update.ps1#L66).

[2016-12-10 13:33] majkinetor commented on #446
I have lightalloy embedable package ready (from filehippo) but on [this](http://medocow.com/light-alloy/download) page license doesn't allow redistribution.

Furthermore, the source code on github is 3y old, and it doesn't seem the package has users. I think we should simply deprecate the pacakge and unlist all of its versions.

@gep13 @AdmiringWorm

[2016-12-10 13:35] majkinetor commented on #445
https://gist.github.com/gep13/bd2eaa76f2a9ab739ca0544c502dca6e#smartftp

[2016-12-10 14:00] majkinetor commented on #462
See AU topic for details.

[Virtualbox](https://github.com/chocolatey/chocolatey-coreteampackages/tree/master/automatic/virtualbox) example:

1. `cp automatic/virtualbox automatic/virtualbox5`
1. `mv automatic/virtualbox5/virtualbox.nuspec automatic/virtualbox5/virtualbox5.nuspec`

In ./update.ps1 in `au_GetLatest`:

[code]

This ofcourse keeps the package name the same but updates different versi

[2016-12-10 14:01] majkinetor commented on #462
/cc @ferventcoder @gep13 @AdmiringWorm

[2016-12-10 16:14] ferventcoder commented on #462
Sweet - the only thing I might add is the current maintained versions are 5.0.x and 5.1.x. virtualbox5 might be a tad confusing. Does virtualbox_5.0.x make more sense? Also looking for a tiny difference that immediately identifies this as maintaining multiple versions of the same package (the "_" bit).

[2016-12-10 16:15] ferventcoder commented on #462
Is the nuspec required to be copied over or does it just need a folder with the update.ps1  file?

[2016-12-10 16:23] ferventcoder commented on #462
Oh wait, I see - to see version?

It's not completely clear to me which nuspec would actually be used to build the package - I'm guessing the one in this folder should be used?

Or would it be best to just copy it all over here and it builds and ships what is in this folder? This will reduce complexity for folks and allow making things different in the install scripts when necessary. It is a bit o

[2016-12-10 16:26] ferventcoder commented on #462
Just read the au issue - looks like we are in agreement!

Was confused by your instructions here about moving the nuspec, but I didn't read it right I see. I am almost of the mindset that the folder names are the only real difference. The nuspec file could still be slthe same. Reporting could be interesting for AU. Have you seen how that plays out yet?

[2016-12-10 17:04] majkinetor commented on #462
The above setup is to use **the same package name**. So it would push as virtualbox and must be installed using `cinst -version`.

If you want completelly new package then you don't need to consider instruction about `au_getLatest` and just treat it as any other package.

[2016-12-10 17:06] majkinetor commented on #462
My personal position about it is that it should use the same package name.

However, the problem with that is that it would update with `cup all` unless pinned and updated manually to explicit version each time.

[2016-12-10 17:09] majkinetor commented on #462
Maybe this situation deserves some attention on the client side. Perhaps a choco could allow for individual package settings for update. In this case we could set that updates are allowed only within specific range etc. This could also contain for example default parameters for update etc.

[2016-12-10 22:50] ferventcoder commented on #462
I meant the name of the folder. Not `virtualbox5`, but `virtualbox_5.0.x`. If you have a folder structure with

* virtualbox
* virtualbox5

as a consumer, committer and/or contributor, which one of those has 5.1.x and which has 5.0.x?

That's why a suggestion of

* virtualbox
* virtualbox_5.0.x

as the folder structure so it's obvious immediately which one is which. The underscore is also a dead g

[2016-12-10 22:51] ferventcoder commented on #462
I agree here completely.

This is a good idea - similar to locking down client side in a packages.config that you can do in straight NuGet. Do you want to write up the ticket?

[2016-12-10 23:11] ferventcoder commented on #446
That is medocow's license. I can see how it might be confusing and probably technically not enforceable for them to add that.

"A License Agreement (further the "Agreement") is an agreement concluded between a User (a legal entity or an individual entrepreneur) and **the medocow.com website** about Light Alloy (the "Program")."

http://www.light-alloy.ru/

Perhaps the portable version has informat

[2016-12-10 23:11] ferventcoder commented on #446
We are probably okay to deprecate it though.

[2016-12-11 08:09] majkinetor commented on #446
Thanks for the input @ferventcoder.

I will deprecate the package.

[2016-12-11 08:22] majkinetor commented on #446
https://github.com/chocolatey/chocolatey-coreteampackages/commit/8f3677ced0c1e3cffa5abfe6fcf10df642ebb3ee

Ok, this resolves our fosshub problems.

[2016-12-11 08:22] #446 closed

[2016-12-11 08:52] majkinetor commented on #454
I tested this up and it behaves correctly:

test.psm1

[code]

[code]

The code in psm1 is WAY better then putting that smelly code infront of every function.

The problem with OP was not of this nature anyway - mm-choco.extension didn't have this mechanism as it was following how other extensions are implemented and it was loaded after core. I made psm1 of Core extension differently for a reason.

[2016-12-11 09:06] #154 closed

[2016-12-11 09:25] majkinetor commented on #462
sure, I'll just think a bit more on it and then ticket it.

Regarding this branch, we accept PR's (I am personally not interested).

[2016-12-11 13:37] majkinetor opened #464 "Unlist and approve deprecated packages"
- https://chocolatey.org/packages/truecrypt-langfiles

[2016-12-11 14:43] michaelray opened #465 "(virtualbox & vlc) Substring error on package upgrades"
With the recent changes, I'm now getting this error when trying to upgrade the virtualbox package and the vlc package:

ERROR: Exception calling "Substring" with "1" argument(s): "startIndex cannot be larger than length of string.
Parameter name: startIndex"

Here are the gists from my upgrade attempts:

virtualbox (from v5.1.10 to v5.1.10.20161207):
https://gist.github.com/michaelray/41332926fd5b

[2016-12-11 15:59] majkinetor commented on #465
This must be the error in chocolatey-core.extension then and specifically with `Get-PackageParameters` which was the last changed and used within both packages:

[code]

I am can not reproduce this however. As far as I can see you installed it without parameters.

My tests are passing:

Without parameters:

PS C:\work\_chocolatey\chocolatey-coreteampackages\automatic\vlc> Test-Package
Package info

[2016-12-11 16:07] ferventcoder commented on #454
I agree it is much better to do it in a single place rather than carry it in every function. From rereading the code, I finally understand what it is doing. I'd almost prefer it was explained better so folks not as well versed in PowerShell can reason about it.

From my stance, I've never preferred what I call write one read never code (like perl). I'm not saying you are doing that here, it's just

[2016-12-11 16:07] #454 closed

[2016-12-11 16:07] majkinetor commented on #465
This was not update tho, but install...

[2016-12-11 16:08] majkinetor commented on #465
Tried upgrade now, the same results.

[2016-12-11 16:11] ferventcoder commented on #465
Do it from PowerShell v2. See what you get.

[2016-12-11 16:12] ferventcoder commented on #465
My guess is that because it doesn't provide a line where the issue occurred, it might be something in what it was loading.

[2016-12-11 16:21] majkinetor commented on #465
Yup, its 2.0 phenomena:

[code]

[2016-12-11 16:27] majkinetor commented on #465
I am in the process of creating Win7 vagrant environment with Posh2 for testing so those kind of errors should be more visible then.

Anyway, this must be Posh 2.0 bug because this works (comment  `<--- ADDED THIS LINE` )

[code]

Get-PackageParameters

[2016-12-11 16:27] ferventcoder commented on #465
I can hook you up with a Windows 2008 R2 vagrant image.

[2016-12-11 16:28] majkinetor commented on #465
@michaelray , could you please test it on your system ?

Open by hand the file `Get-PackageParameters.ps1` on your system and add above line then try again.

[2016-12-11 16:31] majkinetor commented on #465
What will that achieve ?

I am making single vagrant environment for all windows systems. It should be runnable via

      Test-Package -OSVersion <win7/win10/....>

or directlly using env vars.   When I finish that I can hook up that box into it.

[2016-12-11 16:35] ferventcoder commented on #465
I assumed this mean you were also setting up a Win7 box. Win 7 == Win 2008 except for Server vs Client.

[2016-12-11 16:42] ferventcoder commented on #446
I think there may be a misunderstanding on deprecation of a package. Deprecation is to point to another package that will be maintained. If we are simply not going to offer a package anymore, you just simply unlist all versions.

[2016-12-11 16:49] majkinetor commented on #465
You are right. Send it over.

[2016-12-11 16:50] ferventcoder commented on #465
I am uploading the boxes now to https://atlas.hashicorp.com/ferventcoder/boxes/win2008r2-x64-nocm/ - the released version will be v1.0.1

[2016-12-11 16:54] majkinetor commented on #465
Thx @ferventcoder

[2016-12-11 18:43] majkinetor commented on #454
True. I myself didnt asap understand it after a year or so. Will add decription in comment. Thx.

[2016-12-11 20:16] majkinetor commented on #223
Should be unlisted (see [priorities](https://github.com/chocolatey/chocolatey-coreteampackages/wiki/Priorities-for-new-and-existing-packages)).

[2016-12-11 20:16] majkinetor commented on #204
Should be unlisted (see [priorities](https://github.com/chocolatey/chocolatey-coreteampackages/wiki/Priorities-for-new-and-existing-packages)).

[2016-12-11 20:19] majkinetor commented on #290
Should be unlisted (see [priorities](https://github.com/chocolatey/chocolatey-coreteampackages/wiki/Priorities-for-new-and-existing-packages)).

[2016-12-11 20:20] majkinetor commented on #291
Should be unlisted (see [priorities](https://github.com/chocolatey/chocolatey-coreteampackages/wiki/Priorities-for-new-and-existing-packages)).

[2016-12-11 20:29] majkinetor commented on #177
Probably should get unlisted, I don't see any approved package ?

I am not sure about this one tho.

[2016-12-11 20:30] majkinetor commented on #153
Should be unlisted (see [priorities](https://github.com/chocolatey/chocolatey-coreteampackages/wiki/Priorities-for-new-and-existing-packages)).

[2016-12-11 20:32] majkinetor commented on #164
Not sure about this one. What do you think @gep13 ?

[2016-12-12 10:08] gep13 opened #467 "(qtox) Should be manually bump the nuspec version"
https://gist.github.com/gep13/bd2eaa76f2a9ab739ca0544c502dca6e

Not sure why this is raising it's head now.  But looks like 1.5.1 is already pushed to chocolatey.org, but the nuspec version is still at 1.4.1.1.

Thoughts? @AdmiringWorm

[2016-12-12 11:03] majkinetor commented on #467
I saw it and can't understand how that happened. With existing version qtox should return that there is no update unless if it is forced which it was not.

So it was like `NoCheckChocoUrl` was present.

[2016-12-12 11:05] AdmiringWorm commented on #467
I wonder if perhaps an exception occurred when au tried to check the hosted version,
if so au would probably just think it doesn't exist.
We could just bump the version, but I would like to see if it happens again during the next build run.

[2016-12-12 12:42] majkinetor commented on #467
if so au would probably just think it doesn't exist.

Highly unlikely as exception would be thrown. I will retest this part anyway.

That isn't needed:

[code]

[2016-12-12 12:45] AdmiringWorm commented on #467
not if it happened here:
https://github.com/majkinetor/au/blob/master/AU/Public/Update-Package.ps1#L331

Since you're catching any thrown exception and ignoring it while checking if the package+version exists on chocolatey.

[2016-12-12 12:58] majkinetor commented on #467
You are right. That is definitelly what happened. I guess we could ignore this or I could add connection timeout special handling and catch 404.

[2016-12-12 13:00] majkinetor commented on #467
Will close it here, reported it on AU.

It doesn't matter much anyway, it will report timeout error or push error.

[2016-12-12 13:00] #467 closed

[2016-12-12 13:01] AdmiringWorm commented on #467
I don't really see this happening too often, so personally I don't see the value of adding anything to catch 404 errors specifically (or timeout).

[2016-12-12 13:16] gep13 commented on #467
@majkinetor @AdmiringWorm do we still need to bump the nuspec version to match what is actually pushed to chocolatey.org, or has that already been done?

[2016-12-12 13:17] majkinetor commented on #467
No it has not been done. There are several packages that do not mach, so its not a big deal I guess. It will resolve on the next update probably.

This could be synced by some script periodically or something or we can just ignore it for now.

[2016-12-12 14:27] #465 closed

[2016-12-12 14:28] majkinetor commented on #465
I updated extension and source code of tools that use it but didn't push all of the affected tools, those will resolve on next update. Currently you can manually update `chocolatey-core.extension` and it should work.

[2016-12-12 17:21] michaelray commented on #465
Adding the continue line to Get-PackageParameters did the trick.  I was able to upgrade with that line added.

[2016-12-12 17:27] majkinetor commented on #465
thx for the feedback @michaelray .

[2016-12-15 07:14] pascalberger opened #472 "(visualstudiocode) 'Get-PackageParameters' is not recognized"
The Visual Studio Code package currently throws the following error:

[code]

[2016-12-15 07:15] pascalberger commented on #472
@majkinetor Any idea what's causing this? Running `update.ps1` works for me locally

[2016-12-15 07:23] #472 closed

[2016-12-15 09:13] majkinetor commented on #472
Lets get redistribution rights for this ...

[2016-12-15 09:35] pascalberger commented on #472
@majkinetor I asked for permission at the VsCode repo: https://github.com/Microsoft/vscode/issues/17283. But wouldn't have helped with this issue :)

[2016-12-15 09:58] majkinetor commented on #472
It would because then automatic checksum can be disabled.

[2016-12-15 10:12] #161 closed

[2016-12-15 22:11] bcurran3 opened #476 "PowerISO 6.7 fails to install"
FYI: I'm getting a checksum error:
ERROR: Checksum for 'C:\Users\bcurran\AppData\Local\Temp\chocolatey\poweriso\6.7\powerisoInstall.exe' did not meet 'b8c6a05c6322d1884f0c5347dfde9d1f95ab58218a20b9c884d3a5e78b315d8d' for checksum type 'sha256'. Consider passing --ignore-checksums if necessary.
The install of poweriso was NOT successful.
Error while running 'C:\ProgramData\chocolatey\lib\poweriso\t

[2016-12-15 23:19] AdmiringWorm commented on #476
thanks for creating the issue, I'm about to head for bed, but I'll take a look at fixing this tomorrow

[2016-12-16 10:16] AdmiringWorm commented on #476
hmm, looks like the checksum changed again before it was done testing on chocolatey.

[2016-12-16 10:18] majkinetor commented on #476
Thats phantom package. You can force update on remote hashsum change:

https://github.com/majkinetor/au-packages/blob/master/cpu-z.install/update.ps1#L18-L39

[2016-12-16 10:23] AdmiringWorm commented on #476
@majkinetor I did push that package today, if this happens every day an alternative needs to be found

[2016-12-16 10:36] majkinetor commented on #476
It was happeneing quite often with cpu-z too, and then it stopped.

Embedding is alternative, somebody could write them, if they don't respond, I would unlist it because they don't know what they are doing or they are hacked.

[2016-12-16 10:38] AdmiringWorm commented on #476
I'm trying something out, as far as I could tell the url changes on each request so it could potentially be
that the previous url is redirected to a somewhat changed installer.

[2016-12-16 13:06] wget commented on #458
Ok will do.

[2016-12-16 18:03] dragon788 commented on #79
I think per https://github.com/chocolatey/chocolatey-coreteampackages/issues/106#issue-125986689 maybe this one should be closed unless somebody is avoiding the native installer and just copying in the python binaries. A thing to note is you also probably REALLY want the pip.exe shimmed if you do this, otherwise you'll have a lot of pain adding new packages, and Python/pip are going to be looking

[2016-12-16 18:36] majkinetor commented on #79
Yeah, people want c:/PythonXX and with multiple versions.

[2016-12-16 18:37] #222 closed

[2016-12-18 07:20] RedBaron2 commented on #382
I found a solution to this problem, and it requires two lines of code to add/remove a registry key. I will update this with the lines of code tomorrow

[2016-12-18 19:56] pascalberger opened #481 "(mkdocs-material) Only create package if release is pushed to PyPi"
The mkdocs-material package currently checks GitHub releases for update. They are not necessarily pushed to Python Package Index. This happened with 1.0.0-beta (https://github.com/chocolatey/chocolatey-coreteampackages/commit/94604dadc1e6a387304ec13453eb61a8dbaf54b5)

[2016-12-18 20:06] majkinetor commented on #481
This will be marked as prerelease on chocolatey so I think this is probably good thing.

[2016-12-18 20:10] pascalberger commented on #481
The problem is that it was not pushed to Python Package Index (see https://pypi.python.org/pypi/mkdocs-material/) from where the package tries to install.

[2016-12-18 20:32] pascalberger commented on #481
I unlisted https://chocolatey.org/packages/mkdocs-material/1.0.0-beta on Chocolatey and will create a PR for an improved AU script.

[2016-12-18 22:16] #481 closed

[2016-12-19 09:24] majkinetor opened #484 "(ffmpeg) Checksum doesn't match"
[gallery comment](https://chocolatey.org/packages/ffmpeg#comment-3058476169)

[2016-12-19 09:47] majkinetor commented on #484
Convrted to embedded.

[code]

[2016-12-19 10:36] #484 closed

[2016-12-19 10:41] majkinetor commented on #164
I think it should be unlisted too. Scanned the site,

- most of the stuff is available via chocolatey anyway.
- very low number of choco users.

Simply doesn't deserve attention.

[2016-12-19 10:41] #235 closed

[2016-12-19 10:42] majkinetor commented on #282
@AdmiringWorm will look into this after a new year since Firefox stuff can be reused here.

[2016-12-19 10:47] majkinetor commented on #382
How that differs from what I done [above](https://github.com/chocolatey/chocolatey-coreteampackages/issues/382#issuecomment-259115847).

Plus, I am not sure what you do there - you add the key then delete that key .. how that helps.

I am not sure I understand next part too.

Plus, I prefer this to be done on systemic level, not for each package.

It would be good to full working package example,

[2016-12-19 10:48] majkinetor commented on #382
You mean you do this:

[code]
What do you mean _it is just better to close the iwr call_ ?

[2016-12-19 12:08] AdmiringWorm commented on #282
sure, I'll take a look at this after the new years

[2016-12-19 17:06] RedBaron2 commented on #382
@majkinetor This is my example (and my reason for finding it myself)
`reg add "HKCU\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\Zones\3" /t REG_DWORD /v 1A10 /f /d 0 | out-null;
$URI = “https://www.360totalsecurity.com/en/features/360-total-security/“;
$HTML = Invoke-WebRequest -Uri $URI;
$try = ($HTML.ParsedHtml.getElementsByTagName(‘span’) | Where{ $_.className -eq ‘version’ } ).

[2016-12-19 17:11] majkinetor commented on #382
I don't know I didn't test it.

_Your_ issue is irrelvant and what it solves. The only relevant stuff is referent environment, in this case AppVeyor or at least chocolatey test environment.

So, provide an example with `free-video-editor` which suffers from this when you remove `UseBasicParsing`:

[code]

UseBasicParsing is currently there becuase of this issue. Make this package work on AppVeyor

[2016-12-19 17:13] majkinetor commented on #382
I have never seen anybody clsoing IWR the way you did, but the problem with multiple IEs is not related to this one. The problem in free-video-editor appears for example with this code:

[code]

[2016-12-19 18:39] RedBaron2 commented on #382
@majkinetor
I bring up the past

to show you --> refer to  _AU closed PR#35_
_**> It looks like this is fixed with your code so I will close it. If it reapears again I'll reopen.**_

Now for your AppVeyor issue.  How about this @majkinetor

Your basic problem lies in what **ilya** says is a _**certificate**_ is missing. That is why it works for most sites and not for _**free-video-editor**_ or the

[2016-12-19 18:57] majkinetor commented on #382
Irrelevant to this subject. Webclient is used there, not iwr.

I highly doubt that.

But this is not a chatty issue. You help by providing actionable code, nothing else matters, no interpretations, no snippets no chat.  Code - working code on reference machine - is **the only thing** that proves or disproves any points you made here. Make the package work without `UseBasicParsing` and you fixed th

[2016-12-20 16:42] #79 closed

[2016-12-21 07:07] majkinetor opened #487 "(cygwin) Wrong checksum"
Based on several messages I received.

[2016-12-22 11:49] majkinetor commented on #208
I wont do any work on those packages since it is now artifact of the upstream choco problem (not remembering install parameters). Once that is fixed, passing `force86` on first install would be enough.

Am I right @ferventcoder  ?

[2016-12-22 13:38] ferventcoder commented on #208
This issue here is solely in the package itself - has nothing to do with how you pass args

[2016-12-22 13:42] majkinetor commented on #208
The question is semi-related to issue here. SInce python3 has this behvior fixed already, the same fix should be apply in this package.

However, this package exists solly because updating forced86 python will change it to x64 version as install parameters are not remembered. Once this works, this package can be deprecated.

[2016-12-22 13:57] ferventcoder commented on #208
Oh. Got it. Sorry, thought this was about the issue at hand and not the pkg itself. Makes sense

[2016-12-22 14:00] majkinetor commented on #208
Will be deprecated on https://github.com/chocolatey/choco/issues/797.

[2016-12-22 14:02] majkinetor commented on #476
https://github.com/chocolatey/chocolatey-coreteampackages/pull/478

[2016-12-22 14:02] #476 closed

[2016-12-22 14:11] #457 closed

[2016-12-22 17:49] RedBaron2 commented on #382
@majkinetor
Might I suggest next time you ask for help you don't take everything as a criticism.
Now for the point of this so you don't get all huffy.
I have a solution of making

@gep13 @majkinetor
--AppVeyor Output-
`Build started`
`git clone -q --branch=master https://github.com/RedBaron2/development.git C:\projects\development`
`git checkout -qf f6789c41b4e8b829c42a0c35e14a9bea03fafddb`
`Runni

[2016-12-22 17:58] majkinetor commented on #382
@RedBaron2

Sorry, that was definitelly harsh from me (stressfull week on a job).

Thx for the code, I will check it out soon.

[2016-12-25 05:32] ferventcoder opened #498 "(notepadplusplus) IconUrl is wrong"
https://github.com/chocolatey/chocolatey-coreteampackages/blob/edcff7ffc5e59d7ad2ff170987d5b7b4d0fb4195/automatic/notepadplusplus/notepadplusplus.nuspec#L36

It should point to the result of https://raw.githubusercontent.com/chocolatey/chocolatey-coreteampackages/master/icons/notepadplusplus.png

[2016-12-25 08:42] majkinetor commented on #498
This should get automatically fixed by the `Update-IconUrl.ps1` script. I will leave this to @AdmiringWorm to take a look at.

[2016-12-25 18:27] ferventcoder commented on #498
Cool

[2016-12-25 20:45] gep13 opened #500 "Create extension for additional installers"
To cover the following:

- VSCode Extensions
- Google Chrome extensions
- Powershell Gallery

[2016-12-28 08:19] gep13 commented on #500
This would cover:

- [ ] googlechrome-editthiscookie
- [ ] googlechrome-emberinspector
- [ ] googlechrome-github-expandinizr
- [ ] googlechrome-zenhub
- [ ] vscode-csharpextensions
- [ ] vscode-ember-cli
- [ ] vscode-ember-frost
- [ ] vscode-icons

[2016-12-28 08:20] gep13 commented on #500
@pascalberger you might be interested in this for some of your VSCode extensions as well.

@bcurran3 you might be interested in this for some of your googlechrome extensions.

[2016-12-28 08:53] pascalberger commented on #500
@gep13 How would the extension look like for VSCode? And what is its advantage over directly installing the extension?

[2016-12-28 08:56] gep13 commented on #500
@pascalberger the extension would likely contain the two lines that you currently include in the chocolateyInstall.ps1 file, and the function would likely take a single parameter which is the name of the VSCode extension that is being installed.  The benefit being that "if" the installation mechanism for VSCode extensions ever changed, then you change it in one place, the chocolatey extension, ins

[2016-12-28 09:02] pascalberger commented on #500
@gep13 OK, got it :)

[2016-12-28 19:28] ferventcoder opened #502 "(LibreOffice) Download location could use a different more "stable" url (Or Embed)"
LibreOffice could be downloaded from https://downloadarchive.documentfoundation.org/libreoffice/old/ instead of https://download.documentfoundation.org/libreoffice/stable/.

Judging from the most recent - 5.2.4.2, it went up to both locations at the same time.

This is from https://chocolatey.org/packages/libreoffice#comment-3072278348

Or if this is embeddable, we can go that route.

[2017-01-01 00:41] scowalt opened #503 "(notepadplusplus) Uninstaller isn't silent for notepadplusplus.install"
After the uninstall script has finished executing, the uninstaller pops up and needs to be manually clicked through.

[2017-01-01 19:28] Zachu commented on #476
Still does this for me
[code]

Also fails with `--ignore-checksums`
[code]

[2017-01-02 21:35] pascalberger opened #506 "(tor-browser) Not updating"
It seems like the Ketarin script for tor-browser no longer is updating the package. The community feed is still at [6.0.5](https://chocolatey.org/packages/tor-browser) while current version is [6.0.8](https://www.torproject.org/download/download-easy.html.en#windows).

[2017-01-02 22:59] pascalberger opened #509 "(tor-browser) Change to embedded package"
[Tor Browser License](https://www.torproject.org/docs/faq.html.en#DistributingTor) would allow to redistribute which would help in situations where the original download was removed (like [recently with the 6.0.5 release](http://disq.us/p/1eck6mu)).

On the other hand the [chocolateyInstall.ps1](https://github.com/chocolatey/chocolatey-coreteampackages/blob/master/automatic/tor-browser/tools/choco

[2017-01-05 07:59] kelunik opened #510 "(php) Fallback to archive url for v5.3.x, v5.4.x, v5.5.x"
The PHP installation should fallback to http://windows.php.net/downloads/releases/archives/ instead of http://windows.php.net/downloads/releases/ if the version cannot be found there.

[2017-01-07 17:02] AdmiringWorm commented on #509
I'm not sure of how big the installers are, but if in total(all locales combined) they are under 150MB then there shouldn't be any problem, just download each of the file and store them in the tools directory.

[2017-01-07 17:07] AdmiringWorm commented on #502
I don't think embedding it would be possible, unless they where to split into separate 64bit and 32bit packages (size limit).

I'm not sure about have it downloaded from the archive location as a default either (potentially slower mirror).
But having a fallback if it isn't found at the default download location should definitely be done.

[2017-01-07 17:29] AdmiringWorm commented on #487
it looks like parts of cygwin is licensed under gpl3 and the api as lgpl3, as such it probably should be embedded

[2017-01-07 17:38] AdmiringWorm commented on #498
I'll add some changes later to handle `.commandline` suffix, after I've added that it should be enough to move the icon to the icons directory and rename it to `notepadplusplus.png` and it should automatically be updated when the package is updated.

[2017-01-07 18:07] AdmiringWorm commented on #498
I've added a change to the update icon url script in https://github.com/chocolatey/chocolatey-coreteampackages/commit/14cbbb83a8d3c95c04be9434bc400ed5aa87a9d2

this will then update the icon urls the next time the notepad++ packages is updated.
I'll leave this open until then though.

[2017-01-07 21:20] pascalberger commented on #509
Unfortunately I don't think embedding all packages is an option, since each contains the full version with about 50MB

[2017-01-11 06:17] AdmiringWorm commented on #282
since @pascalberger have started on migrating the tor-browser to AU, I'm assigning him to this issue

[2017-01-11 06:19] AdmiringWorm commented on #500
@gep13 any update on this one?

[2017-01-11 06:39] AdmiringWorm commented on #476
@Zachu looks like the fix was never pushed to chocolatey when it was merged.
I'll get around to pushing it later today, sorry about the delay.

[2017-01-11 07:56] AdmiringWorm commented on #503
could you please provide some more details as I'm unable to reproduce this on my end.

what OS and architecture do you run?
was it 64bit or 32bit version of notepad++ you had installed?
Do the script any output, or warnings?

[2017-01-11 22:39] AdmiringWorm commented on #462
I'm look ing into this now

[2017-01-11 23:29] AdmiringWorm commented on #458
@wget any update on this?

[2017-01-13 18:54] ferventcoder opened #519 "(git) Verification issues"
Looks like au pushed up git/git.portable packages just now. The portables are missing the LICENSE and VALIDATION files, plus it failed verification. https://chocolatey.org/packages/git.portable/2.11.0.2

Git was just missing git.install.

[2017-01-13 18:54] ferventcoder commented on #519
@AdmiringWorm @gep13 @pascalberger @majkinetor

[2017-01-13 18:56] ferventcoder commented on #519
It's looking for an invalid file to unzip? C:\ProgramData\chocolatey\lib\git.portable\tools\PortableGit-2.11.0-64-bit.7z.exe (note the missing `.2`) as compared to the actual file PortableGit-2.11.0.2-64-bit.7z.exe

[2017-01-13 19:02] AdmiringWorm commented on #519
odd, was sure it should grab the actual url when it was updating.
also noticed that git was pushed, but not git.install.

I don't have time to look at it today, but I'll try to have a look tomorrow.

[2017-01-13 19:03] pascalberger commented on #519
There seems to be also encoding issues with git.portable: https://github.com/chocolatey/chocolatey-coreteampackages/commit/54b404392f4d8644bf11aec8323747259cc1c820#diff-bf5c1a5a81da8e7952b6748dfdc11c22R49

[2017-01-13 19:12] pascalberger commented on #519
I'll have a look and create a PR

[2017-01-13 19:36] pascalberger commented on #519
Pull request available here for most of the issues: #520

[2017-01-13 20:17] #519 closed

[2017-01-14 00:00] michaelray opened #524 "(git.install) Registry key error on install"
I'm getting an error "The registry key at the specified path does not exist." when attempting to install the git package (which installs git.install).

Here's the gist:
https://gist.github.com/michaelray/0796d6c6f7efadf31d51315cfd733713

[2017-01-14 00:05] michaelray commented on #524
Also, even though git.install did not successfully install, it still shows that git succeeded.  That doesn't seem like the correct logical behavior.  If git.install fails to install successfully, then I would think that git should be marked as failed, too (since git installs git.install).

[2017-01-14 08:19] pascalberger commented on #524
@ferventcoder Any idea about the second issue (`git` suceeding even if `git.install` fails). Sounds like an issue in `choco` or underlying NuGet to me?

[2017-01-14 11:19] #524 closed

[2017-01-14 21:15] wget commented on #458
@AdmiringWorm I [proposed a PR here](https://github.com/chocolatey/chocolatey-coreteampackages/pull/528).

[2017-01-14 21:25] wget commented on #458
It has been discussed the packages need to migrate to AU and provide 64 bits (as they are available) in order to be pushed. /me Taking care of it.

[2017-01-14 22:07] pascalberger opened #531 "Add embedded tag to obligatory tags"
How about introducing another tag `embedded` in the guidelines at [§1.2.2](https://github.com/chocolatey/chocolatey-coreteampackages/wiki/Contributing-guidelines#122-obligatory-tags) for embedded packages (or packages which don't require internet access)

[2017-01-14 22:10] AdmiringWorm commented on #531
Personally I don't really think it's necessary.

[2017-01-15 02:26] ferventcoder commented on #531
I don't really see it as necessary either - there will be a progress bar for downloading packages themselves in 0.10.4, so you will likely know that the package being downloaded contains something when it has a bigger size than 8K.

[2017-01-15 02:26] ferventcoder commented on #531
@chocolatey/chocolateycommunitypackages

[2017-01-15 03:07] ferventcoder commented on #524
The meta package was successful, even though it didn't do anything. Technically it is correct, but you can see how the .install package failing to install makes things look wrong. So in other words, I might call it a bug even though the behavior is correct.

[2017-01-15 17:42] wget commented on #502
Hi there. I just asked upstream; Please do not use the downloadarchive source. The latter is used only for devs. CGN and mirrors etc. need to use the download version.

[2017-01-16 19:57] gep13 commented on #531
Yeah, I think I agree with @AdmiringWorm and @ferventcoder.  I don't think that this is required.  Going to go ahead and close this one out.

Feel free to open if you think further discussion is required.

[2017-01-16 19:57] #531 closed

[2017-01-16 19:57] gep13 commented on #500
@AdmiringWorm I haven't forgotten about this one, just somewhat down the list of things to do just now 😢

[2017-01-18 05:42] #498 closed

[2017-01-21 20:46] #462 closed

[2017-01-23 17:08] pyhedgehog opened #544 "flashplayeractivex v24.0.0.194 outdated url"
[code]
`https://download.macromedia.com/get/flashplayer/current/licensing/win/install_flash_player_24_active_x.msi` redirects to `http://fpdownload.macromedia.com/get/flashplayer/current/licensing/win/install_flash_player_24_active_x.msi`.

Correct URL is `https://download.macromedia.com/pub/flashplayer/pdc/24.0.0.194/install_flash_player_24_active_x.msi` redirecting to **`http://fpdownload.macrom

[2017-01-23 17:19] AdmiringWorm commented on #544
thank you for opening this issue, we are aware of the issue.
The url have been fixed in the repository, but have yet to be pushed out.

I'm waiting for the go ahead from the rest of the core team packages maintainers on  https://github.com/chocolatey/chocolatey-coreteampackages/pull/543

When that one is merged we would then be able to send out an update for this package.

[2017-01-25 03:32] photodude commented on #510
Based on the helper function that should be happening, maybe something is not correct with the AddArchivePathToUrl() function...
https://github.com/chocolatey/chocolatey-coreteampackages/blob/master/automatic/php/tools/helpers.ps1#L15-L22

[2017-01-25 07:18] kelunik commented on #510
I guess it works for newer releases then, but not old ones? The one I'm specifically having issues with is PHP 5.5 installations for CI purposes. https://github.com/amphp/dns/blob/master/appveyor.yml#L39

`cinst --ignore-checksums -r -y php --version ((choco search php --exact --all-versions -r | select-string -pattern 5.5 | Select-Object -first 1) -replace '[php|]','')`

[2017-01-25 11:59] photodude commented on #510
With archived versions `Select-Object -first 1` might be the wrong choice

I also wonder if choco needs to take into consideration nts vs ts versions of php in the archive (I believe iis needs the nts version as it's not thread safe where as apache can us the ts version of php)

[2017-01-25 12:07] kelunik commented on #510
Why?

[2017-01-25 12:39] photodude commented on #510
Look at the php 5.5 items in the archive, which minor version will select object first pick? That's what I see might be a possible problem.

[2017-01-25 13:25] kelunik commented on #510
I don't care about the actual minor version being used for CI purposes, but the one that's chosen doesn't install, because it can't find it.

https://ci.appveyor.com/project/kelunik/dns/build/job/9k7sfw429rea1lh7 doesn't show that exact error currently, but did before and also locally I get that `http://windows.php.net/downloads/releases/php-5.5.16-nts-Win32-VC11-x64.zip` either doesn't exist or i

[2017-01-25 13:42] AdmiringWorm commented on #510
@kelunik I looked through the existing versions of the php package, and it seems the fallback to using the archives url was implemented in version [5.6.2](https://chocolatey.org/packages/php/5.6.2).
Unfortunately I don't believe there will be added any fixes to any versions earlier than that one, as it's no longer supported by the developers.

As such, I'm also going to close this issue as it will

[2017-01-25 14:04] AdmiringWorm commented on #544
@pyhedgehog a updated version of all the flashplayer packages have been pushed to chocolatey.org

[2017-01-25 14:04] #544 closed

[2017-01-25 14:47] photodude commented on #510
@AdmiringWorm for ci purposes it doesn't matter if php no longer supports the version being tested against. I work with projects that still have php 5.3 as a supported version to run their package on. Usually it's corporate intranets that still run those old versions. It will be another 2 years before we completely stop supporting/writing code that runs on php 5.3 and we only have a code base runn

[2017-01-25 15:01] kelunik commented on #510
@AdmiringWorm Thanks for checking, I'm glad it works on all newer versions. While PHP 5.5 has reached its EOL and even 5.6 being already in security-only mode, there are still a lot of packages supporting it. Whether that's good or bad is another discussion. We ([amphp](https://github.com/amphp)) will completely drop PHP 5 support in the next version, as does Symfony and other major frameworks, bu

[2017-01-25 15:10] ferventcoder commented on #510
So much this comment. I've lived this in Ruby land, so I completely understand and support this idea.

[2017-01-25 15:10] ferventcoder commented on #510
@AdmiringWorm could we give it another look?

[2017-01-25 15:29] AdmiringWorm commented on #510
Ah yes, sorry didn't think of it that way, guess I closed this a little too soon without taking that into consideration.

Certainly, we can take another look at this.
I'm not entirely sure how we should handle this though.
Just reusing the current script with the necessary url changes, or create a new one just using the archive url?

[2017-01-25 16:01] AdmiringWorm commented on #510
I'll look into providing some updated packages for the old versions.
For now I only plan to add the latest 5.5.x version, but if there is any other versions anyone would like then please let me know.

/cc @kelunik @photodude @ferventcoder

[2017-01-25 16:02] kelunik commented on #510
I'm fine with having one version, which ever it is.

[2017-01-25 16:17] photodude commented on #510
For [Joomla-CMS](https://github.com/joomla/joomla-cms) we would like just the last version of 5.3, 5.4, and 5.5.

On a side note, like @kelunik and amphp we also primarily test with Travis CI. Additionally, our next major version will only support PHP 5.6+. Our current version nearing release 3.7 will be supported for 2 years and has a minimum php of 5.3, so any older PHP versions we can bring int

[2017-01-25 16:19] AdmiringWorm commented on #510
@photodude 👍
I'll look into adding updated versions of 5.3.x and 5.4.x as well.

[2017-01-25 16:45] AdmiringWorm commented on #510
@photodude Am I correct to asume that php v.5.3.x doesn't support 32bit?
Perhaps v5.4.x as well?

[2017-01-25 17:08] kelunik commented on #510
At least there aren't any builds for it. I guess we could just fall back to x86 there.

[2017-01-25 17:10] photodude commented on #510
As far as I'm aware even in php 5.5 and 5.6 the x64 support is experimental. all of those versions should all default to x86.
the following is from http://windows.php.net/

Looking at the [archive list](http://windows.php.net/downloads/releases/archives/) php 5.5 is the first version to have a x64 package included

Additionally if your using IIS on windows you need the NTS version as only Apache i

[2017-01-25 17:22] AdmiringWorm commented on #510
@kelunik said

as far as I know, by default a package uses 64bit unless a `--forcex86` is used (on a 64bit OS)

@photodude

Unfortunately the existing 5.5 and 5.6 packages defaults to 64bit, and I want to keep them consistent so that's what I'm going to do as well.

see this note from http://windows.php.net/

The existing packages already uses the NTS version, so i'm going to keep using that.

[2017-01-25 17:30] photodude commented on #510
@AdmiringWorm I'm all for consistency in default settings, especially when there are options to override with --forcex86. So defaulting to NTS is fine, I hope that there is is a way to force the TS version of PHP if that is needed (we are focusing on testing with IIS on windows so NTS is fine for us especially as a default)

[2017-01-25 17:31] AdmiringWorm commented on #510
@photodude Currently there is no way to foce the TS version.
But I can certainly look into that as well.

[2017-01-29 06:57] rgl opened #549 "(7zip) 7z shim creation"
Can the 7zip.install package also install a shim for the `7z.exe` executable? That is, I would like to have `7z.exe` on the system `PATH` has `choco.exe`.

[2017-01-29 13:45] AdmiringWorm commented on #549
@rgl good idea.
Would have to check if another shim exists for `7z.exe` first though.
Should probably add shims to `7zFM.exe` and `7zG.exe` as well.

[2017-01-30 06:41] AdmiringWorm opened #550 "(inkscape) Due to the bug in vendor installer, package should uninstall prior to update"
Upgrading the inkscape package is currently impossible due to a bug in the installer making it return error code 1638 if a previous version of the software is already installed.

See:
http://disq.us/p/1f03dr0
https://bugs.launchpad.net/inkscape/+bug/1653574

[2017-01-30 17:32] jbolduan opened #551 "(visualstudiocode) Get-PackageParameters is not recognized when installing using Install-Package"
While PackageManagement believe's it's installed VisualStudioCode 1.8.1 it's not actually completing and it appears to be failing on one of the Chocolatey core extensions for some reason.  Below is the command line I was using as well as the output of the verbose/debug logs.

Installing using the command line:
[code]

I get the following output from the console when running this command.
[code]

I

[2017-01-30 18:09] AdmiringWorm commented on #551
I wonder if maybe the powershell PackageManagement don't support importing chocolatey extensions (I'm almost sure I read somewhere that the provider used is using several years old code).
Have you tried installing it directly with `choco install visualstudiocode`?

I don't really have any experience when it comes to the `Install-Module` cmdlet, so let me reference some people that may help on this

[2017-01-30 18:20] ferventcoder commented on #551
It doesn't - please use choco until you hear otherwise. Follow this thread - https://github.com/chocolatey/chocolatey-oneget/issues/5

[2017-01-30 18:20] #551 closed

[2017-01-31 23:52] ferventcoder opened #557 "(nodejs) LTS package"
Many folks, including @digitaldrummerj have requested that there be an actual LTS package for NodeJs - I think it's a good idea. Thoughts?

[2017-01-31 23:54] digitaldrummerj commented on #557
@ferventcoder  After I requested this one of the maintainers for the nodejs package responded that there already was a package at https://chocolatey.org/packages/nodejs-lts

[2017-01-31 23:56] ferventcoder commented on #557
Yeah, there is. I forgot about that one.

[2017-01-31 23:56] #557 closed

[2017-02-01 00:02] AdmiringWorm commented on #557
@ferventcoder fyi
I've added a note about the LTS package, it will be included in future versions of the nodejs package.

https://github.com/chocolatey/chocolatey-coreteampackages/commit/6e56dc3e0e193eab9230ffb28bf8be79f43749ef

[2017-02-01 16:42] AdmiringWorm commented on #203
@mullermp I know I'm a little late to the party, but I believe I found a bug in the dependency of the clover package (can't really verify since your link to the log has expired).

Could you please try updating the [chocolatey-core.extension](https://chocolatey.org/packages/chocolatey-core.extension/1.0.6) package and try installing the clover package again?

[2017-02-01 19:16] photodude commented on #510
@AdmiringWorm I was just looking at `choco list php --exact --all-versions` seems PHP 5.4 is missing from the list and PHP 7.0.9 is the last php7 version listed although [the package list](https://chocolatey.org/packages/php/) says 7.0.13 is available and PHP 7.0.15 is available in the win releases http://windows.php.net/downloads/releases/

any tips on how to get the correct latest minor version

[2017-02-01 19:26] AdmiringWorm commented on #510
@photodude Thanks, I'm aware of it.
Both of those are on my TODO list, but want to complete #548 before I do.

[2017-02-02 20:11] #177 closed

[2017-02-03 00:45] AdmiringWorm commented on #509
I'm closing this as it isn't possible to do without changing the functionality of the package to only include a single language file.

[2017-02-03 00:45] #509 closed

[2017-02-03 00:58] wjk opened #562 "Pyhoca-GUI Uninstall Script Errors"
I was wandering through the list of newly modified packages on the community feed, when I stumbled upon a strange syntax error in the PyHoca-GUI uninstall script. To wit:

[Lines 24-25](https://github.com/chocolatey/chocolatey-coreteampackages/blob/master/automatic/pyhoca-gui/tools/chocolateyUninstall.ps1#L25-L26) of the uninstall script for this package are missing the `Write-Warning` part of the

[2017-02-03 01:20] AdmiringWorm commented on #562
yeah, that is very strange that such an error got through (and it being my fault as well 😢)
I'm about to sign off, but I'll fix them first thing tomorrow.

Thanks for opening the issue and letting us/me know.

[2017-02-03 01:26] AdmiringWorm commented on #562
Two other packages also needs fixing.
- picard
- ietester

[2017-02-03 14:47] #562 closed

[2017-02-05 17:15] ChadSikorra commented on #510
Perhaps I'm overlooking something and need to look closer, but the issue appears to be that the downloadInfo.csv file is generating all of its URLs from the main releases page. Then if it doesn't exist there it attempts to use the archive URL, but the value it passes to that method will never work because it wouldn't be in the downloadInfo if it is already in the archive.

[2017-02-06 17:57] pascalberger opened #571 "(git.install) NoShellIntegration"
As reported [here](https://chocolatey.org/packages/git#comment-3140452082), the `NoShellIntegration` parameter no longer seems to work on the `git.install` package.

[2017-02-07 21:08] pascalberger opened #574 "(git.install) Cannot process argument transformation on parameter 'silentArgs'"
As reported [here](https://chocolatey.org/packages/git#comment-3142764863):

Getting the following error message when attempting to upgrade (cup all). After the failed upgrade attempt the package had been removed so I tried installing it again (choco install git.install) with the same result.

[code]

The only thing that might be relevant that I can find in the log is:

[code]

Win 10 Anniversary

[2017-02-07 21:09] pascalberger commented on #574
@AdmiringWorm Any idea why convertion fails for the `silentArgs` parameter?

[2017-02-07 21:11] AdmiringWorm commented on #574
@pascalberger
Unfortunately I have no idea right now.

[2017-02-07 22:00] yhrn commented on #574
Any more information I can provide?

[2017-02-07 22:08] pascalberger commented on #574
@yhrn You just run `choco install git` without any additional parameters? Whats your PowerShell version?

[2017-02-07 22:18] AdmiringWorm commented on #574
@yhrn if you could install it with debug and verbose output enable i.e: `choco install git.install -dv` and share that output (make sure it doesn't contain anything sensitive), then that would be great.

@pascalberger Considering he said he is running Windows 10 Anniversary the PowerShell version would either be `5.0` or `5.1`

[2017-02-08 01:20] yhrn commented on #574
PS version: 5.1.14393.693
[Log gist](https://gist.github.com/yhrn/3a311902b89e7f6a1284b036f0c92781)

[2017-02-08 03:04] AdmiringWorm commented on #574
I think I've found the problem.
The string array of silent args just aren't automatically expanded to a string on some systems (oddly enough it's on mine, and in the test environment).

[2017-02-08 03:05] AdmiringWorm commented on #571
I found out why this doesn't work, the component string that is generated is never returned from the function.

[2017-02-08 03:06] ferventcoder commented on #574
Upgrade choco - you are running into a known issue that was handled in 0.10.x. Silent args are an array here but the version of choco you have can't work with arrays.

[2017-02-08 03:07] ferventcoder commented on #574
0.9.10.3 - https://github.com/chocolatey/choco/issues/808

[2017-02-08 03:07] #574 closed

[2017-02-08 03:14] AdmiringWorm commented on #574
ah, that explains it. never noticed he ran v0.9.10.2.

[2017-02-08 03:16] AdmiringWorm commented on #550
Current workaround for this is to uninstall the software before upgrading

[2017-02-08 03:44] #571 closed

[2017-02-08 04:03] AdmiringWorm commented on #510
Basically the logic is currently as follows.
1. Read the main release page urls from downloadInfo.csv
2. Test if installer is located at that url
    * If it doesn't exist, change it to the archive url
3. Pass the url to the package arguments.

The reason it's not working for the existing package is because they used a non-existing url variable, this is fixed in the latest version in this repo (no

[2017-02-08 17:20] yhrn commented on #574
Yup that solved it. I was under the impression that Chocolatey would upgrade itself when running `cup all`, but maybe that something that got introduced in a later version than the one I was on?

[2017-02-09 20:15] AdmiringWorm commented on #510
@kelunik @photodude

v5.3.29, v5.4.45 and 5.5.28 have just been pushed and should be available on chocolatey.org soon.

the latest v5.6.x and 7.0.x will come later.

[2017-02-09 21:15] #164 closed

[2017-02-10 05:00] Redsandro opened #575 "(renamemaster) Needs checksum"
[code]

[2017-02-10 05:01] Redsandro opened #576 "[TreeSize Free] Needs checksum"
[code]

[2017-02-10 05:31] AdmiringWorm commented on #576
sorry to say, but this package isn't hosted here.
Looks like it's over here: https://github.com/maartenba/ChocolateyPackages

[2017-02-10 05:31] #576 closed

[2017-02-10 07:46] gep13 commented on #576
@maartenba are you able to help with this problem?  Thanks!

[2017-02-10 09:59] Redsandro commented on #576
@AdmiringWorm My mistake!

[2017-02-12 21:09] pascalberger opened #580 "Requiring approvals on PRs"
IMHO it would be a good idea to add branch protection for the `master` branch, requiring changes going through pull requests and requiring approval, or at least requiring approval on pull request (since commits on master to add AU or PUSH commands can be quite hepful).

@chocolatey/chocolateycommunitypackages Opinions about this?

[2017-02-13 04:25] AdmiringWorm commented on #580
I agree it would make sense to require at least one approval on pull requests, but I don't think it would make sense in a few scenarios to not allow it on the master branch since this would disallow all of the following to be pushed directly: quick bugfixes, minor metadata updates, using `AU` and `PUSH` commands and updating the files during appveyor build run.

I since there there isn't anyway to

[2017-02-13 06:42] pascalberger commented on #580
Ah right, there's only the option for admins to bypass approval but not to bypass the branch protection.

[2017-02-13 08:24] AdmiringWorm commented on #580
I do think you can add individual members/teams that can bypass it as well.
But again, not entirely sure about that.

[2017-02-13 08:47] Redsandro commented on #580
I think at least sec branch protection on master is a good idea (no force push, no delete).

As for the merge, I'm sorry. I'm not normally a clown merging random things. In the beginning there was barely any staff here and I had a lot of packages to push or fix. Tried to do as much as possible without taking up other people's time.

[![Emergency Powers](https://img.youtube.com/vi/P3jSsg1TlP4/0.jpg

[2017-02-13 08:56] pascalberger commented on #580
@Redsandro There's actually a use case here where directly commiting to `master` makes sense, where you can use `AU` or `PUSH` keyword in commit message to force actions (See eg. [here](https://github.com/chocolatey/chocolatey-coreteampackages/commit/84b93e6a3b215491d39f94e2333620cef1f312c7)), which would no longer work if `master` requires a PR. Also the AppVeyor build commits changes back direct

[2017-02-13 09:00] majkinetor commented on #580
Will only slow down things without any other benefit. Strongly against it.
Programmers should fix problems, not introduce new ones without any justification or simply due to theoretical ideas.

The core team is already selected among worthy contributes which proved their competence. Even few occasional errors in this regard do not justify this action IMO.

[2017-02-13 09:04] majkinetor commented on #580
And it will strongly demote AU command usage `[PUSH]` and `[AU]` making them basically unusable.

[2017-02-13 14:54] ferventcoder commented on #580
I will withhold my opinion until I understand how it plays for forward movement. I think @majkinetor  presents a strong case against it and @AdmiringWorm presents a good case for it on just Pull Requests.

Can it be locked down to just PRs? I think last time I visited branch protection there was some good stuff but it was too limiting to move forward with. So I'm curious what has changed since.

[2017-02-13 15:23] AdmiringWorm commented on #580
@Redsandro said:

I believe the master branch is already a protected branch which disables force push and deletion.

@ferventcoder said:

Not as far as I know, the information where you enable **Require pull request reviews before merging** also states as such:

[2017-02-13 15:24] gep13 commented on #580
@ferventcoder these are the options:

![image](https://cloud.githubusercontent.com/assets/1271146/22889285/7942d520-f200-11e6-9ae3-0f03b500c688.png)

[2017-02-13 18:50] ferventcoder commented on #580
So no. I'm pretty against this if it is not able to be locked down to just PRs.

[2017-02-13 20:15] pascalberger commented on #580
I'm closing this issue since it unfortunately is not possible to just require approvers and still allow certain commits on master.

[2017-02-13 20:15] #580 closed

[2017-02-13 21:27] jberezanski commented on #580
A bit late to the party, but I'll just say I agree with the decision. I'm normally a fan of requiring PRs for master (we have it enabled in most repos at work), but here the disadvantages, namely 1) preventing AU command usage and 2) making quick fixes impossible, IMO outweigh the advantages. As long as force push is disabled the branch is protected enough.

[2017-02-14 15:04] Redsandro commented on #446
I only now found out that `lightalloy` had stopped updating.

Don't remove the package; I added it for a reason. Deprecate reasons by @majkinetor are arbitrary:

* It is freeware
* in active development
* not too popular but more downloads than a hundred of chocolatey packages.

Help fix the non-fosshub autopackage in stead: https://github.com/chocolatey/chocolatey-coreteampackages/pull/585

[2017-02-14 15:04] Redsandro commented on #464
Do not unlist `lightalloy`. Help me fix the package in stead: https://github.com/chocolatey/chocolatey-coreteampackages/pull/585

[2017-02-14 16:26] AdmiringWorm commented on #425
I believe all of these are fixed now.

[2017-02-14 16:26] #425 closed

[2017-02-14 16:27] AdmiringWorm commented on #510
Forgot about closing this one, all requested versions should be available now.
Let me know if there are any remaining

[2017-02-14 16:27] #510 closed

[2017-02-14 19:37] Redsandro opened #586 "Streamlining PR review process"
There is overhead on the PR review process. As some of you might remember, I hate overhead.

1. Reviewer notices 8 problems.
    * 7 times trivial _"do this"_ or _"add that"_
    * 1 issue that requires thinking on committer's end
1. Reviewer types out 7 required changes and comments about 1 issue
1. Committer amends PR with commit with 7 copy-paste changes, and works on the issue.
1. Reviewer ver

[2017-02-14 21:07] AdmiringWorm opened #587 "(qbittorrent) Added support for 64bit"
It was requested on disqus to add support for qbittorrent 64bit:

https://chocolatey.org/packages/qbittorrent#comment-3155134209

[2017-02-15 00:07] wjk opened #588 "Magical Jelly Bean Keyfinder — Possible adware?"
I was wandering around the community feed and found this gem in the license for the `keyfinder` package (line-wrapped for readability):

[code]

OpenCandy is considered adware [according to Wikipedia](https://en.wikipedia.org/wiki/OpenCandy); in addition, I didn't even have to look it up to know what it was. Since this package has been marked as trusted, I assume that this adware is not installed

[2017-02-15 09:41] majkinetor commented on #446
I disagree.

So what ? Should core team serve as pile of everything that ever existed ? Any new package means more maintenance means more overburn on developers here means people will leave and important packages will not get updated. Rather, its best to collect here mainstream tools because those are the kind that are served every day and people depend on them and they generate bunch of work alre

[2017-02-15 09:41] majkinetor commented on #446
Keep in mind that this is the core repository it doesn't have the same standards nor motivation as random package submited by random user.

[2017-02-15 10:08] pascalberger commented on #586
I have to disagree here. This repository has a set of [guidelines](https://github.com/chocolatey/chocolatey-coreteampackages/wiki/Contributing-guidelines) defined, which are debatable as every guidelines and some parts depend on personal preferences, but IMHO the important part is to stick to the defined guidelines and processes once defined, otherwise they just don't serve any purpose.

As the gu

[2017-02-15 10:41] Redsandro commented on #446
I shall rephrase: Deprecate reasons are _false_.

There __is__ active development. There __is__ a permissive license. There __are__ chocolatey users.

---

Furthermore, I don't think the core repository should be in the business of removing packages that it had previously picked up. For a time we actively brought in packages that were orphaned.

There was an ongoing discussion about whether it's b

[2017-02-15 11:10] Redsandro commented on #586
So having to jump through hoops is the punishment for not doing it correctly in the first place?

I understand your concerns. I do think a distinction between _"random people"_ (outsiders/non-members) and known members could be made, to judge whether or not something is _"quick and dirty code"_ or honest mistakes.

__1.__ I think reviewers should be at least __encouraged__ (to use their own judgme

[2017-02-15 11:24] pascalberger commented on #586
I don't think making a distinction between team members and non-members regarding guidelines makes sense, as both should stick to the guidelines and be reviewed equally. But I'm completely OK to differentiate between *must* requirements (as defined by the guidelines and bugs/functional impacts) and *nice-to-have* ones which don't necessarily should hold up a PR.

Unfortunately GitHub only knows tw

[2017-02-15 12:21] Redsandro commented on #586
I agree. I think you have misunderstood me:

[2017-02-15 13:25] majkinetor commented on #446
Yeah, I was wrong, there are users

![image](https://cloud.githubusercontent.com/assets/85767/22975601/a44e03c4-f387-11e6-91fe-6feccaa4ccd6.png)

If we exclude bots its probably only somebody who did type lightalloy by mistake instad asdf ;)

Times change. For a reason.

See guidelines on wiki. Also read about priorities:
https://github.com/chocolatey/chocolatey-coreteampackages/wiki/Package-prior

[2017-02-15 13:57] majkinetor commented on #586
I disagree.

The point of this kind of review is not to be a dick about it or to hinder the process but to facilitate a learning process. Reviewer can trivially easy fix the problems, but then it will have to constantly do so in the future as it will promote bad behavior. Once the author learns, the PR are usually resolved very fast. If it troubles someone to the extent that he abandons it, it tel

[2017-02-15 14:01] majkinetor commented on #586
Its mostly me who made the guidelines the way there are now and the numbering thing was exactly for that reason. When I was doing reviews, I was usually specifying problems by the numbers.

[2017-02-15 14:55] Redsandro commented on #586
Ok good.

I see consensus is against collaborative PRs in favor of a learning process. I shall close this issue.

[2017-02-15 14:55] #586 closed

[2017-02-15 15:21] Redsandro commented on #446
Thank you for that. I know disagreements and criticism can feel like total disregard for the good things. I love what you and others have done to this place.*

Although personally I'd phrase _"took over to modernize"_ as _"joined to modernize"_. People before you have spent time getting things up to a standard, including PRs to Chocolatey before the crowdfund.

You developed AU? In that case you g

[2017-02-15 16:18] photodude commented on #510
@AdmiringWorm I'm now seeing PHP 7.1 always installing in a versioned directory, previously all php would default to <drive>/tools/php see this appveyor build https://ci.appveyor.com/project/joomla/joomla-cms/build/1.0.643/job/2b5vfkcwoofnp618

nothing has changed on our side, just the recent chocolatey changes

[2017-02-15 17:09] AdmiringWorm commented on #510
@photodude yes, that's intentional to allow side-by-side installation.
If you absolutely need for it to install to the /tools/php directory you can pass `--params '""/InstallDir:C:\tools\php"""' when calling choco install

[2017-02-15 17:15] photodude commented on #510
@AdmiringWorm this is the script for the install with cinst on appveyor which installs correctly for php 5.6 and php 7.0 to C:\tools\php it's only php 7.1 that is installing to a different directory C:\tools\php71.

[code]

[2017-02-15 17:30] AdmiringWorm commented on #510
@photodude they all are supposed to install to a versioned folder, and I can see why 5.6.x and 7.0.x isn't.
For 5.6.x you're installing the 5.6.9 version while the latest is 5.6.30 (you're using default sorting, instead of version sorting)
For 7.0.x you're install the 7.0.9 version while the latest is 7.0.16 (same sorting problem).

As I said, you'll need to specify the `InstallDir:` parameter if

[2017-02-15 17:31] photodude commented on #510
Ok, I'll make the install dir change. What do I change to use version sorting?

[2017-02-15 17:36] AdmiringWorm commented on #510
If i remember correctly, then it should be enough to add
[code]
right before you have `| Select-Object`.
You'll need to test that though, as I'm not completely sure.

[2017-02-15 17:41] photodude commented on #510
thanks @AdmiringWorm I'll give it a go. I hope that kind of detail can be added to the documentation.

[2017-02-15 17:44] AdmiringWorm commented on #510
just tested out sorting by version,
you'll need to swap out the choco search command with the following:
[code]

regarding the documentation, do you mean mentioning it now installs to versioned directories?

[2017-02-15 17:48] photodude commented on #510
both that php now defaults to install to versioned directories, and choco search with sorting by version

[2017-02-15 17:59] AdmiringWorm commented on #510
I'm not sure about adding the sorting by version, but I'll see if I can't get around to adding a note about versioned directories.

[2017-02-15 18:29] majkinetor commented on #446
No and no.

You guys might want to behave politically correct but I am not on that train.  I know what happened and it wasn't easy. Saying otherwise is just disrespectful. You have to give credit where credit is due.  We basically rewrote everything and made it 100% transparent and repeatable. We could have started from the new repo and it would probably be way easier.

README.md should be changed

[2017-02-15 19:22] Redsandro commented on #446
Well there's a paradox. Which is it? I'd say the top 5 committers to (pre-crowdsale) chocolatey deserve credit. Or rather everyone. And probably the top 10 committers to this repo. Or rather everyone. It gave traction. I don't want to turn this into a pissing contest because you'd win hands down and that's why you are entitled to some arrogance. It is however easy to disregard the things that lead

[2017-02-15 23:54] photodude commented on #510
thanks @AdmiringWorm the changes have solved my problems

[2017-02-16 16:41] Redsandro opened #590 "Is it worrysome to have choco and github API keys visible for the world to see?"
The appveyor configuration shows it all. And this repository is public. Is there a way we can keep these out of the repo?

[2017-02-16 16:45] gep13 commented on #590
The values in the yml file are encrypted.

[2017-02-16 16:45] AdmiringWorm commented on #590
you're thinking of the environment variables right?
what you see in the config file isn't the actual API keys, they are the encrypted version of those keys (can only be decrypted with the correct key, which is only available on the appveyor ci)

[2017-02-16 16:46] Redsandro commented on #590
So clever. Didn't know that was possible. Sorry for raising the alarm. Better safe than sorry, no? :smiley:

[2017-02-16 16:46] #590 closed

[2017-02-16 16:49] AdmiringWorm commented on #590
@Redsandro , @gep13
there is also the option to set the environment variables settings/environment section on appveyor web page (instead of having them in the yml file), like I have on my own repo.

![image](https://cloud.githubusercontent.com/assets/1474648/23031136/37727ebc-f470-11e6-97e1-0c6560e6bc36.png)

[2017-02-16 16:52] Redsandro commented on #590
@AdmiringWorm

Exactly, I was thinking of that. Configurations are mutually exclusive, except for env vars.

But then I didn't know keys in the config were encrypted. So the problem was already solved before I caught up. :)

[2017-02-16 19:59] AdmiringWorm opened #591 "(pdfcreator) Version 2.5.0 is timing out on the verifier"
Something may perhaps have changed with the installer since the installation times out.
https://gist.github.com/choco-bot/458d0118020b16dc16215cd0e213aa6c

Opening this as I don't have the will to look into it today.

[2017-02-16 20:07] AdmiringWorm commented on #588
Sorry, I must have missed this somehow.
I believe the opencandy adware module is no longer a part of keyfinder (based on that additonal programs installed, no additional dlls and no background web request detected through fiddler).

However, since it is part of the official license provided by the developers, we cannot remove that text from the included license.
Also to note.
Adware is not the sam

[2017-02-16 21:15] wjk commented on #588
@AdmiringWorm Thank you for your response; that is what I thought. Re the adware-vs-malware issue you mentioned: This is definitely something where there is difference of opinion between various users. My belief is that Chocolatey should have a zero-tolerance policy towards bundled adware that has not been bypassed, but I do not run Chocolatey, now do I? 😄 Thank you for your response regardless.

[2017-02-16 21:15] #588 closed

[2017-02-17 01:37] opello commented on #550
When I `choco install inkscape` after not rolling back and then uninstalling manually from the Control Panel I saw the MSI installer dialog with a progress bar during the installation.  Based on the log it's using `/passive` and not `/quiet`.

[2017-02-17 10:14] AdmiringWorm commented on #591
I believe I found out why it fails on the verifier, seems like the print spool needs to be running for the install to be successful (as well as for running pdf creator).

I'll see if I can't fix this, perhaps reuse the code used in cutepdf package (contributed by @Thilas)

[2017-02-17 11:29] #591 closed

[2017-02-17 19:01] AdmiringWorm opened #593 "(sysinternals) Latest version failing testing"
Seems like the latest version of sysinternals is failing the automated testing,
I'm not in a position to check out why right now, so I'm opening this for tracking purposes.

https://gist.github.com/choco-bot/bb69df515725513a33ca862f261ee03e

[2017-02-17 19:16] #593 closed

[2017-02-17 19:31] AdmiringWorm commented on #593
@pascalberger thanks, just noticed it failed. didn't look for the reason.

[2017-02-18 15:09] Redsandro opened #594 "[idea] Guidelines for package description (discuss)"
"Now" that the Chocolatey gallery supports markdown (it has been for a long time, but it's taking off in the sense that more and more packages actually make use of it), it is more interesting to spice up the gallery.

I've experimentally added some screenshots to some package descriptions, and it makes the gallery look awesome.

E.g.:

* [`TouchDesigner`](https://chocolatey.org/packages/touchdesig

[2017-02-18 16:06] AdmiringWorm commented on #594
Personally I'm not really sold on this, well not with the two example you gave at least.

Sure it looks good and all, but lets look at the TouchDesigner.
This is a program I've never even heard of, so I open it and see a bunch of images.
Well this looks nice and all, but three images don't tell me anything other than that the program looks good. What does it do, why would I use it?
Sure you have t

[2017-02-18 16:51] Redsandro commented on #594
I agree the description (as in text) of these examples (and nearly all packages) could be (a lot) better.

However, what I'm missing in general is graphics. Visual communication. You have three kinds of people. Text people, visual people, and the visually impaired, who are, in this sense, visual people, because they too prefer visual communication over text.

Let's take myself for example. I am sl

[2017-02-18 17:37] AdmiringWorm commented on #594
I do agree that there should be some kind of guidelines when it comes to use of screenshots in the description, and also mostly agree with the 3 points you had in your original text (I think 640px is a little large though, but that is probably just me).
The third point may not be possible right now without some custom logic though, as AU uses the built-in replacement logic after reading the conten

[2017-02-18 18:05] Redsandro commented on #594
Your weighing in is appreciated either way. Your concerns resonate with at least 60% of the users.

[2017-02-18 19:13] majkinetor commented on #594
I suggested to @ferventcoder already that more stuff should be there in the package, including screenshots and way to reference them in the description. So yeah, I think its good idea. I keep single screenshot for my packages in my personal repo [see here](https://github.com/majkinetor/au-packages/tree/master/copyq). I prefer to keep everything in package folder. I always use the same names too -

[2017-02-19 21:52] majkinetor commented on #594
@Redsandro , @AdmiringWorm, @pascalberger , @ferventcoder

I implemented PoC of README.md to description in my copyq package:
https://github.com/majkinetor/au-packages/tree/master/copyq

See the relevant [code](https://github.com/majkinetor/au-packages/blob/master/copyq/update.ps1#L24-L39).

[2017-02-19 21:56] majkinetor commented on #594
Note that you can cherry pick from the readme. I skipped first 2 lines.

[2017-02-20 10:26] Redsandro commented on #594
Yes! Exactly! Thanks for doing this. I couldn't figure out how to do that mutli-line replace from file. I'm going to implement that with my packages when I have some time.

Would love to have this the new standard for core team packages, because it makes editing the description easier and quickly glance the resulting markdown from viewing the source page.

[2017-02-20 10:28] gep13 commented on #594
because it makes editing the description easier and quickly glance the resulting markdown from viewing the source page.

Bear in mind that what you see rendered in GitHub might not be exactly the same as you see in the Gallery.  Both (at the minute anyway) use different engines to parse and render the markdown, so there may be some things that work in GitHub and not on the site, and vice versa.

[2017-02-20 10:44] Redsandro commented on #594
@gep13 Markdown being semantics, the formatting difference is okay. We just need to stay away from the unsupported ["github flavored" part](https://guides.github.com/features/mastering-markdown/#GitHub-flavored-markdown).

[2017-02-20 11:48] majkinetor commented on #594
Multi-line replacement is not possible in `au_SearchReplace`, it had to be done this way.

Maybe you should wait a week or so. I will see how to implement it as AU plugin, will require AU changes tho as plugins are currently run at the end (can be done now in BeforeEach only, something I would like to avoid).

I agree. Not only its easier, it provides visual feedback on description before it is se

[2017-02-20 11:55] pascalberger commented on #594
It's not only about GFM, there are other parts which are rendered differently, eg. chocolatey.org takes newlines into account.

[2017-02-20 15:05] mwallner opened #596 "New Helper 'Get-AvailableDriveLetter'"
should return the next free drive letter
* very useful for mounting iso-files from cocolateyinstall.ps1

[2017-02-20 18:53] majkinetor commented on #594
OK, I commited [Set-DescriptionFromReadme](https://github.com/chocolatey/chocolatey-coreteampackages/blob/9cfdc0626eed9421cc8e075922a146d7cc19113a/scripts/Set-DescriptionFromReadme.ps1) function that can be used [like this](https://github.com/majkinetor/au-packages/blob/master/copyq/update.ps1#L26) (NOTE: I had an error above, it can't be used in BeforeUpdate because it gets reverted).

To use it,

[2017-02-21 00:02] Redsandro commented on #594
@majkinetor good work. It will be some time until I update things. If you change your implementation or decide to update `au`, please let us know here so I can look over this when I get around to it.

@pascalberger said:

That would be a bug with chocolatey.org or it's parser or it's parsers' settings. Swallowing newlines and inserting newlines at double spaces is the (odd or not) specification.

[2017-02-21 18:32] ferventcoder commented on #594
I don't know that it is a bug - because with markdown you need two spaces at the end of a line to signify a line break, otherwise you get a single line for everything that is not a heading or a list. And that would look like more arse than it might right now.

[2017-02-21 18:42] majkinetor commented on #594
2 spaces -> new line
empty line -> new paragraph

[2017-02-24 19:03] pascalberger commented on #596
Fixed with #597

[2017-02-24 19:03] #596 closed

[2017-02-24 19:08] pascalberger opened #600 "(totalcommander) Remove padding 0 in version number"
Current version number of the Totalcommander package is 9.00.01, which can lead to problems with tools (eg. ProGet cannot handle this properly). Leading zeros in the version should be removed.

[2017-02-28 09:40] majkinetor opened #601 "(totalcommander) Create batch file to open TC in current folder"
From the shell, when you call total commander it opens saved folders.
It would be good to create batch file that opens it with current folder, as is the case with Explorer (`start .`).

There could also be an package option to register TC as file manager for folders so `start .` opens TC instead  explorer.

[2017-02-28 17:35] ferventcoder commented on #594
@AdmiringWorm explain the difference between a soft break and a hard break please.

Description is 4,000 character limit.

[2017-02-28 17:36] ferventcoder commented on #594
Also keep in mind, these things were tested when this was first added to the site a few years ago, and it did look rather bad without adding in automatic line breaks to flow more like the way the package description was done in the nuspec. So whether that is the case now or not, that serves for the current discussion.

[2017-02-28 17:59] AdmiringWorm commented on #594
I'm not good at explaining things, but I'll try.
A soft break is when the new line is ignored when displayed in the intended context, but is respected when displayed in for instance an editor.
While hard breaks are respected both when displayed in the intended context, and in the an editor (which only works well if both uses the same line length restriction, IMO).

I did not mean the total descrip

[2017-02-28 18:10] ferventcoder opened #604 "Google Chrome binaries have changed for 56.0.2924.87"
The version is the same, however the binaries have changed.

https://chocolatey.org/packages/GoogleChrome#comment-3171878283

When the package was created for version 56.0.2924.87, the checksums were:

[code]

However without a new version the checksums are now:

[code]

[2017-02-28 18:22] Redsandro commented on #594
@ferventcoder said:

Ah, so it's like [nl2br](http://php.net/manual/en/function.nl2br.php) added prior to markdown, and now markdown added on top with it's own spec for using newlines, mixing all the newline methods.

Personally I think one should embrace a spec fully or not at all. So in my opinion, it is time to choose for markdown, and remove all nl2br and auto-br functions. Add a guideline for

[2017-02-28 18:23] ferventcoder commented on #604
FYI - It looks like they pulled a bad version - https://gist.github.com/choco-bot/6bd4eeb385ac2b753aa6e66b2ede9fe2#file-1-registrysnapshot-xml-L5 (note that display version showed up as the actual version - Google Chrome does some very weird things with respect to version). The number you see here is what is in the MSI, but the actual DisplayVersion is typically overridden.

[2017-02-28 18:27] AdmiringWorm commented on #604
Ah. Now it makes sense why the old installer was replaced.
I'll look into adding an updated package using the [Get-Padded-Version](https://github.com/chocolatey/chocolatey-coreteampackages/blob/master/scripts/Get-Padded-Version.ps1) helper

[2017-02-28 18:42] ferventcoder commented on #604
![Here](https://snag.gy/15FbeV.jpg)

[2017-02-28 19:17] #604 closed

[2017-02-28 19:54] pascalberger opened #606 "(git.installer) Add option to disable GCM"
It seems to be possible to disable GCM on installation.

See: https://github.com/git-for-windows/build-extra/commit/8764c72d83cd05a709fcb21700e42081d226037b and https://github.com/git-for-windows/build-extra/commit/612999af6eeade875c0659c0cad1ea019a9b07d1

Therefore we should ad a parameter to disable GCM on installation to the `git.install` package.

[2017-02-28 20:05] AdmiringWorm commented on #606
👍 I agree since it's part of the installer.
Looks like we also need to add `.NET 4.5.1` as a dependency *(can't remember if it already is)*

[2017-02-28 20:15] AdmiringWorm commented on #600
@pascalberger isn't this something that should be reported to the ProGet developers (and other tools with the problems)?
IMO they should be able to handle versions with leading zeroes

[2017-02-28 20:20] AdmiringWorm commented on #445
@matbech any thoughts on changing the dependency for smartftp to use the [vcredist140](https://chocolatey.org/packages/vcredist140/14.0.24215.1) package?
This would mean by default it would install vcredist2015 until a stable version of vcredist2017 is released (unless a user installs it using `--pre` argument)

[2017-02-28 20:25] matbech commented on #445
@AdmiringWorm The release of VS 2017 is imminent (6th March), in a week we do have the final release of vcredist2017.

[2017-02-28 20:33] AdmiringWorm commented on #445
@matbech Yeah, I know.
I was asking purely because the package isn't updating now because of the pre-release dependency, but would work if adding a dependency on vcredist140, then we could just updated the dependency version when the stable release of vcredist2017 have been submitted on chocolatey.

[2017-02-28 20:43] pascalberger commented on #600
@ferventcoder I already did. Their response:

I assume their handling Chocolatey like NuGet and therefore normalize version number because of [this](http://docs.nuget.org/Create/Versioning#Normalized_Version_Numbers) breaking change in NuGet 3.4.

[2017-02-28 20:46] AdmiringWorm commented on #600
I see, I thought nuget still supported that versioning scheme.
hmm, maybe we should change it to forcing it to using `[version]` then back to a string afterwards.
Unless I'm mistaken, I think that would be a quick way to fix leading zeroes.

[2017-02-28 21:49] AdmiringWorm commented on #594
I think github only do that for comments, for `.md` files they don't add `<br>`.

[2017-02-28 22:02] ferventcoder commented on #594
Sounds like we need to fix the guideline. I don't agree that there should be any formatting in the file itself - that's what wrapping is for. And if you go for a maximum of 150 chars and the site layout changes later, I don't want to suddenly have thousands of packages that look bad because of it.

[2017-02-28 22:03] ferventcoder commented on #594
👍

[2017-02-28 22:05] ferventcoder commented on #594
It may not be a bad idea to open these kinds of things up for debate to see what we can technically do and what is best. Those guidelines were not necessarily written by someone that knew all of the constraints everywhere.

[2017-02-28 22:11] ferventcoder commented on #594
I think that is what the purpose of this discussion is about, but I mean probably reviewing the guidelines that are published. I would not have agreed with that 150 line break idea.

[2017-02-28 22:12] ferventcoder commented on #594
You can't suddenly want to go a different direction without making other packaging look bad. So it's not a choice someone gets to make suddenly. We have to operate at a slower speed to allow for community transition.

[2017-02-28 22:42] AdmiringWorm commented on #594
Personally I think it should, however that argument could be used for chocolatey.org as well.
Considering it already do formatting when a line is longer than the package column width (in that sense, wrapping the line), so no need to force hard new line breaks by default.

sorry, I was reading the guidelines wrong. it specifically says for scripts.

I agree that we can't suddenly go a different dir

[2017-02-28 22:44] pascalberger opened #608 "(git-disable-gcm) GCM is reenabled after Git update"
See https://chocolatey.org/packages/git-disable-gcm#comment-3171152490.

Git installer will use the settings set from the previous installation during update. As the `git-disable-gcm`package currently sets `--system` configuration, the setting will be overwritten on the next update of the `git.install` package.

One option would be to set the setting on a `--global` level, but this would not work

[2017-02-28 23:38] ferventcoder commented on #600
This seems like something that should be filed in choco's repo to get fixed.

[2017-03-01 01:43] Redsandro commented on #594
Apart from giving my 2 cents in my previous comment, I think I don't really understand the rules (programatically in the gallery) as it is now.

Can someone provide a specific example of a nuspec description and how it is after being converted to non-markdown newlines? I would like to see how it would look in markdown. I believe you when you say it looks bad @ferventcoder but I can't imagine how e

[2017-03-01 07:41] jberezanski commented on #601
Cool ideas, but I think such features should be implemented in separate packages ("totalcommander-openhere", for example), because they are neither options of the native installer nor modifications of the installation process.

[2017-03-01 07:48] jberezanski commented on #600
There are other packages on Chocolatey.org that use leading zeroes (for example, https://chocolatey.org/packages/dotnet4.6.1). Do we really need to be compatible with ProGet?

(In contrast, MyGet handles such version numbers just fine and they quickly fixed issues I encountered in the past, such as trimming zeroes or stripping the fourth version segment.)

[2017-03-01 08:24] pascalberger commented on #600
I don't think it is only about compatibility with ProGet, but also with NuGet.Core releases >= 3.4. As soon as choco would update to an up to date NuGet.Core release I think all those packages no longer would work  with choco either. For this I'll also create an issue in choco repo as @ferventcoder suggested.

[2017-03-01 08:38] jberezanski commented on #600
I see. So, are you thinking about a policy change on chocolatey.org (tightening the rules for package versions + removing/rewording the guideline that package versions should match the actual software versions) or working around NuGet.Core problems with such versions in choco.exe?

There is another point of incompatibility with NuGet - the additional metadata in nuspec (which breaks NugetPackageEx

[2017-03-01 08:45] pascalberger commented on #600
Yes, this is what I've suggested in the issue created in the choco repo: https://github.com/chocolatey/choco/issues/1174.

But I think the main discussion is if the goal is to have maximum compatibility with NuGet tools, or if Chocolatey should seen as an own tool with different specification (which IMHO but also should include stuff like haven an own xsd schema, etc). The bigest advantage with ha

[2017-03-01 10:54] majkinetor commented on #601
I totally don't like the idea of separate packages for this kind of thing (amounts to 2 lines of source code in existing package installer). Its a smell IMO and will quickly lead to hard to maintain and tightly coupled packages. Option will not be enabled by default and is entirely expected for this kind of tool. I will rather have entirely new TC package that I will maintain on my own repository

[2017-03-01 10:56] majkinetor commented on #601
When we are at that, totalcommander-openhere shell extension might also get its own option. I wasn't thinking about that tho originally, as I don't use GUI.

[2017-03-01 10:58] majkinetor commented on #594
Nothing that some CSS wouldn't solve apparently. Totally agree with @Redsandro - over-complication happens again,

[2017-03-01 19:51] jberezanski commented on #601
https://chocolatey.org/docs/create-packages#rules-to-be-observed-before-publishing-packages, rule 9: "(...) Try to split up packages as much as possible. If for example a program comes with additional modules/installers that are optional, make different packages for them instead of including all the things into one package. This idea is already widely applied for Linux packages, because it leads t

[2017-03-01 21:47] majkinetor commented on #601
I doubt your interpretation of rule 9 very much. This thing is neither "additional module or installer". Its simply a minor tweak that doesn't deserve over-complicating stuff, in this case quite a lot versus any supposed benefit.

As a user, I find it very troublesome. If I `choco info totalcommander` I will get a list of package params ASAP. I will not get a list of related packages, on the other

[2017-03-02 04:53] ferventcoder commented on #594
@Redsandro it's using MarkdownSharp (although we've started to implement Markdig in some areas, it is a great replacement) and we've added in the bit for adding a line break when there is a line break in the text (nl2br you called it?). The other aspect was that formatting in the nuspec is already four spaces in and we didn't want the gallery to render that was a code block, so we shut that off. T

[2017-03-02 05:06] ferventcoder commented on #600
Likely implementing normalized versions on chocolatey.org as well.

[2017-03-02 13:49] Redsandro commented on #594
@ferventcoder perhaps we could add some other workarounds in the `description` processing code to remove or greatly reduce "broken descriptions"?

* If all lines are indented with the same amount of white space, remove this white space.
* If block-level markdown is detected (e.g. regex for `/#{1,4}\s/` (header), `/^-{3,}/` (ruler/header 2), `/^={3,}/` (header 1), `/^\*\s/` and `/^-\s/` (list-items

[2017-03-08 10:37] aseques opened #615 "(notepadplusplus.install) should mention the -x86 flag in the documentation"
Notepad plus comes in both 32 or 64 bit versions, but only the 32 bit version has the plugin manager (one of the most used features of the editor), moreover most of the plugins are still 32bit only.
There's already a flag to choose the 32 bit version on install, but it's only mentioned in the comments, It'd be nice to have it in the package information (as it's done with the git package i.e.)

[2017-03-08 11:19] pascalberger commented on #615
The `-x86` flag is not specific to the Notepad++ package but a flag provided by Chocolatey. See [here](https://github.com/chocolatey/choco/wiki/CommandsInstall#options-and-switches) for a list of all available command switches.

But I see the point since it has an impact on the available features of the software and IMHO it would be good to mention the restrictions and options while installing on

[2017-03-08 20:17] #445 closed

[2017-03-13 20:09] ferventcoder opened #621 "PowerShell functions should leave room for future expansion"
In Chocolatey, when we write functions, we want to ensure there is always room for future expansion. For functions that could ultimately be placed into Chocolatey core code or load up over core code (like Get-UninstallRegistryKey), we want to ensure that they follow the same rules.

[2017-03-15 12:52] photodude opened #623 "(chocolatey-windowsupdate.extension) KB install throws warnings/errors on php 7.1 install if KB already installed"
### Problem description
During the install of PHP 7.1 on Win 7, I get the following notices about warnings/error/failures due to an already installed KB
[code]
### Expected result
The KB install should skip if the KB is already installed.

### Actual result
nonrelevant Warning/Error/failure notices

[2017-03-15 13:17] photodude opened #624 "[RFC] add a phpmyadmin"
We already have the `pg admin` install option for managing PostgreSQL, it would be very helpful to also have the `phpMyAdmin` install option for managing MySQL.

downloads
https://www.phpmyadmin.net/downloads/

`PHPMyAdmin` should be installed with PHP, MySQL and a webserver like Apache, IIS, or nginx

- check if MySQL is installed, install if it's not
- check if a webserver is installed, install

[2017-03-15 18:45] #621 closed

[2017-03-15 19:17] jberezanski commented on #623
This is actually an issue with the `chocolatey-windowsupdate.extension`, where the actual installation logic resides.

As I cannot reproduce the problem on my test Win7 machine, I'd like you to provide a few details:
- which updates (KBs) are installed on that system? Please paste the output of the following PowerShell statement:

    `Get-HotFix | Format-Table -AutoSize`

- what is the version of

[2017-03-16 17:23] photodude commented on #623
- Chocolatey v0.10.3
- Chocolatey log file gist
  - https://gist.github.com/photodude/28629363c6c469274ce694b9c014ea83
- kb gist
  - https://gist.github.com/photodude/0480ba3f074574df245714b9fc7b4a46

[2017-03-16 18:40] photodude opened #630 "MySQL defaults to `--initialize-insecure` with empty string as password"
When installing MySQL with `cinst mysql` I'm seeing the install defaulting to `--initialize-insecure` with empty string as password for the root user. It would be better if we could specify the root user password and if the install would default to `--initialize` for “secure by default” installation. Where there would be a generation of a random initial root password.

https://dev.mysql.com/doc/re

[2017-03-16 20:07] jberezanski commented on #623
Thanks! It looks like one of the updates you have installed has superseded KB3035131. I've been able to reproduce it and a fix is about to be released.

[2017-03-16 20:20] jberezanski commented on #623
https://chocolatey.org/packages/chocolatey-windowsupdate.extension/1.0.2

[2017-03-16 20:29] photodude commented on #623
Awesome, thank you.

[2017-03-17 05:38] dragonwolf83 opened #631 "(git.install) Add option to Enable Symlinks and Default on Windows 10"
Git Installer added the option to enable symbolic links. Add an install parameter to configure the setting.

To stay consistent with existing parameters, the registry item is: `Inno Setup CodeFile: Enable Symlinks`. The values are Disabled or Enabled.

The option should be set to enabled by default on upcoming Windows 10 Creators Update if Developer Mode is turned on, otherwise default to disabled

[2017-03-17 08:15] #615 closed

[2017-03-17 08:33] majkinetor opened #632 "(fiddler4) Releases page doesn't provide version any more"
Current updater fails because there is no info about version any more.
Releases notes page doesn't exist to (whats new).

This will have to be resolved by downloading "fiddlersetup.exe" and obtaining version from the file itself

[2017-03-17 08:47] #632 closed

[2017-03-17 09:11] gep13 commented on #632
@majkinetor thank you for doing this! :+1:

[2017-03-17 09:16] gep13 commented on #630
@photodude thank you for raising this issue.

I am curious how you came to this repository though.  The MySQL package is not maintained here.

[2017-03-17 10:52] gep13 commented on #623
@photodude @jberezanski going to go ahead and close this out, as looks like it is resolved.

[2017-03-17 10:52] #623 closed

[2017-03-17 14:23] jberezanski commented on #623
I intended to wait for the package to pass moderation and perform the final test, but okay, no need to keep this open, I guess.

[2017-03-17 16:28] AdmiringWorm commented on #623
@jberezanski package have been approved, I also set it as a trusted package.

[2017-03-17 16:31] AdmiringWorm commented on #630
Although, it's planned to be migrated to this repo though.

[2017-03-17 16:39] AdmiringWorm commented on #631
That would probably be a nice additions.
I'm not sure how to check if the developer mode is enabled though (and if the Creators Update is installed).

A PR to add this would be most welcome.

[2017-03-17 18:12] AdmiringWorm commented on #203
Closing this as I believe this have been fixed.
Feel free to reopen if the issue still present.

[2017-03-17 18:12] #203 closed

[2017-03-17 18:37] jberezanski commented on #623
Thanks!

[2017-03-17 19:33] gep13 commented on #630
@AdmiringWorm oh, is it. Sorry, must have missed that one 👍

[2017-03-17 19:37] AdmiringWorm commented on #630
@gep13 it was just something that @ferventcoder briefly mentioned in a previous PR.
https://github.com/chocolatey/chocolatey-coreteampackages/pull/490#issuecomment-272069830

[2017-03-17 19:39] ferventcoder commented on #630
@photodude we initially went exactly the way you wanted. However nobody knew how to find the password (even though it was logged in the event log).

[2017-03-17 19:40] ferventcoder commented on #630
https://github.com/ferventcoder/chocolatey-packages/commit/6d5a5f8570ad517e2d662bba135234bb31857e1f was the original change over

[2017-03-17 19:42] ferventcoder commented on #630
https://github.com/ferventcoder/chocolatey-packages/issues/128 was the original issue. Please note this is not the only place we heard about this.

I think it would be best if we provide package parameters and pick a sensible default here on how to pass this in. Thoughts?

[2017-03-17 19:52] AdmiringWorm commented on #630
I agree, that would be best (not entirely sure what the sensible defaults would be though)

[2017-03-17 20:22] Schroedingers-Cat opened #636 "(core.extension) Path gets cut into half when parsing"
I'm creating a chocolatey package with an optional parameter to change the installation path. Because the installer itself has no support for that, I'm parsing the path as a PackageParameter and put it into the registry, where the installer gets it's default path from. However, when parsing the path, I run into an issue where the path seems to correctly get into my script, but nevertheless is stor

[2017-03-17 20:28] AdmiringWorm commented on #636
@Schroedingers-Cat Could you please try something for me.
try calling the `--packageParameters with '""/Vst2x86Path:C:\Program Files (x86)\Common Files\VST2\Voxengo""'`

I doubt this changes anything, but just want to make sure.
It's possible that the regex used in the parsing the package parameters don't account for spaces.
Trying the mentioned call would make sure if that is the case.

[2017-03-17 20:31] Schroedingers-Cat commented on #636
Yes, that didn't change anything.

[2017-03-17 20:31] ferventcoder commented on #630
I'm not either. Maybe better to be secure by default?

[2017-03-17 20:32] AdmiringWorm commented on #636
@Schroedingers-Cat Yeah, I figured. Just wanted to make sure.
I'll assign it as a bug, a PR to fix this would be appreciated though.

[2017-03-17 20:36] AdmiringWorm commented on #630
Wouldn't that require a password? (I'm not familiar with mysql, nor it's install arguments)

[2017-03-17 20:44] AdmiringWorm commented on #636
@majkinetor any thoughts on this?

[2017-03-17 21:51] majkinetor commented on #636
Its a bug:

[code]

Braces do this and now I see that many other funky chars in paths will do this such as `$`

This re is problematic: https://github.com/chocolatey/chocolatey-coreteampackages/blob/master/extensions/chocolatey-core.extension/extensions/Get-PackageParameters.ps1#L24

Adding braces fixes this problem but not other funky chars:

[code]

We need to find some good `$re` for this. This

[2017-03-17 21:53] majkinetor commented on #636
This function would require test cases tho, due to its usage in bunch of packages.

[2017-03-17 22:20] majkinetor commented on #636
I came up with this RE:

[code]

In other words, if there is value for parameter, after `:` its either one of the quotes and whatever until the other quote OR whatever but no spaces allowed

Complete function:

[code]

It looks better then before

[code]

[2017-03-17 22:23] majkinetor commented on #636
Oh, and looking forward to this package @Schroedingers-Cat :)

[2017-03-17 22:34] majkinetor commented on #636
I commited this, so lets hope for the best :) I don't think it will make any problems for existing packages but  lets keep any eye on this.

I didn't PUSH the new version, if others agree to this somebody should `[PUSH chocolatey-core.extension]`.

[2017-03-17 22:34] majkinetor commented on #636
Some third party testing might not be bad idea before pushing.

[2017-03-17 22:40] Schroedingers-Cat commented on #636
Awesome! When can I work with this? :)

[2017-03-17 23:08] photodude commented on #630
I'm ok with insecure by default IF there are big warnings and lots of notices saying that it's insecure and recommending to add a password to root with documentation explaining how to add the password. additionally the package page should note that it's insecure by default and should note how to install as secure and where the random generated password for secure install would be after install.

W

[2017-03-17 23:13] photodude commented on #630
It's important to note that secure by default is actually best practices... even for local dev install. I remember xamp and Wamp were insecure by default at one time but had notices to inform users that the install was insecure and recommended to add a password as best practices. I think Since then they have gone to secure by default (it's been a while since I used xamp or wamp as I had been using

[2017-03-18 14:47] ferventcoder commented on #630
I'm a huge fan of secure by default.

[2017-03-18 14:59] photodude commented on #630
As am I, It is best practices.  Unfortunately, we do need to deal with the user level issue of people who misunderstand when it's secure by default and where the random generated password is.

Maybe if the password if output to both the log and to the shell output post install info with details on the package page documentation explaining those two locations to retrieve the password.

[2017-03-18 22:41] #601 closed

[2017-03-18 22:54] #600 closed

[2017-03-20 13:26] majkinetor commented on #636
I will push this in Wednesday (in 2 days) if nobody provides any feedback.

[2017-03-20 14:14] pyhedgehog opened #638 "(transmission-qt) Package unmaintained and outdated"
Package [transmission-qt](https://chocolatey.org/packages/transmission-qt) states that it's maintainer's github name is @TomOne. His choco packages [repository](https://github.com/TomOne/chocolatey-packages) states that all packages moved here. But transmission-qt is somehow lost in transition.
Package version is `2.84.9`.
Current version is `2.92`.

Also links should be changes:
Software Site: ht

[2017-03-20 14:58] Schroedingers-Cat commented on #636
That sounds great!

If you want, I could test it before. Just tell me what I have to do so it's on my chocolatey installation.

[2017-03-20 16:18] AdmiringWorm commented on #636
@majkinetor I had a quick look at it, and think it looks good. feel free to push it whenever you want.

[2017-03-20 16:46] AdmiringWorm commented on #638
I see there is new maintainer for that package, could perhaps be he recently took over the package and just haven't yet been able to update it.
As such I believe he should be contacted first, before anything is done with this package (especially since it isn't located here, and never have as far as I know)

[2017-03-20 17:09] majkinetor commented on #636
Quick look is not enough, this should be tested as it is core functionality.

Pushing it anyway

[2017-03-20 17:09] #636 closed

[2017-03-20 17:47] majkinetor commented on #638
This is not core team package, no matter what external source claims. You could either contact maintainer or submit PR here.

[2017-03-20 17:47] #638 closed

[2017-03-20 17:47] #208 closed

[2017-03-20 17:50] #464 closed

[2017-03-20 17:54] majkinetor commented on #624
Should be on https://github.com/chocolatey/chocolatey-package-requests

[2017-03-20 17:54] #624 closed

[2017-03-20 17:59] majkinetor commented on #630
I added [pending closure label](https://github.com/chocolatey/chocolatey-coreteampackages/wiki/Contributing-guidelines#34-understanding-labels) for now. Nobody planned migration of mysql here altho its mentioned in passing to be good to do.

[2017-03-20 18:00] majkinetor commented on #608
Another example why separating options from packages is bad. If this was parameter, once remembering of parameters is implemented it would get reapplied contrary to what we have now.

[2017-03-20 18:02] #503 closed

[2017-03-20 21:21] photodude commented on #624
Thanks @majkinetor new issue opened https://github.com/chocolatey/chocolatey-package-requests/issues/118

[2017-03-20 22:56] Schroedingers-Cat commented on #636
Thank you. That makes parsing the the path via `-packageParameters '/Vst2x86Path:""C:\Program Files (x86)\Common Files\Target""'` work flawlessly!

Now how to parse that path but using an environment variable instead? When I do one of these:
[code]
The result is always `PackageParameters='/Vst2x86Path:${env:CommonProgramFiles(x86)}\Target'|`. How can I get the variables path instead?

[2017-03-21 03:25] AndrewSav commented on #472
Why am I still getting this error, if it's fixed? Do I need to update something (what?) somewhere (where?)?

[2017-03-21 05:45] majkinetor commented on #636
`-packageParameters "/Vst2x86Path:'${env:CommonProgramFiles(x86)}\Target'"`

[2017-03-21 09:28] Schroedingers-Cat commented on #636
Ok, that makes chocolatey work at the start of the script:
[code]
However using that variable [fails.](https://gist.github.com/Schroedingers-Cat/fc2d0ba3cc8656c9d1020d8f37ec72ce) Esp. this sounds like the [same bug again.](https://gist.github.com/Schroedingers-Cat/fc2d0ba3cc8656c9d1020d8f37ec72ce#file-powershell-L5)

[2017-03-21 12:35] majkinetor commented on #636
You can't use single quote ' but double quote ". WIth double quotes, Powershell will then replace environment variable and that has nothing to do with choco as it will get expanded version (and contrary, with single quotes it doesn't get replaced). Inside dobule quote string use single quote for path.

[2017-03-21 13:03] Schroedingers-Cat commented on #636
I think, there is a misunderstanding.

I used the quotes exactly as you were explaining:
[code]
This is the [debug output.](https://gist.github.com/Schroedingers-Cat/989787f5a59d98c0e7f33da73a7752b6)

At what step did I use the wrong quotes?

I think the problem happens when the variable gets replaced with text containing spaces. `env:CommonProgramFiles(x86)` becomes `C:\Program Files (x86)\` in m

[2017-03-21 14:30] gep13 commented on #636
@Schroedingers-Cat  Have you read through this?

https://chocolatey.org/docs/commands-reference#how-to-pass-options-switches

I suspect that you are going to need to introduce the backtick `

[2017-03-21 14:38] majkinetor commented on #636
Works for me:

[code]

[2017-03-21 14:45] Schroedingers-Cat commented on #636
@majkinetor
Your example works for me too. Do you have an idea why it fails nevertheless when accessing the package parameter during install?

@gep13
Yes, I've read that document. As it states `"value`" is the same as 'value', I just stick to 'value' and try to make it work with that. Or do you think `"value`" may work better in this scenario?

[2017-03-21 15:01] Schroedingers-Cat commented on #636
I tried some variations with
[code]
This pattern works (added spaces to improve readability):
[code]
After that, I wanted to test if it really is the same as:
[code]
But that fails like before.

I think both points should get a bit more attention at the docs. It would be nice to give an example for how to pass environment variables containing spaces. With no example at the wiki it will be a lot of

[2017-03-21 18:09] majkinetor commented on #636
No, I have no idea. It is exactly the same as not using environment variable as Powershell itself does the translation of env. var before calling choco.

[2017-03-22 10:15] #587 closed

[2017-03-22 18:25] AdmiringWorm opened #642 "(autohotkey.portable) Fails with 403: Forbidden during update"
As the title says, whenever we try to update the `autohotkey.portable` package it fails with `Exception calling "GetResponse" with "0" argument(s): "The remote server returned an error: (403) Forbidden.":https://autohotkey.com/download/1.1/AutoHotkey_1.1.25.01.zip`
https://gist.github.com/gep13/bd2eaa76f2a9ab739ca0544c502dca6e/56a2ebcd3ed17a913dae9bb2dbff855272e4711c#autohotkeyportable

However, t

[2017-03-22 18:43] majkinetor commented on #642
Hah, nice try :)

But OK, I'll pretend  I am a  squirrel and this is an Autohotkey issue ;)

[2017-03-22 18:45] AdmiringWorm commented on #642
You can't blame we for trying :P

Anyways, I tried the download link in a browser which works.
It's only when trying to update it through AU that fails.

[2017-03-22 18:50] majkinetor commented on #642
I already looked at it before few days and I left it to see what will happen on the next update, it already got updated correctly. I am not sure what can be done because the install version uses exactly the same updater.

[2017-03-22 18:53] majkinetor commented on #642
Looks like WebClient issue, iwr doesn't fail here.

[2017-03-22 18:55] AdmiringWorm commented on #642
ah I see. I never actually checked if it had updated, just noticed the error and figured it hadn't.
I'm thinking we probably should just wait and see what happens when it tries to update the next time.

I see, still odd that the portable package fails though, while the install package works.

[2017-03-24 14:03] #455 closed

[2017-03-26 05:48] SBI-boy opened #646 "(PUTTY) Please add the 64 bit package to the repository"
Self explanatory tittle
regards

[2017-03-28 17:51] #642 closed

[2017-03-28 17:52] AdmiringWorm commented on #642
I've updated the autohotkey.portable script to use iwr instead of webclient, also had to add `-NoCheckUrl`

https://github.com/chocolatey/chocolatey-coreteampackages/commit/f2a82361b9d41616bf43f7221c63039dfc7edd98

[2017-03-28 21:37] Spongman commented on #550
chocolatey should check to see if the previous version is installed and uninstall it before installing the new version.

[2017-03-31 12:29] #594 closed

[2017-04-01 06:40] #630 closed

[2017-04-01 08:29] majkinetor commented on #487
Doesn't happen any more.

[2017-04-01 08:29] #487 closed

[2017-04-01 08:32] majkinetor commented on #146
Since this is almost done, I will close this in a month or two if there is no further work on remaining 2 packages.

[2017-04-01 15:25] AdmiringWorm commented on #146
@majkinetor it seems like several of the packages missing licenseUrl was incorrectly checked and a few was missing.
As such I don't believe this should be pending closure just yet, it's good to have a reference of which packages is missing some recommended metadata.

[2017-04-01 15:26] AdmiringWorm commented on #153
package is unlisted.

[2017-04-01 15:26] #153 closed

[2017-04-01 15:34] #204 closed

[2017-04-01 15:36] #223 closed

[2017-04-01 15:37] AdmiringWorm commented on #290
this shouldn't yet be unlisted, as the latest package works even though it haven't been migrated

[2017-04-01 15:39] AdmiringWorm commented on #291
considering all versions is already unlisted, this can be closed

[2017-04-01 15:39] #291 closed

[2017-04-02 07:14] #549 closed

[2017-04-02 07:37] majkinetor commented on #458
@wget any news on this ?

[2017-04-02 07:40] majkinetor commented on #502
Closing this.
If you feel there is anything else to add, please reopen.

[2017-04-02 07:40] #502 closed

[2017-04-02 07:40] majkinetor commented on #290
Sounds right.

[2017-04-02 07:40] #290 closed

[2017-04-02 08:04] majkinetor commented on #146
Some are unlisted and hence no longer apply, restoring those.

[2017-04-02 16:12] wilddev65 opened #663 "(7zip) installing wrong architecture"
The recent update a day ago changed how 7zip is installed via chocolatey and it now installs the 32-bit version on a 64-bit OS. I believe the relevant lines in chocolateyinstall.ps1 are;
$filePath = if ((Get-ProcessorBits 64) -and $env:chocolateyForceX86 -ne $true) {
       Write-Host "Installing 64 bit version" ; gi $toolsDir\*_x32.exe }
else { Write-Host "Installing 32 bit version" ; gi $toolsDi

[2017-04-03 01:07] AdmiringWorm commented on #663
thanks for opening this. I'll have it fixed soon.

[2017-04-03 01:09] #663 closed

[2017-04-03 01:10] AdmiringWorm commented on #663
fixed in https://github.com/chocolatey/chocolatey-coreteampackages/commit/5e68553c682787eaf014efdaac2688f02c6d83b9

should be available on chocolatey.org in a couple of hours.

[2017-04-03 10:54] majkinetor opened #665 "(mkdocs) Create shim"
App is not accessible after install, it creates script in python folder.

[2017-04-03 13:08] majkinetor commented on #665
This is actually not an issue as Python scripts dir is in the PATH. I didnt refreshenv.

[2017-04-03 13:08] #665 closed

[2017-04-03 14:32] AdmiringWorm commented on #665
ah, the usual mistake I also quite often do.

[2017-04-05 20:30] mattheyan opened #667 "(googlechrome) Switching from 32-bit to 64-bit"
Hi,

I recently ran into an issue with the `GoogleChrome` package. I noticed that the package was switching Chrome from 32-bit to 64-bit on 64-bit systems, but didn't think it would be a problem. Since it ended up causing problems for me I had to look into it further.

I tested the registry key check that the package is using and it does not return a value to indicate that Chrome is 32-bit on exam

[2017-04-09 18:51] rlabrecque commented on #631
I'm not doing this but:
- Check if [System.Environment]::OSVersion.Version == 10
- Check if [System.Environment]::OSVersion.Build >= 15063

[2017-04-10 14:43] HolisticDeveloper commented on #550
Agreed with @Spongman, as long as the package doesn't use the Win32_Product WMI class to check if it is installed -- I know this can cause some perf issues that I've seen with the Skype package, for example. See https://chocolatey.org/packages/skype#comment-2630543885.

[2017-04-11 15:22] AdmiringWorm commented on #667
The package should actually already check if a 32bit version of chrome is already installed.
It does the check based on a registry value as can be seen here: https://github.com/chocolatey/chocolatey-coreteampackages/blob/master/automatic/GoogleChrome/tools/helpers.ps1#L1

Can you verify that the used registry key and value is no longer created, or is perhaps being set to another value?

[2017-04-11 15:25] mattheyan commented on #667
@AdmiringWorm The registry key did not exist when I checked last week.

[2017-04-11 15:28] AdmiringWorm commented on #667
@mattheyan I see, we'll definitely need to look into this then.
I'm a little busy with some other stuff right now, but I'll look into this whenever I'm done with everything else I'm planning.

[2017-04-11 15:32] mattheyan commented on #667
@AdmiringWorm I understand. FWIW, I tested this is on Windows Server (both 2012 R2 and 2008 R2), I have not tested on workstations.

[2017-04-11 16:07] AdmiringWorm commented on #667
@mattheyan good to know.
Those two are what I usually test the packages on as well (sometimes on a Win 7 environment as well)

[2017-04-11 17:33] majkinetor commented on #667
We can add this as a fallback when registry key doesn't exist.

[2017-04-11 17:36] mattheyan commented on #667
@majkinetor That makes sense. This seems like one of those cases where you have to try multiple things until something works. ;)

[2017-04-11 18:41] majkinetor commented on #667
I can confirm that on my x64 bit install `nacl_irt_x86_64.nexe` exists

[2017-04-11 18:43] majkinetor commented on #667
That is, its named `C:\Program Files (x86)\Google\Chrome\Application\57.0.2987.133\nacl_irt_x86_64.nexe`

[2017-04-11 19:15] mattheyan commented on #667
@majkinetor Yes, I think that file should be present in all Chrome installs. The files `nacl64.exe` and `nacl_irt_x86_32.nexe` should be present in 32-bit installs based on what I've seen.

[2017-04-12 14:52] donestefan opened #669 "(virtualbox) remove ExtentionPacks on uninstall"
I noticed that `choco uninstall virtualbox` does not remove the "ExtensionPacks" Folder it created during installation. I guess the extensions should be removed together with the application.

[2017-04-12 20:35] AdmiringWorm commented on #646
@SBI-boy this is being implemented in #671
however, it will require choco version 0.10.4 or later to be installed to use the 64bit url.
Anything earlier would still install the 32bit version.

[2017-04-12 21:05] #646 closed

[2017-04-13 10:50] AdmiringWorm commented on #667
I can confirm that the `nacl_irt_x86_32.nexe` is present in 32-bit installs and not in 64-bit installs.

Can also confirm that the registry key we already checks is also present, but have changed to `x64-stable` for 64-bit installs and `stable-arch_x86` for 32-bit installs.

So changing the check for the registry key first, and then falling back to the file based check would be the best option IMO

[2017-04-14 12:49] #667 closed

[2017-04-15 16:36] majkinetor opened #677 "(totalcommander) Add parameter for COMMANDER_PATH environment variable"
This variable is created by the commander itself while it runs, however, it may be desired to add it to the system environment variables for integrations.

[2017-04-15 17:12] majkinetor opened #678 "(everything) Option to install as a service and others"
Otherwise UAC always popup on system restart.

Via `everything -install-service -install-run-on-system-startup`

Other options could be added, see `everything.exe /?`. The following would do:

[code]

Install params can be automatically generated.

[2017-04-15 17:18] majkinetor opened #679 "(everything) Embed package"
http://www.voidtools.com/License.txt

[code]

[2017-04-16 21:22] majkinetor opened #680 "(lockhunter) add shim"
Tool can work from command line, so it would be good to have a shim for it.

[2017-04-16 21:26] #680 closed

[2017-04-17 10:22] majkinetor opened #681 "(nuget.commandline) new package"

[2017-04-17 14:58] #681 closed

[2017-04-17 18:20] majkinetor commented on #679
Package is already embedded by me :S

[2017-04-17 18:20] #679 closed

[2017-04-17 19:10] #678 closed

[2017-04-17 19:25] #677 closed

[2017-04-17 19:41] majkinetor opened #683 "(nomacs) Add proxy during installation"
The guys answered me [here](https://nomacs.org/redmine/issues/765)

So we could add `--proxy` in silent args and it should work. However that is problematic as proxy can come from several places.

I think this is good moment to add to core.extension function to return current proxy. With it this would become:

[code]

`Get-EffectiveProxy` would look into
- IE proxy
- $env:http_proxy and friends
-

[2017-04-18 05:40] AdmiringWorm opened #685 "(Set-DescriptionFromReadme) Allow option combine line endings"
Considering the markdown used in the Readme files here on github uses soft line breaks, and chocolatey.org uses hard line breaks (all line breaks is replaced with `<br />`) I think it would be useful to extend the script to allow the descriptions line breaks (unless ending with two spaces, or a blank line) to be combined.

I can of course look into this, but wanted your thoughts on it first @majki

[2017-04-18 06:54] majkinetor commented on #685
I solved it for my case by not using breaks in `README.md`, seems like an easier solutions. Show up nice on both places and you can always ward wrap when editing it.

[2017-04-18 09:12] AdmiringWorm commented on #685
true, that's an easier solution. I would still like to have the option of converting the line breaks though, if that's a change you would be okay with.

[2017-04-18 12:05] majkinetor commented on #685
Sure.

[2017-04-18 21:57] AdmiringWorm opened #686 "(virtualbox*) Asks for acceptance of license for extension"
I've fixed this locally and will push out the changes at the same time as I implement #669 .
Just adding this so we don't duplicate the work.

[2017-04-18 23:17] #669 closed

[2017-04-18 23:17] #686 closed

[2017-04-19 02:41] RedBaron2 opened #687 "Script for URL redirects"
@majkinetor @ferventcoder @AdmiringWorm @gep13 @pascalberger
I have been seeing a lot of the websites that have software for download using a redirect. Although they don't need to be as complex as the now [Deprecated]  'Chocolatey FossHub Extension' package. This seems to be a needed item. The  @The-Running-Dev whipped up a useful [script](https://github.com/The-Running-Dev/chocolatey-coreteampack

[2017-04-19 06:00] majkinetor commented on #687
The script is way simplistic. To get included into core it would have to support multuple redirections and proxy and headers.

[2017-04-19 06:05] pascalberger opened #688 "(sourcetree) AU script should check website instead of in-app update"
The AU script for SourceTree should check the https://www.sourcetreeapp.com/ website instead of the in-app update since Atlassian seems to have stopped in-app updates and releases newer GA releases only through website

[2017-04-19 15:15] #688 closed

[2017-04-19 16:21] The-Running-Dev commented on #687
@majkinetor Feel free to make it more complicated :-)

[2017-04-19 16:44] majkinetor commented on #687
No I wont, but I have a great quote:

[2017-04-19 22:19] AdmiringWorm commented on #575
Fixed in https://github.com/chocolatey/chocolatey-coreteampackages/commit/6d4d287ca793f21b3ff7eec163553f49b1fe8eda

[2017-04-19 22:19] #575 closed

[2017-04-20 08:40] Xyon opened #690 "7-Zip installation fails on Server Core images"
When attempting to install 7zip 16.4.0.20170403 on a server core image, the installation itself is successful, but the Chocolatey install script itself fails, because it attempts to launch the nonexistant explorer.exe:

[code]

Within chocolateyInstall.ps1, the following line causes the issue:
`if (!(ps explorer -ea 0)) { start explorer.exe }`

Server Core images don't ship with explorer (It's sor

[2017-04-20 12:03] #690 closed

[2017-04-21 15:04] WiliTest commented on #282
Found the answer here: https://tor.stackexchange.com/a/13765/17207

[2017-04-21 15:38] majkinetor commented on #282
That is already [suggested](https://github.com/chocolatey/chocolatey-coreteampackages/issues/282#issuecomment-260790427)

[2017-04-21 20:57] #683 closed

[2017-04-23 16:12] majkinetor opened #696 "(python-*_32) Deprecate packages"
Packages
 * http://chocolatey.org/packages/python-x86_32
 * http://chocolatey.org/packages/python2-x86_32
 * http://chocolatey.org/packages/python3-x86_32

should be unlisted now that install parameters can be remembered since you can just `ForceX86` for the same effect without fear that it will later revert to x64 version.

[2017-04-23 16:15] majkinetor commented on #146
Lockhunter is checked now since it doesn't actually provide any license.

[2017-04-23 16:41] majkinetor opened #697 "(curl) Migrate from ferventcoder"
Currently outdated and among manual packages

[2017-04-24 15:48] AdmiringWorm opened #698 "Find alternative locations or embedd CodePlex software"
Since codeplex is shutting down this year we should start moving packages that download software from codeplex to embedded software or find alternative download locations.
If we can't find alternative locations, we should definitely move the software to the manual directory.
But this would require a change in how we use the `[PUSH packageName]` in the git title as we need to support downloading th

[2017-04-24 16:48] #697 closed

[2017-04-24 16:51] majkinetor opened #700 "(ruby) Migrate from ferventcoder"
As one of the top downloaded packages, it should be here and updated to newest version.

[Current issues](https://github.com/ferventcoder/chocolatey-packages/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20ruby)

/cc @ferventcoder

[2017-04-24 17:45] AdmiringWorm commented on #685
I'm putting this on hold for the moment, even-though I would find it useful it isn't a priority right now.
I need to get around to compile a list of exceptions where we shouldn't combine the line breaks (in a list, a header, empty line, code block, etc.)

[2017-04-24 18:41] majkinetor commented on #685
Too much work for almost zero benefit.

[2017-04-24 18:41] majkinetor commented on #696
/cc @AdmiringWorm

[2017-04-24 18:43] AdmiringWorm commented on #685
true, it's. I still want to do it though, I get annoyed all the time with chocolatey and its hard line breaks.
Although editors usually have the option to wrap lines, I still find it annoying and don't really like it.

[2017-04-24 18:46] AdmiringWorm commented on #696
I've already seen this issue, still contemplating on the whole unlisting though.
Even though it won't get updated anymore, it still have some kind of historical value.
I think it perhaps would be more appropriate to *semi-deprecate*  it instead, adding a install script that just throws out an exception mentioning to install the non x86_32 package with the `ForceX86` parameter.
(Of course also add

[2017-04-25 07:58] shutovilya opened #703 "(Opera) AU - no new version"
No new version of Opera in repo. As I understood, choco-bot must autoupdate it, but it wasn't

[2017-04-25 08:30] AdmiringWorm commented on #703
thanks for opening this issue, I've looked at the problem regarding this and seems like we are incorrectly sorting the versions when we try grabbing the latest version.
I'll see if I can't get it updated asap (working on also adding 64bit to the package, so may take some time)

[2017-04-25 09:33] #703 closed

[2017-04-25 09:34] AdmiringWorm commented on #703
this is now in the process of getting pushed to chocolatey.org.
Once again, thank you for opening this issue.

[2017-04-25 14:47] #700 closed

[2017-04-25 17:12] majkinetor commented on #698
There is no need for that. Both should be embedded and moved to manual packages. 3 years without any update.

[2017-04-25 17:15] AdmiringWorm commented on #698
@majkinetor the svg-explorer-extension is already moved to manual directory.

quoting myself

^^ or alternatively, allow binaries to included inside the manual directory (which would probably be a better option).

[2017-04-25 18:11] majkinetor commented on #698
You can always force specific files in the repo no matter what is ignored. Just force git add.

However, I added in `[PUSH pkg]` section to call update.ps1 in manual package if it exists. It can be as simple as:

[code]

[2017-04-25 20:36] pascalberger commented on #698
If going this way make sure to use [git-lfs](https://git-lfs.github.com/) to avoid bloating the repository.

[2017-04-26 04:56] majkinetor commented on #696
I pushed all packages. They show a message and throw, so they can't really be installed. Because of throwing they can't pass automated test and they should be white listed.

[2017-04-27 15:44] AdmiringWorm commented on #696
packages have been approved

[2017-04-27 15:44] #696 closed

[2017-04-28 12:32] AdmiringWorm opened #707 "Package Migration Status"
Instead of having the list of packages that haven't yet been migrated to AU (or removed/moved to manual, etc.) on the wiki, I'm adding it here.
Some of these have been moved to the manual directory, but is missing checksums.

1. [ ] [libreoffice-help](https://github.com/chocolatey/chocolatey-coreteampackages/tree/master/automatic/libreoffice-help) *Should be deprecated in favor of upstream naming

[2017-04-28 12:34] #698 closed

[2017-04-29 20:47] AdmiringWorm commented on #152
fixed in https://github.com/chocolatey/chocolatey-coreteampackages/commit/1f464778c65955230a82cb22113ec80917487e1b

[2017-04-29 20:47] #152 closed

[2017-05-02 19:42] trondhindenes opened #712 "(OpenSSL.Light) 1.1.0.40000000 installs directly to C:\"
previous versions installed to %ProgramFiles%, so this is is probably a bug

[2017-05-03 14:40] AdmiringWorm commented on #712
Definitely an oversight when I migrated the openssl.light package to AU.
I don't know when it will get fixed though, but a temporary workaround you can use is
to call choco install/upgrade with the following arguments
`--params '"/DIR=C:\path\you\want\to\install\into"'`

[2017-05-06 14:51] #712 closed

[2017-05-06 15:23] AdmiringWorm opened #714 "(7zip.install) Incorrect logic that tests if explorer.exe actually exist"
The if statement used in the 7zip.install package is currently wrong.
It actually tries to start the explorer when it doesn't exists, rather than starting it only when it does exist (because the if statement is inverted).

I'm considering it to be perhaps safe to remove though, as we haven't heard anything from users complaining regarding explorer not being restarted.

[2017-05-06 15:39] AdmiringWorm opened #715 "Package changelogs"
Opening this for discussion for whether we should provide changelogs for when bugs/feautres have been fixed/added to the package, and if we should start adding changelogs then which format should we use.

Personally I think it would be helpful to add changelogs, and use a dates when these changes was implemented.
I.E.
[code]

Probably shouldn't require it though, not at first. But just recommend t

[2017-05-06 15:48] AdmiringWorm commented on #715
Another option could perhaps be to just use a generic `## Upcoming` subheader and have it replaced with the version when it have been pushed from appveyor (using a script).

[2017-05-06 16:55] majkinetor commented on #715
Changelog.md in package root might be good to have. Should probably be included in the package as it can be viewed from the gallery.

[2017-05-06 17:25] AdmiringWorm commented on #715
Yeah, it was in the package root I was thinking as well.
Not sure about including it in the package though, think it would be better to link to the changelog in the release notes element IMO.
Even though the changelog would be viewable on chocolatey.org, if using markdown it would just be displayed as ordinary text.

[2017-05-06 18:34] AdmiringWorm commented on #715
@majkinetor I've added a PR as an example to one way I think the changelogs could be implemented.
see PR #716

[2017-05-06 20:38] #714 closed

[2017-05-07 15:36] majkinetor commented on #715
I think its hard to read with all that subheaders. Peraps just use Bugfix prefex ?

[2017-05-07 15:42] majkinetor commented on #715
Not sure either. One rationale to include it was that you don't have to depend on external sources in order to see it which may be important for some people, especially those that cache it.

[2017-05-08 08:55] AdmiringWorm opened #718 "(build) Appveyor reports that SSL/TLS secure channel couldn't be created"
I've noticed on most appveyor build runs that 1 or more packages fail to check for update with the following error message:
`The request was aborted: Could not create SSL/TLS secure channel.`
A few times it fails with a different error message which may or may not be related:
`The underlying connection was closed: Could not establish trust relationship for the SSL/TLS secure channel.`
The packages

[2017-05-08 10:46] gep13 commented on #718
@AdmiringWorm do we know what version of Chocolatey is running on AppVeyor?

[2017-05-08 10:51] pascalberger commented on #718
@gep13 `0.9.10.3` is reported [here](https://ci.appveyor.com/project/chocolatey/chocolatey-coreteampackages/build/1704#L34)

[2017-05-08 11:02] gep13 commented on #718
In which case, I think that is the issue.  Newer versions of Chocolatey now better handles the SSL/TLS handshake.

[2017-05-08 11:03] gep13 commented on #718
I think what we need is a `choco upgrade chocolatey` step.

[2017-05-08 11:04] gep13 commented on #718
https://github.com/chocolatey/choco/issues/458

Shipped in 0.10.1.

[2017-05-08 11:44] AdmiringWorm commented on #718
I don't think it's related to choco, it happens when we try to get the upstream version (usually), so it's pure powershell

[2017-05-08 11:54] AdmiringWorm commented on #718
Of course, we could just try upgrading choco on appveyor first and see if it helps.
But in that case, I think we should download the nupkg separately and cache it, just so we don't have to hit chocolatey.org on each build run.

[2017-05-08 12:58] teknowledgist opened #719 "(ghostscript.app) Fix urls for older version"
Hi guys,

I am the maintainer of GSView (GhostScript PreViewer) which is depended on
GhostScript. I recently discovered that my v5 release needed a max version
(9.16) on the GhostScript dependency. My package is failing because the url
on the old GhostScript package version is no longer valid. Would you be
willing to update that old 9.16 package?

You'll need some new information in the `chocolate

[2017-05-08 14:10] gep13 commented on #718
If I understand that issue correctly, then what you are describing is the same problem.  i.e. the upstream web server is using a newer version of TLS, which Chocolatey/PowerShell doesn't understand.  The newer version of Chocolatey 0.10.1, jumps through some hoops to make it work.  That is my rudimentary understanding though.  @ferventcoder would obviously know more.

[2017-05-08 14:20] AdmiringWorm commented on #718
I guess I'm bad at explaining then, so lets try again.

The problem isn't with chocolatey, as its functions isn't used unless the update script uses automatic checksums (which Ghostscript.app doesn't (see the first link)).
Also AU sets the same security protocols as choco v0.10.1 does:
https://github.com/majkinetor/au/blob/master/AU/Public/Update-Package.ps1#L307 .
Another thing, if the server use

[2017-05-08 14:24] AdmiringWorm commented on #719
Thanks for creating this issue, updating older packages isn't really a priority right now but I'll see if I can't update that specific version some time this week.
Do note though, it will be updated to be similar to how we are handling the latest releases of Ghostscript (embedding the installer), and the version won't be the same (once a version is approved it is immutable)

[2017-05-08 15:15] AdmiringWorm commented on #718
I've updated the appveyor.yml file to see if it helps updating chocolatey, if it doesn't fail for a few runs I'm satisfied it fixes the issue and this issue can be closed.

[2017-05-08 15:27] majkinetor commented on #718
Nah, updating chocolatey wont help as it obviously isn't related to it.

This looks suspiciously similar to what happens here:
https://sartorialsolutions.wordpress.com/2015/02/04/intermittent-the-request-was-aborted-could-not-create-ssltls-secure-channel-solved/

[2017-05-08 15:34] teknowledgist commented on #719
I understand fully.  Whenever you get a chance is just fine.

Thanks.

[2017-05-08 15:42] AdmiringWorm commented on #715
You mean something similiar to the [changelog used in chocolatey-core.extension](https://github.com/chocolatey/chocolatey-coreteampackages/blob/master/extensions/chocolatey-core.extension/CHANGELOG.md)?

Personally I like to separate bugfixes and features/improvements to their own section (under the version), as well as having the date it was added, and I don't really find the [7zip.install change

[2017-05-08 16:34] majkinetor commented on #715
Yeah, thats way more readable IMO

They can be separated without a header. The header formatting makes more sense where there are expected many changes across versions, packages will usually only have 1 thing per version, usually no more then 2 in any case, which makes headers just spam. So no, formatting can not be improved, its about ratio of header lines / changes which will here be most of the

[2017-05-09 18:21] majkinetor commented on #718
Detailed eventlogs I added showed this under `SChannel`:

[code]

[2017-05-10 21:01] AdmiringWorm commented on #719
Thank you for understanding, I'll see if I can't get around to updating tomorrow or the coming weekend.
(I make no promises though, not yet)

[2017-05-10 21:09] AdmiringWorm commented on #719
Of course if you would be able to help out, it would be most appreciated.
It's actually quite simple to update (kinda) older versions, what is needed is to update the following [update.ps1](https://github.com/chocolatey/chocolatey-coreteampackages/blob/master/automatic/Ghostscript/update.ps1) file to grab the url from the version you need, as well as set the version in the nuspec files for [Ghosts

[2017-05-10 21:13] AdmiringWorm commented on #718
I've been thinking about this, doing it per package would be to much work I believe. But having an a way to tell AU to ignore package with such an error would be nice (perhaps allowing AU to accept a regex option for failure messages to ignore?)

[2017-05-11 06:20] majkinetor commented on #718
I will try to find a time to add error settings (https://github.com/majkinetor/au/issues/76). Feedback on how it would look like would be welcome.

[2017-05-11 12:26] majkinetor opened #721 "Can not access a closed Stream"
[This report](https://gist.github.com/gep13/bd2eaa76f2a9ab739ca0544c502dca6e/579980dc3a64764ade8754dc09eea238455d09cf#errors)

In logs of that build, during choco pack:
[code]

/cc: @ferventcoder

[2017-05-11 19:14] pascalberger opened #723 "(git.install) Allow option to disable git-lfs installation"
Since git-lfs is now also bundled with the Git for Windows installer we should provide an option to disable it.

Component is called [gitlfs](https://github.com/git-for-windows/build-extra/blob/d3cb5e874cc5ed681ab7530cb70bef9bb70bb4cc/installer/install.iss#L98)

[2017-05-12 06:44] majkinetor opened #724 "(vcredist2008) Garbage in the root drive"
This is what I have on all my computers after vcredist is installed which is highly annoying. The `install.exe` starts vcredist 2008 setup.

I believe the package is this one: https://github.com/dtgm/chocolatey-packages/tree/master/automatic/_output/vcredist2008/9.0.30729.6161

@jberezanski, would it be possible for you to move it here and fix this ?

[code]

[2017-05-12 08:27] TobiX commented on #723
Does the Git installer remember this setting? For me, git-lfs isn't installed automatically...

[2017-05-12 08:30] TobiX opened #725 "(git.install) Creates spurious Shims?"
I have a shim for `Git-2.13.0-32-bit.exe` in `c:\ProgramData\Chocolatey\bin\` - While not really harmful, probably not intended ;)

[2017-05-12 08:47] dimitarivanov opened #726 "(OpenSSL.Light) 1.1.0.40000001 installation fails with Not Found 404"
The download address of the installation package does not exist.
The new URL has a letter 'k' appended after the version number: https://slproweb.com/download/Win64OpenSSL_Light-1_0_2k.exe

[2017-05-12 11:47] jberezanski commented on #724
Yeah, I could give it a shot. At first glance, however, the package does not do anything out of the ordinary, so it will probably mean debugging the native installer to determine the way to convince it to put its temp files elsewhere.

[2017-05-12 15:00] AdmiringWorm commented on #724
Looks like this was a known bug for the vcredist 2008 installer, seems like the recommended aproach is to install vcredist 2008 SP1 which have fixed that bug.
https://support.microsoft.com/help/950683/vcredist-from-vc-2008-installs-temporary-files-in-root-directory

[2017-05-12 15:06] AdmiringWorm commented on #726
You're not trying to install version 1.1.0.40000001 (We embedd the installer in the package, rather than downloading it during install), it seems you're trying to install an older version of OpenSSL.Light (this is not yet supported).

I'm going to close this with the wontfix tag, although support for older versions may be added in the future there is no plans for that right now.