[2021-03-23 10:58] cmdline-batchelor commented on #1630
@naveen521kk ah ok so this is a windows issue only as in the past running this on centos `python3` would do what I wanted it to

[2021-03-23 10:59] #1630 closed

[2021-03-23 11:01] cmdline-batchelor commented on #1625
@jacktose ok bro check out the comment on this: https://github.com/chocolatey-community/chocolatey-coreteampackages/issues/1630

seems to be provide the way for running on windows

[2021-03-23 12:34] AdmiringWorm commented on #1626
@Destroy666x I believe you are correct in your assumption that the space issue is caused by the package not explicitly quoting the paths (chocolatey's helper trims out the quotes you pass to it).

However, to be completely sure before we make any necessary changes to that area, would you be able to provide the full log of the installation?
This log is located in `%ChocolateyInstall%\logs\chocolate

[2021-03-23 12:49] #1628 closed

[2021-03-23 12:50] AdmiringWorm commented on #1628
A force push of the ccleaner package has been initiated, if nothing fails it should be available for normal consumption on chocolatey.org in a few hours.

[2021-03-23 13:22] AdmiringWorm commented on #1629
hmm, may be a case for defaulting to the `Get-ChocolateyToolsFolder` location, instead of the package tools directory.

This way it should still have write permissions when not running as an admin.
TBH, I am not really familiar with `kitty` so I am not sure if it makes sense to have it located in an insecure location (a place not locked down to administrators).
I'll still add this as an enhancemen

[2021-03-23 22:02] Destroy666x commented on #1626
@RedBaron2
1. This question is, once again, irrelevant. You claim to provide a way to change installation dir and it's buggy, no matter whether it's `C:\Program FIles\Cygwin` or `D:\Some tools\Cygwin`. But, to answer, that's where I normally installed Cygwin with a regular installer, so just a habit
2. Yes. Like any software which can change instllation path

@AdmiringWorm sure, any specific comma

[2021-03-24 08:45] RedBaron2 commented on #1616
Pull Request is open and has been for a month. It directly fixes this issue, and also fixes another issue about blank variables in the chocolateyinstall file.
This is just a update.

[2021-03-24 09:46] AdmiringWorm commented on #1627
A gist is a file that is uploaded to: https://gist.github.com/ (or embedded in the issue using code blocks, but the former is recommended).
It the context of this repository, that would mean the chocolatey logs for the process that was being run (in your case upgrade).

In this case, though, a gist is probably not needed.

Sounds like we may have to check if there is a previous version already ins

[2021-03-24 12:02] AdmiringWorm commented on #1626
@Destroy666x any log related to a command that is failing should suffice.
The `install` command with a path containing spaces would probably be the best.

[2021-03-24 21:01] Destroy666x commented on #1626
@AdmiringWorm ok,  so here are logs of both `choco install cygwin --force --params "/InstallDir:C:\Program Files\Cygwin"` installation attempts, 1st that fails with the error and 2nd with success but installation to wrong path:
[code]

As it can be seen, the paths required by the installer are sent without quotes: `--root C:\Program Files\Cygwin --local-package-dir C:\Program Files\Cygwin`
Then, a

[2021-03-25 02:30] RedBaron2 commented on #1626
@AdmiringWorm  @Destroy666x
I tested the standard way to install with the normal `--params="/InstallDir:C:\Program Files\Cygwin"` . Chocolatey sees and passes the params to the installer _**[Correctly](https://ci.appveyor.com/project/RBZ/development/builds/38391202#L708)**_. The Problem is in the passed arguments to the Native Setup file. The Native [Setup](https://ci.appveyor.com/project/RBZ/deve

[2021-03-25 03:49] CookieHCl opened #1631 "(Firefox) Doesn't correctly logs System locale"
## Expected Behavior

My system locale is `ko-KR`, log should say the same.

## Current Behavior

Log says:
2021-03-24 13:40:22,541 27184 [INFO ] - VERBOSE: System locale is: 'en-US'...

## Possible Solution

In the [code](https://github.com/chocolatey-community/chocolatey-coreteampackages/blob/master/automatic/firefox/tools/helpers.ps1), firefox package is using [Get-UICulture](https://docs.micro

[2021-03-25 12:36] AdmiringWorm commented on #1631
That isn't how those functions work, unfortunately, they call directly into the operating system to acquire the locale from there, not to the local process (there are different calls that make that happen, but that isn't PowerShell explicit code).

Unfortunately, using `Get-Culture` would be incorrect in this case. That function is more related to how to format dates, numbers, etc. While `Get-UICu

[2021-03-25 15:02] CookieHCl commented on #1631
@AdmiringWorm
Sorry, I didn't knew the log was showing the wrong variable.
I've uninstalled and installed firefox again, and found out that package correctly gets system locale, but it doesn't log it correctly.
(Didn't knew this because I was upgrading at the first time, so I just thought the package didn't get the system locale, but it just used the installed locale.)

Here is the [log file](http

[2021-03-26 01:40] #1631 closed

[2021-03-26 01:40] AdmiringWorm commented on #1631
It isn't something that would be expected that a user of the package knows, I didn't even know it myself before looking at the script (when you opened the issue).

So it do work as expected, with the only problem being the package outputting the wrong system locale. That is good to hear.

The output bug is fixed in the repository now, and should be available for any new package that gets pushed to

[2021-03-31 06:58] PhilippSelenium opened #1632 "Cannot uninstall python 3.6"
## Steps to Reproduce (for bugs)
1. Try to uninstall an existing python 3.6 install using chocolatey
[code]

act:
[code]
exp: Uninstalls python 3.6

Note: The path that exists is C:\ProgramData\chocolatey\lib\python3 and not C:\ProgramData\chocolatey\lib\python3.3.6.8.3.6.8

## Your Environment
* Operating System and version: win 10
* Chocolatey version: 0.10.15

[2021-03-31 13:39] AdmiringWorm opened #1633 "Rename this repository to chocolatey-packages"
There have been talks of potentially renaming the repository to something other than `chocolatey-coreteampackages` repository.
The current name of `chocolatey-coreteampackages` sounds like it is part of chocolatey itself or one of the team members which is not the case.

The repository should be renamed to something else that reflects that the repository is completely maintained by the community a

[2021-03-31 13:57] AdmiringWorm commented on #1632
Not sure where the problems that you are seeing are. However, I can unfortunately say it isn't a package related problem.
The messages you are seeing are from the chocolatey executable itself, saying it can't find the path and not something we can control in the package (the package itself don't even have an uninstall script).

It looks like the problem may be because you are using `--allow-multip

[2021-03-31 14:08] AdmiringWorm commented on #1626
@RedBaron2 the reason why those changes fail, is due to it being invalid unfortunately, the correct approach would be change the lines to:

[code]

The two characters `` `"`` tells PowerShell to escape the double quote, but using `""` can unfortunately not be used in this context.

That unfortunately doesn't really fix anything, it just ignores the error but would cause a bug to happen instead.

F

[2021-03-31 16:31] #1621 closed

[2021-03-31 16:42] AdmiringWorm commented on #1621
I have forced a new update of the package. We'll see if it goes through the verifier at this time, otherwise I would probably need to make some changes and request for an exemption.

[2021-03-31 17:05] AdmiringWorm commented on #1505
Closing, as looking at our update script the latest version of the setup file gets downloaded on each new release.
As such, I don't believe there is much for us to do.

If you disagree, please let us know and we can re-open the issue.

[2021-03-31 17:05] #1505 closed

[2021-03-31 17:08] AdmiringWorm commented on #1536
closing as the wixtoolset do not have the responsibility of installing the extensions for the specific visual studio versions.
Please use https://github.com/chocolatey-community/chocolatey-package-requests for requesting new packages.

[2021-03-31 17:08] #1536 closed

[2021-04-01 07:34] PhilippSelenium commented on #1632
Thanks, it works when ommiting the ```--allow-multiple``` but then I still get an error saying
[code]
But I will put that on top of the ~ 700 other issues you mentioned ;)

[2021-04-01 07:34] #1632 closed

[2021-04-02 19:33] majkinetor commented on #1633
Definitely.

However, I don't like current suggestions, its just too ordinary and doesn't properly convey significance of this repository over other similar repositories - first few gallery pages are almost exclusively from this repository and chocolatey user has multiple millions downloads, so its clearly different from other users.

Also, about chocolatey user! It should also get renamed as it d

[2021-04-02 19:52] gep13 commented on #1633
@majkinetor the user that is used to push the packages from this repository is called `chocolatey-community`, which I think conveys exactly what is meant to, no?

[2021-04-02 19:54] majkinetor commented on #1633
Where is it called like that ? I only see chocolatey: https://community.chocolatey.org/profiles/chocolatey

[2021-04-02 19:56] gep13 commented on #1633
That user only has three packages, the official packages published by Chocolatey. This is the user that has the packages from this repository:

https://community.chocolatey.org/profiles/chocolatey-community

[2021-04-02 19:58] majkinetor commented on #1633
OK, it must have been already renamed/changed then without me noticing it...

[2021-04-02 20:14] gep13 commented on #1633
Regarding the repository name, `chocolatey-community-packages` makes sense to me, the reason I didn't suggest something like that was due to the repo already being in the `chocolatey-community` organisation. So the full path would be `chocolatey-community/chocolatey-packages`.

I am not against the suggestion, just seems that `chocolatey-community/chocolatey-community-packages` duplicates part of

[2021-04-02 20:31] AdmiringWorm commented on #1633
It is supposed to be ordinary. What makes this repository different from other maintainer repositories is that multiple maintainers have access and can commit to the repository, and it aims to have high-quality packages (in other cases, it is more or less the same as other maintainer repositories).
Also, saying that the first few gallery pages are almost exclusively packages from this repository i

[2021-04-02 20:55] majkinetor commented on #1633
If we talk about name duplication with parent namespace, then we should only go with `packages` as we already have chocolatey and community as words.

OK, let me be pedantic - half of the packages. Most downloads. Not the typical repository for sure either by number of packages or by downloads or by anything. Claiming its the same as anything else is just plain wrong and even unrespectful.

So how

[2021-04-03 11:14] CookieHCl opened #1636 "(python3) missing version 3.6.8.20200110?"
## Expected Behavior

[python](https://community.chocolatey.org/packages/python/#versionhistory) package has version 3.6.8.20200110,
so [python3](https://community.chocolatey.org/packages/python3/#versionhistory) package should have it.

## Current Behavior

[python](https://community.chocolatey.org/packages/python/#versionhistory) package has version 3.6.8.20200110,
but [python3](https://communit

[2021-04-03 13:46] AdmiringWorm commented on #1636
These are fix version (existing versions can't be updated, so fixes need to go into a package with the fix version notation).
Typically this means that there are changes to either the package or the software installer was updated without the version being bumped upstream.

I think there was an effort to try creating a fix version for both the meta package (`python`) and the installer package (`pyt

[2021-04-03 13:51] #1636 closed

[2021-04-03 13:52] AdmiringWorm commented on #1636
I have triggered a forced update with that version specifier, if all goes well that version should be available on chocolatey.org in an hour or two.

[2021-04-03 17:04] AdmiringWorm commented on #1636
The missing version is now approved and available on chocolatey.org

[2021-04-05 08:54] rhtenhove opened #1637 "(freecad) package file url incorrect"
the freecad package is broken, there should be a `-1` appended to the filename.

## Expected Behavior
It should install

## Current Behavior
Install log:

[code]

Package Url: https://chocolatey.org/packages/freecad

## Possible Solution
Run the auto link update bot again? Not sure.

Link should be `https://github.com/FreeCAD/FreeCAD/releases/download/0.19.1/FreeCAD-0.19.1.a88db11-WIN-x64-installe

[2021-04-06 16:24] Squelch commented on #1637
The URL for the release package is incorrect.
Chocolatey expects: 'https://github.com/FreeCAD/FreeCAD/releases/download/0.19.1/FreeCAD-0.19.1.a88db11-WIN-x64-installer.exe'
The actual URL is: 'https://github.com/FreeCAD/FreeCAD/releases/download/0.19.1/FreeCAD-0.19.1.a88db11-WIN-x64-installer.exe-1'
Note the appended -1
Chocolatey checks are passing yet the path is obviously incorrect.

[2021-04-06 19:56] TheCakeIsNaOH commented on #1637
I think this is fixed by #1635, but the package needs to be forced updated.

[2021-04-06 20:15] AdmiringWorm commented on #1637
@TheCakeIsNaOH it is partially fixed, but a forced update can't be forced yet due to the 32bit edition of not being available for 0.19.1.

As it currently stands, additional changes must be made but it will depend on some decisions.
Either drop support for 32bit completely, and only supply 64bit version in the package (requires changes to the update script as it currently picks up mismatched versi

[2021-04-10 04:03] RedBaron2 commented on #1637
@TheCakeIsNaOH
If the PR#1638 is approved this package will be updated to the latest version.

@AdmiringWorm
The PR will just silently nix the URL for 32 bit. If the 32 bit version doesn't match the 64 bit version. This is the best practice since all packages are immutable. If need be a fix version can be made to update for a late 32 bit version.

[2021-04-10 17:34] pauby commented on #1633
`chocolatey-packages` gets my vote. It's a common name used for maintainers Chocolatey packages repositories.

[2021-04-10 17:51] pauby commented on #1623
@naveen521kk As you've already provided the code for this, do you want to submit a PR?

[2021-04-10 17:55] pauby commented on #1616
The PR was closed without being merged.

[2021-04-10 17:57] pauby commented on #1613
@MANICX100 is there any update on this?

[2021-04-10 18:40] naveen521kk commented on #1623
I don't know whether the code the will or not, that's why I didn't submit a PR.

[2021-04-12 18:36] pauby commented on #1623
You provided the code above in your original message.

[2021-04-12 18:44] naveen521kk commented on #1623
didn't notice that. ok, I will make one soon.

[2021-04-13 07:39] tipek360 opened #1641 "(sourcetree) package is outdated"
I'm posting this also here because I was asked in email by @gep13 to create issue here so it can be tracked.
When I looked at sourcetree website a quickly foundout that chocolatey package is bit outdated version 3.4.1 but newest is 3.4.4

## Expected Behavior
`choco install sourcetree` installs recent v3.4.4

## Current Behavior
`choco install sourcetree` installs outdated v3.4.1

## Your Environm

[2021-04-13 09:34] gep13 commented on #1641
@pascalberger is this something that you can take a look at?  Thanks

[2021-04-17 02:38] RedBaron2 commented on #1641
@gep13
The current logic of the update for this package uses internet explorer to read the website. This is because the site uses JavaScript to render the webpages. This is also detecting the operating system of the browser too.

Options
- Ask Sourcetree publisher of the could provide a API for chocolatey

- Ask Sourcetree publisher to take over the package

- Use other methods to parse the Source

[2021-04-17 14:03] pauby commented on #1641
So we know the issues. @RedBaron2 are you able to look at this?

[2021-04-17 14:07] pauby commented on #1633
Since there's been no update here in the last 7 days, can we get agreement on the name change and the next steps on this?

[2021-04-17 15:19] RedBaron2 commented on #1641
@pauby
I'll check other avenues of parsing the webpage and get back to you.

[2021-04-19 19:45] henrikhalt commented on #1589
I think @TheCakeIsNaOH is spot on right.

[2021-04-21 19:00] fredericpetit02 commented on #767
Hi, this issue is again with php 8.0.3.

[2021-04-23 01:43] Starz0r opened #1642 "(graphviz) extraneously shims additional executables"
The Graphviz install seems to shim its entire bin folder, which ironically, does not happen to be graphviz.exe, which would have been the only acceptable shimmed executable.

## Expected Behavior
It should either shim nothing, or shim just graphviz.exe, which currently, it doesn't,

## Current Behavior
Currently, it shims everything in it's internal bin folder, which includes acyclic.exe, bcomps.e

[2021-04-26 13:40] naveen521kk commented on #1623
I don't think I would be able to work on this in the coming weeks, so I will close this.

[2021-04-26 13:40] #1623 closed

[2021-04-28 06:56] mikhoul opened #1644 "Bug when installing and don't work after the installation."

[2021-04-28 07:14] #1644 closed

[2021-04-29 19:15] allenatdecisiv opened #1645 "Chromium update doesn't result in an updated version"
I have Chromium v90.0.4430.72 installed. I run choco upgrade all. I hit "A" when asked to run 'chocolateyInstall.ps1' for the chromium package. Choco reports that it updated chromium successfully.  For this specific run of choco upgrade all, it's:
You have chromium v90.0.4430.72 installed. Version 90.0.4430.93 is available based on your source(s).

I then launch Chromium from its shortcut, I go to

[2021-04-30 12:13] rhtenhove commented on #1637
This seems to be fixed, I can now update freecad without issue. Thanks!

[2021-05-01 08:33] nsleigh opened #1647 "(googlechromebeta) Moderation emails for old versions"
Over the last week I have been receiving moderation emails for old versions of the googlechromebeta - any idea why?

Examples (current version is  googlechromebeta v91.0.4472.27-beta):
[Chocolatey.org Moderation] googlechromebeta v89.0.4389.69-beta - Action Required - Review Comments
[Chocolatey.org Moderation] googlechromebeta v89.0.4389.69-beta - Finished Automated Moderation Review
[Chocolatey.

[2021-05-03 15:48] nixsee commented on #1130
1.5 years on, we're still at 5.666/5.8 "beta". Will this be updated at some point in choco?

[2021-05-04 10:23] gep13 commented on #1647
@nsleigh we have been making some changes to the Package Moderation Services, as documented here: https://blog.chocolatey.org/2021/04/package-moderation-added-to-moderation-process/ so it is possible that these additional emails are coming from the work that was done here.

Do you happen to have a complete example of one of the emails that you have recieved?

[2021-05-04 10:29] nsleigh commented on #1647
I got these two recently (they always come in pairs), Sunday 02/05 @10:05 (BST):

**[Chocolatey.org Moderation] googlechromebeta v90.0.4430.41-beta - Action Required - Review Comments**
'googlechromebeta' is Exempted.
chocolatey-ops left the following comment(s):
googlechromebeta has passed automated virus scanning.
The package was exempted by chocolatey-ops on 01 Jan 0001.
Attention - DO NOT REPL

[2021-05-04 10:48] gep13 commented on #1647
So, this is "working as expected" but I understand why it is causing a concern....

After the latest round of changes, package-scanner has now been fully integrated into the package moderation process, meaning that before it will be able to be marked as approved/exempted, it has to successfully get through the package-scanner checks.  This was not the case previously.

In the case of this beta pac

[2021-05-04 11:52] nsleigh commented on #1647
Ok thanks for the update. I think that now it is on v90 it is probably up to date.

[2021-05-07 08:42] lalberts opened #1648 "(freecad) update troubles"
for a FreeCAD choco installation we already had to trick chocco out:
https://forum.freecadweb.org/viewtopic.php?f=3&t=57483

for an update seem that the problem is not resolved:

2021-05-07 10:20:50.524 +02:00 [Information] Attempt to get headers for https://github.com/FreeCAD/FreeCAD/releases/download/0.19.2/FreeCAD-0.19.2.7b5e18a-WIN-x64-installer.exe failed.
  The remote file either doesn't exi

[2021-05-07 10:23] liszca commented on #1648
The URL for FreeCAD is wrong. The correct URL can be found here: https://github.com/FreeCAD/FreeCAD/releases/tag/0.19.2

I guess this link should do the work:
https://github.com/FreeCAD/FreeCAD/releases/download/0.19.2/FreeCAD-0.19.2.7b5e18a-WIN-x64-installer1.exe

[2021-05-07 13:42] AdmiringWorm commented on #1633
IMO, I believe we can go ahead with the name change to `chocolatey-packages` (since most agreed with this name).
I am not sure how it would affect open pull requests, so we might want to spend some time getting those pulled in or rejected first though (I plan to do that this weekend).

[2021-05-07 14:52] AdmiringWorm commented on #1642
Adding all of the executables as shims was an intentional change (see https://github.com/chocolatey-community/chocolatey-coreteampackages/pull/1610).

There is an argument made of perhaps having a package parameter that allow disabling the shimming of extra files though.

[2021-05-07 14:55] AdmiringWorm commented on #1642
Odd, a shim for the `graphviz.exe` executable should also be created.
May have to look into why that doesn't happen.

[2021-05-07 15:12] RedBaron2 commented on #1648
@lalberts @liszca
Currently a PR #1648 is pending review for this package.
This should fix these issues

[2021-05-08 20:33] Destroy666x commented on #1626
I assume noone is working on a PR, so I'll do one soon

[2021-05-08 20:52] AdmiringWorm commented on #1626
@Destroy666x AFAIK, there is no one that works on this issue, so feel free.
I'll assign the issue to you in the meantime.

[2021-05-10 08:50] alie2n commented on #1618
I just came access the same issue. I can confirm that this problem exists on a brand new, fresh installed, Windows 10 20H1.
It seems, that the last step for the installation `%LOCALAPPDATA%\1Password\1Password.exe setup` should now be `%LOCALAPPDATA%\1Password\1Password.exe --silent`

[2021-05-11 00:36] riedel opened #1649 "(cygwin) package does not track setup version"
## Expected Behavior
cygwin_setup should always have the lastest version see #1505
The package rather tracks https://cygwin.com/setup/ that actually only the base version

## Current Behavior
cygwin is updated only on new releases of the cygwin dll
running the cygwin setup gives a warning that a newer version of the setup is available

## Possible Solution
The best solution would be actually to cr

[2021-05-12 23:38] overag3 opened #1651 "(virtualbox) missing target param in file tag"
In virtualbox.nuspec file, I noticed that the target parameter was missing in the file tag

https://github.com/chocolatey-community/chocolatey-coreteampackages/blob/410e1bfceabec25645bb30c23c75ff06c336fc35/automatic/virtualbox/virtualbox.nuspec#L54

it is displayed in this way on Chocolatey website :
![files-virtualbox-pkg](https://user-images.githubusercontent.com/54666189/118057126-7f26b000-b38b

[2021-05-13 00:25] yuichi-github opened #1652 "(ffmpeg) Installation Error (I/O conflicts ?)"
An error frequently occurs while the ffmpeg package installation (4.3.2 -> 4.4).
The error occurs on some machines and not on others.
( [The FFmpeg Thread](https://community.chocolatey.org/packages/ffmpeg#comment-5380268449) )

[code]

## Expected Behavior
An installation succeeds.

## Current Behavior
See above.

## Possible Solution
The part of the code ’tools\chocolateyInstall.ps1’ is below.

[

[2021-05-13 01:01] jack1142 opened #1653 "(mpc-hc-clsid2) Package has failed automated testing"
## Expected Behavior
The package shouldn't have failed automated testing.

## Current Behavior
Package failed automated testing.

## Possible Solution
No clue right now.

## Steps to Reproduce (for bugs)
N/A

## Context
I'm a co-maintainer of the package and I've got an email that no action was taken about it for 20 or more days (I guess I must have not noticed the first email).
There seems to be

[2021-05-13 02:03] jack1142 commented on #1653
It seems that the re-run helped indeed.

[2021-05-13 02:03] #1653 closed

[2021-05-14 06:36] Starz0r commented on #1642
Just wanted to ensure this was intended behavior, since it is, my issue has no more reasons to continue being open. Thank you for investigating this.

[2021-05-14 06:36] #1642 closed

[2021-05-14 10:28] #1651 closed

[2021-05-14 10:29] AdmiringWorm commented on #1651
Good catch, and thank you for reporting that mistake.

This is now fixed in the source repository and the correct path will be used in the package on any new version of virtualbox that gets submitted (old ones won't be updated).

[2021-05-14 10:32] AdmiringWorm commented on #1652
hmm, this is something that is difficult to reproduce.
I have not seen this happen myself, nor have I been able to reproduce the error.

My thought is that there may be an issue with a anti-virus software installed in the environment that is locking the folder (or a file in the folder) which causes the moving of the folder to fail.

[2021-05-14 11:34] AdmiringWorm opened #1655 "(displayfusion) Handle beta urls of the package without causing update to fail"
## Expected Behavior

The expected behavior of the update url is that a failure of parsing the beta url should not fail other streams in update.ps1

## Current Behavior

Currently, the beta url is commented out but was causing all streams to be cancelled if the url suddenly started failing.
This would be fine if it were a stable url, but beta urls should not cancel any updates to a stable stream.

[2021-05-14 12:25] overag3 commented on #1651
Thanks for fix !

[2021-05-17 13:15] alie2n commented on #1618
I'd really like to submit a PR, but I don't understand the logic how the executed command gets assembled. From what I gather from the install.ps1 and the update.ps1 the command should be correct. But for some reason it is not.

[2021-05-17 20:33] RedBaron2 commented on #1645
@allenatdecisiv
This seems to be a problem with the chromium installer not closing the application when it is found to be running.

I recommend that you always make sure the application is closed before you run the update for this package. You can always open an issue with the `Chromium Project` developers.

[2021-05-18 02:45] allenatdecisiv commented on #1645
@RedBaron2, okie dokie. Sounds good, thank you! I'll check on Chromium running prior to letting choco update it from now on. I would hope (🤞 ) that their installer would groak warnings and/or errors to signal that something went wrong, but I guess they don't?

[2021-05-18 02:45] #1645 closed

[2021-05-18 08:28] AdmiringWorm commented on #1645
@allenatdecisiv another thing to note, in some cases you may already have closed chromium but some other program makes use of chromium for its own web browsing interface.
(Take steam as an example of that, which also prevents a full chromium upgrade).

This is also something that will prevent the old folder to be deleted by the installer, but unfortunately, there isn't much we can do about that :c

[2021-05-21 07:13] rhtenhove commented on #1637
Freecad is on a roll. Now they decided to append just a `1` to the filename, so the download fails again. What would be the solution here?

[2021-05-21 15:21] sameer882000 commented on #796
Thanks that helped.😃

[2021-05-23 01:21] RedBaron2 commented on #1637
@rhtenhove
The PR is ready, and after I make the requested changes it should be approved soon. RL required my attention recently, but I should be able to update the PR this upcoming week. Thank you for your patience.

[2021-05-23 06:19] rhtenhove commented on #1637
@RedBaron2 I was under the assumption it was already fixed for the previous case. My bad. Thanks! I'll keep watch on the PR.

[2021-05-24 11:48] Ragnar-F opened #1663 "(autohotkey.portable) Error when installing AutoHotkey v2.0-a135-b66a8739+ (--pre)"
## Expected Behavior

It should be installed.

## Current Behavior

The installation fails.

## Possible Solution

See PR #1662. The installation script tries to deal with files which do not exist anymore in AutoHotkey v2.0-a135-b66a8739+. Reason: The executable files "AutoHotkeyU32.exe" and "AutoHotkeyU64.exe" have been renamed to "AutoHotkey32.exe" and "AutoHotkey64.exe".

## Steps to Reproduce

[2021-05-26 00:55] ato2 opened #1664 "1.1 Install error - arguments passed to the MSI are incorrect"
2021-05-26 02:50:10,651 2532 [DEBUG] - Elevating permissions and running ["C:\WINDOWS\System32\msiexec.exe" /x C:\Program Files\Inkscape\Uninstall.exe /qn /norestart /l*v "C:\Users\ato\AppData\Local\Temp\chocolatey\InkScape.1.1.MsiUninstall.log" ]. This may take a while, depending on the statements.
2021-05-26 02:50:19,805 2532 [DEBUG] - Command ["C:\WINDOWS\System32\msiexec.exe" /x C:\Program Fil

[2021-05-26 01:06] ato2 commented on #1664
I found the reason - Inkscape already installed in c:\Program Files.
This was a result of error during : "sudo.exe choco install Inkscpe -y" and I don't expected that it was there.
Installer should be more robust.

[2021-05-26 01:06] #1664 closed

[2021-05-26 14:12] soredake commented on #1452
Any progress on this?

[2021-05-26 15:09] majkinetor commented on #1663
AHK v2 should probably go into its own package IMO.

[2021-05-28 03:27] RedBaron2 commented on #1663
@Ragnar-F
I saw the PR and I don't understand why the need to be so specific about the filenames. A crafted regular expression could find the right filenames and move out remove them. It would be more future proof.
This might be the issue now, but next release could break this change (Ex:  FreeCAD package).

[2021-05-28 07:34] Ragnar-F commented on #1663
My point was not to optimize this process, but just to make it work again. That's why I just took what was already there. Surely there are better methods for this. If someone has a better solution, feel free to submit it. I have absolutely nothing against it, if my PR is closed because of this.

[2021-06-02 17:33] #1467 closed

[2021-06-02 17:33] #1387 closed

[2021-06-03 00:51] aminya commented on #1548
Unstale

[2021-06-03 09:10] pauby commented on #1548
What is the way forward with this one? There has been no update since October.

[2021-06-03 09:30] eyadsibai commented on #941
I don't have the windows store version installed and still not able to install the choco version

[2021-06-03 13:53] AdmiringWorm commented on #1548
@pauby there hasn't been any work on this issue AFAIK.

[2021-06-03 14:55] pauby commented on #1548
@AdmiringWorm Is there anything that we intend to do here? 'No' is a valid answer.

[2021-06-03 17:07] majkinetor opened #1669 "Allow bigger packages"
Current 200MB limit was OK few years back when it was introduced, but I think it should be higher nowdays, between 300 and 400 MB for example. There are few packages that fit into that category (particularly when both arch are included).

Any chance for that now that problem with big packages is solved ?

/cc @gep13 @pauby @ferventcoder

[2021-06-03 17:12] pauby commented on #1669
@majkinetor This isn't a Core Team Packages issue. It has already been [raised](https://github.com/chocolatey/home/issues/48).

[2021-06-03 17:21] majkinetor commented on #1669
Yeah, I know. I didn't know where to put it so I figured one of you guys will point me out.

[2021-06-03 17:21] #1669 closed

[2021-06-03 18:30] gep13 commented on #1669
@majkinetor any issues related to the Chocolatey Community Repository, or the associated Package Moderation Services should be added to the chocolatey/home repository.

[2021-06-03 20:06] AdmiringWorm commented on #1548
@pauby I can not speak for anyone else, however, I do not currently have any plans of doing anything regarding this issue (this is also the main reason it is up for grabs by the community).

[2021-06-04 08:10] pauby commented on #1548
Thanks @AdmiringWorm

@aminya This isn't something the Community Core Team would work on, so it's been left open for others to pick up. Might be a good issue for you to pick up?

[2021-06-04 20:40] riedel commented on #1649
thanks for finding this duplicate. However, @AdmiringWorm in https://github.com/chocolatey-community/chocolatey-coreteampackages/issues/1505#issuecomment-811257209_ drew the wrong conclusion because the updater version rather than the release version should be tracked. Or a minor version tracking the the setup version could be a solution.

[2021-06-04 20:40] #1649 closed

[2021-06-04 20:43] riedel commented on #1505
@AdmiringWorm: Can you please reopen this ticket. It would be easy to actually rather track the setup version as it much more relevant to chocolatey as cygwin brings its own package manager. A good solution would be adding the setup version as in the cygwin version string.

[2021-06-06 01:16] SlimyGooblin opened #1671 "(blender) Update is broken"
Update.ps1 is currently unable to update the package, probably because of changes to the blender website's links
## Expected Behavior

update.ps1 when run should change the required information to update the package to the latest stable blender release.
## Current Behavior

Update.ps1 fails with:

    blender - checking updates using AU version 2020.11.21
    Exception:..\PowerShell\Modules\AU\202

[2021-06-07 18:50] vattybear commented on #1431
This is still an open issue as there is no real way to have the package installed to a generic folder with read-write access.
I do see the note about why this was put in place but users should be allowed to override if required.

What other information can be provided to help?  I thought my summary at the start of the ticket was detailed enough.

[2021-06-08 09:32] SayakMukhopadhyay opened #1674 "(kubernetes-cli) Include patch version of older supported minor versions"
## Expected Behavior

The kubernetes-cli package has multiple active versions that are supported and sometimes incompatible with each other. As such, it is important to have the latest patch release of the last 3 version of kubernetes-cli (see https://github.com/kubernetes/community/blob/master/contributors/design-proposals/release/versioning.md#supported-releases-and-component-skew). It is expect

[2021-06-08 09:37] AdmiringWorm commented on #1674
Sounds good, to support the three (or all) versions, this should be implemented as streams in the package update script:
https://github.com/majkinetor/au#streams

There are several packages already in the repo that makes use of streams

[2021-06-09 08:54] pauby commented on #1431
@vattybear The packages  in here are community maintained so please feel free to submit a PR.

[2021-06-11 12:26] opusforlife2 opened #1675 "(notepadplusplus) New version (8.0.0) available"
Notepad++ had a new version released a few days ago: https://notepad-plus-plus.org/news/v8-dark-mode/

[2021-06-17 08:51] majkinetor commented on #1663
AHK2 is different beast and using the same package name will probably break lots of other packages.

[2021-06-17 09:27] #1671 closed

[2021-06-17 09:45] majkinetor commented on #1675
Version 8.1 is available but it is pending  automated review.

https://community.chocolatey.org/packages/notepadplusplus.install/8.1

[2021-06-17 09:45] #1675 closed

[2021-06-18 16:45] opusforlife2 commented on #1675
Got the update.

[2021-06-19 00:00] aaronsteers commented on #1602
I still (and increasingly) believe this should follow the homebrew model and there should be a distinct package for each significant version: 3.6, 3.7, 3.8, 3.9, and now 3.10. These should not auto-upgrade between each other.

When and if Chocolatey features are expanded to support version constraints and version pinning, this approach could be revised at that time.

[2021-06-20 14:39] dgalbraith opened #1676 "(octave.portable) Installed package does not launch Octave correctly"
## Expected Behavior
* Installed shortcuts should have an icon
* It should be possible to successfully launch Octave using the command line or
desktop shortcuts following on from a package install
* The package should be correctly configured with internal functionality available
#### Improvement
* Icons should be installed only if selected at installation rather than by default

## Current Behavio

[2021-06-21 08:48] yuakihiro opened #1678 "(putty.install)x86 platform installer is gone and replaced with arm64 installer"
## Expected Behavior
on x86 platform, successfully install/update

## Current Behavior
[code]

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Package Version used: PuTTY (Install) 0.75
* Operating System and version:
* Chocolatey version: Chocolatey v0.10.15
* Install/uninstall gist:

[2021-06-21 13:17] pauby commented on #1602
@aaronsteers Can you elaborate on this as it doesn't make sense so I'm assuming I'm misunderstanding it?

[2021-06-21 14:47] aaronsteers commented on #1602
My proposal was separate packages per version (3.6,3.7, etc.). Currently, the `python` package auto-upgrades across these version lines when the package is updated. This causes breakage of the entire python environment, since compatibility of packages is not too be expected. The net impact is that anyone with Python installed via Chocolatey can never again run `upgrade all` without breaking their

[2021-06-21 14:55] pauby commented on #1602
Is there a reason package versions can't be pinned?

[2021-06-23 17:03] MaxwellDAssistek commented on #1652
I have this occurring as well. Same deal. Running Windows 10 x64.

[code]

[2021-06-25 09:26] #1676 closed

[2021-06-26 09:49] SayakMukhopadhyay commented on #1674
Just an update, I havent forgotten about this issue, stuff came up at work so will be a while before I can jump in on this.

[2021-06-28 19:21] sirinsidiator commented on #1637
I just tried to install FreeCAD via chocolatey and it looks like the file not found issue still persists. Is there any chance of getting this fixed in the next couple of days or should I just install it the old fashioned way?

[2021-06-29 08:49] pauby commented on #1637
There are no outstanding PR's for freecad so I'd go ahead and install it the old fashioned way in the meantime.

[2021-06-29 12:44] sirinsidiator commented on #1637
Will do so. Thanks.

[2021-07-01 11:47] PhilippSelenium commented on #1424
Upgrading powershell to 5.1 fixed it for me

[2021-07-01 16:26] opusforlife2 opened #1680 "(bleachbit.install) Failed to update package (from version 4.2.0 to version 4.4.0)"
## Expected Behavior

The package should install correctly.

## Current Behavior

ERROR: Cannot process argument transformation on parameter 'file'. Cannot convert value to type System.String.

## Steps to Reproduce (for bugs)

Try to upgrade to version 4.4 of `bleachbit.install`.

[2021-07-02 09:09] RedBaron2 commented on #1637
@pauby @AdmiringWorm
The latest PR should fix the file not found error. If someone could run a fix version update for the package. I'm sure the community would be very grateful.

[2021-07-02 10:55] pauby commented on #1637
@RedBaron2 Which PR?

[2021-07-02 11:19] RedBaron2 commented on #1637
@pauby
The closed PR #1638

[2021-07-02 20:40] malcook commented on #1629
FWIW: I tried setting environment variable KITTY_CONFIG_DIRECTORY to point to a custom config but continue to get the reported error.

[2021-07-08 02:04] #1515 closed

[2021-07-08 02:04] #1420 closed

[2021-07-08 02:04] #1506 closed

[2021-07-08 02:04] #1558 closed

[2021-07-08 02:04] #1540 closed

[2021-07-08 02:04] #1579 closed

[2021-07-08 02:04] #1542 closed

[2021-07-08 15:32] olifre commented on #1593
This issue also affects us, notably, when using Chocolatey and configuration management, you'll likely also want to disable the integrated auto-updater, which may cause issues for non-admin accounts.

Is there a way to reopen this issue in case you are not the reporter? Or do I need to report this again as a new issue if it still affects me?

[2021-07-08 16:18] pauby commented on #1593
As this hasn't had any traction @olifre can I suggest you look into it and submit a PR?

[2021-07-08 18:07] olifre commented on #1593
@pauby Thanks for reopening!
It's already on my list of issues to look into, sadly my PS knowledge is quite limited and there are many other OpenSource projects which are biting us more and eating my time. So I may not get to it in the very recent future.

[2021-07-09 11:36] pauby commented on #1593
@olifre As this seems not be getting much traction it might be something we look to close again in the future if there are no PR's coming in. This is just an FYI as it appears to be something you need and may look to prioritise.

[2021-07-09 12:08] #1601 closed

[2021-07-13 08:32] superbonaci opened #1688 "(mkvtoolnix ) package fails to install with error "Cannot process argument transformation on parameter 'file64'""
## Expected Behavior

`mkvtoolnix` package should upgrade from version v58.0.0 to v59.0.0

## Current Behavior

Fails to upgrade `mkvtoolnix` package.

## Possible Solution

No idea.

## Steps to Reproduce (for bugs)

1. Run the upgrade command on PowerShell. This is the log:
[code]

## Context

## Your Environment

* Package Version used: v59.0.0
* Operating System and version: W10 21H1
* Chocola

[2021-07-13 09:00] pauby commented on #1688
@superbonaci Thanks for the issue. Can you go back and submit the issue using the provided template?

[2021-07-13 19:10] superbonaci commented on #1688
@pauby first post updated

[2021-07-14 08:21] mavhc opened #1689 "(vlc) With iSpy installed VLC can't upgrade"
## Expected Behavior

Run choco upgrade vlc, it shouldn't fail to upgrade vlc
## Current Behavior

With iSpy installed, which apparently comes with its own embedded version of VLC I get this error:

vlc installed to 'C:\Program Files\iSpy\VLC64'
ERROR: Path doesn't exist: C:\Program Files\iSpy\VLC64\vlc.exe

## Steps to Reproduce (for bugs)

1. Install iSpy (I think this was installed via choco to

[2021-07-14 08:52] CEbbinghaus commented on #771
I'm still having this problem. Uninstalling the Windows store app version of spotify didn't fix the issue.

Any Workarounds for now?

[2021-07-14 11:28] pauby commented on #1688
I've just performed an install of `mkvtoolnix` v58.0

[code]

And then an upgrade

[code]

There were no issues on a new Windows 10 Sandbox machine.

A gist is a place where you can provide the logs and link to it from the issue (it saves you adding the logs to the issue which just overwhelms the issue with data and makes it more difficult to find what is needed. See [Creating gists](https://docs.

[2021-07-14 19:09] superbonaci commented on #1688
Here's my gist from `C:\ProgramData\chocolatey\logs\chocolatey.log`:
https://gist.github.com/superbonaci/58a4f8bddda8429152a4081c053967f5

[2021-07-18 12:37] bilalanwer24h opened #1691 "(python3) installation failing chocolateyInstall.ps1"
Python should be installed successfully via chocolateyInstall.ps1'.

================================================================
PS C:\Windows\system32> choco install python3
Chocolatey v0.10.15
Installing the following packages:
python3
By installing you accept licenses for the packages.
Progress: Downloading python3 3.10.0-b4... 100%

python3 v3.10.0-b4 [Approved]
python3 package files inst

[2021-07-19 11:27] pauby commented on #1691
Can you let us know what you've done to troubleshoot it?

[2021-07-21 14:17] frehov opened #1692 "(git) offer an install switch to support the windows terminal profile installation added in git v2.32.0"
## Expected Behavior

Following the [release of Git for windows 2.32.0](https://github.com/git-for-windows/git/releases/tag/v2.32.0.windows.1), git for windows added support for installing a windows terminal profile to make git bash usable from the windows terminal app.
I would like to see a switch for installing the windows terminal profile/fragment when installing git for windows through chocola

[2021-07-21 20:19] michaelmhoffman commented on #1618
I am having the same issue. Running `%LOCALAPPDATA%\1Password\1Password.exe --silent` runs 1Password, but it didn't seem to install it in the start menu, but `%LOCALAPPDATA%\1Password\1Password.exe setup` did.

[2021-07-21 20:24] michaelmhoffman commented on #1618
The current installer logic kills the installer after it finds "Installation completed successfully" in the log. Is it possible that this is no longer really enough to complete installation?

[2021-07-25 19:35] superbonaci commented on #1688
The issue is still present. Is this package abandoned?

[2021-07-25 19:39] superbonaci commented on #1688
Finally could fix it myself performing a new installation:
[code]

[2021-07-26 11:09] AdmiringWorm commented on #1688
By looking at the log you provided, it seems there was 2 64bit executables available in the package tools directory.

Most likely, this happened to a previous installation/upgrade of the package was not able to remove the executables after installation (most likely the installer had not unlocked its handle on the file).

This would also explain why uninstalling and installing the package again wor

[2021-07-26 11:17] AdmiringWorm commented on #1652
@MaxwellDAssistek long shot, but do you happen to still have the installation log for the installation of the package?

Did you install the package while running as an administrator?
Was ffmpeg already running some decoding/encoding when the package was installing?

[2021-07-26 11:19] AdmiringWorm commented on #1680
I can only assume what the issue that you are seeing.

To be sure, do you have the `chocolatey.log` file available for the failing installation? (Should be located in `C:\ProgramData\chocolatey\logs` for default Chocolatey installs).

[2021-07-26 13:16] MaxwellDAssistek commented on #1652
@AdmiringWorm Thanks for the reply. I actually do still have the log. Here is the part of the log that seems to do with the operation of installing ffmpeg: https://gist.github.com/MaxwellDAssistek/3b341ef4f5ce019bd65437631e8ff3ab

I did install running as admin, and there was no other install of ffmpeg at all on the system as chocolatey was my first stop at trying to get ffmpeg.

I cannot replicat

[2021-07-26 14:38] ba-tno opened #1693 "(winscp) Shim for Winscp.com triggers an "Suspicious Double File Extension Execution" when used"
Below issue is a bit far fetched, but I thought I would post it anyway as this seems to easiest path to fix it.

It appears that the McAfee virus scanner deletes executables with a double file extension when they are executed as part of a script.
I use [chocolatey cleaner](https://community.chocolatey.org/packages/choco-cleaner) to maintain the chocolatey install. Part of that cleaner script check

[2021-07-26 14:50] pauby commented on #1693
The issue here is McAfee being over aggressive in removing files with two extensions (I suspect it's two extensions where the last one is executable). From a package point of view things are being done correctly. From a Shimgen point of view things are being done correctly.

[2021-07-26 15:04] ba-tno commented on #1693
Thanks for the quick reply. I sort of suspected this, but given I have no control over McAfee I thought I would try this route. But I understand it's far fetched and very niche, so I'll stick to my current workaround.

[2021-07-26 15:04] #1693 closed

[2021-07-26 16:07] pauby commented on #1693
If it was many virus scanners, then I think it would be reasonable for us to look at it as part of Chocolatey Shimgen.

Is there no way to turn this off or exclude folders in McAfee?

[2021-07-26 16:11] ba-tno commented on #1693
No way for me at least. In the corporate environment I cannot request exceptions without a valid reason. Unfortunately "I have to manually rename the shimfile after every update" is not a valid reason.

[2021-07-30 04:23] #1603 closed

[2021-07-31 19:38] opusforlife2 commented on #1680
@AdmiringWorm The chocolatey.log file is there... but it was last modified 3 months ago. No idea why.

[2021-08-02 11:38] yuusakuri opened #1694 "(windows10-media-creation-tool) Please change to create a shortcut in the start menu when installing."
## Expected Behavior
When the app is installed, a shortcut file will be created in the Start menu.

## Current Behavior
Running A to install does not create a shortcut file in the Start menu.

## Possible Solution
Change to create a shortcut file in the start menu.

[2021-08-02 14:56] AdmiringWorm commented on #1680
@opusforlife2 how did you try to install `bleachbit.install`?
Through the `choco` cli, or through `Chocolatey GUI`? (The latter have a known bug, that prevents the output to be logged in `chocolatey.log`, but it should have in its own log file, which unfortunately I do not remember the location of).

[2021-08-05 00:14] nutterthanos commented on #1557
@AdmiringWorm

[2021-08-07 08:01] opusforlife2 commented on #1680
@AdmiringWorm Good catch, it seems like my installation of ChocolateyGUI indeed faces that bug. Though its Github README seems to say that the log file should be the same, since it is invoking choco.exe. Maybe it needs to be updated?

This time, I used the CLI to try to upgrade `bleachbit.install` and it successfully wrote to the log file. Though it seems like the only useful line here is still th

[2021-08-07 11:54] AdmiringWorm commented on #1680
Actually, there are two other lines of interest that confirm my suspicion.

[code]

This tells me that a previous install failed to remove the installer, so this causes the installation script to pick up both installers available in the tools directory, and cause the failure.
The removal of the old installer is most likely due to a locking issue when it was tried to be removed in a previous instal

[2021-08-07 13:35] #1680 closed

[2021-08-07 13:35] AdmiringWorm commented on #1680
This is now fixed, and a new fix version is scheduled to be pushed to the community repository.

[2021-08-07 15:30] AdmiringWorm commented on #1652
Hmm, as I was afraid of. The log doesn't really contain any more information than we already knew about.

As I mentioned before, I believe this issue is caused by something locking the folder after it was extracted.
This could be an anti-virus, 7zip itself, or something completely else (I believe most likely the anti-virus).

While I can not reproduce the issue, I'll have a look at some point to r

[2021-08-07 15:31] AdmiringWorm commented on #1618
It is very possible that it is no longer needed, or the installation completed is prematurely added to the log.

I am not a user of 1password myself, so need to leave this up to someone else to investigate.

[2021-08-07 15:55] #1688 closed

[2021-08-07 15:55] AdmiringWorm commented on #1688
Fixes has been added for this issue, and a new fix version has been scheduled to be pushed to the community repository.

[2021-08-07 16:52] seeker opened #1696 "(vagrant) Incorrect checksums"
## Expected Behavior
Vagrant package should install or upgrade without issue.

## Current Behavior
Vagrant package install or upgrade fails due checksum mismatch.

## Possible Solution
Update package to use the correct hashes found in [vagrant_2.2.18_SHA256SUMS](https://releases.hashicorp.com/vagrant/2.2.18/vagrant_2.2.18_SHA256SUMS), link is listed at the bottom of the Vagrant [download page](htt

[2021-08-07 20:42] AdmiringWorm commented on #1696
Looks like they have silently updated the installers, I'll queue a new fix version of the Vagrant package to be uploaded to the community repository, and a new version should hopefully be available in a few hours.

[2021-08-07 20:45] #1696 closed

[2021-08-07 20:48] AdmiringWorm commented on #1696
A new version has been queued and will be pushed to the community repository. There will be a few hours until it becomes available for normal consumption.

[2021-08-07 22:37] superbonaci commented on #1688
Did you find the issue or it's trial and error update?

[2021-08-07 23:10] AdmiringWorm commented on #1688
@superbonaci I mentioned in one of my previous comments what the issue was.

The issue was that there were multiple executables in the installation directory that would get picked up when we tried to install the application (due to us using a globbing pattern to discover the files).

The reason for the multiple executables has not been determined though, and I can only assume it was either not unl

[2021-08-08 11:53] opusforlife2 commented on #1680
Confirmed fixed. Thanks a lot!

[2021-08-10 09:02] nutterthanos commented on #1557
this can be closed

[2021-08-10 19:09] majkinetor commented on #1689
Until this is fixed simple solution would be to install iSpy somewhere else outside Program files, or one level deeper (for example 'C:\Program Files\iSpy\iSpy`)

[2021-08-11 14:23] majkinetor commented on #1557
I opened this issue. I don't have time to fix AHK script but anybody feel free to PR.

[2021-08-11 18:05] jpluimers commented on #1557
I figured out one thing already: https://github.com/chocolatey-community/chocolatey-coreteampackages/blob/master/automatic/nmap/tools/install.ahk has  `Npcap 1.00 Setup` everywhere, and nmap 7.92 tries to install npcap 1.50, so the dialogs are now titled `Npcap 1.50 Setup`.

I'm still recovering from extensive rectum cancer treatment, so if others have more energy than I: feel free to modify the a

[2021-08-11 20:17] nutterthanos commented on #1557
I feel like this only happened to you since it didn't happen to me

[2021-08-12 07:55] jpluimers commented on #1557
That's quite a binary observation for N=2 statistics (;

I managed to have a few "good" hours performing the monthly updates on all the systems here. Nmap failed consistently on the machines it was installed on (Windows 7, 8 and 10 VMs); all had this update to be applied:

`You have nmap v7.80 installed. Version 7.92 is available based on your source(s).`

All had a dialog like below waiting (I ma

[2021-08-12 10:06] nutterthanos commented on #1557
this is pretty much what im getting ahk gets stuck

[2021-08-12 12:05] pauby commented on #1557
@nutterthanos Can you cut down on the amount you are quoting to only that which is relevant to your response?

[2021-08-12 12:32] nutterthanos commented on #1557
Ok

On Thu, 12 Aug 2021, 9:35 pm Paul Broadwith, ***@***.***>
wrote:

[2021-08-15 16:35] majkinetor commented on #1557
@jpluimers please check latest version: https://community.chocolatey.org/packages/nmap/7.92.0.20210815 using cinst with explicit version.

Not sure why the verification failed tho.

[2021-08-15 17:34] aminya opened #1700 "(simplewall) updates fail"
All the simplewall updates fail.

## Expected Behavior

Upgrade without errors

## Current Behavior

[code]

## Possible Solution

Delete the simplewall folder manually, and install --force.

## Steps to Reproduce (for bugs)

1. choco upgrade simplewall

## Context

## Your Environment

* Package Version used: 3.4.1
* Operating System and version: Win 11 build 132
* Chocolatey version: 0.10.15
* I

[2021-08-19 15:37] jpluimers commented on #1557
I tried one failing system system today, and it works on that system; will try more systems later.

Note that the 7.80 install was really silent (no installation windows appeared); the 7.92 is half-silent: the dialogs show while autohotkey plays the right parts of the script.

Console log on a Windows 10 machine named `DESKTOP-4JJBH0K` (that's for my reference):

[code]

I checked out the [verific

[2021-08-19 17:42] majkinetor commented on #1557
I will fix this and push it again, maybe verification will pass this time since @pauby didn't help (obviously appears here only for irrelevant stuff).

That can't be right. It also has AHK script which relies on window appearing, maybe they were not on top tho...

Anyway, it seems that this update fixes the problem as you confirmed. I checked installation in Windows Sandbox and it also works OK.

[2021-08-19 18:32] #1557 closed

[2021-08-19 19:02] jpluimers commented on #1557
Hopefully.

In the mean time, it failed on a Windows 8.1 system, and I think it very much matches the [failure in the verification](https://gist.github.com/choco-bot/d802589421b3cb5954c69eba7b2285be#file-install-txt-L784).

First the console text, which already reveals a tiny bit:

[code]

The log is far more similar to the [failure in the verification](https://gist.github.com/choco-bot/d802589421

[2021-08-19 19:13] majkinetor commented on #1557
I think focus shouldn't make an issue with this AHK script as it targets windows directly and where not it should use last detected previously.

On Sandbox script finishes reliably each time I tried.

Ah, thx for reminder, that definitely the reason then.

OK, check it out, and let me know. Maybe I can improve AHK script a bit but not by much. GUI automation is often not reliable and I rarely use

[2021-08-19 19:29] jpluimers commented on #1557
Will do. One thing in the AHK script that strikes me is the absolute lack of documentation: which control is supposed to have focus when the `Enter` key is pressed.

One thought is to run the downloaded installer manually on a succeeding system and on a failing system, then by hand follow the steps in the AHK script and document it in a gist so you can later use those.

For my link archive: https:

[2021-08-19 19:31] majkinetor commented on #1557
In this case, last found window: https://www.autohotkey.com/docs//misc/WinTitle.htm#LastFoundWindow

[2021-08-20 10:41] jpluimers commented on #1557
Thanks for that.

In the mean time, the only systems that fail consistently are Windows 8.1 based ones. Windows 7 and 10 work fine. Don't have Windows 11 yet.

To be continued.

[2021-08-20 10:54] majkinetor commented on #1557
In the meantime, the verification still fails. /cc @AdmiringWorm

[2021-08-20 15:29] sbissonnette commented on #941
This is still an issue!

[2021-08-20 16:06] soredake opened #1702 "(git) add new options"
Please add new options to package:
![изображение](https://user-images.githubusercontent.com/5204968/130261653-4a2a7cad-74e3-4ddf-85a1-e8e39517f243.png)
![изображение](https://user-images.githubusercontent.com/5204968/130261862-6dc28225-9532-479c-ac0c-9cc32b2356e9.png)
![изображение](https://user-images.githubusercontent.com/5204968/130261880-55378e8c-dd6f-4390-a81f-176a4ca63935.png)

[2021-08-20 18:11] majkinetor commented on #941
It is closed due to inactivity. No amount of reporting will change that. Unless someone contributes a solution or valuable info toward it, there is no need to reopen this.

[2021-08-23 14:49] jpluimers commented on #1557
The cause for the failure might be the same as on my Windows 8.1 systems.

Will take me longer to take a look into that, as the mom of my best friend is not doing well, so he moved from abroad to live with us for a while.

[2021-08-23 17:55] majkinetor commented on #1557
Must be. Verification server runs on Windows Server 2012 which AFAIK is 8.1 era

Too much detail my man :)

[2021-08-26 15:00] TheCakeIsNaOH opened #1704 "(gnupg) invalid BugTrackerUrl failing validation"
It currently points to:
https://bugs.gnupg.org/gnupg/index

Which now redirects to:
https://dev.gnupg.org/

The only issue is that there is an issue with SSL somewhere in the redirect, so it is failing validation.

Solution is to update the url.

[2021-08-26 19:34] #1704 closed, assigned to nobody

[2021-08-30 01:01] corbob opened #1705 "(everything) Create new package for es commandline client"
## Expected Behavior

Everything has a [cli](https://www.voidtools.com/support/everything/command_line_interface/) that's available. It would be really helpful if this was included with the everything package.

## Current Behavior

Currently the cli is not included with everything, so a user needs to download it on their own and add it to their path.

## Possible Solution

I can think of two solut

[2021-08-30 05:23] mkevenaar commented on #1705
A Chocolatey package is only allowed to install one piece of software.

If the author ships it in one bundle / package we could argue that it's one.

As far as I can tell, `everything-cli` is another piece of software and therefor requires it's own package ID.

[2021-09-02 18:39] majkinetor commented on #1705
Its already included.

![image](https://user-images.githubusercontent.com/85767/131898644-a7263f74-f36a-42e1-b75a-505628f830ac.png)

[2021-09-02 19:43] CWempe opened #1708 "(TotalCommander) v10 is not published"
A few month ago v10 of Total Commander was officially released.
https://www.ghisler.com/whatsnew.htm

According to [this](https://github.com/chocolatey-community/chocolatey-coreteampackages/commit/04535ea4afd51bc42827c5c2a029421e3c5de192#diff-16af7040a09071315e8257819bfbcc7c1f67cad353f7e48bbc33f6bba439ddfd) commit, somebody tried(?) to update the chocolatey package.
But somehow the [package](https

[2021-09-03 14:02] majkinetor commented on #1708
https://community.chocolatey.org/packages/totalcommander/10.0

Failed verifcation:

https://gist.github.com/choco-bot/0fce3f8f2b217175ed63c94611b16cfa#file-install-txt-L1000

[2021-09-03 19:10] HunterZ commented on #1627
This is still relevant.

Both `cup -y --force avidemux` (installs over current install) and `cinst -y --force avidemux` (uninstalls then reinstalls) still prompt the user for an install location and just sit there.

`cuninst -y avidemux` followed by `cinst -y avidemux` does NOT prompt the user.

[2021-09-03 19:45] mastacheata opened #1709 "(python3/php) python3 and php conflict due to depending on different vcredist versions"
## Expected Behavior

I expect that python3 and php can happily coexist when installed from chocolatey.
More technical: I expect python3 to use vcredist140 as a dependency instead of vcredist2015 (the other way around: PHP uses vcredist2015 instead of vcredist140 would be fine for me as well)

## Current Behavior

python3 fails to upgrade due to a conflict. Python3 wants to downgrade vcredist140 t

[2021-09-03 20:06] majkinetor commented on #1708
TC10 changed the installer and that is the reason it fails:

* https://www.ghisler.ch/wiki/index.php?title=How_to_make_installation_fully_automatic%3F

[2021-09-04 10:24] PRESFIL commented on #1678
Please update the package with the necessary binary.

[2021-09-04 10:29] majkinetor commented on #1708
I fixed it using new installer features, but it failed validation because of the method used (env vars):

- https://community.chocolatey.org/packages/TotalCommander/10.0.0.20210903

The reason for this kind of code is that there is a bug in choco:

* https://github.com/chocolatey/choco/blob/master/src/chocolatey.resources/helpers/functions/Install-ChocolateyInstallPackage.ps1#L359

In `"$silentArg

[2021-09-04 16:55] majkinetor commented on #1709
[code]

[2021-09-04 16:55] #1709 closed

[2021-09-04 17:07] majkinetor opened #1710 "(autohotkey) Create virtual, v1 and v2 packages"
AHK v2 is dramatically different from AHK v1. Given the importance of this package for unattended installations, I propose the following:

1. Current ID `autohotkey` should become virtual package
2. Rename current autohotkey to autohotkey1
3. Create new package, autohotkey2
4. Via streams, make autohotkey to contain all releases from both versions.

Example for this methodology is done once by me

[2021-09-04 17:41] 3941 commented on #1700
For me this only happens when I get an automated update notification.
If I use the Help menu and Check for updates, the update works just fine.

[2021-09-04 18:41] mastacheata commented on #1709
Thanks for the hint, that does get around the problem indeed.

That's a workaround, but not a fix, though.
Is the underlying issue unfixable (i.e. php doesn't work with newer vcredist version) or did you just look for a fix that doesn't require changing anything?

[2021-09-04 19:10] majkinetor commented on #1709
I looked for a fix that doesn't change anything. The problem is specific to your usecase.

In general case its IMO unfixable. In this case, its probably fixable - I essentially made python use php's vcredist (you could also go the other way around). This solution used the fact that python doesn't have any other dependencies so simple `-i` would suffice. If it depended on something else, it would r

[2021-09-05 10:16] PRESFIL commented on #1678
Can update `automatic/putty/update.ps1` it with something like this:

[code]

I don't know which version of regular expressions is required, but something like this should solve issue.

[2021-09-05 16:26] pauby commented on #1705
We should look to pull the CLI out of the package and make it available separately.

[2021-09-06 07:30] ukai commented on #1604
It seems I need to remove installed files after `choco uninstall msys2`.

[2021-09-06 07:30] #1604 closed

[2021-09-06 07:33] majkinetor commented on #1705
No we shouldn't. Feel free to pursue this in your own spare time.

[2021-09-06 16:12] pauby commented on #1705
@majkinetor I've reopened the issue until we can address the issues that have been raised by both myself and @mkevenaar. Please leave it open.

[2021-09-06 16:42] majkinetor commented on #1705
This has nothing to do with this ticket. This ticket is about es not being included while it is. Create a new one for discussion. Thanks for keeping this place in order.

[2021-09-06 17:03] mkevenaar commented on #1705
Opening again, as requested by @pauby

[2021-09-06 17:53] majkinetor commented on #1705
Amazing behavior. Good job guys. Hope you are proud for your typical useless shenanigan in making this places harder to maintain.

[2021-09-12 16:32] jpluimers commented on #1557
Indeed. Did some more work, and the only Windows 10 machine it failed on, failed only once, so was not reproducible. All reproducible cases are Windows 8.1 virtual machines.

(Sorry for the extra details).

Hopefully I can play around with either that or the Chocolatey Testing Environment so the package verifier won't barf on it any more.

For my memory:

- https://docs.chocolatey.org/en-us/commun

[2021-09-16 14:29] derailed opened #1712 "(K9s) package no longer updated"
## Expected Behavior

## Current Behavior

A lag has been reported in the K9s user community regarding an issue with this choco package release. The current released version of K9s is 0.24.15 but it seems one can only upgrade to 0.24.10.

I am not the original author here, but I would appreciate some insight or what I can do to ensure this gets updated in this repo.

Thank you all for your time an

[2021-09-21 19:46] pauby commented on #1712
Fixed in #1713

[2021-09-21 19:46] #1712 closed

[2021-09-23 06:32] vytautask opened #1714 "(k9s) Need To Force Package Update"
k9s package has got new changes made via merging #1713 but it is not updated in chocolatey registry.

Seems like some manual "forcing" step should be made for that.

## Expected Behavior
Version 0.24.15 should be available to all users of chocolatey.

## Current Behavior
Only previous version (0.24.10) of k9s package is available in chocolatey registry.

Seems that even though the package is updat

[2021-09-23 06:54] Some-Dood opened #1715 "(paint.net) Failed to upgrade paint.net package due to outdated download link"
Since the recent release of [Paint.NET 4.3](https://blog.getpaint.net/2021/09/22/paint-net-4-3-is-now-available/), the old [DotPdn download link](https://www.dotpdn.com/downloads/pdn.html) no longer works. In particular, the `update.ps1` script assumes the following download link (which is no longer the case):

https://github.com/chocolatey-community/chocolatey-coreteampackages/blob/862e464bee7557

[2021-09-24 13:10] weeix opened #1716 "(python3) choco install python3 didn't install pip"
## Expected Behavior

`pip -V` displays pip's version

## Current Behavior
[code]

## Steps to Reproduce (for bugs)

1. `choco install -y python3`
2. Re-open terminal
3. Type `pip -V`

## Context

I'm trying to install packages using pip.

## Your Environment

* Package Version used: python3 3.9.7
* Operating System and version: Windows v 10.0.19043.0
* Chocolatey version: 0.11.2
* Install/uninsta

[2021-09-24 13:56] weeix commented on #1716
Solved by these steps:

1. `choco uninstall -y python3`
2. Download installer from https://www.python.org/downloads
3. Double-click the installer, choose "Repair"
3. Double-click the installer again, choose "Uninstall"
4. `choco install -y python3`

[2021-09-24 13:56] #1716 closed

[2021-09-26 10:39] CAMOBAP opened #1717 "inkscape package doesn't install CLI tool inkscape.com only inkscape.exe"
Per https://wiki.inkscape.org/wiki/index.php?title=Frequently_asked_questions#I.27m_on_Windows.2C_and_command_line_parameters_don.27t_seem_to_work.21
inkscape's installer provide two programs:
 - inkscape.exe - GUI
 - inkscape.com - CLI

And it will be nice to have both installed

## Expected Behavior
`choco install inkscape` should install `inkscape.com`

## Current Behavior
`choco install inksca

[2021-09-26 12:35] majkinetor commented on #1715
Changing the link will not solve the issue completely - during installation user input is required. The package also doesn't require dotNet any more as dependency.

After changing link this messages is shown:

![image](https://user-images.githubusercontent.com/85767/134808273-66c6a058-6d5a-4b36-a0d5-01b1da6b9b79.png)

After that it installs OK.

The best option would be to embed the offline instal

[2021-09-26 12:55] Some-Dood commented on #1715
Luckily, these binaries are [available on GitHub](https://github.com/paintdotnet/release/releases)! I suppose the update logic should now [ping the GitHub API](https://api.github.com/repos/paintdotnet/release/releases) rather than the dotPDN page to retrieve the latest binaries.

[2021-09-26 13:13] #1715 closed

[2021-09-26 13:20] majkinetor commented on #1715
Thanks for the help. Its up now:

- https://community.chocolatey.org/packages/paint.net/4.3

[2021-09-26 13:24] majkinetor commented on #1717
So it installs it, its just not shimmed. I changed the title accordingly.

I personally wouldn't like to have such pollution of my binary path. For almost all of the users there is no benefit of having them both - the difference is only that logs are visible in console AFAIK.

[2021-09-26 16:18] CAMOBAP commented on #1717
@majkinetor

Why this considering as "pollution" if it have the same name but different extensions (com vs exe), so ink scape.com will be called by default from CMD or PowerShell

Not only this, if you call inkscape.exe it will finished immediately and processing will start in another process, so any software which reply on files which should be generated will not work

If there is still not enoug

[2021-09-26 17:57] majkinetor commented on #1717
Tab competition will suffer and .com will be listed first. Not a big deal though.

What is wrong with
[code]

Sure.

[2021-09-26 19:20] CAMOBAP commented on #1717
I can confirm that It works, but it force us to use `Powershell` while mosty of API to run a shell on windows uses batch/cmd out of the box. Of course, programmers can explicitly call powershell and then required command from it but... why if inkscape developers already provide a consistent official way to work with Inkscape CLI

I will prepare PR

[2021-09-27 13:59] wotacs opened #1720 "(360tse) Version 8.8.0.1119 advertises connection with BitDefender and Avira."
The description for the above package claims a connection with BitDefender and Avira software. The package website makes no mention of this connection. The package in the Chocolatey repository was last updated in 2018, which may make it badly out-of-date, the "false advertising" notwithstanding.

## Expected Behavior

That the description omits the words Avira and BitDefender to correctly reflect

[2021-09-27 14:44] pauby commented on #1720
@wotacs I appreciate you raising this off the back of the email discussion.

[2021-09-27 19:24] CAMOBAP commented on #1717
Looks like the correct way to accomplish this is to add support for '.com' files to https://github.com/chocolatey/choco/blob/master/src/chocolatey.resources/helpers/functions/Install-BinFile.ps1

Still researching, closing PR yet

[2021-09-27 19:42] RedBaron2 commented on #1720
The 360 Total Security Essential application has been discontinued since 2019 and had also been removed from AU checking around the same time.

@wotacs
I have to wonder why you are asking about an application that has been discontinued for almost 2 years. Since people don't know history. Allow me please to link to this  [page](https://web.archive.org/web/20190529084331/http://www.360totalsecurity.

[2021-09-28 08:30] pauby commented on #1633
It's important that everybody knows that this repository will be renamed. Please leave this issue pinned just now until the work is done.

[2021-09-28 15:20] opoplawski opened #1721 "(thunderbird) Add option to not kill Thunderbird during update"
## Expected Behavior
We perform automatic updates on user's machines via a remote connection by an admin user.  Killing Thunderbird on a user during the update is not acceptable.

## Current Behavior
The current package will kill Thunderbird processes and attempt to restart it.  Restarting it also does not make sense in this case because the user performing the update is not the user of the machin

[2021-09-28 17:08] elveera0491 opened #1722 "(googlechrome) SessionNotCreatedException: Message: session not created"
There seems to be an issue with the current googlechrome package. When you try running tests on a remote VM from Jenkins, it fails with the following error: SessionNotCreatedException: Message: session not created
from timeout: Timed out receiving message from renderer: 600.000
(Session info: chrome=93.0.4577.82)
It works perfectly with older version (v92 and older). Trying to run tests with GUI a

[2021-09-28 17:17] pauby commented on #1721
Is this something you can submit a PR for?

[2021-09-28 17:22] opoplawski commented on #1721
Not easily.  I've never worked on a chocolatey package before and I don't know what to change or how to test it.

[2021-09-29 13:43] wotacs commented on #1720
I raised this issue because the product is so out-of-date and yet it comes up in a search for two other well-known and current AV products. It may be time to totally remove it from the repository, or mark it prominently as Out-Of-Date.

From: RB ***@***.***>
Sent: Tuesday, 28 September 2021 05:42
To: chocolatey-community/chocolatey-coreteampackages ***@***.***>
Cc: wotacs ***@***.***>; Mention ***

[2021-09-29 16:09] ba-tno opened #1723 "(git) Bundled git-lfs version is different from the latest git-lfs version available"
## Expected Behavior

When installing git from chocolatey without any additional options (`choco install git`) git-lfs is installed as well.
However, it appears that an update to git-lfs does not propagate to the chocolatey git package.

At the current moment there is a separate [git-lfs](https://community.chocolatey.org/packages/git-lfs) package with version `3.0.1`. However, the git-lfs version

[2021-09-29 16:38] #1714 closed

[2021-09-29 18:58] pascalberger commented on #1723
The `git` package is a wrapper around [Git for Windows installer](https://gitforwindows.org/), which is a bundler for Git and different tools, including git-lfs. The `git-lfs` package is a wrapper around the [Git Large File Storage installer](https://git-lfs.github.com/). The `git` package doesn't have a dependency on the `git-lfs` package. For Chocolatey packages it is best practice to be just li

[2021-09-29 19:44] ba-tno commented on #1723
That's clear, thank you for the explanation. I was not aware that this was a wrapper of the official installer.
As there are switches to toggle git-lfs I thought this was something which was added in the chocolatey package. If the official Git for Windows installer is (currently) bundled with an older version of git-lfs I agree that the chocolatey package should have the same behaviour.

[2021-09-29 19:44] #1723 closed

[2021-09-30 10:30] vytautask commented on #1714
The issue is gone now - k9s upgrade is successful! 🎉
Thank you, @majkinetor!

[2021-09-30 11:00] ekbharani commented on #1722
We were facing the same issue until a couple of days back. All our batch files were scheduled on windows task scheduler and they would inturn trigger robot framework scripts. But after this upgrade, all the taks would run and fail with this error. What we did was to install another software called "system scheduler" and scheduled all our tasks on them. Been a day and not seen any sessionnotfound e

[2021-10-01 04:14] RedBaron2 commented on #1720
Please, @wotacs next time edit your replies for charity.

The process for updating a package as outdated is mentioned on the package page. This usually requires submitting a PR that changes the metadata to outdated/discontinued.

@majkinetor or @pauby can help you with this process. I will second the vote to move the 360tse package as outdated.

Thanks for the reply.

[2021-10-02 09:58] wotacs commented on #1720
I apologise for any confusion caused, @RedBaron2, This is my first experience with GitHub Issue Tracking. I'd be happy to fix any mistakes made, if I could get a better idea where I have erred.  My uneducated assumption would be that I should have pruned the incoming email text - happy to go back in this email chain and do that, if this is my main failure.

I'll ask a bit of leeway while I learn (

[2021-10-02 13:28] pauby commented on #1720
If the final release of the package is on the community repository then my suggestion would be to submit one last version, mark it as EOL, change the description to remove the lines that @wotacs mentioned and also to update the description to confirm it's EOL.

If the package has been [deprecated](https://docs.chocolatey.org/en-us/community-repository/maintainers/deprecate-a-chocolatey-package#mai

[2021-10-02 13:31] MANICX100 commented on #1613
Don't close yet.
I have DM'd Igor now (before I just posted on support forum and got missed)

[2021-10-02 13:32] pauby commented on #1616
Based on the PR being merged, I'm going to close this.

[2021-10-02 13:32] #1616 closed

[2021-10-04 15:51] pauby commented on #1722
Is this an issue with the package or with Google Chrome?

[2021-10-04 16:39] ekbharani commented on #1722
Thanks for bringing this up Paul. I am guessing that this is because of chrome. But let's wait for their response.Sent from my Galaxy
-------- Original message --------From: Paul Broadwith ***@***.***> Date: 2021-10-04  11:51 a.m.  (GMT-05:00) To: chocolatey-community/chocolatey-coreteampackages ***@***.***> Cc: ekbharani ***@***.***>, Comment ***@***.***> Subject: Re: [chocolatey-community/chocol

[2021-10-05 17:20] elveera0491 commented on #1722
I second that. It seems to be an issue with chrome and while running it remotely.

[2021-10-05 17:28] pauby commented on #1722
@ekbharani Whose response are we waiting on? It's not clear from the thread.

[2021-10-06 17:42] majkinetor commented on #1708
Thx @TheCakeIsNaOH. Looks like we might have the same problem on next version ?

[2021-10-06 18:33] TheCakeIsNaOH commented on #1708
Yup, every individual version would have to be exempted until either this issue is fixed (and released) or until another workaround that does not trigger the validator is found.

[2021-10-07 06:26] gep13 commented on #1708
@majkinetor apologies, I had it on my list to come back to you on this one, but looks like it fell off my radar 😢

It currently isn't possible to provide a permanent exemption from package-validator (this is only possible with package-verifier) but this is by-design, and there aren't any plans to change that.

While we wait until the bug is addressed in Chocolatey (which should hopefully be includ

[2021-10-07 08:59] Jos3pherus opened #1727 "(firefox, firefoxesr, thunderbird) Ignoring user / password of proxy while fetching firefox installer beginning 92.0.1"
## Expected Behavior
Installations script downloads the firefox installer from mozilla.org and does the installation. This is done in our case via proxy with authentication (user / password). The credentials and proxy information are used from the chocolatey configuration.

## Current Behavior
While trying to download the installer from mozilla.org the proxy is used but not with credentials. So th

[2021-10-10 16:21] drdamour opened #1729 "firefox not using proxy when detecting locale"
opened per request at https://github.com/chocolatey-community/chocolatey-coreteampackages/commit/406fe6258144d49dbcca0986158a145c2b3a6cb6#commitcomment-57600998

## Expected Behavior

when the firefox package helpers.ps1 detects locale, it should use the configured chocolatey proxy.

## Current Behavior

the powershell invoke-webrequest does not use the configured proxy for chocolatey

## Possible

[2021-10-11 22:51] RedBaron2 opened #1730 "(firefox, firefoxesr, thunderbird) Internalized packages should be "100% offline""
@gep13 @ferventcoder @pauby @AdmiringWorm
I will quote from the chocolatey website (complete with spelling error)
"... Through the internalization process, by which you take a community package and bring all of the bits internal and/or embed them into the **_pacakge_**, you can convert an existing package to be **_100% offline_** and reliable and host it on an internal Chocolatey repository. This

[2021-10-12 07:49] AdmiringWorm commented on #1729
As @RedBaron2 said, this problem can be fixed by using one of the helpers provided by chocolatey.

We should also not be using `Invoke-WebRequest` inside a public package hosted on chocolatey.org, as this cmdlet is not compatible with PowerShell v2 which public packages are expected to be compatible with.

I'll play around with a few options that we could potentially use after work today, that wil

[2021-10-12 10:05] Jos3pherus commented on #1727
Hi,

in the log you can see that the installation scripts are downloaded from chocolatey correctly. When he runs the scripts he tries to download the installation .exe from mozilla.org which fails. You can see in the logs that he is using the configured proxy but without credentials. So he gets an Error 407 back from proxy (also visible in proxy log) that credentials are missing.
For testing purpo

[2021-10-12 10:56] AdmiringWorm commented on #1727
@Jos3pherus just to be certain again, whether we are talking about the same thing or not.

The URL that you needed to whitelist, was this a URL going to `https://mozilla.org`, or to `https://download.mozilla.org`?

The latter one is currently expected to go through a proxy correctly, but the former is not guaranteed at the moment to go through a proxy, or may only partially go through a proxy.

[2021-10-12 14:34] drdamour commented on #1729
@pauby u sure its a dupe that reported it was the installer that wasnt using login/pass.  This issue was about not using a proxy at all during the locale detection

[2021-10-12 19:50] gep13 commented on #1633
Based on discussions, I plan on moving forward with renaming of this repository tomorrow, with the chosen name of `chocolatey-packages`.

I am not sure how it would affect open pull requests, so we might want to spend some time getting those pulled in or rejected first though (I plan to do that this weekend).

I don't believe that this will cause any problems in this area.  There will be work requ

[2021-10-12 21:56] aaronsteers commented on #1602
Taking another tact here, has anyone on this thread tried https://community.chocolatey.org/packages/pyenv-win? I gave it a short amount of effort but the install for some reason was not going through as expected. In absense of version-specific python packages, perhaps the guidance here should be:

1. `choco install pyenv-win`
2. `pyenv update`
3. `pyenv install -l`
4. `pyenv install 3.9.10`
4. (Ad

[2021-10-12 22:26] jack1142 commented on #1602
I think it should be better supported by chocolatey in some way (I don't know whether that means separate packages, something like chocolatey/choco#800, or something entirely different) but for now, I just settled for this script I've written (requires chocolatey 0.11.1+):
[code]

[2021-10-14 02:31] 1S3M4U opened #1734 "Failed to Install "Sysinternals 2021.10.12""
Please follow up immediately..
Thank you

![Sysinternals failed install](https://flic.kr/p/2mAwcdQ)

[2021-10-14 06:29] gep13 commented on #1633
I am going to mark this as closed, as I haven't heard any screams that this has broken anything, and new packages have been getting submitted to community.chocolatey.org

[2021-10-14 06:29] #1633 closed

[2021-10-14 07:48] mwallner commented on #1633
maybe this changes should be reflected in https://github.com/chocolatey-community/chocolatey-packages#readme as well?

[2021-10-14 11:54] pauby commented on #1727
This issue will be closed by PR #1732, which hasn't been merged yet. Reopening the issue until that time.

[2021-10-14 16:50] #1730 closed, assigned to nobody

[2021-10-14 16:53] drdamour commented on #1727
How quickly does a fix turn into an available package?  Ive never experienced this before

[2021-10-31 18:11] AlexHeylin commented on #1620
The code certainly has the possibility of this happening because it contains a loop that could easily become endless.
@tipek360 what user context were you executing this in? User / Admin / SYSTEM / something else?

Bad things happen when running as SYSTEM, and I think they're all related to this issue.

Does anyone know why this is using a scheduled task rather than just running ```SpotifySetup.ex

[2021-10-31 18:14] tipek360 commented on #1620
@AlexHeylin I don't know why original author of install script used loop which can become endless I thought that issues is just with online installer.

[2021-10-31 18:27] AlexHeylin commented on #1620
Thanks @tipek360
What user context were you executing this in?

[2021-10-31 18:36] tipek360 commented on #1620
Well when I install something using chocolatey I usually use powershell with admin privileges and if I know correctly chocolatey even doesn't let you install something without privileges if you don't allow it in configuration.

[2021-10-31 18:44] tipek360 commented on #1620
But now I tried to install spotify using chocolatey in VM and it worked so this package is probably now fixed in chocolatey repository.

[2021-11-01 17:14] elveera0491 commented on #1722
It seems to be fixed with latest chromedriver v95.0.4638.540 and chrome v95.0.4638.69. Not sure what was the fix but I'm curious to know :)

[2021-11-01 17:20] #1722 closed

[2021-11-02 20:11] TheCakeIsNaOH commented on #1620
The Chocolatey package moved away from using the full setup because it had an inconsistent checksum. Read this for more information: https://github.com/chocolatey-community/chocolatey-packages/issues/1273

[2021-11-02 22:34] AlexHeylin commented on #1620
I've fixed this, I just need to formally test it before I submit the PR. It's only changing a couple of lines - barely worth testing, but I will anyway.

Don't worry - changing the installer exe isn't going to solve this problem, and I won't do it but thanks for the reference @TheCakeIsNaOH

[2021-11-03 15:01] xi67 opened #1741 "(peazip) File associations ans langage ar ignored"
## Expected Behavior
When you select another langage the software restart and is still in english.
Windows 10 has nos file associations with peazaip.

[2021-11-03 18:23] pauby commented on #1741
That's not a package issue but a software issue. The package simply installs the software and doesn't add any file associations.

I'm going to go ahead and close this, but we can open it again if necessary.

[2021-11-03 18:23] #1741 closed

[2021-11-05 07:34] viceice commented on #1451
![image](https://user-images.githubusercontent.com/1798109/140474108-bc1c9eda-174e-447b-b54f-e0bd73704257.png)

`gpg-agent` isn't killed for me, any idea why? Upgraded from `v2.33.0.2` to `v2.33.1`.

After manual stopping with `gpgconf --kill gpg-agent` it worked, also manual killing via `stop-process` in powershell works. 🤔

[2021-11-05 10:17] medianick commented on #1451
Yeah, I meant to come back to this ticket and follow up; gpg-agent.exe is still not automatically stopped for me when I upgrade git via Chocolatey, so it's still exactly as I first described it.

[2021-11-10 23:41] K0media opened #1743 "(everything) package prereleases of the newest early "alpha" versions"
Everything now has an alpha version full of new features and it's under development.

## Expected Behavior

It would be nice if the prereleases ("alpha") versions could be packaged into Choco's package.

## Current Behavior

It's not cached/packaged to Choco's packages, so I'd like to have it to ease the task of installation.

## Possible Solution

1. Include the prerelease as a part of the existi

[2021-11-11 20:03] pauby commented on #1743
Is this somethign you can submit a PR for?

[2021-11-12 02:42] K0media commented on #1743
Sorry, I'm not a programmer myself.

Just asked for this to be added since I need to install the package in an easy way.

[2021-11-14 04:28] levidavidmurray commented on #199
@AlexanderRevo I ran into the same problem. I was able to fix this by creating an `exe` symlink for `cyg-get.bat` in `/cygdrive/c/ProgramData/chocolatey/bin`:

[code]

[2021-11-15 13:11] pauby opened #1744 "Add repo issues link to package descriptions"
People are posting Disqus questions on community packages that by and large don't get an answer. I feel we should add a note to the bottom of the description of each package to link to this repo's issues page.

I also feel we should add a note to the description stating that these packages are automatically updated and if they are out of date by more than x days, they should raise an issue.

I app

[2021-11-15 14:16] ebbek opened #1745 "(graphviz) Install/update failure"
Installation attempts to install the 32-bit version of Graphviz on a 64-bit system and fails.

## Expected Behavior

Graphviz should be updated or installed without errors.

## Current Behavior

When attempting an update or a re-install I get the following error message:

[code]

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Package Version

[2021-11-15 14:44] user8446 opened #1746 "(PDF Creator) 4.4 released 8/31 but not updated"
Hello,

PDF Creator 4.4 was released 8/31 but as of now is still on v4.3. Since this is chocolately-community maintained, just raising an issue here since it may have been overlooked.
Thank you!

[2021-11-16 08:27] AdmiringWorm commented on #1745
Not able to reproduce it trying to install 32bit with a normal call to `choco install`.

It is possible that 32bit installation was remembered in the past for the package (maybe because of a bug that was in 0.10.15, which was fixed in 0.11.0 but requires an uninstall then a new install of the package).

Without a reproduction I the issue and/or a link to the log gist it is not possible for me to s

[2021-11-16 08:49] AdmiringWorm commented on #1744
I think it makes sense to have something in the description, or a pinned comment on the package details page that mentions using this repository for any bugs at least (IMO, a pinned Disqus comment could maybe make more sense than having it in the description).

This came up as a suggestion in the past as well, I believe it was decided then that the packages in this repository should be treated as

[2021-11-16 08:57] AdmiringWorm commented on #1743
Pre-Release packages are normally very low on the priority list in this repository, and we rarely add support for these ourselves.
Usually, the only time pre-releases is started to be supported for packages in the repository is if it is contributed by any community member as a pull request.

I'll mark the issue as up for grabs, it should in general be easy to implement, but will need to know a bit

[2021-11-16 19:13] mdeherder opened #1747 "(thunderbird) Throws error if Thunderbird was running when installation was started"
[code]

[2021-11-17 10:11] pauby commented on #1744
As discussions have been enabled, I'm going to convert this over to a discussion.

[2021-11-17 10:14] pauby commented on #1602
I've moved this over to Discussions.

[2021-11-17 10:15] #1602 closed

[2021-11-18 17:57] #1663 closed

[2021-11-18 19:00] #1452 closed

[2021-11-18 19:00] #1692 closed

[2021-11-18 19:00] #1702 closed

[2021-11-19 10:00] syockit commented on #1747
For some reason, trying to update it again makes it work. I don't remember if Thunderbird was running when this error occured.

[2021-11-19 11:31] pauby commented on #1747
@mdeherder Can you confirm [what was suggested above](https://github.com/chocolatey-community/chocolatey-packages/issues/1747#issuecomment-973924639) works for you?

[2021-11-19 14:55] mdeherder commented on #1747
@pauby Yes, and now I have also installed the next release (V91.3.2) without problems

[2021-11-22 09:18] slycordinator opened #1751 "(waterfox) version G4.0.3 released"
https://www.waterfox.net/download/
At the above, a Waterfox.G4.0.3.Setup.exe is available to download/install.

Expected Behavior
Current version able to be installed

Current Behavior
Most recent version available is 3.2.6, released a couple of months ago.

[2021-11-23 15:59] pauby commented on #1747
Reopening as this appears to still be an issue.

[2021-11-23 16:49] AdmiringWorm commented on #1745
As the issue have not been updated with reproduction, and/or a chocolatey log, I will be closing this issue now.

Feel free for it to be re-opened once the issue description has been updated with a reproduction or the actual chocolatey log.

[2021-11-23 16:49] #1745 closed

[2021-11-23 16:52] AdmiringWorm commented on #1655
This issue seems to have been fixed back in May, as such I will close this issue now.

[2021-11-23 16:52] #1655 closed

[2021-11-23 16:54] AdmiringWorm commented on #1606
There is a later version available, so this issue is no longer valid or needed.

[2021-11-23 16:54] #1606 closed

[2021-11-23 17:35] AdmiringWorm opened #1754 "Update Guidelines and code to reflect new procedures"
In the coming times, there will be changes to how code and packages can be contributed to this repository, as such the guidelines will need to be updated to reflect these new changes.

We currently have a very loose definition of what necessary steps are needed before contributing any new features, bugs, or migrations of new packages but these will be enforced in a more strict way going forward on

[2021-11-23 18:39] AdmiringWorm commented on #1647
I am closing this issue, as there do not seem to be any actionable change we need to do.

If I am wrong, please do open a discussion over at: https://github.com/chocolatey-community/chocolatey-packages/discussions

[2021-11-23 18:39] #1647 closed

[2021-11-24 11:19] lostXcode opened #1755 "(seafile-client) package is outdated"
The latest version is 8.0.5 (2021/11/18), see https://www.seafile.com/en/download/
and changelog: https://manual.seafile.com/changelog/client-changelog/

while the current package on chocolatey is version 7.0.10 (2020/10/16).

[2021-11-25 09:29] AdmiringWorm opened #1757 "(ruby.portable) Migrate package"
Accepted as it is a Core package used by Chocolatey CLI itself, and we are already maintaining the installer edition of the package.

### Discussed in https://github.com/chocolatey-community/chocolatey-packages/discussions/1756

<div type='discussions-op-text'>

<sup>Originally posted by **TheCakeIsNaOH** November 25, 2021</sup>

The `ruby.portable` package is out of date and is currently broken d

[2021-11-30 18:08] soredake opened #1761 "(python) installer does not update PATH env"
## Expected Behavior
Installer should update PATH env when PrependPath=1 is used.

## Current Behavior
It does not, PATH is not changed.

## Possible Solution

## Steps to Reproduce (for bugs)

1. Install python
2. Path is not changed.

## Context

## Your Environment

* Package Version used: python v3.10.0
* Operating System and version: Windows 11
* Chocolatey version: 0.11.3
* Install/uninstall

[2021-11-30 18:33] TheCakeIsNaOH commented on #1761
Please include the command you are using in the "Steps to Reproduce", but I'll take a stab at this anyway.

Have you read the notes in the description of the python package?

  This package depends on the the latest major version of python package.
   This package do not support package parameters, please install the package python3 directly when using package parameters.

The `python` package doe

[2021-11-30 19:05] soredake commented on #1761
My bad, i was reinstalling meta package instead of actual python.

[2021-11-30 19:05] #1761 closed

[2021-12-07 05:13] ScoobyDone commented on #1746
and now 4.4.1.....

[2021-12-08 16:27] niratouq opened #1762 "Freecad package"
https://community.chocolatey.org/packages/freecad/0.19.2.7#files
There is  wrong x64 installer URL for Freecad package:
A "1" is missing at the end just before the dot.
The current URL is:
https://github.com/FreeCAD/FreeCAD/releases/download/0.19.2/FreeCAD-0.19.2.7b5e18a-WIN-x64-installer.exe
instead of:
https://github.com/FreeCAD/FreeCAD/releases/download/0.19.2/FreeCAD-0.19.2.7b5e18a-WIN-x64-ins

[2021-12-08 23:39] RedBaron2 commented on #1762
@niratouq
I appreciate your enthusiasm, but this issue is in the process of getting worked out (slowly). The powers that regulate this repository are looking into PR #1739
This will fix the URL error, and make it so minor changes like the 1/-1 won't halt the package (hopefully)
When the moderators are back from the holidays this PR should be merged, and the community will have working FreeCAD pack

[2021-12-10 18:46] pauby commented on #1762
@niratouq Thanks for raising this issue. We do really appreciate interest from everybody in the community.

As there is a PR already open, I'll go ahead and close this as a duplicate, however we can always reopen it again in the future.

Thanks again.

[2021-12-10 18:46] #1762 closed

[2021-12-14 10:37] Some-Dood opened #1763 "(blender) Servers fail to push the latest version to the repository (v3.0.0)"
## Expected Behavior
The repository should pick up the latest Blender version (3.0.0), released 3 December 2021.

## Current Behavior
Based on [Choco Bot's error section](https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f#errors), a "request entity [appears to be] too large" to be pushed. Hence, the `blender` package is currently stuck on `2.93.6` as of writing. Choco Bot's error m

[2021-12-14 16:15] TheCakeIsNaOH commented on #1763
The current maximum size for packages (`.nupkg`s) on the community repository is 200mb. It looks like the blender 3.0 installer is slightly over 200mb, so with it included in the package it makes the package too big for the community repository.

The solution is to download the installer at runtime, instead of embedding it inside the package.

PRs are welcomed here, or I think I may be able to get

[2021-12-14 16:25] #1747 closed

[2021-12-14 16:26] AdmiringWorm commented on #1747
This has now been fixed in the codebase, a new fix version is scheduled to be pushed to the community repository.

[2021-12-14 16:27] AdmiringWorm commented on #1763
What @TheCakeIsNaOH says is most likely the culprit of the package failing.

As such this package needs to be changed to download the installer instead of having it embedded inside the package going forward 😢

[2021-12-16 15:50] waikinw opened #1764 "(chocolatey-core.extension/extensions/Get-AppInstallLocation.ps1) Access Denied on Program Files directory will fail all application installs"
If any directory gets Access Denied (due to antivirus), the current function will fail.  Antivirus does not allow directory scan for its own directory under "C:\Program Files\*\*" - "C:\Program Files\AntivirusSoftware\".   This makes all packages that try to install using using this extension also fail since the app can't complete its registration.

## Expected Behavior
Package/Application install

[2021-12-19 05:21] slycordinator opened #1765 "(ffmpeg*) descriptions missing codecs/libraries included in each"
The packages "ffmpeg" and "ffmpeg-full" descriptions make no reference to the libraries included in each.
They instead refer to "essentials" and "full", neither of which exist in the upstream ffmpeg project at www.ffmpeg.org.

## Expected Behavior
1) Be able to look at package description and see the differences between the packages.
or
2) Have the package description link to a site that shows the

[2021-12-20 10:58] Vankog opened #1766 "(notepadplusplus.install) issue when exe is currently running"
Choco upgrade cannot handle running Notepad++ instances.

## Expected Behavior
If notepadd++.exe is running, either:
* close the application to make upgrading possible
* or fail the upgrade.

## Current Behavior
If notepad++.exe is running, the upgrade is seemingly successful, but that's not correct.
When checking the "about" dialog of the app after restarting it, it still shows the old version.

[2021-12-22 18:23] gwendal-g opened #1767 "(mpc-hc-clsid2) new release available"
Hello,

There is a new version for the package https://community.chocolatey.org/packages/mpc-hc-clsid2
The update is available at this address: https://github.com/clsid2/mpc-hc/releases/tag/1.9.18

Current version: 1.9.16
New version: 1.9.18

Kind regards,

[2021-12-26 20:11] Zethson commented on #1330
Could this issue be reopened please?

[2021-12-27 16:43] BenoitPoulet opened #1768 "(kitty) Upgrade for Kitty"
Hello,

The Kitty package is pretty old (0.74), the last version is 0.76.0.2.

An upgrade is possible ?

Thank you.

[2021-12-30 01:41] simonai1254 commented on #414
FYI: I could no longer find the reference to the CC license, only the [EULA](https://www.irfanview.com/eula.htm)

[2021-12-30 17:52] superbonaci opened #1769 "[notepadplusplus] How to force install Release Candidate"
I have installed `Notepad++ v8.1.9.3` with `choco`, however wish to install Release Candidate for 8.1.9.4, which is not available over chocolatey How can I "upgrade" manually using choco command line? This is meant to fix important issues.
https://github.com/notepad-plus-plus/notepad-plus-plus/issues/10968

[2022-01-01 03:45] fkrauthan commented on #1763
Any news on this? Are there any samples of other apps that I could look into to give this a stab?

[2022-01-01 19:51] RedBaron2 commented on #1763
@fkrauthan
Several of the community packages make use of downloading the installer on the consumer's computer; when being installed through chocolatey. Chromium, Firefox, and Google Chrome are a few examples. Good luck in the new year.

[2022-01-03 01:37] fkrauthan commented on #1763
@RedBaron2 Ok perfect. I gave it a stab. Never worked with Powershell before so there might be room for improvement but it works. Created a PR already.

[2022-01-04 10:35] AdmiringWorm opened #1771 "(1password*) Update uninstall script to set uninstall arguments in `update.ps1`"
The incoming PR for adding a uninstall script for the 1password package only specifies the arguments necessary for the latest version of 1password, instead of the legacy version of 4.x.

## Expected Behavior

The uninstall script should have the correct arguments for the package that the uninstall script is for.

## Current Behavior

The uninstall script only works for 1password, not for 1password

[2022-01-04 11:04] AdmiringWorm commented on #1769
As this is phrased as a question, and no template is being used I will be moving this over to Discussions.

[2022-01-04 11:07] BlythMeister opened #1773 "(1password) Update to Version 8.x"
Can the 1passoword package be updated to version 8.x (I've had a look and there seems to be ongoing issue under discussion/fix regarding 1password, but that's for V7.x

Wondering if upgrading to V8 will change the way things work and will then also solve the issues with V7.x :)

[2022-01-04 11:17] AdmiringWorm commented on #1764
unfortunately, using `-depth 2` on the ls alias is not possible.

That option was added in PowerShell v5, and we need to be PowerShell v2 compatible.
I am not sure how to resolve this at the top of my head, but I'll look into it when I have a chance.

[2022-01-04 11:20] AdmiringWorm commented on #1765
@slycordinator that is a good catch that we somehow had missed.

If you are interested, I have marked this issue as Up for grabs if you are willing to provide a PR to get the link containing the libraries added (only the `Readme.md` file need to be updated, and should be in a `## Notes` section in that file).

[2022-01-04 11:24] AdmiringWorm commented on #1767
hmm, looks like there is something going on when we try to update the package.

I'll have a look at it as soon as I can.

[2022-01-04 11:29] AdmiringWorm commented on #1768
Looks like there have been an up stream change that prevents the update, I'll take a look at what is going on.

[2022-01-04 12:13] AdmiringWorm commented on #1768
hmm, looks like they are now only providing the portable executable through fosshub now, which we unfortunately can not use.

There is a zip package that may be possible to be used instead, but I have not looked far enough into it to see if it is a viable option yet.

[2022-01-04 12:30] #1767 closed

[2022-01-04 12:30] AdmiringWorm commented on #1767
A new update of this package is now queued on our update CI, a new package version should be submitted shortly and will be available once it has completed the moderation checks.

[2022-01-04 14:28] petezx9 opened #1774 "(vcredist140) Fails installation on 64bit system when `--x86` is used for parent package"
We are using choco as an easy way to install (and update) software inside our containers.
we need to install the 32-bit python into a base Microsoft image,
The issue is reported by my colleague Chris Hopkins to the choco package maintainer here...
https://community.chocolatey.org/packages/python3/3.10.1
We think maybe it's a choco issue?

## Expected Behavior
it works :-).
python3 32bit is install

[2022-01-04 16:19] #1751 closed

[2022-01-04 16:21] AdmiringWorm commented on #1751
Our update script has been fixed (🤞), and a new version of the package should be submitted to Chocolatey Community Repository soon. Will take a few hours until it has passed the automated moderation checks before it is available for normal consumption.

[2022-01-04 16:23] AdmiringWorm commented on #1774
This looks to be an oversight in the vcredist140 package and not a problem with the python3 package itself.

The `--x86` argument gets inherited by any dependent package as well, for now I would recommend that you install the dependency `vcredist140` first without the `--x86` argument before installing the python3 package itself.

At least until we have a fix available for the problem in the packa

[2022-01-04 16:27] AdmiringWorm commented on #1746
PDF Creator 4.4.1 have been pushed to Chocolatey Community Repository, it should be available for normal consumption once it passes all automated moderation checks in a few hours.

Fixed in commit: https://github.com/chocolatey-community/chocolatey-packages/commit/6009023dbf58fd94588df7044af713b5da60d6b1

[2022-01-04 16:27] #1746 closed

[2022-01-04 17:11] petezx9 commented on #1774
Thanks for taking the time to look.
I can confirm that running
_choco install vcredist140 -y --no-progress --reduce-package-size_
before the python 32bit install is a successful 'workaround' for us.  :-)

[2022-01-05 11:14] AdmiringWorm commented on #1774
Good to know that is a workaround for you, I do hope to look back into this when I have more time to work on this repository so that workaround won't be necessary for the future.

/cc @jberezanski for visibility

[2022-01-05 13:08] TomSmithGR opened #1776 "(git) git install fails with access violation when installing in windows container (ltsc2022) with process isolation"
## Expected Behavior
installing git on a windows server core container using process isolation should be successful.

## Current Behavior
I am using mcr.microsoft.com/windows/servercore:ltsc2022 base image
installing git without process isolation on the container works as expected
installing git with process isolation on the container causes an error with Git-2.34.1-64-bit.exe. An unhandled except

[2022-01-05 15:12] TomSmithGR commented on #1776
One thing that may or may not be relevant, but manually installing the git installer with the command line parameters shown above gives an error parsing the /COMPONENTS= parameter due to the repeated commas, and a return value of 1.

[2022-01-05 18:08] fkrauthan commented on #1763
Seem to be working now after my merge request. I see version `3.0` on the repo. This can probably be closed.

[2022-01-05 18:24] Some-Dood commented on #1763
Alrighty, thanks for your help! @fkrauthan 🎉

[2022-01-05 18:24] #1763 closed

[2022-01-06 20:41] mattcargile opened #1777 "(sysinternals) `ShellRunAs.exe` Prompted For Eula"
## Expected Behavior

I'd prefer to accept all Eula's during install.
## Current Behavior

I was asked to accept the Eula when running `ShellRunAs.exe`
## Possible Solution

The registry key added was `ShellRunas - Sysinternals: www.sysinternals.com` at path of `HKCU:\SOFTWARE\SysInternals\` with `EulaAccepted` value at `1`. [Here](https://www.hexacorn.com/blog/2014/11/30/sysinternals-eulagoogooli

[2022-01-08 10:56] avi12 opened #1779 "[firefox] Fails to temporarily load WebExtensions"
## Expected Behavior
It should be possible to temporarily load any valid MV2 extension.

## Current Behavior
That's not always the case.

## Steps to Reproduce (for bugs)
1. Download a Manifest V2 extension, such as [youtube_auto_hd_fps-1.4__adapted_for_firefox.zip](https://github.com/chocolatey-community/chocolatey-packages/files/7833063/youtube_auto_hd_fps-1.4__adapted_for_firefox.zip) ([source

[2022-01-08 11:33] avi12 commented on #1779
Nevermind, I figured that the issue was with the Content Security Policy directive [sandbox](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/sandbox)
Removing it solved the issue

[2022-01-08 11:33] #1779 closed

[2022-01-08 18:26] Nio9345 opened #1780 "There is a misspelling in the script that installs from the online repository"
There is a spelling error somewhere in the script that installs iTunes from the online repository. The choco installer reports something about "isntall" or "istnall" not being a valid command, so somewhere there is a misspelling.
The offline packet installs just fine so the problem is definitely with the online script. I could provide a log file but for some reason it just skips the install all to

[2022-01-09 17:40] superbonaci opened #1781 "Weird issue can't upgrade apps without forcing"
This is what I get if I run:
[code]

However I can perfectly fine manually upgrade `adb`:
[code]
I'm using the 32-bits version of chocolatey.
Here everything seems operational: https://status.chocolatey.org/

[2022-01-09 18:04] superbonaci commented on #1781
It must be server side issues, takes forever to check for specific apps updates, in fact times out.

[2022-01-09 18:45] TheCakeIsNaOH commented on #1781
It looks like this issue is popping up again: https://github.com/chocolatey/choco/issues/2515

[2022-01-09 19:32] EngineerJack opened #1782 "HELP PLEASE - I've been using Chocolatey for a while, over a year, but now I can't log in"
About an hour ago, I was logged in, where I could click on packages, and settings, but it was taking forever to do its initial loading. While I was waiting, I went and turned on quite a few settings I hadn't previously had active, skimming the descriptions, yet I was activating premium, licensed options and I'm only a free user. I'm not cheap, but I don't have enough to spend on a license. Now whe

[2022-01-09 21:22] TheCakeIsNaOH commented on #1782
Hi,

This repository is for packages uploaded by the `chocolatey-community` user on the Chocolatey community repository. Your issue appears to be with error in the the ChocolateyGUI program, not with a specific package on the community repository.

Therefore, please open an issue at the ChocolateyGUI repository instead of here: https://github.com/chocolatey/ChocolateyGUI

The options that are labe

[2022-01-09 21:22] #1782 closed

[2022-01-09 21:35] iTouchU commented on #1782
I just naturally found this forum first, so I assumed this was the correct one, and thanks for your help.

[2022-01-10 00:52] superbonaci commented on #1781
Works perfect now, server issue solved.

[2022-01-10 00:52] #1781 closed

[2022-01-10 07:25] gep13 commented on #1781
@TheCakeIsNaOH thanks for pointing folks in the right direction!

[2022-01-10 07:39] gep13 commented on #1782
@TheCakeIsNaOH thank you. I will pick up that issue in the Chocolatey GUI repository.

[2022-01-10 09:11] #1765 closed

[2022-01-11 16:56] TheCakeIsNaOH commented on #1780
You can run with `--verbose` and `--debug`, which will print out the log information to the console.

[2022-01-12 14:54] AdmiringWorm commented on #1780
@Nio9345 please provide the log file, without it, we can not do much.

I had a look at the package and there is not a single place where the usage of `isntall` or `istnall` is being used.

Just making an assumption here, but to me, it sounds like you may have had a typo when typing in the command to install the package (can not say for sure though).

[2022-01-12 17:35] Nio9345 commented on #1780
While I tried to use the --verbose command I found the misspelling on my batch file. So now the program runs correctly. Sorry for the trouble.

[2022-01-12 17:35] #1780 closed

[2022-01-13 17:02] chrisdjali-wrld3d opened #1783 "(ruby) Many versions of Ruby have no corresponding version on Chocolatey"
## Expected Behavior

Major versions of Ruby increment the second number in the version rather than the first, so, for example, 2.5.8-1 is backwards-compatible with 2.5.3-1, but not 2.4.7-1. There can still be bugs and incompatibilities to resolve in the previous major version, though, so there are still 2.n.x releases after 2.n+1.0-1 is released. One might expect that those releases are available

[2022-01-14 07:41] eoumenwa opened #1784 "vagrant v2.2.19 vagrant (exited 404) - Error while running 'C:\ProgramData\chocolatey\lib\vagrant\tools\chocolateyinstall.ps1"
Trying to install vagrant on Windows 10 powershell but keep getting the errors below.

PS C:\WINDOWS\system32> choco install vagrant
Chocolatey v0.11.3
Installing the following packages:
vagrant
By installing, you accept licenses for the packages.
Progress: Downloading vagrant 2.2.19... 100%

vagrant v2.2.19 [Approved]
vagrant package files install completed. Performing other installation steps.
F

[2022-01-14 17:23] pauby commented on #1784
This looks to be a network / connection issue and not a package issue as the download fails at 65%. I've tested installing this and it's working fine. Going to go ahead and close this.

[2022-01-14 17:23] #1784 closed

[2022-01-15 19:20] Nio9345 opened #1785 "Problem downloading files for offline installation"
I try to download the package in order to install Firefox offline and the ChocBox.cmd troughs this error every time.

Version number [ ENTER=current version ] :

Downloading and converting Firefox  to run from C:\DRIVERS\chocbox
Running ChocolateStore to make package...
Skipped: Firefox.96.0.1.nupkg - File already exists on disk.
Download Failed: https://download.mozilla.org/?product=firefox-96.0.

[2022-01-15 19:37] pauby commented on #1785
What's `ChocBox.cmd`?

[2022-01-15 19:49] Nio9345 commented on #1785
it's the script I use through E2B to run the chocolatey PowerShell program to download the packages and nupkg files in order to have offline installs for auto installations. Though it's a third party program it still calls the Chocolatey PowerShell program

[2022-01-15 20:08] gep13 commented on #1785
Looks like ChocolateStore isn't replacing the `{locale}` variable in the URL, therefore the download isn't working.

[2022-01-15 20:14] Nio9345 commented on #1785
Yeah. Good point, is there a way to force or choose a locale to download?

[2022-01-15 20:16] #1785 closed

[2022-01-15 20:27] gep13 commented on #1785
That would come down to how ChocolateyStore works, and this is not the right place to answer that question.

[2022-01-15 20:35] Nio9345 commented on #1785
Yeah, figured as much. So I closed the issue since I'm pretty sure I won't get my answer here.

[2022-01-15 20:56] gep13 commented on #1785
@Nio9345 seems like this is a none issue with ChocolateStore: https://github.com/BahKoo/ChocolateStore/issues/4

[2022-01-16 20:38] TheCakeIsNaOH commented on #1783
This is definitely the way to go.

There are a number of packages on the community repository that continue to upload minor releases for older major versions after a new major version has been released. An example of it in this repository is the python3 package: https://github.com/chocolatey-community/chocolatey-packages/tree/master/automatic/python3

The way it accomplishes this is by having AU s

[2022-01-16 23:14] TheCakeIsNaOH commented on #1777
I've double check this, and yup, the wrong registry key for license acceptance was specified in the helper function.

[2022-01-17 00:37] TheCakeIsNaOH commented on #1757
I have opened PRs to take care of all but the last item on the todo list.

[2022-01-19 13:06] slonopotamus commented on #1776
Reported to Microsoft: https://github.com/microsoft/Windows-Containers/issues/197
It is very likely that this bug is not Chocolatey fault.

[2022-01-25 21:35] majkinetor commented on #1768
It can be done by unpacking latest releases zip file:

![image](https://user-images.githubusercontent.com/85767/151063201-6fb76e4e-27c5-47eb-966c-99f2b9e14a9c.png)

There are some changes:

1. `gensfc.exe` is gone
2. There are now 2 cygwin files.

So I think we should just pack everything into choco package as before.

[2022-01-25 22:12] majkinetor commented on #1764
@waikinw , Did you try adding `-ErrorAction ignore` to the original code on `ls` command?

[2022-01-25 23:20] waikinw commented on #1764
#response_container_BBPPID{font-family: initial; font-size:initial; color: initial;} I tried something like that on a few iterations. Wanting to avoid major change. I vaguely recall those would return partial or null listing.To be ps 2 compatible, you would need to have a top level followed by iterator one dir below ignoring the errors. Or maybe version detection before calls.

[2022-02-01 16:45] Skatterbrainz opened #1791 "(brave) Release vs Pre-Release Version Confusion"
The current package shows 1.35.99 as the latest "official release version" but 1.34.81 is the latest official release. 1.35.99 was a nightly pre-release build.  The source list for pulling versions may be the root cause of this (from Brave.com).  Just letting you know because several customers of mine expressed concern that the different versions could be construed as being tampered with and untru

[2022-02-01 17:18] TheCakeIsNaOH commented on #1791
The script that updates the package actually uses the github releases:
https://github.com/brave/brave-browser/releases

Yes, that is what is happening as far as I can see.

The update script looks for `StandaloneSilentSetup.exe` in the filename to filter to the stable releases:
https://github.com/chocolatey-community/chocolatey-packages/blob/master/automatic/brave/update.ps1#L14-L15

Example of th

[2022-02-01 17:48] Skatterbrainz commented on #1791
No worries. I explained the issue to my customers and they understand. I will proceed with the public shaming of Brave on twitter. :)

[2022-02-01 18:10] jonathansampson commented on #1791
Hello, Sampson here (Developer Relations at Brave). Just wanted to preface this by saying we (at Brave) DO NOT manage the listing/package-manager discussed. That said, I would be more than happy to help determine recent builds from each channel. This was a challenge I had faced not too long ago when putting together https://sampson.codes/brave/latest/.

### Ask GitHub

One option is to ping GitHub

[2022-02-01 19:50] AdmiringWorm commented on #1791
Updating of the "stable" brave version has been disabled temporarily while we investigate how to proceed with the updating.

The Beta version updates are still enabled.

Asking the Brave update service may be an option, as suggested by @jonathansampson (thank you for that).
Using the GitHub JSON is unfortunately not an option due to the inconsistencies in how releases are being provided on the Git

[2022-02-02 13:17] mxxlxxx opened #1792 "(inkscape) Create a shortcut in the start menu"
## Expected Behavior
When the app is installed, a shortcut file will be created in the Start menu.

## Current Behavior
Not created a shortcut file of the app in the Start menu.

## Possible Solution
Change to create a shortcut file in the start menu.

[2022-02-03 12:37] kuehnelth opened #1794 "(mumble) package is outdated"
Version 1.4.230 was released on January 17th. The version in Chocolatey is the previous one 1.3.4
Release page on github: https://github.com/mumble-voip/mumble/releases/tag/v1.4.230

[2022-02-03 13:23] bedo2991 opened #1795 "(blender) Duplicate registry keys matched on uninstall"
**choco uninstall blender**
[code]

[2022-02-04 08:17] gep13 commented on #1794
Unfortunately, it looks like the version number formatting has changed in the latest release (it now includes a v at the start of the version number):

![image](https://user-images.githubusercontent.com/1271146/152494504-29ba3ef0-ddf1-4bce-b7d1-6bca70c912e6.png)

The regexes that are used within the update.ps1 file will need to be updated, as the version number that is found is `v1.4.230` rather t

[2022-02-04 11:49] pauby commented on #1791
@jonathansampson Thanks for clarifying that.

It seems like releases, particularly through GitHub, are inconsistent / in flux. Is there a potential for the process you mentioned above to be changed again in the near future or has it been settled on?

[2022-02-04 12:07] pauby commented on #1795
@bedo2991 Can you go back and complete the issue template in full?

As an FYI, I can't reproduce this after a straight install and uninstall:

[code]

[2022-02-04 13:50] TheCakeIsNaOH commented on #1795
@pauby try installing blender `2.93.6`, then upgrading to the latest, then uninstalling.

[2022-02-04 14:53] jonathansampson commented on #1791
@pauby Let me reach out to the release team for clarity. Expect a response soon 🙂

[2022-02-04 16:36] jonathansampson commented on #1791
After taking a closer look at the issue, I think I see the problem.

I queried for the 38 most recent "release" builds on GitHub for brave/brave-browser/. Of these, 33 contained a _StandaloneSilentSetup.exe_, and 5 did not. The 5 releases that did not contain that asset were all mobile builds (iOS and/or Android).

As such, simply ignoring any release that lacks a _StandaloneSilentSetup.exe_ shoul

[2022-02-04 18:40] pauby commented on #1795
@TheCakeIsNaOH okay, that breaks.

The issue seems to be that blender doesn't uninstall the previous version on upgrade but simply installs the software again with the new version. After uninstalling the package / software, the previous version (2.93.6) is still there. Note that I haven't downloaded the installers to see if it's still an issue that way. I suspect it would be.

So, I'd say this is

[2022-02-13 13:58] rgl opened #1797 "choco uninstall python does not really uninstalls python"
`choco uninstall python` does not really uninstalls python from the system.

## Expected Behavior

I expected python to be removed from the system.

## Current Behavior

[code]

## Possible Solution

## Steps to Reproduce (for bugs)

1. `choco install -y python` (this installed 3.10.2)
2. `choco uninstall -y python`

## Context

## Your Environment

* Package Version used: 3.10.2
* Operating Syste

[2022-02-13 14:04] rgl commented on #1797
Oh, python is a "stub" package that depends on python3. Is there a way to uninstall python that triggers a python3 uninstall?

[2022-02-14 10:01] AdmiringWorm commented on #1797
As you noticed as well, `python` is a stub package or as we call them a `meta package`. Unfortunately, it is not a true meta-package, as those would have also removed the dependency (this is based on the naming).

To also remove the `python3` package when uninstalling `python` you need to pass in the argument `--remove-dependencies` as well. See https://docs.chocolatey.org/en-us/choco/commands/uni

[2022-02-14 10:01] #1797 closed

[2022-02-14 22:20] TommeTao commented on #1652
I ran into the same issue on my business machine (Windows 10) and the cause was indeed the antivirus software, as suspected by @AdmiringWorm:

More specifically, our company is running McAfee Endpoint Security 10.7.

I was able to solve the issue and install FFmpeg (`ffmpeg-full`) via Chocolatey by disabling **On-Access Scan** (under **Settings** -> **Threat Prevention**):

<img src="https://user-

[2022-02-15 09:02] #1783 closed

[2022-02-15 09:03] AdmiringWorm commented on #1783
Changes required to fulfil this issue has been completed in the repository, it will take a while until these changes will surface on CCR though.

[2022-02-15 09:17] AdmiringWorm commented on #1652
This is just speculation on my part, but I would believe it is either due to the size of the archive itself, or more likely due to the number of files located inside the archive.
The more files there are, the longer it usually takes for anti-viruses to scan all of the files, especially when they are extracted from archives (or copied from a different drive as well to the same location).

[2022-02-15 09:21] AdmiringWorm commented on #1795
I believe that was something that is intentional, as there are quite common reasons why you would want to have several editions of blender installed (or at least it was when the versions 2.79 vs 2.80 was used).

So if we are going to remove the installer, we should specifically only remove the specific version. This causes some problems with upgrades though, as that would also need to know about r

[2022-02-15 11:05] AdmiringWorm commented on #1757
This issue has now been completed thanks to @TheCakeIsNaOH.

A new version of the ruby.portable package should also be submitted soon to CCR.

[2022-02-15 11:08] #1757 closed

[2022-02-15 12:28] thosoo opened #1800 "(freecad) ERROR: The remote file either doesn't exist, is unauthorized..."
### Chocolatey Version

0.12.1

### Chocolatey License

_No response_

### Package Version

0.19.3

### Current Behaviour

Installation fails.

[code]

### Chocolatey Log

[code]

### Anything else?

_No response_

[2022-02-15 22:23] TheCakeIsNaOH opened #1801 "(palemoon) validation failing due to invalid URLs"
### Chocolatey Version

0.12.1

### Chocolatey License

_No response_

### Package Version

29.4.1 through 29.4.4

### Current Behaviour

Validation is failing because the `BugTrackerUrl`, `LicenseUrl` and `ProjectSourceUrl` are all invalid. They all 404 when viewed in a brower, so it is not a validator issue.

### Expected Behaviour

_No response_

### Steps To Reproduce

View package page on CCR

[2022-02-16 04:44] RedBaron2 commented on #1800
@thosoo
Thanks for bringing this issue to light. A newer version of the updater for this package is being worked on to fix this issue.  Please be patient will the testing and PR approval process for this package.

[2022-02-16 04:48] RedBaron2 commented on #1637
@Yrazi
I'm working on a newer updater for the package that will rectify the problem.

[2022-02-16 22:26] DavidBuj opened #1802 "(kitty)"
### Checklist

- [X] I have checked the moderation queue that no new version has been submitted (only visible when logged in), or the submitted package version has failed the automated checks.

Please navigate to the following [link](https://community.chocolatey.org/packages?q=&moderatorQueue=true&moderationStatus=all-statuses&prerelease=false&sortOrder=package-download-count) to view the moderati

[2022-02-17 03:29] TheCakeIsNaOH commented on #1802
Checklist not followed, this is a duplicate of #1768

[2022-02-17 03:29] #1802 closed

[2022-02-17 03:38] TheCakeIsNaOH commented on #1795
@gep13 mentioned wanting this information available in the Powershell environment, and I can see the value in it. I'm not finding an issue about it though.

[2022-02-17 07:13] bereldhuin commented on #1773
+1

[2022-02-17 07:35] gep13 commented on #1795
@TheCakeIsNaOH I honestly can't remember if an issue has been created for this or not. It is something that has come up a number of times though, i.e. having the information that this is an upgrade or an install.  And if it is an uprade, what version is being upgraded from.

[2022-02-17 07:38] AdmiringWorm commented on #1795
Currently, the only issue I know of that exists is to provide the previous version during an upgrade (this is what I had in mind for the information we would need as well).
https://github.com/chocolatey/choco/issues/1713

[2022-02-17 20:08] sazk07 opened #1803 "(libreoffice-fresh) Outdated"
### Checklist

- [X] I have checked the moderation queue that no new version has been submitted (only visible when logged in), or the submitted package version has failed the automated checks.

Please navigate to the following [link](https://community.chocolatey.org/packages?q=&moderatorQueue=true&moderationStatus=all-statuses&prerelease=false&sortOrder=package-download-count) to view the moderati

[2022-02-20 04:02] olifre commented on #1593
This issue is still relevant. I did not get to create a PR for it just yet.

[2022-02-21 08:09] TomSmithGR commented on #1776
closing this as its related to specific container and hardware combo

[2022-02-21 08:09] #1776 closed

[2022-02-21 09:43] hkdemiralp opened #1805 "(inkscape) package name error due to "Dotted and dotless I letter""
### Chocolatey Version

0.12.1

### Chocolatey License

_No response_

### Package Version

1.1.2

### Current Behaviour

Doing a `choco upgrade all -y` gives this failure message for inkscape in Windows OS using Turkic languages:
`Failures
 - ınkscape - ınkscape not installed. The package was not found with the source(s) listed.
 Source(s): 'https://community.chocolatey.org/api/v2/'
 NOTE: When y

[2022-02-21 11:15] pauby commented on #1800
Closing this as a duplicate of #1637

[2022-02-21 11:15] #1800 closed

[2022-02-21 11:46] AdmiringWorm commented on #1805
This sounds more like a problem in the choco codebase at the moment than a problem with the package itself.

While that would possibly fix this issue, it, unfortunately, wouldn't be right to do that right now either.
The identifier `InkScape` is used on purpose now due to historical reasons.
The first time the package was introduced to CCR that was the casing that was in use, and because of a bug

[2022-02-21 11:50] AdmiringWorm commented on #1805
As it is a problem with the conversion between upper case and lower case characters done by Chocolatey, can you please open up an issue about that over at https://github.com/chocolatey/choco/issues so it can be looked into?

[2022-02-21 11:53] AdmiringWorm commented on #1803
@wget as you are the one with the most knowledge about this package, is this something that you would be able to look into?

[2022-02-21 22:36] RedBaron2 commented on #1803
@sazk07 @AdmiringWorm
I'll quote the chocolatey wget discussion listed on the package page.
" ... The tacit distribution policy of TDF is as follow: distribute LibreOffice immediately via its website, but after some (1-2 weeks) delay, the update service is notified of the new version. ... "

The official release of the 7.3.0 version was completed according the the release schedule for LibreOffice

[2022-02-22 10:49] #1794 closed

[2022-02-22 10:50] AdmiringWorm commented on #1794
This has been fixed in the repository, and a new build is scheduled to be pushed to CCR.

[2022-02-22 13:23] J-Arx commented on #1689
Yes, seems still relevant.
With iSpy installed, upgrading VLC via Chocolatey gives "ERROR: Path doesn't exist: C:\Program Files\iSpy\VLC64\vlc.exe".

A workaround is still renaming the "iSpy" folder, so it is listed after the "VideoLAN" folder alphabetically. e.g:
1. rename "C:\Program Files\iSpy" to "C:\Program Files\ziSpy";
2. upgrade VLC via Chocolatey;
3. rename the "C:\Program Files\ziSpy" fo

[2022-02-22 18:08] hkdemiralp commented on #1805
Thanks. I opened up an issue as you said at https://github.com/chocolatey/choco/issues/2601
I don't know if I should close the issue here. Please feel free to close, if it is the way it shoul be.

[2022-02-23 11:44] pauby commented on #1805
Thanks @hkdemiralp. I'll go ahead and close this now.

[2022-02-23 11:44] #1805 closed

[2022-02-23 11:59] pauby commented on #1803
I've raised the above PR to clarify the update cycle for this package. Good catch @RedBaron2.

[2022-02-25 10:40] gsmitheidw opened #1810 "(nmap) shim not working correctly"
### Chocolatey Version

0.10.15

### Chocolatey License

_No response_

### Package Version

7.92

### Current Behaviour

nmap fails to run following a successful install. nmap is not on the path and no shim has been created in:

c:\programdata\chocolatey\bin

Additionally in that path, there is the actual installer itself _nmap-7.92-setup.exe_

### Expected Behaviour

nmap should be on the path a

[2022-02-25 12:16] #1803 closed

[2022-02-25 18:11] AdmiringWorm commented on #1810
Thank you for reporting this issue, before we can start triaging this issue I'll need to ask you a few questions.

How did you try to install the package?

Was it through some kind of ssh or winrm connection, or did you run locally on the computer directly?

The reason I am asking is that there are known problems with running AutoHotkey scripts through such connections, that we are unfortunately n

[2022-02-26 11:28] gsmitheidw commented on #1810
It was remotely over RDP but still interactively rather than wimrm or equivalent.

I understand the issues with nmap installer being deliberately non-silent. That's something that has long been a bit of a contentious issue. I can understand their reasoning in that they want to support the personal use and open source, but preventing mass deployments used for commercial gain - which eats into their

[2022-02-27 15:33] Trellmor commented on #1641
Still an issue, Sourcetree is now up to version 3.4.7 while the version in chocolatey is still 3.4.1

[2022-03-01 04:01] #1743 closed

[2022-03-01 17:44] AdmiringWorm commented on #1810
I agree that it should fail as cleanly as possible, now it doesn't fail at all so there is definitely work needed to fix the package.

I'll add it to my TODO list to look at the problem with this package, but anyone is free to submit a PR if they wish.

[2022-03-02 04:01] #1700 closed

[2022-03-02 04:01] #1691 closed

[2022-03-02 14:35] AndrewIsBest69 opened #1813 "(GeForce Experience) Install error 9"
### Chocolatey Version

0.12.1

### Chocolatey License

_No response_

### Package Version

3.25.0.84

### Current Behaviour

When installing this package, I get the following error:
`geforce-experience (exited 9) - Error while running 'C:\ProgramData\chocolatey\lib\geforce-experience\tools\chocolateyInstall.ps1'.`

### Expected Behaviour

_No response_

### Steps To Reproduce

1. Install GeForce

[2022-03-02 15:22] AdmiringWorm commented on #1813
I am not sure how you came to this repository for the package you are mentioning.

the GeForce Experience package is not maintained in this repository, or by us, as such you'll need to contact the maintainer of the package to get it fixed.

This can be done by navigating to the package on the community website and clicking on the `Contact Maintainers` link listed there.
If they have their own repo

[2022-03-02 15:22] #1813 closed

[2022-03-03 04:01] #1648 closed

[2022-03-03 04:01] #1629 closed

[2022-03-03 04:01] #1627 closed

[2022-03-03 04:01] #1620 closed

[2022-03-04 09:43] ZatsuneNoMokou commented on #1768
There is also a zip file in the github releases https://github.com/cyd01/KiTTY/releases/tag/v0.76.0.8

[2022-03-06 06:05] Mugane commented on #1691
Please reopen this. No solution exists as far as I can tell.

The error says there is a log but no log file location is provided

[2022-03-07 04:18] slycordinator opened #1816 "(python3) Leaves start menu folders/shortcuts when Uninstalled"
### Chocolatey Version

0.12.1

### Chocolatey License

_No response_

### Package Version

3.10.2

### Current Behaviour

After python3 is uninstalled:
Inside C:\ProgramData\Microsoft\Windows\Start Menu\Programs\Python 3.10 there remain several shortcut files.

- "IDLE (Python 3.10 64-bit)" with a target of [ C:\Python310\pythonw.exe "C:\Python310\Lib\idlelib\idle.pyw" ]
- "Python 3.10 (64-bit)"

[2022-03-07 13:20] nickvanbaelen opened #1817 "(freecad) Wrong package url"
### Chocolatey Version

0.12.1

### Chocolatey License

_No response_

### Package Version

0.19.3

### Current Behaviour

Downloading freecad 64 bit
  from 'https://github.com/FreeCAD/FreeCAD/releases/download/0.19.3/FreeCAD-0.19.3-WIN-x64-installer-1.exe'

ERROR: The remote file either doesn't exist, is unauthorized, or is forbidden for url 'https://github.com/FreeCAD/FreeCAD/releases/download/0

[2022-03-07 13:54] pauby commented on #1817
This is a duplicate of #1637

[2022-03-07 13:54] #1817 closed

[2022-03-08 04:01] #1548 closed

[2022-03-08 18:12] pauby commented on #1691
Works fine here in Windows 10 sandbox. I think this is a local environment issue.

[code]

[2022-03-10 04:01] #199 closed

[2022-03-10 18:36] pauby opened #1818 "(mumble) Package is failing Verification"
### Chocolatey Version

0.11.2

### Chocolatey License

_No response_

### Package Version

1.4.230

### Current Behaviour

Package is failing Packager Verifier. I've pushed it back through again, but it's still [failing](https://gist.github.com/choco-bot/5a37917d948dcecbc5317d02ec3ecc3e#file-install-txt-L480-L497) with:

[code]

Running in a Windows 10 Sandbox, with Chocolatey CLI 0.12.1, gives t

[2022-03-11 23:34] Mugane commented on #1691
In case it helps anyone, this was a compatibility issue - Python version >3.8 does not work on Windows 7

[2022-03-17 18:36] akusei opened #1823 "(nmap) Install is not silent"
### Chocolatey Version

0.12.1

### Chocolatey License

_No response_

### Package Version

7.9.2

### Current Behaviour

Installing package nmap version 7.9.2 is not able to complete silently with the current autohotkey script

### Expected Behaviour

The nmap package is installed silently with no user input required

### Steps To Reproduce

1. run choco install nmap -y
2. npcap setup appears and

[2022-03-18 00:55] pauby commented on #1823
I think the issue was that it either wasn't fully fixed. Or it was fixed and the installer has changed so it needs fixed again. Chocolatey isn't downloading an old broken package.

The problem appears to be with the `npcap` installer, NOT the `nmap` installer. They are run from the same Chocolatey package install. You can see below that the `nmap` part works fine. It stops at `npcap`

![nmap-insta

[2022-03-18 17:12] AdmiringWorm opened #1824 "Remove non-deprecated extension packages from this repository"
We currently are hosting extension packages in this repository, a new repository to host extension packages have been created and these extension packages should be moved over to that repository instead.

The packages that need to be removed from this repository is:

- [ ] Remove `chocolatey-azuredata.extension` package
- [ ] Remove `chocolatey-core.extension` package
- [ ] Remove `chocolatey-vsco

[2022-03-19 22:09] andi-blafasl opened #1825 "(obs-move-transition) Outdated"
### Checklist

- [X] I have checked the moderation queue that no new version has been submitted (only visible when logged in), or the submitted package version has failed the automated checks.

Please navigate to the following [link](https://community.chocolatey.org/packages?q=&moderatorQueue=true&moderationStatus=all-statuses&prerelease=false&sortOrder=package-download-count) to view the moderati

[2022-03-19 22:11] andi-blafasl opened #1826 "(openboard) Outdated"
### Checklist

- [X] I have checked the moderation queue that no new version has been submitted (only visible when logged in), or the submitted package version has failed the automated checks.

Please navigate to the following [link](https://community.chocolatey.org/packages?q=&moderatorQueue=true&moderationStatus=all-statuses&prerelease=false&sortOrder=package-download-count) to view the moderati

[2022-03-19 22:19] pauby commented on #1825
This package is not maintained here. Can you go back to the package page and use the 'Contact Maintainer' link?

[2022-03-19 22:19] #1825 closed

[2022-03-19 22:20] pauby commented on #1826
This package is not maintained here. Can you go back to the package page and use the 'Contact Maintainer' link?

[2022-03-19 22:20] #1826 closed

[2022-03-20 04:04] #1771 closed

[2022-03-20 04:04] #1330 closed

[2022-03-21 11:31] #1818 closed

[2022-03-21 11:32] AdmiringWorm commented on #1818
This has been fixed in the repository, and a push has been scheduled for pushing it to CCR.

[2022-03-21 11:37] AdmiringWorm commented on #1816
This sounds like the `python` installer itself don't clean itself up when it gets uninstalled.

We don't have any uninstall script as the uninstaller is picked up by Chocolatey, and I am a bit hesitant to include an uninstall script purely for a badly behaving uninstaller.

I'll mark this as an up to grabs though, if there is anyone interested in picking this up.

[2022-03-21 11:51] AdmiringWorm commented on #199
@Mugane unresolved because there was no one interested in picking it up, as well as the `cyg-get` package works as expected. It is only a PowerShell helper, and is required to be used inside a PowerShell terminal.

[2022-03-21 12:33] #1823 closed

[2022-03-21 12:33] AdmiringWorm commented on #1823
This is now fixed in the repository, and a new fix version of nmap have been scheduled to be pushed to CCR.

[2022-03-21 12:34] AdmiringWorm commented on #1810
This is now fixed in the repository, and a new fix version of nmap have been scheduled to be pushed to CCR.

If you notice any further problems after the fix version is available, please do feel free to let us know about them.

[2022-03-23 04:37] slycordinator opened #1829 "keepassxc"
### Checklist

- [X] I have checked the moderation queue that no new version has been submitted (only visible when logged in), or the submitted package version has failed the automated checks.

Please navigate to the following [link](https://community.chocolatey.org/packages?q=&moderatorQueue=true&moderationStatus=all-statuses&prerelease=false&sortOrder=package-download-count) to view the moderati

[2022-03-23 04:39] slycordinator commented on #1829
Note that there's no longer a 32-bit version.

The existing 2.6.6 version is the final one that supports 32-bit.

[2022-03-23 20:56] d-Rickyy-b commented on #1768
Hi there, I'd appreciate having an up-to-date version of kitty on chocolatey. Is there anything one can do to help update this package?

[2022-03-24 09:10] pauby commented on #1768
@d-Rickyy-b You could submit a PR with a fix for the issues outlined above?

[2022-03-25 23:29] RedBaron2 commented on #1641
@Trellmor
I'm curious to found out if the version number has gone past 10 for the last digit (EX: X.X.10)?

@AdmiringWorm
Working on a solution and waiting on a reply from **Trellmor**

[2022-03-26 08:17] Trellmor commented on #1641
Currently? No, the current version is [3.4.8](https://product-downloads.atlassian.com/software/sourcetree/windows/ga/SourceTreeSetup-3.4.8.exe) ([changelog](https://product-downloads.atlassian.com/software/sourcetree/windows/ga/ReleaseNotes_3.4.8.html))

There have been 2 digit version numbers in the past, e.g. [3.0.10 to 3.0.17](https://product-downloads.atlassian.com/software/sourcetree/windows/

[2022-03-28 03:56] RedBaron2 commented on #1641
I'm still testing my fix for consistency, but it appears to be stable.

I will as time allows submit a PR for this package. @Trellmor thanks for the help.

[2022-03-28 04:38] Chadfarkas commented on #1773
+1

[2022-03-29 13:43] #1829 closed

[2022-03-30 02:25] RedBaron2 commented on #1641
PR is up and hopefully will be approved soon. This update should work for the foreseeable future.

[2022-03-30 11:46] sazk07 opened #1834 "(powerbi)"
### Checklist

- [X] I have checked the moderation queue that no new version has been submitted (only visible when logged in), or the submitted package version has failed the automated checks.

Please navigate to the following [link](https://community.chocolatey.org/packages?q=&moderatorQueue=true&moderationStatus=all-statuses&prerelease=false&sortOrder=package-download-count) to view the moderati

[2022-03-31 04:56] weeix opened #1835 "(libreoffice-still) -url and -url64bit are blank when running Install-ChocolateyPackage"
### Chocolatey Version

Other (note in the comments)

### Chocolatey License

_No response_

### Package Version

7.2.5

### Current Behaviour

An error appears:

[code]

This architecture is ... blank?

### Expected Behaviour

The package installs successfully or displays an error that is understandable.

### Steps To Reproduce

1. Run `choco install libreoffice-still`
2. See `ERROR: This package

[2022-03-31 04:56] weeix commented on #1835
Chocolatey v1.0.1

[2022-03-31 17:45] TheCakeIsNaOH commented on #1835
See this issue for more context about the error message that is seen here: https://github.com/chocolatey-community/chocolatey-packages/issues/1835

[2022-03-31 17:50] #1834 closed

[2022-04-01 12:18] pauby commented on #1641
I've had a look at the PR and I'm wondering why this is so complicated? I'm coming to it fresh so forgive me missing anything.

Am I right in thinking that this is the [correct website for SourceTree](https://sourcetreeapp.com)? If that is the case the latest available version they offer is 3.4.7 both on the initial web page and also in their [archives](https://www.sourcetreeapp.com/download-archi

[2022-04-01 12:27] pascalberger commented on #1641
That's the complicated part with the Sourcetree package: Inconsistencies all over the place and documented release processes changing all the time 😞. It is basically impossible to get it right.

There are basically two versions of SourceTree:
- Personal
- Enterprise

This package installs Enterprise edition, since this is the version suitable for automated machine-wide deployments.

If you look in

[2022-04-01 12:32] pascalberger commented on #1641
Also they once documented the release process with `Alpha -> Blitz -> Beta -> Early Access -> GA` stages (See [Blog post](https://blog.sourcetreeapp.com/2016/03/31/sourcetree-beta-program-a-look-behind-the-curtains/)), but they didn't stick to it, which also caused confusion in the past.

[2022-04-01 13:27] pauby commented on #1835
I've just installed the 7.2.5 version of the package and everything worked:

[code]

If you download the package the `url` and `url64bit` properties are populated. They could be being changed by [these lines of code](https://github.com/chocolatey-community/chocolatey-packages/blob/master/automatic/libreoffice-streams/tools/chocolateyInstall.ps1#L23-L24). I agree with @TheCakeIsNaOH that the error

[2022-04-01 13:36] pauby commented on #1801
Versions 30.0.0 and 30.0.1 have since been approved. Closing this.

[2022-04-01 13:36] #1801 closed

[2022-04-01 14:07] pauby commented on #1792
I've just checked this and it does create a Start Menu option:

![image](https://user-images.githubusercontent.com/12760779/161279723-49714fbb-07b1-4793-8833-30cc4c59d681.png)

And a desktop icon:

![image](https://user-images.githubusercontent.com/12760779/161279824-cc135e0a-be80-4cff-9854-f6215334e216.png)

There was a new version released on 6 Feb (after this issue was created) so I'm assuming

[2022-04-01 16:53] pauby commented on #1774
@jberezanski Are you able to look at this?

[2022-04-01 16:58] TheCakeIsNaOH commented on #1835
@pauby yes, that theory does seem like the only probable answer.

I would generally assume that something like a proxy or firewall is blocking requests to the documentfoundation servers. Then, when the URLs from the `packageArgs` are tested, they are found to be not valid, and then `GetLibOExactVersion` is also not able to return anything, so the URLs are blank.
However, @weeix noted in chat that

[2022-04-02 14:11] #1774 closed

[2022-04-02 14:44] jberezanski commented on #1774
Fixed and pushed, versions:
14.31.31103.20220402 (Visual Studio 2022 stream)
14.29.30139.20220402 (Visual Studio 2019 stream)
14.16.27033.20220402 (Visual Studio 2017 stream)

[2022-04-02 15:09] jberezanski commented on #1774
However,

I don't like this behavior. I understand its usefulness in one narrow use case (metapackages depending on *.install), but in general I believe it is actively harmful, same as `--apply-package-parameters-to-dependencies` / `--apply-install-arguments-to-dependencies` (fortunately false by default).

Here, for example, only the 32-bit VC++ runtime will be installed as a dependency of python

[2022-04-03 11:54] yan12125 opened #1840 "(python3) Incomplete permission lockdown"
### Chocolatey Version

Other (note in the comments)

### Chocolatey License

_No response_

### Package Version

3.9.12, 3.10.4 and likely other 3.x versions

### Current Behaviour

Installing python3 without arguments locks down permissions of C:\Python3X folder. Most sub-folders are still writable by authenticated users. For example, here are permissions of `C:\Python310\*`: https://pastebin.co

[2022-04-05 17:31] RedBaron2 commented on #1637
I'm working with the FreeCAD developers about how best to remedy this situation. The fix is pending on approval of the developers. I will work on keeping you all informed.

[2022-04-06 06:15] gep13 commented on #1791
Yes, there is a linked PR that was opened a few days ago, so this issue is still relevant.

[2022-04-06 08:17] pauby commented on #1791
@jonathansampson this endpoint (https://brave-browser-downloads.s3.brave.com/latest/release.version) is now broken - instead of returning the latest version it tries to download the software.

There was a lot of work put into reworking this package to use the endpoints. If we can't rely on the endpoint being consistent, we can't use it.

Are you able to provide a consistent, valid endpoint to quer

[2022-04-07 09:36] pattyland commented on #1791
The answer seems to look very different depending on how you ask:
[code]

[code]

Maybe depending on the user agent?

[2022-04-07 09:58] pauby commented on #1791
The `beta.version` endpoint continued working. It was the `release.version`  endpoint that changed.

The code _did_ work as I tested it prior to submitting the PR. A user agent for one and not the other endpoint doesn't make a lot of sense. And having to install curl on the automation machine isn't a great choice.

But you did pique my curiosity again. `Invoke-RestMethod` works:

[code]
But how lo

[2022-04-07 13:00] #1777 closed

[2022-04-07 13:07] AdmiringWorm commented on #1766
As @TheCakeIsNaOH already mentioned, the work are not lost even if notepad++ is closed.
If it is closed with the `-Force` flag when calling `Remove-Process` there may be something lost, or if there is a very old version of notepad++.

[2022-04-08 10:43] #1795 closed

[2022-04-08 10:45] #1791 closed

[2022-04-08 13:09] #1652 closed

[2022-04-08 13:11] AdmiringWorm commented on #1652
A new fix version for the ffmpeg and ffmpeg-full package is queued to be pushed to Chocolatey Community Repository with some changes to retry the renaming of the directory that fails in this issue.

As I had mentioned before, I still have not been able to reproduce the problem, so do let me know in this issue whether the issue persists or not once the new fix version is approved.

[2022-04-08 13:43] #1626 closed

[2022-04-08 13:44] AdmiringWorm commented on #1626
This is now fixed in the repository, and a new fix version of the package is queued to be pushed to Chocolatey Community Repository.

[2022-04-08 13:44] AdmiringWorm commented on #1626
This is now fixed in the repository, and a new fix version of the package is queued to be pushed to Chocolatey Community Repository.

[2022-04-08 15:18] AdmiringWorm opened #1845 "(keyfinder) Outdated and no installer available anymore"
### Checklist

- [X] I have checked the moderation queue that no new version has been submitted (only visible when logged in), or the submitted package version has failed the automated checks.

Please navigate to the following [link](https://community.chocolatey.org/packages?q=&moderatorQueue=true&moderationStatus=all-statuses&prerelease=false&sortOrder=package-download-count) to view the moderati

[2022-04-08 15:19] AdmiringWorm commented on #1845
Additional information: There is no longer a installer available for keyfinder, however there is a archive for the new version.

It will take some work to update the package to make use of this archive instead of an installer.
I have disabled updating of this package, and marked this issue as an up for grabs. If it is not fixed by the community, a RFM request will be created for this package inste

[2022-04-10 16:57] oldium commented on #1768
It should be possible to embed the Kitty installer directly in the package - see https://docs.chocolatey.org/en-us/community-repository/moderation/package-validator/rules/cpmr0028, option 2.

[2022-04-12 09:47] doughnutnz opened #1847 "(gimp) File download location has changed"
### Chocolatey Version

Other (note in the comments)

### Chocolatey License

_No response_

### Package Version

2.10.24 upgrade to 2.10.30 Windows

### Current Behaviour

Chocolatey Version 1.1.0
Upgrade failed with message "The remote file either doesn't exist, is unauthorized, or is forbidden for url 'https://download.gimp.org/mirror/pub/gimp/v2.10/windows/gimp-2.10.30-setup.exe'".

So I went

[2022-04-12 10:47] weeix commented on #1835
I don't know why, but I'm somehow able to install `libreoffice-still` after creating this issue. :confused:

Should I close this issue for now?

[2022-04-12 10:59] pauby commented on #1835
There is still potential for this to break I feel, given what @TheCakeIsNaOH and I believe. If we leave it open it can be looked at in more detail and prove us wrong 😄

[2022-04-12 22:01] Larswa opened #1848 "(brave) Fails to install when it tries to parse the version number"
### Chocolatey Version

0.12.1

### Chocolatey License

_No response_

### Package Version

1.37.111

### Current Behaviour

Brave installation fails when it tries to parse a version number with the .net type System.Version.  This is because the string fishing for a version number fails as Chrome has bumped their version from 2 to 3 digits  (99 to 100)

 I can see that the Brave version number eve

[2022-04-13 17:08] opusforlife2 commented on #1680
Hi. This package is on version 4.4.2 now, and I see 3 installers (4.2.0, 4.4.0, and 4.4.2) in the `tools` folder. Is it possible to automatically remove old installers on package upgrade?

[2022-04-13 20:37] TheCakeIsNaOH commented on #1680
@opusforlife2 The install script should be removing the installers:
https://github.com/chocolatey-community/chocolatey-packages/blob/master/automatic/bleachbit.install/tools/chocolateyInstall.ps1#L14

However, it looks like there is a typo in it, because it is referring to the `$toolsPath`, while the rest of the script is using `$toolsDir`.

[2022-04-13 20:42] opusforlife2 commented on #1680
Could you submit the PR? If I do it and there turns out to be some problem with it, I wouldn't know how to solve that.

[2022-04-13 21:45] TheCakeIsNaOH opened #1850 "(bleachbit.install) installer not removed"
### Chocolatey Version

Other (note in the comments)

### Chocolatey License

None

### Package Version

4.2.0, 4.4.0, and 4.4.2

### Current Behaviour

Installers are not removed from the package directory.

### Expected Behaviour

That installers are removed from the package directory.

### Steps To Reproduce

1. `choco install bleachbit.install`
2. Check in `$env:ChocolateyInstall\lib\bleachbit

[2022-04-13 21:47] TheCakeIsNaOH commented on #1680
@opusforlife2 I've opened a seperate issue: https://github.com/chocolatey-community/chocolatey-packages/issues/1850

[2022-04-13 21:54] opusforlife2 commented on #1680
Ohkay. Thank you!

[2022-04-13 21:56] opusforlife2 commented on #1850
Off-topic: @TheCakeIsNaOH Do you know of a script to automatically sanitise Chocolatey/GUI logs? I had to post the log once, and manually going through it to sanitise was quite tedious.

[2022-04-13 22:00] TheCakeIsNaOH commented on #1850
@opusforlife2 Not that I am aware of.

I don't use Chocolatey GUI, and for Chocolatey CLI, I generally use `--verbose --debug` to capture just the single run. That can be sanitized fairly easily in notepad++ or whatever with a couple of search+replaces. Or I just run in docker or the test env and don't worry about having to sanitize it.

[2022-04-14 10:10] #1850 closed

[2022-04-17 04:28] meek2100 commented on #1641
Take a look at these two PRs they should solve the source tree automatic updates.

https://github.com/chocolatey-community/chocolatey-packages/pull/1853
https://github.com/chocolatey-community/chocolatey-packages/pull/1854

[2022-04-17 06:12] RedBaron2 commented on #1641
@meek2100
There is currently a PR that will resolve this issue #1833

[2022-04-17 06:59] RedBaron2 commented on #1848
@Larswa
Might I make a suggestion that the code be changed to be
`$installedVersion = $key.Version[0..($key.Version.length - 1)]`
This way no matter how large the version gets in the future the code will continue to function.

@chtof
If you want to replace the code using a regex might I suggest `(\d+\.{0,1})`
This will also not limit the version number to any predetermined size.

[2022-04-17 19:59] chtof commented on #1848
Hello @RedBaron2,
Sorry, I didn't understand. My regex "\d+\.(.*)" only excludes the major version. My regex will not work if a day, the complete Brave version is "123" without minor version but is it really the problem?
Or maybe, your suggestion is to use your regex to use the complete version of Brave. Yes, I don't why why there was a choice to exclude the major version. But, in that case, perha

[2022-04-17 20:08] RedBaron2 commented on #1848
@chtof
I must have misunderstood the line of code from your PR. I made the assumption that the version from the registry was the same as the version of the package.
My suggestion wasn't mean to cause any harm.

[2022-04-20 12:41] zhengda-skinny opened #1855 "(musicbee) download hash error"
### Chocolatey Version

1.1.0

### Chocolatey License

_No response_

### Package Version

3.4.7805

### Current Behaviour

Here is the error.

PS C:\WINDOWS\system32> choco install musicbee
Chocolatey v1.1.0
Installing the following packages:
musicbee
By installing, you accept licenses for the packages.
Progress: Downloading musicbee 3.4.7805... 100%

musicbee v3.4.7805 [Approved]
musicbee packag

[2022-04-21 07:33] slycordinator commented on #1848
I think we can close this, since the pull request that fixes the issue was merged.

[2022-04-21 08:08] AdmiringWorm opened #1857 "(selenium-gecko-driver) Migrate package"
### Discussed in https://github.com/chocolatey-community/chocolatey-packages/discussions/1856

<div type='discussions-op-text'>

<sup>Originally posted by **AdmiringWorm** April 21, 2022</sup>
This is a request to move the package [selenium-gecko-driver](community.chocolatey.org/packages/selenium-gecko-driver) to the Community Chocolatey Packages repository.

I recommend this being done as it is a

[2022-04-21 08:19] AdmiringWorm commented on #1835
Quickly looking at the package, it looks like we might want to add some kind of check to handle cases where the function `GetLibOExactVersion` returns empty URLs, which is probably the problem here (yeah I know, already mentioned).

I'll add this to my TODO list to have a look at getting added, however, if someone beats me to it feel free to open a PR to add a check for empty URLs.

There is also

[2022-04-21 09:20] AdmiringWorm commented on #1848
We haven't pushed up the fix to the community website yet, so until we plan to push up a fix version or when there is a new release of brave available let us keep this open.

[2022-04-21 10:56] #1766 closed

[2022-04-21 19:07] AdmiringWorm commented on #1848
A package fix version that includes the changes for this issue has been pushed to CCR. THere will be some time before it completes moderation.

I'll be closing this issue now.

[2022-04-21 19:07] #1848 closed

[2022-04-21 19:19] AdmiringWorm commented on #1855
The package musicbee is not maintained by us in this repository, you'll need to contact the actual maintainer of the package to get the package fixed.

You can do that using `Contact Maintainers` or using the listed Package Source on the details page for this package.

Because we are not maintaining the package, I will be closing this issue now.

[2022-04-21 19:19] #1855 closed

[2022-04-21 20:26] Gwouigwoui opened #1858 "(vlc) 32-bit installed instead of 64-bit"
### Chocolatey Version

1.1.0

### Chocolatey License

_No response_

### Package Version

3.0.17.4

### Current Behaviour

32-bit version of VLC is installed instead of 64-bit

### Expected Behaviour

_No response_

### Steps To Reproduce

install vlc package

### Environment

[code]

### Chocolatey Log

[code]

### Anything else?

_No response_

[2022-04-22 06:19] causalnet commented on #1858
Looking at  tools\chocolateyInstall.ps1 from
https://community.chocolatey.org/packages/vlc.install/3.0.17.4#files

It looks like the 32-bit and 64-bit versions are defined the wrong way around:

[code]

The `file` is defined to use the x64 file and `file64` is defined to use the x32 file.

[2022-04-22 12:59] AdmiringWorm opened #1861 "(selenium-chrome-driver) Migrate package"
### Discussed in https://github.com/chocolatey-community/chocolatey-packages/discussions/1860

<div type='discussions-op-text'>

<sup>Originally posted by **AdmiringWorm** April 22, 2022</sup>

I was recently made a maintainer of this package, and with that I request it being added to this repository for continued maintenance and to be kept up to date by multiple people.
This ties in to the reques

[2022-04-23 15:31] #1858 closed

[2022-04-23 15:32] AdmiringWorm commented on #1858
A fix for this has been merged, and a new fix version is being queued to be pushed to Chocolatey Community Repository.

It will take a few hours until it is available for normal consumption.

[2022-04-26 00:08] J-Arx commented on #1689
After commit [55921699e62ed3b1e486a7f3cb18fa1f37d18256](https://github.com/chocolatey-community/chocolatey-packages/commit/55921699e62ed3b1e486a7f3cb18fa1f37d18256), upgrading VLC via Chocolatey seemed working fine for me.

[2022-04-26 04:21] yuichi-github commented on #1652
I tried it with v5.0.1.20220408 in the same context and confirmed that the problem has been fixed.
I appreciate it very much!

[2022-04-28 09:14] destroyAUniverse opened #1864 "(NodeJs) Update to V18.0.0"
### Checklist

- [X] I have checked the moderation queue that no new version has been submitted (only visible when logged in), or the submitted package version has failed the automated checks.

Please navigate to the following [link](https://community.chocolatey.org/packages?q=&moderatorQueue=true&moderationStatus=all-statuses&prerelease=false&sortOrder=package-download-count) to view the moderati

[2022-04-28 13:01] hchorey opened #1866 "(vlc) latest update of package throws a warning about source(s)."
### Chocolatey Version

1.1.0

### Chocolatey License

_No response_

### Package Version

upgrading to 3.0.17.4

### Current Behaviour

As of the most recent upgrade of the vlc package to 3.0.17.4 (released on 20-Apr-2022 | https://community.chocolatey.org/packages/vlc), upgrading either via "choco upgrade vlc" or "choco upgrade all" throws the following warning upon upgrade:

[code]

Verbose log

[2022-04-28 13:08] AdmiringWorm commented on #1866
Unfortunately, this is something that is out of our hands in this case.

The problem here is that the `vlc` package is approved, however this is just a meta package which depends on the package [`vlc.install`](https://community.chocolatey.org/packages/vlc.install/3.0.17.4), and until this package is approved there is unfortunately not much we can do.

Also, please refrain from converting a discuss

[2022-04-28 13:08] #1866 closed

[2022-04-29 02:18] jsoref opened #1867 "(git.install) fails on Windows 7 w/ default PowerShell"
### Chocolatey Version

1.1.0

### Chocolatey License

_No response_

### Package Version

2.36.0

### Current Behaviour

[code]
fails with
[code]

[code]

### Expected Behaviour

git should install and there shouldn't be any scary errors

### Steps To Reproduce

1. In Windows 7 (w/ IE8) -- https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/ in VirtualBox
2. Open PowerShell (Admin)
3.

[2022-04-30 09:40] kouhe3 opened #1869 "(python3) cygdb not found"
### Chocolatey Version

1.1.0

### Chocolatey License

_No response_

### Package Version

3.10.4

### Current Behaviour

Can not install Cython, cygdb.exe not found

![image](https://user-images.githubusercontent.com/25522053/166100080-5acaadcc-5907-4f8e-a96f-4fedd4e6b361.png)

### Expected Behaviour

_No response_

### Steps To Reproduce

1. Create a new Windows 10/11 Virtual Machine
2. install

[2022-04-30 09:48] AdmiringWorm opened #1871 "(selenium-edge-chromium-driver) Migrate package to repository"
### Discussed in https://github.com/chocolatey-community/chocolatey-packages/discussions/1870

<div type='discussions-op-text'>

<sup>Originally posted by **AdmiringWorm** April 30, 2022</sup>
I was recently made a maintainer of this package, and with that I request it being added to this repository for continued maintenance and to be kept up to date by multiple people.
This ties in to the request

[2022-04-30 09:51] #1867 closed

[2022-04-30 09:56] AdmiringWorm commented on #1869
On Chocolatey the python directory is locked down, so it can not be written to by a normal user and requires an elevated shell when calling `pip`.

It sounds like you are trying to install `Cython` while running in a non-elevated shell, which by design won't allow the package files to be written to disk.

Can you try again while calling `pip` in an elevated shell?

[2022-04-30 09:59] AdmiringWorm commented on #1864
I had a quick look into it, and it seems it is because the the x86 binary they are linking to on the website doesn't exist.

As we support both 64bit and 32bit, we need to wait until that binary exist, or until there are official notice from the developers that 32bit is no longer supported before we can push any changes.

[2022-04-30 10:20] AdmiringWorm commented on #1847
The URL used is the same URL they are showing on their download page for the website.

Now, this URL is not a hard URL to a location, but rather a redirection URL that will redirect you to a different mirror that is closer to you. When you get such a failure for this URL, it means the server you get redirected to does not have that file yet which can only be resolved by the owner of the server you

[2022-04-30 10:22] kouhe3 commented on #1869
yes. You are right . pip install work in elevated shell.

I tried to install jupyter in non-elevated shell , and had the same problem.
`ERROR: Could not install packages due to an OSError: [WinError 2] can not found 'C:\\Python310\\Scripts\\send2trash.exe' -> 'C:\\Python310\\Scripts\\send2trash.exe.deleteme'`

but in elevated shell , I can install jupyter.

What is the difference between python in

[2022-04-30 10:33] kouhe3 commented on #1869
If I use choco to install python, will I need admin shell for every pip install in the future? 🤔

[2022-04-30 10:45] AdmiringWorm commented on #1869
To be completely honest, I do not know as I haven't checked how they are doing it in winget.
What I can say though, if the user do not install python3 to their own custom directory the entire folder will be locked down to admins only (this was in response to a abuse report we got a few years ago). If you uninstall python3 and then install it again while specifying the package parameter `/NoLockdow

[2022-04-30 10:45] #1869 closed

[2022-04-30 10:46] AdmiringWorm commented on #1869
Lastly, just as a reference.
See the available package parameters on the description of the python3 package here: https://community.chocolatey.org/packages/python3

[2022-05-02 22:16] FrisoDB opened #1872 "(freecad) Setup was cancelled message in logs"
### Chocolatey Version

1.1.0

### Chocolatey License

_No response_

### Package Version

0.19.4

### Current Behaviour

0.19.4.2 gives an exit code '2', meaning it cannot run FreeCAD-0.19.4-WIN-x64-installer-2.exe

### Expected Behaviour

it should run the installer

### Steps To Reproduce

choco upgrade freecad -y

### Environment

[code]

### Chocolatey Log

[code]

### Anything else?

_No res

[2022-05-03 17:22] pitsi opened #1873 "Winrar 6.11 has wrong (possibly old) checksums"
### Chocolatey Version

1.1.0

### Chocolatey License

_No response_

### Package Version

6.11

### Current Behaviour

As seen in the log below, the checksum for winrar are different, so choco has to be issued with the --ignore-checksums parameter to continue the installation.

### Expected Behaviour

The chocolatey package should have the correct checksums for winrar and their verification shoul

[2022-05-03 17:37] TheCakeIsNaOH commented on #1873
@pitsi winrar is not maintained by the `chocolatey-community` user, so this is not the correct repository.

See the package page for a link to contact the maintainers, and a link to the correct package source repository:
https://community.chocolatey.org/packages/winrar

[2022-05-03 17:37] #1873 closed

[2022-05-03 18:07] pitsi commented on #1873
You are right. Although I did check if there are other issues related to winrar, I did not read their context.

[2022-05-04 08:24] mavhc commented on #1689
Works for me now, thanks to whoever fixed it

[2022-05-04 08:24] #1689 closed

[2022-05-04 12:00] AdmiringWorm commented on #1708
I am looking over a few old issues, and noticed this issue do not seem to be relevant anymore.

As the 10.x version of totalcommander is available on the Chocolatey Community Repository, I'll close this issue now.

[2022-05-04 12:00] #1708 closed

[2022-05-05 10:24] #1857 closed

[2022-05-06 02:00] yelkarama commented on #1768
Just submitted a [PR](https://github.com/chocolatey-community/chocolatey-packages/pull/1876) for it.

[2022-05-07 03:48] RedBaron2 commented on #1872
@FrisoDB
I know this is the obvious, but have you tried rebooting the system, and trying the upgrade again?

Could you please try installing the downloaded file by double clicking on it, and letting us know the progress?

We are trying to narrow down if this is a issue with:
- A package parameter
- A install failure (from the previous package version)
- A windows update

Last option is to uninstal

[2022-05-07 14:45] FrisoDB commented on #1872
Reboot doesn't solve it. But this popup came up when clicking the installer manually. It seems the installer cant differentiate between 19.4 and 19.4.2, After this the installation worked correctly.
![Schermafbeelding 2022-05-07 163927](https://user-images.githubusercontent.com/46226571/167259191-d0f39405-5cb2-4455-963e-2dec4993e038.png)

[2022-05-07 17:23] RedBaron2 commented on #1872
@FrisoDB
Thank you for taking the time to write back and for the picture of the pop up message. This will help others that have had this same issue.

@majkinetor @pauby @AdmiringWorm
If you or another moderator could make reference to this issue on the community feed for FreeCAD. The package developers recommendation is to uninstall and reinstall to prevent issues. The cause of the Code 2 error is

[2022-05-07 18:01] pauby commented on #1872
@RedBaron2 Would the README (and by extension the description in the nuspec) not be a better place for this?

[2022-05-07 18:57] RedBaron2 commented on #1872
@pauby
Yes, it would be a great note to be put in the description. Thanks

[2022-05-08 22:05] yelkarama commented on #1768
Hi @AdmiringWorm
Are you able to merge my PR?
Thanks

[2022-05-09 11:37] AdmiringWorm opened #1879 "(peazip) URLs specified in metadata is no longer valid"
### Chocolatey Version

1.1.0

### Chocolatey License

_No response_

### Package Version

8.6.0

### Current Behaviour

The validator on community.chocolatey.org flags the following elements as containing invalid URLs.

- [ ] `docsUrl`
- [ ] `licenseUrl`
- [ ] `projectUrl`
- [ ] `releaseNotes`

This is caused by the original website no longer returning any data, this could be a mistake on the dev

[2022-05-09 16:17] pauby opened #1881 "(filezilla) File links are invalid"
### Discussed in https://github.com/chocolatey-community/chocolatey-packages/discussions/1880

<div type='discussions-op-text'>

<sup>Originally posted by **uwemolnar** May  9, 2022</sup>
As requested by the maintainer of filezilla: the installer-links for filezilla seem to be outdated. Can you please check and fix them:
https://github.com/chocolatey-community/chocolatey-packages/blob/master/autom

[2022-05-11 11:46] anthonysomerset commented on #1773
I want this but it looks like AgileBits need to update the auto update feed first - https://app-updates.agilebits.com/ is still showing v7 and the choco package is dependent on that

[2022-05-11 16:06] davidenco opened #1883 "(vcredist140) The operation has timed out"
### Chocolatey Version

1.1.0

### Chocolatey License

_No response_

### Package Version

14.32.31326

### Current Behaviour

You have vcredist140 v14.31.31103.20220402 installed. Version 14.32.31326 is available based on your source(s).
Progress: Downloading vcredist140 14.32.31326... 100%

vcredist140 v14.32.31326 [Approved]
vcredist140 package files upgrade completed. Performing other installa

[2022-05-11 17:03] pauby commented on #1883
This isn't a Chocolatey issue or a package issue. The error is clear:

[code]

This is related to this [Discord comment](https://discord.com/channels/778552361454141460/897088817293574154/973969585101492334) and this [Microsoft issue](https://developercommunity.visualstudio.com/t/Visual-Studio-Installer-Checking-for-up/10037277#T-N10037573).

[2022-05-11 17:03] #1883 closed, assigned to nobody

[2022-05-12 14:15] mattcargile opened #1884 "(sysinternals) - `procexp` - Upgrade Fail When Open"
### Chocolatey Version

1.1.0

### Chocolatey License

_No response_

### Package Version

2022.5.11

### Current Behaviour

Application includes feature to replace _Task Manager_ with `procexp`. `choco upgrade sysinternals` doesn't close the application and fails.

[code]

P.S. It would be nice if the upgrade would kill any `exe` within `sysinternals`. I think `procexp` is more important because

[2022-05-13 09:49] RedBaron2 commented on #1872
@pauby
It would be faster for a moderator to make the Readme/description changes for this package.

Note: If you should get a code 2 error while installing FreeCAD. Installing over existing installations is NOT RECOMMENDED. It is better to reinstall FreeCAD.

Thanks for the assistance.

[2022-05-13 16:17] pauby commented on #1872
@RedBaron2 I'm not sure what you mean when you say it would be faster for a moderator to make the changes? The changes need to be made in this GitHub repository so moderators are not involved? I might have misunderstood what you meant?

[2022-05-13 16:21] AdmiringWorm commented on #1884
This issue should have been opened as an enhancement to the package instead of a bug so that it could be a discussion around the implementation or need for the enhancement first.

However, I believe this is a worthwhile addition to the package.
I have marked it as `up for grabs` for anyone interested in adding this functionality to the package (Likely through a `chocolateyBeforeModify.ps1` script)

[2022-05-14 03:19] RedBaron2 commented on #1872
@pauby
Thanks for all the fish.
I'll get to the PR when I have time. Hopefully it will be approved quicky so the community can be informed of this issue. Why all PR seem to take so long to be approved for just a simple modification is beyond me. I know it has to do with time availability. I would just like to know why it is only some moderators that approve PR in this repository. Do you all NOT ha

[2022-05-14 07:18] pauby commented on #1872
Moderators are people who manage packages on the Chocolatey Community Repository. They are not people who manage PR's on this repository. The incorrect terminology was confusing. I tried to clarify that with my last comment but you mentioned moderators again above, so I'm assuming my comment didn't help. Apologies for that.

You highlighted one reason as to why PR's take so long. The other is lack

[2022-05-16 22:17] crosscontrol commented on #1773
Is there an effective way to use this?

https://downloads.1password.com/win/1PasswordSetup-latest.exe

If not, I'll follow up with an additional post in the Agile Bits forum.

[2022-05-17 05:33] anthonysomerset commented on #1773
the only issue i see there is not being able to easily determine the version number but it would be a simple solution all round

[2022-05-17 06:28] crosscontrol commented on #1773
Okay I think I've got an idea. I just tested this and it works (substitute latest with the version):

- https://downloads.1password.com/win/1PasswordSetup-8.7.0.exe
- https://downloads.1password.com/win/1PasswordSetup-8.6.0.exe
- etc...

What if during the build we get the version number by running the following on the downloaded latest file:

`(get-itemproperty .\1PasswordSetup-latest.exe).Versio

[2022-05-17 12:20] anthonysomerset commented on #1773
that was ironically going to be my original approach....

but Get-ItemProperty is probably the safer bet considering the package is auto updated on choco side

[2022-05-18 02:30] RedBaron2 commented on #1773
@anthonysomerset
My suggestion is find out from AgileBits if the 1password8 nightly builds are stable releases?
The way the updater currently looks for its needed information is by reading the page and then getting the version from the file name. Updating the releases url for versions with 8 isn't to hard, but the current page lists nightly builds besides the stable. The nightly builds would be co

[2022-05-19 13:27] Smakke1 opened #1889 "virtualbox"
### Chocolatey Version

Other (note in the comments)

### Chocolatey License

_No response_

### Package Version

6.1.34

### Current Behaviour

Virtualbox failed during installation:

VirtualBox-6.1.34-150636-Win.exe: error: Installation failed! **Error: Fatal error during installation.**
Microsoft.PowerShell.Commands.WriteErrorException
Command ["C:\Users\username\AppData\Local\Temp\chocolatey\v

[2022-05-20 14:28] tats-u opened #1890 "(InkScape) `inkscape` command must be `inkscape.com` (CLI), not `inkscape.exe` (GUI launcher)"
### Chocolatey Version

1.1.0

### Chocolatey License

_No response_

### Package Version

1.2

### Current Behaviour

By running the following in pwsh:

[code]

Launches Inkscape without any console outputs.

[code]

### Expected Behaviour

[code]

[code]

### Steps To Reproduce

1. Launch PowerShell terminal (e.g. by Windows Terminal)
2. Run the above commands there

### Environment

[code]

###

[2022-05-21 17:20] olifre commented on #1593
This issue is still relevant. I did not get to create a PR for it just yet. Indeed, it is up for grabs, if somebody with more development time available comes by.

[2022-05-23 08:24] argrath commented on #1864
I think this blog is official.

https://nodejs.org/en/blog/release/v18.0.0/

We hope to restore 32-bit Windows binaries for Node.js 18 with a future V8 update.

[2022-05-24 07:14] matbech opened #1891 "(smartftp) vcredist2015 exemption no longer required"
### Chocolatey Version

1.1.0

### Chocolatey License

_No response_

### Package Version

All

### Current Behaviour

The exemption:
Verification Testing Exemption:
vcredist2015 need Update KB2919355 installed first.
is no longer required as the package no longer depends on vcredist.

### Expected Behaviour

No exemption.

### Steps To Reproduce

Not required.

### Environment

[code]

### Chocol

[2022-05-24 07:21] gep13 commented on #1891
@matbech That is a good point.  I have removed the package-verifier testing exemption from this package.

[2022-05-24 07:21] #1891 closed

[2022-05-24 08:24] AdmiringWorm commented on #1864
Unfortunately, that does not change anything.

As mentioned in the blog post, it won't be initially available but may be brought back in a future version.

If we drop 32bit support, that will be a permanent change, and it won't be brought back at a later date.
We also have a history of not dropping 32bit or 64bit support until it is officially dropped permanently by the software authors (except in

[2022-05-24 17:25] JVimes opened #1892 "(lockhunter) checksum error"
### Chocolatey Version

1.1.0

### Chocolatey License

_No response_

### Package Version

3.4.3.147

### Current Behaviour

`cinst lockhunter` gives:

    Download of lockhuntersetup_3-4-3.exe (3.22 MB) completed.
    Error - hashes do not match. Actual value was '982DDA5EEC52DD54FF6B0B04FD9BA8F4C566534B78F6A46DADA624AF0316044E'.

### Expected Behaviour

Package installs

### Steps To Reproduce

[2022-05-25 01:47] matbech opened #1893 "(smartftp) Verification testing fails on unsupported OS"
### Chocolatey Version

1.1.0

### Chocolatey License

_No response_

### Package Version

10.0.2973.0

### Current Behaviour

The verification test fails:
Verification Testing Failed
https://community.chocolatey.org/packages/smartftp/10.0.2973.0

The problem is that the validation runs on Windows Server 2012:
Tested against win2012r2x64 (Windows Server 2012 R2 x64)

However, SmartFTP requires Win

[2022-05-25 02:55] dennyhalim opened #1894 "(python3) latest python doesnt work on windows 7"
### Chocolatey Version

0.12.1

### Chocolatey License

_No response_

### Package Version

3.9 and up

### Current Behaviour

Installing 64-bit python3...
ERROR: Running ["C:\ProgramData\chocolatey\lib\python3\tools\python-3.10.4-amd64
.exe" /quiet InstallAllUsers=1 PrependPath=1 TargetDir="C:\Python310" ] was not
successful. Exit code was '1'. See log for possible error messages.
The install of

[2022-05-25 12:26] JPRuskin commented on #1894
Just looking on [this page](https://www.python.org/downloads/windows/), I see the following:

It seems like this isn't a problem that package modifications will be able to fix sensibly. We wouldn't want to publish some of the forks shown in examples [like this](https://discuss.python.org/t/windows-7-support-for-python-3-9-or-3-10-without-a-fork/13842) in the main Python package.

It's possible tha

[2022-05-26 10:38] tordenflesk opened #1895 "(MP3Tag) 3.15 64-bit version"
### Checklist

- [X] I have checked the moderation queue that no new version has been submitted (only visible when logged in), or the submitted package version has failed the automated checks.

Please navigate to the following [link](https://community.chocolatey.org/packages?q=&moderatorQueue=true&moderationStatus=all-statuses&prerelease=false&sortOrder=package-download-count) to view the moderati

[2022-05-26 14:58] #1892 closed

[2022-05-26 14:59] AdmiringWorm commented on #1892
A new version of lockhunter is being queued to be pushed to the Chocolatey Community Repository.
There will be a few hours until it is available for normal consumption.

[2022-05-26 19:22] pauby commented on #1893
This isn't an issue with the package, but of the Package Verifier. I've added an exemption.

[2022-05-26 19:22] #1893 closed

[2022-05-27 18:16] stumbaumr commented on #1211
This seems not to work as described
[code]

I install zabbix-agent.install with this PowerShell:
[code]

When running choco upgrade -y all it will upgrade the Zabbix Agent to 6.0.4...

How can I keep that version 5.2.7 and upgrade all the rest?

[2022-05-27 20:44] ccaspanello opened #1897 "(git) Installation hangs on Windows init PowerShell script on GCP"
### Chocolatey Version

1.1.0

### Chocolatey License

_No response_

### Package Version

latest (2.36.0 I think)

### Current Behaviour

The installation of Git is hanging when installing on a GCP windows instance using PowerShell init script.

**Metadata Key**
`
windows-startup-script-ps1
`

**Metadata Value**
[code]

**Logs**
[code]

### Expected Behaviour

Git should be installed without issu

[2022-06-01 05:43] logan-kling opened #1899 "(packageName)"
### Chocolatey Version

1.1.0

### Chocolatey License

_No response_

### Package Version

1.16.3

### Current Behaviour

A preliminary note to this error is that I tried navigating to C:\ProgramData\chocolatey\lib\virtualbox\tools, only to see that not even the virtualbox directory exists under C:\ProgramData\chocolatey\lib

Installing virtualbox...
Microsoft.PowerShell.Commands.WriteErrorExcepti

[2022-06-01 09:59] pauby commented on #1899
@logan-kling Can you go back and update the issue title?

[2022-06-01 12:22] tordenflesk commented on #1895
3.16 now.
X64 https://download.mp3tag.de/mp3tagv316-x64-setup.exe
X86 https://download.mp3tag.de/mp3tagv316setup.exe

[2022-06-02 09:04] rgl opened #1900 "kubernetes-cli 1.23.7"
### Checklist

- [X] I have checked the moderation queue that no new version has been submitted (only visible when logged in), or the submitted package version has failed the automated checks.

Please navigate to the following [link](https://community.chocolatey.org/packages?q=&moderatorQueue=true&moderationStatus=all-statuses&prerelease=false&sortOrder=package-download-count) to view the moderati

[2022-06-02 11:46] pauby commented on #1900
@rgl That package version wasn't published. However, the package is up-to-date with the latest version being 1.24.1. So, the package isn't outdated.

[2022-06-02 21:13] rgl commented on #1900
I've open https://github.com/chocolatey-community/chocolatey-packages/discussions/1901.

[2022-06-07 08:19] AdmiringWorm commented on #1899
As the changes that pauby requested hasn't been done, I'll be closing this issue.

Additionally, the issue you are seeing is not related to the package, but rather the installer itself since you have changed the location of the `%TEMP%` directory.
See https://forums.virtualbox.org/viewtopic.php?t=92774

[2022-06-08 17:03] AdmiringWorm opened #1904 "Migrating Critical Chocolatey Packages To Chocolatey Community"
### Discussed in https://github.com/chocolatey-community/chocolatey-packages/discussions/1898

<div type='discussions-op-text'>

<sup>Originally posted by **pauby** May 30, 2022</sup>
I have a proposal that I wanted to discuss with the Community here to find the best way to approach migrating critical Chocolatey packages to this repository.

Chocolatey CLI requires specific packages for it's packa

[2022-06-08 17:08] #1768 closed

[2022-06-09 17:54] TSchnabl commented on #941
It is closed due to inactivity. No amount of reporting will change that. A contributor needs to provide a solution. Until then, nobody will care. Remember: This is not an endcustomer solution, chocolatey is only for people who know that they have to solve their issues themselves. Because there is nobody else who cares.

[2022-06-09 21:14] TheCakeIsNaOH commented on #1872
The update to the readme has been merged. IMHO, it's probably ideal to not make a fix version for this as the whole point of the note was issues with installing over top.

[2022-06-09 21:14] #1872 closed

[2022-06-09 22:10] TheCakeIsNaOH commented on #1864
Nodejs 18.3.0 is now available on the community repository:
![image](https://user-images.githubusercontent.com/38865330/172953642-2d11203c-3972-433b-a1cc-cc6277aded1a.png)

It looks like they got their 32 bit build issues worked out.

[2022-06-09 22:10] #1864 closed

[2022-06-09 22:30] TheCakeIsNaOH commented on #1705
Should it be added as a dependency to the `everything` package? It would prevent a breaking change (for people currently using it via the everything package).

[2022-06-10 08:13] pauby commented on #1705
I can understand the desire for this, but it's not a dependency on the package itself. But as you said, it would avoid this being a breaking change.

[2022-06-10 16:23] #1895 closed

[2022-06-11 02:23] TheCakeIsNaOH commented on #1705
I've discovered that es requires everything to be running to work, so the dependency actually needs to go the other way.

[2022-06-13 06:56] dwirtz opened #1911 "git 2.36.1"
### Checklist

- [X] I have checked the moderation queue that no new version has been submitted (only visible when logged in), or the submitted package version has failed the automated checks.

Please navigate to the following [link](https://community.chocolatey.org/packages?q=&moderatorQueue=true&moderationStatus=all-statuses&prerelease=false&sortOrder=package-download-count) to view the moderati

[2022-06-13 07:02] pascalberger commented on #1911
Chocolatey reports a conflict when pushing 2.36.1 to the repo: https://gist.github.com/choco-bot/a14b1e5bfaf70839b338eb1ab7f8226f#ignored

@pauby Do you have any idea why we retrieve a 409 here? There doesn't seem to be a version 2.36.1 already pushed.

[2022-06-13 08:18] #1847 closed

[2022-06-13 08:20] AdmiringWorm commented on #1847
Thanks to @TheCakeIsNaOH code were added to fall back to the non-mirrored URL in the case the mirror URL fails.

This is something that will be part of the next version of the package.

[2022-06-13 08:28] #1884 closed

[2022-06-13 09:58] AdmiringWorm commented on #1897
@JPRuskin or @Windos is this something that one of you has any knowledge about?

Unfortunately, I have a very limited understanding of GCP windows instances

[2022-06-13 10:19] #1897 closed

[2022-06-13 10:25] AdmiringWorm commented on #1637
Closing as fixed, since the changes needed has been merged into the repository.

[2022-06-13 10:25] #1637 closed

[2022-06-13 10:40] istairbn opened #1914 "(ruby) Ruby Package fails on upgrade"
### Chocolatey Version

1.1.0

### Chocolatey License

_No response_

### Package Version

3.1.2.1

### Current Behaviour

There's unusual upgrade behaviour when using the package ruby (as opposed to ruby.install)

Installing ruby downloads 3.1.1.1 - the latest is 3.1.2.1
When you run upgrade, Ruby is left as is (3.1.1.1) but ruby.install tries to install 3.1.2.1
However, this fails as the depende

[2022-06-13 10:46] istairbn commented on #1914
I forgot to add - installing *just* ruby.install works fine. So it's only the dependency chain that's the issue.

[2022-06-13 10:47] AdmiringWorm commented on #1914
The ruby package itself had failed the automatic verification, and got rejected.
I have moved it back to submitted status, and am re-running the verification now.

If all goes well, the error should go away in a few hours.

[2022-06-13 11:08] AdmiringWorm commented on #1914
3.1.2.1 version of the `ruby` package has gone through the moderation process now.

Seems to be a small bug that occurred that shows it as exempted from Verification, but it should be available through normal consumption now and the error you saw should not be happening anymore.

[2022-06-13 11:08] #1914 closed

[2022-06-14 04:13] slycordinator opened #1917 "(libreoffice-fresh) Outdated"
### Checklist

- [X] I have checked the moderation queue that no new version has been submitted (only visible when logged in), or the submitted package version has failed the automated checks.

Please navigate to the following [link](https://community.chocolatey.org/packages?q=&moderatorQueue=true&moderationStatus=all-statuses&prerelease=false&sortOrder=package-download-count) to view the moderati

[2022-06-14 08:35] AdmiringWorm commented on #1917
Please see the Notes section of the package to know why there is no version:

It will be updated as soon as the developers update their own update service (the same used by LibreOffice itself when determining updates being available).

I'll be closing this issue, as it is currently out of our hands. We can always open the issue again at a later date.

[2022-06-14 08:35] #1917 closed

[2022-06-14 17:10] TheCakeIsNaOH commented on #1816
I just tried to reproduce this with the newest python package and was unable to. I used `python3` version `3.10.5`, installed and uninstalled in the chocolatey test environment. @slycordinator do the shortcuts get removed for you now as well?

[2022-06-16 08:21] AdmiringWorm commented on #1911
No, the description issue is only prevent packages being pushed to chocolatey.org.
In your case it is the installer itself that the package uses that complains, unfortunately an exit code of 1 is too generic to be of any help here, but the log file may contain information about why the installer complains.

You should be able to find the log file located in `%TEMP%\chocolatey` with a name that sta

[2022-06-16 17:32] miketimofeev opened #1921 "(Nuget.CommandLine) Outdated"
### Checklist

- [X] I have checked the moderation queue that no new version has been submitted (only visible when logged in), or the submitted package version has failed the automated checks.

Please navigate to the following [link](https://community.chocolatey.org/packages?q=&moderatorQueue=true&moderationStatus=all-statuses&prerelease=false&sortOrder=package-download-count) to view the moderati

[2022-06-17 09:16] AdmiringWorm commented on #1921
THank you for creating this issue, I had a look to see what was happening.

Seems that when we tried to push this version, it had failed to push but other versions had successfully been pushed instead, so it thought it had been successful and never tried again.

I'll get the version reset so it will try pushing the 6.2.1 version again.

[2022-06-17 09:22] AdmiringWorm commented on #1921
v6.2.1 was just pushed to Chocolatey Community Repository now, and should be available for normal consumption in a few hours:

https://community.chocolatey.org/packages/NuGet.CommandLine/6.2.1

[2022-06-17 09:22] #1921 closed

[2022-06-19 05:29] brogers5 commented on #1451
Just ran into this problem again with v2.36.1 and figured I'd dig into what's going on.

From what I'm seeing, when the upgrade is driven via the metapackage (i.e. `choco upgrade git`), this skips over `git.install`'s `chocolateyBeforeModify.ps1` entirely (verified under debug mode), but it executes correctly when driven via the installer package (i.e. `choco upgrade git.install`). I'm thinking th

[2022-06-19 15:11] adrianinsaval opened #1922 "(freecad) auto update appears broken"
### Checklist

- [X] I have checked the moderation queue that no new version has been submitted (only visible when logged in), or the submitted package version has failed the automated checks.

Please navigate to the following [link](https://community.chocolatey.org/packages?q=&moderatorQueue=true&moderationStatus=all-statuses&prerelease=false&sortOrder=package-download-count) to view the moderati

[2022-06-19 15:13] adrianinsaval commented on #1922
auto update seems broken, it doesn't pickup the dev releases either:
https://github.com/FreeCAD/FreeCAD-Bundle/releases/tag/weekly-builds
possible due to some naming scheme change?

[2022-06-20 14:00] TheCakeIsNaOH commented on #1451
@brogers5 it looks like this may be caused by this issue: https://github.com/chocolatey/choco/issues/1092

Can you open an enhancement discussion? Since this issue is already closed and is for the beforemodify script.

[2022-06-20 19:52] RedBaron2 commented on #1922
@adrianinsaval
Thanks for bringing this to our attention. I'll look more into this issue this week. Hopefully it is just a speed bump.

[2022-06-20 23:23] adrianinsaval opened #1923 "(sweet-home-3d) wrong sha256 of installer"
### Checklist

- [X] I have checked the moderation queue that no new version has been submitted (only visible when logged in), or the submitted package version has failed the automated checks.

Please navigate to the following [link](https://community.chocolatey.org/packages?q=&moderatorQueue=true&moderationStatus=all-statuses&prerelease=false&sortOrder=package-download-count) to view the moderati

[2022-06-20 23:25] adrianinsaval commented on #1923
Not actually an outdated version but an outdated installer, the hash of the installer from sourceforge is not the same as the one listed in chocolatey.

[2022-06-21 00:55] brogers5 commented on #1451
@TheCakeIsNaOH Follow-up discussion opened here:
https://github.com/chocolatey-community/chocolatey-packages/discussions/1924

[2022-06-22 04:22] #1845 closed

[2022-06-30 08:18] #1721 closed

[2022-06-30 08:20] #1879 closed

[2022-06-30 08:58] #1922 closed

[2022-06-30 13:38] TheCakeIsNaOH opened #1931 "(firefox) uses a helper not compatible with PowerShell v2"
### Chocolatey Version

1.1.0

### Chocolatey License

_No response_

### Package Version

102.0

### Current Behaviour

Firefox uses the `Convert-ToJson` cmdlet, which is not available in PowerShell v2.

### Expected Behaviour

That Firefox does not use any cmdlets that are not available in PowerShell v2

### Steps To Reproduce

1. Look at the firefox `chocolateyInstall.ps1`

### Environment

[co

[2022-06-30 13:55] TheCakeIsNaOH commented on #1705
The [es](https://community.chocolatey.org/packages/es) has been approved.

[2022-06-30 13:55] #1705 closed

[2022-06-30 16:49] #1593 closed

[2022-06-30 16:50] #1931 closed

[2022-06-30 17:28] #1861 closed

[2022-06-30 19:53] NWCR opened #1934 "(waterfox) No Windows integration, it behaves like a .portable package"
### Chocolatey Version

1.1.0

### Package Version

22024.0.7 -> 22064.1.3.1

### Current Behaviour

Since version 22024.0.7 clean installation of the waterfox package does not integrate with the Windows system. It behaves like a '.portable' package. For example when I press `⊞ Win`+`R` , type `waterfox` and press `Enter` this message will appear:

However after running following commands:
[code]

[2022-07-04 20:20] adrianinsaval commented on #1922
I'm still not seeing the new versions of the package in the chocolatey page, is this actually fixed? @RedBaron2
how often is the auto update supposed to run? I'd like to know so I know how long to wait in the future before assuming something broke

[2022-07-04 20:49] RedBaron2 commented on #1922
@adrianinsaval
According to the appveyor schedule for the chocolatey packages. The script is ran every 6 hours. The problem is due to a limitation of chocolatey not allowing the push for the package. I'm hoping that @AdmiringWorm, or @gep13 might know what is causing the fault. There have been changes to the description since the last update but the character count is well below 4,000.
Hopefully w

[2022-07-05 08:04] AdmiringWorm opened #1938 "(git.install) Terminate gpg-agent as part of install?"
### Discussed in https://github.com/chocolatey-community/chocolatey-packages/discussions/1924

<div type='discussions-op-text'>

<sup>Originally posted by **brogers5** June 21, 2022</sup>
I originally raised this issue in the form of a [comment in #1451](https://github.com/chocolatey-community/chocolatey-packages/issues/1451#issuecomment-1159620838), but spinning off into a discussion per @TheCake