[2013-08-12 01:40] achalddave opened #1 "setup.exe no longer exists"
Cygwin's site seems to have two separate setup files now: setup_x86 and setup_x86_64, as seen here http://cygwin.com/install.html

The original setup.exe that this package queries no longer exists.

[2013-08-14 03:34] #1 closed, assigned to nobody

[2013-08-19 21:35] mcandre opened #3 "Support for running `cinst` and friends in cygwin shells"
Many developer tools require bash-style shells in order to function, but chocolatey currently is only available in batch form.

Could we add support for cygwin shells? E.g. by dropping in a shell script in addition to each batch file, e.g. https://gist.github.com/mcandre/5467825.

[2013-11-11 14:48] #3 closed, assigned to nobody

[2013-11-23 11:50] pandarun opened #5 "cyg-get [package_name] doesn't work on cyg-get v1.1.1"
Hi, I've installed cyg-get via $cinst cyg-get
but whenever I try to install package, for ex: cyg-get.bat openssh, it writes to console :
"Attempting to install 'openssh' to C:\Cygwin\packages' " and exits immediately.
As a result folder C:\Cygwin\packages' stays empty.

[2014-01-04 20:54] TomOne opened #6 "Package icons of gep13’s packages are broken"
@gep13, it wasn’t a good idea that you deleted your _ChocolateyAutomaticPackages_ repository. The icons of these packages were stored in this repository and now they no longer exist.

I suggest that you recreate that repository and remove everything except the icons. I hope that you don’t think that package icons are irrelevant. :smile:

[2014-01-11 21:39] #6 closed, assigned to gep13

[2014-01-17 09:01] TomOne opened #8 "Package icons broken again due to change of folder hierarchy"
This commit broke the package icons again: https://github.com/chocolatey/chocolatey-coreteampackages/commit/9acf17b76d8236c8978c21eb37c0f9509c0e99bf :smile:

I would highly suggest to create a gh-pages branch in this repository and store the icons there. Then you wouln’t have any problems at changing the folder hierarchy/renaming icons. I did that already in my repository: https://github.com/tomon

[2014-01-18 12:19] #8 closed, assigned to gep13

[2014-08-11 17:46] ferventcoder opened #12 "[Enhancement] Check in the _output folder"
As noted in #11, I would like for the _output folder to be checked in. This aids folks in providing fixes to the released packages in case there is an issue and a package is broken.

[2014-08-11 17:48] ferventcoder opened #13 "[Enhancement] Add ketarin xml files"
Set a packagename.ketarin.xml file in each folder - This gives folks the ability to make fixes that can be imported out of band versus attempting to put a merge against a binary file. It also promotes discussion due to the increased visibility.

Right now folks really don't have the ability to fix the ketarin jobs in a way that is maintainable besides linking to gists, as @TomOne did in #11.

[2014-08-11 19:36] #12 closed, assigned to nobody

[2014-08-11 19:43] #13 closed, assigned to nobody

[2014-08-14 18:24] TomOne opened #14 "[Enhancement] Only keep the latest files for each package in the _output folder"
Currently the package updater creates a folder for each package version in _output. This bloats the repo and isn’t necessary, because the files are versioned with Git. Therefore it’s better to only keep the latest version in _output of each package and make an automatic commit after each package update.

[2014-08-14 19:00] TomOne opened #15 "OK to use cdn.rawgit.com for the package icons?"
Currently I use https://rawgit.com/ (production links) for my package icons in [my repo](https://github.com/tomone/chocolatey-packages). Although the service is still beta, it works very well. I never had problems with it.

As you probably know, using raw links to resources on GitHub directly – as most package maintainers do now – is not recommendable, because it has these drawbacks:
- It’s not ni

[2014-08-14 23:13] #14 closed, assigned to nobody

[2014-08-20 18:52] #15 closed, assigned to nobody

[2014-09-10 18:31] gep13 opened #16 "Update icon in fiddler4 package"
This should be updated to match the icon that @ferventcoder is using in the fiddler package.

[2014-09-19 15:54] gep13 opened #17 "Add DotNet3.5 Dependency for RDCMan"
As per this conversation:

http://chocolatey.org/packages/rdcman#comment-1596433702

[2014-09-24 18:31] #16 closed, assigned to nobody

[2014-10-04 20:23] gep13 opened #18 "Remove my credentials from Azure VM"
Edit git config files to not include my email address as default.

[2014-10-05 11:37] #18 closed, assigned to nobody

[2014-10-06 12:49] Redsandro opened #19 "Consider renaming keepassx-langfiles package"
The `keepassx-langfiles` package contains languages for the `keepass-classic` package. The package name has been changed as per request:

https://github.com/Redsandro/chocolatey/issues/14

The `keepassx` package now contains the actual _KeePassX_ `Qt` port of _KeePass Classic_

[2014-10-06 15:18] #19 closed, assigned to nobody

[2014-10-07 13:07] Redsandro opened #20 "Who is core team packages? And where are the docs? This needs a Wiki."
I have these packages that I no longer use, e.g. `Ext2Explore`, or partition tools, which have apparently too many users who keep bugging me for updates.

So I thought, nice packages for Core Team packages. But the process is vague. All the repo says is this:

So I added the `chocolatey` user, but basically the feedback I get is:

However, for my package `KeePassX` I was approached by someone advi

[2014-11-01 15:46] gep13 opened #22 "Figure out why PowerIso is not at the latest version"
Will have to fix up the ketarin query, as the layout of the page must have changed.

[2014-11-01 15:47] gep13 opened #23 "Setup Huboard for this repository"

[2014-11-01 15:49] #23 closed, assigned to gep13

[2014-11-06 21:00] #17 closed, assigned to gep13

[2014-11-06 21:03] gep13 opened #26 "Move the DotNet4.0 package into this repo"

[2014-11-06 21:04] gep13 opened #27 "Move the Wix35 package into this repo"

[2014-11-23 20:12] gep13 opened #28 "Update RDCMan Package"
New version has been released:

http://blogs.technet.com/b/rmilne/archive/2014/11/19/remote-desktop-connection-manager-download-rdcman-2-7.aspx

[2014-11-23 20:13] #28 closed, assigned to gep13

[2014-11-25 20:46] gep13 opened #30 "Add Palemoon package into coreteam repo"

[2014-11-30 23:09] TomOne opened #31 "Prerequisites for pulling a package into the core team repo"
I think it is not specified which prerequisites a package must have to be accepted and pulled into this repo (in addition to the existing [guidelines for contributing](https://github.com/chocolatey/chocolatey-coreteampackages/blob/master/CONTRIBUTING.md) of course). That is a quite important matter, therefore we should specify it and write it into the README.md of this repo.

How about these prere

[2014-12-04 16:04] ferventcoder opened #32 "Bring in tonigellida's packages"
https://github.com/adgellida/chocolateyautomaticpackages

[2014-12-15 15:46] Redsandro opened #36 "fosshub changed - three packages affected"
I am trying to create the package [`LightAlloy`](https://github.com/Redsandro/chocolatey-coreteampackages/tree/LightAlloy/automatic/lightalloy) but I cannot figure out how to get the download link from fosshub because the functionality changed.

This problem also impacts `Classic-Shell` and `MkvToolNix` on the core repo.

Can anyone figure out how to change this?

This also reminds me of the benef

[2014-12-21 21:35] gep13 opened #37 "All files marked as edited after fresh git clone"
ok, what has changed with this repository...

I have just done a fresh git clone, and immediately all 358 files are marked as changed:

![image](https://cloud.githubusercontent.com/assets/1271146/5519753/1b532418-8959-11e4-90ad-947a43397264.png)

I haven't changed anything in my git configuration, so something must have changed in this repository, unless anyone can think of something else.

What d

[2014-12-22 10:49] #37 closed, assigned to nobody

[2015-01-02 19:33] gep13 commented on #27
Since I no longer have the latest source code for this package, and also because it has been replaced by wixtoolset, I decided that this is no longer required.

[2015-01-02 19:33] #27 closed

[2015-01-02 19:34] gep13 commented on #26
This has been completed.

[2015-01-02 19:34] #26 closed

[2015-01-02 19:36] gep13 commented on #22
Done.

The download URL was not correct in the ketarin configuration.  So although it was detecting the latest version, it wasn't downloading anything, which meant the package was never getting created.

[2015-01-02 19:36] #22 closed

[2015-01-06 17:13] Redsandro opened #38 "Can someone add SideSync to the big ketarin machine?"
It's here: https://github.com/chocolatey/chocolatey-coreteampackages/tree/master/automatic/sidesync

[2015-01-06 17:14] Redsandro commented on #38
There is an update but I cannot update it from my machine because I haven't figured out how to update my `cpush` license on my machine.

[2015-01-06 19:45] gep13 commented on #38
Done.

[2015-01-06 19:45] #38 closed

[2015-01-06 19:45] gep13 commented on #38
Had to fix up the ketarin file for it to work though :-(

c:\github\chocolatey-coreteampackages\automatic\_output\SideSync\3.1.4.827

[2015-01-06 22:39] ferventcoder opened #39 "Use /VERYSILENT with audacity"
https://github.com/chocolatey/chocolatey-coreteampackages/blob/master/automatic/audacity/tools/chocolateyInstall.ps1#L5

[2015-01-07 00:27] Redsandro commented on #38
Sorry :( What was wrong with the ketarin file?
I'm reasonably sure I just exported it from ketarin within my virtual machine.

[2015-01-07 00:34] Redsandro commented on #38
Ah https://github.com/chocolatey/chocolatey-coreteampackages/commit/588b0e2477c0328920a6e4475d53ec9cabbb9666

`packageRoot` is a variable pointing to the directory of the autopackages. I've had that in there since as far as I can remember, don't know if I did it myself or it came with a template. It points to the autopackages folder. Otherwise it doesn't work.

Also, although irrelevant, I'd consi

[2015-01-07 07:14] gep13 commented on #38
@Redsandro not sure where packgeRoot would have come from.  I have set up the shared ketarin instance as described here:

https://github.com/chocolatey/chocolatey/wiki/AutomaticPackages

which doesn't mention it, hence not in there.  In addition, we have a common executeCommand for each package in the ketarin instance, so there is no need to make one for each package.

Since this is a dedicated in

[2015-01-07 07:23] gep13 commented on #30
This work has been completed.

[2015-01-07 07:23] #30 closed

[2015-01-07 07:24] gep13 commented on #5
@ferventcoder is there still work to do here then?  Is this something you can take care of?

[2015-01-07 07:25] gep13 commented on #31
This is related to https://github.com/chocolatey/chocolatey-coreteampackages/issues/20 and needs to be added into the wiki/contributing guide, if not already included.

[2015-01-07 07:26] gep13 commented on #36
@tomone can we close this issue?

[2015-01-07 11:45] Redsandro commented on #38
If that is the case, I am misunderstanding how ketarin works. I was under the impression it would only download the binary when checking for updates if there is an actual update (AKA the version number changes).

[2015-01-07 12:01] Redsandro commented on #36
Thanks @TomOne! :+1:

I would like to apply this to LightAlloy player and pull it into auto updating core team repo. But no time at the moment.

In my opinion, this can stay open until I fixed LightAlloy and pulled it in. Also, I think we need to globalize the function to download from certain sources, so one fix applies to all packages. I think @ferventcoder does not plan to pick this up any time

[2015-01-07 12:19] gep13 commented on #36
Okay dokay.

[2015-01-07 12:19] gep13 commented on #38
I will be honest and say that I honestly don't know.

[2015-01-07 12:57] Redsandro commented on #20
I'm not particularly interested in (icons of) old versions, but since the team urges me to go the extra mini-mile, I feel like adding my second two cents:

I'm not sure depending on GitHub's CDN for old icon versions is a sturdy solution. If we lose GitHub or their CDN, or if we want to cater to countries where GitHub is blocked off and on, like Russia, it will be a tedious task to rebuild the his

[2015-01-07 14:19] ferventcoder commented on #5
Hmmm - I can look at it but it may not be until next week.

[2015-01-07 14:39] gep13 commented on #5
Not a problem, I was just going through and triaging all open issues in this repo.

[2015-01-07 15:16] Redsandro commented on #36
@TomOne

Still haven't figured out what's going on with the `DownloadUrlx64` array in your code, but I managed to use the module. Nice! :+1:

https://github.com/chocolatey/chocolatey-coreteampackages/pull/40

In my package I renamed this to `Get-UrlFromFosshub`. It makes sense to use similar name convention as I used in my previous helper extensions:

* `Get-UrlFromRegex` (which is now in Chocolat

[2015-01-08 11:46] Redsandro opened #41 "The big ketarin machine is not updating anymore."
I wanted to download the new [blender](https://chocolatey.org/packages/blender) by updating to 2.73, and noticed it only updates to 2.72.2.

I noticed the `chocolatey` user but the update is not available.

1. Why doesn't *blender* update?
1. Does the big ketarin machine a name for referencing or should we give one?
1. Can we make packages show which user uploaded a certain version? (For example,

[2015-01-08 12:06] TomOne commented on #41
The Ketarin machine isn’t updating anymore due to a bug in chocopkgup, which had to be updated due to the expiration date. On every update it overwrites the custom settings with the default ones.

I’ll fix the paths to make it work again later this day.

@ferventcoder are you aware of this bug?

[2015-01-08 12:13] Redsandro commented on #41
I noticed this too. You have to re-add the API key. Not sure if that is (also) what you mean though.

[2015-01-08 12:42] gep13 commented on #41
@TomOne can you note exactly what is required to be done, in case I can get to this before you?  Thanks!

[2015-01-08 22:14] TomOne commented on #41
@gep13, sorry, forgot to answer sooner.

I fixed it in the meantime. chocopkgup.exe.config had to be edited again to include the actual path:

[code]

This was missing in ketarinupdate.cmd because it was overwritten with the default ketarinupdate.cmd:
[code]

[2015-01-08 22:27] gep13 commented on #41
@TomOne ah, yes, now I remember, I set that up :smile_cat:

Thanks for getting this sorted out.

[2015-01-08 22:27] #41 closed

[2015-01-11 14:13] Redsandro commented on #32
@ferventcoder we can start by circumventing having to click and add a maintainer 203 times, and accepting to be maintainer 203 times, by entering the chocolatey maintainer directly into the database.

I don't know what database we use and how the maintainers are stored, but here is some pseudo-code that we can use:

[code]

[2015-01-11 15:51] ferventcoder commented on #32
@Redsandro Did you happen to see this? https://github.com/chocolatey/chocolatey.org/pull/152

[2015-01-11 16:54] #39 closed

[2015-01-11 19:01] Redsandro commented on #32
Nope, Hadn't seen it yet. But the DB solution requires 1 action in stead of 203 actions.

Here is the PR that starts the rest of the process: https://github.com/chocolatey/chocolatey-coreteampackages/pull/46

[2015-01-11 21:12] gep13 commented on #39
:+1: nice one, thanks for getting that done!

[2015-01-11 21:14] gep13 commented on #39
Have you seen our huboard by the way?

https://huboard.com/chocolatey/chocolatey-coreteampackages

(Yes, I know it is not documented :smile:)

When you are picking up an issue from the backlog, can you move it through the various stages, and assign it to yourself, so that we know you are working it?  You will see I have done that with the PR's that I am working:

![image](https://cloud.githubuserc

[2015-01-11 23:13] Redsandro commented on #39
Didn't know! Looks like an old version of Trello but better Github integration.

This PR was closed while committing. As you might know, if you _fix #number_ in your commit message, the issue will automatically close. So in this specific case, doesn't the issue automatically move out of huboard?

-edit-

You can only have one assignee? I already like Trello with Zapbook better. :angel:

[2015-01-12 20:16] gep13 commented on #39
That is a limitation of GitHub issues, not of HuBoard.

Unfortunately not.  The way HuBoard works is that it uses labels assigned to an issue to track it's state.  In this case, this ticket still had ```Backlog``` assigned to it.

For another project I help out with we are using Zenboard, which is similar, but doesn't use the same labelling technique.  I am actually tempted to switch to Zenhub for

[2015-01-12 20:28] Redsandro commented on #39
Looks nicer.

My thoughts are: I'd prefer something that is integrated so well that a developer doesn't _have_ to use it. E.g. automatically moves closed issues to `done`.

I personally prefer not to have the overhead of closing issues twice especially when they are minor like this one, but it's nice to be able to sit down and have the overview such a board provides if one chooses to.

[2015-01-12 20:30] Jeroen52 commented on #39
And you can respond via email with github.

2015-01-12 21:28 GMT+01:00 Sander AKA Redsandro <notifications@github.com>:

[2015-01-12 20:32] gep13 commented on #39
I believe that this is what Zenhub does, let me enable it on this repo, and we can see what happens.

[2015-01-12 20:35] gep13 commented on #39
Ok, you can see the board here:

https://github.com/chocolatey/chocolatey-coreteampackages#boards

You will need to install the Chrome plugin for Zenhub, that is the one slight drawback with it, but an acceptable one, IMO.

[2015-01-12 20:37] Jeroen52 commented on #39
Once a board has been officially picked I might stuff some ideas and issues in them.

[2015-01-12 20:39] gep13 commented on #39
No need to wait for that :smile_cat: Both Zenhub and HuBoard are driven by the issues list on GitHub, so feel free to add any issues that you think are required.

[2015-01-12 20:39] gep13 commented on #39
Issues list is here:

https://github.com/chocolatey/chocolatey-coreteampackages/issues

[2015-01-12 20:39] ferventcoder commented on #39
There is also https://waffle.io/

[2015-01-12 20:42] gep13 commented on #39
Yeah, I looked at that one, I didn't like it very much :-)  The thing I like about Zenhub is that it adds functionality to GitHub, seamlessly.  So you don't have to move to a different site to look at the board, it is right there, on the GitHub page.

[2015-01-12 20:42] ferventcoder commented on #39
To github? Interesting.

[2015-01-12 20:43] ferventcoder commented on #39
Those permissions though. Yikes!

[2015-01-12 20:45] gep13 commented on #39
Yes, with the plugin installed, it adds functionality to the page directly:

![image](https://cloud.githubusercontent.com/assets/1271146/5710642/c426fad0-9a9b-11e4-8f17-888671ba71ec.png)

Yeah, I thought about that, but I thought it was acceptable :-)

[2015-02-02 08:53] haraldreingruber opened #50 "[request][cyg-get] http mirror by default instead of ftp mirror"
Many corporate firewalls block FTP connections. Would it be possible to set the HTTP mirror as a default, or make it configurable?

I've also found this comment:
https://chocolatey.org/packages/cyg-get#comment-1800404245

Apparently the FTP mirror is already announced deprecated in the cygwin package: https://chocolatey.org/packages/cygwin

[2015-02-02 21:33] TomOne opened #51 "Fix iTunes package"
For some reason, the iTunes package is missing the 64-bit URL. Moderation URL: https://chocolatey.org/packages/iTunes/12.1

[2015-02-02 21:39] TomOne opened #52 "Fix chromium package"
The chromium package is not updating.

[2015-02-02 21:40] TomOne opened #53 "Fix winff package"
The download link does no longer work

[2015-02-02 21:40] TomOne opened #54 "Fix libreoffice-oldstable package"
The package doesn’t update anymore.

[2015-02-05 21:23] TomOne opened #56 "javaruntime should install jre8"
The javaruntime* package should really install the latest version of JRE. Many packages on Chocolatey.org take dependency on that package and it isn’t nice that it installs JRE 7, even if all these programs would work with JRE 8 too.

We need to figure out a proper way how the javaruntime* packages should work.

[2015-02-09 19:02] TomOne opened #57 "PDFCreator: settings lost after each update"
When updating the PDFCreator package, the settings (e.g. printers, profiles) are lost after each update. This needs to be fixed.

[2015-02-24 19:31] TomOne opened #59 "Update the firefox package to use package parameters for locale selection"
Currently it misuses the install arguments override to achieve that.

Same story with thunderbird.

[2015-03-06 16:20] matbech opened #61 "Create vcredist 2005-2015 packages"
Common packages on which a lot of packages (should) depend on should be part of the core packages. Namely Visual C++ redistributables:
- [x] vcredist2005 - https://chocolatey.org/packages/vcredist2005
- [x] vcredist2008 - https://chocolatey.org/packages/vcredist2008
- [x] vcredist2010 - https://chocolatey.org/packages/vcredist2010
- [x] vcredist2012 - https://chocolatey.org/packages/vcredist2012
-

[2015-03-22 12:22] Redsandro opened #64 "Palemoon errors on Get-Fosshub"
Got this comment in an email (however I don't see it on disqus):

---

_Dear all,_

_I used to use Pale Moon 25.2.1 and wanted to update to 25.3.0 by cup. It failed though. Well it actually is installed and it works. But clist -lo doesn't show up palemoon. And cinst -force palemoon always fails. I put the log as enclosure._

_Thank you for any help and work._

_Gunner_

[code]

_This comment has b

[2015-03-22 12:25] Redsandro commented on #36
Fosshub changed again?

See https://github.com/chocolatey/chocolatey-coreteampackages/issues/64

We really should have helpers for this: https://github.com/chocolatey/chocolatey/issues/377

[2015-03-22 20:26] gep13 commented on #64
Got this comment in an email (however I don't see it on disqus):

It could be that the comment was deleted, or that the comment is sitting in the moderation queue.  There should be a note to that effect in the email that you received.

[2015-03-28 13:44] Redsandro commented on #64
New version of PaleMoon browser, **Gunnersson** reported in again with the same problem.

[code]

[2015-03-29 20:25] Redsandro commented on #64
![image](https://cloud.githubusercontent.com/assets/1702193/6887529/7c2b9102-d662-11e4-8bdc-0746e9bb65c6.png)

This scrolls like the matrix when trying to learn something from `-debug`. @TomOne do you have any suggestions?

[2015-04-01 21:49] TomOne commented on #59
Fixed with https://github.com/chocolatey/chocolatey-coreteampackages/commit/2e3a83b31ac3324177b542ac6fb1fabab7c63b7d

[2015-04-01 21:49] #59 closed

[2015-04-01 21:50] TomOne opened #65 "Fix thunderbird package"
The thunderbird package needs the same fixes as Firefox in https://github.com/chocolatey/chocolatey-coreteampackages/commit/2e3a83b31ac3324177b542ac6fb1fabab7c63b7d.

[2015-04-01 21:58] ferventcoder commented on #65
Great that you are fixing - I enhanced Chocolatey in 0.9.9.4 to handle these

[2015-04-01 22:00] ferventcoder commented on #65
https://github.com/chocolatey/choco/issues/207

[2015-04-02 15:16] ferventcoder commented on #59
:+1:

[2015-04-04 14:08] thecotne opened #67 "can't install cyg-get"
[code]

[2015-04-05 16:47] TomOne commented on #65
Fixed with https://github.com/chocolatey/chocolatey-coreteampackages/commit/198f4b070012b9e6c1fb6f1781be786d062eaeb1.

[2015-04-05 16:47] #65 closed

[2015-04-05 19:57] gep13 commented on #67
@ferventcoder can you add anything to this issue?

[2015-04-11 14:09] TomOne opened #70 "seafile-client: 1603 error"
The seafile-client package throws an 1603 error when the same version is already installed.

[2015-04-11 14:10] TomOne opened #71 "python*-packages: 1603 error"
The python*-packages throw 1603 errors under certain circumstances. We need to investigate and fix that.

[2015-04-11 19:37] TomOne commented on #70
Fixed with https://github.com/chocolatey/chocolatey-coreteampackages/commit/0a505678f3001cb0e88f94276e7257150ea4f0ac

[2015-04-11 19:37] #70 closed

[2015-04-25 22:39] RogerThiede opened #73 "Cywgin install does not pass chocolately detected proxy settings"
Unable to install [Cygwin](https://chocolatey.org/packages/Cygwin) package when a proxy is necessary.

Cywgin is installed via an external installer that is referred to as the installerFile.  [chocolateyInstall.ps1](https://github.com/chocolatey/chocolatey-coreteampackages/blob/e30b1a1fd4874928038e3fc6837f63c7fc626c98/automatic/Cygwin/tools/chocolateyInstall.ps1) does not forward any detected prox

[2015-05-01 00:49] TomOne commented on #71
Fixed with https://github.com/chocolatey/chocolatey-coreteampackages/commit/60b745e280a0bf864b6deae56ac29f7e7862899a

[2015-05-01 00:49] #71 closed

[2015-05-01 10:16] adrian3d opened #74 "Chromium : No update available !"
The latest build is 44.0.2389.0 !

[2015-05-01 13:23] TomOne commented on #51
Partially fixed in https://github.com/chocolatey/chocolatey-coreteampackages/commit/4ea3a20e5223272c822c97d909ac692e57214b12, but there’s still an issue with AppleApplicationSupport64.msi.

[2015-05-01 13:28] TomOne commented on #74
Thanks for the report.

This issue is already tracked in https://github.com/chocolatey/chocolatey-coreteampackages/issues/52

[2015-05-01 13:28] #74 closed

[2015-05-01 18:04] TomOne commented on #51
Fixed with https://github.com/chocolatey/chocolatey-coreteampackages/commit/8506fe691170e077ad2e3ad3680a2c117dc539c8

[2015-05-01 18:04] #51 closed

[2015-05-01 23:59] TomOne commented on #64
The error was caused by accessing a non-array here: https://github.com/chocolatey/chocolatey-coreteampackages/blob/86b9fa09890ef0a40cbb288f4d3be6fd874537ac/automatic/palemoon/tools/Get-UrlFromFosshub.ps1#L12-L13

The 32-bit URL of the package (http://relmirror.palemoon.org/release/palemoon-25.3.2.win32.installer.exe) is not a FossHub-URL, so there were no matches.

I made the function more robust

[2015-05-01 23:59] #64 closed

[2015-05-02 00:07] TomOne commented on #36
No, that was just a package-related issue, see https://github.com/chocolatey/chocolatey-coreteampackages/issues/64#issuecomment-98263893

Not sure about that. While it would certainly help to have less complicated install-scripts, there could be a significant delay until a new version of Chocolatey gets released that catches up when a change in such a download function is needed.

I think it would

[2015-05-02 14:41] Redsandro commented on #36
Just a thought - what about installable helpers?
`chocolatey` -> `helpers` -> `packages`

[2015-05-02 14:43] Redsandro commented on #64
Ah thank you!

[2015-05-03 14:19] TomOne commented on #52
This is fixed: https://github.com/chocolatey/chocolatey-coreteampackages/commit/e4a49519947c3cff55c17a0b08266c56b0613e64

[2015-05-03 14:19] #52 closed

[2015-05-03 14:53] TomOne commented on #53
Fixed: https://chocolatey.org/packages/winff/1.5.4.20150503

[2015-05-03 14:53] #53 closed

[2015-05-11 21:55] ferventcoder commented on #73
This sounds like the package will need to do some detection to be able to pass that. Or we can set up package parameters so this can be passed in.

[2015-05-13 15:59] pyhedgehog commented on #73
Had same problem - found work-around:
cinst -y cygwin --ia --proxy=proxy:8080

[2015-05-16 19:44] TomOne commented on #54
Fixed in https://github.com/chocolatey/chocolatey-coreteampackages/commit/40100f02c89db0fd830020f456c3e683487267c8

[2015-05-16 19:44] #54 closed

[2015-05-16 19:51] TomOne opened #77 "Fix avidemux package"
The package didn’t update to v2.6.9.

[2015-05-25 20:46] pyhedgehog opened #78 "cyg-get doesn't process multiple packages correctly"
Command `cyg-get pkg1,pkg2,pkg3` doesn't do what it should.
It runs
[code]
instead of
[code]
I had to run `cyg-get 'pkg1,pkg2,pkg3'` to get correct result.
At least it should be documented as temporary work-around.

[2015-05-31 21:53] ferventcoder commented on #61
Makes sense.

[2015-06-02 14:32] alexchandel opened #79 "Create python.portable package"
The Python package is a good candidate for installation into `%ChocolateyInstall%`, instead of the current `Get-BinRoot`. It's essentially self-contained and it only places two binaries in the `PATH`, `python.exe` and `pythonw.exe`, both of which can be shimmed into `%ChocolateyInstall%\bin`. This also has the effect of consolidating one more directory in the `PATH` into `%ChocolateyInstall%\bin`.

[2015-06-02 14:40] ferventcoder commented on #67
This doesn't appear to be an issue with the latest version of choco. The use of `$nugetExePath` is what did it. It was fixed by https://github.com/chocolatey/choco/issues/267

[2015-06-02 14:40] #67 closed

[2015-06-02 14:46] ferventcoder commented on #67
However it should have not affected 0.9.9.4 - https://github.com/chocolatey/choco/commit/cb3aed93

[2015-06-02 14:49] ferventcoder commented on #67
Found it! https://github.com/chocolatey/choco/commit/a830a7095d1529582755a0460ef28a72b2dcdde6

Fixed in 0.9.9.5

[2015-06-02 14:51] ferventcoder commented on #79
This would make a good candidate for a python.portable package.

[2015-06-02 14:56] ferventcoder commented on #73
Let's keep an eye on this that needs to be fixed first - https://github.com/chocolatey/choco/issues/243

[2015-06-02 16:09] alexchandel commented on #79
Sounds like a plan. I only found MSI's for Windows in [their releases](https://www.python.org/downloads/release/python-343/), so would we use an administrative install? Or is there a zipfile for Python 3.4.3 floating around somewhere?

[2015-06-02 16:33] TomOne commented on #79
I think it would actually be better to just change the install location to `$PSScriptRoot` as binRoot is deprecated anyways. No need for a portable package as that would in fact be a duplicate of the existing python packages.

I’d gladly accept a PR for that.

[2015-06-02 18:29] ferventcoder commented on #79
Not yet it isn't. The message is that we will be deprecating it in the future. It's an early heads up, not a warning that it is deprecated.

[2015-06-02 18:30] ferventcoder commented on #79
`$PSScriptRoot` is not available for POSH v2. That's why the longer method of getting the script root is recommended.

[2015-06-02 18:31] ferventcoder commented on #79
LessMSI is a great way to install portables from an MSI. Check out the latest 7zip portable package - https://chocolatey.org/packages/7zip.commandline#files

[2015-06-02 18:34] TomOne commented on #79
I know. I only wrote it here because it’s shorter. :smile:

Sure, but since Chocolatey eventually got rid of versioned folders there’s no reason left to stick with binRoot.

[2015-06-02 18:35] ferventcoder commented on #79
It's growing up haha

[2015-06-02 18:36] ferventcoder commented on #79
I was thinking more for the idea that python is an installed application, not a portable. It sets things like path and the like. However putting it all in the package folder is also fine.

[2015-06-02 18:37] ferventcoder commented on #50
This was completed some time ago.

[2015-06-02 18:37] #50 closed

[2015-06-02 19:35] ferventcoder commented on #5
This is fixed with cyg-get 1.2.0. It's in moderation at the moment

[2015-06-02 19:35] #5 closed

[2015-06-02 19:36] ferventcoder commented on #73
In the latest - cyg-get v 1.2.0 (in moderation at the moment) you can pass `cyg-get -proxy value`

See `cyg-get -help` once you've updated.

[2015-06-02 19:37] ferventcoder commented on #56
Is this still an issue?

[2015-06-02 19:38] ferventcoder commented on #78
This is now fixed for 1.2.0 (may be in moderation at the moment) - you just pass `cyg-get pkg1 pkg2 pkgN` - see `cyg-get -help` once you've updated. Tons of other switches have been added as well.

[2015-06-02 19:38] #78 closed

[2015-06-10 00:26] alexchandel commented on #79
I'd prefer not to have any Python in my path at all, tbh. I don't like the idea of packages I intend to use from the command line messing with my path and dumping bloat in the registry.

LessMSI seems like the optimal solution for unarchiving the MSI directly into `%ChocolateyInstall%\bin`. It doesn't require running as Administrator, unlike the crippled "administrative install", and it doesn't mo

[2015-06-10 00:57] ferventcoder commented on #79
To be clear, these would be new packages with the name *.portable. Not everyone thinks the same way as you and I.

[2015-06-16 02:19] alexchandel commented on #79
I feared as much, but a portable python package would still be pretty nice ;)

Does this work?

[code]

Not 100% sure about the `$installDir`, and there are a bunch of tools named like `./Lib/distutils/command/wininst-10.0.exe` that should be skipped by shimgen, as well as basically everything in `./Lib/site-packages/`.

[2015-06-16 02:43] ferventcoder commented on #79
That's pretty close, one can also write out .ignore files on the fly that don't apply. I've built a package or two that does this - see sysinternals.

[2015-07-11 23:40] TomOne commented on #77
Fixed with https://github.com/chocolatey/chocolatey-coreteampackages/commit/c9e44306ea7d963e5a9eb6df8fe39e7c4f2a2cf9

[2015-07-11 23:40] #77 closed

[2015-07-16 09:31] Redsandro opened #82 "We should have a "Ready for ketarin" label."
Or anything else that signifies we need action from the people with access to the batch (for now ketarin) machine.

[2015-07-18 13:18] pyhedgehog commented on #82
Please please tell me what ["mamebapma"](https://www.google.ru/search?q=mamebapma) means?

[2015-07-19 11:18] Redsandro commented on #82
Sorry, I was being silly. It's the ketarin machine that checks the files for updates.

https://github.com/chocolatey/chocolatey-coreteampackages/pull/80#issuecomment-121890182

[2015-07-22 16:00] pyhedgehog opened #85 "cyg-get: Add support for cygwinports"
It would be very useful to be able to install [cygwinports](http://cygwinports.org/) packages via `cyg-get`.
At least there should be way to pass additional options (i.e. `-K http://cygwinports.org/ports.gpg`) to `cygwinsetup.exe`.

[2015-07-22 16:10] ferventcoder commented on #85
There is when you install the cygwin package, you would just use `-ia '"-K http://cygwinports.org/ports.gpg"'`

[2015-07-22 16:13] ferventcoder commented on #85
Adding additional Pubkeys would be nice.

[2015-07-25 00:02] pyhedgehog commented on #85
It's great idea but can be used only with `cup cygwin --force -ia '"-K key-url -P packages"'`.
You need packages from cygwin to use packages from cygports.

[2015-08-03 23:13] TomOne opened #86 "Add note to the *chrome* packages"
The packages for Google Chrome should really include a note that it is not possible to install older versions of Google Chrome.

Google does not offer older versions of Chrome and third party sources, e.g. http://www.oldapps.com/, http://filehippo.com/ also seem to be forced to do the same.

So there’s no way to get older versions of Chrome.

[2015-08-03 23:17] TomOne opened #87 "Add note about Adware in clipgrab package"
The installer for clipgrab appears to include the OpenCandy adware.

I’ve experienced that this OpenCandy Adware stuff never installs when the installer is run in silent mode, so this package should be safe.

We should add a note to the package description about this.

[2015-08-05 05:11] #87 closed

[2015-08-05 05:24] #86 closed

[2015-08-22 12:11] gunnersson opened #88 "Suggestion: order of priority for keeping care (updates, moderation) of packages"
Dear all,

I would like to suggest introducing a list of priority order for keeping care (like building and contributing updates, doing and supervising moderation, etc.) of packages.

Based on my (very own) current list of used choco apps this could look like:

[code]

Any comments, help and work appreciated. :-)

Gunner

[2015-09-30 22:21] i-give-up commented on #64
I'm not sure that the function is working - I'm getting 403 Forbidden Error for the FossHub link

I've [posted on Pastebin](http://pastebin.com/DiDnYRdN) a relevant snippet of the log file (I tried to attach it here but I got "we can't process that file" error).

I'm thinking that it might be easier to simply use the direct `relmirror.palemoon.org` links. Unless there's some catch that I'm not awa

[2015-10-05 22:37] Redsandro commented on #64
Hi @i-give-up,

I can't work on this right now and the latency in getting PRs checked and merged in this core team packages repository is larger than my attention-span. Maintenance of my packages is in abeyance.

Do you want to take over as maintainer?

[2015-10-05 22:43] i-give-up commented on #64
Unfortunately I know too little about Chocolatey to be a package maintainer. I only started using it for about a week or so.

[2015-10-06 11:32] Redsandro commented on #64
Fair enough. Since you said 32 bit installs correctly, and 64 bit is hosted on relmirror too, I've [updated ketarin](https://github.com/chocolatey/chocolatey-coreteampackages/commit/d0343f915eb83ffc8c8fa848d6f7d25c948957ec) to reflect your changes.

@gep13 are changes to ketarin .xml in Master automatically picked up by the ketarin machine? Or does someone need to import it?

[2015-10-06 11:41] gep13 commented on #64
@Redsandro when I last looked at it, it was a manual process, but I seem to remember that @ferventcoder had a script that could be used to import the xml files from the repo on each ketarin run.  Not sure if that ever got implemented or not though.

[2015-10-06 12:21] Redsandro commented on #64
@gep13 Can you do this for this palemoon package? Or who do I need to @mention?

[2015-10-11 01:27] i-give-up commented on #64
How long does this change take to propagate?

I just tried `choco install palemoon` again and it is still trying and failing to get the 64-bit installer from fosshub. And I'm still seeing the old chocolateyInstall.ps1 on [palemoon's Chocolatey page](https://chocolatey.org/packages/palemoon).

[2015-10-11 01:44] i-give-up commented on #36
Hey guys, it seems like the Fosshub links are not working anymore. I'm getting "(403) Forbidden" error so it's not a scripting problem.

As such, packages that uses Fosshub links

- mkvtoolnix
- audacity
- palemoon (ketarin was updated to *not use* fosshub but the change hasn't taken effect on current package yet)

fail to install.

Also, I see the ketarin for avidemux has been updated to use foss

[2015-10-11 13:11] Redsandro commented on #64
I have no power over this. I think @gep13 @TomOne and @ferventcoder can do this. Otherwise it will happen automatically when a new version of `palemoon` comes out.

[2015-10-11 13:57] Redsandro commented on #36
The fosshub download page does this on download click:

[code]

I.e. this sends a request to:
`http://www.fosshub.com/updateStats/mkvtoolnix`
and then it changes the location to:
`http://download.fosshub.com/Protected/expiretime=1444570626;badurl=aHR0cDovL3d3dy5mb3NzaHViLmNvbS9NS1ZUb29sTml4Lmh0bWw=/746380211b8d20f1a005e6ce981ef454857dd0e14a2b2e48673da4b7aebc7ee6/MKVToolNix/mkvtoolnix-64bit-8.4.0-1

[2015-10-11 14:07] i-give-up commented on #36
It seems like I occasionally have to pass a captcha test (from Cloudflare) to get to any Fosshub page. I don't know if there's any way to bypass that.

[2015-10-11 15:04] TomOne commented on #36
The packages which download files on Fosshub work fine for me. [mkvtoolnix](https://chocolatey.org/packages/mkvtoolnix/) just had a package-related issue, because the author removed the 8.4.0 version from Fosshub and added 8.4.0-1 instead. Thus the package returned a 404 error.

Really? I’ve never encountered a captcha when opening a Fosshub page. Perhaps the issue is related to your IP address.

[2015-10-11 22:04] ferventcoder commented on #36
Did the capcha thing just start? I just implemented CloudFlare on Friday for chocolatey.org

[2015-10-12 03:45] i-give-up commented on #36
If you haven't seen it before, the captcha from CloudFlare [looks like this](http://i.imgur.com/WyavizO.jpg).

I found [this FAQ dated Jan 2015](https://support.cloudflare.com/hc/en-us/articles/203366080-Why-do-I-see-a-captcha-or-challenge-page-Attention-Required-trying-to-visit-a-site-protected-by-CloudFlare-as-a-site-visitor-) about the captcha, so it definitely has been around for some time.

[2015-10-12 03:51] ferventcoder commented on #36
Ah okay, it's from FossHub and not from https://chocolatey.org

[2015-10-12 14:16] i-give-up commented on #36
Okay, the Fosshub-genlink link works fine when I use a U.S. VPN.

No one seems to have raised this issue other than me, so maybe it's not a big deal?

[2015-10-16 19:30] Redsandro commented on #20
I would like to know who has access to the ketarin machine.
What needs to be done from a pullrequest to having the package aumatically updated through chocolatey?

We need someone with that power to take a few moments to look over the pending PR's and merge/fix/add them.

* [Tixati](https://github.com/chocolatey/chocolatey-coreteampackages/pull/90) (15 minutes ago)
* [AEMEI partition wizard](https

[2015-10-16 20:52] gep13 commented on #20
Currently, me, Rob and Tom have access to this machine, but we can certainly have a chat about opening this up to a wider group.

@ferventcoder do you have a script for auto importing xml files into ketatin on each execution, so as to ensure most up to date configuration after the pull?

Sent from my Windows Phone
________________________________
From: Sander AKA Redsandro<mailto:notifications@git

[2015-10-19 09:09] Redsandro commented on #20
@gep13 can you tell me the _exact code_ the ketarin machine uses for all the batch jobs?
And where do you put this global code in stead of per-package code?

[2015-10-19 09:11] gep13 commented on #20
@Redsandro sorry, I am not clear on what you are asking for.  Are you talking about the scheduled task that is running on the ketarin machine to execute ketarin every hour?

[2015-10-19 09:18] Redsandro commented on #20
Yes - I think.

I think it was you - but don't be angry if I'm mistaken - who told me that in this repository, ketarin settings for packages need no _execution commands_. There is a one size fits all command. It's probably documented somewhere, but not in this repo.

I want that command so I can tell, if it works in a VM, it will work on the ketarin machine.

[2015-10-19 09:28] gep13 commented on #20
Ah, I see what you are getting at.  :smile_cat:

Yes, on the Ketarin instance, there is a global execute command that runs for all packages that are contained within the Ketarin instance.

This is the command:

[code]

![image](https://cloud.githubusercontent.com/assets/1271146/10574152/17aeb92c-764c-11e5-99a2-ecb3b3fc3040.png)

[2015-10-19 09:31] Redsandro commented on #20
@gep13 Really? It uses the preupdate-url? That's always the one in the _URL_ field in the _download source_, right? So if we need to regex, we need to regex a variable and put that variable in the URL field?

[2015-10-19 09:32] gep13 commented on #20
And every hour, we run this command:

[code]

which contains:

[code]

[2015-10-19 09:35] gep13 commented on #20
Really? It uses the preupdate-url? That's always the one in the URL field in the download source, right? So if we need to regex, we need to regex a variable and put that variable in the URL field?

Sorry, I am not exactly clear on what you are referring to.  Can you elaborate?  This might not be the optimal way of doing this.  Perhaps @TomOne or @dtgm might be able to help with this.

This is the

[2015-10-19 09:57] Redsandro commented on #20
@gep13 thank you for pointing the commands out. Now I get what's going on. :smile:

As for the _"preupdate-url"_, I mean that the _url_ is actually not a value called `url` (like url64 is a value called `url64`, but rather the contents of the download url field in the ketarin package settings. This is a bit misleasing and I never understood this until just now.

[2015-10-19 09:58] gep13 commented on #20
This is a bit misleasing and I never understood this until just now.

Ok, cool, sounds like everything is in order then, right?

[2015-10-19 10:35] Redsandro commented on #20
Yes, all is clear!

[2015-10-19 10:37] Redsandro commented on #20
I know who have access to the ketarin machine now. I think this issue can be closed.

[2015-10-19 10:37] #20 closed

[2015-10-19 20:47] ferventcoder commented on #20
I do have a script that auto updates ketarin by importing all ketarin scripts in a particular directory. So I only have to merge.

[2015-10-20 06:04] gep13 commented on #20
@ferventcoder do you have a link to that script, so that we can put that on the Ketarin machine? Thanks!

[2015-10-20 09:50] Redsandro commented on #20
Should implement some sanity checking.

How are (previously working) broken packages detected now?

Does ketarin do something like info>stdout error>stderr? It would be nice to pipe the output log of _only the errors_ to some website where we can see packages that need fixing.

[2015-10-20 11:35] ferventcoder commented on #20
Not as far as I'm aware.

[2015-10-20 11:37] ferventcoder commented on #20
@gep13 the script is at https://github.com/ferventcoder/chocolatey-packages. I'm starting you there so you can see that all of the ketarin.xml files have been extracted to a singular folder, like @dtgm has done. Then inside of there is a files directory that contains this gem - https://github.com/ferventcoder/chocolatey-packages/blob/master/ketarin/files/ketarinupdate.cmd

The version of ketarin n

[2015-10-20 11:38] gep13 commented on #20
@ferventcoder perfect thanks, I will take a look, and let you know if I run into any problems. Cheers!

[2015-10-20 11:39] ferventcoder commented on #20
@gep13 the really nice thing about this script is that I can set it on a new machine and it will import all of the jobs into ketarin.

[2015-10-20 11:40] gep13 commented on #20
@ferventcoder agreed.  That has always been my concern about the "portability" of the current ketarin machine we are using.

[2015-10-20 12:11] Redsandro commented on #20
@gep13 We don't even have to change the structure.

iirc you can look one level deep in subfolders using `FOR /D %%F IN`, or recursively through all folders (probably some overhead because of all the tools directories) using `FOR /R`.

[2015-10-20 12:24] gep13 commented on #20
@Redsandro although we "might" be able to do something, I think there is something to be said for consistency.  If this is what both @ferventcoder and @dtgm have opted for, I think we should follow their lead.

[2015-10-20 13:14] Redsandro commented on #20
@gep13 while I agree consistency is an important thing, I also like to point out that things like Javascript, ES, HTML5 and the likes wouldn't exist if we all just went for consistency rather than improvement.

The best approach to any kind of package - for clarity, portability and maintainability's sake - is always to have it as self-contained as possible.

For that reason, the fact that we chose

[2015-10-20 19:21] ferventcoder commented on #20
More of keeping the ketarin.xml file away from the autopackage so it doesn't get sucked up by the generating tool. But that can be addressed in other ways.

[2015-10-20 19:22] ferventcoder commented on #20
And for the sake of argument that the ketarin bit isn't really part of the package - which is a fallacy, it is part of what builds the package.

[2015-10-20 22:44] Redsandro commented on #20
`.gitignore`, `Gruntfile.js`, `thumbs.db` GMTA :wink:

[2015-10-23 17:02] pyhedgehog commented on #79
As a result of this "fix" I've got error: "The fully qualified file name must be less than 260 characters". Old `c:\tools\python3` was pretty good.

[code]

[2015-11-26 15:50] pyhedgehog commented on #79
On second review `node_modules` in error message direct us to installed `nodist` package...
This still is bug in python3 package - "bad" files in other directories should not crash package installation.

[2015-11-26 16:25] matbech opened #96 "uninstall of vcredist redistributables"
I have some concerns in regards with uninstalling of redistributables like vcredist2015 etc. Consider the following situation:
- the vcredist redistributable was installed as part of another application the user installed without choco.
- user installs a choco package X which has a dependency on vcredist
- choco decides to install vcredist. In reality the vcredist installation is skipped because i

[2015-11-26 19:28] gep13 commented on #96
@matbech by derfault, uninstalling packages will leave the dependent packages in place.  You would need to pass the `-x` parameter in order to force the uninstallation of the dependencies.  See `choco uninstall /?` for more information.

Does that help with your concern?

[2015-11-26 19:32] matbech commented on #96
Yes in that case the problem doesn't happen. I did assume that the dependencies were ref counted.

[2015-11-26 19:37] gep13 commented on #96
Cool, so sounds like we are ok :smile:

[2015-11-26 19:37] #96 closed

[2015-12-08 21:47] TomOne opened #99 "Add development version for GIMP to gimp package"
See https://www.gimp.org/downloads/#development-snapshots.

The development builds executables are a 7-Zip SFX archive. Need to adapt the package to support that in addition to the official installer.

[2015-12-17 23:58] TomOne opened #100 "Add 64-bit version to the firefox package"
Starting from v43.0, the 64-bit version of Firefox is [officially available](https://www.mozilla.org/en-US/firefox/all/). We need to include it into the package.

[2015-12-20 22:24] TomOne commented on #100
Resolved with https://github.com/chocolatey/chocolatey-coreteampackages/commit/6a0fdac80e1b300670be4a1b48184a00a2805c9f

[2015-12-20 22:24] #100 closed

[2015-12-22 11:26] TomOne opened #101 "Cygwin fails to create pseudo-symlinks"
Since the recent change of the installation folder to `$PSScriptRoot\cygwin`, Cygwin is no longer able to create symlinks (e. g. for `awk`).

This was reported here: https://chocolatey.org/packages/Cygwin#comment-2419682542

Possible workaround: Switch back to `$env:ChocolateyBinRoot`. But that’s not a really good idea, because binroot is going to be deprecated and makes the package less self cont

[2015-12-22 14:35] knime commented on #101
I can confirm that this issue is related to Cygwin's installation directory. I tried several different locations via "choco install" starting from C:\cygwin64, over C:\ProgramData\chocolatey\cygwin64, to C:\ProgramData\chocolatey\lib\Cygwin\cygwin64. Only the last location showed the described behaviour with the broken symlinks.
Why isn't Cygwin installed into its standard directory C:\cygwin64 an

[2015-12-22 20:36] ferventcoder commented on #101
BinRoot will be deprecated for ToolsRoot. :+1: It's fine to use binroot for now.

[2015-12-24 11:10] TomOne opened #103 "The maxima package should remove older versions by default"
This was reported here https://chocolatey.org/packages/maxima/5.37.3#comment-2208390084

[2015-12-24 15:11] TomOne commented on #101
Strange. Reinstalling `gawk` with Cygwin fixed the `awk` -> `gawk` symlink for me. Therefore it only seems to fail during the Cygwin installation.

[2015-12-27 12:39] TomOne commented on #56
There’s still a [javaruntime-platformspecific](https://github.com/chocolatey/chocolatey-coreteampackages/tree/master/automatic/javaruntime-platformspecific) package in the repository and also on https://chocolatey.org/packages/javaruntime-platformspecific. Should we deprecate it? I think it’s no longer needed.

[2015-12-27 18:20] iainnicol commented on #101
The broken symlinks are missing the Windows file attribute called System. I don't know what about the installation directory causes that. But it's definitely this missing attribute which causes the problem:

[code]
[code]

[2015-12-28 14:00] TomOne commented on #101
Thanks @iainnicol, good catch.

I tried to install Cygwin manually in the same directory as the package would install it (`%PROGRAMDATA%\chocolatey\lib\cygwin\tools\cygwin`) and it generated the correct symlinks. So the issue must be somehow related to Chocolatey itself, not to the install directory.

We could include workaround code into the package that iterates over all broken symlinks and adds

[2015-12-31 01:51] mnuzzolilo opened #104 "cyg-get fails when cygwin32 and cygwin64 are both installed"
Traced the issue to cyg-get.ps1, the line below creates an array of two paths when both are found

[code]

Then the line here combines the paths for the 32 and 64 bit installations.

[code]

[2016-01-11 16:45] ferventcoder opened #106 "Python should NOT be installed into chocolatey lib (nor any package running a native installer)"
It is an extremely important distinction for packages - if it runs a native installer it should **_NEVER**_ install it to the package lib folder. It could cause issues if you remove the package files.

It should point back to BinRoot or even better - in the case of Python, folks actually want it to go to `c:\python3`. Those are the options available, but installing to the lib folder is not. I am g

[2016-01-11 17:23] ferventcoder commented on #106
FYI - https://github.com/chocolatey/choco/commit/47ef0b5a9a93da42e3427f8967603e2c7e911bf3

[2016-01-12 08:49] cfoellmann commented on #56
The javaruntime works correctly now.

Since the jre8 package has the correct flags for platform-specific installs `javaruntime-platformspecific` can be deprecated

[2016-01-13 18:29] TomOne opened #108 "srwareiron: add 64-bit version"
The 64-bit version for srwareiron is available. We need to include it into the package.

This was reported here: https://chocolatey.org/packages/SRWareIron#comment-2454904156

[2016-01-15 16:54] ryanewtaylor opened #111 "Add the \Scripts directory to the PATH when installing Python"
When installing Python via Chocolatey I noticed that I was unable to use PIP from the command line as the python \Scripts directory was not added to the environment path. PIP is included in newer versions of Python and so it would be helpful to have this available on the PATH as well.

To confirm the behavior of the MSI I ran it in GUI mode and via msiexec. The default behavior of both is to not a

[2016-01-15 17:50] ferventcoder commented on #111
I agree this should be done.

[2016-01-15 20:25] ryanewtaylor commented on #111
If the maintainers do not have time for this addition, Is this something that I could potentially do via a pull request? I think the solution would be to:

1, Sign the CLA
2. Fork this repository
3. Create a branch such as `add-pythons-scripts-dir-to-path`
4. Add `ADDLOCAL=ALL` to `$partialInstallArgs = '/qn /norestart ALLUSERS=1 TARGETDIR='` as an argument in the chocolateyInstall.ps1 file
5. Rem

[2016-01-15 20:42] ferventcoder commented on #111
I do not believe there is a CLA for the coreteam packages.

[2016-01-15 20:46] gep13 commented on #111
@ferventcoder correct, there is no CLA for this repo.

@ryanewtaylor would be happy to accept a PR to get this change included.

[2016-01-16 03:52] matbech opened #113 "Remove Write-ChocolateyFailure and Write-ChocolateySuccess"
Write-ChocolateyFailure is deprecated.

Remove try/catch handlers from install and uninstall scripts.
Write-ChocolateyFailure $packageName $($_.Exception.Message)

List of affected files:
Write-ChocolateyFailure
https://github.com/chocolatey/chocolatey-coreteampackages/search?utf8=%E2%9C%93&q=Write-ChocolateyFailure+%24packageName+%24%28%24_.Exception.Message%29

Write-ChocolateySuccess
https://gi

[2016-01-16 10:48] gep13 commented on #113
@matbech thanks for the reminder.  This is something that we will have to take care of.

[2016-01-18 12:57] gep13 opened #117 "Add Admin Tag"
Where necessary, admin tags should be added to all nuspec's where an administrative helper function is being used.  This is inline with the package validator wiki article here:

https://github.com/chocolatey/package-validator/wiki/AdminTagShouldBeUsedWhenUsingAdminHelper

[2016-01-19 13:05] #117 closed

[2016-01-19 13:07] #113 closed

[2016-01-28 20:39] gep13 opened #122 "Fix Note on FlashPlayer PPAPI package"
Fix note about maintainers/owners

https://chocolatey.org/packages/flashplayerppapi

[2016-01-31 21:04] gep13 opened #123 "Fix Note on CodeBlocks"
As per review here:

https://chocolatey.org/packages/codeblocks/16.01

[2016-01-31 21:05] gep13 opened #124 "Fix Note of avidemux"
As per review here:

https://chocolatey.org/packages/avidemux/2.6.11

[2016-02-08 04:25] flcdrg opened #126 "PDFXChangeViewer upgrade caused reboot"
The installer for PDFXChangeViewer needs to include the `/NORESTART` argument.

I just ran an upgrade and the installer caused my box to spontaneously reboot without any user warnings (just glad I didn't lose anything important!)

[2016-02-08 07:11] gep13 commented on #126
Thanks for letting us know about this.  I have added this flag to the silent arguments for this package.

[2016-02-08 07:11] #126 closed

[2016-02-08 15:55] ferventcoder commented on #126
:+1:

[2016-02-10 19:58] gep13 opened #127 "Fix Note in libreoffice package"
As per comments here:

https://chocolatey.org/packages/libreoffice-oldstable/5.0.4

[2016-02-11 14:52] dtgm commented on #79
At C:\ProgramData\chocolatey\lib\python3\tools\chocolateyInstall.ps1:24 char:14
 + Get-ChildItem <<<<  -Path $destinationFolder -Recurse | Where {
     + CategoryInfo          : ReadError: (C:\ProgramData\...am\node_modules:String) [Get-ChildItem], PathTooLongException
     + FullyQualifiedErrorId : DirIOError,Microsoft.PowerShell.Commands.GetChildItemCommand

It's because there is an [undefined v

[2016-02-11 15:16] gep13 commented on #79
@dtgm would you be in a position to submit a PR to correct this? I would very much appreciate it :smile_cat:

[2016-02-11 15:25] Link-Satonaka opened #128 "Fosshub script broken"
https://github.com/chocolatey/chocolatey-coreteampackages/blob/553cdc3ef1f75b537c5b08f9e6b513a3cc9b480b/automatic/palemoon/tools/Get-UrlFromFosshub.ps1

Search the repository for fosshub to see affected packages. There is a similar script by a slightly different name that is probably also broken by fosshub site changes.

[2016-02-11 15:41] gep13 commented on #128
@Link-Satonaka thanks for letting me know about this.  Not sure when I will get to this, but at some point, I will.

Unless @Redsandro can shed any light on what is going on.  I think he created the script originally.

[2016-02-11 19:38] gep13 opened #129 "Remove Chocolatey Tag"
As per validator rules, using the chocolatey tag is not permitted anymore.

[2016-02-11 19:40] #129 closed

[2016-02-11 19:46] #127 closed

[2016-02-11 20:07] #124 closed

[2016-02-11 20:10] #123 closed

[2016-02-11 20:22] #122 closed

[2016-02-11 20:30] gep13 commented on #108
Community member @Vaquero84 is taking ownership of this package, as they have already created portable and install versions of this package, and this package simply needs to be converted to a virtual package.

The new source for this package is hosted here:

https://github.com/Vaquero84/chocolatey-packages/tree/master/automatic

I am going to delete the package source files from this repo, once ev

[2016-02-11 20:30] #108 closed

[2016-02-12 07:49] gep13 opened #135 "Add missing owners element in nuspec"
Lots of packages in this repo are missing the `<owners>` element in the nuspec.  As a minimum, all nuspecs in this repo should have `<owners>chocolatey</owners>` and in some cases others, as some packages are maintained by more than one person.  Add the owners element to all nuspecs with chocolatey as the main entry.

[2016-02-12 07:54] #135 closed

[2016-02-12 07:55] gep13 commented on #135
This was completed using:

[code]

Big thanks to @dtgm for his help to create script

[2016-02-12 07:56] gep13 opened #137 "Ensure all nuspecs have a title element"
Looks like there is at least one nuspec in the repo that has a missing title element.

Search and make sure that there aren't more.

[2016-02-12 07:57] gep13 commented on #137
This can be search using:

Get-ChildItem C:\github\Organisations\chocolatey\chocolatey-coreteampackages -Recurse -Include *.nuspec |
    ForEach-Object {
        if(-not(Select-String -InputObject $_ -Pattern "<title>")){
            Write-Host "Found $_";
        }
    }

[2016-02-12 08:00] gep13 commented on #137
Looks like there is only one.

[2016-02-12 08:00] #137 closed

[2016-02-12 20:45] gep13 opened #139 "Remove SRWareIron package"
This is now being maintained by another community contributor.

[2016-02-12 20:49] gep13 commented on #139
The package source for this is now located here:

https://github.com/Vaquero84/chocolatey-packages/tree/master/automatic/srwareiron

[2016-02-12 20:59] gep13 opened #141 "Fix the note on the freeciv package"
As per this review:

https://chocolatey.org/packages/freeciv/2.5.3

[2016-02-12 21:18] #139 closed

[2016-02-12 21:26] gep13 opened #142 "Why is tsremux unlisted"
https://chocolatey.org/packages/tsremux

@TomOne do you know why this is unlisted?

[2016-02-12 21:27] gep13 commented on #141
Turns out there were a few more packages that had `<owners>authors</owners>` so fixed them up as well.

[2016-02-12 21:28] #141 closed

[2016-02-12 22:48] ferventcoder commented on #135
That's money right there. I may have to use something like that for adding the packageSourceUrl to all of my packages.

[2016-02-13 00:58] dtgm commented on #135
@gep13 you're welcome, although first I was like, "oh no" when I saw you changed `Get-ChildItem *\*.nuspec` to `Get-ChildItem C:\github\Organisations\chocolatey\chocolatey-coreteampackages -Recurse -Include *.nuspec` ! But then I saw this repo does not upload the pkgs generated by chocopkgup.

fyi, the powershell script I wrote above I converted from:
[code]

Do you see why I prefer grep/sed ;)

@

[2016-02-13 00:59] dtgm commented on #135
`sed -e` will only output to console (for review)

`sed -i -e` will make the change inplace

[2016-02-13 01:05] dtgm commented on #135
@ferventcoder if some of the nuspecs may already have packageSourceUrl

[code]

[2016-02-13 12:40] Redsandro commented on #128
It's getting harder. There's some new randomization included. If you try the steps to get the link in the developer console, it works. But when automated, it doesn't (for me). Didn't spend too much time on it. But if you can figure out how to do it, it would be a good opportunity to turn the fosshub link grabber into [a helper module dependency](https://github.com/chocolatey/chocolatey/issues/377)

[2016-02-13 21:46] gep13 opened #144 "Add PackageSourceUrl to all nuspecs"
With the enhancement of the chocolatey nuspec to include other metadata parameters, we should at least add the packageSourceUrl to each nuspec.

[2016-02-13 21:51] gep13 commented on #144
Actually, looks like this was already taken care of.

Used this:

[code]

And only found one nuspec that didn't have it.

[2016-02-13 21:53] #144 closed

[2016-02-13 21:57] gep13 opened #146 "Fix missing licenseUrls"
- [x] activepresenter\activepresenter.nuspec
- [x]  absolute-uninstaller\absolute-uninstaller.nuspec
- [x]  chromium\chromium.nuspec
- [ ]  feeddemon\feeddemon.nuspec
- [x]  h264tscutter\h264tscutter.nuspec
- [x]  haali-media-splitter\haali-media-splitter.nuspec
- [ ]  kingsoft-office-free\kingsoft-office-free.nuspec
- [x] lockhunter\lochunter.nuspec
- [x]  nlite\nlite.nuspec
- [ ]  no-ip-duc\no-i

[2016-02-13 21:59] gep13 commented on #146
These were found using:

[code]

[2016-02-13 22:00] gep13 opened #147 "Fix missing iconUrls"
- [x] encfs4win\encfs4win.nuspec
- [x] free-virtual-keyboard\free-virtual-keyboard.nuspec
- [x] h264tscutter\h264tscutter.nuspec
- [x] nircmd\nircmd.nuspec
- [x] pcwrunas\pcwrunas.nuspec
- [x] svg-explorer-extension\svg-explorer-extension.nuspec
- [x] vp8-vfw\vp8-vfw.nuspec
- [x] WinPcap\WinPcap.nuspec
- [x] dokan-library\dokan-library.nuspec
- [x] qttabbar-langfiles\qttabbar-langfiles.nuspec
- [x

[2016-02-13 22:01] gep13 commented on #147
These were found using:

[code]

[2016-02-13 22:05] gep13 opened #148 "Adding missing UTF-8 Test"
- [ ] Cygwin\Cygwin.nuspec
- [ ] cyg-get\cyg-get.nuspec
- [ ] DotNet4.0\DotNet4.0.nuspec
- [ ] rdcman\rdcman.nuspec
- [ ] vcredist2015\vcredist2015.nuspec
- [ ] wixtoolset\wixtoolset.nuspec

[2016-02-13 22:05] gep13 commented on #148
These were found using:

[code]

[2016-02-13 22:43] gep13 commented on #135
But then I saw this repo does not upload the pkgs generated by chocopkgup.

What exactly did you mean by this?  There is a ketarin instance associated with this repo.

[2016-02-14 01:48] dtgm commented on #135
@gep13 I mean the output files ketarin produces to build the nupkg...these files https://github.com/ferventcoder/chocolatey-packages/tree/master/automatic/_output

[2016-02-14 18:47] gep13 commented on #135
@dtgm ah, I see what you mean :+1:

[2016-02-14 19:47] gep13 commented on #128
@Redsandro Yip, I agree, we should make this into a package that can be easily re-used across all packages that take a dependency on it.  Not sure when I will have a chance to look at this, but I will keep it on my list, and see if I can get to it.

[2016-02-15 08:12] Redsandro commented on #128
@gep13

Apart from reversing the new url obfuscation, I'd like to hear your input on a package name template that we can adhere to for different sites. E.g.:

* `choco-helper-fosshub`
* `choco-helper-cnet`

We need some semantics and do it right from the start, but I'm not a big fan of long names such as `choco-helper-get-urlfromfosshub`.

[2016-02-15 17:22] ferventcoder commented on #128
The name of the package must end in .extension. You should put extensions in the extensions folder.

[2016-02-15 17:22] ferventcoder commented on #128
The helper name could be `Get-FossHubDownloadUrl`

[2016-02-16 08:55] gpakosz commented on #101
Being a new Chocolatey user, I just stumbled upon this problem. 2 months later, did you agree on an official workaround until this gets fixed?

[2016-02-17 08:55] jberezanski opened #149 "RDCMan 2.2"
Microsoft has removed the download for RDCMan version 2.2. Although there is a later version available (2.7), it introduces a few annoying usability regressions (regarding drive mapping and fullscreen mode), which is why we're still using 2.2 at my company.

I'd like to keep the 2.2 package working. Would it be okay to host the installation MSI in this repo? (It is digitally signed by Microsoft, s

[2016-02-17 14:24] ferventcoder commented on #149
Depends on the distribution rights

[2016-02-18 19:48] paulruiz opened #150 "Cygwin default mirror change needed?"
installing cygwin with the package configured mirror fails at the same spot from multiple hosts and multiple locations (aws & corp net in Seattle). Relevant part of the error:

"mbox note: Unable to get http://mirrors.kernel.org/sourceware/cygwin/x86_64/setup.ini.sig from http://mirrors.kernel.org/sourceware/cygwin/"

The following command, changing the mirror used, works everywhere.

cinst -y cyg

[2016-02-19 20:34] gep13 commented on #149
@jberezanski did you have a chance to look into the distribution rights on this msi?  I have not yet had a chance to look into it.  If you can direct me to somewhere it says that it is "ok" to do it, I will happily accept a PR to keep this version alive.

[2016-02-19 20:34] gep13 opened #151 "SmartFTP is failing verifier"
https://chocolatey.org/packages/smartftp

https://gist.github.com/choco-bot/8ec4f8ab4a7e49a9a902

[2016-02-19 20:38] gep13 opened #152 "(sidesync) Failing verifier"
https://chocolatey.org/packages/sidesync

https://gist.github.com/choco-bot/637e0e6f6da10b02c881

[2016-02-19 20:40] gep13 opened #153 "(nLite) Failing verifier"
https://chocolatey.org/packages/nlite

https://gist.github.com/choco-bot/bf2a2738b6e7ced72ef7

[2016-02-19 20:42] gep13 opened #154 "(TrueCrypt-langiles) Failing verifier"
https://chocolatey.org/packages/truecrypt-langfiles

https://gist.github.com/choco-bot/c0c9be95acdfb0d22c6f

[2016-02-19 20:43] gep13 opened #155 "h264tscutter is failing verifier"
https://chocolatey.org/packages/h264tscutter

https://gist.github.com/choco-bot/8ecc7a42bfa4b0cb60e7

[2016-02-19 20:43] gep13 opened #156 "Sauerbraten is failing verifier"
https://chocolatey.org/packages/sauerbraten

https://gist.github.com/choco-bot/2714de17d412b619237b

[2016-02-19 20:44] gep13 opened #157 "encfs4win is failing verifier"
https://chocolatey.org/packages/encfs4win

https://gist.github.com/choco-bot/4cda893c62b4276331b4

[2016-02-19 20:58] gep13 opened #158 "Fix rejected wincdemu package"
https://chocolatey.org/packages/wincdemu

[2016-02-19 20:59] gep13 opened #159 "Fix rejected UltraDefrag package"
https://chocolatey.org/packages/ultradefrag/7.0.0

[2016-02-19 20:59] gep13 opened #160 "Fix rejected tixati package"
https://chocolatey.org/packages/tixati/2.31.1

[2016-02-19 21:05] jberezanski commented on #149
Nope, sorry, did not have the time to do that yet. I'll try during the weekend.

[2016-02-20 09:07] gep13 opened #161 "(supertuxkart) Fix rejected package"
https://chocolatey.org/packages/supertuxkart/0.9.1

[2016-02-20 09:09] gep13 opened #162 "Fix rejected scite4autohotkey package"
https://chocolatey.org/packages/scite4autohotkey/3.0.06.20151010

[2016-02-20 09:10] gep13 opened #163 "Fix rejected pip package"
https://chocolatey.org/packages/pip/7.1.2

[2016-02-20 09:11] gep13 opened #164 "(patch-my-pc) Fix rejected package"
https://chocolatey.org/packages/patch-my-pc/3.0.3.2

[2016-02-20 09:12] gep13 opened #165 "Fix rejected krita-gemini package"
https://chocolatey.org/packages/krita-gemini

[2016-02-20 09:13] gep13 opened #166 "Fix rejected easy.install package"
https://chocolatey.org/packages/easy.install

[2016-02-20 09:13] gep13 opened #167 "Fix rejected blender package"
https://chocolatey.org/packages/blender/2.76

[2016-02-20 09:14] gep13 opened #168 "Fix rejected avidemux package"
https://chocolatey.org/packages/avidemux/2.6.10

[2016-02-20 09:44] gep13 opened #169 "Fix submitted nircmd package"
https://chocolatey.org/packages/nircmd/2.80

[2016-02-22 12:52] jberezanski commented on #149
The [license shown by the installer](https://gist.github.com/jberezanski/d50e5bf9ce0e1f25aea4#file-rdcman-2-2-license-txt) specifies the following:

    2. Scope of License. (...) You may not
    (...)
    ·	publish the software for others to copy;

One could perhaps argue that the above refers to the actual RDCMan program binaries, not the installation package, but I guess better safe than sorry

[2016-02-22 12:57] gep13 commented on #149
I am going to have to defer to @ferventcoder on that on, sorry.

[2016-02-22 15:21] ferventcoder opened #170 "Use HTTPS for Fiddler4"
@ericlaw1979 suggested this - https://twitter.com/ericlaw/status/701784805214519296. I also think we should use checksum as well. :)

[2016-02-22 15:22] ferventcoder commented on #170
Sorry, @ericlaw1979

[2016-02-22 15:32] ferventcoder commented on #149
Software applies to the installer as well. Unfortunately pulling it from archive.org is also not going to be acceptable. However, one is free to do whatever you want internally and or on your own myget feed. You are not subject to the same distribution issues when you are doing things internally.

[2016-02-22 15:32] ferventcoder commented on #149
I updated the above.

[2016-02-22 20:12] gep13 commented on #170
@ferventcoder am I missing something?  Are the checksum's published somewhere, that I can scrape into the automatic package?

[2016-02-23 13:55] jberezanski commented on #149
Sure, I'll use an internal server for my needs. Shame about the public package, though.

[2016-02-23 13:55] #149 closed

[2016-02-23 21:26] Link-Satonaka commented on #150
I would bet it was just a momentary outage, these happen to any mirror.

Kernel.org is a pretty big deal- it's a widely known and trusted domain, and hosts packages for many distros, not just cygwin. It's a good default mirror for both security and reliability.

[2016-02-23 22:56] ferventcoder commented on #149
Yes, but our hands are tied for the public site.

[2016-02-24 14:32] #170 closed

[2016-02-24 14:56] gep13 commented on #170
@ferventcoder did you create another issue for the checksum?

[2016-02-24 15:20] ferventcoder commented on #170
I did not.

[2016-02-24 15:23] gep13 opened #174 "Add Checksums to packages where possible"
Start with the Fiddler4 package, and work from there.

[2016-02-24 15:23] gep13 commented on #170
https://github.com/chocolatey/chocolatey-coreteampackages/issues/174

[2016-02-25 07:59] gep13 opened #175 "Fix rejected CutePDF Package"
https://chocolatey.org/packages/CutePDF/3.1

[2016-02-25 17:29] fatso83 opened #176 "WriteErrorException,cyg-get.ps1"
I really have no idea why I am having troubles with `cyg-get`. It talks about not being able to find a file, but it seems clearly to be present.

I installed choco+cygwin+cyg-get on another machine just hours before this happened. The only difference I can think of is that Cygwin used to be manually installed before trying to install it through Choco.

This is the output straight after installing

[2016-02-25 17:30] fatso83 commented on #176
This might be fixed by #125, if that gets fixed.

[2016-03-01 20:04] gep13 opened #177 "(pyhoca-gui) Failing verifier"
https://chocolatey.org/packages/pyhoca-gui/0.4.0.20140820

[2016-03-02 07:18] ferventcoder commented on #79
Related to #106.

[2016-03-02 10:54] gep13 opened #178 "Winpcap is failing verifier"
https://chocolatey.org/packages/WinPcap/4.1.3.20141005

[2016-03-03 21:47] gep13 opened #179 "aptana-studio is failing verifier"
https://chocolatey.org/packages/aptana-studio/3.6.1

[2016-03-04 08:24] gep13 opened #180 "flightgear is failing verifier"
https://chocolatey.org/packages/flightgear/3.4.0

[2016-03-04 08:25] gep13 opened #181 "tribler is failing verifier"
https://chocolatey.org/packages/tribler/6.4.3

[2016-03-04 14:23] tlin-fei commented on #176
Change the value of $cygwinsetup to the following $cygwinsetup = "$cygRoot\setup-x86_64.exe" in cyg-get.ps1 file

[2016-03-04 15:51] fatso83 commented on #176
@tlin-fei : Thanks for the input, but observe my comment above: there is already a pending PR that will fix this issue. I just applied the patch to fix my problem.

[2016-03-07 20:35] gep13 opened #182 "Python is failing verifer"
https://chocolatey.org/packages/python-x86_32/3.5.1

[2016-03-07 20:35] gep13 commented on #182
https://chocolatey.org/packages/python3-x86_32/3.5.1

[2016-03-07 20:41] gep13 opened #183 "partitionwizard is failing verifier"
https://chocolatey.org/packages/partitionwizard/9.1.0

[2016-03-07 20:44] gep13 opened #184 "dokanlibrary is failing verifier"
https://chocolatey.org/packages/dokan-library/0.6.0.20150602

[2016-03-07 21:15] vchan2002 opened #185 "Python needs another directory in $PATH"
For Python packages,

At the end, where it sets the path to enable python to be executed anywhere, I would suggest adding the .\scripts subdirectory as well. The Scripts directory contains the pip command, which is almost as useful as the python executable.

$env:Path = "$($env:Path);$installPath;$installPath/Scripts"

[2016-03-07 21:52] vchan2002 commented on #185
pull request #186 created.

[2016-03-07 21:58] vchan2002 commented on #185
pull request #187 created.  Closed previous one to fix slash.

[2016-03-09 14:15] sparkvilla opened #188 "choco list: Error 404 server not found"
Hi,
I have set up a test repository: https://github.com/sparkvilla/c_rep/  with few chocolatey packages that I downloaded and rebuilt with chocolatey. I added my new source by typing:

`choco source add -n=c_rep -s=https://github.com/sparkvilla/c_rep/`

I the disable the chocolatey default repository so that the new one is the only one I pull the packages from. I then tried to list the packages in

[2016-03-09 14:42] gep13 commented on #188
@sparkvilla have a look at `choco list -h`

and then, given that you have disabled the other source, you should be able to simply do `choco list`

[2016-03-09 14:45] gep13 commented on #188
@sparkvilla also, the url you are using is **not** a valid nuget feed, it is a GitHub repo.  These two things are not the same.

[2016-03-09 15:31] sparkvilla commented on #188
I guess that is the problem. Does it mean I cannot use the Github repo to do the test? what else could I use?

[2016-03-09 15:41] gep13 commented on #188
@sparkvilla you would need to do one of the suggestions here:

https://github.com/chocolatey/choco/wiki/How-To-Host-Feed

The quickest and easiest one would likely be to set up a MyGet account.

[2016-03-09 15:44] sparkvilla commented on #188
Thank you I'll have a look.

[2016-03-09 15:48] #188 closed

[2016-03-19 19:37] #185 closed

[2016-03-21 15:37] Redsandro opened #192 "Added BCUninstaller"
@gep13 can you add this to the machine?

https://github.com/chocolatey/chocolatey-coreteampackages/tree/master/automatic/bulk-crap-uninstaller

[2016-03-23 12:54] kieranjol opened #193 "ffmpeg installation issue with Get-ChildItem on win 7"
Hello,

I noticed that two people mentioned this issue in the website comments but they didn't appear to raise an issue : https://chocolatey.org/packages/ffmpeg
I'm using `--force` because I already installed an older version of ffmpeg not using choco.

The main issue appears to be
[code]

My log is located here: https://gist.github.com/kieranjol/83235e6a7c1fd4812848 and here's my full console out

[2016-03-24 14:39] ferventcoder opened #194 "iTunes package is out of date - fix automatic package?"
Looks like 12.3.3 is available.

[2016-03-25 20:12] gep13 commented on #194
Ok, most likely there has been a change to the site, so the ketarin variable is not being extracted correctly.  I will get to it when I can.

[2016-03-25 20:18] gep13 commented on #193
@kieranjol thanks for adding the issue!

[2016-03-25 20:22] gep13 commented on #192
@Redsandro yip, I will try to do this this weekend.

[2016-03-26 10:53] gep13 commented on #192
@Redsandro done :smile_cat:

[2016-03-26 10:53] #192 closed

[2016-03-26 11:29] gep13 commented on #194
@ferventcoder I think I have fixed this now. Latest version has been pushed to chocolatey.org

[2016-03-26 11:29] #194 closed

[2016-03-27 18:28] Redsandro commented on #192
@gep13 you rule :+1:

[2016-03-27 18:46] TomOne opened #195 "Deprecate javaruntime-platformspecific"
As per #56, [javaruntime-platformspecific](https://chocolatey.org/packages/javaruntime-platformspecific) is not needed anymore and should be deprecated because it is superseded by [jre8](https://chocolatey.org/packages/javaruntime-platformspecific)

[2016-03-27 18:47] TomOne commented on #56
Thanks. This issue can be closed. Deprecating `javaruntime-platformspecific` is tracked in #195.

[2016-03-27 18:47] #56 closed

[2016-03-27 18:51] TomOne commented on #36
This issue doesn’t seems to require any more TODOs. Can it be closed?

[2016-03-27 19:11] gep13 commented on #36
@TomOne I have been leaving this one open, as I have on my todo list to create a Chocolatey Extension package that other packages can take a dependency on, rather than each package including the current extra .ps1 file.

[2016-03-27 19:15] TomOne commented on #193
You’re using PowerShell v2.0. After a quick search I came across https://stackoverflow.com/questions/22379334/a-parameter-cannot-be-found-that-matches-parameter-name-directory. This is most likely the reason.

Since the [install script](https://github.com/chocolatey/chocolatey-coreteampackages/blob/d99f299ee700057a68ebd7509cbf3b97df27c7ff/automatic/ffmpeg/tools/chocolateyInstall.ps1) doesn’t call

[2016-03-27 21:56] wickles commented on #36
I noticed the classic-shell package now uses a mediafire link. I opted not to install via chocolatey because of that, although I noticed since then that it is actually an 'official' mirror listed on the project webpage. Would it be possible to switch back to fosshub now? That seems to be their only proper official host.

[2016-03-28 11:59] Redsandro commented on #36
@wickles fosshub links seem to implement captcha for certain IPs and VPNs. So the downloads cannot be reliably automated.

[2016-03-28 17:29] Frogglet commented on #193
Is there a workaround for this?

[2016-03-28 18:29] kieranjol commented on #193
The stack overflow thread seems to suggest an upgrade to powershell 3.0 might help? I haven't had a chance to test.

[2016-03-31 06:50] guillaumecle opened #196 "Chromium - no new updates"
There are no more new updates available for the Chromium package after March 18, while there were  at least once per day before.

[2016-03-31 06:59] guillaumecle commented on #196
Can perhaps come from the release repo: http://chromium.woolyss.com/api/?os=windows&amp;bit=64&amp;out=json is stuck on 51.0.2683.0 since that day.

[2016-03-31 07:05] guillaumecle commented on #196
Ho interesting, from http://chromium.woolyss.com/ :

The Chromium team has removed few LKGR builders. (sources: 407399 and chromium-dev)
Consequently, since 18 March 2016, the Continuous repository and official site (LKGR) are not updated.

[2016-03-31 18:13] charlieman commented on #193
I can confirm, upgrading powershell (I upgraded to 4.0 following [this article](social.technet.microsoft.com/wiki/contents/articles/21016.how-to-install-windows-powershell-4-0.aspx)) fixes this problem.

It would be useful if you use the [requires](https://technet.microsoft.com/en-us/library/hh847765.aspx) directive in the script: `#requires -version 4` so people get a better error message.

[2016-03-31 18:46] gep13 commented on #196
@guillaumecle oh, interesting indeed. So looks like the chocolatey package has correctly not updated.  Can this issue be closed?

[2016-03-31 18:53] guillaumecle commented on #196
Would chocolatey want to find another source for Chromium releases?

[2016-03-31 18:55] gep13 commented on #196
If you can suggest another one, I would be happy to look into it.

[2016-03-31 19:33] guillaumecle commented on #196
I'm not sure about that, http://chromium.woolyss.com/ has other builds, like the "nik" ones, but I don't know if they are often updated and adapted to chocolatey.

[2016-03-31 19:36] ferventcoder commented on #193
@charlieman rather the script should be rewritten to work with POSH v2.

[2016-03-31 19:39] kieranjol commented on #193
I like the idea of it working with posh v2, if at all possible,as it
appears to be the default win7 version. As win7 is now unsupported, I
totally understand the arguments for not supporting it. It's certainly make
life easier in our film archive though!
On 31 Mar 2016 8:36 p.m., "Rob Reynolds" <notifications@github.com> wrote:

[2016-03-31 19:42] ferventcoder commented on #193
@kieranjol what is unsupported with Windows 7?

[2016-03-31 19:42] ferventcoder commented on #193
FFMPEG?

[2016-03-31 19:44] ferventcoder commented on #193
If by unsupported you mean by MS, that date is 01/14/2020. https://support.microsoft.com/en-us/lifecycle?C2=14019

[2016-03-31 19:45] kieranjol commented on #193
I meant Microsoft, I was incorrect, and I apologise.
On 31 Mar 2016 8:44 p.m., "Rob Reynolds" <notifications@github.com> wrote:

[2016-03-31 22:31] ferventcoder commented on #193
No worries. The normal support ended last year. Most folks only look at extended support. Like Windows 2003 was 7/14/2015 and I can tell you I was happy about that date... :+1:

[2016-04-03 01:56] wjk opened #197 "Cygwin - Corrupt Install"
I just finished installing Cygwin using `cyg-get` and Chocolatey, only to find that for some strange reason none of the symlink files in Cygwin's `/bin` folder were properly marked as SYSTEM (which is required to get Cygwin to treat them as symlinks and not as regular files). I had to go into that folder and `attrib +s` each file one by one before they would function correctly.

[2016-04-03 13:43] woolyss commented on #196
Hello!
I am Jerry, admin of chromium.woolyss.com
I sent an email to Thomas Walter (choco admin) about this issue but he does not give me an answer.

The Chromium developers work currently on LKGR builders and Libfuzzer infrastructure...
https://bugs.chromium.org/p/chromium/issues/detail?id=539572
...but I do not know when they will provide binaries (into the Continuous repo), as before.

@gep13: y

[2016-04-08 08:12] vashirov opened #199 "(cyg-get) command not found"
After installing cyg-get, cyg-get command is not found. Only cyg-get.bat is present. I had to manually create symlink from cyg-get.bat to cyg-get.

[2016-04-11 00:18] dtgm commented on #128
https://github.com/chocolatey/chocolatey-coreteampackages/commit/b42fe67f62c5aa20b53595c02caee66649489c88

Proposed  | .
--- | ---
package id | `chocolatey-fosshub.extension`
extension/module name | `Get-UrlFromFosshub`
module filename | `Get-UrlFromFosshub.psm1`
nupkg full path | `extensions/chocolatey-fosshub.extension/extensions/Get-UrlFromFosshub.psm1`

[2016-04-11 00:34] dtgm commented on #128
Maintaining many packages has given me a good exposure to various code conditions that would benefit to being translated into extensions. These would be code blocks in the `chocolatey*.ps1` files.

I'll try to catalog them and document them here so we might discover a best naming practice that can be applied.

@Redsandro Can you provide some examples that would not be posh? I can't think of any.

[2016-04-11 01:28] Redsandro commented on #128
@dtgm

Anything you (as in anyone making a helper) feel comfortable with.

Imagine you have `weirdChocoPackage`, only downloadable from `weirdSite`. Then you have a dependency on `weirdSiteDownloadHelper` which in turn has a dependency on `python`. Now the helper can be written in python rather than posh, and `weirdChocoPackage` can use the python script to get the download link.

There are also a

[2016-04-11 06:35] gep13 commented on #128
@Redsandro as you will see from my recent commits, I have gone for `chocolatey-fosshub.extension` as the package name.  The idea being that this package will contain all functions related to interacting with fosshub from chocolatey.  Contained within it, currently there is only one powershell file, but this can grow to as many as you want.  I think this level of granularity is one that gives us en

[2016-04-11 11:28] Redsandro commented on #128
@gep13 so far so good. Although some helpers will need something extra. Like the name of a link on a page and a regex for that specific software.

Check out [this helper](https://github.com/ferventcoder/chocolatey-packages/blob/master/automatic/foobar2000/tools/Get-FilenameFromRegex.ps1) I created for foobar. Some sites will structurally need something like that.

[2016-04-11 12:07] gep13 commented on #128
@Redsandro but equally, we could just be `chocolatey-foobar.extension`, right?  Granted, that is a package specific extension, rather than a package source extension, but the same reasoning exists behind it.  i.e. allowing the extraction of pieces of information for the package/source that is external to the actual installation of it.

[2016-04-11 12:21] Redsandro commented on #128
@gep13 perhaps that was a bad example. If it's just for one package, it can just be in the package installer. I just mean that there are certain services that have websites embed a link with a random token. The correct link + token can only be found when regexing for the software name in their preferred spelling. I can't remember where, but I have seen this before.

Look at this (outdated) helper

[2016-04-11 12:58] ferventcoder commented on #128
SourceForge doesn't need a helper - the `/download` at the end of the normal path that picks the appropriate mirror works just fine when using Chocolatey.

[2016-04-11 20:36] dtgm commented on #128
For "fun", here's a [list-vomit](https://github.com/dtgm/chocolatey-packages/wiki/Packages-containing-PSM1-files) of packages on Chocolatey (as of 20 feb) containing `psm1` files.

While a lot of these are package specific, I should dig deeper to check for shared function names across packages...

[2016-04-14 11:55] sergey-s-betke opened #200 "cyg-get doesn't work with cygwin 2.5.0"
With fresh install of version 2.5.0, the setup.exe installer does appear to be left anywhere (e.g. for use by cyg-get). The install runs fine, but afterwards there is no setup.exe in C:/tools/cygwin.

[2016-04-14 17:47] tadeu commented on #176
I'm having this problem too, and the latest cygwin (v2.5.0) does not seem to have `setup-x86_64.exe` or `setup.exe`

[2016-04-20 15:37] cwiggs opened #201 "Can't install any old versions of Cygwin."
I'm trying to install Cygwin 2.3.1 in Windows 2008 and am having issues.  I'm trying to install an old version since 2.5.0 seems to have problems with Cyg-get.  Attempting to install with debug mode on shows that it is having trouble downloading https://mirrors.kernel.org/sourceware/cygwin/x86_64/setup.xz.sig and maybe a few other files in https://mirrors.kernel.org/sourceware/cygwin/x86_64/ howev

[2016-04-20 15:48] cwiggs commented on #201
The same thing happens with I try to install cygwin 2.5.0 using --version, if i install without --version it works fine.

Does not work:
`choco install cygwin --version=2.5.0 -y -d`

Works:
`choco install cygwin -y -d`

[2016-04-21 14:18] cwiggs commented on #200
I found a workaround for this issue.

1. Download the setup installer on the cygwin website: [https://cygwin.com/setup-x86_64.exe](https://cygwin.com/setup-x86_64.exe)
2. Rename the installer to cygwinsetup.exe
3. Move the installer to C:\tools\cygwin (or wherever you install cygwin)

Now cyg-get works fine.

[2016-04-21 14:19] cwiggs commented on #176
@tadeu I found a workaround for this issue.

1. Download the setup installer on the cygwin website: [https://cygwin.com/setup-x86_64.exe](https://cygwin.com/setup-x86_64.exe)
2. Rename the installer to cygwinsetup.exe
3. Move the installer to C:\tools\cygwin (or wherever you install cygwin)

[2016-04-21 14:42] cwiggs commented on #197
I believe this is a duplicate issue of [this issue](https://github.com/chocolatey/chocolatey-coreteampackages/issues/101)

[2016-04-21 23:05] botmtl opened #202 "mp3tag"
mp3tag auto package is messed up.  it's a ketarin package.  ketarin zonked somewhere along the line because you'll find this:
[code]

I checked, and version seems like a ketarin-defined variable.

[2016-04-27 17:39] ferventcoder opened #203 "(clover) Broken on Windows 7"
Reporting for @mullerp. See https://gitter.im/chocolatey/chocolatey.org?at=5720f86b0f156f102b415309 for details.

[2016-04-27 17:43] mullermp commented on #203
https://dpaste.de/C1D5

relevant log --  install fails on windows 7 64 bit

[2016-04-28 20:27] TomOne commented on #202
@botmtl, thanks for this. The Website of mp3tag changed and broke the ketarin job. It’s fixed now: https://chocolatey.org/packages/mp3tag/2.77.0.20160428

[2016-04-28 20:27] #202 closed

[2016-04-29 07:33] gep13 opened #204 "(PartitionAssistantLite) Failing verifier"
https://chocolatey.org/packages/PartitionAssistantLite
https://gist.github.com/choco-bot/4f08bd345168a44485b5e6ba47cf760f

[2016-04-29 07:46] gep13 opened #205 "ant-renamer is failing verifier"
https://gist.github.com/choco-bot/f83c1f0da0e74be30f4ec31203b1e32f

[2016-05-02 18:05] kieranjol commented on #193
As @charlieman mentioned, upgrading powershell fixes the issue.

[2016-05-02 22:55] nwra-admin opened #206 "Thunderbird package is outdated"
Thunderbird package installs Thunderbird 38.7.0, which is the same version as reported by Chocolatey.

There are two security fix releases since, and one major release.

[2016-05-08 12:47] TomOne commented on #206
Thanks for your report. The automatic package was broken, but now it’s fixed and updated: https://chocolatey.org/packages/thunderbird/45.0

[2016-05-08 12:47] #206 closed

[2016-05-08 20:51] shabiel commented on #200
BTW, if you installed the 32 bit Cygwin, the right set-up file is: https://cygwin.com/setup-x86.exe.

[2016-05-13 04:01] ferventcoder opened #208 "(Python3-x86_32) Attempts to create ignore files for the entire computer"
https://github.com/chocolatey/chocolatey-coreteampackages/blob/220dfd6552a78894cfd01b63ae301a8a7f0773fa/automatic/python3-x86_32/tools/chocolateyInstall.ps1#L24

`$destination` is not defined. Please fix.

[2016-05-13 05:41] dtgm commented on #208
https://github.com/chocolatey/chocolatey-coreteampackages/issues/79#issuecomment-182895775

[2016-05-13 09:10] pauby opened #209 "Palemoon 26.2.2 x64 fails to download"
Pale Moon 26.2.2 package is very broken for x64. The Win32 download uses the Pale Moon mirror whereas the x64 version uses the FossHub site which doesn't appear to have the software.

The $url64 variable needs to be amended from 'http://www.fosshub.com/genLink/Pale-Moon/palemoon-26.2.2.win64.installer.exe' to 'http://relmirror.palemoon.org/release/palemoon-26.2.2.win64.installer.exe' (which matche

[2016-05-15 17:49] TomOne commented on #209
Thanks for the report. It’s fixed in https://chocolatey.org/packages/palemoon/26.2.2.20160515.

[2016-05-15 17:49] #209 closed

[2016-05-16 06:37] gep13 opened #210 "cdrtfe is failing verifier"
https://chocolatey.org/packages/cdrtfe/1.5.5

[2016-05-16 06:38] gep13 opened #211 "bulk-crap-uninstaller is failing verifier"
https://chocolatey.org/packages/bulk-crap-uninstaller/3.3.1

[2016-05-16 06:38] gep13 commented on #211
https://gist.github.com/choco-bot/70f3947a73657f619aa3fd2b08376a92

[2016-05-16 06:38] gep13 commented on #210
https://gist.github.com/choco-bot/facc53fb01e6f3d7f2096a3e3b135b76

[2016-05-16 06:42] gep13 opened #212 "assultcube failing verifier"
https://chocolatey.org/packages/assaultcube/1.2.0.2

https://gist.github.com/choco-bot/554e960ecd5552752bdd39ef35c01b83

[2016-05-16 06:43] gep13 opened #213 "maxima failing verifier"
https://chocolatey.org/packages/maxima/5.38.1

https://gist.github.com/choco-bot/af69eb71615742f9950bded3388e9eb1

[2016-05-18 05:07] rahulserver commented on #176
@cwiggs your workaround works for me too!

[2016-05-18 11:25] dtgm opened #214 "Proposed: Chocolatey uninstall extension"
https://github.com/chocolatey/chocolatey-coreteampackages/commit/f7fe281d114f1fbb4e7ab80069ae28e8d66cc776

Proposed  | .
--- | ---
package id | `chocolatey-uninstall.extension`
function | `Get-UninstallRegistryKey`

More functions could be included, but initially I am working at resolving issue https://github.com/chocolatey/choco/issues/739, originally logged at https://github.com/dtgm/chocolatey-

[2016-05-18 13:28] dtgm commented on #214
Related discussion about preferred naming of extensions and functions #128

[2016-05-18 14:11] gep13 commented on #214
@dtgm I think this would be a good addition, and would happily accept a PR for this :-)

In terms of naming, I think what you have suggested, i.e. `choco-uninstall.extension` makes sense.  To me, this says exactly what it does.  It is an extension, for chocolatey, that deals within uninstallation.  Within this extension, one or more helper methods can be created to help with the process of uninsta

[2016-05-18 14:17] dtgm commented on #214
It's already up. Take a look. https://github.com/chocolatey/chocolatey-coreteampackages/commit/f7fe281d114f1fbb4e7ab80069ae28e8d66cc776

I named it `chocolatey-uninstall.extension` to follow your lead, but I see you haven't pushed your extension yet so we could change to using `choco-` like `choco-uninstall.extension` (less typing)

[2016-05-18 14:20] gep13 commented on #214
@dtgm yeah, I need to finish off that extension, got distracted with other stuff.  Can't actually remember where that is at.  Need to look at it again soon.

[2016-05-18 14:21] dtgm commented on #214
https://github.com/chocolatey/chocolatey-coreteampackages/tree/master/extensions/chocolatey-fosshub.extension

[2016-05-18 14:23] gep13 commented on #214
@dtgm Sorry, didn't mean physically where the files are, more, what I still need to do with it :-)

In terms of naming, I think chocolatey-uninstall.extension makes sense.

This would mean that we would have:

`chocolatey.extension`
`chocolatey-fosshub.extension`
`chocolatey-uninstall.extension`

So we would have some consistency.

[2016-05-18 14:26] dtgm commented on #214
`chocolatey.extension` ? Are those built-in helpers?

[2016-05-18 14:26] gep13 opened #215 "Push chocolatey-fosshub extension and update packages"
Any package that uses the Fosshub Utility function should be changed to use the Fosshub extension.

[2016-05-18 14:27] gep13 commented on #214
That is the official extension that ships as part of the Professional license.  It brings in the features to chocolatey that you get once you buy a license.

[2016-05-18 14:30] dtgm commented on #215
Affected packages:

audacity
avidemux
datacrow
hwinfo.install
hwinfo.portable
IrfanView
irfanviewplugins
kitty.portable
lightalloy
mkvtoolnix
palemoon
smplayer

[2016-05-18 14:31] gep13 commented on #215
What a guy! :+1:

I am away to get on a flight, but I will look to taking care of this on the flight :smile:

[2016-05-18 14:34] dtgm commented on #215
Well aren't you going to have the most exciting flight ever! (List current as of 2016-04-23)

[2016-05-18 14:40] ferventcoder commented on #214
Left notes on the commit - the file name is too deep. It will work but it's way too redundant.

[2016-05-18 19:26] dtgm commented on #214
Total affected packages needing to transition to using this extension is probably at least **728** as of 2016-04-23 (plus new packages added in last month)

At least **102** were using the template provided by `choco new`

[2016-05-19 18:32] gep13 commented on #215
- [x] audacity
- [x] avidemux
- [ ] datacrow
- [ ] hwinfo.install
- [ ] hwinfo.portable
- [ ] IrfanView
- [ ] irfanviewplugins
- [ ] kitty.portable
- [x] lightalloy
- [x] mkvtoolnix
- [ ] palemoon
- [ ] smplayer

[2016-05-19 18:33] gep13 commented on #215
@dtgm It doesn't look like palemoon uses fosshub anymore, so I think it can come off the list.

[2016-05-20 14:24] gep13 opened #217 "autohotkey is failing verifier"
https://gist.github.com/choco-bot/abe5182bc2c8867ee55d6e2ebcaa19a3

https://chocolatey.org/packages/autohotkey

[2016-05-21 00:29] dtgm commented on #215
@gep13 Good to know, but that isn't a list I was maintaining. I just did a quick grep for packages containing "fosshub" in the install files. It looks like you removed those comments now though.

[2016-05-22 13:32] dtgm commented on #215
@gep13 pushed https://chocolatey.org/packages/chocolatey-fosshub.extension

Related question, do you know of a way to add leading space in markdown? I tried

[code]
and
`&nbsp;` isn't permissible ... wait, I wonder if `&amp;nbsp;` would work...

[2016-05-22 13:34] dtgm commented on #215
^^^ Oh dang, that works.

[2016-05-22 14:58] dtgm commented on #36
@Redsandro Just to clarify, fosshub uses CloudFlare, so it is CloudFlare implementing this restriction, and not something FossHub has control over AFAIK. Just something to keep in mind for other software distribution sites that may switch over to CloudFlare CDN.

@ferventcoder Because of ^^^, chocolatey packages should also be affected. I've seen CloudFlare captcha quite often when web browsing vi

[2016-05-22 23:03] wjk opened #218 "Classic Shell Package Outdated"
When I try to install the `classic-shell` package on my Windows 10 computer which I just upgraded to build 14342.1001, a popup appears telling me that "Classic Shell is not compatible with this version of Windows." Clicking the popup gives me [a "help" page](http://windows.microsoft.com/en-us/windows-10/incompatible-app-windows-10) that simply restates the error message.

Inspection in the `C:\Pro

[2016-05-23 03:15] ferventcoder commented on #36
MediaFire has a bandwidth of a certain amount that rolls over each month (unused amounts). I don't remember all of the details but I have one of those.

CloudFlare has those captchas turned on by default, but you can adjust them. I had to adjust them for dot org.

[2016-05-23 12:04] piotr-cz commented on #218
I'm not sure if this issue is related, but when executing `cup classic-shell`, I'm getting an error

[code]

Hopefully the v4.2.7 will fix it

[2016-06-03 16:18] ferventcoder opened #222 "(core.extension) Get-UninstallKey doesn't handle 64-bit registry from 32-bit processes"
Related to #214

On https://github.com/chocolatey/chocolatey-coreteampackages/commit/f7fe281d114f1fbb4e7ab80069ae28e8d66cc776
@DarwinJS mentioned that the code doesn't work with 32-bit processes attempting to access 64-bit keys. This is because it doesn't use the flag to override Registry Redirection. This could have issues with processes such as Chef that run in 32-bit mode calling this.

[2016-06-03 16:19] ferventcoder commented on #222
cc @mwrock @dtgm

[2016-06-03 17:17] dtgm commented on #222
I don't see redirection [listed](https://msdn.microsoft.com/en-us/library/windows/desktop/aa384253%28v=vs.85%29.aspx) as affecting these keys:

[code]

[2016-06-03 17:33] DarwinJS commented on #222
@ferventcoder - I posted powershell code back to the original commit - handles some other edge cases as well.

[2016-06-03 19:13] ferventcoder commented on #222
@dtgm are you familiar with registry redirection? Basically the 64bit view of the registry is missing unless explicitly opted into by a 32 bit process.

[2016-06-05 12:37] gep13 opened #223 "(PartitionAssistant) fix"
https://chocolatey.org/packages/PartitionAssistant

[2016-06-05 12:41] gep13 opened #224 "Fix clementine"

[2016-06-07 15:22] chantisnake opened #226 "cyg-get error"
I try to run cyg-get and it is giving me this error:
[code]

I tried reinstall Cygwin， and it still doesn't work

[2016-06-07 15:41] chantisnake commented on #226
I have noticed the `$cygwinSetup = "C:\cygwin64\cygwinsetup.exe"`

but I cannot find `cygwinsetup.exe` anywhere in my computer...

[2016-06-07 15:50] chantisnake commented on #226
I copied the install file into Cygwin path and rename it to `cygwinsetup.exe works`

[2016-06-10 18:42] godofgrunts commented on #193
This is fixed by https://github.com/chocolatey/chocolatey-coreteampackages/pull/225

[2016-06-10 22:23] dtgm commented on #117
@gep13 did you do this manually or script?

rel: https://github.com/dtgm/chocolatey-packages/issues/213

[2016-06-11 18:06] dtgm opened #233 "ffdshow-x86_32 should be deprecated"
[ffdshow-x86_32](https://chocolatey.org/packages/ffdshow-x86_32) is managed by chocolatey user, but not in this repo (lost in migration from purity's repo?)

Since the title is

`ffdshow tryouts (forced 32-bit)`

this package should probably be deprecated since we should be able to

`choco install ffdshow --forcex86`

[2016-06-11 19:28] dtgm commented on #233
I see it was removed from repo about a month ago https://github.com/chocolatey/chocolatey-coreteampackages/commit/b50df163caed5961b1dde6d8d0b1f1ad5111d694

[2016-06-12 15:31] chantisnake opened #234 "cygwin install does not start in `await`"
when installing Cygwin there is a windows pops up, but the console does not wait until the window finish to finish the install.

I think that is why my `apt-cyg` package fail the install test.

https://gist.github.com/choco-bot/57b7c40f1682227a954e620ce72537af

[2016-06-12 17:46] ferventcoder commented on #234
@chantisnake I'm not sure I understand this statement clearly. Are you saying that ~~chocolatey~~ **chocolatey's community feed aka chocolatey.org** should prompt you within 3 business days if the system is still waiting on you to take corrective action? We have a service that will prompt you if it is still waiting after 20 days of last submission and then will automatically reject the package if

[2016-06-12 17:51] ferventcoder commented on #234
I'm not sure what we are seeing here - it doesn't seem to be installing cygwin first.

[2016-06-12 17:56] ferventcoder commented on #234
If anything this is a bug with Chocolatey - I just ran this in the test environment and everything worked out well.  https://github.com/chocolatey/chocolatey-test-environment

[2016-06-12 17:56] #234 closed

[2016-06-12 17:57] ferventcoder commented on #234
Closing as not an issue. Let's see how the rerun of the package verifier works out.

[2016-06-12 18:09] chantisnake commented on #234
I have reread the latest bug report.
Here is the error:
https://gist.github.com/choco-bot/459fdaefe5279748b99fa767cd5ec65f#file-install-txt-L836
it cannot find Cygwin bash...

and I trace that back, and then found out that there is an error when installing Cygwin:
https://gist.github.com/choco-bot/459fdaefe5279748b99fa767cd5ec65f#file-install-txt-L658

[2016-06-12 18:18] ferventcoder commented on #234
I see that now - Not sure why it didn't pick up the updated package for the first rerun, it should have done that after the 30 minute CDN timeout.

[2016-06-12 18:19] ferventcoder commented on #234
I'm running it on the test environment and it is passing for me. Could be there was some issue with the cygwin install that is corrected in the updated beta.

[2016-06-12 18:24] chantisnake commented on #234
That is a different issue. I am pretty sure when I begin setting up this laptop, I have seen Cygwin not starting on await... But I cannot recreate it now... I am not sure why, I will try again.

[2016-06-12 18:27] ferventcoder commented on #234
Alright - I just read over the logs and looked at the package and found it was not installing cygWin first, so I went to investigate that a bit more deeply.

[2016-06-12 18:44] chantisnake commented on #234
Thank you for that. I really appreciate your help.

[2016-06-13 18:38] gep13 opened #235 "(PandaFreeAntivirus) Ketarin job error"
@Redsandro can you take a look at this?

When trying to run the ketarin job, I see the following in the log:

[code]

Something doesn't look right to me in the xml file, there are two Jobs nodes.  Is that intentional?

[2016-06-13 19:10] gep13 commented on #233
@dtgm happy to take your guidance on this.  What do you need from me?

[2016-06-13 19:14] dtgm commented on #233
I should of tagged @TomOne to ask why he removed the pkg without deprecating. Thought maybe he forgot to push it or something.

[2016-06-13 19:18] gep13 commented on #117
@dtgm fairly sure that this would have been done manually, after doing a search for each of the admin helpers.  I have started doing what you do and adding the script that is used in PR's where a chunk of work was done.

[2016-06-13 19:19] gep13 commented on #193
@godofgrunts so, are we in a position to close out this issue?

[2016-06-13 19:19] #193 closed

[2016-06-14 01:53] Redsandro commented on #235
I'm not sure. I'm not seeing what you are referring to. I don't see the double job node? Could you quote line numbers?
https://github.com/chocolatey/chocolatey-coreteampackages/blob/master/automatic/PandaFreeAntivirus/PandaFreeAntivirus.ketarin.xml

I just cut copied the xml part from my own autopackage (which never gets to run amymore because I don't have a running Windows machine since 2014 or s

[2016-06-15 19:51] chantisnake opened #236 "cygwin error when installing in the test environment"
see this #234.

and it still gives error will installing, this is the latest automate test. (I push this to change the package name)
https://gist.github.com/choco-bot/8dc98c1a7b9a6ecc98487f7c88488abc#file-install-txt-L652

[2016-06-18 03:16] wjk opened #237 "Cygwin Excessive Shimming"
I have installed Cygwin through Chocolatey, and, by default, it installs into a subdirectory of the package folder. Chocolatey then recursively scans that directory for `*.exe` files, and shims every one it finds. The problem is, though, these EXEs do not run properly unless launched from within Cygwin. Therefore, I get some 500-odd shim EXEs in my Chocolatey bin directory (and, therefore, in my P

[2016-06-18 12:51] ferventcoder commented on #237
I've asked that CygWin not be installed into the Chocolatey Lib folders as that breaks quite a bit of things, but it appears that my requests have not been implemented. I may need to just do this.

[2016-06-19 02:23] Link-Satonaka opened #238 "chromium issues"
The "mini_installer.exe" of this package drops chromium into the Appdata of the installing user, which is not a functional location for multi user systems.

Furthermore, this is the "chromium" package, but it provides snapshot builds. This should be providing stable releases, which are available from the same source currently used.

https://github.com/chocolatey/chocolatey-coreteampackages/issues/

[2016-06-19 07:03] woolyss commented on #238
**Lee James** done a good suggestion about that, at https://chocolatey.org/packages/chromium#comment-2613353872

$ mini_installer.exe --system-level --do-not-launch-chrome

The above commandline installs Chromium to the appropriate %ProgramFiles% directory, and also suppresses the first-run dialog, which is often beneficial.

There is NO **stable** OFFICIAL Chromium version. The official developer

[2016-06-19 07:24] Link-Satonaka commented on #238
Oh I know, I read your site. You provide the version that becomes release version Chome, and you also note that linux has "release builds".

This package should be using these release builds. Snapshots could still be provided as a beta (which is what it is) in the proper way that chocolatey provides for betas, the  -pre swtich. `choco install chromium -pre`.

I did check virus total, I just though

[2016-06-19 07:35] woolyss commented on #238
Agree with your good suggestion.

Maybe. I do not use it.
I prefer an independent antivirus. I choose Avira. There is no problem with Chromium, Flash or Google Chrome.

[2016-06-19 13:48] ferventcoder commented on #238
Note that VirusTotal is run against all packages, including remote
resources it needs to download first. That means at the time the package is
approved, the binaries are validated to be fine. Of course the remote
resources can change later, so the checks on the site are only good when
the hashes match. For that reason we suggest Choco Pro, it does a runtime
check of what is actually downloaded aga

[2016-06-25 01:21] dtgm opened #240 "chocolatey-uninstall.extension fixes"
Make changes to extension as noted in https://github.com/chocolatey/choco/issues/815

[2016-06-25 14:42] yukihiko-shinoda opened #242 "Can't install aptana-studio"
I can't install aptana-studio by using chocolatey.
It seems to fail at download from

[code]

I think it must be

[code]

[2016-06-25 15:30] #240 closed

[2016-07-01 15:49] teknowledgist opened #243 "PDFCreator problems"
Two issues here:

With Chocolatey 0.9.9.12, PDFCreator installs without error, but also installs PDF Architect.   PDF Architect is a separate uninstall, so a `choco uninstall pdfcreator` removes PDFCreator, but leaves Architect behind.

With Chocolatey 0.9.10.3, PDFCreator does not install ([error log here](https://github.com/chocolatey/chocolatey-coreteampackages/files/343769/ChocolateyLog.txt)),

[2016-07-03 19:56] wjk commented on #222
@ferventcoder I just wanted to point out that you can actually use the .NET Registry APIs to explicitly open either the 64-bit or the 32-bit Registry views, no matter what the bit-width of the system or the current process is. You can do so using the [`Microsoft.Win32.RegistryKey.OpenBaseKey()`](https://msdn.microsoft.com/en-us/library/microsoft.win32.registrykey.openbasekey%28v=vs.110%29.aspx) me

[2016-07-06 16:54] nwra-admin opened #244 "Thunderbird package out of date."
Thunderbird package installs Thunderbird 45.1.1, which is the same version as reported by Chocolatey.

There is now a security update to 45.2.0, which was released June 30th, there is no status shown on the packages page for 45.2.0. The latest version shown on the package page is 45.1.1.

[2016-07-06 17:06] ferventcoder commented on #222
@wjk On the PowerShell side, this needs to work all the way back to PowerShell v2 / .NET Framework 2.0 (not 3.5, 2.0).

[2016-07-09 01:11] RedBaron2 commented on #238
I have proposed a new install file for chromium that will if detection the Chromium install Key into the HKCU or HKLM. The #246 Pull request is referencing the new install file.

This will require the first install to be done with the command line switches like so `mini_installer.exe --system-level --do-not-launch-chrome`

I hope this also gets the chromium package up to the latest version of 54.0

[2016-07-10 19:42] gep13 opened #247 "Load all ketarin.xml files each time we run the packages"
This will save issues where out of date ketarin files are loaded into the db, compared to what is in GitHub.

[2016-07-11 00:57] dtgm commented on #247
basically missing this

https://github.com/ferventcoder/chocolatey-packages/blob/master/ketarin/files/ketarinupdate.cmd#L19-L26
[code]

But that won't work for this repo since xml files are not in single directory.
Untested, but I think replacing `$env:ChocolateyBinRoot\ketarinupdate.cmd` with below will work

[code]

[2016-07-11 01:25] dtgm commented on #247
^^^ imports all xml files for every run though. Future improvement would be to only identify updated ketarin XML files in git and just import those.

[2016-07-11 06:34] gep13 commented on #247
@dtgm thanks for the heads up, I will give this a try.  It has been a LONG time since I set up this ketarin instance... where am I putting that script again?  Also, how to know if things are working as expected?  Thanks!

[2016-07-11 14:27] gep13 opened #248 "Fix problem with Calibre package updating"

[2016-07-11 16:40] #244 closed

[2016-07-11 18:21] gep13 commented on #244
@nwra-admin thanks for coming back on this one.  The automatic updater stopped working, hence why the new versions hadn't appeared.

[2016-07-11 18:23] nwra-admin commented on #244
Glad to help

[2016-07-11 21:02] joelhandwell opened #249 "choco install python gets message: Access to the path 'C:\WINDOWS\system32\**\**.exe.ignore' is denied."
While running `choco install python` in Windows 10, I got following message:

[code]

[2016-07-12 14:22] dragon788 opened #250 "For Python 2/3 packages, please add pip.exe to PATH through shim to <PYTHONPATH>\Scripts"
Since Python 2.7.9 and Python 3.4 they have included pip with Python. Almost anybody using Python will want to have pip available in their path so they don't have to run ```python -m pip install <somepackage>``` every time instead of just ```pip install <somepackage>```.

[2016-07-12 14:49] dragon788 commented on #182
@gep13 This appears to have passed through the verifier at some point since it eventually made it to the site?

[2016-07-12 18:58] gep13 opened #251 "freecad is failing verifier"
https://gist.github.com/a9ea11db2bfb16b10fdd5e2edee0d887

[2016-07-12 18:59] gep13 opened #252 "codelite is failing verifier"
https://gist.github.com/choco-bot/b6ee8b6cd29a8d70e6d504c0c58fa8a1

[2016-07-12 19:09] gep13 opened #253 "h264tscutter is failing verifier"
https://gist.github.com/choco-bot/893aa6ef8ba01beccbc7a61b8bd66cf8

[2016-07-12 19:10] gep13 opened #254 "encfs4win is failing verifier"
https://gist.github.com/90700ef38e3aaf8420e4d9f04dea42cc

[2016-07-12 19:20] gep13 commented on #182
@dragon788 yes, but there are still some ongoing issues with all the python packages, that I need to try to find some time to look into. :-(

[2016-07-12 19:25] jbisson opened #255 "addging python launcher (py.exe) to the python package"
It seems that py.exe (python launcher) is not being package on windows for the python package.

Would be nice to be added as part of the package.

[2016-07-12 19:29] gep13 commented on #255
@jbisson do you have any thoughts on how to achieve this?  I would welcome any help that you can offer.

[2016-07-12 19:36] ferventcoder commented on #255
@jbisson is this a particular option you select during the install of python? The package is a wrapper around the native installer.

[2016-07-12 20:28] dragon788 commented on #182
@gep13 Let me know if there is a process outlined (documentation) for testing the applications/verifier locally and I'd be happy to help if I can. I've been doing a lot with Python the last week or so and dove pretty deep on it last year on Windows, so I may be able to help diagnose root causes and fixes.

[2016-07-12 21:17] 030 opened #256 "eclipse"

[2016-07-12 23:25] jbisson commented on #255
Interesting. I didn't see the option to. Do I need to specify a different choco command if I want options?

[2016-07-13 00:06] ferventcoder commented on #255
@jbisson I meant from the original native installer, is there an option in the install steps to do what you are asking?

[2016-07-13 00:06] ferventcoder commented on #255
You can run `choco install python --not-silent`

[2016-07-13 06:46] gep13 commented on #182
@dragon788 sweet! I think what you are looking for is this:

https://github.com/chocolatey/chocolatey-test-environment

Let me know if you have any questions about getting it set up.

[2016-07-13 23:49] jbisson opened #258 "choco uninstall python3 does not remove it from the programs and features list"
If you install python and uninstall it, it doesn't remove it from the programs and features list. Not sure if this is a known issue ?

How to reproduce:
choco install python3
choco uninstall python3

see both Python 3.5.1 and Python 3.5.1 Launcher in the windows programs and feature list.

[2016-07-13 23:51] jbisson commented on #255
ok, if I do --not-silent I'm getting the same installer promp and it works fine, however, without it, it doesn't install it.

In the installer dialog installer, the launcher is checked by default so it's kind of weird that it's not being installed when using choco install python3 ?

For example:
1) choco install python3
2) where py
result -> not found
1) choco install python3 --not-silent
2) where

[2016-07-15 19:54] obilodeau commented on #111
For Python3 this is done using `PrependPath=1` installer option: https://docs.python.org/3/using/windows.html

[2016-07-15 20:03] obilodeau commented on #111
Python 2's problem was likely fixed with: ce24b5c3bc and 5e214d3dd9 which introduced `\Scripts` injection into $env:PATH.

I'm doing a pull request for python 3. I tested it and it works (adding pip installed scripts to path). I can also add `ADDLOCAL=ALL` to Python 2 while I'm at it. Just let me know if interested.

[2016-07-15 21:57] ferventcoder commented on #111
Those two look like local changes that would not be there once the script exits. In other words, those are not permanent changes to the PATH, only temporary. If this is not what you are looking for, then I would suggest employing an additional fix.

[2016-07-15 22:08] obilodeau commented on #111
Ok, I'll update my PR to include the Python 2 fix as well then. Should I
remove the 'machine' thing (it was previously stated to remove it) and path
modifications as well you think?

[2016-07-16 14:15] ferventcoder commented on #111
remove the 'machine' thing (it was previously stated to remove it) and path
modifications as well you think?

You may need to clarify by pointing to some code here.

[2016-07-16 18:01] obilodeau commented on #111
Sure. I was on mobile yesterday when I wrote this, otherwise I would have included it ;)

I'm referring to [these two lines](https://github.com/chocolatey/chocolatey-coreteampackages/blob/master/automatic/python2-x86_32/tools/chocolateyInstall.ps1#L78):

[code]

The path was added by the commits (ce24b5c and 5e214d3) and based on the commit message I would say it was a failed attempt at making it

[2016-07-16 22:26] DHowett commented on #249
`$destinationFolder` is empty [here](https://github.com/chocolatey/chocolatey-coreteampackages/blob/master/automatic/python3/tools/chocolateyInstall.ps1#L24), which causes it to spill out into `pwd`; however, I can't fathom why we need to .ignore every .exe to begin with.

If there's something somewhere that checks for the presence of a .ignore file for every executable, that seems fragile and bro

[2016-07-17 20:24] ferventcoder commented on #249
Shim generation, a tool that puts executables on the PATH without cluttering the PATH automatically, inspects a package for executables. It also looks for shim director files such as .ignore files and .gui files to tell it to ignore. The process of doing this has been around for 5 years (pretty much all of Chocolatey's existence), which is no more fragile than finding the chocolateyInstall.ps1/cho

[2016-07-17 20:29] ferventcoder commented on #249
Note that Chocolatey inspects package contents ***only***, not the entire system. I'm not sure what was meant by your comment @DHowett (whole system or just local search).

[2016-07-19 05:40] DHowett commented on #249
@ferventcoder Sorry, my comment stemmed from a misunderstanding of what's going on. I didn't intend to cast aspersions over Chocolatey.

[2016-07-21 16:37] woolyss commented on #238
Thank you RedBaron2 for your proposition. All seems works fine!

[2016-07-21 18:57] ferventcoder commented on #249
@DHowett I had to look up that word :D

[2016-07-21 19:02] RedBaron2 commented on #238
@woolyss Thanks for taking the time to check, and more thanks for the website.

@ferventcoder @gep13 Could you double check on PR #246 and PR #259 adding these to the current

[2016-07-25 16:51] Link-Satonaka commented on #200
I intentionally left this out, because chocolatey downloads the setup file to `%TEMP%` in the process of installing cygwin; why have the setup be downloaded twice and exist twice on the drive? I do not use cyg-get myself so I did not know I was breaking cyg-get at the time. However, I think the answer is to modify cyg-get such that it uses the setup file, with the correct name, in the appropriate

[2016-07-27 19:40] gep13 commented on #238
@woolyss @RedBaron2 I have just merged both of the open PR's, so lets see how this goes.

Going to close this for now, feel free to re-open if required.

[2016-07-27 19:40] #238 closed

[2016-07-27 20:01] obilodeau commented on #111
This bug can be closed since #261 was merged.

[2016-07-27 20:09] gep13 commented on #111
@obilodeau thanks for reminding me :smile:

[2016-07-27 20:09] #111 closed

[2016-07-28 02:57] Link-Satonaka commented on #238
@woolyss One flaw until perfection! The `--system-level --do-not-launch-chrome` installs to `Program Files (x86)` even though it only contains an x86_64 binary. It should only install to `Program Files`.

Thanks

[2016-07-28 03:47] RedBaron2 commented on #238
<chromium Issue '380177' comment number 30 at bugs.chromium.org>

@Link-Satonaka This is a problem with the installer for Chromium.

Everyone else this issue has been solved. Thank You for all your help. :+1:

[2016-08-03 16:50] C-Duv opened #264 "[chromium] Avoid running the application after installation (annoying new browser window)"
When `chromium` package is installed, a new Chromium's browser window opens up. I am guessing this is because the upstream installer runs the application once it is installed.
Is it possible to avoid running the application post-installation (via some switch on the upstream's installer) or, at least, kill it from the package?

I tried handling that on my side with a `Stop-Process` after `choco ins

[2016-08-03 19:12] gep13 opened #265 "FossHub Problems"
Based on this:

http://us8.campaign-archive1.com/?u=86a6d80146a0da7f2223712e4&id=f2fe8dbe6b

Something needs to be done about the following packages:

- [x] audacity
- [x] avidemux
- [x] lightalloy
- [x] mkvtoolnix
- [x] palemoon

Either we need to:

* not use FossHub and find an alternative download location
* or add a checksum to each package which will ensure that the correct, untampered, binar

[2016-08-03 19:13] ferventcoder commented on #265
OR both - use an alternate download location AND use checksums. Checksum requirement for all newly approved packages is likely moving up in the schedule based on this event.

[2016-08-04 09:12] Redsandro commented on #265
@ferventcoder can you show us an example of how to implement checksums in an autopackage? _No-one_ wants to do that stuff manually, and by no-one I mean me and probably most or all members of this repo. :smile:

@gep13 can you explain (for all intents and purposes, not just this one) how we would get from this point to having a fixed package with no new version repushed to the gallery, in a softwa

[2016-08-04 09:40] Redsandro commented on #265
@gep13 Damage has already been done. Assuming FOSSHub fixed their problems:

* `palemoon` works for now because new packages have automatically been pushed.
  * The Chocolatey virus scanner approved the package.
* The other packages can be re-pushed
* Add hash later, for now, users cannot install the packages.

[2016-08-04 09:50] Redsandro opened #266 "Export ketarin global config xml"
Can someone export the ketarin global config xml to the root of this repo (and keep it updated if the ketarin config changes)?

It really beats guessing.

//cc @gep13

[2016-08-04 09:59] gep13 commented on #266
@Redsandro what do you mean by guessing?

I can certainly do that, but I don't understand the benefit.

[2016-08-04 10:00] gep13 commented on #265
@Redsandro yes, there is a mechanism to do this.  @dtgm is already doing it on his repo.  I have reached out to him in order to try to figure out how to do it.

[2016-08-04 10:01] gep13 commented on #265
@Redsandro not sure I follow your second question though, sorry.

[2016-08-04 10:08] Redsandro commented on #266
@gep13 The benefit is one source of truth for any coreteam-ketarin related question, and an easy way of importing that configuration for testing purposes has a speed benefit because the people without access to the coreteam-ketarin-machine don't have to guess and manually fill in the config.

Maintainers don't know what global command is executed. I need to google for chocolatey's package document

[2016-08-04 10:19] Redsandro commented on #265
@gep13 will you quote here once @dtgm responded? I assume he's using something like the code I linked in my first post.

@gep13

Well, assuming you mean my second question in my [first reply](https://github.com/chocolatey/chocolatey-coreteampackages/issues/265#issuecomment-237497703), imagine a package is fixed with a checksum generator in this repo and/or the source is now clean. Can I trigger a

[2016-08-04 12:10] ferventcoder commented on #265
We've moved up the schedule on checksum requirements, so the community will be more covered.
https://github.com/chocolatey/choco/issues/112

For scripts - most of the work is done in https://github.com/dtgm/chocolatey-packages/blob/master/scripts/ketarin-settings-commands-02-afterupdatingapp.cs#L53 (@dtgm) and dtgm has shared how to hook that in before.

[2016-08-04 12:11] ferventcoder commented on #265
More information on moving up the schedule - we are flipping the switch on the checksum requirement on the community feed, so all new packages will need to be checksummed if they download resources.

[2016-08-04 12:49] Redsandro commented on #265
@ferventcoder

So basically all packages here are broken now. :smile:

We need to implement this in the ketarin global packages config @gep13 @TomOne . I didn't think it would be so complex. I was hoping ketarin had a built-in method for that.

@ferventcoder it will take some time to figure this out. And this will be problematic for all those individually maintained packages that download an insta

[2016-08-04 15:55] ferventcoder commented on #265
Not at all. They will just throw up big errors in the next version of choco and require a consumer to make that safety decision, not just leave it in the hands of the maintainers of the package.

We've been saying we are going to make checksums a requirement for some time now, we just no longer have the luxury of a smooth transition for the community like we'd originally hoped.

Agreed, but we've

[2016-08-04 17:48] Redsandro commented on #265
@ferventcoder

I believe you! Where exactly? Just curious. First time I'm hearing of it. Let me explain why.

I used to get a lot of information and call to action from:

* Notifications/push mail
  * Choco github
  * Core team github
  * Choco twitter
  * Google groups
  * Chocolatey webadmin
  * Kickstarter mail
  * Maintainer discussion
* Manually check
  * Chocolatey.org
  * Puppet Blog
  * Ch

[2016-08-04 18:02] ferventcoder commented on #265
We do, it's the newsletter.

[2016-08-04 18:04] ferventcoder commented on #265
And we've taken significant steps to reduce that traffic. From a moderator sense, that traffic has really been reduced.

[2016-08-04 18:06] Redsandro commented on #265
I would like to take this opportunity to emphasize that Chocolatey has really shapen up to be a very sweet deal. There has been lots of improvements all over.

[2016-08-04 18:09] ferventcoder commented on #265
I do agree that moving towards a better communication medium for all regarding important information with a very high signal to noise ratio. Typically that is done over the newsletter, but we need to do more in a single place to get information out. We are looking at options for this. Especially related to package maintainers on the community repository.

[2016-08-04 18:14] ferventcoder commented on #265
When you run `choco new` for packages, the documentation generated in there has been stating as much. As you've looked over the documentation surrounding `Install-ChocolateyPackage` and other items that download remote resources - https://github.com/chocolatey/choco/wiki/HelpersInstallChocolateyPackage (the checksum related parameters)

For literally two years (August 2014), we've been saying opti

[2016-08-04 18:34] Redsandro commented on #265
Which newsletter specifically? From what address? I will add an exception to my filter.

@ferventcoder

Okay, cool. Use of the word _'literally'_ indicates a sense of frustration. I mean no ignorance. You should know that I've _generated_ my first and last packages in 2012 using the go-to templating engine at the time, and ever since, all I do is copy-paste from existing packages to create new one

[2016-08-04 18:41] ferventcoder commented on #265
In this case it was meant because it was August 2014 and this is August 2016. So *literally* ;)

[2016-08-05 03:15] RedBaron2 commented on #265
I'm going to chime in here and state that the Chromium Package has just had the PR #267 #268  #269  done to implement checksum 'md5' because of the whole FOSSHub News. This was able to be done with the help of Woolyss wonderful API.

I would like to see about having the chromium package updated more frequently than seems to be done now. If that would take becoming the package Maintainer I guess I

[2016-08-05 12:24] Redsandro opened #270 "[Update] Chromium"
Continued from https://github.com/chocolatey/chocolatey-coreteampackages/issues/265#issuecomment-237745306

---

@RedBaron2 said:

@RedBaron2 I'm not sure what you mean. `chromium` is automatically updated pretty much [daily](https://chocolatey.org/packages/chromium). Are you suggesting multiple updates per day?

PR look good, but I don't feel comfortable merging without testing such a popular pac

[2016-08-05 13:16] Redsandro commented on #266
Also, I'd like the configuration to be imported by ketarin on a [vagrant box](https://github.com/chocolatey/chocolatey-test-environment) from the repo. Makes no sense to do it manually.

[2016-08-05 16:28] RedBaron2 commented on #270
Yes! that is exactly what I'm suggesting. The 'Chromium Package' was updated yesterday to a new version twice in one day. There have been times when the 'Chromium Package' has been updated as much as six times in one 24 hour period. I'm just suggesting a morning update and an evening update for the package. This would be nothing too serious, and an easy change that could be done in the schedule of

[2016-08-05 16:33] gep13 commented on #270
To be clear, the ketarin instance, which runs this chromium package is scheduled to check for new package versions every hour. So if a new version is detected, it will be pushed and approved within about 2-3 hours. So I think we have this covered, right?

[2016-08-05 17:09] RedBaron2 commented on #270
@gep13 Yeah that sounds fine. I was forgetting the moderation of the package would take extra time.

I have updated the Ketarin file and the install file for uniformity with the choco update packager.
I have also just tested the files.

`$checksum = @{$true = "2aa28074985b0ca6feda7d36a3d3b147"; $false = "034f48de10724f089d4f85945f55bca2"}[$systemIs64bit -eq 64]`

The checksums are placed and ready

[2016-08-05 18:35] Redsandro commented on #270
@gep13 I'm inviting you to merge this, as the new configuration needs to be implemented in ketarin before the new installer makes sense.

[2016-08-05 19:42] gep13 commented on #266
Also, I'd like the configuration to be imported by ketarin on a vagrant box from the repo. Makes no sense to do it manually.

If you can get something up and running, I would love to see it, and make use of it.

[2016-08-05 19:43] gep13 commented on #270
@RedBaron2 do you use Gitter?  Would love to chat about a few things if you have some time.  Thanks!

[2016-08-05 19:54] RedBaron2 commented on #270
@gep13 haven't heard of it. Just installed the package a moment ago.
I will shoot you a message when I get it up.

[2016-08-05 20:48] gep13 commented on #270
@Redsandro with the help of @RedBaron2 I think I have got this sorted out now, so I am going to close this for now.

We can re-open if it doesn't work after the next release.

[2016-08-05 20:48] #270 closed

[2016-08-05 20:49] gep13 commented on #264
@RedBaron2 do you know if there is anything that can be done here? Thanks!

[2016-08-05 21:38] Redsandro commented on #270
@gep13 aaight, that's what it's for. :+1:

@RedBaron2 package? I didn't know there was an app. Does it add anything valuable that the [gitter.im](https://gitter.im) website doesn't offer?

[2016-08-06 15:00] RedBaron2 commented on #270
@redsandro The package send to be a stand alone app. The interface is very similar to the website.

[2016-08-06 15:14] RedBaron2 commented on #264
@gep13 it is not supposed to do that at all. I will be working on the install to make it read a switch for system install soon.
@C-Duv The PR to fix the current md5 change might fix this issue also.

[2016-08-06 17:40] Tset-Noitamotua commented on #106
Want (actually NEED) to see Python 3 in `C:\Python35` (Python 2 in `C:\Python27` etc). or in their native installation DIRs.

`choco install python` makes a lot of trubble as it is now. There is an issue with pip ([pypi/pip #1997](https://github.com/pypa/pip/issues/1997#issuecomment-238027142)),  and `choco uninstall python` does not work correctly, though it tells so.

I think most Python user wa

[2016-08-06 18:51] RedBaron2 commented on #254
@gep13 That log shows Shimgen failing to make shim's for the other exe files in the zip. The one that is created is possibly the only one needed for the package. Shimgen should be able to be told to only create the only shim and exit. I'll look more at this next week.

[2016-08-06 19:54] gep13 commented on #254
@RedBaron2 nice one! :+1:

[2016-08-08 10:26] Tset-Noitamotua commented on #258
can confirm above reported issue:

[code]

Programs and Features after `choco uninstall python3`:

![image](https://cloud.githubusercontent.com/assets/5635462/17477057/300c07aa-5d63-11e6-9aa9-f6893aa8f073.png)

[2016-08-08 10:37] Tset-Noitamotua commented on #258
Python related .exe files from `chocolatey\bin` dir are not removed, too:

![image](https://cloud.githubusercontent.com/assets/5635462/17477292/cc9ba002-5d64-11e6-8e56-c7ec75d93678.png)

[2016-08-11 04:05] danwizard208 commented on #226
This is a duplicate of #200

[2016-08-11 05:25] #226 closed

[2016-08-12 02:27] wjk opened #272 "Add download checksums to packages"
The title really says it all. While #265 tracks the progress for the five packages in this repo that download binaries from FossHub, many other packages in this repo (`mixxx`, for example) also need download checksums added to their install scripts.

[2016-08-12 04:33] gep13 commented on #272
@wjk thank you for raising this. This is on my radar, and hoping going to get to this at the weekend.

[2016-08-17 16:31] AnthonyMastrean opened #273 "Have we experimented with QuietUninstallString yet?"
I recently started using the **chocolatey-uninstall.extension** and `Get-UninstallRegistryKey`. In investigating another `UninstallString`, I noticed that this application also had a `QuietUninstallString`.

[code]

Is this standard for all installed applications? If so, should we start recommending this in the package description and other docs (examples, etc.)?

[2016-08-17 16:39] ferventcoder commented on #273
Have you heard of auto uninstaller? Have you looked at the source code?

[2016-08-17 16:40] AnthonyMastrean commented on #273
Rob! I'm perpetually behind. I'll look :)

[2016-08-17 17:28] ferventcoder commented on #273
Most of that is written up at https://chocolatey.org/docs/commandsuninstall

And by the way, QuietUninstallString is not always available.

[2016-08-17 17:32] #273 closed

[2016-08-17 23:12] danwizard208 commented on #200
So you're recommending re-downloading the graphical installer every time we want to upgrade a package, rather than keeping it somewhere easily known (as opposed to a TEMP location, _designed_ to be periodically cleared out) for future package installs? This seems wasteful; copying the setup tool into the cygwin root folder, or possibly the bin directory seems an entirely reasonable thing to do. At

[2016-08-18 00:09] Link-Satonaka commented on #200
The cygwin setup.exe updates far more often than the chocolatey package, which only tracks the version of `cygwin.dll`. Redownloading that graphical installer periodically (a whopping 841KB) is a good thing.

[2016-08-18 14:02] cwiggs commented on #200
I'm not very familiar with how chocolatey works, but keeping a file that might need to be used later in a temp directory doesn't sound like a good idea. As far as I can tell cyg-get needs to use setup.exe every time it runs.

I certainly understand your logic here,  perhaps we could create a symlink, that way there aren't 2 copies of the file, but cyg-get still knows where the file is?

I had neve

[2016-08-23 18:07] Link-Satonaka commented on #200
I am not an authority on this, and I have in fact since stopped using cygwin in favor of msys2, so I no longer have a horse in this race :)

Submit a PR with your changes- though keep in mind that the `setup.exe` is updated periodically. It might be wise to account for that, some how.

[2016-08-24 17:11] jberezanski commented on #200
Perhaps setup.exe should be managed by a separate package, `cygwin-setup`?

[2016-08-24 20:08] sergey-s-betke commented on #200
I think in the `cygwin` package, we must build under cygwin-setup **shim** for the real location of the cygwin-setup! "point of interface" for cyg-get and other cygwin related packages. And in the `cyg-get` package to use only "shimed" cygwin-installer. `cyg-get` in this case will be able to work with different versions of cygwin, regardless of the location of the cygwin-setup.

[2016-08-29 08:05] AndrewSav commented on #200
We actually do have a PR [here](https://github.com/chocolatey/chocolatey-coreteampackages/pull/125)  already, what's wrong with it?

[2016-08-29 22:13] sbaitz opened #278 "PDFCreator fails to install"
Not sure if it is a PDFCreator issue or a Chocolatey issue, but I'm not able to install PDF creator anymore.

Install commands I have tried:
_choco install pdfcreator_
_choco install pdfcreator -y --allow-empty-checksums_
_choco install pdfcreator -version 2.3.1 -y_

**CMD and PS all spit out the following:**
`ERROR: Running ["C:\Users\Administrator\AppData\Local\Temp\chocolatey\PDFCreator\2.3.2\P

[2016-08-29 23:27] sbaitz commented on #278
I'm super confused. I just tried again on a different machine (both were freshly provisioned Win10E 1607) and it worked. Adobe reader wasn't installed on the second machine, not sure if that makes a difference.

[2016-09-01 01:03] choco-bot opened #281 "[chocolateywebadmin] [Chocolatey.org] New disqus comment for maintainers of 'jre8'"
Comment: will the 102 version be released as well ?

This comment has been added to the disqus forum thread for jre8.

Package Url: https://chocolatey.org/packages/jre8
Comment Url: https://chocolatey.org/packages/jre8#comment-2869756473

[2016-09-01 01:03] choco-bot opened #282 "(tor-browser) Does not have permission to start non-admin"
Comment: There's a problem with the installation's location when trying to start Tor from a non-admin (Windows) user account.

When I launch "Start Tor Browser" in C:\ProgramData\chocolatey\lib\tor-browser\tools\tor-browser from such an account, I get the message "Tor Browser does not have permission to access the profile. Please adjust your file system permissions and try again."

I guess the rea

[2016-09-01 01:40] ferventcoder commented on #281
I might change this so it doesn't automatically create issues and only creates issues when they are forwarded.

[2016-09-01 13:19] sippi90 commented on #272
Could you please add checksums for the package mp3tag? Thanks

[2016-09-01 21:49] #281 closed

[2016-09-03 01:57] Gheoan commented on #79
A python.portable package would be useful.

[2016-09-03 03:26] RedBaron2 commented on #264
@gep13  This can be closed unless @C-Duv has experienced the issue again. The arguments will fix the issue of the browser spawning after install. There is a brief issue if the package fails to install. The browser will be spawned to open, but this is only on a failed install. It would seem to be a part of the installer launches the browser regardless of any arguments, but this is not a chocolatey

[2016-09-03 16:14] gep13 opened #284 "PowerIso - download URL is now much harder to find"
Hasn't worked since Version 6.1 :cry:

[2016-09-13 15:39] octomike opened #287 "Get-ItemProperty check in flashplayerplugin broken"
As mentioned in the [comments on chocolatey.org](https://chocolatey.org/packages/flashplayerplugin#comment-2780400876) using `Get-ItemProperty` is broken as soon as some registry item is invalid (ERROR: Specified cast is not valid).

Maybe this is because the return value of [Check-SoftwareInstalled](https://github.com/octomike/chocolatey-coreteampackages/blob/master/automatic/flashplayerplugin/to

[2016-09-15 00:50] datavirtue commented on #176
cwiggs work around solved my issue

![image](https://cloud.githubusercontent.com/assets/1112636/18534818/e8c2aa30-7abc-11e6-952d-eb339555c647.png)

[2016-09-15 20:20] choco-bot opened #288 "[coreteampackages] cdrtfe v1.5.6 - Action Required - Failed Verification Testing"
'cdrtfe' is Submitted.
Current status = Waiting for Maintainer to take corrective action

chocolatey-ops left the following comment(s):

cdrtfe has failed automated testing.
This is not the only check that is performed so check the package page to
ensure a 'Ready' status.
Please visit https://gist.github.com/726118c37b931df22a49950e7bd41c9b for
details.
The package status will be changed and will

[2016-09-15 20:20] choco-bot opened #289 "[coreteampackages] PDFXChangeViewer v2.5.318.0 - Action Required - Failed Verification Testing"
'PDFXChangeViewer' is Submitted.
Current status = Waiting for Maintainer to take corrective action

chocolatey-ops left the following comment(s):

PDFXChangeViewer has failed automated testing.
This is not the only check that is performed so check the package page to
ensure a 'Ready' status.
Please visit https://gist.github.com/4b7544d4ba57d6ada8c00de52aa411bf for
details.
The package status will

[2016-09-15 20:20] choco-bot opened #290 "(scite4autohotkey) Failing verifier"
'scite4autohotkey' is Submitted.
Current status = Waiting for Maintainer to take corrective action

chocolatey-ops left the following comment(s):

scite4autohotkey has failed automated testing.
This is not the only check that is performed so check the package page to
ensure a 'Ready' status.
Please visit https://gist.github.com/772146f476fc00997f7f56bf28a8dbf6 for
details.
The package status will

[2016-09-15 20:20] choco-bot opened #291 "(tuniac) Failing verifier"
'tuniac' is Submitted.
Current status = Waiting for Maintainer to take corrective action

chocolatey-ops left the following comment(s):

tuniac has failed automated testing.
This is not the only check that is performed so check the package page to
ensure a 'Ready' status.
Please visit https://gist.github.com/ef0c8301703bd0485aba52ae75ec194c for
details.
The package status will be changed and will

[2016-09-18 21:06] choco-bot opened #294 "[coreteampackages] calibre v2.68.0 - Action Required - Failed Verification Testing"
'calibre' is Submitted.
Current status = Waiting for Maintainer to take corrective action

chocolatey-ops left the following comment(s):

calibre has failed automated testing.
This is not the only check that is performed so check the package page to
ensure a 'Ready' status.
Please visit https://gist.github.com/55396c8d56553e789b76f2a9414368a7 for
details.
The package status will be changed and wil

[2016-09-18 21:06] choco-bot opened #295 "[coreteampackages] librecad v2.1.2 - Action Required - Failed Verification Testing"
'librecad' is Submitted.
Current status = Waiting for Maintainer to take corrective action

chocolatey-ops left the following comment(s):

librecad has failed automated testing.
This is not the only check that is performed so check the package page to
ensure a 'Ready' status.
Please visit https://gist.github.com/6e65ac5122d40ec4ed6386003358f954 for
details.
The package status will be changed and w

[2016-09-18 21:06] choco-bot opened #296 "[coreteampackages] gnucash v2.6.14 - Action Required - Failed Verification Testing"
'gnucash' is Submitted.
Current status = Waiting for Maintainer to take corrective action

chocolatey-ops left the following comment(s):

gnucash has failed automated testing.
This is not the only check that is performed so check the package page to
ensure a 'Ready' status.
Please visit https://gist.github.com/3cfd638209e7c636f671420012f37765 for
details.
The package status will be changed and wil

[2016-09-19 16:32] choco-bot opened #297 "[coreteampackages] 'classic-shell' needs updated"
Comment: needs an update. 1607 doesn't let you run older versions of
classic-shell.

Package Url: https://chocolatey.org/packages/classic-shell

Comment Url: https://chocolatey.org/packages/classic-shell#comment-2904938963

[2016-09-20 12:18] koppor commented on #297
Refs #218

[2016-09-20 18:16] choco-bot opened #298 "[coreteampackages] Opera v40.0.2308.54 - Action Required - Failed Verification Testing"
'Opera' is Submitted.
Current status = Waiting for Maintainer to take corrective action

chocolatey-ops left the following comment(s):

Opera has failed automated testing.
This is not the only check that is performed so check the package page to
ensure a 'Ready' status.
Please visit https://gist.github.com/3a4c164265f3769711be06e2e5803c71 for
details.
The package status will be changed and will be

[2016-09-26 12:50] majkinetor commented on #106
Can you assign me as a python3 maintainer. Currently the package is unusable.

[2016-09-27 06:27] gep13 commented on #106
@majkinetor is there any reason that you can't update the package in this current repo?  I am in the process of converting all the packages in this repo to add checksums for everything (I have some offline changes that I need to push) but it is still very much a work in progress.  Ideally, I would like to convert all the packages in this repo to AU, but that is also a larger undertaking.  Would yo

[2016-09-27 07:13] majkinetor commented on #106
@gep13 OK, I will PR.

Do you have an AU runner available ?

[2016-09-27 07:14] gep13 commented on #106
@majkinetor you mean like AppVeyor? No, not yet, that is something i still have to setup.  But shouldn't take too long, right?

Let me push some of the changes that I made to the folder structure etc...

[2016-09-27 07:20] gep13 commented on #106
@majkinetor I have pushed the folder structure changes that I was working on, so the AU template layout should now be in there.  Let me know if you need anything from me.

[2016-09-27 07:20] majkinetor commented on #106
It takes aproximatelly 5 minutes to setup AV. Let me know in au gitter if you need any hlep

[2016-09-27 07:22] majkinetor commented on #106
Lets not discuss it here. AU template is not current, it will not work OK. I will be availalbe on gitter AU chat for you during the day. https://gitter.im/chocolatey_au/Lobby

[2016-09-29 10:46] ebugusey opened #305 "Using System.Net.WebClient in some packages"
Some packages use `System.Net.WebClient` to download pages for parsing, for example [Firefox](https://github.com/chocolatey/chocolatey-coreteampackages/blob/master/automatic/Firefox/tools/chocolateyInstall.ps1#L32).
I'm behind corporate proxy with NTLM-auth and this thing doesn't work for me. I got this error:
[code]
When I configure webclient like this:
[code]
`DownloadString` does work.

[2016-09-30 06:40] koppor opened #306 "Update python3 to v3.5.2"
The current version of python3 is v3.5.2 - see https://www.python.org/downloads/release/python-352/

Can the package be updated?

Refs #146

[2016-09-30 06:41] gep13 commented on #306
@koppor yes.  There is an open PR for this here:

https://github.com/chocolatey/chocolatey-coreteampackages/pull/303

I just need to review it, and get it merged in.

[2016-09-30 10:03] ebugusey opened #307 "qBittorrent 3.3.7 Waiting for Maintainer to take corrective action"
There is missing checksum field in install script:
[code]
But I tested it locally and it builds properly. So you should repush it to feed or something.

[2016-09-30 19:01] mew1033 commented on #265
It looks like the chocolatey fosshub extension is also broken as a result of this. the genlink functionality isn't working.
For now, I know this is affecting the https://chocolatey.org/packages/IrfanView package.

[2016-10-02 17:28] ferventcoder commented on #249
I fixed this is in 3.5.1.20161002 (which should be up for approval soon) - #303 has the ultimate fixes for this though.

[2016-10-02 17:33] #249 closed

[2016-10-05 12:39] #307 closed

[2016-10-05 21:26] ferventcoder commented on #305
Those packages should just use the built-in Chocolatey methods now that they overcome many of the earlier limitations in earlier versions of Chocolatey that set them to use WebClient directly instead of using the built-in methods.

[2016-10-05 21:26] ferventcoder commented on #305
@gep13 ^^

[2016-10-05 21:28] gep13 commented on #305
@ferventcoder  Ah, you might want to take a look at the PR I am just away to mention you in 😄

[2016-10-06 06:49] bcurran3 commented on #218
This looks to be a good download location:
https://fossies.org/windows/misc/ClassicShellSetup430.exe

[2016-10-06 08:09] ebugusey commented on #305
Is there pull request already or can I make one?

[2016-10-06 08:18] gep13 commented on #305
@ebugusey there is a pull request already for some work I was doing with the FossHub extension, which is in this repo as well.  However, this PR doesn't deal with any other packages that are already using WebClient.  Would be happy for you to create a PR to correct them though.

[2016-10-06 18:26] pantosha opened #312 "Update notepadplusplus to v7.0"
Notepad++ v.7.0 was released. Major change is Notepad++ support x64.

Link to release notes - https://notepad-plus-plus.org/download/v7.html

Thank you.

[2016-10-06 19:58] gep13 commented on #306
@koppor okay, I think this is ready to go.  Package has been pushed to chocolatey.org.  Let us know if you run into any other problems.

[2016-10-06 19:58] #306 closed

[2016-10-06 19:59] gep13 commented on #128
Going to call this one done.

If anyone thinks different, let me know.

[2016-10-06 19:59] #128 closed

[2016-10-06 20:01] gep13 commented on #36
Calling this one down as well.

[2016-10-06 20:01] #36 closed

[2016-10-06 20:01] gep13 commented on #215
Calling this one done in favour of this one: https://github.com/chocolatey/chocolatey-coreteampackages/issues/265

[2016-10-06 20:01] #215 closed

[2016-10-06 20:03] gep13 commented on #265
@mew1033 I have just pushed a new version, 0.2.0, of the Fosshub Extension, which should now work.  Let me know if you are still having issues with it.

[2016-10-07 11:45] gep13 opened #316 "Change AU to use chocobot for commits"

[2016-10-07 11:46] gep13 opened #317 "Update AU with Mail Sending Settings"

[2016-10-07 18:34] gep13 commented on #214
I think we can go ahead and close this one.

[2016-10-07 18:34] #214 closed

[2016-10-07 18:35] gep13 commented on #272
@sippi90 yes, that is still on my radar. Happy to accept any help that anyone can offer here.  There are quite a lot of packages 😄

[2016-10-07 19:11] #316 closed

[2016-10-08 18:31] gep13 commented on #265
okay, finally in a position to close this one off! 😄

[2016-10-08 18:31] #265 closed

[2016-10-08 18:50] gep13 commented on #294
This has been taken care of.

[2016-10-08 18:50] #294 closed

[2016-10-08 18:57] gep13 commented on #266
@Redsandro you can find the full export here:

https://github.com/chocolatey/chocolatey-coreteampackages/blob/master/setup/KetarinExport.xml

You will notice that the repo is now setup as suggested by @ferventcoder based on the chocolatey template repository, and it should now be easier to understand, and setup to match what is on the core team server instance.

Also, you will notice that I have s

[2016-10-08 18:57] #266 closed

[2016-10-08 18:59] gep13 commented on #258
@majkinetor do you know if the recent changes to the python3 package that you did corrected this issue?  Thanks!

[2016-10-08 18:59] gep13 commented on #248
This is done.

[2016-10-08 18:59] #248 closed

[2016-10-08 19:00] gep13 commented on #217
This has been taken care of by @majkinetor

[2016-10-08 19:00] #217 closed

[2016-10-08 19:01] gep13 commented on #247
This has been completed based on the new template that is being used which was provided by @ferventcoder

[2016-10-08 19:01] #247 closed

[2016-10-08 19:02] gep13 commented on #196
@guillaumecle @woolyss I am fairly sure that this has now been taken care of, thanks to the work that @RedBaron2 has done on this package.  If not, then please let me know.

[2016-10-08 19:02] #196 closed

[2016-10-08 19:03] gep13 commented on #174
This is really a duplicate of this: https://github.com/chocolatey/chocolatey-coreteampackages/issues/272

[2016-10-08 19:03] #174 closed

[2016-10-08 19:05] gep13 commented on #82
@Redsandro this should no longer be required, as the ketarin xml files are now being loaded each time the ketarin instance is scheduled to run.

[2016-10-08 19:05] #82 closed

[2016-10-08 19:07] gep13 commented on #61
@matbech just looking back at some older issues, and stumbled into this one.

Were you in a position to look at this?  I know you have done a lot of work in maintaining the vcredist2015 package.  Have you looked into who is currently maintaining the other packages?  Could you help out in this regard?

[2016-10-08 19:40] gep13 commented on #272
Could you please add checksums for the package mp3tag? Thanks

I have just pushed a new version of the mp3tag package, which will hopefully go through verification this time.

[2016-10-08 20:06] gep13 commented on #218
@wjk @piotr-cz @bcurran3 I have just pushed an updated version of this package.  Let me know if this doesn't work.  Closing this issue for not.

[2016-10-08 20:06] #218 closed

[2016-10-08 20:06] gep13 commented on #297
@koppor Just pushed a new version.  Let me know if this doesn't work.  Closing this issue for now. Thanks!

[2016-10-08 20:06] #297 closed

[2016-10-08 20:39] Redsandro commented on #266
@gep13 thanks for the update.

Perhaps I'm not looking right and the configuration is in there too, but this xml looks like a joblist, not the global configuration of Ketarin itself.

I haven't had the chance to look into that. But if it has benefits, I applaud that.

[2016-10-09 06:53] majkinetor commented on #258
Here is my output:

[code]

The uninstaller is gone from Programs & Features too. I am not sure why those additional lines.

[2016-10-09 08:00] gep13 commented on #258
@majkinetor perfect, thank you.

[2016-10-09 08:00] #258 closed

[2016-10-09 09:04] majkinetor commented on #250
Pip is added to path on Python3 now.

[2016-10-09 09:12] gep13 commented on #250
Pip is added to path on Python3 now

Noice!

I don't think that is true of python2 though, right? Would you be able to work your magic on that package as well? Also, I haven't quite got my head around how you handle meta packages with AU yet, like what you did with autohitkey. Would you be able to fix up the python package?

[2016-10-09 10:43] majkinetor commented on #250
OK, will look into it in near future.

[2016-10-09 10:49] gep13 commented on #250
OK, will look into it in near future.

Thank you, I very much appreciate your help!

[2016-10-09 12:08] gep13 commented on #266
@redsandro there are two ketarin related XML files.  There is this one:

https://github.com/chocolatey/chocolatey-coreteampackages/blob/master/setup/KetarinExport.xml

Which is an export of all the individual ketarin files that are currently loaded into the Ketarin instance on the Azure based Choco Server.

And there is this one:

https://github.com/chocolatey/chocolatey-coreteampackages/blob/mast

[2016-10-09 13:49] Redsandro commented on #266
@gep13 super, thank you.

[2016-10-09 13:51] gep13 commented on #266
@Redsandro would gratefully accept any help you can offer on converting some of the packages to AU 😺

[2016-10-09 14:46] Redsandro commented on #266
@gep13 not any time soon; got a backlog of problems because I was sick for a month. :cry:
I like this ketarin-independent update method tho. Will inspect it more when time allows me to do so.

[2016-10-09 16:01] majkinetor commented on #312
Implemented in this PR: https://github.com/chocolatey/chocolatey-coreteampackages/pull/321

[2016-10-09 18:45] matbech commented on #61
The vcredist2015 package is currently maintained by https://github.com/pocki
Maybe he can share some details on why he has decided not to use the chocolatey-coreteampackages repo.

[2016-10-09 20:43] gep13 commented on #298
This has been fixed.

[2016-10-09 20:43] #298 closed

[2016-10-09 21:38] jberezanski commented on #61
Actually, @pocki has asked me to take over maintaining vcredist2015 a short while ago (hasn't made me co-maintainer yet, though). He had been actively updating that package, but now he said he was stepping away from maintaining packages in the community repo.

I do not know his reasons for continuing to update the package in his repo after his PR was accepted here. However, it might have been for

[2016-10-10 07:13] gep13 commented on #312
@pantosha this has just been pushed to chocolatey.org, and is currently going through moderation.

[2016-10-10 07:13] #312 closed

[2016-10-10 07:18] schtobia commented on #159
Ultradefrag 7.0.1 has been [released](https://sourceforge.net/p/ultradefrag/news/2016/03/ultradefrag-701-has-been-released/).

[2016-10-10 11:27] gep13 commented on #61
@jberezanski ah, I see.  Would you be interested in maintaining the source code for the package in this repo then, rather than your own?  You have write access into the repo 😄

it is much easier and quicker to update the package in one's own repo than to wait until a PR is accepted.

To an extent I agree with this, and can understand the thought process.  However, as has just been evidenced, they

[2016-10-10 12:51] majkinetor opened #323 "Notepadplusplus uninstaller"
This is current output

[code]

Why is registry snapshot not created. I.E. when should I rely on automatic installer and when should I create `chocolateyUninstall.ps1`. ?

[2016-10-10 19:43] pantosha commented on #312
Ok, thank you!

[2016-10-10 20:33] jberezanski commented on #61
With pleasure.

I keep forgetting that 😉

Agreed. In case of important packages that many other depend upon, it is vital to be able to continue updating the package if the current maintainer goes AWOL. Hosting the package in this repo provides that capability.

[2016-10-10 20:41] gep13 commented on #61
@jberezanski nice one, thank you very much! 😄

[2016-10-11 18:52] gep13 opened #329 "Issue with Chromium"
https://gitter.im/chocolatey/chocolatey.org?at=57fd036e4fde7203142a3c2d

@RedBaron2 any chance you can take a look at the above? Thanks!

[2016-10-11 22:58] RedBaron2 commented on #329
@gep13 The Chromium Package hasn't been updated to the latest version of 56.0.2888.0
This version according to virus total is safe. [https://www.virustotal.com/ro/file/c7aabb983fe2e2c041d99ec8fd596a59e5d6115184167fc5c0718b7772aa9fbd/analysis/1476225750/](url)

Also had virus total scan the current version chocolatey package is also safe
[https://www.virustotal.com/ro/file/336666842deb22b4533e11f0e

[2016-10-12 07:06] gep13 commented on #329
@RedBaron2 it is strange the that package hasn't been updated.

Let me check something...

[2016-10-12 07:31] gep13 commented on #329
@RedBaron2 okay, latest version should now be pushed.  Let me know if you notice this happening again.

[2016-10-12 07:48] gep13 opened #331 "Figure out what is going on with ketarin"
With regard to git credentials.

And also this:

[code]

[2016-10-12 15:52] ferventcoder opened #333 "When taking a dependency on an extension, specify the minimum version"
Especially if you need new functionality in the newer module. Otherwise any version satisfies the dependency. That means unless someone upgrades the extension outside of their process, it will not automatically upgrade to the latest version. Just something to keep in mind.

cc @gep13 @majkinetor

[2016-10-12 15:54] ferventcoder opened #334 "FossHub Extension should manage exports"
Exporting function 'Get-Downloader'. <- This is wrong.

Details:

[code]

[2016-10-12 15:58] ferventcoder commented on #331
It's set to disable so that the custom c# task can do the push once it has set the checksums.

[2016-10-12 16:12] majkinetor commented on #333
Yeah, I already do that and have a script that updates all older packages with new extension version.

If you install ANY package that has explicitelly set this you will update it for all other packages.

[2016-10-12 19:31] AdmiringWorm opened #335 "(wincdemu) Installer scripts needs updating"
Currently the installation script for WinCDemu does no longer work.
Apparrently they have dropped support for the silent argument that was used in previous installers.

To get the installation to work now the following would be required.
Use autohotkey (or some other method) to automate the installation, driver installation and the information messagebox.

A uninstall script would probably also be

[2016-10-13 05:53] blackwind commented on #250
When you get around to this, @majkinetor, please update the package to v2.7.12 as well.

[2016-10-13 06:35] majkinetor commented on #250
Surw

[2016-10-13 06:36] majkinetor commented on #250
Sure.

On Oct 13, 2016 7:53 AM, "blackwind" <notifications@github.com> wrote:

[2016-10-13 17:29] majkinetor opened #338 "(autohotkey) Update package with new installer"
AHK changed its installer today.

Now it bundles all types of portable AHK into same archive and non-portable installer changed its name.

- Installer changes: https://autohotkey.com/docs/Scripts.htm#Installer_uiAccess
- Releases: https://autohotkey.com/download/1.1

[2016-10-13 20:45] #148 closed

[2016-10-14 06:44] gep13 opened #341 "Chromium uninstallation not working"
When testing the uninstallation of the new chromium package on the test environment, I got this:

![image](https://cloud.githubusercontent.com/assets/1271146/19377974/f709b642-91e1-11e6-918a-2bca07c72f6b.png)

@RedBaron2 any chance you can have a look at this?

Is the uninstall.ps1 file required?  Does the auto uninstaller work?

[2016-10-14 07:09] majkinetor commented on #341
FYI, the package is out on choco:

## Pushed

|Name|Updated|Pushed|RemoteVersion|NuspecVersion|
|---|---|---|---|---|
|[chromium](https://chocolatey.org/packages/chromium/56.0.2891.0)|[True](#chromium) &#x1F538;|True|56.0.2891.0|56.0.2890.0|

[2016-10-14 07:10] gep13 commented on #341
:+1: yip, that is fine.  A work uninstallation is not a "requirement" yet, so was happy to push it package out, knowing that there was a new version.

[2016-10-14 19:03] RedBaron2 commented on #341
@gep13

Yes the uninstall.ps1 file is required. Auto does not remove it from "Programs & Features"
I found the solution, and it was the reason why

return $file before call to Uninstall-ChocolateyPackage ?

was in the Uninstall file. It returns the proper variable `$file` to the  Uninstall-ChocolateyPackage.
Basically how it is now it gives the path like this
`"C:\Program Files (x86)\Chromium\Appl

[2016-10-14 19:28] gep13 commented on #341
@RedBaron2 well done for finding the solution.  Are you able to submit a PR to correct?

[2016-10-14 19:37] RedBaron2 commented on #341
working on it and the update for the AU update file soon

[2016-10-14 21:28] RedBaron2 commented on #341
PR#345 will fix the Uninstall Issue, and is future proofing the Update file for the changes that are being made to the API strings

[2016-10-14 21:32] RedBaron2 commented on #329
@gep13
This seems to be fixed with the move to AU Update.

[2016-10-16 19:49] CWempe opened #346 "(python3) upgrade to version 3.5.2 does not work"
Here is the debug-log:

[code]

[2016-10-19 00:00] uwcash opened #347 "(notepadplusplus.install) Version 7.1 cannot install x64 version"
Version 7.0 installed the x64 version of NotePad++, but version 7.1 installed the x86 version.
There is no option to detect or force the x64 version of NotePad++.

[2016-10-19 09:29] majkinetor commented on #347
The wrong package was pushed. Obviously, some other automation routine did it, I guess @ferventcoder probably fixed this:

https://github.com/ferventcoder/chocolatey-packages/pull/192

That package should be unlisted IMO.

[2016-10-19 09:30] majkinetor commented on #347
Reference: https://gist.github.com/gep13/bd2eaa76f2a9ab739ca0544c502dca6e#notepadplusplus

(official AU report complains about it)

[2016-10-19 12:05] majkinetor commented on #338
https://github.com/chocolatey/chocolatey-coreteampackages/commit/e71041db5fd2b50a8fc2243d974ddc07d52e92b4

[2016-10-19 12:57] majkinetor commented on #338
@ferventcoder , @gep13

I fixed AHK, but I see now that somebody pushed bad package ?

$ErrorActionPreference = 'Stop'

[code]

It is previous version.

IMO, portable package should be unlisted since it doesn't represent version it says.

[2016-10-19 13:45] majkinetor commented on #335
This works for me, please test it

`.\install.ahk $pwd\WinCDEmu-4.1.exe`

[code]

It could be just a little more bulletproof with timeouts for windows waiting but lets see how this works.

[2016-10-19 14:01] AdmiringWorm commented on #335
@majkinetor I'll try it out, unfortunately I don't have the option to do that now though.
One problem I see though, checking for a window with the title 'Windows Security' would be
a problem, that window is dependent on the user locale.

[2016-10-19 15:01] majkinetor commented on #335
Good catch, fixable I think.. I didn't get it long enough, once it passed it never showed up. Other parts of the script should be made bettter (timeout is needed as if something goes wrong and windows never appear, it will just block in the loop).

[2016-10-19 15:01] majkinetor commented on #335
Other then that its pretty stable - it cant happen to send to wrong windows for example, typicall problem with AHK.

[2016-10-19 18:51] gep13 commented on #338
I fixed AHK, but I see now that somebody pushed bad package ?

Since happened due to the transition of the packages from @ferventcoder automatic repo to the core team repo.  This is one of the reasons that we need to ensure that maintainers are onboard with moving the packages into core team repo, so that they have time to remove the packages from their automatic systems.  We might be in the same

[2016-10-19 19:04] majkinetor commented on #338
Don't know, but you could remove him from maintainers for the time being for push to fail.

[2016-10-20 06:40] RedBaron2 commented on #347
@gep13 What is showing on the Chocolatey page for Notepad++ (Install) 7.1

I don't think is this right, but it installed the 32bit version on my system also, but according to @majkinetor link for updates
`New version is available but it already exists in the Chocolatey community feed (disable using $NoCheckChocoVersion):
 https://chocolatey.org/packages/notepadplusplus/7.1`
This I'm sure can be fi

[2016-10-20 07:42] ferventcoder commented on #347
I would say there should likely be a 7.1.0.20161020

[2016-10-22 18:51] gep13 commented on #338
@majkinetor this one is ready to be closed out, right?

[2016-10-22 18:56] gep13 commented on #334
@ferventcoder sorry, not sure I follow what you are referring to here.  Can you elaborate?  Thanks!

[2016-10-22 18:56] majkinetor commented on #338
The package works. However the last community package is wrong: https://chocolatey.org/packages/autohotkey.portable

[2016-10-22 18:57] gep13 commented on #331
@ferventcoder gotcha.  This seems to all be sorted now.

[2016-10-22 18:57] #331 closed

[2016-10-22 18:57] #329 closed

[2016-10-22 18:58] #264 closed

[2016-10-22 18:58] #341 closed

[2016-10-22 19:03] gep13 commented on #338
Yes, but with the new functionality that you have just added, you can push a new package with the package fix notation, right?

[2016-10-22 19:10] majkinetor commented on #338
Right!
How should I version it, it already uses revision: `1.1.24.02`

[2016-10-22 19:19] gep13 commented on #338
Ah.  Good question...

Personally, I would be going for `1.1.24.03`.

@ferventcoder what are your thoughts on this?

[2016-10-22 19:30] #333 closed

[2016-10-22 19:30] majkinetor commented on #338
Anyway, I just realized that AU doesn't allow for manual version override. It will return version to RemoteVersion even if the NuspeVersion is higher. If it was not using revision part of the version it would autogenerate choco fix notation and push it.

I could change AU so that *if update is forced and NuspecVersion is higher then RemoteVersion* , NuspecVersion should be used. I don't know if th

[2016-10-22 19:38] gep13 commented on #338
I think that sounds correct.

[2016-10-22 19:38] majkinetor commented on #338
That is, maybe better said, _with force always use NuspecVersion and if it is the same as RemoteVersion use choco fix unless package already uses revision_.

[2016-10-22 19:39] gep13 commented on #338
:+1:

[2016-10-22 19:56] majkinetor commented on #338
I think we should sit this one out. If we push that version the next one will be problematic again if it beomces 03 and it may.  Its very small problem anyway.

[2016-10-22 19:56] #338 closed

[2016-10-23 09:50] majkinetor commented on #338
Anyway, I dropped above ideas as they are confusing. Currently only if remote version is higher then nuspec version the package will get updated and if it is the same and forced we will get fix notation.
This is all well and **not confusing**.

So now, I implemented new global variable that can be used along with Force, for example:

       $au_Force = $true; $au_Version = '0.1'; ./update.ps1

Thi

[2016-10-23 13:31] gep13 commented on #338
The only downside is that if you force multiple packages you will have to remember to null out au_Version or it may apply to wrong package.

This part concerns me a little bit.  Can AU not null out the global variables at the end of the execution?

Is semicollon notation OK ?

In this instance, I think the `|` delimiter might be easier to read.

[2016-10-23 13:37] #334 closed

[2016-10-23 13:44] #317 closed

[2016-10-23 14:01] majkinetor commented on #338
First of all this can not happen when updateall runs as each thread has separate global vars. This can only happens when you do this in your local shell, and force several packages. I can null it out between calls which might not be expected by the user.

[2016-10-23 14:37] gep13 commented on #338
I can null it out between calls which might not be expected by the user.

It might also not be expected for the version number to be persisted between calls either though.

[2016-10-23 14:43] majkinetor commented on #338
Actually, all other env vars are kept. Thats why its unintuitive. But since its dangerious I will null it on each call.

[2016-10-23 15:20] gep13 commented on #305
@ebugusey this has now been included and I have pushed new package fix version notation's for firefox and thunderbird.

Please let me know if you continue to see issues.

Thanks for your help on this!

[2016-10-23 15:20] #305 closed

[2016-10-23 19:40] gep13 opened #351 "kb2999226 - don't throw error"
As pointed out here:

https://github.com/chocolatey/chocolatey-coreteampackages/pull/348#issuecomment-255608801

[2016-10-23 20:05] gep13 commented on #351
Switching to writing out warning using `Write-Host`

[2016-10-23 20:05] #351 closed

[2016-10-23 20:06] gep13 commented on #351
This is consistent with other messages written out in the chocolateyInstall.ps1 file.  If something else is required, we can clean that up another day.

[2016-10-24 08:57] lafrech opened #352 "(firefox) 49.0.2.20161023 install fails on PowerShell < 3"
I get this error when upgrading firefox:

[code]

From a quick search, it could be powershell version related. See [this SO post](http://stackoverflow.com/questions/39580203/get-content-raw-parameter-error):

My PS version is 2:

[code]

[2016-10-24 09:46] gep13 commented on #352
@ebugusey seems like there is an issue with the chocolatey-core.extension with respect to PowerShell version.  Ideally, the extension should support back to PowerShell 2.  Would you be in a position to provide an update for this?  Thanks!

[2016-10-24 11:51] bazzilic opened #353 "Audacity v2.1.2.20161006 installer exits with code 4, fails installation"
The installer installs Audacity successfully, i.e., it appears in Program and Files, etc. However, `chocolateyInstall.ps1` (I assume) exits with code 4 (if the return code comes from the installer, then it is fatal error, according to [InnoSetup docs](http://www.jrsoftware.org/ishelp/index.php?topic=setupexitcodes)), and therefore Chocolatey considers this as failed install.

Running into this wit

[2016-10-24 12:26] gep13 commented on #353
@bazzilic thanks for reporting this. I haven't personally tested this package on a Windows 10 machine, only Windows Server 2012 and Windows 8.1.  Really not sure where the 4 would be coming from.  We could certainly add that as a valid exit code to the chocolateyInstall.ps1 file, but that seems like a very crude workaround.  Would be nice to know "why" it is returning that.

[2016-10-24 13:31] majkinetor commented on #353
[code]

The extension failed - it downloads HTML file.

[2016-10-24 14:07] ebugusey commented on #352
@gep13 I can fix it, but I don't have testing environment ready.

[2016-10-24 14:13] majkinetor commented on #352
@ebugusey You don't need test environment. You can use AU `Test-Package` also to test it locally.

[2016-10-24 14:23] ebugusey commented on #352
@majkinetor I need to test it on PowerShell v2, and I don't have a VM with that setup. And also _firefox_ is a _ketarin_ package.

[2016-10-24 14:32] ebugusey commented on #352
Oh, wait. Can I use `-Version` to run v2?

[2016-10-24 14:40] majkinetor commented on #352
You should be able to do that.... let us know. U dont need ketatin for this

[2016-10-24 17:44] ferventcoder commented on #338
03 sounds good to me.

[2016-10-24 17:45] ferventcoder commented on #334
Sweet!

[2016-10-24 18:05] majkinetor commented on #338
No its not good. Next version willl with some certainly be 03. Since we will take it, we will have to use 04 for 03 which makes us enter loop (02 is 01, 03 is 02, 04 is 03 ...). So we will just do nothing. When tools have revision in the version its virtually impossible to use fix notation (unless we allow pre versions, such as in this case `1.1.24.02-20161024` but choco has to support this).

[2016-10-24 18:09] ferventcoder commented on #338
Incorrect - we've documented how it is possible in https://chocolatey.org/docs/create-packages#package-fix-version-notation. It's ugly and requires manual intervention, but it is possible.

[2016-10-24 18:31] majkinetor commented on #338
Can you 'fix' this case for me then? You said 03 and I say it will probably collide (given previous 2 versions ere 01 and 02, 03 is something to be expected).

The fix you proposed is a bit unrealistic. It requres you to create special  version IN ADVANCE. This special version would be required for ALL packages that use revision just in case they may need fixing in the future. Given that version i

[2016-10-24 18:32] majkinetor commented on #338
Its also not idempotent .

[2016-10-24 19:33] #352 closed

[2016-10-24 19:37] gep13 commented on #352
@lafrech I am just away to push new package fix notation version of both firefox and thunderbird.  If you could verify that these work for you, I would really appreciate it, thanks!

[2016-10-24 20:48] #347 closed

[2016-10-24 22:32] AdmiringWorm commented on #252
@gep13 this one could perhaps be closed now right?

[2016-10-25 04:19] #252 closed

[2016-10-25 06:39] lafrech commented on #352
The upgrade of Firefox was successful.

Thanks.

[2016-10-25 06:41] gep13 commented on #352
The upgrade of Firefox was successful.

That is great news! Thanks for letting us know.

[2016-10-25 07:43] #323 closed

[2016-10-25 07:43] #288 closed

[2016-10-25 07:45] majkinetor commented on #255
I got it installed in the `c:\Windows\py.exe`.

[2016-10-25 08:22] gep13 commented on #346
There is another example of this here:

https://chocolatey.org/packages/notepadplusplus#comment-2967581229

@ferventcoder any thoughts on what is going on here?

[2016-10-25 08:24] gep13 commented on #346
And another message here:

https://chocolatey.org/packages/mongodb.install#comment-2967592319

[2016-10-25 12:18] alopezf1987 commented on #346
Maybe the following upgrade log could also be helpful: [python3.zip](https://github.com/chocolatey/chocolatey-coreteampackages/files/550539/python3.zip)

[2016-10-25 13:29] Rgum00 opened #356 "Java SE Runtime Environment Package Issue"
Having an issue I discovered recently where when running Chocolatey as system to install to the latest version of JRE8 it doesn't actually install the program. But Chocolatey reports the latest version is indeed installed.

![2016-10-21_10-46-05](https://cloud.githubusercontent.com/assets/23055250/19687932/84300628-9a95-11e6-9386-e0fd1125ec77.jpg)

[2016-10-25 13:41] gep13 commented on #356
@Rgum00 I can see might you might think that the source for this package is in this repo, but it isn't.  It is actually over here: https://github.com/proudcanadianeh/ChocoPackages This package is maintained by @proudcanadianeh.  Can I ask that you open the issue there?  Thanks!

[2016-10-25 13:54] jberezanski commented on #356
Ah, sorry, I pointed @Rgum00 here based on the "Possible package source" link on the package page. My mistake.

[2016-10-25 13:57] gep13 commented on #356
@Rgum00 not a problem. I figured that the possible package source link might have been the source of the issue 😄

[2016-10-25 13:57] #356 closed

[2016-10-26 02:16] Dmaisano404 commented on #346
Getting the same error when I did a clean install of python

[2016-10-26 12:24] #160 closed

[2016-10-26 12:41] majkinetor commented on #346
@Dmaisano404 , try `cinst python3` until we fix the problem.

[2016-10-26 22:05] ferventcoder commented on #346
@gep13 the notepadplusplus issue and the comment directly below it are why we use exact version dependencies. If I install notepadplusplus 7.0, I expect it to get notepadplusplus.install `7.0` (or perhaps `7.0.0.pkgfixversion`). It's really hard to mess up the exact version dependencies and that is why it is preferred over the version ranges - however it is almost never prudent to use minimum vers

[2016-10-26 22:07] ferventcoder commented on #346
Here's the issue with MongoDB upgrade - https://chocolatey.org/packages/mongodb (note 3.2.9).

[2016-10-26 22:10] ferventcoder commented on #346
If we release python with the proper version, this is fixed :+1:

[2016-10-26 22:12] AdmiringWorm commented on #346
.@ferventcoder if you use exact version `7.1`, wouldn't that prevent installation of dependency with version `7.1.0.pkgfixversion` which I believe is the issue regarding the [notepadplusplus](https://chocolatey.org/packages/notepadplusplus) package?

[2016-10-26 23:12] ferventcoder commented on #346
@AdmiringWorm the issue regarding notepadplusplus is that someone missed they needed to update both notepladplusplus.install ***and*** notepadplusplus.

The problem is that you can not just do minimum dependencies when it comes to these kinds of packages.

So the dependency for notepadplusplus should be either:

* "notepadplusplus v7.1" - `<dependency id="notepadplusplus.install" version="[7.1, 7.

[2016-10-26 23:22] ferventcoder commented on #346
The problem here is not the exact version dependency, it's that some packages were missed getting updated in addition to the other packages.

[2016-10-26 23:34] AdmiringWorm commented on #346
@ferventcoder
thank you for clarifying as well giving such a detailed answer, I can see why you guys recommend the exact version. I don't necessarily agree with it though, but that is just because I'm used to something entirely different on the linux distros I'm using.

May I perhaps suggest, adding the recommendation of exact versioning when it comes to meta packages to `Create a chocolatey packa

[2016-10-27 09:17] majkinetor commented on #346
No, that is not the issue. There is NO SOMEONE in this case. Package is virtual and all 3 packages should  get updated in the same AU run. However, one of those packages failed. So your system is good until everything works as expected, but fails with any outliers. And this is the reason the system is bad, its not flexibile.

Contrary, if you specify minimum version:

- First time you install some

[2016-10-27 09:19] majkinetor commented on #346
So, to recap, the system where you always update the virtual package with minimum version is better as it allows independant fixes on depndant packages and doesn't suffer from any shortcomings mentioned above.

[2016-10-27 15:53] ferventcoder commented on #346
@majkinetor Here's the problem. Let's use python as an example.

Say there was python and python.install. Say python v2.7.2 took a minimum version dependency on python.install 2.7.2 (`<dependency id="python.install" version="2.7.2" />`. Now imagine that there is also Python v3.5.2 packages available. Now when I as a user call `choco install python --version 2.7.2`, what version of Python will I ac

[2016-10-27 16:16] ferventcoder commented on #346
To answer my own question, you will have Python 3.5.2 installed on the system at the end of that. It doesn't take a rocket scientist to see how that is completely incorrect. I specified 2.7.2 and got 3.5.2. That is easily thousands of times more wrong than forgetting to update the meta/virtual package, which is just a temporary set back and easily correctable, even if it is less flexible.

I'm goi

[2016-10-27 16:18] ferventcoder commented on #346
Maybe exact version dependencies are a bit inflexible, but they've worked for 5 years and when the small issues that happen every once in awhile are worked out, they will continue to work for the forseeable future.

The one way you could specify the version range dependency is to always specify 3 segments on the right side (the lower than) side unless all four segments were used, then you are back

[2016-10-27 16:58] majkinetor commented on #346
That would be semantically most correct.

Yeah, I have

[code]

Why wouldn't I use above code as general solution and tweak it for special cases. It would work in the case of python and allow for fixes.

[2016-10-27 17:00] ferventcoder commented on #346
It's not correct - if 7.1.2 is released, how would you handle it? Please reread ALL that I wrote first.

[2016-10-27 17:03] majkinetor commented on #346
Above case is for 7.1.2 release. Give examples when it goes wrong pls.

[2016-10-27 17:04] majkinetor commented on #346
But I could equaly use build part of the [version]. It would still allow for fix.

[2016-10-27 17:16] ferventcoder commented on #346
The above should not also upgrade to 7.1.3, but it will if that version is released. In other words, what you are suggesting will be incorrect if/when a 7.1.3 release materializes. You still haven't fully grokked what I wrote above.

That is `[7.1.2, 7.1.3.0)`. I change my earlier statement, the right side would be all four version segments, not three.

You must be thinking about all different sce

[2016-10-27 18:49] #250 closed

[2016-10-27 19:57] NicoHaase commented on #347
Please have another look at this fix. According to the discussions at https://chocolatey.org/packages/notepadplusplus and the red log in my shell this update broke something:

You have notepadplusplus.install v7.1 installed. Version 7.1.0.20161020 is available based on your source(s).
notepadplusplus.install not upgraded. An error occurred during installation:
 Updating 'notepadplusplus.install 7.

[2016-10-28 10:46] majkinetor commented on #335
Wincdemu still has silent mode.

[2016-10-28 11:07] AdmiringWorm commented on #335
It has? I was trying out different install switches, as well as the install switch that was used in
the old packages.
I'll need to check that out then.

[2016-10-28 11:09] majkinetor commented on #335
No need, already finished it.

[2016-10-28 11:11] AdmiringWorm commented on #335
oh, thanks a lot for doing that.

[2016-10-28 12:30] majkinetor commented on #335
https://github.com/chocolatey/chocolatey-coreteampackages/commit/2b803a1392c0485c91c62cdcfc87d10a37eb4f48

[2016-10-28 12:30] #335 closed

[2016-10-29 08:37] majkinetor commented on #346
OK, I pushed an [AU virtual python package](https://github.com/chocolatey/chocolatey-coreteampackages/tree/ad5f74c6a00d19eb4127c45ea852e1a08c87248f/automatic/python).

Here is the test:
[code]

So if we do `git commit -m '[AU python python3]' --allow-empty` at this moment  it should fix this problem.

If anybody has complains let me know
@gep13 @AdmiringWorm @ferventcoder

[2016-10-29 08:43] gep13 commented on #346
@majkinetor sounds good to me! 😄

[2016-10-29 08:53] majkinetor commented on #346
Now, with exact versioning desynchronisation of packages makes them unusable (for either side) which requires effort from maintainers to keep them in sync. Above code for example will probably one day get out of sync as `python3` package may fail even if `python` doesn't (this make happen due to network problems, auto checksum problems etc.)

I was thinking about adding to AU atomic operations on

[2016-10-29 08:53] #346 closed

[2016-10-29 08:56] majkinetor commented on #346
Pushed

Name	Updated	Pushed	RemoteVersion	NuspecVersion
python	True 🔸	True	3.5.2.20161029	3.5.2
python3	True 🔸	True	3.5.2.20161029	3.5.2

[2016-10-29 15:02] jnm2 commented on #347
Same issue as @NicoHaase:

[code]

[2016-10-30 12:08] RiseT commented on #282
I'm the author of the original post quoted above.

I'd like to add that it's very likely that other applications (than Tor Browser) installed at ```C:\ProgramData\chocolatey\lib\``` are effected by this issue as well, as the root cause is rather a systematic one: No application started without admin privileges has write access to that directory.

[2016-11-01 10:14] majkinetor opened #366 "Lightworks - can't download version"
I made AU installer for lightworks in its own branch, however, I can't make it to the version because of this:

[code]

It happens if you want to download a page using whatever method - I tried iwr, webclient, webrequest.

Also:

[code]
Wget works on the other hand

[code]

So, I can't get a version now in `update.ps1` without using wget. I could take a dependency on it but looks like _meh_. I wou

[2016-11-01 13:27] jberezanski commented on #366
"An unexpected error occurred on a send", "Unknown SSL protocol error" - these errors usually indicate a mismatch of SSL parameters (allowed SSL/TLS versions, enabled cipher suites etc.) between the client and the server.

According to [Qualsys SSL test](https://www.ssllabs.com/ssltest/analyze.html?d=www.lwks.com&s=52.44.210.184), lwks.com has quite strict SSL configuration - they disable all prot

[2016-11-01 13:43] gep13 commented on #366
@ferventcoder should be able to provide some input here as well.  Fairly sure he has ran into the same thing within the choco client.

[2016-11-01 14:23] majkinetor commented on #366
@jberezanski , thanks for elaborate and epic answer.

[2016-11-01 14:23] #366 closed

[2016-11-01 18:31] alexchandel commented on #203
The uninstall also fails on Windows 7 64 bit. Is there any fix for this? The uninstall prompt from the control panel is in Chinese, and doesn't appear to do anything.

[2016-11-01 20:48] majkinetor commented on #203
I currently do not have Win7 x64 to test it, but install works inside Windows Server 2012 R2:

[code]
Uninstall definitelly does nothing and that should be reported to vendor.

[2016-11-01 20:56] majkinetor commented on #203
I do think however that it is enough to

# execute `unreg.bat` from clover install dir
# delete files

[2016-11-02 09:05] NicoHaase opened #367 "flashplayerplugin: missing security update for a week"
A week ago, an update for the flash player has been released containing fixes for severe bugs, see https://helpx.adobe.com/security/products/flash-player/apsb16-36.html. It would be good to release the update through Chocolatey too

[2016-11-02 09:57] gep13 commented on #367
@NicoHaase thanks for reaching out.

Please check here:

https://chocolatey.org/packages/flashplayerplugin/23.0.0.205

Just pushed new package version.

[2016-11-02 09:57] #367 closed

[2016-11-02 16:47] ferventcoder commented on #366
Note that if you are using Chocolatey 0.10.1 or greater, it is already set appropriately.

[2016-11-02 16:49] ferventcoder commented on #366
Added more above.

[2016-11-02 16:51] ferventcoder commented on #366
Just adding for awareness that you don't need to do anything special in Chocolatey or chocolateyInstall.ps1 files to take advantage of TLS 1.2.

[2016-11-02 19:42] gep13 commented on #366
Just adding for awareness that you don't need to do anything special in Chocolatey or chocolateyInstall.ps1 files to take advantage of TLS 1.2.

The problem that @majkinetor was having was within the update.ps1 script for AU, in order to find out the latest version of a piece of software.  i.e. outside of chocolatey.

[2016-11-02 22:20] ferventcoder commented on #366
I know. I was just saying that this is not an issue in the PowerShell that Chocolatey runs, before anyone gets an ideas about messing with ServicePointManager in there.

[2016-11-03 07:41] gep13 commented on #366
Ah, I see, gotcha.

[2016-11-08 07:18] #295 closed

[2016-11-08 07:20] majkinetor commented on #278
Is about to get fixed

[2016-11-08 07:20] #278 closed

[2016-11-08 07:21] majkinetor commented on #272
I close this as non specific. About half of the packages are updated already.

[2016-11-08 07:21] #272 closed

[2016-11-08 07:22] #251 closed

[2016-11-08 07:22] #224 closed

[2016-11-08 07:23] #197 closed

[2016-11-08 07:23] #182 closed

[2016-11-08 07:24] #181 closed

[2016-11-08 07:24] #175 closed

[2016-11-08 07:25] #167 closed

[2016-11-08 07:25] #106 closed

[2016-11-08 10:32] #213 closed

[2016-11-08 10:33] majkinetor commented on #243
https://github.com/chocolatey/chocolatey-coreteampackages/pull/380

[2016-11-08 10:33] #210 closed

[2016-11-08 10:33] #205 closed

[2016-11-08 10:34] majkinetor commented on #184
Outdated package

[2016-11-08 10:34] #184 closed

[2016-11-08 10:37] gep13 commented on #159
@majkinetor why did you close this one?

[2016-11-08 10:45] majkinetor opened #382 "AU updaters block when it uses Invoke-WebRequest and Vector smash appears in the output"
`Invoke-WebRequest`  (`iwr`) is very handy so we all use it. Sometimes `Vector smash` appears in the output of the update which means IE settings aren't set to allow all cookies (this doesn't happen with `WebClient` and other tools such as `curl.exe` or `wget.exe`). When 'Vector smash' appears, `./update.ps1` that uses `iwr` in the `au_GetLatest`  displays that message but updater finishes normall

[2016-11-08 11:15] majkinetor commented on #159
I confused it with defragller. Reopning.

[2016-11-08 11:43] majkinetor commented on #382
This should change the popup appearing:

[code]

[2016-11-08 11:52] majkinetor commented on #382
I tested it in vagrant and it doesn't report `Vector smash`, however, it still doesn't show any version, so it doesn't seem to be related to that. Good thing is that we now can probably solve vector smash for `updateall` using above registry setting.

[2016-11-08 12:04] majkinetor commented on #382
Funny thing:

[code]

On vagrant it works but now popup appears.

So this seems to be complete solution:

[code]

@gep13 , @AdmiringWorm

[2016-11-08 12:07] majkinetor commented on #382
I will add this registry setting line to the AV setup.

[2016-11-08 12:45] gep13 commented on #382
@majkinetor what does that setting actually do?  Is it going to have an impact on the other update scripts?

[2016-11-08 12:48] majkinetor commented on #382
Its enbles all cookies as safe in IE:
![](http://i.stack.imgur.com/T3dnr.jpg)

[2016-11-08 12:50] majkinetor commented on #382
Its a little different in WIn 10:

![image](https://cloud.githubusercontent.com/assets/85767/20099707/450a4f6e-a5ba-11e6-8de4-6e4759f91e28.png)

[2016-11-08 18:06] majkinetor commented on #195
@gep13,  what should be done about this?

[2016-11-08 18:12] majkinetor commented on #88
Recently somebody also requested this. However, this is entirelly subjective. We need to have some infependent metric for this such as nimber of downloads and impact domain.

@gep13 , @ferventcoder

[2016-11-08 18:13] majkinetor commented on #57
https://github.com/chocolatey/chocolatey-coreteampackages/pull/380

[2016-11-08 18:20] majkinetor commented on #31
I agree with resandro here. I will.make a suggestion for core guidance so we can argue.

[2016-11-09 07:06] majkinetor commented on #382
Reopening as it still happens

[2016-11-09 07:17] #159 closed

[2016-11-10 17:46] majkinetor opened #385 "FFmpeg - Cannot find drive. A drive with the name 'https' does not exist."
https://chocolatey.org/packages/ffmpeg#comment-2995274697

[2016-11-10 17:49] majkinetor commented on #385
Can I ask you to replace the following [line](https://github.com/chocolatey/chocolatey-coreteampackages/blob/master/automatic/ffmpeg/tools/chocolateyInstall.ps1#L18):

`$fileName     = Split-Path -Leaf $url`

with

`$fileName =  $url -split '/' | select -last 1`

and see if that helps.

[2016-11-10 17:52] majkinetor commented on #237
Cygwin installs to ` Get-BinRoot` at this moment.

[2016-11-10 17:52] #237 closed

[2016-11-10 18:42] majkinetor commented on #284
https://github.com/chocolatey/chocolatey-coreteampackages/commit/147d02895af67200b7a7c1fa5ba34a8b4689da47

[2016-11-10 18:42] #284 closed

[2016-11-10 18:47] majkinetor commented on #211
f56a202dc72eb66

[2016-11-10 18:47] #211 closed

[2016-11-10 18:53] majkinetor commented on #169
c05e8a4f02

[2016-11-10 18:53] #169 closed

[2016-11-10 19:28] majkinetor commented on #158
248bfe653f

[2016-11-10 19:28] #158 closed

[2016-11-10 22:58] #385 closed

[2016-11-11 00:27] majkinetor commented on #382
I couldn't make the IE setting off with powershell.

[2016-11-11 09:59] majkinetor opened #387 "Ultradefrag fails AU update because of unreleased core module"
On checksum generation because it uses a function from unreleased core module.

`$pp = Get-PackageParameters`

[2016-11-12 21:42] #233 closed

[2016-11-13 11:50] majkinetor commented on #387
cd2569dc0

[2016-11-13 11:50] #387 closed

[2016-11-13 11:51] majkinetor commented on #201
Older versions of cygwin arent supported. Its added to the notes on package.

[2016-11-13 11:51] #201 closed

[2016-11-13 11:52] majkinetor commented on #179
Should get deprecated

[2016-11-13 13:31] AdmiringWorm commented on #179
@majkinetor no it shouldn't there is still work going on in their github repository:
https://github.com/aptana/studio3

[2016-11-13 13:32] AdmiringWorm commented on #179
I'm also almost finished converting it to AU, just got some metadata left.

[2016-11-13 15:37] WrinklyNinja opened #394 "chocolatey-uninstall.extension depends on unreleased chocolatey-core.extension v1.0"
I have a [CI build](https://ci.appveyor.com/project/WrinklyNinja/loot) that uses Chocolatey to install Inno Setup. Its package depends on the [chocolatey-uninstall.extension](https://chocolatey.org/packages/chocolatey-uninstall.extension) package, which was just updated yesterday to depend on the [chocolatey-core.extension](https://chocolatey.org/packages/chocolatey-core.extension) package (weirdl

[2016-11-13 15:43] ferventcoder commented on #394
@chocolatey/chocolateycommunitypackages folks - looks like there is a mistake in the latest version. @gep13 let's not unlist the version before deprecation before the new one is approved.

[2016-11-13 15:45] ferventcoder commented on #394
@WrinklyNinja the new deprecated version of the package has not yet been approved - the issue is the older versions have been unlisted. It looks like folks got a little ahead of themselves.

[2016-11-13 15:48] ferventcoder commented on #394
I just relisted https://chocolatey.org/packages/chocolatey-uninstall.extension/1.1.0, so everything should work again.

@majkinetor @gep13 @AdmiringWorm something you will need to unlist once the other version gets fixed and approved.

[2016-11-13 15:53] WrinklyNinja commented on #394
Yep, that seems to have fixed things, thanks for the quick resolution.

[2016-11-13 15:54] ferventcoder commented on #394
@WrinklyNinja to provide more detail - a package dependency against a version will grab that version, even when it is unlisted (soft-deleted). If it is a versionless dependency, it grabs the latest version. If all versions are unlisted, it gets the latest unlisted dependency, even one in moderation. The current version in moderation is broken and has not been published, so it was not allowed to be

[2016-11-13 15:55] ferventcoder commented on #394
Reopening because the one in moderation does need to be fixed.

[2016-11-13 19:32] #242 closed

[2016-11-13 19:32] #179 closed

[2016-11-13 19:38] majkinetor commented on #31
New guidelines include almost all here.

[2016-11-13 19:38] #31 closed

[2016-11-13 19:41] majkinetor commented on #32
I think this should be closed. Too my time has passed and those packages must be rewritten to new standards and to use AU. Its almost the same as starting from the beginning.

What do you think @ferventcoder and @gep13 .

[2016-11-13 20:06] gep13 commented on #394
@WrinklyNinja apologies for the inconvenience.  This required dependency package has been pushed, and the tests have been set to re-run on the uninstall extension, which should put it through the moderation queue.  Please let me know if you continue to have issues.

I am going to close this issue for now, but feel free to re-open if you still have an issue.

[2016-11-13 20:06] #394 closed

[2016-11-13 20:12] gep13 commented on #32
Yes, I think I agree with this.

[2016-11-13 20:12] #32 closed

[2016-11-13 21:17] majkinetor commented on #151
3e5840227760b4599e20bd2e45dcfb04f5e0cdd9

[2016-11-13 21:17] #151 closed

[2016-11-13 21:25] gep13 opened #395 "(nomacs) How should software get updated"
Perhaps switch to using Fosshub, as suggested in disqus comment:

https://chocolatey.org/packages/nomacs#comment-2997181741

[2016-11-14 06:45] majkinetor commented on #178
#396

[2016-11-14 06:45] #178 closed